.main-container {
  //padding: 5% 0%;
  .restore-container {
    width: 500px;
    padding: 5%;
    margin: 0 auto;
    .restore-input-container .restore-input-secure {
      width: 90%;
      margin: 0 auto;
    }
  }
  .restore-confirm-container {
    margin: 0 auto;
    padding: 5%;
  }
}

.circle-green {
  color: #0bb9b9;
  font-size: 15px;
}

.circle-black {
  color: #565656;
  font-size: 15px;
}

.login-alert {
  color: #fff;
  padding: 16px 24px;
  background-color: #0bb9b9;
  border: 1px solid #f2f2f2;
}

.login-icon {
  margin: 4px 4px 0 0;
}

.pointer {
  cursor: pointer;
}

.mnsgError {
  font-size: 12px;

  color: #e21d1d;
}

.btn-disabled {
  background-color: #dddddc !important;
  color: #000 !important;
}

.title {
  font-size: 32px;
  font-weight: 700 !important;
}

.btn-green {
  min-width: 100%;
}

.restore__header--title h1 {
  color: #525252;
  margin-top: 2rem;
  font-size: 28px;
}
