<div class="main-container row">
  <div class="restore-container col-lg-4 justify-content-center" *ngIf="!isCorrect && !notCorrect && !activateAccount">
    <div class="restore-header-container text-center mb-5">
      <img src="../../../../assets/logo-involve.svg" class="cursor-pointer" routerLink="/login" alt="">

      <div class="restore__header--title">
        <h1>Crea tu contraseña</h1>
      </div>
    </div>

    <!-- TITULOS -->
    <div class="restore-title-container">
      <h1 class="title mb-3">{{'login.step3.title' | translate}}</h1>
      <p class="m-0">{{'login.step3.subtitle' | translate}}</p>
    </div>

    <form [formGroup]="passwordForm">
      <!-- INPUTS -->
      <div class="restore-input-container mb-4">
        <div class="input-text-container row pt-2">
          <div class="col p-0">
            <p class="mb-0 pb-1">{{'commons.password' | translate}}</p>
          </div>
          <div class="col p-0">
            <div (click)="showPassword = !showPassword" class="input-text-favicon text-right" style="cursor: pointer;">
              <div *ngIf="showPassword">
                <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button mb-0 pb-1">{{'commons.ocultar' | translate}}</p>
              </div>
              <div *ngIf="!showPassword">
                <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button mb-0 pb-1">{{'commons.mostrar' | translate}}</p>
              </div>
          </div>
          </div>
        </div>
        <input class="form-control" [type]="showPassword ? 'text' : 'password'" formControlName="password" [ngClass]="{'is-invalid': passwordForm.get('password')?.touched && hasFormFieldError('password')}" maxlength="25">
        
        <!-- AYUDAS -->
        <p *ngIf="hasFormFieldError('password')" class="mb-1 pt-4">{{'login.step3.text1' | translate}}</p>
        <div class="restore-input-secure" *ngIf="hasFormFieldError('password')">
          <ul> 
            <li [ngClass]="{'circle-green': !hasFormFieldError('password', 'missingLower'),'circle-black': hasFormFieldError('password', 'missingLower')}">{{'login.step3.text2' | translate}}</li>
            <li [ngClass]="{'circle-green': !hasFormFieldError('password', 'missingUpper'),'circle-black': hasFormFieldError('password', 'missingUpper')}">{{'login.step3.text3' | translate}}</li>
            <li [ngClass]="{'circle-green': !hasFormFieldError('password', 'missingNumber'),'circle-black': hasFormFieldError('password', 'missingNumber')}">{{'login.step3.text4' | translate}}</li>
            <li [ngClass]="{'circle-green': !hasFormFieldError('password', 'minlength') && !hasFormFieldError('password', 'required'),'circle-black': hasFormFieldError('password', 'minlength') || hasFormFieldError('password', 'required')}">{{'login.step3.text5' | translate}}</li>
          </ul>
        </div>
  
        <div class="pt-4" *ngIf="!hasFormFieldError('password')">
        <div class="col-12 login-alert">
          <img src="../../../../assets/img/general/ckeckBlanco.svg" alt="">
          <span class="pl-2">{{'login.step3.text6' | translate}}</span> 
        </div>
  
      </div>
      </div>
  
      <!-- CONFIRMAR CONTRASEÑA -->
      <div class="restore-input-container" *ngIf="!hasFormFieldError('password')">
        <div class="input-text-container row">
          <p class="col mb-0 pb-1 pr-0 pl-0">{{'login.step5.confirm' | translate}}</p>
          <div (click)="showPasswordConfirm = !showPasswordConfirm" class="input-text-favicon col text-right p-0" style="cursor: pointer;">
              <div *ngIf="showPasswordConfirm">
                  <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button mb-0 pb-1">{{'commons.ocultar' | translate}}</p>
              </div>
              <div *ngIf="!showPasswordConfirm">
                  <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button mb-0 pb-1">{{'commons.mostrar' | translate}}</p>
              </div>
          </div>
        </div>
        <input class="form-control" [type]="showPasswordConfirm? 'text' : 'password'" formControlName="passwordConfirm" [ngClass]="{'is-invalid': passwordForm.get('passwordConfirm')?.touched && hasFormFieldError('passwordConfirm')}" maxlength="25">
        <div class="invalid-feedback" *ngIf="hasFormFieldError('passwordConfirm', 'required')">{{'login.step3.text7' | translate}}</div>
      </div>
  
      <!-- BTN NEXT -->
      <div class="buttons-container pt-4" *ngIf="!hasFormFieldError('password') && !hasFormFieldError('passwordConfirm')">
        <button type="submit" class="btn-green" (click)="createPassword()">{{'commons.continuar' | translate}}</button>
      </div>
    </form>

  </div>


  <!-- TERMS AND CONDITIONS -->
  <div class="restore-container col-lg-5 justify-content-center" *ngIf="activateAccount">
    <div class="restore-header-container text-right mb-5">
      <img src="../../../../assets/Grupo 498.svg" class="cursor-pointer" routerLink="/login" alt="">
    </div>

    <!-- TITLES -->
    <div class="restore-title-container">
      <h1 class="mb-3" style="font-size: 36px;">Aceptación</h1>
      <p>Para que puedas seguir operando en nuestra plataforma, debes aceptar la siguiente documentación.</p>
    </div>

    <div class="restore-input-container mb-4">
      <div class="input-text-container row pt-4">
        
        <!-- PRIVACY -->
        <div class="form-checkbox-container pt-4">
          <label class="switch mr-2">
            <input type="checkbox" [(ngModel)]="avisoPrivacidad">
            <span class="slider round"></span>
          </label>
          <p class="d-inline-block txtOptions">He leido y acepto el <app-modal-privacy></app-modal-privacy> </p> 
        </div>

        <!-- TERMS -->
        <div class="form-checkbox-container pt-4">
          <label class="switch mr-2">
            <input type="checkbox" [(ngModel)]="termsConditions">
            <span class="slider round"></span>
          </label>
          <p class="d-inline-block txtOptions">He leido y <app-modalterms></app-modalterms></p>
        </div>

        <!-- NOTIFICATIONS -->
        <div class="form-checkbox-container pt-4">
          <label class="switch mr-2">
            <input type="checkbox" [(ngModel)]="notifiInvitacion">
            <span class="slider round"></span>
          </label>
          <p class="d-inline-block txtOptions">Quiero recibir notificaciones, invitaciones <br> a Webinars y consejos de reclutamiento</p>
        </div>

      </div>
    </div>
    <div class="buttons-container row pt-4">
      <button class="btn-green col-lg-5" [disabled]="!(termsConditions && avisoPrivacidad)" [ngClass]="{'btn-disabled': !(termsConditions && avisoPrivacidad)}">Crear cuenta</button>
      <a class="col-lg-5 text-right" style="font-weight: 600;" routerLink="../login">Salir</a>
  </div>
  </div>

    <!-- SUCCESS -->
    <div class="restore-container col-lg-12 justify-content-center" *ngIf="isCorrect">
      <app-screen-confirm
          titulo="¡Perfecto!"
          img="../../../../assets/img/login/like.svg"
          btn="Iniciar sesión"
          msg="Tu cuenta ha sido activada, ahora puedes iniciar sessión">
      </app-screen-confirm>
  </div>

  <!-- ERROR -->
  <div class="restore-confirm-container col-lg-12 justify-content-center" *ngIf="notCorrect">
    <app-screen-confirm
        titulo="El link caducó"
        img="../../../../assets/img/login/eslabon.svg"
        btn="Iniciar sessión"
        msg="Vuelve a solicitar instrucciones para activar tu cuenta">
    </app-screen-confirm>
</div>

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>