$colors: (
  negro: #000000,
  title: #2E2E2E,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9
);

img {
  width: 100%;
}

p {
  font-weight: bold;
  margin-bottom: 0;
}

input {
  height: 48px;
}

.select[_ngcontent-vdh-c49] {
  height: 48px !important;
}