$colors: (
  negro: #000000,
  title: #2E2E2E,
  acordion-active: #676767,
  acordion-disable: #b7b6b6,
  btn-active: #0BB9B9,
  accordion-disable-span: #CFF4F4,
);

.accordion-menu {
	display: inline-block;
	max-width: 380px;
    padding: 10px 20px 20px;
	border-radius: 5px;
	position: absolute;
    top: 8%;
}
	.accordion-menu svg {
		margin-bottom: 32px;
	}

.dashed-line {
	border-left: 1px dashed map-get($colors, btn-active);
	margin-left: 24px;	
}
	/* .dashed-line:last-child {
		border-image: linear-gradient(to bottom, var(--timeline-color), transparent) 1 100%;
	}
	.dashed-line:first-child {
		border-image: linear-gradient(to top, map-get($colors, btn-active) 0% 93%, transparent 83%) 1 100%;
	} */

.circle {
	position: relative;
	height: 55px;
}
	.circle span {
		width: 10px;
		height: 10px;
		background-color: #CFF4F4;
		border-radius: 50px;
		position: absolute;
		top: 25%;
		left: -6px;
	}

	h2 {
	font-size: 22px;
	font-weight: bold;
    cursor: pointer;
    color: map-get($colors, negro );
}

.cross {
	margin-right: 15px;
	margin-top: 3px;
}


a {
	color: map-get($colors, acordion-disable);
	font-size: 18px;
	padding-left: 20px; 
	white-space: nowrap;
}
i {
	font-style: normal;
    margin-left: 20px;
}

.active a {
	color: map-get($colors, acordion-active);
}

/********** ACCORDION **********/
.card {
	border: none;
}
	.card-header {
		background-color: transparent;
		border-bottom: none;
		padding-left: 0px;
		display: flex;
	}
	.card-body {
		padding: 0;
	}