<div class="comparativa">
    <div class="comparativa__header">
        <p>Estadísticas de:</p>
        <div class="form-group">
            <select class="form-control" name="mes" id="mes">
                <option disabled selected>Seleccione Mes</option>
                <option *ngFor="let item of datosInput" value="{{item.formato}}">{{item.fecha}}</option>
            </select>
        </div>
        <div class="comparativa__btn">
            <button class="btn" (click)="clickAddTodo();">Aplicar</button>
        </div>
    </div>  
    <div class="container">
        <div *ngIf="Error != 204" class="container">
                <div class="comparativa__title">
                    <p></p>
                    <p *ngFor="let mes of month" [ngClass]="{prueba: this.monthFin.mesTitle}">
                          {{mes.mesTitle}}
                    </p> 
                </div>
    
                <!-- TOTALES -->
                <div class="comparativa__card">
                    <div class="comparativa__card--txt" *ngFor="let vacantes of vacantes">
                        <p>{{vacantes.title}}</p>
                        <img src="../../../../../assets/icons/icon-tooltip.svg" placement="right" 
                             ngbTooltip="{{vacantes.tooltip}}" 
                             tooltipClass="my-custom-class">
                        <div class="hide">
                            <p>{{vacantes.tooltip}}</p>
                        </div>
                    </div>
        
                    <div class="comparativa__card--flex" *ngFor="let vacantesValor of vacantesValor"  [ngClass]="{prueba: this.vacantesFin.mes}">
                        <p>{{ vacantesValor.mes }}</p>
                        <span *ngIf="showSpan" class="badge badge-secondary">{{ vacantesValor.span }}</span>
                        <span *ngIf="!showSpan" class="badge badge-danger">{{ vacantesValor.span }}</span>
                    </div>
                </div>
        
                <!-- CUBIERTAS -->
                <div class="comparativa__card">
                    <div class="comparativa__card--txt" *ngFor="let vacantesCubiertas of vacantesCubiertas">
                        <p>{{vacantesCubiertas.title}}</p>
                        <img src="../../../../../assets/icons/icon-tooltip.svg" placement="right" 
                             ngbTooltip="{{vacantesCubiertas.tooltip}}" 
                             tooltipClass="my-custom-class">
                        <div class="hide">
                            <p>{{vacantesCubiertas.tooltip}}</p>
                        </div>
                    </div>
        
                    <div class="comparativa__card--flex" *ngFor="let vacantesValorCubiertas of vacantesValorCubiertas" [ngClass]="{prueba: this.vacantesValorCubiertasFin.mes}">
                        <p>{{ vacantesValorCubiertas.mes }}</p>
                        <span *ngIf="!showSpan" class="badge badge-secondary">{{ vacantesValorCubiertas.span }}</span>
                        <span *ngIf="showSpan" class="badge badge-danger">{{ vacantesValorCubiertas.span }}</span>
                    </div>
                </div>
        
                <!-- TIEMPO -->
                <div class="comparativa__card">
                    <div class="comparativa__card--txt" *ngFor="let contrataciones of contrataciones">
                        <p>{{contrataciones.title}}</p>
                        <img src="../../../../../assets/icons/icon-tooltip.svg" placement="right" 
                             ngbTooltip="{{contrataciones.tooltip}}" 
                             tooltipClass="my-custom-class">
                        <div class="hide">
                            <p>{{contrataciones.tooltip}}</p>
                        </div>
                    </div>
        
                    <div class="comparativa__card--flex"  *ngFor="let cardContrataciones of cardContrataciones" [ngClass]="{prueba: this.cardContratacionesFin.mes}">
                        <p>{{ cardContrataciones.mes }}</p>
                        <span *ngIf="showSpan" class="badge badge-secondary">{{ cardContrataciones.span }}</span>
                        <span *ngIf="!showSpan" class="badge badge-danger">{{ cardContrataciones.span }}</span>
                    </div>
                </div>
        
                <!-- EFICIENCIA -->
                <div class="comparativa__card">
                    <div class="comparativa__card--txt" *ngFor="let eficiencia of eficiencia">
                        <p>{{eficiencia.title}}</p>
                        <img src="../../../../../assets/icons/icon-tooltip.svg" placement="right" 
                             ngbTooltip="{{eficiencia.tooltip}}" 
                             tooltipClass="my-custom-class">
                        <div class="hide">
                            <p>{{eficiencia.tooltip}}</p>
                        </div>
                    </div>
        
                    <div class="comparativa__card--flex" *ngFor="let cardEficiencia of cardEficiencia"  [ngClass]="{prueba: this.cardEficienciaFin.mes}">
                        <p>{{ cardEficiencia.mes }}</p>
                        <span *ngIf="!showSpan" class="badge badge-secondary">{{ cardEficiencia.span }}</span>
                        <span *ngIf="showSpan" class="badge badge-danger">{{ cardEficiencia.span }}</span>
                    </div>
                </div>
        
                <!-- FONFO -->
                <div class="comparativa__fondo"></div>
        </div>
    
    </div>
    <div *ngIf="Error == 204" class=" row fontError">
                <div class="col-md-4"></div>
                <div class="col-md-4 imgError">
                    <img src="/assets/icons/Grupo 3258.svg">
                    <p class="textError">¡Aún no hay datos suficientes! Sigue reclutando para ver tu información.</p>
                </div>
                <div class="col-md-4"></div>
    </div>

</div>