@import '../../../../../assets/scss/_variables';

p, h2 {
    margin: 0;
}

.comparativa{
    background-color: map-get($colors, BGF200);
    height: 100vh;
    position: relative;
    overflow: hidden;
    &__header {
        padding: $MSMD;
        display: flex;
        background-color: map-get($colors, CTS050);
        z-index: 2;
        & p {
            margin-top: $MSSM;
            font-size: $FS16;
            font-weight: normal;
            color: map-get($colors, CTS600);
        }
        & .form-group {
            width: 350px;
            margin: 0 $MSMD;
        }
        & button {
            width: 150px;
            height: 35px;
            color: map-get($colors, CTS050);
            font-weight: bold;
            border-radius: 50px;
            background-color: map-get($colors, CPP500);
            &:hover {
                background-color: map-get($colors, CPP800);
            }
        }
    }
    &__title {
        margin-top: $MSXBIG;
        display: flex;
        z-index: 2;
        & p {
            margin: 0px 10px 0px 15px;
            width: 222px;
            text-align: center;
            font-size: $FS16;
            font-weight: 600;
            color: map-get($colors, CTS400);
        }
    }
    &__card {
        margin: $MSMD 0;
        display: flex;
        z-index: 2;
        &--txt {
            width: 250px;
            display: flex;
            position: relative;
            align-items: center;
            p {
            font-size: $FS16;
            font-weight: 600;
            color: map-get($colors, CTS400);
            }
            & img {
                width: 15px;
                height: 18px;
                margin-left: $MSSM;
                &:hover + .hide {
                    position: absolute;
                    top: -80px;
                    left: 0%;
                    width: 300px;
                    padding: $MSMD;
                    text-align: center;
                    border-radius: 6px;
                    background-color: map-get($colors, CTS600);
                    display: block;
                    z-index: 10;
                    animation-name: FadeIn;
                    animation-duration: 1s;
                    transition-timing-function: linear;
                }
            }
        }
        & .hide {
            display: none;
            & p {
                font-size: $FS14;
                font-weight: normal;
                color: map-get($colors, CTS050);
            }
        }
        &--flex {
            margin: 0 $MSSM;
            height: 80px;
            width: 206px;
            position: relative;
            display: flex;
            border-radius: 6px;
            background-color: map-get($colors, CTS050);
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 16%);
            & p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $FS32;
                font-weight: bold;
                color: map-get($colors, CTS400);
            }
            & .badge {
                position: absolute;
                top: 40%;
                left: 75%;
                transform: translate(-50%, -50%);
            }
            & .badge-secondary {
                background-color: rgba($color: #24AA3D, $alpha: 20%);
                color: map-get($colors, CSE100);
            }
            & .badge-danger {
                background-color: rgba($color: #E21D1D, $alpha: 20%);
                color: map-get($colors, CSE200);
            }
        }
    }
    &__fondo {
        position: absolute;
        top: 155px;
        right: 130px;
        height: 60vh;
        width: 222px;
        border-radius: 6px;
        background-color: map-get($colors , BGF300);
        z-index: -1;
    }
}

// .tooltImg{
//     padding: 0px 0px 5px 5px;
// }

.fontError{
    background-color: #F6F6F6;
    text-align: -webkit-center;
}
.imgError{
    padding-top: 10%; 
    padding-bottom: 15%;
    width: 25%;
}
.textError{
    padding-top: 5px;
    color: #CBCBCB;
    font-size: 20px;
    width: 60%;
}
.prueba:last-child{
    background-color: #EAEAEA;
    /* padding: 5px 5px 0px 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }