.contenedor {
  background: var(--f100) 0% 0% no-repeat padding-box;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 80%;
  transition: all 0.3s;
}

.contenedorVacantes {
  background: var(--f100) 0% 0% no-repeat padding-box;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 80%;
  transition: all 0.3s;
}

.texto {
  display: flex;
  font-size: 15px;
  color: #ababab;
}

.color {
  background: var(--f100) 0% 0% no-repeat padding-box;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.crearVacante {
  width: 9%;
  background: #24aa3d;
}

.margen {
  margin-top: 60%;
}
