.main-container {
  .forgot-info-container {
    padding: 5%;
    margin: 0 auto;
  }
}

.titulo {
  font-size: 32px !important;

  font-weight: 700;
}

.info-form-inpput {
  input {
    color: #000;
  }
}
.subtitulo {
  font-size: 15px;
  color: #565656;
  font-weight: 500;
}

.placeHolder {
  color: #9b9b9b;
  font-size: 15px;
}

.btn-green {
  min-width: 100%;
}

.btnDisable {
  background-color: #f8f8f8;
  border: solid 1px #eaeaea;
  color: #979797;
}
