<app-main-navbar [mainNavData]="mainNavData">
    <app-notifications-and-photo [showOld]="true" [showContentSearch]="false">
    </app-notifications-and-photo>
</app-main-navbar>
<form [formGroup]=" formularioDatosPersonales">
    <div class="main-container row">
        <div class="forgot-info-container col-lg-5 col-offset-lg-1 justify-content-center">
            <div *ngIf="!recruiter" class="forgot-info-header text-right mb-5">
                <img src="assets/Grupo 498.svg" alt="">
            </div>

            <!-- LOGO -->
            <div class="logo text-center mb-4">
                <img src="../../../../assets/logo-involve.svg" alt="">
            </div>

            <!-- <app-progress-bar *ngIf="!recruiter" [widthValor1]="'25%'" [widthValor2]="widthValor2" [typeProgressBar]="'dos'"></app-progress-bar> -->
            <app-progress-bar *ngIf="!recruiter" [widthValor1]="'25%'" [widthValor2]="widthValor2"
                [typeProgressBar]="'dos'"></app-progress-bar>

            <div class="w-95 mb-4">
                <h3 class="titulo mt-4 text-center">{{'login.step4.title' | translate}}</h3>
            </div>

            <div class="forgot-info-form mb-4">
                <div class="info-form-inpput">
                    <p class="mb-1 subtitulo">{{'login.step4.name' | translate}}</p>
                    <input type="text" class="form-control" formControlName="nombre" text-trim maxlength="99"
                        (focusout)="validateName()">
                        <small
                        *ngIf="formularioDatosPersonales.controls.nombre.errors?.required && formularioDatosPersonales.controls.nombre.touched"
                        class="text-danger">{{'commons.requerido' | translate}}</small>
                        <small
                        *ngIf="formularioDatosPersonales.controls.nombre.errors?.pattern && formularioDatosPersonales.controls.nombre.touched"
                        class="text-danger">Usa sólo letras</small>
                    <div class="invalid-feedback">
                        {{respuesta}}
                    </div>
                </div>
            </div>
            <div class="forgot-info-form mb-4">
                <div class="info-form-inpput">
                    <p class="mb-1 subtitulo">{{'login.step4.lasName' | translate}}</p>
                    <input type="text" class="form-control placeHolder" formControlName="apellidoPaterno" text-trim maxlength="99"
                        (focusout)="validateLasName()">
                    <small
                        *ngIf="formularioDatosPersonales.controls.apellidoPaterno.errors?.required && formularioDatosPersonales.controls.apellidoPaterno.touched"
                        class="text-danger">{{'commons.requerido' | translate}}</small>
                    <small
                        *ngIf="formularioDatosPersonales.controls.apellidoPaterno.errors?.pattern && formularioDatosPersonales.controls.apellidoPaterno.touched"
                        class="text-danger">Usa sólo letras</small>
                    <div class="invalid-feedback">
                        {{respuesta}}
                    </div>
                </div>
            </div>
            <div class="forgot-info-form mb-4">
                <div class="info-form-inpput">
                    <p class="mb-1 subtitulo">{{'login.step4.secondName' | translate}}</p>
                    <input text-trim type="text" class="form-control placeHolder" formControlName="apellidoMaterno" maxlength="99"
                        (focusout)="validateSecondLastName()">
                        <small
                        *ngIf="formularioDatosPersonales.controls.apellidoMaterno.errors?.required && formularioDatosPersonales.controls.apellidoMaterno.touched"
                        class="text-danger">{{'commons.requerido' | translate}}</small>
                        <small
                        *ngIf="formularioDatosPersonales.controls.apellidoMaterno.errors?.pattern && formularioDatosPersonales.controls.apellidoMaterno.touched"
                        class="text-danger">Usa sólo letras</small>
                    <div class="invalid-feedback">
                        {{respuesta}}
                    </div>
                </div>
            </div>
            <div class="buttons-container text-center">
                <button class="btn-green mt-4 Continuar" [disabled]="formularioDatosPersonales.invalid"
                    [ngClass]="{btnDisable:formularioDatosPersonales.invalid}"
                    (click)="onClickSubmit();">{{'commons.continuar' | translate}}</button>
            </div>
        </div>
    </div>
</form>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>