<div class="card text-center border-top">
    <div class=" text-left card-body paddingCard shadow-sm" style="height:34em;overflow-y: overlay;">
        <div class="">
            <h5 class="titleEducation text-left mt4 mb-5">
                Experiencia Laboral
            </h5>
        </div>
        <div *ngFor="let work of workExp">
            <div class="row time-line">
                <div class="time-line-years col-md-4 text-left">
                    <p>{{work.dateEntry}} <b>-{{work.dateDeparture}}</b></p>
                </div>

                <div class="time-line-description col-md-8 col-lg-6 pr-2 text-left">

                    <ul>
                        <li class="time-line-description-title"><strong> {{
                                work.position.position }} {{
                                work.positionType.spanishName }} </strong></li>
                        <li class="time-line-description-level">{{ work.company }}</li>
                        <li class="time-line-description-institute">{{ work.timeWork }}</li>
                    </ul>
                    <ng-container *ngIf="work.functions">
                        <h6 class="mb-2">Funciones</h6>
                        <ul class="col-md-10 mb-2">
                            <li>{{work.functions}}</li>
                        </ul>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="row">
            <h5 class="titleEducation text-left mt4 mb-5 col-md-4">
                Áreas laborales
            </h5>
            <div class="col-md-8">
                <ul class="col-md-11">
                    <li class="col-md-10 small-text" *ngFor="let area of areasExp">
                        {{area.candidateAreaSpecialty}}, {{area.candidateYearsExperience}} años<br>
                        <div class="col-md-10 list-container backGray">
                            <span *ngIf="area.vacantYearsExperience <= area.candidateYearsExperience">
                                <img src="../../../../assets/icons/progress-on.svg " width="12">
                                <b><i>Experiencia requerida: {{area.vacantYearsExperience}} años</i></b></span>
                            <span *ngIf="area.vacantYearsExperience > area.candidateYearsExperience">
                                <img src="../../../../assets/icons/Trazado-4098.svg " width="12">
                                <b><i>Experiencia requerida: {{area.vacantYearsExperience}} años</i></b></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br><br>
        <div class="row">
            <h5 class="titleEducation text-left mt4 mb-5 col-md-4">
                Especialidades
            </h5>
            <div class="col-md-8">
                <ul class="col-md-11">
                    <li class="col-md-10 small-text" *ngFor="let specialtie of specialtiesExp">
                        {{specialtie.candidateAreaSpecialty}}, {{specialtie.candidateYearsExperience}} años<br>
                        <div class="col-md-10 list-container backGray">
                            <span *ngIf="specialtie.vacantYearsExperience <= specialtie.candidateYearsExperience"><img
                                    src="../../../../assets/icons/progress-on.svg" width="12"> <b><i>Experiencia
                                        requerida: {{specialtie.vacantYearsExperience}} años</i></b></span>
                            <span *ngIf="specialtie.vacantYearsExperience > specialtie.candidateYearsExperience"><img
                                    src="../../../../assets/icons/Trazado-4098.svg " width="12"> <b><i>Experiencia
                                        requerida: {{specialtie.vacantYearsExperience}} años</i></b></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h5 class="titleEducation text-left mt4 mb-5 col-md-4">
                Cuestionario
            </h5>
            <div class="col-md-8">
                <div class="col-md-12 backGray" *ngFor="let question of questionnaire">
                    <span style="font-size: 15px;">P: ¿{{question.question.question}}?</span><br>
                    <span *ngIf="question.question.typeQuestion == 'ABIERTA'">R: {{question.openAnswer}}</span>
                    <span *ngIf="question.question.typeQuestion == 'EXPERIENCIA'">R:
                        {{question.question.yearsExperience}}</span><br><br>
                    <span *ngIf="question.yearsExperienceAnswer <= question.question.yearsExperience">
                        <img src="../../../../assets/icons/progress-on.svg" class="trazado">
                    </span>
                    <span *ngIf="question.yearsExperienceAnswer > question.question.yearsExperience">
                        <img src="../../../../assets/icons/Trazado-4098.svg " class="trazado">
                    </span>
                    <span *ngIf="question.question.typeQuestion == 'EXPERIENCIA'">
                        <b>Respuesta de preferencia: {{question.yearsExperienceAnswer}} </b>
                    </span>
                    <span *ngIf="question.question.typeQuestion == 'ABIERTA'">
                        <b>Respuesta de preferencia: {{question.openAnswer}} </b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <h2 *ngIf="workExperienceData.length" class="title text-left mb-3">
    Experiencia Laboral
</h2>

<div *ngFor="let work of workExperienceData" class="row time-line">
    <div class="time-line-years col-md-4 text-left">
        <p>{{work.dateEntry | date: 'YYYY'}} - {{work.dateDeparture | date: 'YYYY'}}</p>
    </div>
    <div class="time-line-description col-md-8 col-lg-6 pr-2 text-left">

        <ul>
            <li class="time-line-description-title"> {{ work.position.position }} {{
                work.positionType.spanishName }} </li>
            <li class="time-line-description-level">{{ work.company }} </li>
            <li class="time-line-description-institute">{{ work.timeWork }} </li>
        </ul>

        <ng-container *ngIf="work.functions">
            <h6 class="mb-2">Funciones</h6>
            <ul class="col-md-10 mb-2">
                <li>{{work.functions}}</li>
            </ul>
        </ng-container>

    </div>
</div>

<ng-container *ngIf="setProcessSelection === 'talent'">
    <h2 *ngIf="workExperienceTalentData.length > 0" class="title text-left mb-3">
        Experiencia Laboral
    </h2>
    <div *ngFor="let work of workExperienceTalentData" class="row time-line">
        <div class="time-line-years col-md-4 text-left">
            <p>{{work.dateEntry | date: 'YYYY'}} - {{work.dateDeparture | date: 'YYYY'}}</p>
        </div>
        <div class="time-line-description col-md-8 col-lg-6 pr-2 text-left">

            <ul>
                <li class="time-line-description-title"> {{ work.position.position }} {{
                    work.positionType.spanishName }} </li>
                <li class="time-line-description-level">{{ work.company }} </li>
                <li class="time-line-description-institute">{{ work.timeWork }} </li>
            </ul>

            <ng-container *ngIf="work.functions">
                <h6 class="mb-2">Funciones</h6>
                <ul class="col-md-10 mb-2">
                    <li>{{work.functions}}</li>
                </ul>
            </ng-container>

        </div>
    </div>
</ng-container>


<h2 *ngIf="areasData" class="title text-left mb-3">
    Áreas laborales
</h2>
<div class="row mt-4 d-flex justify-content-end">
    <ng-container *ngIf="areasData">
        <ul class="col-md-8">
            <li *ngFor="let area of areasData">
                {{area.area.spanishName}} <span *ngIf="area.area.candidateYearsExperience">,
                    {{area.area.candidateYearsExperience}} años</span><br>
            </li>
        </ul>
    </ng-container>
    <div *ngIf="vacantData" class="col-md-8 list-container backGray">
        <p>{{vacantData?.name}}</p>
        <ng-container *ngIf="vacantData.areasVacant[0].yearExperience <= vacantData.candidateYearsExperience">
            <img src="assets/icons/progress-on.svg " width="10" />
            <span class="font-semibold">
                Experiencia requerida: {{vacantData?.areasVacant[0].yearExperience}} años</span>
        </ng-container>
        <ng-container *ngIf="vacantData.areasVacant[0].yearExperience > vacantData.candidateYearsExperience">
            <img src="assets/icons/Trazado-4098.svg " width="10" />
            <span class="font-semibold">
                Experiencia requerida: {{vacantData.areasVacant[0].yearExperience}} años</span>
        </ng-container>
    </div>
</div> -->

<!-- <div class="row">
    <h5 *ngIf="workExperienceData.length > 0" class="titleEducation text-left mt4 mb-5 col-md-3">
        Especialidades
    </h5>
    <div class="col-md-9">
        <ul class="col-md-11">
            <li class="col-md-10 small-text" *ngFor="let specialtie of specialtiesExp">
                {{specialtie.candidateAreaSpecialty}}, {{specialtie.candidateYearsExperience}} años<br>
                <div class="col-md-10 list-container backGray">
                    <span *ngIf="specialtie.vacantYearsExperience <= specialtie.candidateYearsExperience"><img
                            src="assets/icons/progress-on.svg" class="col-2"> <b><i>Experiencia
                                requerida: {{specialtie.vacantYearsExperience}} años</i></b></span>
                    <span *ngIf="specialtie.vacantYearsExperience > specialtie.candidateYearsExperience"><img
                            src="assets/icons/Trazado-4098.svg " class="col-2">
                        <b><i>Experiencia
                                requerida: {{specialtie.vacantYearsExperience}} años</i></b></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <h5 *ngIf="workExperienceData.length > 0" class="titleEducation text-left mt4 mb-5 col-md-3">
        Cuestionario
    </h5>
    <div class="col-md-9">
        <div class="col-md-12 backGray" *ngFor="let question of questionnaire">
            <span style="font-size: 15px;">P: ¿{{question.question.question}}?</span><br>
            <span *ngIf="question.question.typeQuestion == 'ABIERTA'">R: {{question.openAnswer}}</span>
            <span *ngIf="question.question.typeQuestion == 'EXPERIENCIA'">R:
                {{question.question.yearsExperience}}</span><br><br>
            <span *ngIf="question.yearsExperienceAnswer <= question.question.yearsExperience">
                <img src="assets/icons/progress-on.svg" class="trazado">
            </span>
            <span *ngIf="question.yearsExperienceAnswer > question.question.yearsExperience">
                <img src="assets/icons/Trazado-4098.svg " class="trazado">
            </span>
            <span *ngIf="question.question.typeQuestion == 'EXPERIENCIA'">
                <b>Respuesta de preferencia: {{question.yearsExperienceAnswer}} </b>
            </span>
            <span *ngIf="question.question.typeQuestion == 'ABIERTA'">
                <b>Respuesta de preferencia: {{question.openAnswer}} </b>
            </span>
        </div>
    </div>
</div> -->