<div class="luscher">
    <div class="row">
        <div class="col">
            <div class="luscher__title"><h2>Resultados Lüscher</h2></div>
        </div>

        <!-- CONTENIDO -->
        <div class="row">
            <div class="luscher__contenido flex-column">
                <div class="col-12 row mb-3 px-0">
                    <div class="col-1">
                        <div class="luscher__contenido--square">
                            <p>1</p>
                            <div class="square-green"></div>
                        </div>
        
                        <div class="luscher__contenido--square">
                            <p>2</p>
                            <div class="square-yellow"></div>
                        </div>
        
                        <div class="luscher__contenido--square">
                            <p>3</p>
                            <div class="square-dark-red"></div>
                        </div>
        
                        <div class="luscher__contenido--square">
                            <p>4</p>
                            <div class="square-blue"></div>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="luscher__contenido--title">
                            <h2>Objetivo deseado</h2>
                        </div>
                        <div class="luscher__contenido--description">
                            <p>{{data?.current}}.</p>
                        </div>    
                    </div>
                </div>
                <div class="col-12 row px-0">
                    <div class="col-1">
                        <div class="luscher__contenido--square">
                            <p>5</p>
                            <div class="square-pink"></div>
                        </div>
        
                        <div class="luscher__contenido--square">
                            <p>6</p>
                            <div class="square-red"></div>
                        </div>
        
                        <div class="luscher__contenido--square">
                            <p>7</p>
                            <div class="square-grey"></div>
                        </div>
        
                        <div class="luscher__contenido--square">
                            <p>8</p>
                            <div class="square-black"></div>
                        </div>

                    </div>
                    <div class="col-11">
                        <div class="luscher__contenido--footer">
                            <div class="luscher__contenido--title">
                                <h2>Situación actual</h2>
                            </div>
                            <div class="luscher__contenido--description">
                                <p>{{data?.desired}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>