@import '../../../../../../assets/scss/_variables';

p, h2 {
    margin: 0;
    padding: 0;
}


.luscher {
    padding: $MSLG;
    &__title {
        & h2 {
            text-align: left;
            color: map-get($colors, CTS400);
            font-weight: 700;
            font-size: $FS24;
        }
    }
    &__contenido {
        margin-top: $MSLG;
        margin-left: $MSMD;
        &--square {
            margin-bottom: $MSXSM;
            margin: 4px 0px 4px -15px;
            display: flex;
            & .square-green {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px 10px;
                background-color: #0BB968;
                border-radius: 4px;
            }
            & .square-yellow {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px $MSSM;
                background-color: #FFCA1E;
                border-radius: 4px;
            }
            & .square-dark-red {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px $MSSM;
                background-color: #CC4B00;
                border-radius: 4px;
            }
            & .square-blue {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px $MSSM;
                background-color: #1E87FF;
                border-radius: 4px;
            }
            & .square-pink {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px $MSSM;
                background-color: #EE00A8;
                border-radius: 4px;
            }
            & .square-red {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px $MSSM;
                background-color: #FF1E1E;
                border-radius: 4px;
            }
            & .square-grey {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px 9px;
                background-color: #CBCBCB;
                border-radius: 4px;
            }
            & .square-black {
                width: 24px;
                height: 24px;
                margin: 0px 0px 8px $MSSM;
                background-color: #000000;
                border-radius: 4px;
            }
        }
        & p {
            color: map-get($colors, &CTS700);
            font-weight: bold;
            font-size: $FS14;
        }
        &--title {
            text-align: left;
            & h2 {
                font-size: 24px;
                
                font-weight: 600;
                color: #525252;
            }
        }
        &--description {
            margin:8px 0px 12px 0px;
            text-align: left;
            p {
                font-size: 16px;
                font-weight: normal;
                color: map-get($colors, CTS700);
            }
        }
        &--footer {
            
            bottom: 0;
        }
        
    }
}

@media (max-width: 1024px) {
    .luscher {
        &__contenido {
            &--title {
                margin-left: 0px;
                
            }
            &--description {
                margin-left: 0px;
            }    
        }
    }
  }