<ng-template #modalGuardarPregunta let-modal>
  <form [formGroup]="formularioGuardarPreguntas">
    <div id="modalPreguntas" class="text-right px-3 py-1">
      <img class="cursor-pointer" src="../../../../assets/img/general/xNegrita.svg" alt="..." (click)="modal.dismiss('Close click');">
    </div>
    <div class="modal-body text-center">
      <input formControlName="inputPregunta" 
        style="border: 0;" 
        type="text" 
        id="guardarPregunta"
        class="inputQuestion"
        placeholder="{{'vacantes.crearvacante.paso3.escriba' | translate}}">
    </div>
    <div class="text-right mb-4">
      <button class="badge badge-pill  p-2 mr-3  "
        (click)="modal.close('Close click'); getPregunta();" [ngClass] = "formularioGuardarPreguntas.invalid ? 'btnContinuarDisabled' : 'btnContinuar'"   [disabled]="formularioGuardarPreguntas.invalid">Guardar</button>
    </div>
  </form>
</ng-template>
<button type="button" class="btn btn btn-circle-success btn-circle mr-3" (click)="openLg(modalGuardarPregunta);" [disabled]="isDisabled"><i class="fas fa-plus plus"></i></button>