@import '../../../../../assets/scss/variables';

.btn-circle {
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  box-sizing: border-box;
  &:focus{
    box-shadow: none;
  }
}

.btnContinuarDisabled {
  width: 8em;
  height: 2.5em;
  border: solid 1px #E1E1E1;
  background-color: #F6F6F6;
}

.btnContinuar {
  width: 8em;
  height: 2.5em;
  border: solid 1px $P500;
  background-color: $P500;
  color: #F2F2F2;
}

.modales {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.btn-circle-success {
  background-color: $P500;
  color: #F2F2F2;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  box-sizing: border-box;
}

.btn-circle-success:hover{
  background-color: $P600;
}

.border {
  border: 0 !important;
}

.plus {
  font-size: 11px;
}

.inputQuestion {
  border: 0 !important;
  &:hover{
    border: 0 !important;
  }

}
