<div class="row">
  <div class="col-md-3 col-lg-3 pb-3 text-center">
    Certificaciones
  </div>
  <div class="col-md-6 col-lg-6 pb-3">
    <div *ngFor="let certification of certificationsData" class="">
      <div class="d-bloque">
        <div class="circulo"></div>
        <p><strong>{{ certification.name }}</strong></p>
      </div>
      <p> {{certification.institute}}</p>
      <p> Expedición: {{certification.dateExpedition}}</p>
      <p> ID de la credencial: {{certification.credentialId}}</p>
    </div>
  </div>
</div>