<div class="cleaver">

  <!-- TITLE -->
  <div class="cleaver__txt">
    <h2 class="style-txt-semibold-24 titleCleaver">Resultados Cleaver</h2>
    <button *ngIf="show" class="btn ipv__txt--solid repo" (click)=" show = !show">Ver interpretación</button>
      <button *ngIf="!show"class="btn ipv__txt--solid graph" (click)=" show = !show">Ver gráfica</button>
  </div>

  <div class="row tablas" *ngIf="show">
    
    <!-- CLEAVER -->
    <div class="col col-lg-3">
      <div class="cleaver__iniciador">
        <p>PUESTO</p>
        <h2>Iniciador</h2>
        <canvas #myCanvas class ="mycanvas"  baseChart
                height="400px"
                [datasets]="lineChartDataInitiator"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>

    <!-- NORMAL -->
    <div class="col col-lg-3">
      <div class="cleaver__iniciador">
        <p>CONDUCTA</p>
        <h2>Normal</h2>
        <canvas #myCanvas class ="mycanvas"  baseChart
                height="400px"
                [datasets]="lineChartDataNormal"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColorsNorm"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>

    <!-- MOTIVACION -->
    <div class="col col-lg-3">
      <div class="cleaver__iniciador">
        <p>CONDUCTA</p>
        <h2>Motivación</h2>
        <canvas #myCanvas class ="mycanvas"  baseChart
                height="400px"
                [datasets]="lineChartDataMotivation"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColorsMotivation"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>

    <!-- PRESION -->
    <div class="col col-lg-3">
      <div class="cleaver__iniciador">
        <p>CONDUCTA</p>
        <h2 >Bajo presión</h2>
        <canvas #myCanvas class ="mycanvas" baseChart
                height="400px"
                [datasets]="lineChartDataUnderPressure"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColorsPressure"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>

  </div>
  <div class="row " *ngIf="!show">
    <div *ngFor="let int of interpretaciones">
      <div class="clever__reporte--card">
        <div class="py-2 first-card" *ngIf="int.orden=== 1">
          <h4 class ="ml-3 first-title-clever">{{int.titulo}}</h4>
          <h2 class ="ml-3 first-tipo-clever">{{int.tipo}}</h2>
          <h3 class ="ml-3 first-combinacion">{{int.combinacion}}</h3>
          <p class="interpretation position-interpretation">{{int.interpretacion}}</p>
        </div>
        <div class="py-2 cards" *ngIf="int.orden!== 1 ">
          <h2 class ="ml-3 title-clever">{{int.titulo}}</h2>
          <p class="ml-3 interpretation">{{int.interpretacion}}</p>
        </div>

      </div>

    </div>
        

  </div>
</div>