@import '../../../../../../assets/scss/_variables';

p, h2 {
    margin: 0;
    padding: 0;
}
.tablas{
    height: auto;
}

.mycanvas{
    margin: 40px 0px 0px 0px;
}
.cleaver {
    padding: $MSMD;
    &__txt {
        margin-bottom: $MSMD;
        & h2 {
            text-align: left;
            color: map-get($colors, CTS400);
            font-size: $FS24;
            font-weight: 600;
        }
    }
    &__iniciador {
        padding: $MSMD;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 16%);
        border-radius: 4px;
        height: auto;
        text-align: left;
        & p {
            font-size: $FS12;
            font-weight: bold;
            color: map-get($colors, CTS100);
        }
        & h2 {
            margin-bottom: $MSMD;
            position: absolute;
            font-size: $FS24;
            font-weight: bold;
            color: map-get($colors, CTS400);
        }
    }
    &__footer {
        text-align: left;
        margin-top: $MSMD;
        & p {
            font-size: $FS16;
            color: map-get($colors, CTS700);
        }
    }
}
.first-card {
    margin-top: -70px;
    height: auto;
    width: 45rem;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 16%);
    border-left-style: solid !important;
    border-radius: 2%;
    border-left-width: 8px !important;
    border-color: $P500;
}
.cards {
    margin-top: -255px;
    height: auto;
    width: 45rem;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 16%);
    border-left-style: solid !important;
    border-radius: 2%;
    border-left-width: 8px !important;
    border-color: $S100;
}
.first-title-clever{
    color: $S200;
    text-align: left;
    font-size: 12px;
    font-family: "GilroyBold";


}
.first-tipo-clever{
    color: $S400;
    text-align: left;
    font-size: 24px;
    font-family: "GilroyBold";

}
.first-combinacion{
    margin-top: 2%;
    color: #000000;
    text-align: left;
    font-size: 16px;
    font-family: "GilroyBold";
}
.position-interpretation{
    margin: -3% 0% 0% 7%;
}
.clever__reporte--card {
    margin: 15% 0% 25% 3%;
    height: 85% !important;
    
}
.title-clever{
    color: $S400;
    text-align: left;
    font-size: 12px;
    font-family: "GilroyBold";
}
.interpretation{
    color: #000000;
    text-align: left;
    font-size: 12px;
    font-family: "GilroyRegular";
}
.graph {
    right: 30px;
    bottom: 85%;
    background: #0bb9b9;
    color: #ffffff;
    position: absolute;
}
.repo {
    right: 30px;
    bottom: 75%;
    background: #0bb9b9;
    color: #ffffff;
    position: absolute;
}
button:hover {
    background: #088d8d;
}
