<div class="estadisticas">
    
    <div class="estadisticas__date">
        <!-- <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/aaaa">
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/aaaa"> -->
            <form class="form-inline">
            <p>Estadísticas de:</p>
            <div class="form-group hidden">
              <div class="input-group">
                <input name="datepicker"
                       class="form-control"
                       ngbDatepicker
                       #datepicker="ngbDatepicker"
                       [autoClose]="'outside'"
                       (dateSelect)="onDateSelection($event)"
                       [displayMonths]="2"
                       [dayTemplate]="t"
                       outsideDays="hidden"
                       [startDate]="fromDate!"
                       [maxDate]="{year: this.year, month: this.month, day: this.day}"
                       tabindex="-1"
                       [footerTemplate]="footerTemplate"
                       >
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input #dpFromDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpFromDate"
                       id="dpFromDate"
                       [value]="formatter.format(fromDate)"
                       (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                       (click)="datepicker.toggle()">
                    </div>
            </div>
            <div class="form-group ml-2">
                <div class="input-group">
                    <input #dpToDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpToDate"
                       id="dpToDate"
                       [value]="formatter.format(toDate)"
                       (input)="toDate = validateInput(toDate, dpToDate.value)"
                       (click)="datepicker.toggle()"
                       >
                </div>
            </div>
          </form>
          <ng-template #footerTemplate>
            <hr class="my-0">
            <button class="btn btn-secondary btn-sm m-2 float-right vInv" (click)="consultaResumen()" >Aplicar</button>
            <button class="btn btn-light btn-sm m-2 float-right clear" (click)="limpiaMeses()">Limpiar</button>
            <!-- <button class="btn btn-primary btn-sm m-2 float-right" (click)="limpiaMeses()">Limpiar</button> -->
          </ng-template>
    </div>


    <!-- CARD TOP -->
    <div class="container">
        <div *ngIf="Error != 204">
            <div class="row">
                <div class="estadisticas__card" *ngFor="let card of resumen">
    
                    <div class="estadisticas__card--title">
                        <p> {{ card.title }}
                            <img class="tooltImg" src="../../../../../assets/icons/icon-tooltip.svg" 
                                placement="right" 
                                ngbTooltip="{{card.tooltip}}" 
                                tooltipClass="my-custom-class">
                        </p>
                        <div class="hide">
                            <p>{{ card.tooltip }}</p>
                        </div>
                    </div>
                    <h2>{{ card.number }}</h2> 
            
                </div>
            </div>
    
            <!-- CARD -->
            <div class="row">
                <!-- VACANTES / CANDIDATOS-->
                <div *ngFor="let card of resumen">
                    <div class="estadisticas__card" *ngIf="card.id != 3">
                        <div class="estadisticas__card--title" *ngIf="card.id != 3">
                            <p>{{ card.titleInfo }}</p>
                        </div>
                        
                        <div *ngIf="card.id != 3">
                            <div class="estadisticas__card--row">
                                <p>{{ card.description1 }}</p>
                                <p><b>{{ card.number1 }}</b></p>
                            </div>
                            <div class="estadisticas__card--row">
                                <p>{{ card.description2 }}</p>
                                <p><b>{{ card.number2 }}</b></p>
                            </div>
                            <div class="estadisticas__card--row">
                                <p>{{ card.description3 }}</p>
                                <p><b>{{ card.number3 }}</b></p>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="estadisticas__card">
                        <div class="estadisticas__card--title" *ngFor="let p of resumenPrueba">
                            <!-- <p>{{ p.title }}</p> -->
                            <div class="estadisticas__card--title">
                                <p> {{ p.titleInfo }}
                                    <img class="tooltImg" src="../../../../../assets/icons/icon-tooltip.svg" 
                                        placement="right" 
                                        ngbTooltip="{{p.tooltipInfo}}" 
                                        tooltipClass="my-custom-class">
                                </p>
                                <!-- <div class="hide">
                                    <p>{{ card.tooltip }}</p>
                                </div> -->
                            </div>
                        </div>
                        <canvas id="canvas"  width="170"></canvas>
                        <div class="donut-inner" *ngFor="let p of resumenPrueba">
                            <h5>{{ p.valorGrafica }}%</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="Error == 204" class=" row fontError">
        <div class="col-md-4"></div>
        <div class="col-md-4 imgError">
            <img src="/assets/icons/Grupo 3258.svg">
            <p class="textError">¡Aún no hay datos suficientes! Sigue reclutando para ver tu información.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    
</div>