@import '../../../../../assets/scss/_variables';

p, h2, h3 {
    margin: 0;
    padding: 0;
}

.estadisticas {
    background-color: map-get($colors, BGF200);
    height: 93vh;

        .form-group.hidden {
        width: 0;
        margin: 0;
        border: none;
        padding: 0;
        }
        .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        }
        .custom-day.focused {
        background-color: #e6e6e6;
        }
        .custom-day.range, .custom-day:hover {
        background-color: #0BB9B9;
        color: white;
        }
        .custom-day.faded {
        background-color: #EAEAEA
        }
        

    & .container {
        margin-top: 50px;
    }
    &__date {
        padding: $MSMD;
        display: flex;
        background-color: map-get($colors, CTS050);    
        & p {
            margin-top: $MSSM;
        }
        & input {
            margin: 0 $MSSM;
            max-width: 200px;
        }
    }
    &__card {
        margin: $MSSM;
        padding: $MSLG;
        width: 350px;
        display: block;
        // margin-left: auto;
        // margin-right: auto;
        justify-content: space-between;
        background-color: map-get($colors, CTS050);
        border-radius: 6px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 16%);
        &--txt {
            position: relative;
            display: inline-block;
            justify-content: center;
            & p {
                font-size: $FS16;
                font-weight: 600;
                color: map-get($colors, CTS400);
            }
            & img {
                margin-left: $MSSM;
                &:hover + .hide {
                    position: absolute;
                    top: -100px;
                    left: 0%;
                    width: 300px;
                    padding: $MSMD;
                    border-radius: 6px;
                    background-color: map-get($colors, CTS600);
                    display: block;
                    z-index: 10;
                    animation-name: FadeIn;
                    animation-duration: 1s;
                    transition-timing-function: linear;
                }
            }
        }
        & .hide {
            display: none;
            & p {
                font-size: $FS14;
                font-weight: normal;
                color: map-get($colors, CTS050);
            }
        }
        & h2 {
            margin: $MSSM 0;
            font-weight: bold !important;
            font-size: $FS32;
            color: map-get($colors, CTS400);
            text-align: center;
        }
        &--title p {
            margin-bottom: $MSMD;
            text-align: center;
            font-weight: 700;
            font-size: $FS16;
            color: map-get($colors, CTS400);
        }
        &--row {
            display: flex;
            justify-content: space-between;
            & p {
                margin: $MSSM;
                font-size: $FS14;
                color: map-get($colors, CTS400);
            }
        }
        &--active {
            display: flex;
            & .active-green  {
                display: flex;
                & span {
                    width: 15px;
                    height: 15px;
                    background-color: map-get($colors, CPP500);
                }
                & p {
                    margin-left: $MSSM;
                    font-size: $FS12;
                    font-weight: normal;
                    color: map-get($colors, CTS100);
                }
            }
            & .active-grey  {
                display: flex;
                & span {
                    right: 0;
                    width: 15px;
                    height: 15px;
                    background-color: map-get($colors, BGF200);
                }
                & p {
                    margin-left: $MSSM;
                    font-size: $FS12;
                    font-weight: normal;
                    color: map-get($colors, CTS100);
                }
            }
        }
    }
}

.tooltImg{
    padding: 0px 0px 5px 5px;
}
.graficaSize{
    width: 450; 
    height: 350;
}
.canvas {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}

.donut-inner {
    margin-top: -115px;
    margin-bottom: 100px;
    text-align: center;
 }
 .donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
 }
 .donut-inner span {
    font-size: 12px;
 }

 .fontError{
    background-color: #F6F6F6;
    text-align: -webkit-center;
}
.imgError{
    padding-top: 10%; 
    padding-bottom: 15%;
    width: 25%;
}
.textError{
    padding-top: 5px;
    color: #CBCBCB;
    font-size: 20px;
    width: 60%;
}
.prueba:last-child{
    background-color: #EAEAEA;
    /* padding: 5px 5px 0px 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.vInv{
    background: #5dd6d6;
}

.clear{
    background: none;
    color: #5dd6d6;
}