.tituloModal {
  font-size: 23px;

  color: #000000;
  font-weight: 700;
}

.textoModal {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}

.black {
  background: #000000;
  color: #ffffff;
  border-color: #000000;

  &:hover {
    background: #0bb9b9;
    color: #ffffff;
    border-color: #088b8b;

    .textoModal {
      color: #ffffff;
    }
  }
}
