<div class="modal-body px-5">
    <h6 class="text-center tituloModal pt-0 mt-2 mb-4" style="padding-top: 0.4em;">{{data.title}}</h6>
    <h6 class="text-center tituloCandidato ml-4 mr-4 mb-3" style="padding-top: 0.2em;">{{data.message}}</h6>
    <div class="row" style="padding: 0.7em; padding-top: 0em;">
      <div class="col d-flex justify-content-center align-items-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal black" style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: right;"
        (click)="closeModal();">Cancelar</span>
      </div>
    </div>
  </div>
