<div class="row" *ngIf="!isRenovation && summary?.descuento > 0">
    <div class="col">
        <p class="amount">Costo subtotal</p>
    </div>
    <div class="col text-center amount">
        {{((summary!= undefined) ? summary?.amount : 0 )| customCurrency}} MXN
    </div>
</div>
<div class="row" *ngIf="!isRenovation && summary?.descuento > 0">
    <div class="col ">
        <p class="amount">*Descuento</p>
    </div>
    <div class="col text-center amount">
        - {{((summary!= undefined) ? summary?.total : 0 )| customCurrency}} MXN
    </div>
</div>
<hr class="m-0" *ngIf="!isRenovation && summary?.descuento > 0">
<div class="row" *ngIf="!isRenovation && summary?.descuento > 0">
    <div class="col total">
        Costo total
    </div>
    <div class="col text-center total">
        {{((summary!= undefined) ? summary?.descuento  : 0 )| customCurrency}} MXN
    </div>
</div>
<div class="row" *ngIf="isRenovation || summary?.descuento == 0">
    <div class="col text-center total">
        $9,900 MXN IVA incluído
    </div>
</div>
