@import '../../../../assets/scss/variables';

h1 {
    margin: 0;
}

.main-container{
    .login-image-container{
        padding: 0;
        min-height: 100vh;
        .image-container{
            width: 100%;
            height: 100%;
            background-image: url('/assets/female-worker-consulting-client-phone@2x.png');
            background-size: cover;
            background-position: center;
        }
        .image-container-candidate{
            width: 100%;
            height: 100%;
            background-image: url('/assets/successful-businessman-in-casual-celebrating-his-victory-and-raising-arms@2x.png');
            background-size: cover;
            background-position: center;
        }
        .version{
            background: rgba(0, 0, 0, .4);
            border-radius: 10px;
            bottom: 2rem;
            color: #FFF;
            font-size: 10px;
            left: 2rem;
            padding: 5px 10px;
            position: absolute;
        }
    }
    .login-info-container{  
        padding: 5% 10%;
        min-height: 100vh;
    }
}

.olvide { 
    font-weight: 600 
}
.registrar {
    transition: all .2s ease-in-out;
}
.registrar:hover { transform: scale(1.1); }

@media screen and (max-width: 990px) {
    .main-container .login-image-container{
        display: none;
    }
}

.eyeClose{
    background: transparent url('../../../../assets/img/general/visibility_off-24px.svg');
    opacity: 1;
}

.buttons-container button {
    font-weight: bold;
}

.btn-link {
    color: $P500; 
    &:hover {
        color: $P700;
    }
}


.login-info-title {
    & h1 {
        font-size: 32px;
        color: $S600;
    }
    & p {
        font-size: 16px;
        color: $C3C;
    }
}

.login-info-form__sing-in {
    cursor: pointer;
    & p {
        margin-bottom: 0;
        color: $P500;
        &:hover {
            color: $P700;
        }
    }
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }