<div class="main-container row">

    <!-- IMAGEN -->
    <div class="login-image-container col-lg-6">
        <div *ngIf="!isCandidate" class="image-container"></div>
        <span *ngIf="!isCandidate" class="version">Involve © Todos los derechos reservados | V{{currentVersion}}</span>
        <div *ngIf="isCandidate" class="image-container-candidate"></div> 
    </div>

    <!-- CONTENIDO -->
    <div class="login-info-container col-lg-6">

        <!-- LOGO -->
        <div class="login-info-header mb-5">
            <img src="../../../../assets/logo-involve.svg" alt="">
        </div>

        <!-- TITLE -->
        <div class="login-info-title w-75 pt-1">
            <h1 *ngIf="!isCandidate">Iniciar sesión</h1>
            <h1 *ngIf="isCandidate">Encuentra tu siguiente empleo</h1>
            
            <p *ngIf="!inputPassword">Hay talento esperando por ti</p>
            <div *ngIf="inputPassword" (click)="inputPassword = false" class="login-info-form__sing-in">
                <img src="../../../../assets/img/login/flecha-hacia-arriba.svg" alt="">
                <p class="olvide d-inline-block ml-2 text-green">{{userEmail}}</p>
            </div>
        </div>

        <!-- INICAR SESION -->
        <div class="login-info-form my-5">
            <!-- <h2 class="mb-5" >Iniciar sesión</h2> -->

            <!-- CORREO ELECTRONICO -->
            <div *ngIf="!inputPassword" class="info-form-input login-info-form__email">
                <!-- <h3 *ngIf="isOverlay">Vuelve a iniciar sesión para no perder tus cambios</h3> -->
                <p>Correo electrónico</p>
                <input [(ngModel)]="userEmail" class="form-control" [ngClass]="{'is-invalid': !emailCorrect}"  type="email" placeholder="usuario@dominio.com" (input)="emailCorrect = true" (keyup.enter)="validateMail()">
                <div class="invalid-feedback">
                    {{messageError}}
                </div>
            </div>
            
            <!-- CONSTRASEÑA -->
            <div *ngIf="inputPassword" class="info-form-input login-info-form__email">
                <div class="input-text-container pt-4  login-info-form__email--titles">
                    <p class="col-lg-6 p-0">Contraseña</p>
                    <div (click)="showPassword = !showPassword" class="input-text-favicon col-lg-6 text-right p-0" style="cursor: pointer;">
                        <div *ngIf="showPassword">
                            <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                            <p class="d-inline-block ml-2 info-form-button">Ocultar</p>
                        </div>
                        <div *ngIf="!showPassword">
                            <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                            <p class="d-inline-block ml-2 info-form-button">Mostrar</p>
                        </div>
                    </div>
                </div>
                <input class="form-control" [(ngModel)]="userPassword" [ngClass]="{'is-invalid': passwordError}" [type]="showPassword ? 'text'  : 'password'" (keyup.enter)="redirectToVacantes()">
                <div class="invalid-feedback">
                    {{messageError}}
                </div>
            </div>
        </div>

        <!-- BOTONES -->
        <div class="buttons-container row pt-4">
            <button *ngIf="!inputPassword" (click)="validateMail()" class="btn-green col-lg-6">{{'commons.continuar' | translate}}</button>
            <button *ngIf="inputPassword" class="btn-green col-lg-6" (click)="redirectToVacantes()">Iniciar sesión</button>

            <div *ngIf="!inputPassword" class="col col-lg-6">
                <button *ngIf="!isCandidate && !isOverlay" (click)="navigate('/register')" class="btn btn-link col-lg-12" >{{'login.step1.title' | translate}}</button>
            </div>

            <button *ngIf="inputPassword && !isOverlay" class="btn btn-link col-lg-6" (click)="navigate('/forgot-password')">Olvidé mi contraseña</button>
        </div>
            
            <!--cambiar la funcion para validar la contraseña e iniciar session-->
    </div>
</div>
