@import '../../../../../assets/scss/variables';

.margin-bottom {
  margin-bottom: 5em;
}

.msj-error {
  top:10px;
  left:2%;
}
.msj-error p {
  background-color: red;
  color: white;
  padding: 1%;
}
.cursor-pointer {
  cursor: pointer;
}

.with-auto {
  width: auto;
}

.header {
    background: #1C1C1B;
    color: #F2F2F2;
    font-size: 22px;
    font-weight: 500;
  }

  .titleHeader {
    font-size: 24px;
    color: #FFFF;
    font-weight: 400;
  }

  .title {
    font-size: 24px;
    color: $S600;
    font-weight: 700;
  }

  input::placeholder{

    font-size: 13px;
  }

  .btnActive {
      background-color: $P500;
      color: $S50;
      font-weight: 400;
  }

  .card-body-border{
    border: solid 1px #E1E1E1;
    border-radius: 0.3em
  }

.btnChange {
    color: $S400;
   text-decoration: underline 1px;
   cursor: pointer;
   &:hover {
       color: $P600;
   }
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: $P500;
    background-color: $P500;
  }

  .custom-control-input:checked~.custom-control-label:focus{
    outline: none;
  }

  .textHeaders{
    font-size: 15px;
    font-weight: 600;
    color: $S400;
  }

  .textBody {
    font-size: 15px;
    color: $S400;
  }

  @media screen and (max-width: 991px) {
    /* Aquí van los estilos para tablets grandes y desktop */
  }

  @media screen and (max-width: 767px) {
    /* Aquí van los estilos para tablets medianas */

  }

  @media screen and (max-width: 479px) {
    /* Aquí van los estilos para smartphones */

    .textHeaders{
      font-size: 11px;
    }

    .deletePadding {
      padding-left: 0;
      padding-right: 0;
    }
  }
