<div class="card text-center border-top margin-bottom">
    <h5 class="card-header text-left header">
        {{'configuration.integrations.title' | translate}}
    </h5>
    <div class=" text-left card-body">
        <form [formGroup]="formIntegrations" >
          <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-form-label title"
            autocomplete="off">{{'configuration.integrations.subtitle' | translate}}</label>

            <div class="card border-0">
                <h5 class="card-header border-0 bg-white">
                    <div class="row">
                        <div class="col-4 col-sm-3 "><h6 class="textHeaders">{{'configuration.integrations.headers.connection' | translate}}</h6></div>
                        <div class="col-4 col-sm-3 "><h6 class="textHeaders">{{'configuration.integrations.headers.name' | translate}}</h6></div>
                        <div class="col-4 col-sm-3  text-center"><h6 class="textHeaders">{{'configuration.integrations.headers.credentials' | translate}}</h6></div>
                    </div>
                </h5>
                <div class="card-body shadow-sm card-body-border mb-4 deletePadding" formArrayName="jobBoards" *ngFor="let row of jobBoard.controls; let indice=index">
                    <div [formGroupName]="indice" class="row">
                        <div class="col-5 col-sm-3 text-center">
                            <div class="custom-control"
                            >
                            <div *ngIf="!row.value.connection">
                                <img class="with-auto" src="../../../../../assets/img/dashboard/vacantes/icon-check.svg" alt="" width="100">
                                <br>
                                <span>Inactivo</span>
                            </div>
                            <div *ngIf="row.value.connection">
                                <img class="with-auto" src="../../../../../assets/img/dashboard/vacantes/icon-check_fill.svg" alt="" width="100">
                                <br>
                                <span>Activo</span>
                            </div>
                                <label class="" [attr.for]="'connection' + indice"  [ngbTooltip]="(row.value.connection) ? 'Conexión validada' : 'Conexión invalida'" tooltipClass="my-custom-class"></label>
                              </div>
                        </div>
                        <div class="col-5 col-sm-3">
                            <img src="{{row.value.urlLogo}}" alt="" width="100">
                        </div>
                        <div class="col-5 col-sm-3">
                            <div class="row">
                                <div class="custom-control custom-switch">
                                    <img *ngIf="row.value.active" class="with-auto cursor-pointer" src="../../../../../assets/img/dashboard/vacantes/key-credentials-fill.svg" alt="" width="100" (click)="changeStatus(indice)">
                                    <img *ngIf="!row.value.active" class="with-auto cursor-pointer" src="../../../../../assets/img/dashboard/vacantes/key-credentials.svg" alt="" width="100" (click)="changeStatus(indice)">
                                  </div>
                            </div>
                        </div>
                        <div *ngIf="!row.value.hide" class="row mt-3">
                            <div class="col-lg col-sm-12 col-xs-12">
                                <input [attr.id]="'email' + indice" type="text" class="form-control efectosInput" [readonly]="row.value.active"
                                formControlName="email" placeholder="{{'configuration.integrations.placeholder.email' | translate}}">
                            </div>
                            <div class="col-lg col-sm-12 col-xs-12">
                                <input  type="password"  class="form-control efectosInput" formControlName="password" [attr.id]="'password' + indice"
                                placeholder="{{'commons.password' | translate}}">
                            </div>
                            <div class="col-lg col-sm-12 col-xs-12" *ngIf="row.value.active">
                                <input  type="password"  class="form-control efectosInput" formControlName="confirmPassword" [attr.id]="'confirmPassword' + indice"
                                placeholder="{{'configuration.integrations.placeholder.confirmpassWord' | translate}}">
                            </div>
                            <div class="col-lg-1 col-sm-12 col-xs-12">
                                <button *ngIf="!row.value.active" class="btn-primary-tama" (click)="preventModal(indice,modalAviso)">{{'configuration.integrations.headers.btnActive' | translate}}</button>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 col-sm-12 col-xs-12">
                                    <button *ngIf="row.value.active" class="btn-primary-tama" (click)="activeModal(modalUpdatePass)">{{'configuration.integrations.headers.btnUpdate' | translate}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-6 msj-error" *ngIf="message == true && row.value.message == true">
                            <p>Alguno de los campos es incorrecto</p>
                        </div>
                        </div>

                        <!--Modal update Pass-->
                      <ng-template #modalUpdatePass>
                        <div class="modal-header">
                            <h4 class="modal-title">Actualización de contraseña</h4>
                            <button type="button" class="close" aria-label="Close" (click)="closeModal(modalUpdatePass)">
                                <img src="assets/img/general/xBlanca.svg" alt="">
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Vas a actualizar la contraseña para {{bag}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-primary-tama" (click)="updatePassword(indice)">Aceptar</button>
                        </div>
                    </ng-template>
                </div>
              </div>
        </form>

        <ng-template #modalAviso>
            <div class="modal-header">
                <h4 class="modal-title">Conecta Empleos TI con Involve</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModal(modalAviso)">
                    <span class="close-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Para utilizar la integración con Empleos TI, debes aceptar los siguientes avisos legales</p>
                <div class="row">
                    <div class="col-md-3">
                        <input type="checkbox" class="custom-control-input">
                    </div>
                    <div class="col-md-9">
                        <div class="form-checkbox-container pt-4">
                            <label class="switch mr-5">
                              <input type="checkbox" [(ngModel)]="avisoPrivacidad" (click)="activatePriv($event)">
                              <span class="slider round"></span>
                            </label>
                            <p class="d-inline-block txtOptions">He leido y acepto el  </p>
                            <!--<app-modal-privacy></app-modal-privacy> esto se va a aperturar una vez teniendo el aviso correspondiente-->
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="checkbox" class="custom-control-input" >
                    </div>
                    <div class="col-md-9">
                        <div class="form-checkbox-container pt-4">
                            <label class="switch mr-5">
                              <input type="checkbox" [(ngModel)]="avisoTerminos" (click)="activateTerm($event)">
                              <span class="slider round"></span>
                            </label>
                            <p class="d-inline-block txtOptions">He leido y </p>
                            <!--<app-modalterms></app-modalterms> esto se va a aperturar una vez teniendo el aviso correspondiente-->
                          </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-primary-tama" [disabled]="!avisoTerminos" (click)="activeConnection()">Aceptar</button>
            </div>
        </ng-template>
    </div>

</div>
