.register-succsess {
    margin: auto;
    display: table;
    margin-top: 50px;
}
h2 {
    float: left;
    color: black;
    border-right: 0.15em solid black;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.register-succsess h2:nth-child(1) {
    width: 100%;
    -webkit-animation: type 5s steps(56, end), blink 0.5s step-end infinite alternate;
    animation: type 5s steps(56, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.delay {
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}

@keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.register-succsess__btn {
    margin-top: 50px;
}
