<div *ngIf="typeProgressBar == 'uno'" class="progress  tam mb-4">
  <div class="progress-bar bg-success {{color}}" role="progressbar" style="{{width}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div *ngIf="typeProgressBar == 'dos'"class="progress tam" [ngStyle]="{'margin-bottom':marginb}">
  <div class="progress-bar mr-2" [ngStyle]="{'background-color':color,width:widthValor1}" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar mr-2" [ngStyle]="{'background-color':color,width:widthValor2}" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar mr-2" [ngStyle]="{'background-color':color,width:widthValor3}" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar" [ngStyle]="{'background-color':color,width:widthValor4}" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
