<div class="container">
  <ul class="nav ">
    <li class="active text-md-left ml-2 mt-3"><a  class="tituloBarra" data-toggle="tab" href="#home">Ofertas</a></li>
    <li class="ml-4 mt-3"><a class="text-center tituloBarra" data-toggle="tab" href="#menu1">Postulaciones</a></li>
    <li class="ml-4 mt-3"><a class="text-right tituloBarra" data-toggle="tab" href="#menu2">Mensajes</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <app-ofertas></app-ofertas>
    </div>
    <div id="menu1" class="tab-pane fade">
      <app-postulaciones></app-postulaciones>
    </div>
    <div id="menu2" class="tab-pane fade">
      <app-mensajes></app-mensajes>
    </div>
  </div>
</div>
