<div class="main-container">
  <div class="privacy-header-container">
    <img src="../../../assets/Grupo 498.svg" alt="">
  </div>
  <div class="privacy-content-container">
    <h1>Aviso de privacidad</h1>
  </div>
</div>