<!-- <app-nav-bar></app-nav-bar> -->

<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

   <!-- ACCORDEON -->
   <div class="col col-lg-3 col-sm-12 ">
        <div class="grid__accordion">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <!-- TXT -->
    <div class="col col-lg-7 col-sm-12 fluid__top">
        <div class="forgot-info-container">
            
            <form [formGroup]="formularioDatosPersonales" >
                <div class="main-container personal-information"> 
                  <div class="forgot-info-container" >
                    
                    <!-- ILUSATRACIÓN
                    <div class="forgot-info-header text-center mb-2">
                        <img src="../../../../assets/img/login/candidato/drawing-man.svg" alt="">
                    </div> -->
                      
                    <!-- PREGRESS BAR 
                    <app-progress-bar  [widthValor]="'20'"></app-progress-bar> --> 
                
                    <!-- TITLE -->
                    <div class="personal-information__title">
                        <h1>¿Cómo te llamas?</h1>
                    </div>
                      
                    <!-- NAME -->
                    <div class="forgot-info-form personal-information__title-input">
                        <div class="info-form-inpput">
                            <p>Nombre(s)</p>
                            <input type="text" class="form-control placeHolder" formControlName="nombre">
                            <div class="invalid-feedback">{{respuesta}}</div>
                        </div>
                    </div>
                
                    <!-- LAST NAME -->
                    <div class="forgot-info-form personal-information__title-input">
                        <div class="info-form-inpput">
                            <p>Apellido paterno</p>
                            <input  type="text" class="form-control placeHolder" formControlName="apellidoPaterno">
                            <div class="invalid-feedback">{{respuesta}}</div>
                        </div>
                    </div>
                
                    <!-- SECOND LAST NAME -->
                    <div class="forgot-info-form personal-information__title-input">
                        <div class="info-form-inpput">
                            <p>Apellido materno</p>
                            <input type="text" class="form-control placeHolder" formControlName="apellidoMaterno" >
                            <div class="invalid-feedback">{{respuesta}}</div>
                        </div>
                    </div>
                
                    <!-- BUTTON NEXT -->
                    <div class="buttons-container text-center personal-information__btn d-flex flex-row-reverse">
                        <button class="btn-green Continuar"  [disabled]="formularioDatosPersonales.invalid" (click)="pageContinue()">Siguiente</button>
                    </div>
                </div>
                </div>
            </form>

        </div>
    </div>

    <!-- TXT -->
    <div class="grid__inputs">
        
    </div>
</div>