@import "./src/assets/scss/main.scss";

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    /*PARA EL FONDO DEL SIDE BAR*/

    max-width: 12%;
    background: $S700;
    opacity: 1;
    color: $S50;
    transition: all 0.2s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    span {
        display: none;
        color: #ffffff;
    }
    svg {
        &.active {
            display: none;
        }
    }
    &:hover,
    &.item-active {
        svg {
            &.default {
                display: none;
            }
            &.active {
                display: inline-block;
            }
        }
        span {
            display: inline-block;
        }
    }
}

#sidebar.active ul li {
    a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
        span {
            font-size: 10px;
            // visibility:hidden;
        }
    }
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    /* para el fondo del icono de involve*/
    padding: 20px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#logoInvolve {
    display: block;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b; */
}

#sidebar ul li a {
    padding: 10%;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #565656;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--p700-primario-involve-verde) 0% 0% no-repeat padding-box;
    border: 1px solid var(--p700-primario-involve-verde);
    background: #3e3e3e 0% 0% no-repeat padding-box;
    border: 1px solid #3e3e3e;
    opacity: 1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc;
    color: #fff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
    height: 115px;
    overflow-y: scroll;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.letra {
    font-size: 10px;
    text-align: left;

    color: #565656;
    text-align: left;
    letter-spacing: 0px;
    color: #f2f2f2;
    opacity: 1;
}

.hideTextos {
    display: none;
}
.showTextos {
    display: inline-block;
}

.oultaSineNav {
    opacity: 0;
}
