<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="status ? 'active' : 'danger'" (mouseover)="mouseOverSideNav();"
    (mouseleave)="mouseLeaveSideNav();">
    <div *ngIf="!status" class="d-flex minimizar">
      <img class="ml-auto mr-1 {{showSideNav}}" style="cursor: pointer;"
        src="assets/img/dashboard/vacantes/flechaIzquierda.svg" alt="">
    </div>

    <div class="sidebar-header">
      <img *ngIf="!status" id="logoInvolve" src="assets/img/dashboard/Logo_dark.svg" alt="" />
      <strong> <img src="assets/img/dashboard/vacantes/Icon feather-menu.svg" alt=""
          routerLink="/dashboard/vacantes/activas"></strong>
    </div>

    <ul class="list-unstyled components">
      <li class=" cursor-pointer" (mouseover)="mouseOverLista('vacantes');" (mouseleave)="mouseLeaveLista('vacantes');"
        (click)="marcaMenuActivo('vacantes');">
        <a [routerLink]="'/dashboard/vacantes/activas'" routerLinkActive="item-active" data-toggle="collapse"
          aria-expanded="false" class="letra">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="default">
            <g id="Grupo_2777" data-name="Grupo 2777" transform="translate(-357 -425)">
              <g id="Trazado_4132" data-name="Trazado 4132" transform="translate(357 425)" fill="rgba(255,255,255,0)">
                <path d="M0,0H40V40H0Z" stroke="none" />
                <path d="M 1 1 L 1 39 L 39 39 L 39 1 L 1 1 M 0 0 L 40 0 L 40 40 L 0 40 L 0 0 Z" stroke="none"
                  fill="rgba(112,112,112,0)" />
              </g>
              <g id="Layer_2" data-name="Layer 2" transform="translate(365 433.336)">
                <g id="invisible_box" data-name="invisible box" transform="translate(0 -0.399)">
                  <rect id="Rectángulo_1679" data-name="Rectángulo 1679" width="24" height="24"
                    transform="translate(0 0.063)" fill="none" />
                </g>
                <g id="Q3_icons" data-name="Q3 icons" transform="translate(0.72 1.548)">
                  <path id="Trazado_4131" data-name="Trazado 4131"
                    d="M305-51.75h-2.941V-55.5a.559.559,0,0,0-.559-.559h-11a.559.559,0,0,0-.559.559v3.75H287A2.752,2.752,0,0,0,284.25-49v12A2.752,2.752,0,0,0,287-34.25h18A2.752,2.752,0,0,0,307.75-37V-49A2.752,2.752,0,0,0,305-51.75Zm-13.941-3.191h9.882v2.882h-9.882ZM306.25-37A1.252,1.252,0,0,1,305-35.75H287A1.252,1.252,0,0,1,285.75-37V-49A1.252,1.252,0,0,1,287-50.25h18A1.252,1.252,0,0,1,306.25-49Z"
                    transform="translate(-284.637 55.797)" fill="#fff" />
                </g>
              </g>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="active">
            <g id="Grupo_2778" data-name="Grupo 2778" transform="translate(-357 -425)">
              <g id="Rectángulo_1682" data-name="Rectángulo 1682" transform="translate(357 425)"
                fill="rgba(255,255,255,0)" stroke="rgba(112,112,112,0)" stroke-width="1">
                <rect width="40" height="40" stroke="none" />
                <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
              </g>
              <path id="Trazado_4153" data-name="Trazado 4153"
                d="M-151.25-256.75h-2.941v-3.75a.559.559,0,0,0-.559-.559h-11a.559.559,0,0,0-.559.559v3.75h-2.941A2.752,2.752,0,0,0-172-254v12a2.752,2.752,0,0,0,2.75,2.75h18A2.752,2.752,0,0,0-148.5-242v-12A2.752,2.752,0,0,0-151.25-256.75Zm-13.941-3.191h9.882v2.882h-9.882Z"
                transform="translate(537.25 696.059)" fill="#2be6e5" />
            </g>
          </svg>
          <span>{{'sidenav-vacantes.vacantes' | translate }}</span>
        </a>

      </li>

      <li class="cursor-pointer" (mouseover)="mouseOverLista('talent');" (mouseleave)="mouseLeaveLista('talent');"
        (click)="marcaMenuActivo('talent');">
        <a [routerLink]="'/dashboard/talent/'" routerLinkActive="item-active" class="letra">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="default">
            <g id="Grupo_2782" data-name="Grupo 2782" transform="translate(-414 -421)">
              <g id="Rectángulo_1683" data-name="Rectángulo 1683" transform="translate(414 421)"
                fill="rgba(255,255,255,0)" stroke="rgba(112,112,112,0)" stroke-width="1">
                <rect width="40" height="40" stroke="none" />
                <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
              </g>
              <g id="Grupo_3022" data-name="Grupo 3022" transform="translate(273.951 352.148)">
                <path id="Trazado_4125" data-name="Trazado 4125"
                  d="M160.038,89.793a1.306,1.306,0,1,0-1.306-1.306A1.306,1.306,0,0,0,160.038,89.793Z" fill="#FFFFFF" />
                <path id="Trazado_4126" data-name="Trazado 4126"
                  d="M166,88.731a.828.828,0,0,0-1.379-.655,3.509,3.509,0,0,0-.909.972,4.521,4.521,0,0,1-7.422,0,3.509,3.509,0,0,0-.909-.972.828.828,0,0,0-1.379.655,2.709,2.709,0,0,0,1.073,2.021,13.558,13.558,0,0,1,2.681,2.911,2.206,2.206,0,0,0,1.369,1.024,4.05,4.05,0,0,0,.914.132,7.087,7.087,0,0,0,.838-.132,2.206,2.206,0,0,0,1.369-1.024,13.558,13.558,0,0,1,2.681-2.911A2.709,2.709,0,0,0,166,88.731Z"
                  fill="#FFFFFF" />
                <path id="Trazado_4127" data-name="Trazado 4127"
                  d="M170.98,92.856a11.118,11.118,0,0,0-6.542-12.687,4.439,4.439,0,0,0-8.875-.007,11.126,11.126,0,0,0-6.543,12.694A4.449,4.449,0,0,0,151.5,101a4.4,4.4,0,0,0,2.651-.9,11.235,11.235,0,0,0,11.64.044l-.11-.182a4.439,4.439,0,1,0,5.3-7.109ZM160,77.352a2.951,2.951,0,1,1-2.951,2.951A2.955,2.955,0,0,1,160,77.352ZM151.5,99.5a2.951,2.951,0,1,1,2.951-2.95A2.954,2.954,0,0,1,151.5,99.5Zm13.281-.518a9.912,9.912,0,0,1-9.558-.006,4.418,4.418,0,0,0-4.8-6.731A9.589,9.589,0,0,1,155.8,81.722a4.422,4.422,0,0,0,8.4-.019,9.618,9.618,0,0,1,5.371,10.542A4.389,4.389,0,0,0,168.5,92.1a4.441,4.441,0,0,0-3.719,6.883Zm3.719.518a2.951,2.951,0,1,1,2.951-2.95A2.954,2.954,0,0,1,168.5,99.5Z"
                  fill="#FFFFFF" />
              </g>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="active">
            <g id="Grupo_3024" data-name="Grupo 3024" transform="translate(-414 -422)">
              <g id="Rectángulo_1683" data-name="Rectángulo 1683" transform="translate(414 422)"
                fill="rgba(255,255,255,0)" stroke="rgba(112,112,112,0)" stroke-width="1">
                <rect width="40" height="40" stroke="none" />
                <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
              </g>
              <g id="Grupo_3041" data-name="Grupo 3041" transform="translate(593 646.148)">
                <g id="Grupo_3031" data-name="Grupo 3031">
                  <path id="Trazado_4135" data-name="Trazado 4135"
                    d="M-159.011-203.207a1.306,1.306,0,0,0,1.306-1.306,1.306,1.306,0,0,0-1.306-1.306,1.306,1.306,0,0,0-1.306,1.306A1.306,1.306,0,0,0-159.011-203.207Z"
                    fill="#2BE6E5" />
                  <path id="Trazado_4136" data-name="Trazado 4136"
                    d="M-153.259-204.856a.828.828,0,0,0-1.17-.068,3.522,3.522,0,0,0-.909.972,4.1,4.1,0,0,1-3.711,1.939,4.1,4.1,0,0,1-3.71-1.939,3.553,3.553,0,0,0-.909-.972.829.829,0,0,0-1.171.068.829.829,0,0,0-.209.587,2.712,2.712,0,0,0,1.073,2.021,13.532,13.532,0,0,1,2.681,2.911,2.206,2.206,0,0,0,1.369,1.024,4.058,4.058,0,0,0,.914.132,7.085,7.085,0,0,0,.838-.132,2.206,2.206,0,0,0,1.369-1.024,13.558,13.558,0,0,1,2.681-2.911,2.705,2.705,0,0,0,1.073-2.021A.82.82,0,0,0-153.259-204.856Z"
                    fill="#2BE6E5" />
                </g>
                <path id="Trazado_4137" data-name="Trazado 4137"
                  d="M-148.068-200.144a11.278,11.278,0,0,0,.269-2.356,11.313,11.313,0,0,0-6.812-10.331,4.45,4.45,0,0,0-4.438-4.317,4.449,4.449,0,0,0-4.437,4.31A11.231,11.231,0,0,0-170.3-202.5a11.279,11.279,0,0,0,.27,2.356A4.451,4.451,0,0,0-172-196.45a4.456,4.456,0,0,0,4.451,4.45,4.4,4.4,0,0,0,2.651-.9,11.227,11.227,0,0,0,5.849,1.647,11.233,11.233,0,0,0,5.791-1.6l-.11-.182A4.412,4.412,0,0,0-150.549-192a4.456,4.456,0,0,0,4.451-4.45A4.452,4.452,0,0,0-148.068-200.144ZM-155-196.45a4.414,4.414,0,0,0,.732,2.432,9.912,9.912,0,0,1-9.558-.006,4.417,4.417,0,0,0,.728-2.426,4.456,4.456,0,0,0-4.451-4.451,4.39,4.39,0,0,0-1.075.146,9.887,9.887,0,0,1-.175-1.745,9.721,9.721,0,0,1,5.553-8.778,4.441,4.441,0,0,0,4.2,3.031,4.443,4.443,0,0,0,4.2-3.05,9.811,9.811,0,0,1,5.546,8.8,9.794,9.794,0,0,1-.175,1.745,4.384,4.384,0,0,0-1.075-.146A4.456,4.456,0,0,0-155-196.45Z"
                  fill="#2BE6E5" />
              </g>
            </g>
          </svg>
          <span>Talent Network</span>
        </a>
      </li>

      <li class="cursor-pointer" (mouseover)="mouseOverLista('estadisticas')"
        (mouseleave)="mouseLeaveLista('estadisticas')" (click)="marcaMenuActivo('estadisticas');">
        <!-- <a routerLinkActive="item-active" data-toggle="collapse" aria-expanded="false" class="letra " ngbTooltip="Próximamente" tooltipClass="my-custom-class"> -->
        <a [routerLink]="'/dashboard/estadisticas-web'" routerLinkActive="item-active" class="letra">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="default">
            <g id="Grupo_2796" data-name="Grupo 2796" transform="translate(-356 -580)">
              <g id="Grupo_2794" data-name="Grupo 2794" transform="translate(-65 4)">
                <g id="Rectángulo_1684" data-name="Rectángulo 1684" transform="translate(421 576)"
                  fill="rgba(255,255,255,0)" stroke="rgba(112,112,112,0)" stroke-width="1">
                  <rect width="40" height="40" stroke="none" />
                  <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
                </g>
                <g id="Grupo_3025" data-name="Grupo 3025" transform="translate(280.327 637.465)">
                  <path id="Trazado_4121" data-name="Trazado 4121"
                    d="M163.508-29.939h-6.469a.539.539,0,0,1-.539-.539V-50.941a.539.539,0,0,1,.539-.539h6.469a.539.539,0,0,1,.539.539v20.463A.539.539,0,0,1,163.508-29.939Zm-5.93-1.078h5.391V-50.4h-5.391Z"
                    transform="translate(0.703 0.353)" fill="#FFFFFF" />
                  <path id="Trazado_4122" data-name="Trazado 4122"
                    d="M172.508-29.586h-6.469a.539.539,0,0,1-.539-.539V-55.461a.539.539,0,0,1,.539-.539h6.469a.539.539,0,0,1,.539.539v25.336A.539.539,0,0,1,172.508-29.586Zm-5.93-1.078h5.391V-54.922h-5.391Z"
                    transform="translate(1.406 0)" fill="#FFFFFF" />
                  <path id="Trazado_4123" data-name="Trazado 4123"
                    d="M154.508-30.222h-6.469a.539.539,0,0,1-.539-.539V-47.326a.539.539,0,0,1,.539-.539h6.469a.539.539,0,0,1,.539.539v16.565A.539.539,0,0,1,154.508-30.222Zm-5.93-1.078h5.391V-46.787h-5.391Z"
                    transform="translate(0 0.635)" fill="#FFFFFF" />
                </g>
              </g>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="active">
            <g id="Grupo_2794" data-name="Grupo 2794" transform="translate(-421 -576)">
              <g id="Rectángulo_1684" data-name="Rectángulo 1684" transform="translate(421 576)"
                fill="rgba(255,255,255,0)" stroke="rgba(112,112,112,0)" stroke-width="1">
                <rect width="40" height="40" stroke="none" />
                <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
              </g>
              <g id="Grupo_3038" data-name="Grupo 3038" transform="translate(600.202 762.75)">
                <rect id="Rectángulo_1970" data-name="Rectángulo 1970" width="6.402" height="20.253"
                  transform="translate(-161.996 -173.933)" fill="#2be6e5" />
                <rect id="Rectángulo_1971" data-name="Rectángulo 1971" width="6.402" height="24.82"
                  transform="translate(-151.991 -178.5)" fill="#2be6e5" />
                <rect id="Rectángulo_1972" data-name="Rectángulo 1972" width="6.402" height="16.395"
                  transform="translate(-172 -170.075)" fill="#2be6e5" />
              </g>
            </g>
          </svg>
          <span>Estadísticas</span>
        </a>
      </li>


      <li class="cursor-pointer" (mouseover)="mouseOverLista('clientes')" (mouseleave)="mouseLeaveLista('clientes')"
        (click)="marcaMenuActivo('clientes');">
        <a [routerLink]="'/dashboard/clientes'" routerLinkActive="item-active" class="letra">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="default">
            <g id="Grupo_3027" data-name="Grupo 3027" transform="translate(-347.417 -69.395)">
              <path id="Trazado_4128" data-name="Trazado 4128"
                d="M381.327,88.5a1.368,1.368,0,0,0-1.084-.389c-2.248.134-6.316,5.071-7.213,6.193-.263.026-.527.049-.786.067a2.362,2.362,0,0,0,1.193-.588,2.11,2.11,0,0,0,.569-1.683,2.165,2.165,0,0,0-.875-1.681c-1.806-1.4-5.923-.757-7.12-.534-.878-.892-4.4-3.837-9.458.152a.5.5,0,0,0-.139.613l.087.176a1.547,1.547,0,0,0-2.068-.691l-1.149.566a1.552,1.552,0,0,0-.706,2.079l4.262,8.644h0a1.554,1.554,0,0,0,1.4.865,1.537,1.537,0,0,0,.684-.16l1.149-.566a1.55,1.55,0,0,0,.751-1.956l.233.472a.5.5,0,0,0,.448.279h12.222a.5.5,0,0,0,.36-.153C376.875,97.3,383.168,90.341,381.327,88.5Zm-21.7,12.168-1.149.565a.554.554,0,0,1-.742-.251l-4.261-8.644a.552.552,0,0,1,.251-.74l1.148-.567A.565.565,0,0,1,355.3,91a.549.549,0,0,1,.318.278l4.263,8.644A.556.556,0,0,1,359.627,100.668Zm13.882-1.309h-11.7l-4.32-8.781c4.858-3.575,7.823.006,7.95.163a.5.5,0,0,0,.494.178c1.359-.283,5.193-.787,6.584.291a1.181,1.181,0,0,1,.488.936,1.157,1.157,0,0,1-.272.923c-.517.507-1.784.423-2.808.356-1.192-.079-2.215-.147-2.42.69a.8.8,0,0,0,.18.731c.752.859,4.207.587,5.657.43a.5.5,0,0,0,.34-.188c1.78-2.265,5.152-5.892,6.618-5.979a.364.364,0,0,1,.317.1C381.33,89.917,378.018,94.638,373.509,99.359Z"
                fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" />
              <path id="Trazado_4129" data-name="Trazado 4129"
                d="M371.66,84.273a3.887,3.887,0,1,0-3.887-3.886A3.89,3.89,0,0,0,371.66,84.273Zm0-6.773a2.887,2.887,0,1,1-2.887,2.887A2.89,2.89,0,0,1,371.66,77.5Z"
                fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" />
              <path id="Trazado_4130" data-name="Trazado 4130"
                d="M366.157,88.93a.5.5,0,0,0,.388-.185c1.3-1.594,3.385-3.2,5.117-3.2,1.711,0,3.8,1.609,5.116,3.2a.5.5,0,0,0,.772-.635c-1.356-1.646-3.711-3.569-5.888-3.569-2.2,0-4.55,1.924-5.892,3.571a.5.5,0,0,0,.387.816Z"
                fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" />
              <rect id="Rectángulo_2681" data-name="Rectángulo 2681" width="40" height="40"
                transform="translate(347.417 69.395)" fill="none" />
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="active">
            <g id="Grupo_3028" data-name="Grupo 3028" transform="translate(245.356 277.86)">
              <rect id="Rectángulo_1969" data-name="Rectángulo 1969" width="3.387" height="11.744" rx="1.053"
                transform="matrix(0.897, -0.442, 0.442, 0.897, -240.357, -257.245)" fill="#2be6e5" />
              <path id="Trazado_4118" data-name="Trazado 4118"
                d="M-211.944-260.007c-1.693-1.693-7.683,5.927-7.683,5.927s-5.575.6-5.3-.546,5.666,1.159,5.513-2.111-7.674-1.693-7.674-1.693-3.45-4.351-8.971,0l4.638,9.43h12.223S-210.25-258.313-211.944-260.007Z"
                fill="#2be6e5" />
              <path id="Trazado_4119" data-name="Trazado 4119"
                d="M-221.257-265.086a3.387,3.387,0,0,0,3.387-3.387,3.387,3.387,0,0,0-3.387-3.387,3.387,3.387,0,0,0-3.386,3.387A3.387,3.387,0,0,0-221.257-265.086Z"
                fill="#2be6e5" />
              <path id="Trazado_4120" data-name="Trazado 4120"
                d="M-219.987-259.583l1.693,1.693,2.54-2.54c-1.225-1.489-3.487-3.386-5.5-3.386-2.039,0-4.279,1.883-5.5,3.386C-226.76-260.43-221.68-261.276-219.987-259.583Z"
                fill="#2be6e5" />
              <rect id="Rectángulo_2682" data-name="Rectángulo 2682" width="40" height="40"
                transform="translate(-245.356 -277.86)" fill="none" />
            </g>
          </svg>
          <span>Clientes</span>
        </a>
      </li>

    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <router-outlet #myGralOutlet="outlet"></router-outlet>
    <app-footer></app-footer>
  </div>
</div>