<app-sidenav-vacantes (propagarFiltroCliente)="aplicarFiltroClientes($event)"
(propagarFiltroReclutador)="aplicarFiltroReclutador($event)" (spreadVacantSearchInput)=searchVacant($event)></app-sidenav-vacantes>
<div *ngIf="!_suscription.isSubcriptionActive  || (_suscription.isSubcriptionActive  && rows.length < 1)" class="contenedor row m-0 text-center align-items-center justify-content-center">
  <!-- Content here -->
  <div class="col-auto">
    <img src="../../../../assets/img/dashboard/vacantes/aplausos.svg" alt="">
    <span class="texto">¡Muy bien! <br> Por ahora no tienes borradores</span>
  </div>
</div>

<div *ngIf="_suscription.isSubcriptionActive  && totalElements > 0" class="container-fluid contenedor2" [ngClass]="(rowsPorPagina < 4) ? 'tamContenedor' : ''">
  <!--Para mensaje de borradores seleccionados-->
  <div class="table-responsive-lg">
    <form *ngIf="contadorChecks>0">
      <div class="card shadow-sm bg-white text-center mt-2 ml-3 mr-3 borde borde-bottom ">
        <div class="row d-flex align-items-center">
          <h5 class="text-left my-2 ml-2">
            <img class="cursor-pointer ml-2" src="../../../../assets/img/general/checkmark.svg">
          </h5>
            <h5 class="subtituloNuevaVacante my-2 ml-2 text-left ">Seleccionó &nbsp;</h5>
            <h5 class="subtituloNuevaVacante  text-left my-2 ml-2 font-weight-bold">{{contadorChecks}}</h5>
            <span *ngIf="contadorChecks==1" class="subtituloNuevaVacante my-2 ml-2">Vacante</span>
            <span *ngIf="contadorChecks>1" class="subtituloNuevaVacante my-2 ml-2">Vacantes</span>
            <h5 class="my-2 ml-2 subtituloNuevaVacante"><span  (click) ="limpiarSeleccion();" style="color: #2680EB;">Limpiar selección&nbsp;</span></h5>
            <button type="button " class="badge badge-pill involve-button my-2 ml-2 px-3 w-auto" (click)="eliminarBorradores();">Eliminar</button>
        </div>
      </div>
    </form>
      <table class="table" data-pagination="true" pagination="true">
        <thead class="thead-dark">
          <div class="row mt-2">
            <div class="col" style="font-size: 14px;">
               <span *ngIf="totalElements > 5 ">Mostrar</span>
              <select *ngIf="totalElements > 5 " class="selectFiltros" aria-label="Default select example" [(ngModel)]="page_size" (change)="selecRow()">
                <option *ngIf="totalElements > 5 " value="5" selected>5 vacantes</option>
                <option value="10" >10 vacantes</option>
                <option value="25">25 vacantes</option>
                <option value="50">50 vacantes</option>
                <option value="100">100 vacantes</option>
              </select>
            </div>
            <div class="col text-right" style="font-size: 14px;">
              Ordenar por
              <select class="selectFiltros" aria-label="Default select example" (change)="filterOrderBy($any($event).target.value);">
                <option *ngFor="let lista of arregloOrderBy" value="{{lista.value}}" [selected]='lista.nombre =="Recientes"'>{{lista.nombre}}</option>
              </select>
            </div>
          </div>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let indice = index;">
            <th scope="row">
              <div class="card-group">
                <div class="card shadow-sm bg-white">
                  <div class="card-body" style="padding: 0.50rem;">
                    <div class="row">
                      <div class="col-sm-offset-0">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox"[checked] ="row.check" class="custom-control-input" id="{{row.id}}" (change) ="onchangeCheck(row.id)">
                          <label class="custom-control-label" for="{{row.id}}"></label>
                        </div>
                      </div>
                      <div class="col-sm-4" style="padding-left: 0;">
                        <h5 class="card-title tituloTabla mt-1">{{row.nombreProyecto}}</h5>
                      
                      <p class="card-text"></p>
                      <div [ngClass]="{'opacity': !row.confidencialidad}" class="row  text-center mb-2">
                          <input type="button"  value="Confidencial" class="botonBadge badge-pill badge-secondary bd-highlight btnConfidencial">
                      </div>
                      <div >
                        <h5 class=" subTituloMedium mb-1">Ciente:&nbsp;{{row.cliente}}</h5>
                        <h5 class=" subTituloRegular">
                          <img src="../../../../assets/img/dashboard/vacantes/reloj-de-pared.svg" alt="">
                          {{row.tiempo}} por {{row.createdBy}}</h5>
                      </div>
                      </div>
                      <div class="col-sm-5 d-flex align-items-center">
                        <p class="card-text"></p>
                        <div class="row  text-center w-100">
                          <div class="col-sm pr-0 pl-0"><a  class="cerosRegular">
                            <input  type="button" value="1" [ngClass]=" row.colorStep>=1 ? 'btn-circle-mas ml-1 mr-0 textobtn-mas verde' : 'btn-circle-mas ml-1 mr-0 textobtn-mas'">
                          </a> <br>
                            <a class="titulosCeros">
                              <h5 class=" titulosCeros mt-2">Descripción</h5>
                              <h5 class=" titulosCeros">de la vacante</h5></a>
                          </div>
                          <div class="col-sm pr-0 pl-0"><a class="cerosRegular">
                            <input  type="button" value="2" [ngClass]=" row.colorStep>=2 ? 'btn-circle-mas ml-1 mr-0 textobtn-mas verde' : 'btn-circle-mas ml-1 mr-0 textobtn-mas'">
                          </a> <br>
                            <a class="titulosCeros">
                              <h5 class=" titulosCeros mt-2">Condiciones</h5>
                              <h5 class=" titulosCeros">laborales</h5>
                            </a>
                          </div>
                          <div class="col-sm pr-0 pl-0"><a class="cerosRegular">
                            <input  type="button" value="3" [ngClass]=" row.colorStep>=3 ? 'btn-circle-mas ml-1 mr-0 textobtn-mas verde' : 'btn-circle-mas ml-1 mr-0 textobtn-mas'">
                          </a> <br>
                            <a  class="titulosCeros">Requisitos</a>
                          </div>
                          <div class="col-sm pr-0 pl-0"><a  class="cerosRegular">
                            <input  type="button" value="4" [ngClass]=" row.colorStep>=4 ? 'btn-circle-mas ml-1 mr-0 textobtn-mas verde' : 'btn-circle-mas ml-1 mr-0 textobtn-mas'">
                          </a> <br>
                            <a  class="titulosCeros">
                              <h5 class=" titulosCeros mt-2">Cuestionario</h5>
                            </a>
                          </div>
                          <div class="col-sm pr-0 pl-0"><a  class="cerosRegular">
                            <input  type="button" value="5" [ngClass]=" row.colorStep>=5 ? 'btn-circle-mas ml-1 mr-0 textobtn-mas verde' : 'btn-circle-mas ml-1 mr-0 textobtn-mas'">
                          </a> <br>
                            <a class="titulosCeros">
                              <h5 class=" titulosCeros mt-2">Pruebas y</h5>
                              <h5 class=" titulosCeros">video</h5>
                            </a>
                          </div>
                          <div class="col-sm pr-0 pl-0"><a  class="cerosRegular">
                            <input  type="button" [value]="6" [ngClass]=" row.colorStep>=6 ? 'btn-circle-mas ml-1 mr-0 textobtn-mas verde' : 'btn-circle-mas ml-1 mr-0 textobtn-mas'">
                          </a> <br>
                            <a class="titulosCeros">
                              <h5 class=" titulosCeros mt-2"> Equipo de </h5>
                              <h5 class=" titulosCeros">reclutamiento</h5>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm">
                        <h5 class="card-title tituloTabla ">
                            <div ngbDropdown placement="bottom-right">
                              <img *ngIf="row.permission" src="/assets/img/general/tresPuntosVertical.svg" style="float: right;" class="mt-1 cursor-pointer" id="dropdownBasic2" ngbDropdownToggle>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                <button ngbDropdownItem (click)="redirectTocCrear(row.colorStep, row.id);">
                                  <img src="../../../../assets/img/dashboard/vacantes/edit-gray.svg" class="mr-1"  alt="">
                                  Editar
                                </button>
                                <button ngbDropdownItem (click)="openScrollableCerrar(true,row.id,indice);resetChecksPausarVacante();">
                                  <img src="../../../../assets/img/dashboard/vacantes/xroja.svg" class="mr-1" alt="...">
                                  Eliminar</button>
                              </div>
                            </div>
                        </h5>
                      <p class="card-text"></p>
                      <!-- <div class="row  text-center">
                        <div class="col-sm">
                          <span _ngcontent-hos-c125=""
                          class="Continuar cursor-pointer badge badge-pill badge-secondary bd-highlight btn-greende mb-2 mt-2 p-1"
                          (click)="redirectTocCrear(row.colorStep, row.id);">&nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;</span>
                        </div>
                      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
  
        </tbody>
        <tfoot>
          <div class="d-flex justify-content-between p-2">
            <span>
              <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}} vacantes</label>
            </span>
          <ngb-pagination *ngIf="totalElements >5" class="d-flex justify-content-end mt-2" [collectionSize]="totalElements"
            [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm"
            (pageChange)="rowsMostradas($event);">
            <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
            <ng-template ngbPaginationPrevious>
              <img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt="" style="transform: rotate(180deg);">
            </ng-template>
            <ng-template ngbPaginationPages let-page let-pages="pages">
              <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                <div class="form-group d-flex flex-nowrap px-2">
                  <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1 textoPaginadorRegular">Página</label>
                  <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control-sm custom-pages-input input-sm"
                    id="paginationInput" [value]="page" (keyup.enter)="i.blur()" (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.25rem" />
                  <span id="paginationDescription" class="col-form-label text-nowrap px-2 textoPaginadorRegular">
                    de {{pages.length}}</span>
                </div>
              </li>
            </ng-template>
            <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt=""></ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
          </ngb-pagination>
          </div>
        </tfoot>
      </table>
    </div>
  </div>


    <!--Modal en Cerrar vacante-->
<ng-template   #cerrarVacante let-modal>
  <form  [formGroup]="formularioCerrarVacante">
    <div class="modal-header d-flex">
      <h4 class="modal-title flex-grow-1 text-center">¿Quieres cerrar la vacante?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina ml-4">Selecciona el motivo:</h4>

      <div class="form-check  ml-4">
        <div *ngFor ="let catalogo of motivosCerrarVacante" class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input"  [attr.id]="catalogo.nombreFormulario" formControlName="{{catalogo.nombreFormulario}}"
          (change) ="validarChecksPausarVacante(catalogo.nombreFormulario)">
          <label class="custom-control-label acuerdo"
          [attr.for]="catalogo.nombreFormulario">{{catalogo.spanishReason}}</label>
        </div>
        <div class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input"  [attr.id]="'otroCheck'" formControlName="otroCheck"
          (change) ="validarChecksPausarVacante('otroCheck')">
          <label class="custom-control-label"
          [attr.for]="'otroCheck'"></label>
          <input type="text" class="botonBadge1 text-left" placeholder="Otro" maxlength="20" [attr.id]="'otroText'" formControlName="otroText">
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top: 0;">
      <input type="button" value="Cerrar" [attr.disabled]="datosPausarVacanteValid || otroMotivo !== '' ? null : ''" [ngClass]='{"btn-red":datosPausarVacanteValid}' class="botonBadge2" (click)="siguientePausarVacante();">
    </div>
  </form>
</ng-template>

<ng-template #deleteVacant>
  <div>
    <div class="pt-4 modal-header justify-content-around">
      <h5 class="modal-title text-center font-weight-bold ">¿Eliminamos el borrador?</h5>
    </div>
    <div class="row p-2 modal-body">
      <div class="col-12">
        <p class="text-center">{{'configuration.profile.titleHeaderDescription' | translate}}</p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-6 text-center">
        <button class="badge badge-pill involve-button btnCancel py-2 px-5 mb-1" (click)="onCloseModal()">{{'commons.cancelar' | translate}}</button>
      </div>
      <div class="col-6 text-center btn-delet">
        <button class="badge badge-pill involve-button btnDelete py-2 px-5 mb-1" (click)="deleteVacancy()">
          <img class="hover" src="/assets/icons/icon-trash-white.svg" alt="">
          <img class="default" src="/assets/icons/icon-trash-red.svg" alt="">
          {{'commons.eliminar' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmacionCerrar let-modal>
  <form [formGroup]="formularioCerrarVacante">
    <div class="row" style="border-bottom: solid 1px; border-color: #F2F2F2;">
      <div class="col-sm-8  mt-2 mb-1">
        <h4 class="modal-title text-right">Importante</h4>
      </div>
      <div class="col-sm">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
        </button>
      </div>
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina">Al cerrar esta vacante</h4>
      <ul class="modal-title etiquetaPagina  ml-5">
        <li> Se eliminará la publicación de la vacante en las bolsas de empleo.</li>
        <li> Se conservarán los datos de los candidatos y podrá consultarlos en "Vacantes cerradas". </li>
        <li> No podrá volver a activar la vacante. </li>
        </ul>
    </div>
    <div class="modal-footer" style="border-top: 0; justify-content: center">
      <input type="button" value="Aceptar" class="botonBadge2 btn-greende" (click)="modal.close('Close click');setMensajeNotificacion('Se cerró la vacante');cerrarVacanteService(iconoChekBlanco);">
    </div>
  </form>
</ng-template>

<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>