<app-main-navbar [mainNavData]="mainNavData">
  <ng-container badgeAlert>
    <button *ngIf="_suscription.isSubcriptionActive" class="ml-2 btn btn-green-new btn-small"
      (click)="openModalNewClient(null,'new');">{{ 'clients.general.new' | translate }}</button>
  </ng-container>
  <ng-container search>
    <app-input-search-generic (spreadsearchInputGeneric)="searchClient($event)" class="mt-1"></app-input-search-generic>
  </ng-container>
</app-main-navbar>

<div *ngIf="!_suscription.isSubcriptionActive || rows.length < 1"
  class="contenedor row m-0 text-center align-items-center justify-content-center">
  <!-- Content here -->
  <div class="col-auto">
    <img [ngClass]="(totalElements < 1 || rowsMostrar < 1) && flagService ? '': 'opacity'"
      src="../../../../assets/img/dashboard/Clientes/iconClients.svg" alt="">
    <span *ngIf="(totalElements < 1 || rowsMostrar < 1) && flagService" class="texto">{{'clients.general.message' |
      translate }}</span>
    <span *ngIf="_suscription.isSubcriptionActive" (click)="openModalNewClient(null,'new');"
      class="badge badge-pill badge-secondary  p-2 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer"
      [ngClass]="(totalElements < 1 || rowsMostrar < 1) && flagService ? '': 'opacity'">{{ 'clients.general.new' |
      translate }}</span>
  </div>
</div>

<div *ngIf="_suscription.isSubcriptionActive && totalElements" class="container-fluid contenedor2"
  [ngClass]="(rowsPorPagina < 10) ? 'tamContenedor' : ''">
  <div class="table-responsive-lg mr-4 ml-4 mt-2">

    <form *ngIf="contadorChecks>0">
      <div class="card shadow-sm bg-white text-center mt-2 mb-2">
        <div class="row d-flex align-items-center">
          <h5 class="text-left mt-3 mb-3 ml-2">
            <img class="cursor-pointer ml-4" src="../../../../assets/img/general/checkmark.svg">
          </h5>
          <h5 class="subtituloNuevaVacante mt-3 mb-3 ml-2 text-left ">Seleccionó &nbsp;</h5>
          <h5 class="subtituloNuevaVacante  text-left mt-3 mb-3 ml-2 font-weight-bold">{{contadorChecks}}</h5>
          <span *ngIf="contadorChecks==1" class="subtituloNuevaVacante mt-3 mb-3 ml-2">cliente</span>
          <span *ngIf="contadorChecks>1" class="subtituloNuevaVacante mt-3 mb-3 ml-2">clientes</span>
          <h5 class="mt-3 mb-3 ml-2 subtituloNuevaVacante cursor-pointer"><span (click)="limpiarSeleccion();"
              style="color: #0BB9B9;">Limpiar selección&nbsp;</span></h5>
          <button type="button" class="btn btn-primary py-0 px-2 btn-sm mt-2 mb-2 ml-2 btnDeleteAll"
            (click)="eliminarClients('');">Eliminar</button>
        </div>
      </div>
    </form>
    <table class="table shadow-sm" id="tableCerradas" ng-table="tableParams" show-filter="true" data-pagination="true"
      pagination="true">
      <thead class="table_header">
        <tr class="bordes">
          <th scope="col" class="col-sm-offset-0">
            <div class="custom-control custom-checkbox ml-2">
              <input type="checkbox" [checked]="checkAll" class="custom-control-input" id="selectAll"
                (click)="selectAll()">
              <label class="custom-control-label {{claseCheck}}" for="selectAll"></label>
            </div>
          </th>
          <th sortable="name" scope="col" (sort)="onSort($event)">{{'clients.table.name' | translate }}</th>
          <th sortable="sector_spanishName" scope="col" (sort)="onSort($event)">{{'clients.table.sector' | translate }} </th>
          <th sortable="industry_spanishName" scope="col" (sort)="onSort($event)">{{'clients.table.activity' | translate }}</th>
          <th sortable="typeCompany" scope="col" (sort)="onSort($event)">{{'clients.table.type' | translate }}</th>
          <th sortable="employees" scope="col" (sort)="onSort($event)">{{'clients.table.employees' | translate }}</th>
          <th sortable="creationDate" scope="col" (sort)="onSort($event)">{{'clients.table.fecha' | translate }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows | slice: (page-1) * page_size : page * page_size;" class="bordes ">
          <td data-checkbox="true" scope="row" class="col-sm-offset-0 subTituloRegular" style="width: 3%;">
            <div class="custom-control custom-checkbox ml-2">
              <input type="checkbox" [checked]="row.check" class="custom-control-input" id="{{row.id}}"
                (change)="onchangeCheck(row.id)">
              <label class="custom-control-label" for="{{row.id}}"></label>
            </div>
          </td>
          <td class="subTituloRegular">{{row.name}}</td>
          <td class="subTituloRegular">{{row.sector}}</td>
          <td class="subTituloRegular">{{row.activities}}</td>
          <td class="subTituloRegular">{{row.typeOfCompany | titlecase}}</td>
          <td class="subTituloRegular">{{row.numEmployeesTemp}}</td>
          <td class="subTituloRegular" style="width: 13%;">{{row.fecha | date:'dd-MM-yyyy'}}</td>
          <td class="subTituloRegular">
            <div ngbDropdown placement="bottom-right">
              <span class="opacity">{{row.nombreProyecto}}</span>
              <img src="../../../../assets/img/general/tresPuntosVertical.svg" alt="..." style="float: right;"
                class="mt-1" id="dropdownClient" ngbDropdownToggle>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="openModalEditClient(row.client2);">
                  <img src="../../../../assets/img/dashboard/Clientes/edit.svg" class="mr-1" alt="">
                  {{'clients.table.editClient' | translate }}
                </button>
                <button ngbDropdownItem (click)="openModalDeleteClient(row.id);">
                  <img src="../../../../assets/img/dashboard/vacantes/xroja.svg" class="mr-1" alt="...">
                  {{'clients.table.deleteClient' | translate }}
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <div class="d-flex justify-content-between p-2">
      <span>
        <label id="paginationInputLabel" for="paginationInput"
          class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}}
          clientes</label>
      </span>
      <ngb-pagination *ngIf="totalElements >10" class="d-flex justify-content-end mt-2" [collectionSize]="totalElements"
        [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm" (pageChange)="rowsMostradas($event);">
        <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
        <ng-template ngbPaginationPrevious>
          <img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt=""
            style="transform: rotate(180deg);">
        </ng-template>
        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="form-group d-flex flex-nowrap px-2">
              <label id="paginationInputLabel" for="paginationInput"
                class="col-form-label mr-2 ml-1 textoPaginadorRegular">Página</label>
              <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                class="form-control-sm custom-pages-input input-sm" id="paginationInput" [value]="page"
                (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
                style="width: 2.25rem" />
              <span id="paginationDescription" class="col-form-label text-nowrap px-2 textoPaginadorRegular">
                de {{pages.length}}</span>
            </div>
          </li>
        </ng-template>
        <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer"
            src="../../../../assets/img/general/right-chevron.svg" alt=""></ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>


<!--Modal delete client-->
<ng-template #deleteClient let-modal>
  <div class="py-3">
    <div class="modal-header borderbBottomModal justify-content-center mb-4" style="border-bottom: 0;">
      <h4 class="modal-title titleModal text-center">{{'clients.deleteClient.title' | translate }}</h4>
    </div>
    <div class="modal-body borderbBottomModal borderTopModal mb-3">
      <h4 class="modal-title subtitleModal text-center">{{'clients.deleteClient.subTitle' | translate }}</h4>
    </div>
    <div class="modal-footer justify-content-e" style="border-top: 0; justify-content: space-evenly;">
      <span (click)="modal.dismiss('Cross click')"
        class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel">{{
        'commons.cancelar' | translate }}</span>
      <span (click)="eliminarClients('delete'); modal.dismiss('Cross click')"
        class="badge badge-pill py-1 px-3 mb-2 mt-2 btnNewClient cursor-pointer btnDelete d-flex justify-content-center align-items-center">
        <img src="../../../../../assets/img/dashboard/Clientes/basura.svg" alt="" class="mr-1 imgDelete"
          style="height: 1em;">
        {{ 'commons.eliminar' | translate }}</span>
    </div>
  </div>
</ng-template>

<!--Modal discard changes-->
<ng-template #modalExit let-modal>
  <div class="py-3">
    <div class="modal-header borderbBottomModal d-flex justify-content-center align-items-center"
      style="border-bottom: 0;">
      <h4 class="modal-title titleModal text-center">{{'clients.modals.discardTitle' | translate }}</h4>
    </div>
    <div class="modal-body borderbBottomModal borderTopModal">
      <h4 class="modal-title subtitleModal text-center">{{'clients.modals.discardMessage1' | translate }}</h4>
      <h4 class="modal-title subtitleModal text-center">{{'clients.modals.discardMessage2' | translate }}</h4>
    </div>
    <div class="modal-footer" style="border-top: 0; justify-content: space-evenly;">
      <span (click)="returnModal();modal.dismiss('Cross click')"
        class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel">{{
        'commons.cancelar' | translate }}</span>
      <span (click)="modal.dismiss('Cross click')"
        class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnDelete">
        {{ 'clients.modals.notSave' | translate }}</span>
    </div>
  </div>
</ng-template>

<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>