<!-- BALCK STATE -->
<div class="card-body fluid__card--blank-state">
                    
    <div class="fluid__card--title-body textBold-md">
        <p>Áreas de experiencia</p>
        <button class="btn btn-link">Agregar</button>
    </div>

    <div class="textRegular-sm">
        <p>Añade los sectores e industrias en los que has colaborado</p>
    </div>
    <img src="../../../../../assets/icons/icon-city-line.svg" alt="">

</div>


<!-- CARDS -->
<div class="card-body fluid__card--blank-state">
     
    <!-- TITULO -->
    <div class="fluid__card--title-body textBold-md">
        <p>Habilidades duras</p>
        <button class="btn btn-link">Agregar</button>
    </div>
    
    <!-- CARD -->
    <div class="fluid__card--scrollmenu">

        <div class="fluid__card--scrollmenu-card">
            <div class="textBold-sm"><p>Design Sprint</p></div>
            <div class="textRegular-sm"><P>Experiencia</P></div>
            <a href="#"><img src="../../../../../assets/icons/icon-menu-dot.svg" alt=""></a>
        </div>

        <div class="fluid__card--scrollmenu-card">
            <div class="textBold-sm"><p>Design Sprint</p></div>
            <div class="textRegular-sm"><P>Experiencia</P></div>
            <a href="#"><img src="../../../../../assets/icons/icon-menu-dot.svg" alt=""></a>
        </div>

        <div class="fluid__card--scrollmenu-card">
            <div class="textBold-sm"><p>Design Sprint</p></div>
            <div class="textRegular-sm"><P>Experiencia</P></div>
            <a href="#"><img src="../../../../../assets/icons/icon-menu-dot.svg" alt=""></a>
        </div>

        
    </div>

</div>