<div class="content-image">    
    <div class="content-loading" [@imageAnimation]="contentCtrl">
        <ng-content ></ng-content>
    </div>
    <img *ngIf="!sinClases"  [@imageAnimation]="imageCtrl" #lImage alt="" [class]="class" [width]="width" [height]="height">
    <img *ngIf="sinClases" [@imageAnimation]="imageCtrl" #lImage alt="">

</div>