@import "./src/assets/scss/main.scss";

.background-search {
  background-image: url("/assets/img/dashboard/TalentNetwork/talent-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 80vh;
  background-position: bottom;
  min-height: calc(100vh - 53px);
}

.search-filters {
  padding: 16px 0;
}

.form-container {
  margin-top: 90px;
  h2 {
    font-size: 32px;
    color: $S600;
  }
}

.filter input {
  height: 48px;
}
input.mat-input-element {
  margin-top: 0;
}

.search-icon {
  left: 10px;
  position: absolute;
  top: 14px;
}

.location-icon {
  left: 11px;
  position: absolute;
  top: 12px;
}

:host::ng-deep .my-custom-class .tooltip-inner {
  text-align: left;
}

input {
  &.error {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-position: right calc(0.375em + 0.1875rem) center;
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border-color: $E200;
    padding-right: calc(1.5em + 0.75rem);
  }
}

::ng-deep .tooltip-search .tooltip-inner {
  font-size: 12px;
  background-color: $S700;
}

.btn-ok {
  min-width: 48%;
  outline: none;
  border: none;
}
