<app-main-navbar [mainNavData]="mainNavData"></app-main-navbar>

<div class="row d-flex justify-content-center background-search">
  <div class="col-8">
    <form class="form-container" [formGroup]="form" *ngIf="_suscription.isSubcriptionActive">
      <h2 class="font-bold">
        Conecta tu vacante con el <br> Talento
      </h2>
      <div class="search-filters d-flex justify-content-between align-items-center mb-2">
        <div class="filter has-icon">
          <img src="assets/img/dashboard/TalentNetwork/search-interface-symbol.svg" alt="search-icon"
            class="search-icon">
          <input type="text" maxlength="50" class="form-control" formControlName="finder"
            placeholder="Buscar candidatos"
            ngbTooltip="Puedes buscar al candidato por nombre de perfil, habilidades o idiomas."
            tooltipClass="tooltip-search" placement="bottom-left"
            [ngClass]="{'error': hasFormFieldError('finder', form, 'required')}">
          <small *ngIf="hasFormFieldError('finder', form, 'required')"
            class="error-caption text-danger">Requerido</small>
        </div>
        <div class="filter has-icon">
          <img src="assets/img/dashboard/TalentNetwork/placeholder.svg" alt="location-icon" class="location-icon">
          <input 
            type="text" 
            maxlength="50" 
            class="form-control" 
            placeholder="Ubicación" 
            matInput
            formControlName="location" 
            [matAutocomplete]="auto"
            [ngClass]="{'error': hasFormFieldError('location', form, 'required')}">
          <small 
            *ngIf="hasFormFieldError('location', form, 'required')"
            class="error-caption text-danger">
              Requerido
          </small>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <button type="button" class="btn btn-green-new btn-ok" (click)="redirectToCandidates()">Buscar</button>
    </form>
  </div>
</div>