<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

        <!-- ACCORDEON -->
    <div class="col col-lg-3 col-sm-12 ">
        <div class="grid__accordion">
            <app-sidebar></app-sidebar>
        </div>
      </div>
  
      <!-- TXT -->
      <div class="col col-lg-7 col-sm-12 fluid__top">
          <div class="forgot-info-container">

            <form>
                <div class="main-container personal-information"> 
                  <div class="forgot-info-container" >
                
                    <!-- TITLE -->
                    <div class="personal-information__title">
                        <h1>Interesante... ¿Dónde vives actulamente?</h1>
                    </div>
                      
                    <!-- PAIS -->
                    <div class="forgot-info-form personal-information__title-input">
                        <div class="info-form-inpput">
                            <p>Escribe tu país o búscalo en nuestra lista</p>
                            <input type="text" class="form-control"placeholder="Puesto">
                        <div class="invalid-feedback"></div>
                        </div>
                    </div>
    
                    <!-- ESTADO -->
                    <div class="personal-information__title-input">
                        <p>Estado</p>
                        <app-select [arrayObjetos]="arrayPais"></app-select>
                    </div>
    
                    <!-- CIUDAD -->
                    <div class="personal-information__title-input">
                        <p>Ciudad</p>
                        <app-select [arrayObjetos]="arrayCiudad" (change)="onChangeCandidateLocation()"></app-select>
                    </div>
    
                  </div>
                </div>
            </form>
            
          </div>
      </div>

    </div>
</div>