@import "./src/assets/scss/main.scss";

.statistics-filters-container {
    padding: 6px 40px 0px;
    border-bottom: 1px solid $S100;
}
.statistics-content {
    padding: 0 40px;
}
.nav-tabs {
    border-bottom: none;
    .nav-item {
        font-size: 14px;
        .nav-link.active {
            @include fontbold();
            color: $S700;
            border: none;
            border-bottom: 2px solid $P500;
            &:hover {
                color: $S700;
            }
        }
        .nav-link {
            color: $S700;
            border: none;
            border-bottom: 2px solid transparent;
            &:hover {
                color: $S700;
                border-bottom: 2px solid $S200;
            }
        }
    }
}

.img-col {
    padding: 1% 0% 0% 3%;
}
