<app-main-navbar [mainNavData]="mainNavData"></app-main-navbar>

<div class="statistics-filters-container d-flex justify-content-between">
  <div class="col p-0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="resumen-tab" data-toggle="tab" href="#resumen" role="tab" aria-controls="resumen"
          aria-selected="true">Resumen</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="comparativa-tab" data-toggle="tab" href="#comparativa" role="tab"
          aria-controls="comparativa" aria-selected="false">Comparativa</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="graficas-tab" data-toggle="tab" href="#graficas" role="tab" aria-controls="graficas"
          aria-selected="false">Gráficas</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="detalle-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="detalle"
          aria-selected="false">Detalles</a>
      </li>
    </ul>
  </div>
</div>
<div class="statistics-content">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
      <app-resumen></app-resumen>
    </div>
    <div class="tab-pane fade" id="comparativa" role="tabpanel" aria-labelledby="comparativa-tab">
      <app-comparativa></app-comparativa>
    </div>
    <div class="tab-pane fade" id="graficas" role="tabpanel" aria-labelledby="graficas-tab">
      <app-graficas></app-graficas>
    </div>
    <div class="tab-pane fade" id="detalle" role="tabpanel" aria-labelledby="detalle-tab">
      <app-detalle></app-detalle>
    </div>
  </div>
</div>