<div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
        <h3>¿Combinamos estos grupos?</h3>
        <i class="close" aria-hidden="true" (click)="closeModal()"></i>
    </div>

    <div class="involve-modal-body">
        <p class="text-center">Asegúrate que sea el mismo perfil.</p>
        <div class="involve-modal-body-buttons d-flex justify-content-center align-items-center text-center">
            <button class="btn btn-black mr-2" (click)="closeModal()">Cancelar</button>
            <button class="btn btn-green-new" (click)="combineGroup()">Combinar</button>
        </div>
    </div>

</div>