<app-sidenav-vacantes (propagarFiltroCliente)="aplicarFiltroClientes($event)"
(propagarFiltroReclutador)="aplicarFiltroReclutador($event)" (spreadVacantSearchInput)=searchVacant($event)></app-sidenav-vacantes>
<div *ngIf="!_suscription.isSubcriptionActive || (_suscription.isSubcriptionActive  && rows.length < 1)" class="contenedor row m-0 text-center align-items-center justify-content-center">
  <!-- Content here -->
  <div class="col-auto">
    <img src="../../../../assets/img/dashboard/vacantes/aplausos.svg" alt="">
    <span class="texto">¡Muy bien! <br> Por ahora no hay vacantes en pausa</span>
  </div>
</div>

<div *ngIf="_suscription.isSubcriptionActive && totalElements > 0" class="container-fluid contenedor2" [ngClass]="(rowsPorPagina < 4) ? 'tamContenedor' : ''">
  <div class="table-responsive-lg">
      <table class="table" data-pagination="true" pagination="true">
        <thead class="thead-dark">
          <div class="row mt-2">
            <div class="col" style="font-size: 14px;">
              <span *ngIf="totalElements > 5">Mostrar</span> 
              <select *ngIf="totalElements > 5" class="selectFiltros" aria-label="Default select example" [(ngModel)]="page_size" (change)="selecRow()">
                <option *ngIf="totalElements > 5" value="5" selected>5 vacantes</option>
                <option value="10"><strong>10 vacantes</strong></option>
                <option value="25"><strong>25 vacantes</strong></option>
                <option value="50"><strong>50 vacantes</strong></option>
                <option value="1000"><strong>100 vacantes</strong></option>
              </select>
            </div>
          
            <div class="col text-right" style="font-size: 14px;">
              Ordenar por 
              <select class="selectFiltros" aria-label="Default select example" (change)="filterOrderBy($any($event).target.value);">
                <option *ngFor="let lista of arregloOrderBy" value="{{lista.value}}" [selected]='lista.nombre =="Recientes"'>{{lista.nombre}}</option>
              </select>
            </div>
          </div>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let indice = index;">
            <th scope="row">
              <div class="card-group">
                <div class="card shadow-sm bg-white">
                  <div class="card-body" style="padding: 0.50rem;">
                    <div class="row">
                      <div class="col-sm-3">
                        <h5 class="card-title tituloTabla mb-1">{{row.nombreProyecto}}</h5>
                      <p class="card-text"></p>
                      <div [ngClass]="{'opacity': !row.confidencialidad}" class="row  text-center mb-2">
                          <input type="button"  value="Confidencial" class="botonBadge badge-pill badge-secondary bd-highlight btnConfidencial">
                      </div>
                      <div >
                        <h5 class=" subTituloMedium mb-1">Ciente:&nbsp;{{row.cliente}}</h5>
                        <h5 class=" subTituloRegular">
                          <img src="../../../../assets/img/dashboard/vacantes/reloj-de-pared.svg" alt="">
                          Pausada el {{row.tiempo}}</h5>
                      </div>
                      </div>
                      <div class="col-sm-4">
                        <h5 class="card-title tituloTabla opacity">{{row.nombreProyecto}}</h5>
                        <h6 class="card-subtitle  subTituloMedium">Candidatos por etapa</h6>
                        <p class="card-text"></p>
                        <div class="row  text-center">
                          <div class="col-sm pr-0 pl-0 sombreado"><a  class="cerosRegular">{{row.candidatos.nuevos}}</a> <br>
                            <a class="titulosCeros">Postulantes</a>
                          </div>
                          <div class="col-sm pr-0 pl-0 sombreado"><a class="cerosRegular">{{row.candidatos.videos}}</a> <br>
                            <a class="titulosCeros">
                              <h5 class=" titulosCeros mt-2">Pruebas y</h5>
                              <h5 class=" titulosCeros">videos</h5>
                            </a>
                          </div>
                          <!--<div class="col-sm pr-0 pl-0 sombreado"><a class="cerosRegular">{{row.candidatos.entrevista}}</a> <br>
                            <a  class="titulosCeros">Entrevista</a>
                          </div> -->
                          <div class="col-sm pr-0 pl-0 sombreado"><a  class="cerosRegular">{{row.candidatos.finalistas}}</a> <br>
                            <a  class="titulosCeros">Finalistas</a>
                          </div>
                          <div class="col-sm pr-0 pl-0 sombreado"><a  class="cerosRegular">{{row.candidatos.contradatos}}</a> <br>
                            <a class="titulosCeros">Contratados</a>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm text-center">
                        <h5 class="card-title tituloTabla opacity">L</h5>
                        <h6 class="card-subtitle  subTituloMedium">Reclutador</h6>
                        <p class="card-text"></p>
                        <div class="row">
                          <div class="col-sm">
                            <span *ngFor="let imgg of row.reclutadores; let i=index" class="align-middle">
                              <img *ngIf="i < 2 && imgg.url != ''" src="{{imgg.url}}" alt="..." class="rounded-circle mr-1 photo"
                                placement="bottom" ngbTooltip="{{imgg.nombre}}"
                                tooltipClass="my-custom-class"
                              >
                              <input *ngIf="i < 2 && imgg.url == ''" type="button" value="{{imgg.iniciales}}" class="btn-circle-mas ml-1 mr-0 textobtn-mas"
                                placement="bottom" ngbTooltip="{{imgg.nombre}}"
                                tooltipClass="my-custom-class"
                              >
                            </span>
                            
                            <app-modal-reclutadores class="align-middle" [arregloReclutadores]=" row.reclutadores" [ocultar]="true" ngbTooltip="Añadir reclutador"></app-modal-reclutadores>
                            
                          </div>
                        </div>
                      </div>

                      <div class="col-sm text-center">
                        <h5 class="card-title tituloTabla opacity">L</h5>
                        <h6 class="card-subtitle  subTituloMedium">Motivo de la pausa</h6>
                        <p class="card-text"></p>
                        <div class="row">
                          <div class="col-sm px-0">
                            <input type="button"  value="{{row.motivoPausa}}" class="botonBadge badge-pill badge-secondary bd-highlight bluecolor">
                          </div>
                        </div>
                      </div>

                      <!-- <div class="col-sm-1" style="padding-right: 0px;">
                        <h5 class="card-title tituloTabla ">                      
                          <span class="opacity">l</span>
                        </h5>
                        <h6 class="card-subtitle  subTituloMedium opacity">Mo</h6>
                        <p class="card-text"></p>
                      </div> -->
                      <div class="col-sm-1">
                        <h5 class="card-title tituloTabla ">
                      
                          <!-- <img src="../../../../assets/img/general/x.svg" alt="..." class="mt-1 cursor-pointer" (click)="openScrollableCerrar(true,row.idVacante,indice);resetChecksPausarVacante();"> -->
                          <div ngbDropdown placement="bottom-right">
                            <img *ngIf="row.permission" src="/assets/img/general/tresPuntosVertical.svg" style="float: right;" class="mt-1 cursor-pointer" id="dropdownBasic2" ngbDropdownToggle>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                              <button ngbDropdownItem (click)="postVacancy(row.idVacante);">
                                <img src="../../../../assets/img/dashboard/vacantes/activar.svg" class="mr-1"  alt="">
                                Activar
                              </button>
                              <!-- <button ngbDropdownItem (click)="openNombrePlantilla(row.vacant);">
                                <img src="../../../../assets/img/dashboard/vacantes/plantilla.svg" class="mr-1"  alt="">
                                Convertir a plantilla
                              </button> -->
                              <button ngbDropdownItem (click)="openScrollableCerrar(true,row.idVacante,indice);resetChecksPausarVacante();">
                                <img src="../../../../assets/img/dashboard/vacantes/xroja.svg" class="mr-1" alt="...">
                                Cerrar</button>
                            </div>
                          </div>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
  
        </tbody>
        <tfoot>
          <div class="d-flex justify-content-between p-2">
            <span>
              <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}} vacantes</label>
            </span>
          <ngb-pagination  *ngIf="totalElements >5" class="d-flex justify-content-end" [collectionSize]="totalElements"  [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false"
            size="sm" (pageChange)="rowsMostradas($event);">
            <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
          <ng-template ngbPaginationPrevious>
            <img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt="" style="transform: rotate(180deg);">
          </ng-template>
            <ng-template ngbPaginationPages let-page let-pages="pages">
                <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="form-group d-flex flex-nowrap px-2">
                      <label
                          id="paginationInputLabel"
                          for="paginationInput"
                          class="col-form-label mr-2 ml-1"
                      >Página</label>
                      <input #i
                          type="text"
                          inputmode="numeric"
                          pattern="[0-9]*"
                          class="form-control-sm custom-pages-input input-sm"
                          id="paginationInput"
                          [value]="page"
                          (keyup.enter)="i.blur()"
                          (blur)="selectPage(i.value)"
                          (input)="formatInput($any($event).target)"
                          aria-labelledby="paginationInputLabel paginationDescription"
                          style="width: 2.5rem"
                      />
                      <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                          de {{pages.length}}</span>
                    </div>
                </li>
              </ng-template>
              <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt=""></ng-template>
              <ng-template ngbPaginationLast>Last</ng-template>
        </ngb-pagination>
      </div>
        </tfoot>
      </table>
    </div>
  </div>
 

  <!--  Modal publicar vacante-->

  <ng-template #publicarVacante let-modal>
    <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
      <form [formGroup]="formularioPublicar">
        <div class="card text-center borde borde-bottom ">
          <h5 class="card-header text-left header">Publicar vacante
            <button class="badge badge-pill btnSigArriba botonAzul px-2 py-1 mr-3" style="width: 15% !important;"  (click)="modal.close('Close click');" >Publicar</button>
          </h5>
            <div class=" text-left card-body" style="padding-right: 8%;border-bottom: solid 1px;border-color:#F2F2F2">
              <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante">Portales de empleo</label>
              <div  class="ml-5 row mb-4">
                <label for="colFormLabel" class="col-sm-4  subTituloCard">Portales de empleo<label for="colFormLabel" class="subTituloCard">
                    configurados previamente</label></label>
                <div class="col-sm-8">
                  <div  class="card cardColor mb-4 ">
                    <div class="card-body padding ">
                      <div class="form-switch d-flex align-items-center mb-2 mt-2 ">
                        <label class="switch mb-0">
                          <input type="checkbox" >
                          <span class="slider round"></span>
                        </label>
                        <img  class=" cursor-pointer ml-4"src="../../../../assets/img/dashboard/logoInvolveLetrasVerdes.svg">
                      </div>
                    </div>
                  </div>
    
                  <div  class="card cardColor mb-4 ">
                    <div class="card-body padding ">
                      <div class="form-switch d-flex align-items-center mb-2 mt-2 ">
                        <label class="switch mb-0">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                        <img  class=" cursor-pointer ml-4"src="../../../../assets/img/dashboard/vacantes/logoLinkedIn.svg">
                      </div>
                    </div>
                  </div>
    
                  <div  class="card cardColor mb-4 ">
                    <div class="card-body padding ">
                      <div class="form-switch d-flex align-items-center mb-2 mt-2 ">
                        <label class="switch mb-0">
                          <input type="checkbox" >
                          <span class="slider round"></span>
                        </label>
                        <img  class=" cursor-pointer ml-4"src="../../../../assets/img/dashboard/vacantes/logoOcc.svg">
                      </div>
                    </div>
                  </div>
    
                  <div  class="card cardColor mb-4 ">
                    <div class="card-body padding ">
                      <div class="form-switch d-flex align-items-center mb-2 mt-2 ">
                        <label class="switch mb-0">
                          <input type="checkbox" >
                          <span class="slider round"></span>
                        </label>
                        <img  class=" cursor-pointer ml-4"src="../../../../assets/img/dashboard/vacantes/logoIndeed.svg">
                      </div>
                    </div>
                  </div>
    
                  <div  class="card cardColor mb-4 ">
                    <div class="card-body padding ">
                      <div class="form-switch d-flex align-items-center mb-2 mt-2 ">
                        <label class="switch mb-0">
                          
                        </label>
                        <img  class=" cursor-pointer ml-4"src="../../../../assets/img/dashboard/vacantes/Imagen 3.png">
                        <label for="" style="margin-left: 40%;margin-top: 0%;box-sizing: border-box;">Configurar</label>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              <!--fin pruebas-->
            </div>
        </div>
        
        <!--Para la barra de botones-->
        <div class="card text-right ml-4 mr-4 borde mb-5">
          <div class=" text-rigth card-body" style="height: 1em;">
            <div class="row mb-3 ml-5">
              <div class="col-sm-12" style="padding-right: 0;">
                <div class="row">
                  <div  class="col-sm-6 text-left"> 
                  </div>
                  <div class="col-sm-6 text-right" style="padding-right: 0;">
                    <input type="button"  value="Publicar" class="botonBadge badge-pill badge-secondary bd-highlight btnSiguiente px-2 py-1 botonAzul" (click)="modal.dismiss('Cross click');">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <!--Modal en Cerrar vacante-->
<ng-template   #cerrarVacante let-modal>
  <form  [formGroup]="formularioCerrarVacante">
    <div class="modal-header d-flex" >
      <h4 class="modal-title flex-grow-1 text-center">¿Quieres cerrar la vacante?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina ml-4">Selecciona el motivo:</h4>

      <div class="form-check  ml-4">
        <div *ngFor ="let catalogo of motivosCerrarVacante" class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input"  [attr.id]="catalogo.nombreFormulario" formControlName="{{catalogo.nombreFormulario}}"
          (change) ="validarChecksPausarVacante(catalogo.nombreFormulario)">
          <label class="custom-control-label acuerdo"
          [attr.for]="catalogo.nombreFormulario">{{catalogo.spanishReason}}</label>
        </div>
        <div class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input"  [attr.id]="'otroCheck'" formControlName="otroCheck"  
          (change) ="validarChecksPausarVacante('otroCheck')">
          <label class="custom-control-label"
          [attr.for]="'otroCheck'"></label>
          <input type="text" class="botonBadge1 text-left" placeholder="Otro" maxlength="20" [attr.id]="'otroText'" formControlName="otroText">
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top: 0;">
      <input type="button" value="Cerrar" [attr.disabled]="datosPausarVacanteValid ? null : ''" [ngClass]='{"btn-red":datosPausarVacanteValid}' class="botonBadge2" (click)="siguientePausarVacante();">
    </div>
  </form>
</ng-template>

<!--Modal mensaje confirmacion cerrar-->

<ng-template #confirmacionCerrar let-modal>
  <form [formGroup]="formularioCerrarVacante">
    <div class="row" style="border-bottom: solid 1px; border-color: #F2F2F2;">
      <div class="col-sm-8  mt-2 mb-1">
        <h4 class="modal-title text-right">Importante</h4>
      </div>
      <div class="col-sm">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <img  src="../../../../assets/img/general/x.svg" alt="..." class="mt-2">
        </button>
      </div>
      
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina">Al cerrar esta vacante</h4>
      <ul class="modal-title etiquetaPagina  ml-5">
        <li> Se eliminará la publicación de la vacante en las bolsas de empleo.</li>
        <li> Se conservarán los datos de los candidatos y podrá consultarlos en "Vacantes cerradas". </li>
        <li> No podrá volver a activar la vacante. </li>
        </ul>
    </div>
    <div class="modal-footer" style="border-top: 0; justify-content: center">
      
      <input type="button" value="Aceptar" class="botonBadge2 btn-greende" (click)="modal.close('Close click');setMensajeNotificacion('Se cerró la vacante');cerrarVacanteService(iconoChekBlanco);">
    </div>
  </form>
</ng-template>

<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>