<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span class="close-white" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<ng-container>
	<span *ngIf="isModal else longContent"></span>
	<ng-template #longContent let-modal>
		<div class="modal-header">
			<img class="img-head center-img" src="../../../../assets/Grupo 2754.svg" alt="" width="80%" height="80%">
		</div>
		<hr>
		<div class="modal-body">
			<h1>POLÍTICA DE COOKIES</h1>

			<p>Una cookie es un pequeño fichero de texto que se almacena en su navegador cuando visita casi cualquier página web. Su utilidad es que la web sea capaz de recordar su visita cuando vuelva a navegar por esa página. Las cookies suelen almacenar información de carácter técnico, preferencias personales, personalización de contenidos, estadísticas de uso, enlaces a redes sociales, acceso a cuentas de usuario, etc. El objetivo de la cookie es adaptar el contenido de la web a su perfil y necesidades, sin cookies los servicios ofrecidos por cualquier página se verían mermados notablemente.
			<br><br>
		
			Las cookies son pequeños archivos de texto que se almacenan en su ordenador o dispositivo móvil cuando visita un sitio web y/o nuestros diferentes productos. En esta sección, utilizamos por comodidad “cookies” como término general para técnicas tales como cookies y balizas web. No ocupan demasiado espacio y se eliminarán automáticamente cuando caduquen. Algunas de las cookies caducan al final de su sesión de Internet, mientras que otras se guardarán por un periodo limitado de tiempo.
			<br><br>
		
			Las cookies INVOLVE se denominan “cookies de origen”. Las cookies de partes que no seamos nosotros se denominan “cookies de terceros”. Las cookies de terceros habilitan características o funcionalidades de terceros que se proporcionen en el sitio web o través de él (por ejemplo, publicidad, contenidos interactivos y análisis). Las partes que establecen estas cookies de terceros pueden reconocer su ordenador o dispositivo móvil, tanto cuando visite el sitio web en cuestión como al visitar otros sitios web determinados. Utilizamos nuestras cookies y cookies de terceros por varias razones.
			<br><br>
		
			Las cookies más importantes son las cookies obligatorias. Son esenciales y le ayudan a navegar por la web y a utilizar las funciones básicas, tales como los complementos multimedia. Luego están las cookies de funcionalidad que le permiten guardar su bolsa de la compra, crear una lista de deseos y guardar sus datos de compra para agilizar el proceso de pago. Las cookies de rendimiento y análisis que utilizamos para mejorar nuestro sitio web. También nos gusta mostrarle ofertas relevantes. Para poder hacerlo, recopilamos datos de navegación, que pueden estar vinculados a un identificador único para permitirnos comprender cómo interactúa con las distintas plataformas de INVOLVE. Las cookies de interacción se utilizan para interactuar con las redes sociales o para enviar comentarios. Las cookies de segmentación, las cookies de publicidad y las cookies de redes sociales registran sus preferencias con el fin de mostrar anuncios relevantes fuera de los sitios de INVOLVE. Además, las cookies de redes sociales pueden utilizarse para el seguimiento de su actividad en plataformas de redes sociales.
			<br><br>
		
			<b>COOKIES QUE SERÁN UTILIZADAS EN ESTE SITIO WEB</b>
			<br><br>
		
			Siguiendo las directrices de la _______________________________________________ procedemos a detallar el uso de cookies que hace esta web con el fin de informarle con la máxima exactitud posible.
			<br><br>
		
			Hay diferentes tipos de cookies con distintos usos. Algunas solo sirven para que pueda navegar y ver determinadas características. Otras nos darán una idea sobre su experiencia de navegación, como, por ejemplo, si tiene problemas para encontrar lo que busca, de manera que podamos mejorar y lograr que su próxima visita sea lo más agradable posible.
			<br><br>
		
			Este sitio web utilizaran las siguientes cookies:</p>
		
			<ul>
				<li>
					<b>COOKIES PROPIAS</b>
					<br>
				
					Cookies de sesión, para garantizar que los usuarios que escriban comentarios en el blog sean humanos y no aplicaciones automatizadas. De esta forma se combate el spam.
				</li> <br>
				<li>
					<b>COOKIES DE TERCEROS:</b>
					<br>
		
					Google Analytics: Almacena cookies para poder elaborar estadísticas sobre el tráfico y volumen de visitas de esta web. Al utilizar este sitio web está consintiendo el tratamiento de información acerca de usted por Google. Por tanto, el ejercicio de cualquier derecho en este sentido deberá hacerlo comunicando directamente con Google.
				</li> <br>
				<li>Redes sociales: Cada red social utiliza sus propias cookies para que usted pueda pinchar en botones del tipo Me gusta o Compartir.</li>
			</ul>
		
			<p class="upper-normal">DESACTIVACIÓN O ELIMINACIÓN DE COOKIES</p>
			<p>En cualquier momento podrá ejercer su derecho de desactivación o eliminación de cookies de este sitio web. Estas acciones se realizan de forma diferente en función del navegador que esté usando.</p>
		
			<p class="upper-normal">¿QUÉ OCURRE SI NO QUIERO ACEPTAR LAS COOKIES?</p>
			<p>Puede cambiar la configuración del navegador para eliminar o evitar el almacenamiento de ciertas cookies en su ordenador o dispositivo móvil sin su consentimiento expreso. La sección de “ayuda” de su navegador debe proporcionar información sobre cómo administrar la configuración de cookies. Descubra cómo se hace en su navegador aquí:</p>
		
			<div class="no-justify">
				<p>
					Internet Explorer: <a href="https://support.microsoft.com/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/help/17442/windows-internet-explorer-delete-manage-cookies</a>
					<br>
					Mozilla Firefox: <a href="http://support.mozilla.com/en-US/kb/Cookies" target="_blank">http://support.mozilla.com/en-US/kb/Cookies</a>
					<br>
					Google Chrome: <a href="http://www.google.com/support/chrome/bin/answer.py?hl=en&answer=95647" target="_blank">http://www.google.com/support/chrome/bin/answer.py?hl=en&answer=95647</a> <br>
					Safari: <a href="http://support.apple.com/kb/PH5042" target="_blank">http://support.apple.com/kb/PH5042</a> <br>    
					Opera: <a href="http://www.opera.com/browser/tutorials/security/privacy/" target="_blank">http://www.opera.com/browser/tutorials/security/privacy/</a>
				</p>
			</div>
		
			<div class="sangria-normal">
				<p>Cookies que se utilizan en este sitio web.</p>
				<table>
					<tbody>
						<tr>
							<td>Google Analytics</td>
							<td>Almacena cookies para poder elaborar estadísticas sobre el tráfico y volumen de visitas de esta web. <br><br>
								Enlace de referencia: https://policies.google.com/technologies/cookies?hl=es#how-google-uses-cookies</td>
						</tr>
						<tr>
							<td>Chat Bitrix</td>
							<td>Utiliza  un tipo de cookies necesarias para el correcto funcionamiento de determinadas funciones: como la capacidad de utilizar el chat en vivo. Deshabilitar estas cookies deshabilitará el acceso a esas funciones y degradará su experiencia en el sitio web.
								<br><br>
								BITRIX_SM_TIME_ZONE = Live chat feature
								bx_user_id
								Enlace de referencia:
								https://www.bitrix24.es/about/cookie-policy/
								</td>
						</tr>
		
						<tr>
							<td>Involve</td>
							<td>ngx-cookie-service - administrador de cookies de origen</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<p><b>*Notas adicionales</b></p>
			<ul>
				<li>Ni esta web ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad de las políticas de privacidad que puedan tener los terceros mencionados en esta política de cookies.</li>
				<li>Los navegadores web son las herramientas encargadas de almacenar las cookies y desde este lugar debe efectuar su derecho a eliminación o desactivación de las mismas. Ni esta web ni sus representantes legales pueden garantizar la correcta o incorrecta manipulación de las cookies por parte de los mencionados navegadores.</li>
				<li>En algunos casos es necesario instalar cookies para que el navegador no olvide su decisión de no aceptación de las mismas.</li>
				<li>En el caso de las cookies de Google Analytics, esta empresa almacena las cookies en servidores ubicados en Estados Unidos y se compromete a no compartirla con terceros, excepto en los casos en los que sea necesario para el funcionamiento del sistema o cuando la ley obligue a tal efecto. Según Google no guarda su dirección IP. Google Inc. es una compañía adherida al Acuerdo de Puerto Seguro que garantiza que todos los datos transferidos serán tratados con un nivel de protección acorde a la normativa europea. Si desea información sobre el uso que Google da a las cookies le <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es&csw=1" target="_blank">adjuntamos este otro enlace.</a></li>
				<li>Para cualquier duda o consulta acerca de esta política de cookies no dude en comunicarse con nosotros a través de la sección de contacto.</li>
			</ul>
		
			<p class="upper-normal">MÁS INFORMACIÓN</p>
			<p>Si tiene alguna duda respecto a nuestro uso de las cookies u otras tecnologías, favor de ponerse en contacto con <b>INVOLVE</b>, quien aportará la información que sea necesaria.
			<br><br>
		
			Nos reservamos el derecho de modificar esta política de cookies en cualquier momento, por lo tanto, revísala con frecuencia. Los cambios y aclaraciones tendrán efecto inmediatamente después de su publicación en la página web. Si realizamos cambios sustanciales a esta política, te notificaremos que se ha actualizado, para que sepas qué información recopilamos, cómo la usamos y en qué circunstancias, si corresponde, usamos o divulgamos la información.</p>
		</div>
		<hr>
		<div class="p-3 text-center" *ngIf="isModal">
			<button type="button" class="btn-cancel mr-3" (click)="closeModal(false)">Cancelar</button>
			<button type="button" class="btn-ok" (click)="closeModal(true)">Aceptar</button>
		</div>
	</ng-template>
</ng-container>

<ng-container *ngIf="isModal">
	<p class="d-inline-block cursor-pointer m-0"><a class="underline" (click)="openScrollableContent(longContent)">política de cookies</a></p>
</ng-container>
