<app-side-nav-register></app-side-nav-register>
<div class="container d-flex justify-content-center py-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center" style="margin-bottom: 5em;">

              <!-- logo -->
              <img class="img-logo" src="../../../../assets/logo-involve.svg" alt="">

                <div class=" text-left">
                  <form [formGroup]="formCompany">
                   <h2 class="ml-lg-5 title text-center">{{'configuration.company.company' | translate}}</h2>
                    <!--Nombre empresa-->
                    <div class="row mb-3 ml-lg-5 mb-3">
                      <label for="colFormLabel"
                        class="col-form-label textoEtiquetas" maxlength="99">{{'configuration.company.name' | translate}}</label>
                      
                        <input type="text" autocomplete="off"
                         formControlName="nameCompany"
                         class="form-control efectosInput"
                         id="nameCompany"
                         maxlength="99"
                         placeholder="{{'configuration.company.placeholder' | translate}}"
                          [ngClass]="(formCompany.controls.nameCompany.errors && formCompany.controls.nameCompany.touched) ? 'is-invalid' : 'ng-invalid'">
                        <small *ngIf="formCompany.controls.nameCompany.errors?.required && formCompany.controls.nameCompany.touched"
                          class="text-danger">
                          {{'commons.requerido' | translate}}
                        </small>
                        <small *ngIf="formCompany.controls.nameCompany.errors?.pattern && formCompany.controls.nameCompany.touched"
                          class="text-danger">Usa sólo letras</small>
                    </div>
                   
              
                    <!-- Sector -->
                    <div class="row ml-lg-5 mb-3 ml">
                      <h6 class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.sector' | translate}}</h6>
                        <select formControlName='companySector' name="companySector" class="form-select mdb-select md-form select"
                          id="companySector"
                          [ngClass]="(formCompany.controls.companySector.errors && formCompany.controls.companySector.touched) ? 'is-invalid' : 'ng-invalid'">
                          <option selected disabled value="">Seleccionar</option>
                          <option *ngFor="let itemSectores of sectores" [value]="itemSectores.sectorId">{{itemSectores.spanishName}}
                          </option>
                        </select>
                        <small *ngIf="formCompany.controls.companySector.errors && formCompany.controls.companySector.touched"
                          class="text-danger">
                          {{'commons.requerido' | translate}}</small>
                    </div>
              
                    <!-- Giro -->
                    <div class="ml-lg-5 row mb-3 ml">
                      <label for="colFormLabel" class="col-form-label textoEtiquetas">Giro</label>
                        <select formControlName="companygiro" class="form-select mdb-select md-form select" id="companygiro"
                          [ngClass]="(formCompany.controls.companygiro.errors && formCompany.controls.companygiro.touched) ? 'is-invalid' : 'ng-invalid'">
                          <option selected disabled value="">Seleccionar</option>
                          <option *ngFor="let itemGiros of giros" [value]="itemGiros.industryId">{{itemGiros.spanishName}}</option>
                        </select>
                        <small *ngIf="formCompany.controls.companygiro.errors && formCompany.controls.companygiro.touched"
                          class="text-danger">
                          {{'commons.requerido' | translate}}</small>
                    </div>
              
                    <!--tipo de empresa-->
                    <div class="ml-lg-5 row mb-3 ml">
                      <label for="colFormLabel"
                        class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.tipoEmpresa' | translate}}</label>
                        <select formControlName="typeCompany" class="form-select mdb-select md-form select" id="typeCompany"
                          [ngClass]="(formCompany.controls.typeCompany.errors && formCompany.controls.typeCompany.touched) ? 'is-invalid' : 'ng-invalid'">
                          <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                          <option class="select" value="NACIONAL">Nacional</option>
                          <option class="select" value="INTERNACIONAL">Internacional</option>
                        </select>
                        <small *ngIf="formCompany.controls.typeCompany.errors && formCompany.controls.typeCompany.touched"
                          class="text-danger">
                          {{'commons.requerido' | translate}}</small>
                    </div>
              
                    <!-- Num empleados -->
                    <div class="ml-lg-5 row mb-3 ml">
                      <label for="colFormLabel"
                        class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.numEmpleados' | translate}}</label>
                        <div class="input-group mt-1">
                          <button *ngFor="let objTamanio of tamanios" class="btn btn-sm  borderRadio-left1 btnEmployed"
                            [ngClass]="{'btn btn-sm conBordeRadioLeft': objTamanio.idTamano == 'OPC1','btn btn-sm  conBordeRadioRigth': objTamanio.idTamano == 'OPC4','botonG':tamEmprea ==objTamanio.idTamano}"
                            (click)="onclickTamEmpresa(objTamanio.idTamano,objTamanio.tamano)"
                            [ngStyle]="{'border-color': tamEmprea == objTamanio.tamano ? '#0BB9B9':'','color':tamEmprea == objTamanio.tamano ? '#0BB9B9':''}">
                            {{objTamanio.tamano}}
                            <input type="text" style="display: none;" class="conBordeRadioLeft" value="{{objTamanio.tamano}}"
                              formControlName="numEmpleadosEmpresa" name="numEmpleadosEmpresa">
                          </button>
                        </div>
                        <small
                          *ngIf="formCompany.controls.numEmpleadosEmpresa.errors && formCompany.controls.numEmpleadosEmpresa.touched"
                          class="text-danger">
                          {{'commons.requerido' | translate}}
                        </small>
                    </div>
              
                    <!-- Pais -->
                    <div class="row mb-3 ml-lg-5 ml">
                      <label for="colFormLabel" class="col-form-label textoEtiquetas">{{'configuration.subscription.country' | translate}}</label>
                        <select formControlName='pais' class="form-select mdb-select md-form select" id="pais" required>
                          <option selected disabled value="">Seleccionar</option>
                          <option [value]="itemCountry.iso2" *ngFor="let itemCountry of country">{{itemCountry.nameNative}}</option>
                        </select>
                        <small *ngIf="formCompany.controls.pais.errors && formCompany.controls.pais.touched" class="text-danger">
                          {{'commons.requerido' | translate}}</small>
                    </div>
              
                    <div class="row mt-4 ml-lg-5 aling-buttons">
                        <div class="sctn-row btn-green d-flex justify-content-center align-items-center w-100 cursor-pointer" id="pay-button" (click)="onClickSubmitCompany();">
                           Siguiente    
                    </div> 
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>