<div class="modal-header backgrounHeader">
    <h4 class="ml-2 titleClient mb-0">{{ 'vacantes.crearvacante.paso3.talentExpert' | translate }}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formAreas">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <h6>Áreas</h6>
                <select formControlName="areas" class="form-select mdb-select md-form select" id="area">
                    <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                    <option *ngFor="let arrayAreas of areas" value="{{arrayAreas.areaId}}">{{arrayAreas.spanishName}}</option>
                  </select>
                  <small
                    *ngIf="formAreas.controls.areas.errors && formAreas.controls.areas.touched"
                    class="text-danger">
                    {{'commons.requerido' | translate}}</small>
            </div>
            <div class="col-12 col-sm-12 col-md-8">
                <h6>Especialidades</h6>
                <div class="container-fluid height overflow-auto border border-5 p-0">
                    <div *ngFor ="let arrayEspecialidad of especialidades" class="form-check border border-bottom py-1 pl-4 pr-3">
                        <input class="form-check-input radio" type="checkbox" value="" [attr.id]="arrayEspecialidad.specialtyId" (change)="changeCheck(arrayEspecialidad.specialtyId)">
                        <label class="form-check-label ml-2" [attr.for]="arrayEspecialidad.specialtyId">
                            {{arrayEspecialidad.spanishName}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
        <div class="row float-end mt-3 mb-3" >
            <span class="badge rounded-pill btn-cancel px-4 py-2 mt-3 mt-sm-3 mt-md-0 mr-2 cursor-pointer"(click)="closeModal();">Cancelar</span>
            <span class="badge rounded-pill btn-add px-4 py-2 mt-3 mt-sm-3 mt-md-0 ml-2 cursor-pointer" (click)="setAreas();">Agregar</span>
        </div>
    </form>
  </div>