@import '../../../../../../../assets/scss/variables';

.select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -moz-appearance: none;
  }
  
  .select:hover {
    border: solid 1px;
    border-color: #2680EB;
  }
  
  .select:focus {
    outline: none;
  }

  .radio {
    width: 1.5em;
    height: 1.0em;
  }

  .btn-add {
    background-color: $P500;
    color:  $P100;
    font-weight: 400;
    &:hover{
        background-color: $P600; 
    }
  }

  .btn-cancel {
    background-color: $P100;
    color:  $P500;
    border: solid 1px $P500;
    font-weight: 400;
    &:hover{
        background-color: $P600;
        color:  $P100; 
    }
  }

  .float-end {
      float: right;
  }

  .height {
      height: 18em;
  }