<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

        <!-- ACCORDEON -->
        <div class="col col-lg-3 col-sm-12 ">
            <div class="grid__accordion">
                <app-sidebar></app-sidebar>
            </div>
        </div>

        <!-- TXT -->
        <div class="col col-lg-7 col-sm-12 fluid__top">
            <div class="forgot-info-container">
                    
                    <form>
                        <div class="main-container personal-information"> 
                          <div class="forgot-info-container" >
                        
                            <!-- TITLE -->
                            <div class="personal-information__title">
                                <h1>Me fascina tu nombre... Y dime ¿cuándo naciste?</h1>
                            </div>
                              
                            <!-- NAME -->
                            <div class="forgot-info-form personal-information__title-input">
                                <div class="info-form-inpput">
                                    <p>Fecha de nacimiento</p>
                                    <input type="date" class="form-control placeHolder" name="birth" [(ngModel)]="dataBirth" (change)="onChagesBirth()" >
                                    <small id="helpBirthday" class="form-text text-muted personal-information__title-input--helperText">
                                        Descuida, te ves muy joven todavía ;)
                                      </small>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            
                          </div>
                        </div>
                    </form>
            </div>
        </div>

    </div>
</div>