@import "../../../../../../../assets/scss/variables";

.title {
  font-size: 20px;
  font-weight: 600;
}
.subtitle {
  font-size: 16px;
}

.form-control {
  padding: 0;
  input {
    height: calc(1.5em + 0.75rem + 2px);
    position: relative;
  }
  .text-danger {
    position: absolute;
    top: 40px;
    left: 0;
  }
}

.bg-add {
  background: $P500;
  font-weight: 400 !important;
  color: $P100;
  padding-left: 2.2rem !important;
  padding-right: 2.2rem !important;
  &:hover {
    background: $P600;
  }
}

.form-control.skills {
  height: auto;
  .skills-tags-container {
    max-width: 650px;
    padding: 5px 0;
    span {
      img {
        width: 10px;
      }
    }
  }
  input {
    border: none !important;
    padding: 0;
  }
}

.bg-Habilidad {
  background-color: #cff4f4;
  border: solid 1px #cff4f4 !important;
}
