<div class="container-fluid p-0">
  <form [formGroup]="formSoftSkills">
    <h1 class="title mb-4">
      {{title}}
      <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer" appShowTooltip>
      <div tooltip class="source">
        <p>¡Creo que eres muy simpático! seguro esa es tu habilidad blanda. Tu don nato, heredado, personal,
          congénito... El mío es la creatividad.</p>
      </div>
    </h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 pl-0">
        <div class="skills d-flex form-control">
          <div class="skills-tags-container d-flex align-items-center flex-wrap flex-shrink-0">
            <span class="align-items-center badge border d-flex mb-1 mr-1 pl-2 pr-2 bg-Habilidad"
              *ngFor="let skill of skillsArray; let i = index">{{skill.name}}<img (click)="removeSkillFromArray(i)"
                src="assets/img/general/xVerde.svg" alt="..." class="cursor-pointer d-inline-block ml-3"></span>
          </div>
          <input id="typeahead-http" type="text" formControlName="question" class="ml-2 d-flex"
            [class.is-invalid]="searchFailed" [ngbTypeahead]="search" [placeholder]="placeholder"
            [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3  pr-0 d-flex justify-content-start align-items-center">
          <span class="badge bg-add rounded-pill py-2 mt-3 mt-sm-3 mt-md-0 cursor-pointer"
          (click)="onClickSubmit();">Añadir</span>
        </div>
      </div>
      <small
        *ngIf="skillsArray.length == 0 && ((formSoftSkills.controls.question.errors && formSoftSkills.controls.question.touched && skillsArray.length === 0) || displayErrorMessage)"
        class="text-danger">{{'commons.requerido' | translate}}</small>
      <small
        *ngIf="skillsArray.length > 0"
        class="text-danger">No olvides hacer clic en añadir</small>
      <small *ngIf="existQuestion" class="text-danger">{{'vacantes.crearvacante.paso3.errorQuestion1' | translate
        }}</small>
      <small *ngIf="searchFailed" class="text-danger">{{'vacantes.crearvacante.paso3.errorQuestion2' | translate
        }}</small>
    <br>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col mt-3" *ngFor="let row of arraySoftSkills; let indice = index;">
        <span type="button"
          class="badge py-2 bg-white border border-secondary rounded-pill d-flex justify-content-between align-items-center overflow-auto overflow-no-bar"
          style="cursor: auto;">
          <h6 class="ml-auto mb-0 mr-3">{{row.softSkill.name}}</h6>
          <img class="ml-auto pr-2 cursor-pointer" src="/assets/img/dashboard/Clientes/basura.svg" alt="..."
            (click)="deleteItemArray(indice)">
        </span>
      </div>
    </div>
  </form>
</div>