@import "../../../../../../assets/scss/variables";

.borde {
  border-radius: 0;
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: none;
  border-color: #e1e1e1;
}

.borde-bottom {
  border-bottom: 0;
}

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.tarjeta-vacante {
  margin: 8px 0;
}

.subtitulosCrearVacante {
  color: $S600;
  font-size: 24px;
}

.textoEtiquetas {
  font-weight: 500;
  font-size: 16px;
  color: #565656;
}

.my-custom-class .tooltip-inner {
  width: 500%;
  background-color: darkgreen !important;
}

.cursor {
  cursor: pointer;
}

.confidencialSubtitulo {
  font-size: 13px;
  color: #565656;
}

.confidencialTitulo {
  font-size: 16px;
  color: #565656;
  font-weight: 500;
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -moz-appearance: none;
}

.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.botonG {
  border: solid 1.5px $P500 !important;
  color: $P500 !important;
  background-color: #f6f6f6 !important;
}

.radio {
  width: 1.5em;
  height: 1em;
}

.borderRadio-left {
  border-radius: 0;
  border-left: 0;
}

.borderRadio-ri {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.borderRadio-left1 {
  font-size: 12px;
  color: #565656;
  border-radius: 0;
  border-left: 0;
  border: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
  background-color: #fff;
}

.conBordeRadioLeft {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-color: #cfcfcf;
  width: 6em;
}

.conBordeRadioLeft:focus {
  outline: none;
  box-shadow: none;
}

.conBordeRadioRigth:focus {
  outline: none;
  box-shadow: none;
}

.conBordeRadioRigth {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
}

.conBordeRadioRigth:hover {
  border-left: solid 1px;
  border-color: $P500;
}

.conBordeRadioLeft:hover {
  border-right: solid 1px;
  border-color: $P500;
}

.borderRadio-left1:hover {
  border: solid 1px;
  border-color: $P500;
}

.efectosInput:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: $P500;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.bordeSeleccionado {
  border: solid 1px;
  border-color: $P500;
}

li {
  cursor: pointer;
  border: none;
}

.badge {
  background: $P600;
  color: $P100;
}

.searchDebounce {
  list-style: none;
  box-shadow: 1px 1px 1px 1px $S200;
  position: absolute;
  z-index: 100;
  padding: 0px;
}

.searchDebounce li a {
  color: $S600 !important;
}

.lateral {
  margin-right: 7%;
}

.container-fluid .ml-4 {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.text-count {
  color: $P400;
}

.div-description {
  display: flex;
}

.item {
  justify-content: space-between;
  text-align: right;
}

.container-preview {
  position: relative;
  display: inline-block;
  text-align: center;
}

.text-above {
  position: absolute;
  top: 115px;
  left: 50px;

  font-size: 16px;
  font-weight: 600;
  color: $P500;
}

.textPreviewPosition {
  position: absolute;
  top: 125px;
  left: 50px;

  font-size: 16px;
  font-weight: 400;
  color: $S600;
}

.text-section-mount {
  position: absolute;
  top: 145px;
  left: 50px;

  font-size: 14px;
  font-weight: 400;
  color: $S600;
}

.text-section-prestaciones {
  position: absolute;
  top: 145px;
  left: 50px;

  font-size: 14px;
  font-weight: 400;
  color: $S600;
}

.text-section-ubication {
  position: absolute;
  top: 155px;
  left: 50px;

  font-size: 16px;
  font-weight: 400;
  color: $S600;
}

p {
  text-indent: 10px;
}

.space-right-span {
  margin-left: 10px;

  font-size: 14px;
}

.asterico {
  color: $P500;
  vertical-align: text-top;
}

.minus {
  font-size: 11px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bg-add {
  background: $P500;
  color: $P100;
  font-weight: 400;
  &:hover {
    background: $P600;
  }
}

input,
textarea {
  border: 1.5px solid #cbcbcb !important;
  resize: none;
  &:hover {
    border: 1.5px solid $P500 !important;
  }
  &:focus {
    border: 1.5px solid $P500 !important;
    outline: none !important;
  }
  &.error {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-position: right calc(0.375em + 0.1875rem) center;
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    padding-right: calc(1.5em + 0.75rem);
    border-color: #dc3545;
  }
}

input,
textarea,
select {
  &:active,
  &:focus {
    border: 1.5px solid $P500 !important;
  }
  &.error {
    border-color: #dc3545 !important;
  }
}

.hide {
  opacity: 0;
}

.mbottom {
  margin-bottom: 2.5em;
}

.line {
  line-height: 14pt;
}

.radio {
  width: 1.5em;
  height: 1em;
  transform: scale(1);
}

small.text-danger.item {
  &:nth-of-type(n + 2) {
    display: none;
  }
}

.list-container {
  ul {
    padding-left: 0;
    li {
      list-style: none;
      padding-left: 1.5rem;
      position: relative;
      &:before {
        content: "";
        background-color: #0bb9b9;
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        left: 9px;
        position: absolute;
        top: 7px;
        transform: translate(0, 0%);
        width: 6px;
      }
    }
  }
}

label.col-form-label {
  max-width: 200px;
}
