<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="container-fluid pl-0">
  <form [formGroup]="formPosition">
    <div class="card px-5 text-center mt-6 ml-6 mr-6 borde borde-bottom ">
      <app-step-bar [buttonsSelected]="2"></app-step-bar>
      <div class="card-body px-0 text-left">
        <label for="colFormLabel" class="font-weight-bold subtitulosCrearVacante col-12 px-0 mb-0" autocomplete="off">{{ 'vacantes.crearvacante.step2.positionDescription' | translate}}</label>
        <label class="mb-4 col-8 px-0"><span>Ser claro y conciso ayuda a que mi inteligencia Artificial conecte mejor tu vacante 
          ¡Cuida tu ortografía!</span></label>
          <div class="row mb-4"><!-- Misión -->
            <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.mission' | translate}}<span class="asterico">*</span> </label>
            <div class="col-sm-8" appShowTooltip>
              <textarea class="form-control efectosInput" 
                [ngClass]="{'error': hasFormFieldError('mission', formPosition)}"
                formControlName="mission"
                rows="5"
                (input)="updateFieldLength('mission', formPosition)"></textarea>
              <div class="row">
                <div class="col">
                  <small class="text-danger item" *ngIf="hasFormFieldError('mission', formPosition, 'required')"> {{ 'commons.requerido' | translate}} </small>
                  <small class="text-danger item" *ngIf="hasFormFieldError('mission', formPosition, 'maxlength')"> {{ 'commons.exceededLength' | translate}} </small>
                </div>
                <div class="col text-right">
                  <small class="text-count item">{{ getFieldLength('mission', formPosition) }}/140</small>
                </div>
              </div>
            </div>
            <div tooltip class="source">
              <p>¡Describe cuál será el propósito de tu nuevo talento! </p>
              <br>
              <p>Trata de ser breve, tampoco los espantes.</p>
            </div>
          </div>
          <div class="row mb-4"><!-- Tipo de puesto -->
            <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0">{{'vacantes.crearvacante.step2.positionType' | translate}}<span class="asterico">*</span> </label>
            <div class="col-sm-8">
              <select formControlName='positionType' class="form-select mdb-select md-form select"
                [ngClass]="{'error': hasFormFieldError('positionType', formPosition)}">
                <option disabled value="">{{ 'commons.seleccionar' | translate}}
                </option>
                <option [value]="option.positionTypeId" *ngFor="let option of positionTypes">{{ option.spanishName }}</option>
              </select>
              <small class="text-danger item" *ngIf="hasFormFieldError('positionType', formPosition, 'required')"> {{ 'commons.requerido' | translate}}
              </small>
            </div>
          </div>
          <div class="row mb-4"><!-- Personas a cargo -->
            <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{'vacantes.crearvacante.step2.managesPeople' | translate}}<span class="asterico">*</span></label>
            <div class="col-sm-8">
              <!-- TODO: Estilos de radio buttons -->
              <div class="form-check form-check-inline">
                <input class="form-check-input radio" type="radio" formControlName="managesPeople" name="managesPeople" id="managesPeople1" value="true">
                <label class="form-check-label" for="managesPeople1"> {{ 'commons.si' | translate}} </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input radio" type="radio" formControlName="managesPeople" name="managesPeople" id="managesPeople2" value="false">
                <label class="form-check-label" for="managesPeople2"> {{ 'commons.no' | translate}} </label>
              </div>
              <br>
            </div>
          </div>
          <div class="row mb-4" *ngIf="positionManagesPeople"><!-- Cuántas personas a cargo -->
            <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.managedPeopleAmmount' | translate}}<span class="asterico">*</span>  </label>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="number"
                  formControlName="managedPeopleAmmount"
                  class="form-control efectosInput text-center"
                  min="1"
                  maxlength="3"
                  (blur)="validateManagedPeopleAmmount()">
                <span class="input-group-text cursor borderRadio-left" (click)="updatePositionManagedPeople(-1)"><i class="fas fa-minus minus"></i></span>
                <span class="input-group-text cursor borderRadio-ri borderRadio-left"(click)="updatePositionManagedPeople(1)"><i class="fas fa-plus minus"></i></span>
              </div>
            </div>
          </div>
          <div class="row mb-4"><!-- Funciones -->
            <label for="colFormLabel" class="col-sm-3 pl-0 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.duties' | translate}}<span class="asterico">*</span> </label>
            <div class="col-sm-8" appShowTooltip>
              <textarea class="form-control efectosInput"
                appTextAreaWithBullets
                [ngClass]="{'error': hasFormFieldError('duties', formPosition)}"
                formControlName="duties"
                rows="5"
                (input)="updateFieldLength('duties', formPosition)"></textarea>
              <div class="row">
                <div class="col">
                  <small class="text-danger item" *ngIf="hasFormFieldError('duties', formPosition, 'required')"> {{ 'commons.requerido' | translate}} </small>
                  <small class="text-danger item" *ngIf="hasFormFieldError('duties', formPosition, 'maxlength')"> {{ 'commons.exceededLength' | translate}} </small>
                </div>
                <div class="col text-right">
                  <small class="text-count item">{{ getFieldLength('duties', formPosition) }}/2000</small>
                </div>
              </div>
            </div>
            <div tooltip class="source">
              <p>Mi tarea es que entiendas cada paso de tu vacante</p>
              <br>
              <p>¿Cuáles serán las tareas de tu talento?</p>
            </div>
          </div>
      </div>
    </div>
  </form>
  <form [formGroup]="formWorkingConditions">
    <div class="card px-5 text-center mt-6 mr-6 borde borde-bottom">
      <div class=" text-left card-body px-0 pt-0">
        <div class="row mb-4"><!-- Jornada laboral -->
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.workingHoursModality' | translate}}<span class="asterico">*</span>  </label>
          <div class="col-sm-8">
            <select formControlName='workingHoursModality' class="form-select mdb-select md-form select">
              <option disabled value="">{{ 'commons.seleccionar' | translate}}</option>
              <option [value]="option.id" *ngFor="let option of positionWorkingHours">{{ option.spanishName }}</option>
            </select>
            <div class="row">
              <div class="col">
                <small class="text-danger item" *ngIf="hasFormFieldError('workingHoursModality', formWorkingConditions, 'required')">{{ 'commons.requerido' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4"><!-- Horario de trabajo -->
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.workingHours' | translate}}<span class="asterico">*</span> </label>
          <div class="col-sm-8">
            <input type="text" class="form-control efectosInput" 
              [ngClass]="{'error': hasFormFieldError('workingHours', formWorkingConditions)}"
              autocomplete="off"
              formControlName="workingHours"
              placement="bottom-left"
              [placeholder]="'vacantes.crearvacante.step2.workingHoursPlaceholder' | translate"
            >
            <div class="row">
              <div class="col">
                <small class="text-danger item" *ngIf="hasFormFieldError('workingHours', formWorkingConditions, 'required')">{{ 'commons.requerido' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4"><!-- Tipo de contrato -->
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.contractType' | translate}}<span class="asterico">*</span>  </label>
          <div class="col-sm-8">
            <select formControlName='contractType' class="form-select mdb-select md-form select"
            [ngClass]="{'error': hasFormFieldError('contractType', formWorkingConditions)}">
              <option disabled value="" >{{ 'commons.seleccionar' | translate}}</option>
              <option [value]="contractType.contractId" *ngFor="let contractType of contractTypes">{{ contractType.name }}</option>
            </select>
            <div class="row">
              <div class="col">
                <small class="text-danger item" *ngIf="hasFormFieldError('contractType', formWorkingConditions, 'required')">{{ 'commons.requerido' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4"><!-- Nacionalidad -->
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"> {{ 'vacantes.crearvacante.step2.candidatesNationality' | translate}}<span class="asterico">*</span>  </label>
          <div class="col-sm-8">
            <!-- TODO: Estilos de radio buttons -->
            <div class="form-check form-check-inline">
              <input class="form-check-input radio" type="radio" formControlName="specificNationality" name="specificNationality" id="specificNationality1" value="false">
              <label class="form-check-label" for="specificNationality1"> {{ 'vacantes.crearvacante.step2.allNationalities' | translate}}</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input radio" type="radio" formControlName="specificNationality" name="specificNationality" id="specificNationality2" value="true">
              <label class="form-check-label" for="specificNationality2"> {{ 'vacantes.crearvacante.step2.specificNationality' | translate}}</label>
            </div>
            <br>
          </div>
        </div>
        <div class="row mb-4" *ngIf="positionsRequiresSpecificNationality"><!-- Nacionalidad específica -->
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas pl-0"></label>
          <div class="col-sm-8">
            <small>{{ 'vacantes.crearvacante.step2.nationality' | translate}}<span class="asterico">*</span> </small>
            <select formControlName='candidateNationality' class="form-select mdb-select md-form select"
            [ngClass]="{'error': hasFormFieldError('candidateNationality', formWorkingConditions)}">
              <option disabled value="">{{ 'commons.seleccionar' | translate}}</option>
              <option [value]="option.nationalityId" *ngFor="let option of nationalities">{{ option.spanishName }}</option>
            </select>
            <div class="row">
              <div class="col">
                <small class="text-danger item" *ngIf="hasFormFieldError('candidateNationality', formWorkingConditions, 'required')">{{ 'commons.requerido' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-right">
      <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="row navigation-footer-container">
              <div  class="col-sm-6 text-left"> 
                <button class="btn-prev"(click)="prevStep();">{{ 'commons.anterior' | translate}}</button>
              </div>
              <div class="col-sm-6 text-right">
                <a class="mr-3 guardarBorrador" (click)="nextStep(true)">Guardar como borrador</a>
                <button class="btn-next"(click)="nextStep()">{{ 'commons.siguiente' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  
</div>