<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="container-fluid pl-0">
  <form [formGroup]="formAboutVacancy">
    <div class="card px-5 text-center mt-6 ml-6 mr-6 borde borde-bottom ">
      <app-step-bar></app-step-bar>
      <div class=" text-left card-body px-sm-0">
        <label for="colFormLabel" class="col-form-label subtitulosCrearVacante mb-4"
          autocomplete="off">{{'vacantes.crearvacante.paso1.cuentanos' | translate}}</label>
        <!-- Título del puesto -->
        <div class="row mb-3 mb-4">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas px-0">{{'vacantes.crearvacante.paso1.tituloPuesto' |
            translate}}<span class="asterico">*</span> </label>
          <div class="col-sm-8" appShowTooltip>
            <input id="typeahead-http" type="text" formControlName="title" class="d-flex" maxlength="70"
              placement="bottom-left" tooltipClass="my-custom-class" [ngbTypeahead]="searchClient"
              [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter"
              (keyup)="changeCarateres('title');" />
            <div class="row">
              <div class="col">
                <small *ngIf="formAboutVacancy.controls.title.errors && formAboutVacancy.controls.title.touched"
                  class="text-danger item">
                  {{'commons.requerido' | translate}}
                </small>
              </div>
              <div class="col text-right">
                <small class="text-count item">
                  {{countCharactersTitle}}/70
                </small>
              </div>
            </div>
          </div>
          <div tooltip class="source">
            <p>{{'vacantes.crearvacante.paso1.tootlTip.nombrePuesto' | translate}}</p>
            <br>
            <p>{{'vacantes.crearvacante.paso1.tootlTip.ejemplo' |
              translate}}<br>{{'vacantes.crearvacante.paso1.tootlTip.arquitecto' | translate}}</p>
          </div>
        </div>
        <!-- End título del peusto -->
        <!-- Especidalidad -->
        <div class="row mb-3 mb-4">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas px-0">{{'vacantes.crearvacante.paso1.especialidad' |
            translate}}</label>
          <div class="col-sm-8" appShowTooltip>
            <input type="text" class="form-control efectosInput" autocomplete="off" maxlength="70"
              formControlName="especiality" placement="bottom-left" tooltipClass="my-custom-class"
              (keyup)="changeCarateres('especiality')">
            <div class="row">
              <div class="col">
              </div>
              <div class="col text-right">
                <small class="text-count item">
                  {{countCharactersEspeciality}}/70
                </small>
              </div>
            </div>
          </div>
          <div tooltip class="source">
            <p>¿Buscas algo todavía más pro? Conecta tu búsqueda con las habilidades del perfil</p>
            <br>
            <p>{{'vacantes.crearvacante.paso1.tootlTip.ejemplo' | translate}}<br>Multimedia Jr.</p>
          </div>
        </div>
        <!-- End especialidad -->
        <!-- vista previa titulo -->
        <div class="row mb-3 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas  px-0"> 
            Así se verá tu anuncio
          </label>
          <div class="col-sm-8">
            <div>
              <div class="container-preview">
                <img class="img-fluid" src="../../../../../../assets/vacante/preview-md.svg">
                <div class="text-above">{{ textTitle }} {{textPreviewPosition}}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End vista previa titulo -->

        <div class="row mb-2 mt-5">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas px-0">{{'vacantes.crearvacante.paso1.numVacantesDisponibles' |
            translate}}<span class="asterico">*</span></label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="number" maxlength="10" formControlName="numVacancies"
                class="form-control efectosInput text-center" value="0" min="1"
                aria-label="Dollar amount (with dot and two decimal places)" (focusout)="onFocusNumVacancies();">
              <span class="input-group-text cursor borderRadio-left" (click)="changeNumVacancies('menos');"><i
                  class="fas fa-minus minus"></i></span>
              <span class="input-group-text cursor borderRadio-ri borderRadio-left"
                (click)="changeNumVacancies('mas');"><i class="fas fa-plus minus"></i></span>
            </div>
            <small
              *ngIf="formAboutVacancy.controls.numVacancies.errors && formAboutVacancy.controls.numVacancies.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>

        <div class="row mb-3 mb-3 mt-4 align-items-center">
          <label for="colFormLabel px-0" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div class="form-check form-check-inline ">
              <input class="form-check-input radio mbottom" formControlName="confidential" type="checkbox"
                name="confidential" id="confidential">
              <label class="form-check-label" for="confidential"><span class="text-md-left confidencialTitulo "><span
                    style="font-weight: 600 !important;">Vacante confidencial</span> <br />
                  <span class=" text-md-left confidencialSubtitulo">
                    Cuando una vacante es confidencial significa que solo el reclutador<br />encargado y el reclutador
                    auxiliar pueden ver la vacante
                  </span></span> </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
  <!-- End Section 1  -->
  <form [formGroup]="formSalary">
    <div class="card px-5 text-center mt-6mr-6 borde borde-bottom ">
      <div class="text-left card-body px-0">
        <label for="colFormLabel" class="col-form-label subtitulosCrearVacante mb-4" autocomplete="off">¿Cuál será el sueldo mensual de tu vacante?</label>

        <div class="row mb-3 mb-4">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas px-0">{{'vacantes.crearvacante.paso1.sueldoMensual' |
            translate}}<span class="asterico">*</span></label>
          <div class="col-sm-8">
            <select formControlName='monthlySalary' class="form-select mdb-select md-form select" id="validaTipoSueldo"
              (change)="changeSelectSalary();">
              <option disabled value="">Seleccionar</option>
              <option value="exactly">Monto exacto</option>
              <option value="range">Rango</option>
            </select>
            <small *ngIf="formSalary.controls.monthlySalary.errors && formSalary.controls.monthlySalary.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>

        <div class="row mb-3 mb-4 align-items-center">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div *ngIf="monthlySalary" class="col-sm-3">
            <small class="mb-0 subtitulosArribaEtiquetas">{{'vacantes.crearvacante.paso1.minimo' | translate}}</small>
            <input type="text" autocomplete="off" formControlName='minimumSalary' class="form-control efectosInput" maxlength="6"
              id="minimumSalary" (keyup)="chnageMinSalary();" placeholder="$00,000" currency-only>
            <small
              [ngClass]="(formSalary.controls.minimumSalary.errors && formSalary.controls.minimumSalary.touched) ? '': 'hide'"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
          <div *ngIf="monthlySalary" class="col-sm-3">
            <small class="mb-0 subtitulosArribaEtiquetas">{{'vacantes.crearvacante.paso1.maximo' | translate}}</small>
            <input type="text" autocomplete="off" formControlName='maximumSalary' class="form-control efectosInput" maxlength="6"
              id="maximumSalary" (keyup)="chnageMaxSalary();" placeholder="$00,000" currency-only>
            <small
              [ngClass]="(formSalary.controls.maximumSalary.errors && formSalary.controls.maximumSalary.touched)?'':'hide'"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
          <div *ngIf="!monthlySalary" class="col-sm-3">
            <small class="mb-0 subtitulosArribaEtiquetas">{{'vacantes.crearvacante.paso1.montoExacto' |
              translate}}</small>
            <input type="text" autocomplete="off" formControlName='exactlySalary' class="form-control efectosInput" maxlength="6"
              [ngClass]="(formSalary.controls.exactlySalary.errors && formSalary.controls.exactlySalary.touched) ? 'is-invalid' : 'ng-invalid'"
              id="exactlySalary" (keyup)="chnageExactySalary();" placeholder="$00,000" currency-only>
            <small
              [ngClass]="(formSalary.controls.exactlySalary.errors && formSalary.controls.exactlySalary.touched)?'':'hide'"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
          <small for="colFormLabel">{{'vacantes.crearvacante.paso1.pormes' | translate}}</small>
        </div>

        <div class="row mb-3 mb-4 align-items-center">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas px-0"></label>
          <div class="col-sm-8">
            <div class="form-check form-check-inline d-flex align-items-start">
              <input class="form-check-input radio mbottom" formControlName="commissions" type="checkbox"
                name="inlineRadioOptions" id="commissions">
              <label class="form-check-label" for="commissions"><span class=" text-md-left confidencialTitulo "><span
                    style="font-weight: 600 !important;">+ Bonos y/o comisiones</span> <br />
                  <span class=" text-md-left confidencialSubtitulo">
                    Los bonos y/o comisiones representan un porcentaje o monto <br> 
                    variable que se otorga al candidato de acuerdo a una <br>
                    operación comercial o fin a las funciones del puesto.
                  </span></span> </label>
            </div>
          </div>
        </div>

        <div class="row mb-3 mb-4" appShowTooltip>
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas px-0">{{'vacantes.crearvacante.paso1.tipoSueldo' |
            translate}}<span class="asterico">*</span></label>
          <div class="col-sm-8">
            <div class="form-check form-check-inline"  >
              <input class="form-check-input radio" type="radio" formControlName="salaryType" name="salaryType"
                id="inlineRadio1" value="GROSS_SALARY" (change)="changeSalaryTipe();">
              <label class="form-check-label" for="inlineRadio1">{{'vacantes.crearvacante.paso1.bruto' |
                translate}}</label>
                
            </div>
           
            <div class="form-check form-check-inline" >
              <input class="form-check-input radio" type="radio" formControlName="salaryType" name="salaryType"
                id="inlineRadio2" value="NET_INCOME" (change)="changeSalaryTipe();">
              <label class="form-check-label" for="inlineRadio2">{{'vacantes.crearvacante.paso1.neto' |
                translate}}</label>
            </div>
            <br>
            <small *ngIf="formSalary.controls.salaryType.errors && formSalary.controls.salaryType.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <div tooltip class="source">
         <p>Neto: Sueldo libre de impuestos</p>
         <p>Bruto: Sueldo antes de impuestos</p>
        </div>

        

        <div class="row mb-3 mb-4 align-items-center">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div class="form-check form-check-inline ">
              <input class="form-check-input radio mb-3" formControlName="hideSalary" type="checkbox"
                (change)="changeHideSalary();" name="inlineRadioOptions" id="hideSalary">
              <label class="form-check-label" for="hideSalary">
                <span class=" text-md-left confidencialTitulo "><span
                    style="font-weight: 600 !important;">{{'vacantes.crearvacante.paso1.nomostrarsueldo' |
                    translate}}</span> <br />
                  <span class=" text-md-left confidencialSubtitulo">El sueldo no se mostrará en las bolsas de
                    trabajo</span>
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="row mb-3 ml-0  ml-sm-0 ml-md-5 mb-4 align-items-center">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-md-8">
            <div class="alert alert d-flex align-items-center" [ngClass]="(messageSalary) ? '': 'hide'" role="alert">
              <img src="assets/img/general/informationRed.svg" class="mr-3" alt="">
              <div class="line">
                Es necesario ingresar el salario mensual de la vacante aún si decides ocultarlo de la publicación.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- End Section 2 -->
  <div class="card px-5 mt-6 mr-6 borde borde-bottom">
    <div class=" text-left card-body border-0 px-0">
      <label for="colFormLabel" class="col-form-label subtitulosCrearVacante mb-4" autocomplete="off">Beneficios</label>
      <small *ngIf="!isBenefitsValid" class="text-danger">{{'commons.requerido' | translate}}</small>
      <form [formGroup]="formSalary">
        <div class="row mb-3 mb-4 row-cols-1 row-cols-sm-1 row-cols-md-1">
          <div class="col-12 col-sm-12 col-md-6 pl-0">
            <ng-container *ngFor="let row of arrayBenefits; let indice = index;">
              <div *ngIf="indice < 9" class="form-group form-check">
                <div class="">
                  <label class="form-check-label" for="checkVacante{{row.benefitsId}}">
                    <input class="form-check-input radio mb-4" type="checkbox" [disabled]="row.disabled"
                      [checked]="row.check" (change)="changeBenefits(row.benefitsId,false);"
                      name="inlineRadioOptions{{row.benefitsId}}" id="checkVacante{{row.benefitsId}}">
                    <span class="space-right-span">{{ row.description }}</span>
                  </label>
                </div>
              </div>

            </ng-container>
          </div>
          <div class="col-12 col-sm-12 col-md-6 pl-0">
            <ng-container *ngFor="let row of arrayBenefits; let indice = index;">
              <div *ngIf="indice > 9" class="form-group form-check">
                <div class="">
                  <label class="form-check-label" for="checkVacante{{row.benefitsId}}">
                    <input class="form-check-input radio mb-4" type="checkbox" [disabled]="row.disabled"
                      [checked]="row.check" (change)="changeBenefits(row.benefitsId,false);"
                      name="inlineRadioOptions{{row.benefitsId}}" id="checkVacante{{row.benefitsId}}">
                    <span class="space-right-span">{{ row.description }}</span>
                  </label>
                </div>
              </div>
            </ng-container>
            <div class="form-group form-check col-md-10 pl-0">
              <div class="" appShowTooltip>
                <input class="form-control mb-2" formControlName="benefit1" type="text" name="inlineRadioOptions"
                  id="checkVacante" placeholder="{{'vacantes.crearvacante.paso1.benefit1' | translate}}"
                  autocomplete="off" (focusout)="changeOtherBenefit1();">
                <input class="form-control mb-4" formControlName="benefit2" type="text" name="inlineRadioOptions"
                  id="checkVacante" placeholder="{{'vacantes.crearvacante.paso1.benefit2' | translate}}"
                  autocomplete="off" (focusout)="changeOtherBenefit2();">
              </div>
              <div tooltip class="source">
                <p>Si tu vacante tiene un plus que no esté en la lista, escríbelo aquí.</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group form-check col-md-10 pl-0">
            <div class="" appShowTooltip>
              <input class="form-control mb-2"
                formControlName="benefit1"
                type="text"
                name="inlineRadioOptions"
                id="checkVacante"
                placeholder="{{'vacantes.crearvacante.paso1.benefit1' | translate}}"
                autocomplete="off"
                (focusout)="changeOtherBenefit1();">
              <input class="form-control mb-4"
                formControlName="benefit2"
                type="text"
                name="inlineRadioOptions"
                id="checkVacante"
                placeholder="{{'vacantes.crearvacante.paso1.benefit2' | translate}}"
                autocomplete="off"
                (focusout)="changeOtherBenefit2();">
            </div>
              <div tooltip class="source">
                <p>Los beneficios sirven para generar mayor interés en los posibles postulantes, además de los beneficios económicos, el 75% de los candidatos evalúan los detalles no salariales que posee la marca empleadora.</p>
              </div>
          </div>
        </div> -->
        </div>
      </form>
    </div>
  </div>
  <form [formGroup]="formClients">
    <div class="card px-5 mt-6 mr-6 borde borde-bottom">
      <div class=" text-left card-body border-0 px-0">
        <!-- End Section 3 -->
        <div class="mt-6 mr-6 borde-bottom">
          <div class="px-0 pb-5">
            <label for="colFormLabel" class="col-form-label subtitulosCrearVacante mb-4 px-0" autocomplete="off">¿Quién solicitó la vacante?
            </label>
            <div class="row mb-2">
              <div class="col-sm-3 px-0">
                <h6 class="p-0 m-0 textoEtiquetas"> Nombre del cliente </h6>
              </div>
              <div class="col-sm-8">
                <input id="typeahead-http" type="text" formControlName="clients" class="form-control"
                  [ngbTypeahead]="search" (focusout)="getNameClient();" [inputFormatter]="formatter"
                  [resultFormatter]="formatter" />
                <small
                  *ngIf="(formClients.controls.clients.errors && formClients.controls.clients.touched) || requiresToCreateANewClient"
                  class="text-danger">{{'commons.requerido' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card px-5 mt-6 mr-6 borde borde-bottom">
      <div class=" text-left card-body border-0 px-0">
        <!-- End Section 4 -->
        <div class="mt-6 mr-6 borde-bottom">
          <div class=" text-left card-body px-0">
            <label for="colFormLabel" class="col-form-label subtitulosCrearVacante mb-4"
              autocomplete="off">{{'vacantes.crearvacante.paso1.ubicaonempleo' | translate}}
            </label>
            <div class="row mb-3 mb-4">
              <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas px-0">Que te localice tu talento</label>
              <div class="col-sm-8">
                <p class="mb-0 subtitulosArribaEtiquetas">País</p>
                <select formControlName='country' class="form-select mdb-select md-form select" id="pais"
                  (change)="changeCountry();">
                  <option selected disabled value="">Seleccionar</option>
                  <option [value]="itemCountry.iso2" *ngFor="let itemCountry of country">{{itemCountry.nameNative}}
                  </option>
                </select>
                <small *ngIf="formClients.controls.country.errors && formClients.controls.country.touched"
                  class="text-danger">
                  {{'commons.requerido' | translate}}</small>
              </div>
            </div>
            <div class="row mb-3 mb-4">
              <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas px-0"></label>
              <div class="col-sm-8">
                <div class="col-sm-6" style="padding-left: 0; display: inline-block;">
                  <p class="mb-0 subtitulosArribaEtiquetas">Estado</p>
                  <select formControlName='state' class="form-select mdb-select md-form select" id="estado"
                    (change)="changeState();">
                    <option selected disabled value="">Seleccionar</option>
                    <option [value]="itemStates.iso2" *ngFor="let itemStates of states">{{itemStates.name}}</option>
                  </select>
                  <small
                    [ngClass]="(formClients.controls.state.errors && formClients.controls.state.touched) ? '' : 'hide'"
                    class="text-danger">
                    {{'commons.requerido' | translate}}</small>
                </div>
                <div class="col-sm-6" style="padding-right: 0; display: inline-block;">
                  <p class="mb-0 subtitulosArribaEtiquetas">Municipio o alcaldía</p>
                  <select formControlName='municipality' class="form-select mdb-select md-form select" id="municipality"
                    (change)="changeMunicipio();">
                    <option selected disabled value="">Seleccionar</option>
                    <option [value]="itemMunicipios.name" *ngFor="let itemMunicipios of municipios">
                      {{itemMunicipios.name}}</option>
                  </select>
                  <small
                    [ngClass]="(formClients.controls.municipality.errors && formClients.controls.municipality.touched) ? '' : 'hide'"
                    class="text-danger">
                    {{'commons.requerido' | translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card px-5 mt-6 mr-6 borde borde-bottom">
      <div class=" text-left card-body border-0 px-0">
        <!-- End Section 5 -->
        <div class="mt-6 mr-6 borde-bottom ">
          <div class=" text-left card-body px-0 pb-5 mb-3">
            <label for="colFormLabel" class="col-form-label subtitulosCrearVacante mb-4 px-0" autocomplete="off">¿Cuál
              es la modalidad de empleo?
            </label>
            <div class="row mb-4">
              <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas px-0">Modalidad</label>
              <div class="col-sm-8">
                <select name="selectModality" formControlName="modality" class="form-select mdb-select md-form select"
                  (change)="changeModality();">
                  <!--[(ngModel)]="idModality"-->
                  <option selected disabled value="">Seleccionar</option>
                  <option [value]="itemModality.value" *ngFor="let itemModality of modalidades">{{itemModality.name}}
                  </option>
                </select>
                <small *ngIf="formClients.controls.modality.errors && formClients.controls.modality.touched"
                  class="text-danger">
                  {{'commons.requerido' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
        <!-- End section 6 -->
      </div>
    </div>
  </form>
  <div class="card px-5 mt-6 mr-6 borde borde-bottom">
    <div class=" text-left card-body border-0 px-0">
      <div class="mt-6 mr-6">
        <label for="colFormLabel" class="col-form-label subtitulosCrearVacante px-0" autocomplete="off">¡Listo! Así se ve tu vacante</label>
        <div>
          <div class="container-preview">
            <img src="../../../../../../assets/vacante/preview-lg.svg" class="img-fluid">
            <div class="text-above">{{ textTitle }} {{ textPreviewPosition }}</div>
            <div class="text-section-mount">
              <div class="row">
                <div *ngIf="minSalary != '0' && minSalary != ''">{{ minSalary | customCurrency}} - {{ maxSalary | customCurrency}} MXN
                  {{'vacantes.crearvacante.paso1.mensuales' | translate}} {{typeSalary}}</div>
                <div *ngIf="exactlySalary != '0' && exactlySalary != ''">{{ exactlySalary | customCurrency}} MXN
                  {{'vacantes.crearvacante.paso1.mensuales' | translate}} {{typeSalary}}</div>
                <li *ngIf="modalityEmployed != ''" class="ml-2">{{modalityEmployed}}</li>
              </div>
              <div class="row mt-2">
                <li *ngFor="let li of arrayBenefitsNames" class="mr-2">
                  {{li}}
                </li>
              </div>

              <div class="row mt-2">
                <div class="col-12 col-sm-12- col-md-1 p-0">
                  <img *ngIf="logoClient != null && logoClient != '' " class="rounded-image mr-5" [src]="logoClient" alt=".."
                    width="40" height="40">
                  <img *ngIf="nameCliente != '' && logoClient == '' " class="rounded-image"
                    src="/assets/img/dashboard/Clientes/iconClients.svg" alt=".." width="40" height="40">
                </div>
                <div class="col-12 col-sm-12- col-md-11 text-left pl-4">
                  <h6 class="m-0 text-left d-inline-flex textR">{{nameCliente}}</h6>
                  <br>
                  <h6 class="d-inline-flex textR">{{nameMunicipality}} {{nameState}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-radius-top text-right">
    <div class=" text-rigth card-body" style="height: 4em;">
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="row navigation-footer-container">
            <div class="col-sm-6 text-left">
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-green-new" (click)="validAllFields();"
                [disabled]="!formAboutVacancy.valid">Siguiente</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>