@import "./src/assets/scss/main.scss";

.btn {
  display: inline;
}

.borde {
  border-radius: 0;
  border: solid 1px;
  border-color: #e1e1e1;
}

.borde-bottom {
  border-bottom: 0;
}

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.tarjeta-vacante {
  margin: 8px 0;
}

.subtitulosCrearVacante {
  color: $S600;
  font-size: 24px;

  font-weight: bold;
}

.textoEtiquetas {
  font-weight: 500;
  font-size: 16px;
  color: #565656;
}

.my-custom-class .tooltip-inner {
  width: 500%;
  background-color: darkgreen;
}

.cursor {
  cursor: pointer;
}

.confidencialSubtitulo {
  font-size: 13px;
  color: #565656;
}

.confidencialTitulo {
  font-size: 16px;
  color: #565656;
  font-weight: 500;
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -moz-appearance: none;
}

.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.botonG {
  border: solid 1.5px $P500;
  color: $P500;
  background-color: #f6f6f6;
}

.radio {
  width: 1.5em;
  height: 1em;
}

.borderRadio-left {
  border-radius: 0;
  border-left: 0;
  background-color: $P500;
  &:hover {
    background-color: $P600;
  }
}

.borderRadio-ri {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.borderRadio-left1 {
  font-size: 12px;
  color: #565656;
  border-radius: 0;
  border-left: 0;
  border: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
  background-color: #fff;
}

.conBordeRadioLeft {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-color: #cfcfcf;
  width: 6em;
}

.conBordeRadioLeft:focus {
  outline: none;
  box-shadow: none;
}

.conBordeRadioRigth:focus {
  outline: none;
  box-shadow: none;
}

.conBordeRadioRigth {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
}

.conBordeRadioRigth:hover {
  border-left: solid 1px;
  border-color: $P500;
}

.conBordeRadioLeft:hover {
  border-right: solid 1px;
  border-color: $P500;
}

.borderRadio-left1:hover {
  border: solid 1px;
  border-color: $P500;
}

.efectosInput:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: $P500;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.bordeSeleccionado {
  border: solid 1px;
  border-color: $P500;
}

li {
  cursor: pointer;
  border: none;
}

.badge {
  background: $P500;
  color: $P100;
  &:hover {
    background: $P600;
  }
}

.searchDebounce {
  list-style: none;
  box-shadow: 1px 1px 1px 1px $S200;
  position: absolute;
  z-index: 100;
  padding: 0px;
}

.searchDebounce li a {
  color: $S600;
}

.lateral {
  margin-right: 7%;
}

.container-fluid .ml-4 {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.text-count {
  color: $P400;
}

.div-description {
  display: flex;
}

.item {
  justify-content: space-between;
  text-align: right;
}

.container-preview {
  position: relative;
  display: inline-block;
  text-align: center;
}

.text-above {
  position: absolute;
  top: 115px;
  left: 50px;

  font-size: 16px;
  font-weight: 600;
  color: $P500;
}

.textPreviewPosition {
  position: absolute;
  top: 125px;
  left: 50px;

  font-size: 16px;
  font-weight: 400;
  color: $S600;
}

.text-section-mount {
  position: absolute;
  top: 145px;
  left: 50px;

  font-size: 14px;
  font-weight: 400;
  color: $S600;
}

.text-section-prestaciones {
  position: absolute;
  top: 145px;
  left: 50px;

  font-size: 14px;
  font-weight: 400;
  color: $S600;
}

.text-section-ubication {
  position: absolute;
  top: 155px;
  left: 50px;

  font-size: 16px;
  font-weight: 400;
  color: $S600;
}

p {
  text-indent: 10px;
}

.space-right-span {
  margin-left: 10px;

  font-size: 14px;
}

.asterico {
  color: $P500;
}

.minus {
  font-size: 11px;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  border: 1.5px solid #cbcbcb !important;
  &:hover {
    border: 1.5px solid $P500 !important;
  }
  &:focus {
    border: 1.5px solid $P500 !important;
    outline: none !important;
  }
}

.hide {
  opacity: 0;
}

.mbottom {
  margin-top: 0.5em;
}

.line {
  line-height: 14pt;
  color: #e62b4a;
}

.radio {
  width: 1.5em;
  height: 1em;
  transform: scale(1);
}

.textR {
  font-size: 14px;
}

.btn-next {
  font-weight: 400;
}

.alert {
  background: #fae0e0;
  border: solid 1px #fae0e0;
}

.btnSigArriba {
  float: left;
}

.rounded-image {
  border-radius: 5px;
  border: 1px solid $F300;
}
