<app-sidenav-vacantes (propagarFiltroCliente)="aplicarFiltroClientes($event)"
  (propagarFiltroReclutador)="aplicarFiltroReclutador($event)" (spreadVacantSearchInput)=searchVacant($event)>
</app-sidenav-vacantes>

<div *ngIf="!_suscription.isSubcriptionActive || (_suscription.isSubcriptionActive && !nuevaVacante && rows.length < 1)"
  class="contenedor row m-0 text-center align-items-center justify-content-center">
  <div class="col-auto">
    <img src="assets/img/dashboard/vacantes/candidato.svg" alt="">
    <span class="texto">Por ahora no hay vacantes activas</span>
  </div>
</div>

<!-- <div *ngIf="_suscription.isSubcriptionActive && nuevaVacante" class="container-fluid contenedor2 mb-3">
  <form>
    <div class="card text-center mt-2 ml-3 mr-3 borde borde-bottom ">
      <div class="row">
        <div class="col-md-1 backGroundAzul d-flex align-items-center ">
          <img class="cursor-pointer" src="../../../../assets/img/general/iconosRedesSociales/fire-cracker.svg">
        </div>
        <div class="col-md-10 mt-2 mb-1">
          <h5 class="tituloNuevaVacante text-left font-weight-bold">¡Felicidades creaste tu vacante!</h5>
          <h5 class="subtituloNuevaVacante  text-left">La publicacicón en las bolsas de empleo externas estará lista en
            aproximadamente <strong>2 horas.</strong>
            Mientras tanto, puedes compartir la vacante en tus redes sociales
          </h5>
          <h5 class="text-left">
            <img class="cursor-pointer" src="../../../../assets/img/general/iconosRedesSociales/whatsapp.svg">
            <img class="cursor-pointer ml-4  text-left"
              src="../../../../assets/img/general/iconosRedesSociales/facebook.svg">
            <img class="cursor-pointer ml-4" src="../../../../assets/img/general/iconosRedesSociales/linkedin.svg">
            <img class="cursor-pointer ml-4" src="../../../../assets/img/general/iconosRedesSociales/twitter.svg">
            <img class="cursor-pointer ml-4" src="../../../../assets/img/general/iconosRedesSociales/referidos.svg">
          </h5>
        </div>
        <div class="col-md-1 d-flex align-items-center" style="padding-left: 10%">
          <span class="close cursor-pointer " aria-label="Close" (click)="cerrarPopUpNuevaVentana()">
            <img class="cursor-pointer mx-auto" src="../../../../assets/img/general/x.svg">
          </span>
        </div>
      </div>
    </div>
  </form>

</div> -->
<div *ngIf="_suscription.isSubcriptionActive && totalElements > 0" class="container-fluid contenedor2"
  [ngClass]="(rowsPorPagina < 4) ? 'tamContenedor' : ''">
  <div class="table-responsive-lg">
    <table class="table" data-pagination="true" pagination="true">
      <thead class="thead-dark">
        <div class="row mt-2">
          <div class="col" style="font-size: 14px;">
            <span *ngIf="totalElements > 5 ">Mostrar</span>
            <select *ngIf="totalElements > 5 " class="selectFiltros" aria-label="Default select example"
              [(ngModel)]="page_size" (change)="selecRow()">
              <option *ngIf="totalElements > 5 " value="5" selected>5 vacantes</option>
              <option value="10">10 vacantes</option>
              <option value="25">25 vacantes</option>
              <option value="50">50 vacantes</option>
              <option value="100">100 vacantes</option>
            </select>
          </div>

          <div class="col text-right" style="font-size: 14px;">
            Ordenar por
            <select class="selectFiltros" aria-label="Default select example"
              (change)="filterOrderBy($any($event).target.value);">
              <option *ngFor="let lista of arregloOrderBy" value="{{lista.value}}"
                [selected]='lista.nombre =="Recientes"'>{{lista.nombre}}</option>
            </select>
          </div>
        </div>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let indice = index;">
          <th scope="row">
            <div class="card-group">
              <div class="card shadow-sm bg-white">
                <div class="card-body" style="padding: 0.50rem;">
                  <div class="row">
                    <div class="col-sm-4">
                      <h5 class="card-title tituloTabla mb-1">{{row.nombreProyecto}}</h5>
                      <h6 class="align-items-center card-subtitle d-flex subTituloRegular text-muted">
                        <input type="button" class="btn btn btn-success btn-circle mr-1">&nbsp;{{row.status}}
                      </h6>
                      <p class="card-text"></p>
                      <div [ngClass]="{'opacity': !row.confidencialidad}" class="row  text-center mb-2">
                        <input type="button" value="Confidencial"
                          class="botonBadge badge-pill badge-secondary bd-highlight btnConfidencial">
                      </div>
                      <div>
                        <h5 class=" subTituloMedium mb-1">Ciente:&nbsp;{{row.cliente}}</h5>
                        <h5 class=" subTituloRegular">
                          <img src="../../../../assets/img/dashboard/vacantes/reloj-de-pared.svg" alt="">
                          Publicada el {{row.tiempo}}
                        </h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <h5 class="card-title tituloTabla opacity">{{row.nombreProyecto}}</h5>
                      <h6 class="card-subtitle  subTituloMedium">Candidatos por etapa</h6>
                      <p class="card-text"></p>
                      <div class="row  text-center">
                        <div class="col-sm pr-0 pl-0 sombreado cursor-pointer"
                          (click)="reDirecto('candidatos',row.vacant);"><a
                            class="cerosRegular">{{row.candidatos.nuevos}}</a> <br>
                          <a class="titulosCeros">Postulantes</a>
                        </div>
                        <div class="col-sm pr-0 pl-0 sombreado cursor-pointer"
                          (click)="reDirecto('pruebas',row.vacant)"><a
                            class="cerosRegular">{{row.candidatos.videos}}</a> <br>
                          <a class="titulosCeros">
                            <h5 class=" titulosCeros mt-2">Pruebas y</h5>
                            <h5 class=" titulosCeros">videos</h5>
                          </a>
                        </div>
                        <!-- <div class="col-sm pr-0 pl-0 sombreado cursor-pointer" (click)="reDirecto('entrevistas',row.vacant)"><a class="cerosRegular">{{row.candidatos.entrevista}}</a> <br>
                          <a  class="titulosCeros">Entrevista</a>
                        </div>  -->
                        <div class="col-sm pr-0 pl-0 sombreado cursor-pointer"
                          (click)="reDirecto('finalistas',row.vacant)"><a
                            class="cerosRegular">{{row.candidatos.finalistas}}</a> <br>
                          <a class="titulosCeros">Finalistas</a>
                        </div>
                        <div class="col-sm pr-0 pl-0 sombreado cursor-pointer"
                          (click)="reDirecto('contratados',row.vacant)"><a
                            class="cerosRegular">{{row.candidatos.contradatos}}</a> <br>
                          <a class="titulosCeros">Contratados</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h5 class="card-title tituloTabla ">

                        <div ngbDropdown placement="bottom-right">
                          <span class="opacity">{{row.nombreProyecto}}</span>
                          <img *ngIf="row.permission"  src="../../../../assets/img/general/tresPuntosVertical.svg" alt="..."
                            style="float: right;" class="mt-1 cursor-pointer" id="dropdownBasic1" ngbDropdownToggle
                            (click)="validarNotificaciones(row.vacant.recruiters)">
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="canEditVacancy(row) && row.permission" ngbDropdownItem
                              (click)="redirectToEdit(row.idVacante)">
                              <img src="../../../../assets/img/dashboard/vacantes/edit-gray.svg" class="mr-1" alt="">
                              Editar
                            </button>
                            <button *ngIf="row.permission" ngbDropdownItem
                              (click)="openScrollableContent(false,row.idVacante,indice,row.vacant.recruiters);resetChecksPausarVacante();">
                              <img src="../../../../assets/img/dashboard/vacantes/pausar.svg" class="mr-1" alt="">
                              Pausar
                            </button>
                            <button *ngIf="row.permission" ngbDropdownItem
                              (click)="openScrollableCerrar(true,row.idVacante,indice);resetChecksPausarVacante();">
                              <img src="../../../../assets/img/dashboard/vacantes/xroja.svg" class="mr-1" alt="...">
                              Cerrar
                            </button>
                          </div>
                        </div>
                      </h5>
                      <h6 class="card-subtitle  subTituloMedium text-center">Reclutador

                      </h6>
                      <p class="card-text"></p>
                      <div class="row  text-center">
                        <div class="col-sm">
                          <span *ngFor="let imgg of row.reclutadores; let i=index" class="align-middle">
                            <img *ngIf="i < 2 && imgg.url != ''" src="{{imgg.url}}" alt="..."
                              class="rounded-circle mr-1 photo" placement="bottom" ngbTooltip="{{imgg.nombre}}"
                              tooltipClass="my-custom-class">
                            <input *ngIf="i < 2 && imgg.url == ''" type="button" value="{{imgg.iniciales}}"
                              class="btn-circle-mas ml-1 mr-0 textobtn-mas" placement="bottom"
                              ngbTooltip="{{imgg.nombre}}" tooltipClass="my-custom-class">
                          </span>

                          <app-modal-reclutadores class="align-middle" [arregloReclutadores]=" row.reclutadores"
                            [idVacante]="row.idVacante" [permission]="row.permission" ngbTooltip="Añadir reclutador">
                          </app-modal-reclutadores>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th>
        </tr>


      </tbody>
      <tfoot>
        <div class="d-flex justify-content-between p-2">
          <span>
            <label id="paginationInputLabel" for="paginationInput"
              class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}}
              vacantes</label>
          </span>
          <ngb-pagination *ngIf="totalElements >5" class="d-flex justify-content-end" [collectionSize]="totalElements"
            [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm"
            (pageChange)="rowsMostradas($event);">
            <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
            <ng-template ngbPaginationPrevious>
              <img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt=""
                style="transform: rotate(180deg);">
            </ng-template>
            <ng-template ngbPaginationPages let-page let-pages="pages">
              <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                <div class="form-group d-flex flex-nowrap px-2">
                  <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1">Página</label>
                  <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                    class="form-control-sm custom-pages-input input-sm" id="paginationInput" [value]="page"
                    (keyup.enter)="i.blur()" (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                  <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                    de {{pages.length}}</span>
                </div>
              </li>
            </ng-template>
            <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer"
                src="../../../../assets/img/general/right-chevron.svg" alt=""></ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
          </ngb-pagination>
        </div>
      </tfoot>
    </table>
  </div>
</div>


<!--Modales-->

<!--Modal en pausa-->
<ng-template #longContent let-modal>
  <form *ngIf="!banderaModales" [formGroup]="formularioCerrarVacante">
    <div class="modal-header d-flex">
      <h4 class="modal-title flex-grow-1 text-center">¿Quieres pausar la vacante?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img src="../../../../assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina ml-4 mb-2">Selecciona el motivo:</h4>

      <div class="form-check  ml-4">
        <div *ngFor="let catalogo of motivosPausarVacante" class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input" [attr.id]="catalogo.nombreFormulario"
            formControlName="{{catalogo.nombreFormulario}}"
            (change)="validarChecksPausarVacante(catalogo.nombreFormulario)">
          <label class="custom-control-label acuerdo"
            [attr.for]="catalogo.nombreFormulario">{{catalogo.spanishReason}}</label>
        </div>
        <div class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input" [attr.id]="'otroCheck'" formControlName="otroCheck"
            (change)="validarChecksPausarVacante('otroCheck')">
          <label class="custom-control-label" [attr.for]="'otroCheck'"></label>
          <input type="text" class="botonBadge1 text-left" placeholder="Otro" maxlength="20" [attr.id]="'otroText'"
            formControlName="otroText">
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top: 0;">
      <input type="button" value="Pausar" [attr.disabled]="datosPausarVacanteValid || reasonValue !== '' ? null : ''"
        [ngClass]='{"btn-red":datosPausarVacanteValid || (datosPausarVacanteValid && reasonValue !== "")}'
        class="botonBadge2" (click)="siguientePausarVacante();">
    </div>
  </form>
</ng-template>

<!--Modal mensaje confirmacion en pausa-->

<ng-template #confirmacionPausa let-modal>
  <form [formGroup]="formularioCerrarVacante">
    <div class="modal-header" style="border-bottom: 0;">
      <h4 class="modal-title">¿Quiere pausar esta vacante?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img src="../../../../assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina">Al pausar esta vacante</h4>
      <ul class="modal-title etiquetaPagina  ml-5">
        <li> Se eliminará la publicación de la vacante en las bolsas de empleo.</li>
        <li> Se conservarán los datos de los candidatos y podrá consultarlos en "Vacantes en pausa". </li>
      </ul>
    </div>
    <div class="modal-footer" style="border-top: 0; justify-content: space-between">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [attr.id]="'noMostrar'" formControlName="noMostrar">
        <label class="custom-control-label acuerdo" [attr.for]="'noMostrar'">No volver a mostrar esto</label>
      </div>
      <input type="button" value="Aceptar" class="botonBadge2 btn-greende"
        (click)="modal.close('Close click');setMensajeNotificacion('Se pausó la vacante');this.pausarVacante(iconoChekBlanco);">
    </div>
  </form>
</ng-template>

<!--Modal en Cerrar vacante-->
<ng-template #cerrarVacante let-modal>
  <form *ngIf="banderaModales" [formGroup]="formularioCerrarVacante">
    <div class="modal-header d-flex">
      <h4 class="modal-title flex-grow-1 text-center">¿Quieres cerrar la vacante?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img src="../../../../assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina ml-4">Selecciona el motivo:</h4>

      <div class="form-check  ml-4">
        <div *ngFor="let catalogo of motivosCerrarVacante" class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input" [attr.id]="catalogo.nombreFormulario"
            formControlName="{{catalogo.nombreFormulario}}"
            (change)="validarChecksPausarVacante(catalogo.nombreFormulario)">
          <label class="custom-control-label acuerdo"
            [attr.for]="catalogo.nombreFormulario">{{catalogo.spanishReason}}</label>
        </div>
        <div class="custom-control custom-checkbox mb-1">
          <input type="checkbox" class="custom-control-input" [attr.id]="'otroCheck'" formControlName="otroCheck"
            (change)="validarChecksPausarVacante('otroCheck')">
          <label class="custom-control-label" [attr.for]="'otroCheck'"></label>
          <input type="text" class="botonBadge1 text-left" placeholder="Otro" maxlength="20" [attr.id]="'otroText'"
            formControlName="otroText">
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top: 0;">
      <input type="button" value="Cerrar" [ngClass]='{"btn-red":datosPausarVacanteValid && reasonValue !== ""}'
        class="botonBadge2" (click)="siguientePausarVacante();">
    </div>
  </form>
</ng-template>

<!--Modal mensaje confirmacion cerrar-->

<ng-template #confirmacionCerrar let-modal>
  <form *ngIf="banderaModales" [formGroup]="formularioCerrarVacante">
    <div class="row" style="border-bottom: solid 1px; border-color: #F2F2F2;">
      <div class="col-sm-8  mt-2 mb-1">
        <h4 class="modal-title text-right">Importante</h4>
      </div>
      <div class="col-sm">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <img src="../../../../assets/img/general/x.svg" alt="..." class="mt-2">
        </button>
      </div>

    </div>
    <div class="modal-body">
      <h4 class="modal-title etiquetaPagina">Al cerrar esta vacante</h4>
      <ul class="modal-title etiquetaPagina  ml-5">
        <li> Se eliminará la publicación de la vacante en las bolsas de empleo.</li>
        <li> Se conservarán los datos de los candidatos y podrá consultarlos en "Vacantes cerradas". </li>
        <li> No podrá volver a activar la vacante. </li>
      </ul>
    </div>
    <div class="modal-footer" style="border-top: 0; justify-content: center">

      <input type="button" value="Aceptar" class="botonBadge2 btn-greende"
        (click)="modal.close('Close click');setMensajeNotificacion('Se cerró la vacante');cerrarVacanteService(iconoChekBlanco);">
    </div>
  </form>
</ng-template>

<!--modal convertir a plantilla-->
<ng-template #modalNombrePlantilla let-modal>
  <form [formGroup]="formularioPlantilla">
    <div id="modalPreguntas" class="text-right">
      <span class="modales cursor-pointer mt-2 mr-3" aria-label="Close" (click)="modal.dismiss('Close click');">
        <img src="../../../../assets/img/general/x.svg" class="mt-3" alt="">
      </span>
    </div>
    <div class="modal-body text-center">
      <input formControlName="inputPregunta" class="textPlaceHolder" style="border: 0;" type="text" id="guardarPregunta"
        placeholder="Escriba el nombre de la plantilla">
    </div>
    <div class="text-right mb-4">
      <button class="badge badge-pill  p-2 mr-3  "
        (click)="setMensajeNotificacion('Se guardó la plantilla'); modal.close('Close click'); crearPlantilla(iconoChekBlanco); "
        [ngClass]="formularioPlantilla.invalid ? 'btnContinuarDisabled' : 'btnContinuar'"
        [disabled]="formularioPlantilla.invalid">Guardar</button>
    </div>
  </form>
</ng-template>

<ng-template #modalPaymentRenovation let-modal>
  <div class="modal-header d-flex">
    <button class="useless d-none"></button>
    <h4 class="modal-title flex-grow-1 text-center">¡Gracias por tu pago!</h4>
    <button type="button" class="close absolute" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="../../../../assets/img/general/x.svg" alt="..." class="">
    </button>
  </div>
  <div class="modal-body text-center px-5">

    <img class="my-3" src="../../../../assets/img/dashboard/vacantes/check.svg" alt="...">
    <p class="mb-3">Sigue disfrutando de todos los beneficios de nuestro software de reclutamiento.</p>
    <p class="mb-0">Tu próximo pago será:</p>
    <p class="mb-0 font-weight-bold">{{nextExpirationDate}}</p>
    <button class=" my-4 py-2 btn-block involve-button badge-pill"
      (click)="modal.dismiss('Cross click')">Continuar</button>
  </div>
</ng-template>

<ng-template #modalAboutToExpire let-modal>
  <div class="modal-header d-flex">
    <h4 class="modal-title flex-grow-1 text-center">¡No dejes de reclutar!</h4>
    <button type="button" class="close absolute" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="../../../../assets/img/general/x.svg" alt="..." class="">
    </button>
  </div>
  <div class="modal-body">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <app-loader-image url="assets/img/dashboard/vacantes/slide-expire.jpg" [sinClases]="true">
            <div class="text-center py-4">
              <app-loading></app-loading>
            </div>
          </app-loader-image>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="text-center mt-2">
      <h6 class="m-0">El pago de tu suscripción está por vencer ¿Lo renovamos?</h6>
    </div>
    <div class="row py-3">
      <div class="col text-center">
        <button class="badge  badge-pill involve-button btn-continue py-2 px-5 mb-1" autofocus
          (click)="redirectoToPlan();">Renovar ahora</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>