.contenedor {
  background: var(--f100) 0% 0% no-repeat padding-box;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: calc(100% - 153px);
}
.contenedor2 {
  background: #fafafa;
  opacity: 1;
}

.tamContenedor {
  min-height: calc(100% - 153px);
}

.texto {
  display: flex;
  font-size: 24px;
  color: #cbcbcb;
}

.backGroundAzul {
  background: #0aa8a8;
  max-width: 4.333333%;
  border-bottom-left-radius: 9%;
  border-top-left-radius: 9%;
}

.shadowNotification {
  -webkit-box-shadow: 0 4px 6px -6px #cbcbcb;
  -moz-box-shadow: 0 4px 6px -6px #cbcbcb;
  box-shadow: 0 4px 6px -6px #cbcbcb;
}

.rew {
  height: 4rem;
}

.tituloNuevaVacante {
  font-size: 14px;
  color: #525251;
  align-content: flex-start;
  font-weight: 600;
}

.subtituloNuevaVacante {
  font-size: 14px;
  color: #525251;
  align-content: flex-start;
}

.borde {
  border: 0;
}

.colX {
  max-width: 3.333333%;
}

.tituloTabla {
  font-size: 15px;
  color: #565656;
  font-weight: 600;
}

.subTituloRegular {
  font-size: 12px;
  color: #565656;
  font-weight: 500;
  cursor: default;
}

.subTituloRegular:hover {
  text-decoration: none;
}

.subTituloMedium {
  font-size: 12px;
  color: #565656;
  font-weight: 600;
}

.cerosRegular {
  font-size: 14px;
  color: #565656;
  font-weight: 500;
  text-decoration: none;
}

.titulosCeros {
  color: #1c1c1b;
  font-size: 11px;
}
.btn-circle {
  width: 0.7em;
  height: 0.7em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: auto;
  border: 0;
}

.btn-circle-mas {
  width: 2.4em;
  height: 2.4em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #ababab80;
  box-sizing: border-box;
  cursor: auto;
  background: #ababab80;
}
.btn-circle-mas:hover {
  border: solid 1px;
  border-color: #0bb9b9;
}
.rounded-circle:hover {
  border: solid 1px;
  border-color: #0bb9b9;
}
.textobtn-mas {
  font-size: 12px;
  color: #565656;
  font-weight: 600;
}
.btnConfidencial {
  width: 30%;
  background: #ed3526;
  border: 0;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  cursor: auto;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.opacity {
  opacity: 0;
}

.table td,
.table th {
  border-top: 0;
}

.card {
  border-radius: 0.5rem;
}

.etiquetaPagina {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #1c1c1b;
  font-size: 16px;
  text-decoration: none;
  cursor: default;
  opacity: 0.8;
}
.acuerdo {
  font-size: 16px;
  opacity: 0.8;
  color: #1c1c1b;
}

.selectFiltros {
  background: transparent;
  border: 0;
  font-weight: 600;
}
.selectFiltros:focus {
  outline: none;
}

.botonBadge1 {
  display: inline-block;
  width: 50%;
  padding: 0.15em 0.4em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border: solid 1px;
  border-color: #ababab80;
}
.botonBadge2 {
  border: 0;
  display: inline-block;
  width: 25%;
  padding: 0.6em 0.4em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border: 0;
  &[disabled] {
    background-color: #f8f8f8;
    border: 1px solid;
    color: #979797;
    cursor: default;
  }
}
.modal-title {
  opacity: 0.9;
}

.btn-greende {
  background: #0bb9b9;
  color: #f6f6f6;
  font-weight: 500;
}

.btn-red {
  background: #e21d1d;
  color: #f6f6f6;
  font-weight: 500;
}

.sombreado:hover {
  background: #f6f6f6;
  cursor: default;
}

.titulosCeros:hover {
  text-decoration: none;
}

/*Modal activar plantilla*/
.btnContinuarDisabled {
  width: 8em;
  height: 2.5em;
  border: solid 1px #e1e1e1;
  background-color: #f6f6f6;
}

.btnContinuar {
  width: 8em;
  height: 2.5em;
  border: solid 1px #0bb9b9;
  background-color: #0bb9b9;
  color: #f2f2f2;
}

.modales {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.textPlaceHolder {
  font-size: 24px;
  ::-webkit-input-placeholder {
    color: #b4b4b4;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #b4b4b4;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b4b4b4;
  }

  :-ms-input-placeholder {
    color: #b4b4b4;
  }
}

/*Para los paginadores*/
::ng-deep .page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem;
}

::ng-deep .page-item:last-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem;
}

::ng-deep .page-item.disabled .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #a8a8a8;
  border: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

::ng-deep .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #0bb9b9;
  border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
  background-color: #088d8d;
}

::ng-deep .page-link:focus {
  box-shadow: none;
}

.input-sm {
  width: 2.25rem;
  border-radius: 0.4rem;
  height: calc(1.5em + 0.5rem + 2px);
  text-align: center;
}
.textoPaginadorMedium {
  font-size: 14px;
  color: #565656;
  font-weight: 400;
  opacity: 0.8;
}

.textoPaginadorRegular {
  font-size: 16px;
  color: #565656;
}

/*Fin estilos paginadores*/

.textPlaceHolder {
  border: 0;
  &:hover {
    border: 0;
  }
  &:focus {
    border: 0;
  }
  &::placeholder {
    color: #b4b4b4;
  }
}

.photo {
  width: 1.9em;
  border-radius: 50%;
  height: 1.9em;
  border: solid 1px #ffff;
}
