$colors: (
  negro: #000000,
  title: #2e2e2e,
  title-input: #3c3c3b,
  border-input: #cfcfcf,
  btn-active: #0bb9b9,
);

p {
  font-weight: bold;
  margin-bottom: 0;
}

input {
  height: 48px;
}

.form-control {
  font-size: 22px;
  height: 48px;
}
