<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

      <!-- ACCORDEON -->
    <div class="col col-lg-3 col-sm-12 ">
      <div class="grid__accordion">
          <app-sidebar></app-sidebar>
      </div>
    </div>

    <!-- TXT -->
    <div class="col col-lg-7 col-sm-12 fluid__top">
        <div class="forgot-info-container">

          <form>
            <div class="main-container personal-information"> 
              <div class="forgot-info-container" >
            
                <!-- TITLE -->
                <div class="personal-information__title">
                    <h1>¿Cuál es tu estado civíl?</h1>
                </div>
                  
                <!-- NAME -->
                <div class="forgot-info-form personal-information__title-input">
                    <div class="info-form-inpput">
                        <p>Selecciona</p>
                        <!--<input type="text" class="form-control placeHolder" formControlName="gender"> -->
                        <select class="input-large form-control" (change)="onChangeMaritalStatus()">
                          <option value="casado" selected="selected">Casado</option>
                          <option value="soltero">Soltero</option>
                          <option value="viudo">Viudo</option>
                          <option value="divorciado">Divorciado</option>
                          <option value="concubinato">Concubinato</option>
                          
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <small id="helpBirthday" class="form-text text-muted personal-information__title-input--helperText">
                        ¿Quieres que te busque pareja? Jajaja... Es broma
                      </small>
                </div>

              </div>
            </div>
            </form>
    
        </div>
    </div>

    </div>
  </div>