@import '../../../../../assets/scss/variables';


.header {
  background: #1C1C1B;
  color: #F2F2F2;
  font-size: 22px;
  font-weight: 500;
}

.titleHeader {
  font-size: 24px;
  color: #FFFF;
  font-weight: 400;
}

.title {
  font-size: 24px;
  color: $S600;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: $S400;
  font-weight: 600;
}

.textSemiBold {
  font-size: 16px;
  color: $S400;
  font-weight: 600;
}

.tamPhoto {
  font-size: 12px;
  color: $S200;
}

.file-input {
  display: none;
}

.paddingbtnUpload {
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.btnDelete {
  background-color: #FDEAEA;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400;

  .hover {
    display: none;
  }
  &:hover {
    background-color: $E200;
    color: #FFFFFF;

    .imgDelete {
      content: url('../../../../../assets/img/dashboard/Clientes/basura-blanco.svg');
    }
    .default{
      display: none;
    }
    .hover{
      display: inline-block;
    }
  }
}

.btnDeleteDisabled {
  background-color: #EAEAEA;
  border: solid 1px #ABABAB;
  color: #ABABAB;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    .imgDelete {
      content: url('/assets/img/dashboard/Clientes/basuraGris.svg');
    }
  }
}

.btnChangeBlue {
  background-color: $P600;
  border: solid 1px $P600;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P700;
    border: solid 1px $P700;
  }
}

/*para el select */
.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -moz-appearance: none;
  background-color: #FFFFFF;
}

.select:hover {
  border: solid 1px;
  border-color: #2680EB;
}

.select:focus {
  outline: none;
}

.botonG {
  border: solid 1.5px $P500;
  color: $P500;
  background-color: #F6F6F6;
}

.radio {
  width: 1.5em;
  height: 1.0em;
}

.borderRadio-left {
  border-radius: 0;
  border-left: 0;
}

.borderRadio-ri {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.borderRadio-left1 {
  font-size: 12px;
  color: #565656;
  border-radius: 0;
  border-left: 0;
  border: solid 1px #fff;
  border-color: #CFCFCF;
  width: 6em;
  background-color: #fff;
  &:last-child{
    padding-left: unset;
    padding-right: unset;
  }
}

.conBordeRadioLeft {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-color: #CFCFCF;
  width: 6em;
}

.conBordeRadioLeft:focus {
  outline: none;
  box-shadow: none
}

.conBordeRadioRigth:focus {
  outline: none;
  box-shadow: none
}

.conBordeRadioRigth {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: solid 1px #fff;
  border-color: #CFCFCF;
  width: 6em;
}

.conBordeRadioRigth:hover {
  border-left: solid 1px;
  border-color: $P500;
  color: $P500;
}

.conBordeRadioLeft:hover {
  border-right: solid 1px;
  border-color: $P500;
  color: $P500;
}

.borderRadio-left1:hover {
  border: solid 1px;
  border-color: $P500;
  color: $P500;
}

.efectosInput:hover {
  border: solid 1px;
  border-color: #2680EB;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: $P500;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.bordeSeleccionado {
  border: solid 1px;
  border-color: $P500;
}

.backGroundImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  opacity: 20%;
  border: solid 1px;
}


@media screen and (max-width: 991px) {
  /* Aquí van los estilos para tablets grandes y desktop */
}

@media screen and (max-width: 767px) {
  /* Aquí van los estilos para tablets medianas */
  
  .ml {
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  /* Aquí van los estilos para smartphones */

  .ml {
    margin-left: 0;
  }

  .btnEmployed{
    width: 5em;
    font-size: 11px;
  }

  .img-center{
    text-align: center;
  }

  .aling-buttons {
    float: initial;
    justify-content: center;
    margin-left: 0;
  }
}