<div class="card text-center border-top" style="margin-bottom: 5em;">
  <h5 class="card-header text-left header">
    {{'configuration.company.title' | translate}}
  </h5>
  <div class=" text-left card-body">
    <form [formGroup]="formCompany">
      <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-form-label title"
        autocomplete="off">{{'configuration.company.newSubtitle' | translate}}</label>

      <div class="row mb-3 ml-lg-5 mb-4">
        <label for="colFormLabel"
          class="col-sm-4 col-form-label textoEtiquetas"maxlength="99">{{'configuration.company.name' | translate}}</label>
        <div class="col-sm-7 p-0">
          <input type="text" formControlName="nameCompany" class="form-control efectosInput" id="nameCompany" maxlength="99"
            [ngClass]="(formCompany.controls.nameCompany.errors && formCompany.controls.nameCompany.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formCompany.controls.nameCompany.errors?.required && formCompany.controls.nameCompany.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
          <small *ngIf="formCompany.controls.nameCompany.errors?.pattern && formCompany.controls.nameCompany.touched"
            class="text-danger">Usa sólo letras</small>
        </div>
      </div>
      <!-- Logo -->
      <div class="row mb-3 ml-lg-5 mb-4">
        <label for="colFormLabel"
          class="col-sm-4 col-form-label textoEtiquetas d-flex justify-content-start align-items-center">{{'configuration.company.logo' | translate}}</label>
        <div class="col-sm-7 pl-lg-2 pl-sm-0 img-center">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col pr-0 pl-0">
              <div style="display: inline-block;">
                <app-loader-image *ngIf="photo != null" [url]="photo">
                  <img async src="assets/img/dashboard/Profile/sinfotoCompany.svg" alt="" width="150" height="150">
                </app-loader-image>  
                <div *ngIf="photo == null" class="d-flex justify-content-center align-items-center backGroundImage">
                  <img src="../../../../../assets/icons/icon-perfil-default.svg" alt="" width="150" height="150">
                </div>
              </div>
            </div>
            <div class="col p-0">
              <div class="modal-footer pr-0 pb-0" style="border-top: 0; display: inline-block;">
                <input type="file" class="file-upload file-input" (change)="onFileSelected($event);" #fileUploadCompany accept="image/*">
                <span *ngIf="!isCustomPhoto"
                  class="badge badge-pill badge-secondary  py-1 paddingbtnUpload mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel"
                  (click)="fileUploadCompany.click()">{{ 'commons.subir' | translate }}</span>
                <span *ngIf="isCustomPhoto"
                  class="badge badge-pill badge-secondary  py-1 paddingbtnUpload mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel"
                  (click)="fileUploadCompany.click()">{{ 'commons.cambiar' | translate }}</span>
                <span (click)="onDeletePhotoAttempt()"
                  class="badge badge-pill py-1 px-3 mb-2 mt-2 btnNewClient cursor-pointer d-flex justify-content-center align-items-center"
                  [ngClass]="(photo == null) ? 'btnDeleteDisabled':'btnDelete'">
                  <img src="/assets/img/dashboard/Clientes/{{imgTrash}}" alt="" class="mr-1 imgDelete"
                    style="height: 1em;">
                  {{ 'commons.eliminar' | translate }}</span>
              </div>
              <h4 class="tamPhoto mt-2">{{'configuration.profile.tamPhoto' | translate}}</h4>
            </div>
            <div class="col-xl-3 col-lg-3 p-0"></div>
          </div>
        </div>
      </div>

      <!-- Sector -->
      <div class="ml-5 row mb-4 ml">
        <label for="colFormLabel"
          class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.sector' | translate}}</label>
        <div class="col-sm-7 p-0">
          <select formControlName='companySector' name="companySector" class="form-select mdb-select md-form select"
            id="companySector"
            [ngClass]="(formCompany.controls.companySector.errors && formCompany.controls.companySector.touched) ? 'is-invalid' : 'ng-invalid'">
            <option selected disabled value="">Seleccionar</option>
            <option *ngFor="let itemSectores of sectores" [value]="itemSectores.sectorId">{{itemSectores.spanishName}}
            </option>
          </select>
          <small *ngIf="formCompany.controls.companySector.errors && formCompany.controls.companySector.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
      </div>

      <!-- Giro -->
      <div class="ml-5 row mb-4 ml">
        <label for="colFormLabel" class="col-sm-4 col-form-label textoEtiquetas">Giro</label>
        <div class="col-sm-7 p-0">
          <select formControlName="companygiro" class="form-select mdb-select md-form select" id="companygiro"
            [ngClass]="(formCompany.controls.companygiro.errors && formCompany.controls.companygiro.touched) ? 'is-invalid' : 'ng-invalid'">
            <option selected disabled value="">Seleccionar</option>
            <option *ngFor="let itemGiros of giros" [value]="itemGiros.industryId">{{itemGiros.spanishName}}</option>
          </select>
          <small *ngIf="formCompany.controls.companygiro.errors && formCompany.controls.companygiro.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
      </div>

      <!--tipo de empresa-->
      <div class="ml-5 row mb-4 ml">
        <label for="colFormLabel"
          class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.tipoEmpresa' | translate}}</label>
        <div class="col-sm-7 p-0">
          <select formControlName="typeCompany" class="form-select mdb-select md-form select" id="typeCompany"
            [ngClass]="(formCompany.controls.typeCompany.errors && formCompany.controls.typeCompany.touched) ? 'is-invalid' : 'ng-invalid'">
            <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
            <option class="select" value="NACIONAL">Nacional</option>
            <option class="select" value="INTERNACIONAL">Internacional</option>
          </select>
          <small *ngIf="formCompany.controls.typeCompany.errors && formCompany.controls.typeCompany.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
      </div>

      <!-- Num empleados -->
      <div class="ml-5 row mb-4 ml">
        <label for="colFormLabel"
          class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.numEmpleados' | translate}}</label>
        <div class="col-sm-7 p-0">
          <div class="input-group mt-1">
            <button *ngFor="let objTamanio of tamanios" class="btn btn-sm  borderRadio-left1 btnEmployed"
              [ngClass]="{'btn btn-sm conBordeRadioLeft': objTamanio.idTamano == 'OPC1','btn btn-sm  conBordeRadioRigth': objTamanio.idTamano == 'OPC4','botonG':tamEmprea ==objTamanio.idTamano}"
              (click)="onclickTamEmpresa(objTamanio.idTamano,objTamanio.tamano)"
              [ngStyle]="{'border-color': tamEmprea == objTamanio.tamano ? '#0BB9B9':'','color':tamEmprea == objTamanio.tamano ? '#0BB9B9':''}">
              {{objTamanio.tamano}}
              <input type="text" style="display: none;" class="conBordeRadioLeft" value="{{objTamanio.tamano}}"
                formControlName="numEmpleadosEmpresa" name="numEmpleadosEmpresa">
            </button>
          </div>
          <small
            *ngIf="formCompany.controls.numEmpleadosEmpresa.errors && formCompany.controls.numEmpleadosEmpresa.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
        </div>
      </div>

      <!-- Pais -->
      <div class="row mb-3 ml-5 ml">
        <label for="colFormLabel" class="col-sm-4 col-form-label textoEtiquetas">País</label>
        <div class="col-sm-7 p-0">
          <select formControlName='pais' class="form-select mdb-select md-form select" id="pais" required>
            <option selected disabled value="">Seleccionar</option>
            <option [value]="itemCountry.iso2" *ngFor="let itemCountry of country">{{itemCountry.nameNative}}</option>
          </select>
          <small *ngIf="formCompany.controls.pais.errors && formCompany.controls.pais.touched" class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
      </div>

      <div class="row mb-3 ml-5 mb-4 mr-lg-3 aling-buttons" style="float: right;">
        <span
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 mr-3 bd-highlight btnNewClient cursor-pointer btnCancel"
          (click)="this.getCompany(true);">{{ 'commons.cancelar' | translate }}</span>
        <span
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChangeBlue"
          (click)="onClickSubmitCompany();">{{ 'commons.actualizar' | translate }}</span>
      </div>
    </form>
  </div>
</div>

<ng-template #iconoChekBlanco>
  <img async class="cursor-pointer mr-3" src="assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>
<ng-template #deletePhotoConfirmation>
  <div>
    <div class="pt-4 modal-header">
      <h5 class="modal-title text-center font-weight-bold">{{'configuration.company.titleHeader' | translate}}</h5>
    </div>
    <div class="row p-2">
      <div class="col-12 mb-3">
        <p class="text-center">{{'configuration.profile.titleHeaderDescription' | translate}}</p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-6 text-center">
        <button class="badge badge-pill involve-button btnCancel py-2 px-5 mb-1" (click)="onCloseModal()">{{'commons.cancelar' | translate}}</button>
      </div>
      <div class="col-6 text-center btn-delet">
        <button class="badge badge-pill involve-button btnDelete py-2 px-5 mb-1" (click)="deletePhoto()">
          <img class="default" src="/assets/icons/icon-trash-red.svg" alt="">
          <img class="hover" src="/assets/icons/icon-trash-white.svg" alt="">
          {{'commons.eliminar' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
