@mixin fontregular() {
  font-family: GilroyRegular, sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin fontbold() {
  font-family: GilroyBold, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin fontsemibold() {
  font-family: GilroySemiBold, sans-serif;
  font-style: normal;
  font-weight: 500;
}
