#caption {
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 5px;
    background-color: rgba(0,0,0,.5); /* asignar el color y  transparencia */
    position: absolute;
    bottom: 0;
  }

  :focus:not(:focus-visible) {
    outline: 0;
  }

  :focus{
    outline: 0; 
  }
  h4{
    font-size: 32px;
    font-weight: bold;
  }

  .btn-continue {
    min-width: 400px;
  }