<div class="p-3">
    <h4 *ngIf="!newUser" class="mb-4 text-center">{{'login.reactivation.modalCancel.toback' | translate}}</h4>
    <h4 *ngIf="newUser" class="mb-4 text-center">{{'login.reactivation.modalCancel.use' | translate}}</h4>
    <ngb-carousel (slid)="cambio($event)">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">

            <app-loader-image url="assets/img/login/slider/slider1.jpg" [sinClases]="true">
                <div class="text-center py-4">
                   <app-loading></app-loading>
                </div>
            </app-loader-image> 
                <!-- <img src="assets/img/login/slider/slider1.png" alt="Random first slide"> -->
          </div>
              
         
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/img/login/slider/slider2.jpg" alt="Random second slide">
          </div>
          
        </ng-template>
      </ngb-carousel>
      <div *ngIf="slider1" class="text-center mt-2">
          <h6 class="m-0">{{'login.reactivation.modalCancel.slider1T1' | translate}}</h6>
          <h6>{{'login.reactivation.modalCancel.slider1T2' | translate}}</h6>
      </div>
      <div *ngIf="slider2" class="text-center mt-2">
        <h6 class="m-0">{{'login.reactivation.modalCancel.slider2T1' | translate}}</h6>
        <h6>{{'login.reactivation.modalCancel.slider2T2' | translate}}</h6>
    </div>
    <div class="row py-3">
      <div class="col text-center">
        <button *ngIf="!newUser" class="badge  badge-pill involve-button btn-continue py-2 px-5 mb-1" (click)="deleteSuscription();">{{'login.reactivation.modalCancel.btn' | translate}}</button>
        <button *ngIf="newUser" class="badge  badge-pill involve-button btn-continue py-2 px-5 mb-1" (click)="close();">{{'login.reactivation.modalCancel.btnUse' | translate}}</button>
      </div>
    </div>
  </div>
  