$colors: (
  blanco: #ffffff,
  negro: #000000,
  title: #2E2E2E,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9,
  registrar: #0AA8A8
);

.fluid {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.fluid__body {
    height: 100vh;
}

    .fluid__img-container {
        width: 100%;
        height: 100%;
        background-image: url(../../../../../assets/glenn-carstens-peters-npxXWgQ33ZQ-unsplash@2x.png);
        background-size: cover;
        background-size: cover;
        background-position: center;
    }

.fluid__txt {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

    .style-txt__title h1 {
        margin-top: 32px;
    }

.fluid__upload {
    margin-top: 80px;
}
    .fluid__upload label {
        font-weight: bold;
    font-size: 14px;
    color: map-get($colors, title-input);
    }

.fluid__btn {
    margin-top: 80px;
}

.fluid__upload {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    height: 60px;
    border-radius: 1px;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px dashed map-get($colors, btn-active);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.fluid__upload > input[type="file"] {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 4;
    opacity: 0;
}
    

/************** LOADER *************/
.fluid__loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.fluid__loader--animation {
    position: relative;
}        
    .fluid__loader--animation-loader  {
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
        border: 5px solid #E4EBF5;
        border-radius: 50px;
        height: 100px;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
        @keyframes spin {
            to {
                border-top-color: #0BB9B9;
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

    .fluid__loader img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
        width: auto;
    }

    .fluid__loader img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .fluid__loader h2 {
        text-align: center;
    }
    .fluid__loader p {
        text-align: center;
        line-height: 25px;
    }
        .fluid__loader h2 {
            margin: 32px 0;
        }  
        .textRegularActive-lg p {
            margin-bottom: 12px;
            color: map-get($colors, btn-active);
        }

/************ MODAL **********/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: auto;
    height: auto;
    width: 400px;
}

    .textBold-md {
        width: 100%;
        text-align: center;
    }

    .modal-body img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body p {
        text-align: center;
        margin-top: 12px;
    }