<div class="fluid">

    <!-- OCR -->
    <div class="row fluid__body" style="display: none;">

        <div class="col col-lg-6 fluid__txt">

            <!-- LOGO -->
            <svg xmlns="http://www.w3.org/2000/svg" width="77.528" height="56.657" viewBox="0 0 77.528 56.657">
                <g id="Grupo_2756" data-name="Grupo 2756" transform="translate(-89.836 -251.807)">
                  <g id="Grupo_1347" data-name="Grupo 1347" transform="translate(89.836 287.313)">
                    <g id="Grupo_1346" data-name="Grupo 1346" transform="translate(0 0)">
                      <path id="Trazado_4021" data-name="Trazado 4021" d="M935.625,436.64a6.282,6.282,0,0,1-3.047,3.461,6.642,6.642,0,0,1-9.27-3.347,6.1,6.1,0,0,1,3.277-7.692,6.643,6.643,0,0,1,8.8,3.022,5.673,5.673,0,0,1,.46,3.692h-9.425a2.619,2.619,0,0,0,.82,1.265,3.262,3.262,0,0,0,4.559-.133.959.959,0,0,1,.6-.256C933.45,436.626,934.5,436.64,935.625,436.64Zm-9.182-3.145h6a3.191,3.191,0,0,0-6,0Z" transform="translate(-858.443 -424.88)"/>
                      <path id="Trazado_4022" data-name="Trazado 4022" d="M678.815,428.088a6.548,6.548,0,0,1,6.192,4.494A6.131,6.131,0,0,1,681.5,440a6.622,6.622,0,0,1-8.465-2.8,6.152,6.152,0,0,1,4.036-8.843C677.641,428.222,678.234,428.177,678.815,428.088Zm3.191,6.247a3.21,3.21,0,1,0-3.191,3.281A3.223,3.223,0,0,0,682.006,434.335Z" transform="translate(-640.473 -424.588)"/>
                      <path id="Trazado_4023" data-name="Trazado 4023" d="M484.11,440.444h-3.224c0-.374,0-.725,0-1.077-.018-1.8.042-3.609-.078-5.4a2.728,2.728,0,0,0-3.5-2.537,2.915,2.915,0,0,0-2.068,2.927c-.025,1.861-.009,3.724-.011,5.586,0,.16,0,.319,0,.5h-3.24c-.01-.109-.03-.221-.03-.333,0-1.847-.027-3.695.006-5.541a5.923,5.923,0,0,1,2.887-5.317,6.043,6.043,0,0,1,9.248,4.931c.111,2,.03,4.018.035,6.028A2.316,2.316,0,0,1,484.11,440.444Z" transform="translate(-466.182 -424.829)"/>
                      <path id="Trazado_4024" data-name="Trazado 4024" d="M567.348,431.038c1.116,0,2.193-.012,3.268.016.128,0,.3.2.367.35.958,2.157,1.9,4.32,2.849,6.481.065.148.135.294.235.514.091-.191.16-.327.221-.467.948-2.161,1.9-4.32,2.836-6.487a.566.566,0,0,1,.616-.418c1.014.025,2.03.009,3.1.009-.081.2-.131.331-.192.461q-2.545,5.454-5.086,10.91a.536.536,0,0,1-.585.386c-.634-.03-1.271,0-1.9-.02a.535.535,0,0,1-.4-.227q-2.658-5.645-5.287-11.3A1.111,1.111,0,0,1,567.348,431.038Z" transform="translate(-549.163 -427.144)"/>
                      <path id="Trazado_4025" data-name="Trazado 4025" d="M824.9,438.243c.086-.181.151-.308.208-.439.948-2.161,1.9-4.32,2.836-6.487a.592.592,0,0,1,.647-.44c1,.029,2.005.01,3.078.01-.078.184-.128.314-.187.44q-2.555,5.474-5.1,10.949a.505.505,0,0,1-.552.367c-.649-.028-1.3,0-1.95-.018a.493.493,0,0,1-.37-.207q-2.664-5.666-5.3-11.346c-.017-.035,0-.085,0-.186a23.794,23.794,0,0,0,2.421-.018,1.245,1.245,0,0,1,1.475.96c.8,2,1.705,3.954,2.569,5.927C824.734,437.9,824.807,438.042,824.9,438.243Z" transform="translate(-767.358 -426.996)"/>
                      <path id="Trazado_4026" data-name="Trazado 4026" d="M786.914,416.826h-3.206V401.2h3.206Z" transform="translate(-737.356 -401.2)"/>
                      <path id="Trazado_4027" data-name="Trazado 4027" d="M432.8,443h-3.2V431.3h3.2Z" transform="translate(-429.353 -427.377)"/>
                      <path id="Trazado_4028" data-name="Trazado 4028" d="M429.52,538.755a1.831,1.831,0,0,1-1.863-1.84,1.869,1.869,0,0,1,1.874-1.889,1.9,1.9,0,0,1,1.855,1.878A1.866,1.866,0,0,1,429.52,538.755Z" transform="translate(-427.658 -517.604)"/>
                    </g>
                  </g>
                  <g id="Grupo_1349" data-name="Grupo 1349" transform="translate(91.339 251.807)">
                    <ellipse id="Elipse_190" data-name="Elipse 190" cx="4.979" cy="4.979" rx="4.979" ry="4.979" transform="translate(18.046 0.155)" fill="#6ee3e3"/>
                    <g id="Grupo_1348" data-name="Grupo 1348" transform="translate(0 0)">
                      <path id="Trazado_4029" data-name="Trazado 4029" d="M1158.232,504.788h0Z" transform="translate(-1134.898 -490.119)" fill="#6ee3e3"/>
                      <path id="Trazado_4030" data-name="Trazado 4030" d="M1129.047,455.724a51.633,51.633,0,0,1-10.223-11.1,8.43,8.43,0,0,0-5.223-3.907,15.683,15.683,0,0,0-7.573-.088,7.216,7.216,0,0,0-4.292,2.624c-.751,1.009-.581.569-2.345,2.942s-2.424,3.945-6.362,6.484-6.442,2.31-10.366,2.2c0,0-.238,0-.479,0-6.034-.125-10.977-2.167-14.153-7.392a13.467,13.467,0,0,0-3.466-3.707,3.161,3.161,0,0,0-5.262,2.5c.062,3.209,1.746,5.692,4.09,7.708a51.62,51.62,0,0,1,10.223,11.1,8.432,8.432,0,0,0,5.223,3.906,15.681,15.681,0,0,0,7.573.088,7.216,7.216,0,0,0,4.293-2.623c.751-1.009,1.462-1.832,2.345-2.942,1.973-2.479,3.217-4.311,6.362-6.484s6.442-2.309,10.366-2.2c0,0,.238,0,.479,0,6.034.126,10.977,2.167,14.154,7.392a13.476,13.476,0,0,0,3.466,3.707,3.161,3.161,0,0,0,5.262-2.5C1133.076,460.223,1131.392,457.74,1129.047,455.724Z" transform="translate(-1059.302 -440.207)" fill="#6ee3e3"/>
                      <path id="Trazado_4031" data-name="Trazado 4031" d="M1273.326,504.565h0Z" transform="translate(-1222.824 -489.946)" fill="#6ee3e3"/>
                    </g>
                    <ellipse id="Elipse_191" data-name="Elipse 191" cx="4.979" cy="4.979" rx="4.979" ry="4.979" transform="translate(45.082 20.075)" fill="#6ee3e3"/>
                  </g>
                </g>
              </svg>
              

            <!-- TXT -->
            <div class="style-txt__title style-txt__paragraph">
                <h1>Ahora selecciona y sube tu CV</h1>
            </div>

            <!-- UPLOAD -->
            <div class="fluid__upload">
                <label for="formFile" class="form-label style-txt-smal">Adjuntar CV</label>
                <input id="formFile" type="file">
            </div>

            <!-- BTN -->
            <div class="row fluid__btn">
                <div class="col col-lg-4 style-txt__btn--outliner">
                    <button type="button" class="btn text-center">Omitir</button>
                </div>

                <div class="col col-lg-4 style-txt__btn--solid">
                    <button type="button" class="btn text-center">Enviar</button>
                </div>
            </div>

        </div>

        <div class="col col-lg-6">
            <div class="fluid__img-container" alt=""></div>
        </div>

    </div>

    <!-- LOADER -->
    <div class="row d-flex justify-content-center fluid__loader">
        
        <div class="col-md-6">
            <div class="fluid__loader--animation">
                <div class="fluid__loader--animation-loader"></div>
                <img src="../../../../../assets/logo-loader.svg" alt="">
            </div>

            <h2>En progreso</h2>

            <div class="textRegularActive-lg">
                <p>Por favor espere</p>
            </div> 

            <div class="textRegular-lg">
                <p>Estamos extrayendo la información de su educación y experiencia laboral</p>
            </div>
            
        </div>

    </div>
    


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">modal</button>
  
    <!-- MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
            
            <!-- TITLE -->
            <div class="textBold-md">
                <p class="modal-title" id="exampleModalLabel">Extracción lenta</p>
            </div>

            <!-- BTN CLOSE -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
             
            </div>

            <!-- BODY -->
            <div class="modal-body">
                <img src="../../../../../assets/icon-modal.svg" alt="">
                <p>Te enviaremos un correo en cuanto hayamos terminado</p>
            </div>

        </div>
        </div>
    </div>
    
</div>