<app-main-navbar [mainNavData]="mainNavData">
  <ng-container search>
    <app-input-search-generic (spreadsearchInputGeneric)="searchGroup($event)" class="mt-1">
    </app-input-search-generic>
  </ng-container>
</app-main-navbar>

<div class="favorite-filters-container d-flex justify-content-between">
  <select class="select-filters" [(ngModel)]="recruiterSelected" (change)="findGroupByRecruiter()">
    <option selected>Reclutadores</option>
    <option *ngFor="let reclutador of recruitersData" [value]="reclutador.recruiterId">
      {{ reclutador.user.name }} {{ reclutador.user.lastName }}
    </option>
  </select>
  <button (click)="openCreateDialog()" class="btn btn-green-new">
    Crear grupo
  </button>
</div>


<ng-container *ngIf="data ==  null || data?.length == 0">
  <section class="bg-involve-light">
    <div class="container">
      <div class="row justify-content-center align-items-center favorites-container h70">
        <div class="col-md-8 text-center favorites-container-body">
          <img class="mb-2" src="./assets/img/general/group-icon.svg" alt="" />
          <h3>
            Activa tu radar de talento
          </h3>
          <button class="btn btn-green-new" (click)="openCreateDialog()">
            Crear grupo
          </button>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<main class="bg-involve-light" [ngClass]="{'h70': data?.length > 0}">
  <ng-container *ngIf="data?.length > 0">
    <section class="bg-involve-light pt-12">
      <div class="container-fluid">
        <div class="row d-flex justify-content-between filters-favorites">
          <div class="showFilter">
            Mostrar
            <select class="select-filters" [(ngModel)]="pageSize"
              (change)="findGroupByFilters($any($event).target.value)">
              <option value="15" selected>15 grupos</option>
              <option value="20">20 grupos</option>
              <option value="25">25 grupos</option>
              <option value="30">30 grupos</option>
              <option value="35">35 grupos</option>
            </select>
          </div>

          <div class="orderFilter">
            Ordenar por
            <select class="select-filters" (change)="findGroupByFilters($any($event).target.value)">
              <option value="RECIENTES" selected>
                Recientes
              </option>
              <option value="MAS_ANTIGUOS">
                Más antiguoss
              </option>
              <option value="A_Z">
                A-Z
              </option>
              <option value="Z_A">
                Z-A
              </option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <app-cards [itemsFavorites]="data" (propagarFiltroReclutador)="getListFavorite()"
      *ngIf="_suscription.isSubcriptionActive"></app-cards>
  </ng-container>
</main>