@import "./src/assets/scss/main.scss";

.favorite-filters-container {
  padding: 6px 40px;
  border-bottom: 1px solid $S100;
}

.filters-favorites {
  padding: 12px 24px;
  p {
    margin: 0;
  }
}

.h70 {
  min-height: 70vh;
}

.favorites-container {
  padding: 6px 40px;
  button {
    margin: 14px auto 0;
  }
}
h3 {
  color: $S100;
}
