
<div class=" row m-0 text-center align-items-center justify-content-center">
  <!-- Content here -->
  <div class="col-auto margen">
    <img src="../../../../assets/img/dashboardCnadidato/ofertas.svg" alt="">
    <span class="texto">Encuentra tus postulaciones aquí</span>
  </div>
</div>
