
<app-side-nav-register *ngIf="recruiter" ></app-side-nav-register>
<div class="main-container row">
    <div class="restore-container col-lg-5 col-offset-lg-1 justify-content-center" *ngIf="activateAccount">
        <form [formGroup]="formTerms" >
        <div class="restore-header-container text-center mb-4">
          <img src="../../../../assets/logo-involve.svg" class="cursor-pointer" routerLink="/login" alt="">
        </div>
        <app-progress-bar *ngIf="!recruiter" [widthValor1]="'25%'" [widthValor2]="'25%'" [widthValor3]="'25%'" [typeProgressBar]="'dos'"></app-progress-bar>
        <div class="restore-title-container">
          <h1 class="mb-0 text-center" style="font-size: 32px; font-weight: 700;">{{'login.terms.text1' | translate}}</h1>
          <!-- <h1 class="mb-4 text-left" style="font-size: 32px; font-weight: 700;">{{'login.terms.pero' | translate}}</h1> --->
          <p class="login__terms--subtitle">{{'login.terms.text2' | translate}}</p>
        </div>
        <div class="restore-input-container mb-4">
          <div class="input-text-container row pt-4">
            <div class="d-flex align-items-center form-checkbox-container pt-4">
              <label class="switch mr-3 mb-0">
                <input type="checkbox" formControlName="avisoPrivacidad">
                <span class="slider round"></span>
              </label>
              <p class="d-inline-block txtOptions">{{'login.terms.text3' | translate}} <a class="cursor-pointer" style="color: #24AA3D;"><app-modal-privacy [isModal]="true" (btnAcept)=openModalAviso($event)></app-modal-privacy></a></p>
              
              <small *ngIf="formTerms.controls.avisoPrivacidad.errors && formTerms.controls.avisoPrivacidad.touched" style="display: block;" class="text-danger" >
                {{'commons.requerido' | translate}}
              </small>
            </div>
            <div class="d-flex align-items-center form-checkbox-container pt-4">
              <label class="switch mr-3 mb-0">
                <input type="checkbox" formControlName="termsConditions">
                <span class="slider round"></span>
              </label>
              <p class="d-inline-block txtOptions">{{'login.terms.text4' | translate}}<a class="cursor-pointer" ><app-modalterms [isModal]="true" (btnAcept)=openModalTerminos($event)></app-modalterms></a></p>
              <small *ngIf="formTerms.controls.termsConditions.errors && formTerms.controls.termsConditions.touched" style="display: block;" class="text-danger" >
                {{'commons.requerido' | translate}}
              </small>
            </div>
            <div class="d-flex align-items-center form-checkbox-container pt-4">
              <label class="switch mr-3 mb-0">
                <input type="checkbox" formControlName="cookiesPolicy">
                <span class="slider round"></span>
              </label>
              <p class="d-inline-block txtOptions">{{'login.terms.text6' | translate}}<a class="cursor-pointer" ><app-modal-cookies [isModal]="true" (btnAcept)=openModalCookies($event)></app-modal-cookies></a></p>
              <small *ngIf="formTerms.controls.cookiesPolicy.errors && formTerms.controls.cookiesPolicy.touched" style="display: block;" class="text-danger" >
                {{'commons.requerido' | translate}}
              </small>
            </div>
            <div class="d-flex align-items-center form-checkbox-container pt-4 d-flex justify-content-center align-items-center">
              <label class="switch mr-3 mb-0">
                <input type="checkbox" formControlName="notifiInvitacion">
                <span class="slider round"></span>
              </label>
              <p class="d-inline-block txtOptions m-0">{{'login.terms.text5' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="buttons-container row pt-4">
          <button *ngIf="!recruiter" class="btn-green col-lg-5 w-100" [ngClass]="{'btn-disabled': !isformValid}" (click)="onClickSubmit()">Crear cuenta</button>
          <button *ngIf="recruiter" class="btn-green mt-4 Continuar w-100" [ngClass]="{'btn-disabled': !isformValid}" (click)="onClickSubmit();" >{{'commons.continuar' | translate}}</button>
      </div>
     
    </form>
      </div>
      <div class="restore-container col-lg-12 justify-content-center" *ngIf="isCorrect">
        <app-screen-confirm
            [barra]="true"
            titulo="¡Felicidades!"
            btn="Iniciar sesión"
            msg="Ya eres parte del team <span class='font-weight-bold'>{{nameCompany}}</span>, empieza a descubrir talento."
            [isMsgHTML]="true">
        </app-screen-confirm>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
