@import "./../../../../assets/scss/variables";
P {
  margin: 0;
}

.main-container {
  //padding: 5% 0%;
  .restore-container {
    width: 500px;
    padding: 4%;
    margin: 0 auto;
    .restore-input-container .restore-input-secure {
      width: 50%;
      margin: 0 auto;
    }
  }
  .restore-confirm-container {
    margin: 0 auto;
    padding: 5%;
  }
}

.circle-green {
  color: #0bb9b9;
  font-size: 15px;
}

.circle-black {
  color: #565656;
  font-size: 15px;
}

.login-alert {
  color: #fff;
  padding: 16px 24px;
  background-color: #0bb9b9;
  border: 1px solid #f2f2f2;
}

.login-icon {
  margin: 4px 4px 0 0;
}

.pointer {
  cursor: pointer;
}

.mnsgError {
  font-size: 12px;

  color: #e21d1d;
}

.underline {
  text-decoration: underline !important;
  cursor: pointer;
}

.login__terms--subtitle {
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}

.btn-disabled {
  background-color: $F100;
  border: solid 1px $F300;
  color: $S200;
}
