<div class="main-container row mt-5">
	<div class="restore-container col-lg-12 justify-content-center" *ngIf="showView===0">
		<app-screen-confirm
				titulo="¡Perfecto!"
				img="../../../../assets/img/login/candidato/marca-de-verificacion.svg"
				btn="Iniciar sesión"
				msg="Tu cuenta ha sido verificada exitosamente">
		</app-screen-confirm>
	</div>
	<div class="restore-confirm-container col-lg-12 justify-content-center" *ngIf="showView===2">
		<app-screen-confirm
			titulo="Algo ha salido mal"
			img="../../../../assets/img/login/candidato/error.svg"
			btn="Entendido"
			msg="Ha ocurrido un error por favor inténtalo nuevamente">
		</app-screen-confirm>
	</div>
	<div class="restore-confirm-container col-lg-12 justify-content-center" *ngIf="showView===1">
		<app-screen-confirm
			titulo="Lo sentimos, esa página no existe"
			btn="Regresar"
			msg="Regresa para continuar buscando candidatos">
		</app-screen-confirm>
	</div>
</div>
