<div class="screen-confirm-container col-lg-6">
  <div class="forgot-info-header text-center mb-4">
      <img src="../../../../assets/logo-involve.svg" class="cursor-pointer" routerLink="/login" style="transform: scale(0.9);" alt="">
  </div>
  <app-progress-bar *ngIf="barra" marginb="2em" [widthValor1]="'25%'" [widthValor2]="'25%'" [widthValor3]="'25%'" [widthValor4]="'25%'" [typeProgressBar]="'dos'"></app-progress-bar>

  <div class="w-95 mb-4 text-center">
      <h3 class="title">{{titulo}}</h3>
  </div>
  <div *ngIf="img != ''" class="mb-4 text-center">
      <img src={{img}} style="transform: scale(0.8);">
  </div>
  <div class="mb-4 text-left">
    <p *ngIf="isMsgHTML" class="text-center" [innerHTML]="message"></p>
    <p *ngIf="!isMsgHTML" class="text-center">{{message}}
      <span *ngIf="text">{{'login.step2.text1' | translate}}
        <span class="bold">{{'login.step2.text2' | translate}}</span>
        <h6>{{'login.step2.text3' | translate}}
          <span class="bold">{{'login.step2.text4' | translate}}</span>
          <span>{{'login.step2.text5' | translate}}</span>
        </h6>
        
      </span>
    
    </p>
  </div>
  <div *ngIf="btn != ''"  class="forgot-info-form mb-4 text-center" style="font-size: 14px;">
    <button class="btn_green_screen" (click)="changeAttempts()" routerLink="/login">{{btn}}</button>
  </div>

  <div *ngIf="sento != ''" class="forgot-info-form mb-4 text-center" style="font-size: 14px;">
    <a class="cursor-pointer underline" (click) ="sendMail();">{{'login.step2.send' | translate}}</a>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
