.screen-confirm-container {
  margin: 0 auto;
  padding: 5px;
}

.btn_green_screen {
  background-color: #3E3E3E !important;
  border-radius: 20px;
  color: #FFF;
  min-width: 200px;
  outline: none;
  border: none;
  height: 35px;
}

.btn_green_screen:hover {
  background-color: #0BB9B9 !important;
}

.title {
  font-weight: 700 !important;
}

.text-left p, span, h6 {
  color: #525252;
}

.underline {
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.img-trans {
  opacity: 0.5;
}

.bold{
  font-weight: 700;
}

.forgot-info-form button {
  font-weight: bold;
}