@import './../../../../assets/scss/variables';

.card-header {
  background-color: $S800;
  color: $S50;
}

.title {
  color: $S50;
}

.bold {
  font-weight: 700 !important;
}

.semiBold {
  font-weight: 600 !important;
  color: $S700;
}

.radio {
  width: 1.5em;
  height: 1.0em;
}

.ident {
  text-indent: 10pt;
}

.btnApply {
  border-radius: 25px;
  background-color: $S800;
  color: $S50;
  font-weight: bold;

  &:hover {
    background-color: $S600;
  }
}

.text-p {
  line-height: 18px;
  font-size: 14px;
}

.btn-green {
  min-width: 100%;
  font-weight: bold;
  &:disabled{
    background-color: $F100;
    border: solid 2px currentColor;
    color: $S200;
    cursor: default;
  }
}

.bordesr {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.btnDisable {
  background-color: #F8F8F8;
  border: solid 1px #EAEAEA;
  color: #979797;
  &:hover{
    background-color: #F8F8F8;
    border: solid 1px #EAEAEA;
    color: #979797;
  }
}

.btn-bold button {
  font-weight: bold;
}

input[type='checkbox']{
  width: 20px;
  height: 20px;
}

.modal-header {
	background: black;
}

.modal-title, .close-white {
  color: white;
}

.img-head {
  width: 10%;
}

.center-img {
	display: block;
	margin: auto;
}

.scrollable-content{
  max-height: 50vh;
}

.btn-ok{
	background-color: $P500;
	border-radius: 20px;
	color: #F4F4F4;
	min-width: 150px;
	outline: none;
	border: none;
	height: 35px;
  &:hover{
    background-color: $P600;
  }
}

.btn-cancel{
  background-color: $S500;
  border-radius: 20px;
  border: 1px solid;
  color: #FFFFFF;
  min-width: 150px;
  outline: none;
  height: 35px;
  &:hover{
    background-color: $P600;
    }
  }