<app-side-nav-register></app-side-nav-register>
<div class="container py-5">
  <div class="row">
    <div class="offset-md-1"></div>
    <div class="col-12 col-sm-12 col-md-5 py-4">
      <div class="card">
        <div class="card-header row p-3">
          <h5 class="title bold m-0" style="padding-left: 15px;">{{ 'login.plans.monthplanUnlimited' | translate}}<span *ngIf="initialView" class="d-none">&nbsp;-&nbsp;</span></h5>
          <h5 *ngIf="initialView" class="title bold m-0 d-none">{{'login.step5.subtitle' | translate}}</h5>
        </div>
        <div class="card-body pb-5 pt-4">
          <div *ngIf="initialView" >
              <h6 class="col">{{'login.step5.text0' | translate}}</h6>
              <h6 class="col m-0 bold">{{'login.step5.text2' | translate}} {{date}}</h6>
          </div>
          <div class="row mt-4" style="line-height: 30px;">
            <div class="col-12 col-sm-12 col-md-10">
              <h5 class="m-0 mb-2 bold">{{'login.step5.text5' | translate}}</h5>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.text6' | translate}}</p>
              </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.text7' | translate}}</p>
              </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.text8' | translate}}</p>
              </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.text9' | translate}}</p>
              </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.text10' | translate}}</p>
              </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.planIncludes7' | translate}}</p>
              </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                <img src="assets/img/login/check.svg" alt="">
                <p class="mb-0 ml-3 semiBold">{{'login.step5.planIncludes8' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 py-4 pl-1 pl-sm-1 pl-md-5 btn-bold">
      <form [formGroup]="formPlan">
      <h2 *ngIf="initialView" class="bold ident mb-4">{{'login.step5.idealPlan' | translate}}</h2>
      <h2 *ngIf="!initialView" class="bold ident mb-4">{{'login.step5.newTitleEdit' | translate}}</h2>
      <div *ngFor="let plan of arrayPlans" class="form-check mb-3 p-0" style="line-height: 18px;">
        <h3 class="m-0 ident bold" for="inlineRadio1">{{plan.name}} </h3>
        <h5 class="d-block ident m-0"><span>{{'login.step5.for' | translate}}</span> {{plan.amount | customCurrency }} MXN al mes. IVA incluido.</h5>
        <small *ngIf="formPlan.controls.plan.errors && formPlan.controls.plan.touched" class="text-danger">
          <p class="ident m-0 text-danger">{{'commons.requerido' | translate}}</p></small>
      </div>
      <br>
      <div class="input-group col-12 col-sm-12 col-md-12 mb-3">
        <input type="text" class="form-control col-md-8 mr-5 bordesr" formControlName="code" placeholder="Código promocional" aria-label="Input group example" [ngClass]="{'btnDisable': disableBtn}" (keydown)="avoidSpaces($event)"
          aria-describedby="btnGroupAddon" >
          <div class="input-group-text btnApply col-4 justify-content-center cursor-pointer" [ngClass]="{'btnDisable': isCodeFieldEmpty }" id="btnGroupAddon" (click)="validateForm(true);">{{'login.step5.aply' | translate}}</div>
      </div>
      <ng-container *ngIf="existPlan">
        <app-summary-of-your-order></app-summary-of-your-order>
        <div class="input-group col-12 d-flex align-items-center mt-4">
          <input id="acceptsConditions" type="checkbox" formControlName="acceptsConditions" class="mr-2 cursor-pointer" [ngClass]="{'error': formPlan.get('acceptsConditions')?.value == false}">
          <label for="acceptsConditions" class="mb-0 cursor-pointer"> He leído y acepto las <a class="link" (click)="onOpenCouponConditions()">condiciones del cupón</a></label>
          <small class="text-danger" *ngIf="formPlan.get('acceptsConditions')?.value == false">Es necesario que aceptes las condiciones del cupón</small>
        </div>
      </ng-container>
      <div class=" col text-p mt-4 d-none">
        <p class="m-0">{{'login.step5.parrafo1' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo2' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo3' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo4' | translate}} <span class="bold">{{date}} </span> {{'login.step5.parrafo5' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo6' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo7' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo8' | translate}}</p>
        <p class="m-0">{{'login.step5.parrafo9' | translate}}</p>
        <p class="m-0 mt-1">{{'login.step5.parrafo10' | translate}}</p>
      </div>
      
      <button class="btn-green col-lg- mt-4" (click)="validateForm();" [disabled]="!canUserContinue">{{'commons.continuar' | translate}}</button>
    </form>
    </div>
  </div>
</div>

<ng-template #couponConditions>
  <div>
    <div class="modal-header">
			<img class="img-head center-img" src="/assets/Grupo 2754.svg" alt="" width="80%" height="80%">
		</div>
		<div class="modal-body">
      <div class="p-2">
        <p class="text-uppercase text-center">CONDICIONES PARA UTILIZACIÓN DE CUPONES</p>
        <p class="text-center"><a target="_blank" href="https://www.involverh.com/home">https://www.involverh.com/home</a></p>
        <div class="overflow-auto scrollable-content my-2 pb-3">
          <div class="row p-2 enforce-margin-li" [innerHTML]="couponConditionsHTML"></div>
        </div>
        <div class="p-3 text-center">
          <button class="btn-cancel mr-3" (click)="onCloseModal(false)">Cancelar</button>
          <button class="btn-ok" (click)="onCloseModal(true)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

