<div class="fluid">

    <!-- AVATAR -->
    <div class="fluid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

        <!-- LOGO -->
        <div class="col col-lg-12">
            <div class="fluid__logo">
                <img src="../../../../../assets/logo-involve.svg" alt="">
            </div>
        </div>

        <!-- INPUTS -->
        <div class="col col-lg-6 offset-lg-3 fluid__inputs">

            <!-- TITLE -->
            <div class="textTitle-regular32">
                <h2>Educación</h2>
            </div>

            <!-- NIVEL ACADEMICO -->
            <div class="textBold-sm">
                <div class="form-group">
                    <p for="academicLevel">Nivel académico</p>
                    <select class="form-control" id="academicLevel">
                      <option>Selecciona</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>

            <!-- TITULO -->
            <div class="textBold-sm">
                <p>Título obtenido</p>
                <input type="text" placeholder="Certificado">
            </div>

            <!-- PAIS -->
            <div class="textBold-sm">
                <div class="form-group">
                    <p for="country">País de la institución</p>
                    <select class="form-control" id="country">
                      <option>Selecciona</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>

            <!-- INSTITUCIÓN -->
            <div class="textBold-sm">
                <p>Institución</p>
                <input type="text" placeholder="Institución">
            </div>

            <!-- ESTATUS -->
            <div class="textBold-sm">
                <div class="form-group">
                    <p for="status">Estatus</p>
                    <select class="form-control" id="status">
                      <option>Selecciona</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>

            <!-- INICIO -->
            <div class="textBold-sm">
                <div class="form-group">
                    <p for="yearStart">Año de inicio</p>
                    <select class="form-control" id="yearStart">
                      <option>Selecciona</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>

            <!-- TÉRMINO -->
            <div class="textBold-sm">
                <div class="form-group">
                    <p for="yearEnd">Año de término o previsto</p>
                    <select class="form-control" id="yearEnd">
                      <option>Selecciona</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>

        </div>

        <!-- BTN -->
        <div class="col col-lg-12 fixed-bottom">
            <div class="fluid__logo--btn">
                <div class="style-txt__btn--outliner">
                    <button type="button" class="btn text-center">Regresar</button>
                </div>

                <div class="style-txt__btn--solid">
                    <button type="button" class="btn text-center" disabled>Guardar</button>
                </div>
            </div>
        </div>

    </div>
</div>