@import '../../../../../assets/scss/variables';

.backgroud {
  background: #F6F6F6;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 10px
}

.card1 {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px
}

.textTitles {
  font-size: 18px;
  color: #FFFFFF;
}

.titleClient {
  font-size: 24px;
  font-weight: 700;
}

.sideNavBorderBottom {
  border-bottom: 1px solid $S100;
}

/*para el menu*/
.itemenActive {
  background: $P200;
  border-bottom: solid 2px $S100;
}

.border-0 {
  border: 0;
}

.scroll {
  height: 40em;
  overflow-y: scroll;
  scrollbar-color: #F6F6F6 ;
}
