<app-main-navbar [mainNavData]="mainNavData"></app-main-navbar>

<div class="container-fluid px-1 px-md-3 px-lg-1 px-xl-3 mx-auto backgroud">
  <div class="card border-0 backgroud">
    <div class="row d-flex">
      <div class="col-lg-3 mt-3">
        <!--Para la card-->
        <div class="card1 bg-light backgroud">
          <div class="col backgroud">
            <div class="card" style="margin-top: 0;">
              <ul class="list-group border-0">
                <li class="list-group-item cursor-pointer border-0" [ngClass]="{'itemenActive':menu.profile}"
                  (click)="menuSelected('profile');"><img async src="assets/img/dashboard/Profile/profile.svg"
                    class="mr-1 mb-1">{{'configuration.menu.profile' | translate}}</li>
                <li *ngIf="userRol" class="list-group-item cursor-pointer border-0" [ngClass]="{'itemenActive':menu.company}"
                  [routerLink]='[{ outlets: { profile: ["cv"] } }]' (click)="menuSelected('company');"><img async
                    src="assets/img/dashboard/Profile/company.svg" class="mr-1 mb-1">
                  {{'configuration.menu.company' | translate}}</li>
                <li *ngIf="userRol" class="list-group-item cursor-pointer border-0" [ngClass]="{'itemenActive':menu.notifications}"
                  (click)="menuSelected('notifications');"><img async
                    src="assets/img/dashboard/Profile/notificactions.svg" class="mr-1 mb-1">
                  {{'configuration.menu.notifications' | translate}}</li>
                <li *ngIf="userRol" class="list-group-item cursor-pointer border-0" [ngClass]="{'itemenActive':menu.template}"
                  (click)="menuSelected('template');"><img async src="assets/img/dashboard/Profile/tempates.svg"
                    class="mr-1 mb-1">{{'configuration.menu.templates' | translate}}</li>
                <li class="list-group-item cursor-pointer border-0" [ngClass]="{'itemenActive':menu.team}"
                  (click)="menuSelected('team');"><img async src="assets/img/dashboard/Profile/team.svg" class="mr-1">
                  {{'configuration.menu.team' | translate}}</li>
                <li *ngIf="userRol" class="list-group-item cursor-pointer border-0"
                  [ngClass]="{'itemenActive':menu.suscription}" (click)="menuSelected('suscription');"><img async
                    src="../../../../../assets/icons/icon-subscription.svg" class="mr-1 mb-1">
                  {{'configuration.menu.suscription' | translate}}</li>
                <li class="list-group-item cursor-pointer border-0" [ngClass]="{'itemenActive':menu.integrations}"
                  (click)="menuSelected('integrations');"><img async src="assets/img/dashboard/Profile/integrations.svg"
                    class="mr-1">{{'configuration.menu.integrations' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- Fin de la card-->
      <div class="col-lg-9 mt-3" style="padding-right: 0; padding-left: 0;">
        <div class="container scroll">
          <router-outlet name="configuration"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Para el toast -->
<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>