<div class="container-fluid p-0">
  <form [formGroup]="formQuestions">
    <h1 *ngIf="template!='areas'" class="title mb-4">
      {{title}}
      <img *ngIf="template != 'idiomas'" src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer"
        appShowTooltip>
      <div *ngIf="template != 'idiomas'" tooltip class="source">
        <p>Yo sé hacer entrevistas técnicas, es una habilidad que adquirí con la práctica. ¿Y tú?</p>
      </div>
    </h1>
    <ng-template [ngIf]="template=='default' || template=='hardSkill'">
      <!-- template autocompletado-->
      <div class="row" [attr.name]="template">
        <div class="col-12 col-sm-12 col-md-9 pl-0">
          <div class="skills d-flex form-control">
            <div class="skills-tags-container d-flex align-items-center flex-wrap flex-shrink-0">
              <span class="align-items-center badge border d-flex mb-1 mr-1 pl-2 pr-2 bg-Habilidad"
                *ngFor="let skill of skillsArray; let i = index">{{skill.name}}<img (click)="removeSkillFromArray(i)"
                  src="assets/img/general/xVerde.svg" alt="..." class="cursor-pointer d-inline-block ml-3"></span>
            </div>
            <input id="typeahead-http" type="text" formControlName="question" class=" ml-2 d-flex"
              [class.is-invalid]="searchFailed" [ngbTypeahead]="search" [placeholder]="placeholder"
              [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" />
            </div>
            <small
              *ngIf="skillsArray.length == 0 && ((formQuestions.controls.question.errors && formQuestions.controls.question.touched && skillsArray.length === 0) || displayErrorMessage)"
              class="text-danger">{{'commons.requerido' | translate}}</small>
            <small
              *ngIf="skillsArray.length > 0"
              class="text-danger">No olvides hacer clic en añadir</small>
            <small *ngIf="existQuestion" class="text-danger">{{'vacantes.crearvacante.paso3.errorQuestion1' | translate
              }}</small>
            <small *ngIf="searchFailed" class="text-danger">{{'vacantes.crearvacante.paso3.errorQuestion2' | translate
              }}</small>
        </div>
        <div class="col-12 col-sm-12 col-md-3 d-flex justify-content-start align-items-center pr-0">
          <span class="badge rounded-pill bg-add  py-2 mt-3 mt-sm-3 mt-md-0 cursor-pointer"
            (click)="onClickSubmit(true);">Añadir</span>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="false">
      <!-- para experiencia laboral-->
      <div class="row" [attr.name]="template">
        <!--Para areas-->
        <div class="col-12 col-sm-12 col-md-6 pl-0">
          <select formControlName="areas" class="form-select mdb-select md-form select" id="area">
            <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
            <option *ngFor="let arrayAreas of areas" value="{{arrayAreas.areaId}}">{{arrayAreas.spanishName}}</option>
          </select>
          <small *ngIf="formQuestions.controls.areas.errors && formQuestions.controls.areas.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
        <div class="col-12 col-sm-12 col-md-3 d-flex justify-content-start align-items-center pr-0">
          <span class="badge rounded-pill bg-add  py-2 mt-3 mt-sm-3 mt-md-0 cursor-pointer"
            (click)="onClickSubmitAreas();">Añadir</span>
        </div>
      </div>
      <div class="row mt-3">
        <!-- Para especialidades-->
        <div class="col-12 col-sm-12 col-md-6 p-0">
          <select formControlName="especialidad" class="form-select mdb-select md-form select" id="especialidad">
            <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
            <option *ngFor="let arrayEspecialidad of especialidades" value="{{arrayEspecialidad.specialtyId}}">
              {{arrayEspecialidad.spanishName}}</option>
          </select>
          <small *ngIf="formQuestions.controls.especialidad.errors && formQuestions.controls.especialidad.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
        <div class="col-12 col-sm-12 col-md-3 d-flex justify-content-center align-items-center p-0">
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="template=='idiomas'">
      <!-- template idiomas-->
      <div class="row" [attr.name]="template">
        <div class="col-12 col-sm-12 col-md-9 pl-0">
          <select class="form-select mdb-select md-form select" formControlName="question" id="idioma">
            <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
            <option *ngFor="let arrayIdiomas of idiomas" value="{{arrayIdiomas.languageId}}">
              {{arrayIdiomas.spanishName}}
            </option>
          </select>
          <small
              *ngIf="formQuestions.controls.question.errors && formQuestions.controls.question.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          <small *ngIf="existQuestion" class="text-danger">{{'vacantes.crearvacante.paso3.errorIdiom' | translate
            }}</small>
        </div>
        <div class="col-12 col-sm-12 col-md-3 d-flex justify-content-start align-items-center pr-0">
          <span class="badge rounded-pill bg-add  py-2 mt-3 mt-sm-3 mt-md-0 cursor-pointer"
            (click)="onClickSubmitIdiomas();">{{'commons.add' | translate}}</span>
        </div>
      </div>
    </ng-template>
    <br>
    <div class="bg-radio pt-2" *ngIf="questions.length > 0">
      <div class="row">
        <div class="col col-sm-4 d-none d-lg-inline-block">
          <h3 *ngIf="template=='areas'" class="titleTable ">{{'vacantes.crearvacante.paso3.habilidad' | translate}}</h3>
          <h3 *ngIf="template=='default' || template == 'hardSkill'" class="titleTable ">
            {{'vacantes.crearvacante.paso3.habilidad' | translate}}</h3>
          <h3 *ngIf="template=='idiomas'" class="titleTable ">Idiomas</h3>

        </div>
        <div class="col  col-sm-5 d-none d-lg-inline-block">
          <h3 *ngIf="template == 'areas'" class="titleTable text-center">{{'vacantes.crearvacante.paso1.minReqAreas' |
            translate}}</h3>
          <h3 *ngIf="template != 'areas'" class="titleTable text-center">{{'vacantes.crearvacante.paso1.minReq' |
            translate}}</h3>
        </div>
        <div class="col col-sm-3 d-none d-lg-inline-block text-center">
          <h3 class="d-flex justify-content-center align-items-center titleTable" appShowTooltip>
            {{'commons.excluyente' | translate}}
            <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer">
          </h3>
          <div tooltip class="source">
            <p>Son requisitos o cualidades que sí o sí debe tener tu talento. Mientras más excluyentes pongas, más
              reducido y certero será el universo de candidatos.</p>
          </div>
        </div>
      </div>
      <span formArrayName="questions" *ngFor="let question1 of questions.controls; let indice=index">
        <div [formGroupName]="indice" class="row border-t pt-3">
          <div class="col-12 col-sm-4">
            <label for="" *ngIf="template!='areas'" class="m-0">{{(question1.value.text != undefined ) ?
              question1.value.text : question1.value.idiomas.spanishName}}</label>
            <!-- <h6 *ngIf="template=='areas'">{{question1.value.especialidad.spanishName}}</h6> -->
            <ng-container *ngIf="template=='areas'">
              <label *ngIf="!question1.value.especialidad.check" for=""
                class="m-0">{{'vacantes.crearvacante.paso3.expArea' | translate}}</label>
              <h6 *ngIf="!question1.value.especialidad.check">{{question1.value.especialidad.spanishName}}</h6>
              <label *ngIf="question1.value.especialidad.check" for=""
                class="m-0">{{'vacantes.crearvacante.paso3.expEsp' | translate}}</label>
              <h6 *ngIf="question1.value.especialidad.check">{{question1.value.especialidad.spanishName}}</h6>
            </ng-container>
          </div>
          <div class="col-12 col-sm-5">
            <div>
              <div class="badge rounded-pill d-flex justify-content-around align-items-center">
                  <label *ngFor="let radio of radiosArray" class="label-radio mt-1 mb-1">
                    <input class="radios" formControlName="minimumRequired" [id]="indice" type="radio" [value]="radio.value" (change)="changeRadio(radio.displayText);">
                      <span class="textSpan" [ngStyle]="{'margin-left': radio.margin}">
                        {{radio.displayText}}
                      </span>
                    </label>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 mt-5 mt-sm-0">
            <div class="row">
              <div class="col text-right">
                <input class="form-check-input check" type="checkbox" id="checkboxNoLabel" formControlName="excluyente"
                  value="" aria-label="..." (change)="changeRadio('');">
              </div>
              <div class="col">
                <span (click)="deleteQuetion(indice);">
                  <img src="/assets/img/dashboard/Clientes/basura.svg" alt="" style="transform: scale(0.9);">
                </span>
              </div>

            </div>
            <br><br>
          </div>
        </div>
      </span>
    </div>

  </form>
</div>