@import "../../../../../../../assets/scss/variables";

.title {
  font-size: 20px;
  font-weight: 600;
}
.subtitle {
  font-size: 16px;
}

.subtitle {
  font-size: 16px;
}

.titleTable {
  font-size: 14px;
  font-weight: 600;
}

.radio {
  width: 1.5em;
  height: 1em;
  transform: scale(1.2);
}

.check {
  width: 1em;
  height: 0.9em;
}

input[type="radio"] {
  display: block;
  margin: 0 auto;
}
// input[type="radio"] {
//   display: none;

// }
input[type=radio]{
  width: 10px;
  height: 10px;
  background-color: #fefefe;
  /* border: 1px solid; */
  border-radius: 50px;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 15%);
  display: table-cell;
  margin-right: 0px;
  padding: 7px;
  position: absolute;
  -webkit-appearance: none;
  cursor: pointer;
  border-color: black;
}

input[type=radio]:checked{
  border-color: #0bb9b9;
  background-color: #0bb9b9;
}

input[type=radio]:checked + span:after {
  background: none;
}
label:hover input[type=radio] + span {
  border-color: none;
}

.label-radio {
  display: inline-block;
  text-align: center;
}

.textSpan {
  margin-top: 3em;
  position: absolute;
  margin-left: -1.3em;
}

.bg-radio {
  background-color: $F100;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #212121;
  background-color: #212121;
}

.custom-control-input:checked ~ .custom-control-label:focus {
  outline: none;
}

// .select {
//   display: inline-block;
//   width: 100%;
//   height: calc(1.5em + .75rem + 2px);
//   padding: .375rem 1.75rem .375rem .75rem;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #495057;
//   vertical-align: middle;
//   border: 1px solid #ced4da;
//   border-radius: .25rem;
//   -moz-appearance: none;
// }

.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.bg-add {
  background: $P500;
  color: $P100;
  padding-left: 2.2rem !important;
  padding-right: 2.2rem !important;
  font-weight: 400 !important;
  &:hover {
    background: $P600;
  }
}

.form-control.skills {
  height: auto;
  .skills-tags-container {
    max-width: 650px;
    padding: 5px 0;
    span {
      img {
        width: 10px;
      }
    }
  }
  input {
    border: none !important;
    padding: 0;
  }
}

.border-t {
  border-top: 2px solid #dee2e6!important;
  margin: 10px;
}

