@import "./src/assets/scss/main.scss";
p {
	margin-bottom: 0px !important;
}

.circulo {
	width: 10px;
	height: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: $P400;
}

.d-bloque {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.labelBorder {
	border-radius: 20px 20px 20px;
	border: 1px solid black;
}

h3 {
	font-family: verdana;
	font-weight: bolder;
	font-size: 1.5em;
	color: #5a5a5a;
	border-bottom: 1px dotted #ef7900;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	font-size: 16px;

	color: #000000;
	font-weight: 400;
}
