<div class="card text-center border-top">
	<div class=" text-left card-body paddingCard shadow-sm" style="height:34em;overflow-y: overlay;">
		<div class="row" *ngIf="languages.length > 0">
			<div class="col-md-4 col-lg-3 pb-3">
				Idiomas
			</div>
			<div class="col-md-8 col-lg-6 pb-3">
				<div *ngFor="let language of languages" class="">
					<h3 class="labelBorder mb-2"> {{language.language.spanishName}} - {{language.level| lowercase}}</h3>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="courses.length > 0">
			<div class="col-md-4 col-lg-3 pb-3">
				Cursos
			</div>
			<div *ngFor="let course of courses" class="col-md-8 col-lg-9 row">
				<div class="col-md-1 col-lg-1">
					<div class="circulo mt-2"></div>
				</div>
				<div class="col-md-8 col-lg-8 pb-3">
					<div class="d-bloque">
						<p><strong>{{ course.name }}</strong></p>
					</div>
					<p> {{course.insitute}}</p>
					<p> Expedición: {{course.dateExpedition}}</p>
					<p> Duración: {{course.hours}}</p>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="certifications.length > 0">
			<div class="col-md-4 col-lg-3 pb-3">
				Certificaciones
			</div>
			<div *ngFor="let certification of certifications" class="col-md-8 col-lg-9 row">
				<div class="col-md-1 col-lg-1">
					<div class="circulo mt-2"></div>
				</div>
				<div class="col-md-8 col-lg-8 pb-3">
					<div class="d-bloque">
						<p><strong>{{ certification.name }}</strong></p>
					</div>
					<p> {{certification.institute}}</p>
					<p> Expedición: {{certification.dateExpedition}}</p>
					<p> ID de la credencial: {{certification.credentialId}}</p>
				</div>
			</div>
		</div>

	</div>
</div>