<div class="main-container row">
    <div class="restore-container col-lg-5 justify-content-center" *ngIf="!isCorrect && !notCorrect">
      <div class="restore-header-container text-center mb-5">
        <img src="../../../../assets/logo-involve.svg" class="cursor-pointer" routerLink="/login" alt="">
      </div>
      
      <app-progress-bar  [widthValor1]="widthValor1" [typeProgressBar]="'dos'"></app-progress-bar>

      <div class="restore-title-container">
        <h1 class="mb- mt-4 text-title">Crea tu contraseña</h1>
      </div>
      <div class="restore-input-container mb-4">
        <div class="input-text-container row pt-4">
          <p class="col-lg-6 p-0">Contraseña</p>
          <div (click)="showPassword = !showPassword" class="input-text-favicon col-lg-6 text-right p-0" style="cursor: pointer;">
              <div *ngIf="showPassword">
                  <i class="fas fa-eye-slash"></i>
                  <p class="d-inline-block ml-2 info-form-button">Ocultar</p>
              </div>
              <div *ngIf="!showPassword">
                  <i class="fas fa-eye"></i>
                  <p class="d-inline-block ml-2 info-form-button">Mostrar</p>
              </div>
          </div>
        </div>
        <input class="form-control" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userNewPassword" (keyup)="validateNewPassword()" [ngClass]="{'is-invalid': emptyPassword}">
        <div class="invalid-feedback">Debe capturar la contraseña</div>
        <div class="restore-input-secure pt-3" *ngIf="!rulePassword">
          <ul> 
            <li [ngClass]="{'circle-green': isLower,'circle-black': !isLower}">Un carácter en minúscula</li>
            <li [ngClass]="{'circle-green': isUpper,'circle-black': !isUpper}">Un carácter en mayúscula</li>
            <li [ngClass]="{'circle-green': isANumber,'circle-black': !isANumber}">Un número</li>
            <li [ngClass]="{'circle-green': isMinLenght,'circle-black': !isMinLenght}">8 caracteres como mínimo</li>
          </ul>
        </div>
        <div class="pt-4" *ngIf="isLower && isANumber && isUpper && isMinLenght">
        <div class="col-12 login-alert">
          <img src="../../../../assets/img/general/ckeckBlanco.svg" alt="">
          <span class="pl-2">{{'login.step3.text6' | translate}}</span> 
        </div>
      </div>
      </div>
      <div class="restore-input-container" *ngIf="isLower && isANumber && isUpper && isMinLenght">
        <div class="input-text-container row">
          <p class="col-lg-6 p-0">Confirmar contraseña</p>
          <div (click)="showPasswordConfirm = !showPasswordConfirm" class="input-text-favicon col-lg-6 text-right p-0" style="cursor: pointer;">
              <div *ngIf="showPasswordConfirm">
                  <i class="fas fa-eye-slash"></i>
                  <p class="d-inline-block ml-2 info-form-button">Ocultar</p>
              </div>
              <div *ngIf="!showPasswordConfirm">
                  <i class="fas fa-eye"></i>
                  <p class="d-inline-block ml-2 info-form-button">Mostrar</p>
              </div>
          </div>
        </div>
        <input class="form-control" [type]="showPasswordConfirm? 'text' : 'password'" [(ngModel)]="userPasswordConfirm" [ngClass]="{'is-invalid': emptyConfirmPassword}">
        <div class="invalid-feedback">Debe capturar la contraseña</div>
        <div class="mnsgError" *ngIf="equalPassword">No coinciden las contraseñas</div>
      </div>
      <div class="buttons-container pt-4" *ngIf="isLower && isANumber && isUpper && isMinLenght">
        <button class="btn-green" (click)="sendPassword();">Continuar</button>
      </div>
    </div>
      <!-- <div class="restore-container col-lg-12 justify-content-center" *ngIf="isCorrect">
        <app-screen-confirm 
            titulo="¡Perfecto!" 
            img="../../../../assets/img/login/like.svg" 
            btn="Regresar a inicio de sesión"
            msg="Tu contraseña cambió correctamente">
        </app-screen-confirm>
    </div>
    <div class="restore-confirm-container col-lg-12 justify-content-center" *ngIf="notCorrect">
      <app-screen-confirm 
          titulo="El link caducó" 
          img="../../../../assets/img/login/eslabon.svg" 
          btn="¿Olvidaste tu contraseña?"
          msg="Vuelve a solicitar instrucciones para reestablecer tu contraseña">
      </app-screen-confirm>
  </div> -->
  
  
    
  </div>