<div *ngIf="_suscription.isSubcriptionActive && !hide" class="main" style="margin-right: 3%">
    <div class="form-group has-search d-flex justify-content-start align-items-center">
      <span class="fa fa-search form-control-feedback ml-3"></span>
      <input style="font-size: 11px;" #searchInputGeneric type="text" class="form-control bordeRadius" placeholder="Buscar">
    </div>
  </div>