<ng-container *ngIf="currentView == 'principal'">
  <div class="fade show card border-top" style="margin-bottom: 5em;">
    <h5 class="card-header header">
        {{'configuration.menu.suscription' | translate}}
    </h5>
    <div class="tem">
      <div class="card-body paddingCard">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 padding-0">
              <div class="py-3">
                <h6 class="bold">{{'configuration.subscription.involveMembership' | translate}}</h6>
                <div class="info-form-inpput mb-4">
                  <p class="mb-0">
                    <span >{{'configuration.subscription.monthlyPlanDescription' | translate }}</span>
                    <span class="bold"> $9,900 MXN.</span>
                    <span> {{'configuration.subscription.planDescriptionRenewal' | translate }}</span>
                    <span class="bold">{{expirationDate}}.</span>
                  </p>
                </div>
              </div>
            </div>

          
          </div>
        </div>
      </div>

      <!-- MIS TARJETAS -->
      <div class="card-body paddingCard borde borde-bottom">
        <div class="container py-3">
          <div class="row d-flex justify-content-center mb-2">
            <div class="col-md-7">
              <h6 class="bold">{{'configuration.subscription.myCards' | translate}}</h6>
            </div>
            <div class="col-md-5 text-right">
              <a class="cursor-pointer" (click)="openModal('addNewCard')">{{'configuration.subscription.addCard' | translate}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="creditCardsArray.length > 0">
              <div class="credit-card-item mb-2 custom-check-container" *ngFor="let card of creditCardsArray" [class.current]="card.isCurrent">
                <p class="card-container flex-grow-1">
                  <img *ngIf="card.type == 'visa'" src="/assets/img/dashboard/visa.svg" alt="" class="ml-2">
                  <img *ngIf="card.type == 'carnet'" src="/assets/img/dashboard/carnet.svg" alt="" class="ml-2">
                  <img *ngIf="card.type == 'american_express'" src="/assets/img/dashboard/amex.svg" alt="" class="ml-2">
                  <img *ngIf="card.type == 'mastercard'" src="/assets/img/dashboard/master-card.svg" alt="" class="ml-2">
                  <span class="card-number ml-3">**** - **** - **** - {{card.ends}}</span>
                </p>
                <img *ngIf="!card.isCurrent" class="p-2 delete-card cursor-pointer" (click)="openModal('deleteCardConfirmation', {'cardId': card.id})" src="/assets/img/general/x.svg" alt="">
              </div>
            </div>
            <div class="col" *ngIf="creditCardsArray.length == 0">
              <div class="my-3 text-center">
                <img src="/assets/img/general/credit-card.svg" alt="" class="mb-2">
                <p class="card-container-text">No tienes tarjetas agregadas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card-body paddingCard borde borde-bottom" *ngIf="!!true" style="opacity: 0;">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex">
              <h6 class="flex-grow-1">{{'configuration.subscription.editMyBillingData' | translate}}</h6>
              <img src="/assets/img/general/chevrondown.svg" alt="" class="rotate-270 cursor-pointer p-2 chevron-right" (click)="onChangeBillingData()">
            </div>
          </div>
        </div>
      </div> -->
      <div class="card-body paddingCard borde borde-bottom" *ngIf="!true">
        <div class="container py-3">
          <div class="row mb-3">
            <div class="col d-flex">
              <h6 class="flex-grow-1">{{'configuration.subscription.editMyBillingData' | translate}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card borde">
                <div class="card-body pl-3 pr-1 py-2 row shadow-sm border-radius-5">
                  <div class="col-md-8">
                    <p class="mb-0 bold">
                      Antonio García Hernández 
                    </p>
                    <p class="mb-0">
                      Lago Zirahuén Ext. 57 Int. 22
                    </p>
                    <p class="mb-0">
                      Anahuác Secc I, Miguel hidalgo
                    </p>
                    <p class="mb-0">
                      Ciudad de México
                    </p>
                    <p class="mb-0">
                      21133 México
                    </p>
                    <p class="mb-0">
                      +52 123 456 7890
                    </p>
                  </div>
                  <div class="col-md-4 d-flex justify-content-end">
                    <div class="dropdown-container" ngbDropdown placement="bottom-right">
                      <img src="/assets/img/general/tresPuntosVertical.svg" alt="..." class="mt-1 cursor-pointer" ngbDropdownToggle id="billing-data-options">
                      <div class="dropdown-options-container" ngbDropdownMenu aria-labelledby="billing-data-options">
                        <button ngbDropdownItem>
                          <img src="/assets/img/general/descargar.svg" alt="...">
                          Descargar última factura
                        </button>
                        <button ngbDropdownItem>
                          <img src="/assets/img/general/editar-no-background.svg" alt="...">
                          Editar datos
                        </button>
                        <button ngbDropdownItem>
                          <img src="/assets/img/dashboard/vacantes/xroja.svg" alt="...">
                          Eliminar datos
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body paddingCard borde">
        <div class="container">
          <div class="row d-flex justify-content-end">
            <!-- REACTIVAR -->
            <div class="mr-4">
              <div *ngIf="isSubscriptionAboutToExpire" class="py-4 text-right btn-reactive">
                <button  class="badge badge-pill p500 involve-button py-3 px-5 mb-1" (click)="redirectToPlan(false);">{{'configuration.subscription.paySubscription' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="currentView == 'billingData'">
  <div class="fade show card border-top" style="margin-bottom: 5em;">
    <h5 class="card-header header">
      {{'configuration.subscription.billingData' | translate}}
    </h5>
    <form [formGroup]="billingDataForm" class="tem" (ngSubmit)="onBillingDataFormSubmit()">
      <div class="card-body paddingCard">
        <div class="container">
          <div class="row d-flex">
            <div class="col padding-0">
              <div class="py-3">
                <div class="d-flex flex-direction-row">
                  <label class="custom-check-container d-flex align-items-center mb-0 cursor-pointer mr-4">
                    <input type="radio" formControlName="accountType" value="person">
                    <span class="radio-button mr-2"></span>
                    {{'configuration.subscription.userPerson' | translate}}
                  </label>
                  <label class="custom-check-container d-flex align-items-center mb-0 cursor-pointer">
                    <input type="radio" formControlName="accountType" value="business">
                    <span class="radio-button mr-2"></span>
                    {{'configuration.subscription.userBusiness' | translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col px-0 mb-5">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.rfc' | translate}}<span class="asterisco">*</span></label>
                <input type="text" formControlName="rfc" [placeholder]="'configuration.subscription.rfcPlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <label *ngIf="isAccountTypePerson">{{'configuration.subscription.fullName' | translate}}<span class="asterisco">*</span></label>
                <input type="text" formControlName="name" *ngIf="isAccountTypePerson" [placeholder]="'configuration.subscription.fullNamePlaceholder' | translate">
                <label *ngIf="isAccountTypeBusiness">{{'configuration.subscription.businessName' | translate}}<span class="asterisco">*</span></label>
                <input type="text" formControlName="name" *ngIf="isAccountTypeBusiness" [placeholder]="'configuration.subscription.businessNamePlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.street' | translate}}</label>
                <input type="text" formControlName="street" [placeholder]="'configuration.subscription.streetPlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <div class="row">
                  <div class="col pl-0">
                    <label>{{'configuration.subscription.number' | translate}}</label>
                    <input type="text"  formControlName="number" placeholder="##">
                  </div>
                  <div class="col pr-0">
                    <label>{{'configuration.subscription.internalNumber' | translate}}</label>
                    <input type="text"  formControlName="internalNumber" placeholder="##">
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.neighborhood' | translate}}</label>
                <input type="text" formControlName="neighborhood" [placeholder]="'configuration.subscription.neighborhoodPlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.municipality' | translate}}</label>
                <input type="text" formControlName="municipality" [placeholder]="'configuration.subscription.municipalityPlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.state' | translate}}</label>
                <input type="text" formControlName="state" [placeholder]="'configuration.subscription.statePlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.country' | translate}}</label>
                <select formControlName="country">
                  <option [value]="">{{'commons.seleccionar' | translate}}</option>
                  <option [value]="country.countryCode" *ngFor="let country of countryList">{{country.name}}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label>{{'configuration.subscription.zipCode' | translate}}</label>
                <input type="text" formControlName="zipCode" [placeholder]="'configuration.subscription.zipCodePlaceholder' | translate">
              </div>
              <div class="col-md-6 mb-3">
                <div class="row">
                  <div class="col-3 pl-0">
                    <label>{{'configuration.subscription.phoneNumber' | translate}}</label>
                    <select formControlName="phoneNumberCountryCode">
                      <option [value]="">{{'commons.seleccionar' | translate}}</option>
                      <option [value]="country.phoneCountryCode" *ngFor="let country of countryList">{{country.name}}</option>
                    </select>
                  </div>
                  <div class="col-9 px-0">
                    <label>&nbsp;</label>
                    <input type="text" formControlName="phoneNumber" placeholder="000 000 0000">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="py-3 d-flex justify-content-end">
            <button class="badge badge-pill involve-button secundary cancel py-3 px-5 mr-4" (click)="onChangeBillingData('principal')">{{'commons.cancelar' | translate }}</button>
            <button [disabled]="billingDataForm.invalid" class="badge badge-pill involve-button py-3 px-5 mb-1">{{'commons.actualizar' | translate }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #addNewCard>
  <div class="card border-top border-0">
    <h5 class="card-header header">
        {{'configuration.subscription.addCard' | translate}}
    </h5>
    <div class="p-5">
      <div class="row">
        <div class="col">
          <p class="mb-3">Aquí va el form de la tarjeta...</p>
        </div>
        <div class="col">
          <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta reprehenderit architecto, distinctio repudiandae voluptatibus adipisci quam veniam voluptatum, quos porro quod quisquam! Similique nemo repellendus reprehenderit hic corporis pariatur! Necessitatibus.</p>
          <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta reprehenderit architecto, distinctio repudiandae voluptatibus adipisci quam veniam voluptatum, quos porro quod quisquam! Similique nemo repellendus reprehenderit hic corporis pariatur! Necessitatibus.</p>
          <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta reprehenderit architecto, distinctio repudiandae voluptatibus adipisci quam veniam voluptatum, quos porro quod quisquam! Similique nemo repellendus reprehenderit hic corporis pariatur! Necessitatibus.</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #deleteCardConfirmation>
  <div class="delet_card">
    <div class="modal-header">
      <h5 class="modal-title" class="text-center">{{'configuration.subscription.confirmDeleteCardText' | translate}}</h5>
    </div>
    <span></span>
    <div class="row p-2 delete_card--btn">
      <div class="col text-center btn-delet">
        <button class="badge badge-pill involve-button cancel py-2 px-5 mb-1" (click)="onDeleteCardConfirmation()">
          <img src="../../../../../assets/icons/icon-trash-red.svg" alt="">
          {{'commons.eliminar' | translate}}</button>
      </div>
      <div class="col text-center">
        <button class="badge badge-pill involve-button secundary py-2 px-5 mb-1" (click)="onCloseModal()">{{'commons.cancelar' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #cancelSubscriptionConfirmation let-modal>
  <div class="delet_card">
    <div class="modal-header">
      <h5 class="modal-title" class="text-center">{{'configuration.subscription.changePlanBeforeCancelSubscription' | translate}}</h5>
    </div>
    <span></span>
    <div class="row py-2 delete_card--btn">
      <div class="col-6 text-center">
        <button class="badge badge-pill involve-button secundary py-2 mb-1" (click)="modal.dismiss('');">{{'configuration.subscription.changePlan' | translate}}</button>
      </div>
      <div class="col-6 text-center  btn-delet">
        <button class="badge badge-pill involve-button cancel py-2 mb-1" (click)="openModal('cancelSubscriptionFeedback')">{{'configuration.subscription.confirmCancelSubscription' | translate}}</button>
      </div>
    </div>
  </div>
  <!-- <div class="p-3">
    <h2 class="mb-3 text-center">{{'configuration.subscription.changePlanBeforeCancelSubscription' | translate}}</h2>
    <p>{{'configuration.subscription.changePlanBeforeCancelSubscriptionDescription' | translate}}</p>
    <div class="row py-5">
      <div class="col text-center d-none">
        <button class="badge badge-pill involve-button py-2 px-5 mb-1" (click)="modal.dismiss('');deleteSuscription('redirect','');">{{'configuration.subscription.changePlan' | translate}}</button>
      </div>
      <div class="col text-center">
        <button class="badge badge-pill involve-button secundary py-2 px-5 mb-1"  (click)="openModal('cancelSubscriptionFeedback')">{{'commons.continuar' | translate}}</button>
      </div>
    </div>
  </div>
  <img class="p-2 close-modal cursor-pointer" (click)="onCloseModal()" src="/assets/img/general/x.svg" alt=""> -->
</ng-template>
<ng-template #newCardRejected>
  <div>
    <div class="modal-header d-flex align-items-center">
      <h5 class="modal-title" class="text-center flex-grow-1">{{'configuration.subscription.fullMemory' | translate}}</h5>
      <img class="cursor-pointer p-2" src="assets/img/general/x.svg" (click)="onCloseModal();" alt="">
    </div>
    <span></span>
    <div class="row py-2 delete_card--btn">
      <div class="col-12">
        <p class="text-center mb-5">{{'configuration.subscription.fullMemoryDescription' | translate}}</p>
      </div>
      <div class="col-12 text-center">
        <button (click)="onCloseModal();" class="badge badge-pill involve-button secundary py-2 mb-1">{{'configuration.subscription.fullMemoryButton' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>