@import "../../../../../assets/scss/variables";

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.titleHeader {
  font-size: 24px;
  color: #ffff;
  font-weight: 400 !important;
}

.title {
  font-size: 24px;
  color: $S600;
  font-weight: 700 !important;
}

.subtitle {
  font-size: 16px;
  color: $S400;
  font-weight: 600 !important;
}

.textSemiBold {
  font-size: 16px;
  color: $S400;
  font-weight: 600 !important;
}

.tamPhoto {
  font-size: 12px;
  color: $S200;
}

.borde {
  border-radius: 0;
  border: solid 1px;
  border-color: #e1e1e1;
}

.borde-bottom {
  border-bottom: 0;
}

.border-email {
  border-left: 0;
  border-right: 0;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400 !important;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600 !important;
  }
}

.btnDelete {
  background-color: #fdeaea;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400 !important;

  &:hover {
    background-color: $E200;
    color: #ffffff;

    .imgDelete {
      content: url("../../../../../assets/img/dashboard/Clientes/basura-blanco.svg");
    }
  }
}

.arowBack:hover {
  color: $P600;
}

.btnChange {
  background-color: #ffffff;
  border: solid 1px $P600;
  color: $P600;
  font-weight: 400 !important;

  &:hover {
    background-color: $P600;
    color: #ffffff;
  }
}

.btnChangeBlue {
  background-color: $P600;
  border: solid 1px $P600;
  font-size: 16px;
  font-weight: 400 !important;

  &:hover {
    background-color: $P700;
    border: solid 1px $P700 !important;
  }
}

.btnDeleteDisabled {
  background-color: #eaeaea;
  border: solid 1px #ababab;
  color: #ababab;
  font-size: 16px;
  font-weight: 400 !important;

  &:hover {
    background-color: #eaeaea;
    border: solid 1px #ababab;
    color: #ababab;
    font-size: 16px;
    font-weight: 400 !important;
  }
}

.file-input {
  display: none;
}

.paddingbtnUpload {
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.circle-green {
  color: #24aa3d;
  font-size: 15px;
}

.circle-black {
  color: #565656;
  font-size: 15px;
}

.login-alert {
  color: #fff;
  padding: 16px 24px;
  background-color: #24aa3d;
  border: 1px solid #f2f2f2;
}

.login-icon {
  margin: 4px 4px 0 0;
}

.forgotPass {
  text-decoration: underline;

  &:hover {
    color: $P600;
  }
}
p {
  font-size: 14px;
  span {
    font-size: inherit;
  }
}
.bold {
  font-weight: bold;
}

h6 {
  font-size: 20px;
}
a {
  &.p-500 {
    color: $P500;
  }
}
.rotate-270 {
  transform: rotate(270deg);
}

.credit-card-item {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  & p {
    margin-bottom: 0;
  }
  & span {
    vertical-align: top;
  }
  & img {
    margin-top: -7px;
  }
  .card-number {
    flex-grow: 1;
  }
  .delete-card {
    opacity: 0;
    transition: all 0.5;
  }
  &.current {
    background-color: #f2f2f2;
    box-shadow: none;
  }
  &:hover {
    .delete-card {
      opacity: 1;
    }
  }
}
.card-container-text {
  color: $S100;
}
.chevron-right {
  box-sizing: content-box;
  width: 24px;
}
.custom-check-container {
  input[type="radio"] {
    display: none;
    & + span.radio-button {
      aspect-ratio: 1;
      background-color: #ffffff;
      border-radius: 50%;
      border: solid 2px #ababab;
      display: inline-block;
      flex: none;
      position: relative;
      width: 20px;
      &:after {
        background-color: $P500;
        border-radius: 50%;
        left: 2px;
        position: absolute;
        top: 2px;
        width: 12px;
        aspect-ratio: 1;
      }
    }
    &:checked {
      & + span.radio-button {
        &:after {
          content: "";
        }
      }
    }
  }
}
select {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #cbcbcb !important;
  &:hover {
    border: 2px solid #979797 !important;
  }
  &:focus {
    border: 2px solid #979797 !important;
    outline: none !important;
  }
}
input,
select {
  border-width: 2px;
}
.border-radius-5 {
  border-radius: 5px;
}

h2 {
  font-size: 24px;
}

.colorRed {
  color: #ed3526;
}

.btn-continue {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  /* Aquí van los estilos para tablets grandes y desktop */
}

@media screen and (max-width: 767px) {
  /* Aquí van los estilos para tablets medianas */
  .padding-0 {
    padding: 0;
  }
  .ml {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 479px) {
  /* Aquí van los estilos para smartphones */
  .padding-0 {
    padding: 0;
  }

  .ml {
    margin-left: 0 !important;
  }

  .buttonsCancel {
    float: none !important;
    justify-content: center;
  }

  .login-alert {
    padding: 12px 17px !important;
  }
}

.delete_card--btn {
  padding: 2rem !important;
}

.btn-delet button {
  background-color: rgba($color: #e21d1d, $alpha: 16%);
  &:hover {
    background-color: white;
    color: $E200;
  }
}

.modal-header {
  display: block;
  & h5 {
    color: $S400;
    font-size: 18px;
    text-align: center;
  }
}

.btn-reactive button {
  font-weight: bold;
}
