@import './../../../../../../../assets/scss/variables';
.nav-titles {
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb li a {
	text-decoration: none;
	span{
		color: black;
	}
}
.section-Title{
	font-weight: 600 ;
  	color: $S700;
	font-size: 25px;

}
.tam-card{
	height: auto;

}
.card-Education{
    height: 100%;
    box-shadow: 2px 2px 3px 4px  rgb(0 0 0 / 8%);
    border-radius: 2%;
}
.card-course{
    height: 100%;
    box-shadow: 2px 2px 3px 4px  rgb(0 0 0 / 8%);
    border-radius: 2%;
	margin-bottom: -10% !important;
}
.card-certifications{
    height: 100%;
    box-shadow: 2px 2px 3px 4px  rgb(0 0 0 / 8%);
    border-radius: 2%;
	margin-bottom: -10% !important;
}
.date-edu{
	color: $P500 !important;
	padding: 4% 0% 0% 0%;
	font-size: 16px;
	margin-right: 50%;
	line-break: anywhere;
}
.degrade-edu{
	margin-top: -5%;
	color: black;
	text-align: left;
	font-size: 16px;
	line-break: anywhere;
}
.subtitleedu{
	margin-top: -5% !important;
	text-align: left;
	font-size: 16px;
	line-break: anywhere;
}
.title-table {
	font-size: 16px;
	text-align: initial;
	background-color: $P200;
}
.card-language{
	border-radius: 3%;
    box-shadow: 0px 0px 0px 2px rgb(0 0 0 / 60%);
}
.date-language{
	color: $P500 !important;
	font-size: 16px;
}
.name-course{
	font-weight: bold;
	font-size: 16px;
}
.name-institute{
	font-size: 16px;
}
.date-expedition{
	font-size: 14px;
}

.hardSkills-default{
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #E5E5E5;
	width: 1rem;
    height: 1rem;
}
.filled{
	background-color: $P500;
}
.url-certification{

	color: $P600;
	font-size: 16px;
}