<div class="card text-center borde borde-bottom ">
  <!-- barra de navegacion 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">

      <li class="font-weight-bold px-2">
        <a href="#Educacion"class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Educación</span>
        </a>
      </li>
      <li class="font-weight-bold px-2" aria-current="page">
        <a href="#Experiencia_laboral"class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Experiencia laboral</span>
        </a>
      </li>
      <li  class="font-weight-bold px-2" >
        <a href="#Habilidades"class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Habilidades</span>
        </a>
      </li>
      <li  class="font-weight-bold px-2" *ngIf="candidate.languages.length">
        <a href="#Idiomas"class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Idiomas</span>
        </a>
      </li>
      <li  class="font-weight-bold px-2" *ngIf="candidate.courses.length">
        <a href="#Cursos" class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer" >Cursos</span>
        </a>
      </li>
      <li  class="font-weight-bold px-2" *ngIf="candidate.certifications.length">
        <a href="#Certificaciones" class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Certificaciones</span>
        </a>
      </li>
    </ol>
  </nav>
-->
  
  <div>
    <!--Educacion a mostrar-->
    <div if ="Educacion"class="mt-2">
      <h5 class="ml-5 mt-5 col-md-4 section-Title text-left ">
        Educación
      </h5>  
      <div class="row justify-content-start ml-5" id = "Educacion">
        <div *ngFor="let education of candidate.academicHistory" class="mt-2 mb-2 col-lg-4 col-sm-1">
          <div class="mb-3 ml-3 card-Education">
              <p class="date-edu ml-3 mt-2"><b></b>{{education.startYear}} - {{education.endYear}}</p>
              <p class="degrade-edu ml-3 mr-3"> <strong> {{ education.degree }} </strong></p>
              <p class ="subtitleedu ml-3 mr-3">{{ education.educationLevel.name }} </p>
              <p class ="subtitleedu ml-3 mr-3">{{ education.instituteName }} </p>
          </div>
        </div>
      </div>
    </div>


  <!--experiencia laboral-->
    <div  class ="mt-3"id = "Experiencia_laboral">
      <h5 class="section-Title text-left mt4 mb-5 col-md-4 ml-5">
        Experiencia Laboral 
      </h5>
      <div class ="ml-5"*ngFor="let work of candidate.workExperiencie">
        <div class="row time-line ml-4">
          <div class="time-line-years col-md-2 text-left">
            <p>{{work.dateEntry}} <b>-{{work.dateDeparture}}</b></p>
          </div>
          <div class="time-line-description col-md-8 col-lg-6 pr-2 text-left">
            <ul>
            <li class="time-line-description-title"><strong> {{
              work.position.position }} {{
              work.positionType.spanishName }} </strong></li>
            <li class="time-line-description-level">{{ work.company }}</li>
            <li class="time-line-description-institute">{{ work.timeWork }}</li>
            </ul>
            <ng-container *ngIf="work.functions">
              <h6 class="mb-2">Funciones</h6>
              <ul class="col-md-10 mb-2">
              <li>{{work.functions}}</li>
              </ul>
            </ng-container>

          </div>
        </div>
      </div>
      <div class ="mt-5">
        <div class="mt-2 container" *ngIf="candidate.areas.length">
          <div class="col-lg-12 title-table">
            <h5 class="font-semibold titleEducation">
              Áreas laborales
            </h5>
          </div>
          <div class="ml-5">
            <ul>
              <li *ngFor="let area of candidate.areas">
                <p class ="text-left">{{area.area.spanishName}}</p>
              </li>
            </ul>
          </div>      
        </div>
        <div class="mt-2 container" *ngIf="candidate.specialties.length">
          <div class="col-lg-12 title-table">
            <h5 class="font-semibold titleEducation">
              Especialidades
            </h5>
          </div>
          <div class="ml-5">
            <ul>
              <li *ngFor="let specialtie of candidate.specialties">
                <p class ="text-left">{{specialtie.specialty.spanishName}}</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
  <!--Habilidades-->
    <div id = "Habilidades" *ngIf= "candidate.hardSkills.length || candidate.softSkills.length">
      <h1 class="section-Title text-left mt4 mb-5 col-md-4 ml-5">Habilidades</h1>
      <div class="mt-2 container" *ngIf="candidate.hardSkills.length">
        <div class="ol-lg-12 title-table">
          <h5 class=" font-semibold titleEducation">
            Habilidades técnicas (Hard skills)
          </h5>
        </div>
        <div class="ml-5">
          <div class="table-responsive">
            <table class="table table-hover">
             <thead>
                    <tr>
                        <th></th>
                        <th>Basico</th>
                        <th>Intermedio</th>
                        <th>Avanzado</th>
                        <th>Experto</th>
                    </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hardSkills of candidate.hardSkills">
                  <td class="text-left">{{hardSkills.skill.name}}</td>
                  <td class ="px-5">
                  <div class = "hardSkills-default filled"></div>
                    
                  </td>
                  <td class ="px-5 ">
                    <div class = "hardSkills-default" [ngClass]="{filled : hardSkillsLevel(1, hardSkills?.level)}"></div>
                  </td>
                  <td class ="px-5">
                    <div class = "hardSkills-default" [ngClass]="{filled : hardSkillsLevel(2, hardSkills?.level)}" ></div>
                  </td>
                  <td class ="px-5">
                    <div class = "hardSkills-default" [ngClass]="{filled : hardSkillsLevel(3, hardSkills?.level)}"></div>
                  </td>
              </tr>
              </tbody>
            </table>
          </div> 
      </div>
      <div class="mt-2" *ngIf="candidate.softSkills.length">
        <div class="col-lg-12 title-table">
          <h5 class="font-semibold titleEducation">
            Habilidades sociales (Soft skills)
          </h5>
        </div>
          <div class="row justify-content-start">
            <div class="mt-1 mb-2 col-lg-4 col-sm-1" *ngFor="let softSkills of candidate.softSkills">
              <div class="mb-3 card-language">
                <p class="date-language p-2">{{softSkills.skill.name}} </p>   
              </div>
            </div>
          </div>
      </div>
    </div>
  <!--idiomas -->
    <div id = "Idiomas" class="mt-2" *ngIf="candidate.languages.length">
      <h5 class="section-Title text-left mt-5 mb-5 ml-5  col-md-4">
        Idiomas
      </h5>
      <div class="ml-5"> 
        <div class="row justify-content-start ml-3">
          <div *ngFor="let language of candidate.languages" class="mt-2 ml-2 mb-2 col-lg-3 col-sm-1">
            <div class="mb-3 card-language">
              <p class="date-language p-2"> {{language.language.spanishName}} - {{language.level| lowercase}}</p>
            </div>    
        </div>

      </div>
      
    </div>
    <!-- cursos -->

    <div id = "Cursos" class="mt-2" *ngIf="candidate.courses.length">
      <h5 class="section-Title text-left mt-5 mb-5 ml-5 col-md-4">
        Cursos
      </h5>
      <div class="ml-5">
        <div class="row justify-content-start ml-4">
          <div *ngFor="let course of candidate.courses"class="mt-2 mb-2 col-lg-4 col-sm-1">
            <div class="mb-3 card-course p-4">
              <p class="name-course mt-2 mb-3 text-left">{{ course.name }}</p>
              <p class="name-institute mb-0 text-left"> {{course.insitute}}</p>
              <p class ="date-expedition mb-0 text-left"> Expedición: {{course.dateExpedition}}</p>
              <p class="name-institute mb-3 text-left"> Duración: {{course.hours}}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  <!--Certificaciones -->
    <div id = "Certificaciones" class="mt-2" *ngIf="candidate.certifications.length">
      <h5 class="ml-5 mt-5 col-md-4 section-Title text-left ">
        Certificaciones
      </h5>
      <div class="ml-5">
        <div class="row justify-content-start mb-5 ml-4">
          <div *ngFor="let certification of candidate.certifications" class="mt-2 mb-5 col-lg-4 col-sm-1">
            <div class="mb-3 card-certifications p-4">
              <p class="name-course mt-2 mb-3 text-left">{{ certification.name }}</p>
              <p class="name-institute mb-0 text-left"> {{certification.institute}}</p>
              <p class ="date-expedition mb-0 text-left"> Expedición: {{certification.dateExpedition}}</p>
              <p class="name-institute mb-3 text-left"> ID de la credencial: {{certification.credentialId}}</p>
              <p class="mb-4 text-left"><a *ngIf="certification.url" target="_blank" class="url-certification text-left" [href]="certification.url">Ver credencial</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet name="curriculum"></router-outlet>
</div>