@import "../../../../../assets/scss/variables";

.titulo {
  font-size: 24px;
  font-weight: 600;
  color: #565656;
}

.close {
  font-size: 2em;
  font-weight: 500;
}

.modal-body {
  padding: 0rem;
}

.botonSalir {
  width: 18%;
  background: $P500;
  cursor: pointer;
}

.botonSalir:hover {
  background: $P600;
}

.texto {
  font-weight: 600 !important;
  font-size: 22px;
  color: $S500;
}

.header-modal {
  display: flex;
}
