<ng-template #content2 let-modal>
  <div id="moda">
    <span  class="close cursor-pointer mt-2 mr-3" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </span>
  </div>
  <div class="modal-body text-center">
    <h4 class="titulo">¿Está seguro de que quiere salir?</h4>
    <p style="margin-bottom: 0;">Si no guarda la vacante como borrador los cambios</p> <p> en este paso y los anteriores se perderán</p>
  </div>
  <div class="text-center mb-4">
    <app-modal-guardar></app-modal-guardar>
    <span class="badge badge-pill badge-secondary  p-2 mb-2 mt-2 bd-highlight botonSalir Continuar ml-3 " (click) ="modal.close('Close click');redirecTo();" >Salir</span>
  </div>
</ng-template>
<div class="header-modal" >
  <img class="xSombreada cursor-pointer ml-1" src="../../../../assets/img/general/xRoja.svg" alt=""
            (click)="openVerticallyCentered(content2)">
            <span class="texto ml-2" style="display: inline-block;">Crear vacante</span>
</div>