@import "./src/assets/scss/main.scss";

.footer-involve {
  background: $F666;
  padding: 16px;
  border-top: 1px solid $EAEA;
  h3 {
    font-size: 18px;
    color: $S700;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .logo img {
    height: 60px;
  }
  p {
    font-size: 11px;
    color: $S200;
    margin-bottom: 0;
  }
}
