<div class="footer-involve container-fluid">
  <div class="mx-4 row d-flex align-items-center justify-content-between">
    <div class="content">
      <h3>Tecnología que Revoluciona el Talento</h3>
      <p>contacto@involverh.com</p>
    </div>
    <div class="logo">
      <img src="assets/img/brand/logo_footer.svg" alt="" />
    </div>
  </div>
</div>