$colors: (
  blanco: #ffffff,
  negro: #000000,
  title: #2E2E2E,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9,
  btn-ative-hver: #098686,
  registrar: #0AA8A8,

  style-txt-title: #707070,
  style-gradient-start: #18C3A6,
  style-gradient-end: #22A0A0
);

.fluid {
    margin: 0;
}
.fluid__menu {
    border-right: 1px solid map-get($colors, border-input);
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
}
    .fluid__menu--perfil {
        background: linear-gradient(90deg, map-get($colors, style-gradient-end) 0%, map-get($colors, style-gradient-start) 100%);
        display: flex;
        align-items: center;
        height: 80px;
        padding: 16px;
    }
    .fluid__menu--perfil-back {
        margin-left: 5%;
        margin-right: 2%;
    }
    .fluid__menu--perfil-lock {
        margin-right: 13%;
    }
        .textBold-md18 p {
            color: map-get($colors, blanco);
            margin-left: 16px;
            margin-bottom: 0px;
        }
    .fluid__menu--avatar {
        border-radius: 2px solid map-get($colors, blanco);
    }
        .fluid__menu--avatar img {
            height: 48px;
            width: auto;
        }

    .fluid__menu--title p {
        padding: 16px;
        border-bottom:   1px solid map-get($colors, border-input);
        color: map-get($colors, style-txt-title);
    }

    .fluid__menu--list {
        padding: 0px 24px 0px 32px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid map-get($colors, border-input);
    }
        .fluid__menu--list-description {
            display: flex;
        }
            .fluid__menu--list-description p {
                color: map-get($colors, btn-active);
                margin-right: 8px;
                margin-bottom: 0px;
                text-align: right;
            }
            .fluid__menu--list-description img {
                transform: rotate(180deg);
            }

        .fluid__menu--notification p {
            border-bottom:   1px solid map-get($colors, border-input);
            color: map-get($colors, style-txt-title);
            padding: 16px 16px 16px 32px;
            margin-bottom: 0;
        }

.fluid__card {
    margin: 2%;
}



