<div class="fluid">
    <div class="row">

        <div class="col col-lg-3">
            <div class="fluid__menu">

                <!-- PERFIL -->
                <div class="fluid__menu--perfil">
                    <a class="fluid__menu--perfil-back" href="#"><img src="../../../../../assets/icons/icon-back.svg" alt=""></a>
                    <img class="fluid__menu--perfil-lock" src="../../../../../assets/icons/icon-lock.svg" alt="">
                    <div class="fluid__menu--avatar"><img src="../../../../../assets/icons/icon-avatar.svg" alt=""></div>
                    <div class="textBold-md18"><p>Mi CV</p></div>
                </div>

                <!-- TITLE -->
                <div class="textBold-md fluid__menu--title text-center">
                    <p>Criterios de búsqueda de empleo</p>
                </div>

                <!-- LIST -->
                <div class="fluid__menu--list textRegular-md16">
                    <p>Title</p>
                    <div class="fluid__menu--list-description">
                        <p>Description</p>
                        <a href="#"><img src="../../../../../assets/icons/icon-back.svg" alt=""></a>
                    </div>
                </div>

                <!-- NOTIFICACIONES -->
                <div class="textBold-md fluid__menu--notification">
                    <p>Notificaciones</p>
                </div>

                <!-- ACTIVAR NOTIFICACIONES -->
                <div class="textBold-md fluid__menu--notification">
                    <p>Activar notificaciones</p>
                </div>

                <!-- SEGURIDAD -->
                <div class="textBold-md fluid__menu--notification">
                    <p>Cuenta y seguridad</p>
                </div>

            </div>
        </div>


        <div class="col fluid__card">
            <app-registro-cv-card></app-registro-cv-card>
        </div>

    </div>
</div>