@import "../../../../../assets/scss/variables";

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.titleHeader {
  font-size: 24px;
  color: #ffff;
  font-weight: 400;
}

.title {
  font-size: 24px;
  color: $S600;
  font-weight: 700;
}

.error {
  color: #f00;
}

.dragarea {
  font-size: 1.5rem;
  border: 2px solid #bbb;
  padding: 1.5rem;
  background-color: #fff;
  color: #bbb;
  min-height: 8em;
  width: 100%;
  border-radius: 5px;
}

.droparea {
  font-size: 1.5rem;
  border: 2px dashed #bbb;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
  height: 8em;
  width: 100%;
  border-radius: 5px;
}

.backgroundCol {
  background-image: url(../../../../../assets/img/general/transparency-background.png);
}

.colorPicker {
  width: 3.5em;
  height: 2.5em;
  padding: 0.5px;
}

.btnCerrar {
  background-color: #1c1c1b;
  font-weight: 400;
  font-size: 16px;

  &:hover {
    background-color: $P600;
  }
}

.textImagen {
  font-size: 12px;
  color: $S300;
}

.textColor {
  font-size: 15px;
  color: $S200;
}

.btnPre {
  background: $P500;
  color: #ffff;
  font-weight: 400;

  &:hover {
    background: $P600;
  }
}

.headerPre {
  background: #ffffff;
  height: 4em;
}

.textPreview {
  font-size: 16px;
  color: $S700;
}

.textBold {
  font-weight: 700;
}

.btnAcept {
  background-color: $P500;
  font-size: 16px;
  color: #ffff;
  padding-left: 7em;
  padding-right: 7em;
}

.card-footer {
  background-color: #ffff;
}

.btnChangeBlue {
  background-color: $P600;
  border: solid 1px $P600;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P700;
    border: solid 1px $P700;
  }
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.delete {
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  line-height: 1.428571429;
  border-radius: 50%;
  border-color: #e21d1d;
  box-sizing: border-box;
  cursor: auto;
  background: #fdeaea;
  z-index: 1000;
  top: 0;
  float: right;
  position: absolute;
  right: 0;

  &:hover {
    background: #e21d1d;

    img {
      content: url("/assets/img/dashboard/Clientes/basura-blanco.svg");
    }
  }
}

.color {
  color: $P500;
}

@media screen and (max-width: 991px) {
  /* Aquí van los estilos para tablets grandes y desktop */
}

@media screen and (max-width: 767px) {
  /* Aquí van los estilos para tablets medianas */
  .btnAcept {
    padding-left: 5em;
    padding-right: 5em;
  }
  .hideTextColors {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  /* Aquí van los estilos para smartphones */

  .btnAcept {
    padding-left: 3em;
    padding-right: 3em;
  }

  .buttonsCancel {
    float: none;
    justify-content: center;
  }
}

.header-logo-image {
  width: 100px;
  height: 100px;
}
