<div class="card text-center border-top" style="margin-bottom: 5em;">
  <h5 class="card-header text-left header" >
    {{'configuration.templates.title' | translate}}
  </h5>
  <div class=" text-left card-body">
    <form [formGroup]="formColors">
        <div class="row">
            <div class="col-8">
                <h5 class="textBold mb-3">{{'configuration.templates.subtitle1' | translate}}</h5>
            </div>
            <div class="col-4 d-none d-sm-block">
                <h5 class="textBold mb-3">{{'configuration.templates.subtitle2' | translate}}</h5>

            </div>
        </div>

      <div class="row">

        <div class="col-12 col-sm-8 d-flex justify-content-center align-items-center pl-0" [ngClass]="{'backgroundCol':url}">
          <div *ngIf="!url" draggable="true" ngClass="{{dragAreaClass}}">
            <div class="text-center">
              <img async class=" header-logo-image" src="/assets/img/dashboard/Profile/sinfotoCompany.svg">
              <div class="col-md-12 text-center">
                <h5 class="mb-0 mt-3  textImagen"> {{'configuration.templates.message' | translate}}</h5>
                <h5 class="p-0 textImagen"> {{'configuration.templates.message1' | translate}}</h5>
                <span class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnCerrar cursor-pointer"
                  (click)="fileTemplate.click();">{{'configuration.templates.btnUpload' | translate}}</span>
                <input type="file" #fileTemplate [multiple]="false" (change)="onFileChange($event)" style="display:none" />
              </div>
            </div>
          </div>
          ​<div *ngIf="url">
              <div  class="delete">
                <img src="/assets/img/dashboard/Clientes/basura.svg" (click)="deleteImagen()">  
              </div>
            
            <img [src]="url" class="img-fluid header-logo-image" alt="...">
          </div>
         
        </div>
        
        <div class="col-12 mt-4 col-sm-4 mt-sm-0">
          <div class="row d-flex justify-content-between align-items-center">
            <label for="exampleColorInput" class="form-label">{{'configuration.templates.color2' | translate}}</label>
            <input type="color" formControlName="inputText"  class="form-control form-control-color colorPicker" id="inputText"
              title="Choose your color">
          </div>
          <br>
          <div class="row d-flex justify-content-between align-items-center">
            <label for="exampleColorInput" class="form-label">{{'configuration.templates.color3' | translate}}</label>
            <input type="color" formControlName="inputButton"  class="form-control form-control-color colorPicker" id="inputButton"
              title="Choose your color">
          </div>
          <br>
          <div class="row d-flex justify-content-between align-items-center">
            <label for="exampleColorInput" class="form-label">{{'configuration.templates.color1' | translate}}</label>
            <input type="color" formControlName="inputTextButton" class="form-control form-control-color colorPicker" id="inputHeader"
             title="Choose your color">
          </div>
        </div>
      </div>
      <div class="error  d-none d-sm-block" style="font-size: 12px;color:#979797;" >
        {{'configuration.templates.message3' | translate}}
      </div>
      <br>
      <div class="row d-flex justify-content-center align-items-center">
        <span class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnPre cursor-pointer" (click)="preview();">
          <img src="../../../../assets/img/general/ver.svg" alt="" class="mr-1">
          {{'configuration.templates.pre' | translate}}</span>
      </div>
      <div class="container" style="background-color: #F3F3F3;">
        <br>
        <div class="card text-center ml-0 ml-sm-5 mr-0 mr-sm-5 mt-4">
            <div class="card-header headerPre d-flex justify-content-center align-items-center" [ngStyle]="{'background-color':bgButtonText}">
                <img *ngIf="urlPreview" [src]="urlPreview" class="img-fluid" alt="..." width="80" height="100">
            </div>
            <div class="card-body pl-3 pl-sm-5 pr-2 pr-sm-5">
                <br>
              <h5 class="text-left textPreview" [ngStyle]="{'color':bgtext}">Hola:</h5>
              <br>
              <h5 class="card-text text-left m-0 textPreview" [ngStyle]="{'color':bgtext}">Te enviamos este correo para notificarte que <span class="textBold">el cambio de contraseña </span> ha sido exitoso.</h5>
              <br>
              <h5 class="text-left m-0 textPreview" [ngStyle]="{'color':bgtext}">Si tu no solicitaste el cambio de contraseña, ponte en contacto con nosotros.</h5>
              <br>
              <button type="button" class="btn btnAcept mx-auto" [ngStyle]="{'background-color':bgButton}" >Aceptar</button>
              <br>
            </div>
            <div class="card-footer text-muted">
              <h5 class="text-left textPreview m-0" [ngStyle]="{'color':bgtext}">Esté correo electrónico fue enviado desde una dirección solamente de notificaciones que puede aceptar correo electrónico entrante.</h5>
              
              <p class="text-left textPreview textBold" [ngStyle]="{'color':bgtext}">Por favor no respondas a este mensaje.</p>
              <br>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center mt-2">
              <img src="../../../../../assets/icons/icon.redes.svg" class="mr4- ml-4 py-4" alt="">
            </div>
            <div class="text-center mt-2">
            <h5 class="textPreview m-0">Has recibido este correo por ser usuario de <span class="color">involverh.mx</span></h5>
            <h5 class="textPreview">Río Lerma 196 BIS, Cuauhtémoc, CDMX</h5>
            </div>
            <br>
      </div>
      <div class="row mb-3 ml-0 ml-sm-5 mt-3 mr-lg-3 buttonsCancel" style="float: right;">
        <span
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 mr-3 bd-highlight btnNewClient cursor-pointer btnCancel" (click)="cancelChages();">{{ 'commons.cancelar' | translate }}</span>
        <span
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChangeBlue"
          (click)="onFileSelected()">{{ 'commons.guardar' | translate }}</span>
      </div>
    </form>
  </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>