@import "./src/assets/scss/main.scss";

.card {
  border: none;
  .icons {
    position: absolute;
    top: 16px;
    right: 21px;
    width: 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    .icons-contain {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      margin-bottom: 8px;
      // &:hover {
      //   transition: all 0.3s ease-in;
      //   background-color: $P500;
      //   img {
      //     filter: invert(100%) sepia(81%) saturate(2%) hue-rotate(165deg) brightness(111%) contrast(101%);
      //   }
      // }
      img {
        width: 21px;
      }
    }

    .icons-contain-nohover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      margin-bottom: 8px;
      img {
        width: 21px;
      }
    }
  }

  .card-body {
    padding: 16px;
    border: 1px solid $EAEA;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .user-seen-by {
      font-size: 11px;
    }
    .user-photo {
      height: 104px;
      width: 104px;
    }
  }
}
.last-update {
  cursor: default;
  font-size: 12px;
  color: $S200;
  background-color: $S50;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: center;
}

.verde {
  background: $E100;
}

.naranja {
  background: $E400;
  border-color: $E400;
}

.rojo {
  background: $E200;
  border-color: $E200;
}

.amarillo {
  background: $E300;
  border-color: $E300;
}

.status-terna {
  border-top: 1px solid $F300;
  h3 {
    font-size: 32px;
    text-align: center;
    padding: 16px;
    margin: 0;
  }
}

.btn-phone {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #a8eac2;
  img {
    width: 12px;
  }
}
.btn-email {
  background-color: #a8eaea;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.textReject {
  color: $E200;
  font-size: 28px;
  cursor: default;
}

.textFinalist {
  color: $P600;
  font-size: 28px;
  cursor: default;
}

.profile-content {
  h3 {
    color: $S600;
    font-size: 16px;
    padding: 0;
    margin: 0;
    @include fontbold();
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  h6,
  h5 {
    font-size: 14px;
  }
  h5 {
    color: $S200;
    font-size: 12px;
  }
}

.iconoShared {
  display: inline-block;
  height: 1em;
  width: 1.1em;
  cursor: pointer;
}

.photoRecruiter {
  width: 20px;
}

.percent {
  p {
    color: $S700;
  }
}

.btn-user-card-container {
  .btn-user-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid $EAEA;
    font-size: 12px;
    padding: 16px;
    background-color: $S50;
    margin: 0;
    &-rejected {
      &:hover {
        background-color: red;
        color: #fff;
        img {
          filter: invert(100%) sepia(81%) saturate(2%) hue-rotate(165deg) brightness(111%) contrast(101%);
        }
      }
    }
    &-approved {
      &:hover {
        background-color: green;
        color: #fff;
        img {
          filter: invert(100%) sepia(81%) saturate(2%) hue-rotate(165deg) brightness(111%) contrast(101%);
        }
      }
    }
    &-icon {
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }
  }
}
.black {
  background: #000000;
  color: #ffffff;
}
.btnRed {
  background: #e31c1c;
  color: #ffffff;
}
.tituloModal {
  font-size: 23px;

  color: #000000;
  font-weight: 700 !important;
}

.textoModal {
  font-size: 12px;
  color: #000000 !important;
  font-weight: 400;
}
.txt-not-Notification{
  font-size: 12px;
  margin: 0% -20% -70% 0 !important;;
  color: #000000 !important;
  font-weight: 400;
}
.cuadrado {
  width: 8em;
  height: 8em;
}
.azul {
  background: #ffffff ;
  color: #000000 ;
  border-color: #000000;
  margin: 10% -50% 10% 30%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  .textoModal {
    margin: 0% 0% -70% 30%;
    color: #212121;
  }
  .campana {
    margin: -35% -100% 0% 35%;
  }

  .campana1 {
    margin: -35% -100% 0% 35%;
  }

 
  .xAzul {
    margin: -35% -100% 0% 25%;
    
  }
  &:hover {
    background: #0bb9b9 !important;
    color: #ffffff;
    border-color: #088b8b;

    .textoModal {
      margin: 0% 0% -70% 30%;
      color: #ffffff ;
    }

    .campana {
      content: url("../../../assets/img/dashboard/vacantes/campanaSonandoHover.svg");
      margin: -35% -100% 0% 35%;
    }

    .campana1 {
      content: url("../../../assets/img/dashboard/vacantes/campanaHover.svg");
      margin: -35% -100% 0% 35%;
    }

   

    .xAzul {
      content: url("../../../assets/img/general/xBlanca.svg");
      margin: -35% -100% 0% 25%;
      transform: scale(1.3) ;
    }
  }
}