<div class="card p-0" *ngIf="userCardData">
  <div class="card-body">
    <div class="row d-flex justify-content-start">
      <div class="col-4 p-0">
        <div placement="top" ngbTooltip="Porcentaje de compatibilidad" tooltipClass="my-custom-class"
          class="percent d-flex justify-content-start align-items-center">
          <div *ngIf="userCardData.porcentaje && setProcessSelection !== 'talent' "
            class="circle-pulse mr-2 {{userCardData.colorPorcentaje}}">
          </div>
          <div *ngIf = "setProcessSelection !== 'talent'"class="text">
            <p *ngIf="userCardData.porcentaje" class="m-0 font-19 font-regular">
              {{userCardData.porcentaje}}</p>
          </div>
        </div>
        <p class="my-2 font-12 last-update">
          <strong *ngIf="setProcessSelection !== 'talent'">
            {{userCardData.data.postulationDate | dateAgoPipe}}
          </strong>

          <strong *ngIf="setProcessSelection === 'talent'">
            {{userCardData.candidate.updateCV | dateAgoPipe}}
          </strong>
        </p>
        <span>
          <img placement="bottom" ngbTooltip="No cuenta con video entrevista" tooltipClass="my-custom-class"
            *ngIf="setProcessSelection !== 'talent' && (userCardData.presentationVideo === false) && (userCardData.interviewPresentation === false)"
            src="assets/img/general/cameraGray.svg"
            [ngClass]="(userCardData.statusTerna == null || userCardData.statusTerna == 'ENTREVISTA') ? 'mt-4':''">
          <img
            *ngIf="setProcessSelection!='candidatos' && userCardData.presentationVideo && userCardData.interviewPresentation"
            src="assets/img/general/cameraBlue.svg">
          <div
            *ngIf="setProcessSelection !== 'talent' && userCardData.statusTerna == 'ACTIVO' || userCardData.statusTerna == 'RECHAZADO' || userCardData.statusTerna == 'FINALISTA'"
            class="circle-pulse amarillo">
            <span>T</span>
          </div>
        </span>
      </div>
      <div class="col-4 text-center mb-3">
        <img *ngIf="userCardData.candidate.user.photo" class="user-photo" [src]="userCardData.candidate.user.photo">
        <img *ngIf="!userCardData.candidate.user.photo" class="user-photo" [src]="userCardData.photo">
      </div>
      <ng-container *ngIf="setProcessSelection === 'talent'">
        <div class="icons">
          <div class="icons-contain">
            <img id="favorite iconoCorazon" src="assets/img/dashboard/TalentNetwork/heart.svg" alt=""
              (click)="openModal(BUTTONS.FAVORITE_TALENT)">
          </div>
          <div class="icons-contain">
            <img id="sobre" ngbTooltip="Invitar a otra vacante" tooltipClass="my-custom-class"
              src="assets/img/dashboard/TalentNetwork/email.svg" alt="" placement="bottom"
              (click)="openModal(BUTTONS.INVITATION)">
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="setProcessSelection !== 'talent'">
        <div class="icons">
          <div class="icons-contain">
            <img id="favorite" [ngClass]="(!userCardData.favorito) ? 'iconoCorazon':'filter-green'"
              src="assets/img/dashboard/TalentNetwork/heart.svg" alt="" (click)="onClick(BUTTONS.FAVORITE)">
          </div>
          <div class="icons-contain">
            <img src="assets/img/dashboard/vacantes/relojSonando.svg" class="iconoReloj" alt="" placement="bottom"
              ngbTooltip="Enviar recordatorio" tooltipClass="my-custom-class" (click)="onClick(BUTTONS.REMINDER)">
          </div>
          <div class="icons-contain">
            <img id="sobre" ngbTooltip="Invitar a otra vacante" tooltipClass="my-custom-class"
              src="assets/img/dashboard/TalentNetwork/email.svg" alt="" placement="bottom"
              (click)="openModal(BUTTONS.INVITATION)">
          </div>
          <div class="icons-contain-nohover">
            <img *ngIf="!flagMatch"
              [ngClass]="(!userCardData.presentationVideo || !userCardData.interviewPresentation) && !userCardData.reject ? 'positionIconInformation':''"
              tooltipClass="my-custom-class" placement="bottom" ngbTooltip="No cumple los filtros"
              src="assets/img/general/information.svg">
          </div>
        </div>
      </ng-container>
    </div>

    <div class="profile-content text-center">
      <div class="profile-content-icons" *ngIf="showIcons">
        <a (click)="onClick($event)"><img
            *ngIf="userCardData.urls.linkedIn != undefined && userCardData.urls.linkedIn != ''"
            src="assets/img/general/logos/logoLinkedIn.svg" class="mr-1" style="transform: scale(0.7);" alt=""></a>
        <a (click)="onClick($event)"><img *ngIf="userCardData.urls.git != undefined && userCardData.urls.git !=''"
            src="assets/img/general/gitHub.svg" class="mr-1" style="transform: scale(0.7);" alt=""></a>
        <a (click)="onClick($event)"><img
            *ngIf="userCardData.urls.behance != undefined && userCardData.urls.behance != ''"
            src="assets/img/general/logos/logotipo-de-behance.svg" class="mr-1" style="transform: scale(0.7);"
            alt=""></a>
        <a (click)="onClick($event)"><img *ngIf="userCardData.urls.file != undefined && userCardData.urls.file != ''"
            src="assets/img/general/clip.svg" style="transform: scale(0.7);" alt=""></a>
      </div>
      <div class="mb-4">
        <h3>{{userCardData.nombre}}</h3>
        <p>{{userCardData.candidate.positionSearch}}</p>
      </div>
      <div class="row mb-4">
        <div class="col p-0">
          <h6>{{userCardData.sueldo | customCurrency}}</h6>
          <h5>Sueldo deseado</h5>
        </div>
        <div class="col p-0">
          <h6>{{userCardData.edad}}</h6>
          <h5>Edad</h5>
        </div>
        <div class="col p-0">
          <h6>
            {{userCardData.ubicacion}}
          </h6>
          <h5>Ubicación</h5>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col p-0">
          <h6 class="text-left font-bold mb-2">Email</h6>
          <h5 class="text-left">{{userCardData.urls.email}}</h5>
        </div>
        <div class="col p-0 text-right">
          <div class="btn-email text-center" style="float: right;">
            <a href="mailto: {{userCardData.candidate.user.email}}"><img src="assets/img/general/sobre.svg" alt=""></a>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col p-0">
          <h6 class="text-left font-bold mb-2">Teléfono</h6>
          <h5 class="text-left">{{userCardData.urls.phone}}</h5>
        </div>
        <div class="col p-0 text-right">
          <div class="btn-phone text-center" style="float: right;">
            <a href="tel: {{userCardData.candidate.user.phone}}"><img src="assets/img/general/phone.svg" alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-container *ngIf="setProcessSelection !== 'talent'">
    <div *ngIf="setProcessSelection != 'contratados' && !userCardData.reject && userCardData.statusTerna != 'FINALISTA'"
      class="btn-user-card-container row d-flex justify-content-between align-items-center">

      <button class="col btn-user-card btn-user-card-rejected" (click)="openModalRechazar(userCardData.id,false)">
        <img class="btn-user-card-icon" src="assets/img/general/xNegrita.svg" alt=""> Rechazar
      </button>

      <button *ngIf="userCardData?.canBeApproved" class="col btn-user-card btn-user-card-approved" (click)="openModalAprobar(userCardData.id,false)">
        <img class="btn-user-card-icon" src="assets/img/dashboard/vacantes/likeNegro.svg" alt=""> Aprobar
      </button>


    </div>

    <div *ngIf="setProcessSelection == 'finalistas' && !userCardData.reject && userCardData.statusTerna == 'FINALISTA'">
      <div class="col d-flex justify-content-center align-items-center" (click)="onClick(BUTTONS.REJECTED_CONFIRMED)">
        <h5 class="textoBotones">
          <div class="iconoX"></div>
          Rechazar
        </h5>
      </div>
      <div class="col d-flex justify-content-center align-items-center" (click)="onClick(BUTTONS.APPROVED_CONFIRMED)">
        <h5 class="textoBotones">
          <div class="iconoLike"></div>
          <span>Aprobar</span>
        </h5>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="status-terna row flex-column justify-content-center align-items-center">
      <h3 *ngIf="userCardData.statusTerna === 'RECHAZADO'" class="textReject">Rechazado
      </h3>
      <h3 *ngIf="userCardData.statusTerna === 'FINALISTA' && setProcessSelection=='entrevistas'" class="textFinalist">
        Finalista
      </h3>
      <!-- <h3 *ngIf="userCardData.statusTerna === 'ACTIVO'" class="textFinalist">Activo
      </h3> -->
    </div>
  </ng-container>
</div>
<!-- Modales -->

<ng-template #rechazar let-modal>
  <!--MOdal rechazar-->
  <div class="modal-body">
    <h6 class="mt-4 text-center tituloModal">¿Cómo quieres notificar al candidato?</h6>
    <div class="row">
      <div class="col text-center">
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');openModalconfirmacionRechazoCandidato(true,false);">
          <img class="dropdown-toggle mb-2 xAzul" src="../../../../assets/img/general/xazul.svg"> <br>
          <h6 class="textoModal">Al cerrar la vacante</h6>
        </button>
      </div>
      <!--Se comenta la opción de mensaje personalizado, ya que aun no se cuenta con esta alternativa -->
      <!--<div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');">
          <img class="dropdown-toggle mb-2 lapizAzul" src="../../../../assets/img/dashboard/vacantes/lapizAzul.svg"
            style="transform: scale(0.8);"> 
          <h6 class="textoModal">Mensaje Personalizado</h6>
        </button>
      </div>-->
      <div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');openModalconfirmacionRechazoCandidato(false,true);">
          <img class="dropdown-toggle mb-2 campana" src="../../../../assets/img/dashboard/vacantes/campanaSonando.svg"
            style="transform: scale(0.8);"> <br>
          <h6 class="textoModal">Mensaje Predefinido</h6>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #aprobar let-modal>
  <!--Modal aprobar-->
  <div class="modal-body">
    <h6 class="mt-4 text-center tituloModal">¿Cómo quieres notificar al candidato?</h6>
    <div class="row">
      <div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');generateArrayNextStage(false,iconoChekBlanco);">
          <img class="dropdown-toggle mb-2 campana1" src="../../../../assets/img/dashboard/vacantes/campana.svg"> 
          <h6 class="textoModal txt-not-Notification ">Aprobar sin notificar</h6>
        </button>
      </div>
      <div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul" 
          (click)="modal.close('Close click');generateArrayNextStage(true,iconoChekBlanco);">
          <img class="dropdown-toggle mb-2 campana" src="../../../../assets/img/dashboard/vacantes/campanaSonando.svg">
          <br>
          <h6 class="textoModal">Mensaje Predefinido</h6>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal confirmacion rechazar-->
<ng-template #confirmacionRechazo let-modal>
  <div class="modal-body">
    <h6 class="text-center tituloModal" style="padding-top: 1.5em;">¿Está seguro de rechazar al candidato?</h6>
    <h6 class="text-center tituloCandidato" style="padding-top: 1.5em;">Está acción es irreversible</h6>
    <div class="row" style="padding: 1.5em !important; padding-top: 0.9em !important;">
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal black"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: right;"
          (click)="modal.close('Close click');">Cancelar</span>
      </div>
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal btnRed"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: left;"
          (click)="modal.close('Close click');generateArrayRejectCandidate(false,iconoChekBlanco);">Rechazar</span>
      </div>
    </div>
  </div>
</ng-template>


<!-- Modal confirmacion aprobar -->
<ng-template #confirmacionAprobacion let-modal>
  <div class="modal-body">
    <h6 class="text-center tituloModal" style="padding-top: 1.5em;">¿Está seguro de rechazar al candidato?</h6>
    <h6 class="text-center tituloCandidato" style="padding-top: 1.5em;">Está acción es irreversible</h6>
    <div class="row" style="padding: 1.5em !important; padding-top: 0.9em !important;">
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal black"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: right;"
          (click)="modal.close('Close click');">Cancelar</span>
      </div>
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal btnRed"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: left;"
          (click)="modal.close('Close click');setMensajeToastAprobar(iconoChekBlanco);">Rechazar</span>
      </div>
    </div>
  </div>
</ng-template>