@import "./src/assets/scss/main.scss";

.photoProfile {
  border-radius: 50%;
  width: 2.8em;
  height: 2.8em;
}

.photoProfileMin {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.subTitulo {
  color: #565656;

  font-size: 12px;
}

.numNotifications {
  border-radius: 50%;
  align-items: center;
  display: flex;
  text-align: center;
  transform: scale(0.8);
  position: absolute;
  bottom: 15px;
  left: 7px;
  background: $P500;
}

.dropdown-menu {
  width: 270px;
  padding: 16px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px rgba(119, 119, 119, 0.2);
}

.timer {
  border-radius: 20px;
  padding: 4px 15px;
  border: solid 1px $E200;
  .subtitle-timer {
    color: #000000;
    font-size: 12px;
  }
  .title-timer {
    font-size: 16px;
    color: $E200;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
  .time {
    font-size: 32px;
    color: $E200;
  }
  .timeMin {
    font-size: 12px;
    color: $E200;
  }

  .legend-reactive {
    color: $C56;
    font-size: 12px;
  }
  .timmer {
    & .col {
      padding-left: -0px;
      padding-right: 0px;
    }
  }
}
.profile {
  .user-info {
    text-align: left;
    max-width: 160px;
    h3 {
      color: $C56;
      font-size: 14px;
      margin: 0;
      @include fontbold();
    }
    p {
      color: $C56;
      font-size: 12px;
      margin: 0;
    }
  }
  .links {
    ul {
      margin: 0;
      padding: 0;
      li {
        font-size: 12px;
        list-style-type: none;
        margin-bottom: 8px;
        .items {
          color: $S700;
        }
        .logout {
          color: $P500;
          cursor: pointer;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .version {
      color: $S200;
      cursor: default;
    }
  }
}

.not_menu_user {
  display: none;
}
.menu_user {
  display: flex;
  flex-direction: column;
}

.icon-notification {
  width: 48px;
  height: 38px;
  padding: 16px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-right: 0;
  }
}
.not_menu_notification {
  display: none;
}
.menu_notification {
  display: flex;
}

.button-reactivate {
  background-color: transparent;
  min-width: auto;
  span {
    display: inline-block;
    min-width: 0;
    overflow: hidden;
    transition: min-width 1s;
    vertical-align: middle;
    width: 0;
    font-size: 12px;
  }
  .change {
    fill: $S100;
  }
  &:hover {
    background-color: $P800;
    span {
      margin-right: 10px;
      min-width: 140px;
    }
    .change {
      fill: #fff;
    }
  }
}
