<div class="d-flex justify-content-center align-items-center">
  <div *ngIf="showTimmer" class="timer btn-group dropdown-menu-right text-center pr-3 mr-4">
    <a class="title-timer" data-toggle="dropdown" id="dropdowTimmer">{{SPAN_DAYS}} : {{SPAN_HOURS}} :
      {{SPAN_MINUTES}}</a>
    <span class="badge badge-light numNotifications" style="display: none;">{{contNotifications}}</span>
    <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdowTimmer">
      <h6 class="subtitle-timer">Tu cuenta se eliminará en:</h6>
      <div class="row mb-2 timmer">
        <div class="col">
          <h5 class="time">{{SPAN_DAYS}} :</h5>
          <h6 class="timeMin">{{'login.reactivation.timmer.dias' | translate}}</h6>
        </div>
        <div class="col">
          <h5 class="time">{{SPAN_HOURS}} :</h5>
          <h6 class="timeMin">hrs.</h6>
        </div>
        <div class="col">
          <h5 class="time">{{SPAN_MINUTES}}</h5>
          <h6 class="timeMin">min.</h6>
        </div>
      </div>
      <div>
        <button class="btn btn-green-new btn-block" (click)="redirectoToPlan();">{{'login.reactivation.timmer.btn' |
          translate}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="showExpirationbutton" class="mr-4">
    <button class="badge btn-block badge-pill involve-button btn-continue py-2 px-3 button-reactivate"
      (click)="redirectoToPlan();">
      <span class="">Actualiza tu pago ahora</span>
      <svg id="Componente_55" data-name="Componente 55" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
        viewBox="0 0 22 22">
        <path class="change" id="Trazado_4056" data-name="Trazado 4056"
          d="M92-55.25a11.013,11.013,0,0,0-11,11,11.013,11.013,0,0,0,11,11,11.013,11.013,0,0,0,11-11A11.013,11.013,0,0,0,92-55.25Zm0,20.5a9.511,9.511,0,0,1-9.5-9.5,9.511,9.511,0,0,1,9.5-9.5,9.511,9.511,0,0,1,9.5,9.5A9.511,9.511,0,0,1,92-34.75Z"
          transform="translate(103 -33.25) rotate(180)" fill="#fff" />
        <path class="change" id="Trazado_4057" data-name="Trazado 4057"
          d="M92-46.1a1.063,1.063,0,0,0-1.063,1.064v6.308A1.062,1.062,0,0,0,92-37.667a1.062,1.062,0,0,0,1.063-1.063v-6.308A1.063,1.063,0,0,0,92-46.1Z"
          transform="translate(103 -33.25) rotate(180)" fill="#fff" />
        <circle class="change" id="Elipse_101" data-name="Elipse 101" cx="1.183" cy="1.183" r="1.183"
          transform="translate(12.183 16.519) rotate(180)" fill="#fff" />
      </svg>
    </button>
  </div>



  <ng-container *ngIf="showContentSearch; else searchVacancy">
    <ng-content select="[search]"></ng-content>
  </ng-container>

  <ng-template #searchVacancy>
    <div *ngIf="_suscription.isSubcriptionActive && ocultar!='ocultar'">
      <div class="form-group has-search d-flex justify-content-start align-items-center">
        <span class="fa fa-search form-control-feedback ml-3"></span>
        <input style="font-size: 11px;" #vacantSearchInput type="text" class="form-control" placeholder="Buscar">
      </div>
    </div>

  </ng-template>

  <ng-container *ngIf="showMessages">
    <div class="messages" class="mr-2">
      <img src="assets/img/general/mensajes.svg" alt="">
    </div>
  </ng-container>

  <ng-container *ngIf="showNotification">
    <div class="notification-bell btn-group dropdown-menu-right text-center">
      <div class="icon-notification">
        <img class="mr-sm-2 dropdown-toggle cursor-pointer " id="dropdownMenuButton1"
          src="assets/img/dashboard/vacantes/Notification.svg" (click)="Show_Menu_notification()"
          style="margin-right: 13.5px" alt="" (click)="resetNotofications();" />
      </div>
      <span *ngIf="newNotification" class="badge badge-light numNotifications"
        [ngClass]="{'menu_notification': Show_menu_notification,'not_menu_notification': !Show_menu_notification  }"
        style="display: none;">{{contNotifications}}</span>
      <div *ngIf="arrayNotifications" class="dropdown-menu dropdown-menu-right pb-0 scroll-menu"
        [ngClass]="{'menu_notification': Show_menu_notification,'not_menu_notification': !Show_menu_notification  }"
        style="display: none;">
        <div *ngFor="let notification of arrayNotifications">
          <div class="row">
            <div class="col-md-1">
              <img class="mt-2 photoProfile" src="{{photoProfile}}">
            </div>
            <div class="col-md-9">
              <span class="d-block text-nowrap titiloDowDawn perfil mr-4 ml-4 paddin-left">{{notification.title}}
              </span>
              <span class="d-block text-nowrap subTitulo mr-5 ml-4 paddin-left">{{notification.body}}</span>
            </div>
          </div>
          <div class="dropdown-divider mb-0"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showProfile">
    <div class="profile btn-group dropdown-menu-right text-center">
      <img class="dropdown-toggle text-center photoProfileMin" src="{{photoProfile}}"
        (mouseover)="mouseOverImagenPerfil()" (mouseleave)="mouseLeaveImagenPerfil()" (click)="Show_Menu_User()">
      <div class="dropdown-menu dropdown-menu-right"
        [ngClass]="{'menu_user': Show_menu_user,'not_menu_user': !Show_menu_user  }">
        <div class="row d-flex justify-content-start align-items-center flex-row">
          <div class="image mr-2">
            <img *ngIf="!hideElements  && nameUserSesion != 'null null null' " class="dropdown-toggle photoProfile"
              src="{{photoProfile}}" alt="">
          </div>
          <div class="user-info" *ngIf="!hideElements && nameUserSesion != 'null null null'">
            <h3>{{nameUserSesion}}</h3>
            <p>{{userEmailSesion}}</p>
            <button *ngIf="!isInSuscriptionProcess && !isInResuscriptionProcess" class="btn btn-green-new btn-small" (click)="redirectToConfiguration();">Configuración</button>
          </div>
        </div>
        <div class="links">
          <div *ngIf="!hideElements && nameUserSesion != 'null null null'" class="dropdown-divider"></div>
          <ul>
            <ng-container *ngIf="!hideElements && nameUserSesion != 'null null null'">
              <li>
                <a class="items"><app-modalterms [isModal]="true" [isHeader]="true"></app-modalterms></a>
              </li>
              <li>
                <a class="items"><app-modal-privacy [isModal]="true" [isHeader]="true"></app-modal-privacy></a>
                
              </li>
            </ng-container>
            <li class="version">Versión {{currentVersion}}</li>
            <li>
              <a class="logout" (click)="logout()">
                <img src="assets/img/dashboard/vacantes/cerrarSesion.svg" alt="">
                Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>