<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

        <!-- ACCORDEON -->
    <div class="col col-lg-3 col-sm-12 ">
        <div class="grid__accordion">
            <app-sidebar></app-sidebar>
        </div>
      </div>
  
      <!-- TXT -->
      <div class="col col-lg-7 col-sm-12 fluid__top">
          <div class="forgot-info-container">

            
        <form>
            <div class="main-container personal-information"> 
              <div class="forgot-info-container" >
            
                <!-- TITLE -->
                <div class="personal-information__title">
                    <h1>Y ahora dime ¿cuánto te gustaría ganar al mes?</h1>
                </div>
                  
                <!-- NAME -->
                <div class="forgot-info-form personal-information__title-input">
                    <p>Ingresa la cantidad</p>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        <div class="input-group-append">
                          <span class="input-group-text">MXN</span>
                        </div>
                    </div>
                        <small id="helpBirthday" class="form-text text-muted personal-information__title-input--helperText">
                            Descuida, sabemos que es importante para ti
                        </small>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- BOTON -->
                <div class="buttons-container text-center personal-information__btn d-flex flex-row-reverse">
                    <button class="btn-green" routerLink="../../home" >Enviar</button>
                </div>
                
              </div>
            </div>
        </form>
      
          </div>
      </div>

    </div>
</div>