<div class="row">
  <div class="col">
    <div class="p-5">
      <div class="text-left" style="min-height: 500px;">
        <div class="row">
          <div class="col">
            <h5 class="mb-0">Habilidades técnicas</h5>
            <h5 class="mb-0">(Hard skills)</h5>
          </div>
        </div>
        <div class="section background my-4 py-2 px-3" >
          <div class="level-row header">
            <div class="name">
              <p>Habilidades requeridas por el puesto:</p>
            </div>
            <div class="levels">
              <div class="row">
                <div class="col-3">
                  <p>
                    Básico
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Intermedio
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Avanzado
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Experto
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="level-row py-2 border-bottom" *ngFor="let skill of skills?.hardSkillsVacant">
            <div class="name">
              <p>{{skill.skill.name}}</p>
            </div>
            <div class="levels">
              <div class="level desired" [attr.level]="skill.levelVacant"></div>
              <div class="level candidate" [attr.level]="skill.levelCandidate"></div>
            </div>
          </div>
          <!-- <div class="level-row py-2 border-bottom">
            <div class="name">
              <p>Llenado de dictámenes fiscales de acuerdo al formato SAT vigente</p>
            </div>
            <div class="levels">
              <div class="level desired" level="AVANZADO"></div>
              <div class="level candidate" level="BASICO"></div>
            </div>
          </div>
          <div class="level-row py-2 border-bottom">
            <div class="name">
              <p>Elaboración de conciliación contable fiscal.</p>
            </div>
            <div class="levels">
              <div class="level desired" level="INTERMEDIO"></div>
              <div class="level candidate" level="EXPERTO"></div>
            </div>
          </div> -->
        </div>
        <div class="section my-4 py-2 px-3" >
          <div class="level-row header">
            <div class="name">
              <p>Otras habilidades del candidato:</p>
            </div>
            <div class="levels">
              <div class="row">
                <div class="col-3">
                  <p>
                    Básico
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Intermedio
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Avanzado
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Experto
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="level-row py-2 border-bottom" *ngFor="let skill of skills?.otherSkills">
            <div class="name">
              <p>{{skill.skill.name}}</p>
            </div>
            <div class="meets-level">
              <div class="meets" [attr.meets]="meetsLevel('BASICO', skill.level)">
                <span></span>
              </div>
              <div class="meets" [attr.meets]="meetsLevel('INTERMEDIO', skill.level)">
                <span></span>
              </div>
              <div class="meets" [attr.meets]="meetsLevel('AVANZADO', skill.level)">
                <span></span>
              </div>
              <div class="meets" [attr.meets]="meetsLevel('EXPERTO', skill.level)">
                <span></span>
              </div>
            </div>
          </div>
          <!-- <div class="level-row py-2 border-bottom">
            <div class="name">
              <p>Cálculo de pagos provisionales mensuales de ISR e IVA.</p>
            </div>
            <div class="meets-level">
              <div class="meets" meets="true">
                <span></span>
              </div>
              <div class="meets" meets="true">
                <span></span>
              </div>
              <div class="meets" meets="false">
                <span></span>
              </div>
              <div class="meets" meets="false">
                <span></span>
              </div>
            </div>
          </div>
          <div class="level-row py-2 border-bottom">
            <div class="name">
              <p>Cálculo de pagos provisionales mensuales de ISR e IVA.</p>
            </div>
            <div class="meets-level">
              <div class="meets" meets="true">
                <span></span>
              </div>
              <div class="meets" meets="false">
                <span></span>
              </div>
              <div class="meets" meets="false">
                <span></span>
              </div>
              <div class="meets" meets="false">
                <span></span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="section my-4 py-2 px-3">
          <div class="row">
            <div class="col-3 pl-0">
              <h5 class="mb-0">Cuestionario</h5>
              <h6 class="mb-0">Habilidades técnicas</h6>
            </div>
            <div class="col-9">
              <div class="question-container" *ngFor="let question of skills?.hardSkillQuestionnaire">
                <p class="question">P: {{question.question.question}}</p>
                <p class="answer">R: {{question.openAnswer || question.binaryAnswer}}</p>
                <!-- <div class="required-answer">
                  <img src="" alt="Palomita">
                  <span>Respuesta de preferencia: Sí</span>
                </div> -->
              </div>
              <!-- <div class="question-container">
                <p class="question">P: ¿Has elaborado declaraciones con operaciones a terceros?</p>
                <p class="answer">R: Sí</p>
                <div class="required-answer">
                  <img src="" alt="Palomita">
                  <span>Respuesta de preferencia: Sí</span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="section my-4 py-2 px-3">
          <div class="row">
            <div class="col-3 pl-0">
              <h5 class="mb-0">Habilidades sociales</h5>
              <h5 class="mb-0">(Soft skills)</h5>
            </div>
            <div class="col-9">
              <div class="skills-container">
                <p class="skill" *ngFor="let skill of skills?.softSkillsCandidate">
                  {{skill.skill.name}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section my-4 py-2 px-3">
          <div class="row">
            <div class="col-3 pl-0">
              <h5 class="mb-0">Cuestionario</h5>
              <h6 class="mb-0">Habilidades técnicas</h6>
            </div>
            <div class="col-9">
              <div class="question-container" *ngFor="let question of skills?.softSkillQuestionnaire">
                <p class="question">P: {{question.question.question}}</p>
                <p class="answer">R: {{question.openAnswer || question.binaryAnswer}}</p>
                <!-- <div class="required-answer">
                  <img src="" alt="Palomita">
                  <span>Respuesta de preferencia: Sí</span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>