@import './../../../../../../../../assets/scss/variables';
.section{
  margin-bottom: 2rem;
  .level-row{
    display: flex;
    .name{
      width: 50%;
      p{
        margin-bottom: 0;
      }
    }
    .levels{
      width: 50%;
      p{
        font-size: 13px;
        margin-bottom: 0;
      }
      .level{
        height: 16px;
        &.desired{
          background-color: $F400;
        }
        &.candidate{
          background-color: $P500;
        }
        &[level='BASICO']{
          width: 12.5%;
        }
        &[level='INTERMEDIO']{
          width: 37.5%;
        }
        &[level='AVANZADO']{
          width: 62.5%;
        }
        &[level='EXPERTO']{
          width: 87.5%;
        }
      }
    }
    .meets-level{
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      span{
        width: 16px;
        height: 16px;
        background-color: $F400;
        border-radius: 50%;
        display: block;
      }
      [meets='true']{
        span{
          background-color: $P500;
        }
      }
    }
  }
  .question-container{
    background-color: #FAFAFA;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    .question,
    .answer{
      margin-bottom: 0;
      font-weight: bold;
    }
    .required-answer{
      margin-top: 1rem;
      font-style: italic;
      img{
        width: 18px;
        margin-right: 5px;
      }
    }

  }
  .skills-container{
    padding: 0 10px;
    .skill{
      padding: 4px 12px;
      border-radius: 17px;
      border: solid 1px #000;
      display: inline-block;
      margin-right: 10px;
    }
  }
  &.background{
    background-color: #FAFAFA;
  }
}