<div class="detalle">
  <div class="detalle__header">
      <!-- TABS -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="reclutador-tab" data-toggle="tab" href="#reclutador" role="tab" aria-controls="reclutador" aria-selected="true" (click)="consultaDetalle()">Reclutador</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="cliente-tab" data-toggle="tab" href="#cliente" role="tab" aria-controls="cliente" aria-selected="false" (click)="consultaDetalleCliente();">Cliente</a>
          </li>
      </ul>
      <!-- INPUTS -->
      <!-- Reclutador -->
      <div class="detalle__header--inputs">
          <p>Estadísticas de:</p>
          <div class="form-group">
            <select class="form-control" name="mesConsultaDetalle" id="mesConsultaDetalle">
                <option disabled selected>Seleccione Mes</option>
                <option *ngFor="let item of datosInput" value="{{item.formato}}">{{item.fecha}}</option>
            </select>
          </div>
          <button *ngIf="!mustrabotton" class="btn" (click)="clickAddTodoMesReclu();">Aplicar</button>
          <button *ngIf="mustrabotton" class="btn" (click)="clickAddTodoMesCliente();">Aplicar</button>
      </div>
  </div>
  <div class="container">
      <div class="col-lg-12">
        <div class="tab-content" id="myTabContent">
          <!-- RECLUTADOR -->
          <div class="tab-pane fade show active" id="reclutador" role="tabpanel" aria-labelledby="reclutadore-tab">
              <div class="detalle__reclutador">
                  <div class="detalle__reclutador--mostrar">
                      <!-- <p>Mostrar <b>{{rowsMuestra}} reclutadores</b></p>
                      <img src="../../../../../assets/icons/icon-arrow-down.svg" alt=""> -->
                      <p>
                        Mostrar 
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="consultaDetalle()">
                          <option [ngValue]="10">10 Reclutadores</option>
                          <option [ngValue]="20">20 Reclutadores</option>
                          <option [ngValue]="30">30 Reclutadores</option>
                        </select>
                      </p>
                  </div>
                  <!-- <input type="search" class="form-control ds-input" id="search-input" placeholder="Buscar..."> -->
                  <!-- <input type="search" class="form-control ds-input" id="search-input" placeholder="Buscar..." [formControl]="filter"/> -->
              </div>
              
              <div class="detalle__table">
                <p id="demo"></p>
                    <table id="sortable" class="table table-hover">
                      <thead class="table_header">
                        <tr class="bordes">
                          <th scope="col" sortable="img"></th>
                          <th scope="col" sortable="name" (sort)="onSort($event)">
                            <div class="containerHead">
                              <div class="titleHead">Reclutador</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="VacanteTotal" (sort)="onSort1($event)">
                            <div class="containerHead">
                              <div class="titleHead">Vacantes totales</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="vacanteCerrada" (sort)="onSort2($event)">
                            <div class="containerHead">
                              <div class="titleHead">Vacantes cerradas</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="vacanteCubierta" (sort)="onSort3($event)">
                            <div class="containerHead">
                              <div class="titleHead">Vacantes cubiertas</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="eficiencia" (sort)="onSort4($event)">
                            <div class="containerHead">
                              <div class="titleHead">Eficiencia %</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="diasCobertura" (sort)="onSort5($event)">
                            <div class="containerHead">
                              <div class="titleHead">Días de cobertura</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let country of countriesResultReclu">
                          <td class="subTituloRegular"><img src="{{country.img}}"></td>
                          <td class="subTituloRegular">{{country.name}} <br> {{country.email}} </td>
                          <td class="subTituloRegular">{{country.totales}}</td>
                          <td class="subTituloRegular">{{country.cerradas}}</td>
                          <td class="subTituloRegular">{{country.cubiertas}}</td>
                          <td class="subTituloRegular">{{country.eficiencia}}</td>
                          <td class="subTituloRegular">{{country.diasCobertura}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class="detalle__pagination">
                  <p>Mostrando <b>{{rowsMuestraReclu}}</b> de <b>{{rowsMuestraTotalReclu}}</b> reclutadores</p>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeReclu" [(page)]="pageReclu" [pageSize]="pageSize" (pageChange)="consultaDetalle()">
                      <ng-template ngbPaginationPages let-page let-pages="pages">
                        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                          <div class="form-group d-flex">
                            <label id="paginationInputLabel" for="paginationInput" class="textPag"> Página </label>
                            <input
                              #i
                              type="text"
                              inputmode="numeric"
                              pattern="[0-9]*"
                              class="form-control custom-pages-input inputPag"
                              id="paginationInput"
                              [value]="page"
                              (keyup.enter)="selectPage(i.value)"
                              (blur)="selectPage(i.value)"
                              (input)="formatInput($any($event).target)"
                              aria-labelledby="paginationInputLabel paginationDescription"
                              />
                            <span id="paginationDescription" class="textPag"> de {{pages.length}}</span>
                          </div>
                        </li>
                      </ng-template>
                    </ngb-pagination>
                  </div>
              </div>
          </div>
          
          <!-- CLIENTE -->
          <div class="tab-pane fade" id="cliente" role="tabpanel" aria-labelledby="cliente-tab">
              <div class="detalle__reclutador">
                <div class="detalle__reclutador--mostrar">
                  <p>
                    Mostrar
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="consultaDetalleCliente()">
                      <option [ngValue]="10"><p>10 Clientes</option>
                      <option [ngValue]="20"><p>20 Clientes</option>
                      <option [ngValue]="30"><p>30 Clientes</option>
                    </select>
                  </p>
                </div>
              </div>

              <div class="detalle__table">
                  <table id="sortable" class="table table-hover">
                    <thead class="table_header">
                        <tr class="bordes">
                          <th scope="col" sortable="img"></th>
                          <th scope="col" sortable="name" (sort)="onSortCliente($event)">
                            <div class="containerHead">
                              <div class="titleHead">Clientes</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="VacanteTotal" (sort)="onSort1Cliente($event)">
                            <div class="containerHead">
                              <div class="titleHead">Vacantes totales</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="vacanteCerrada" (sort)="onSort2Cliente($event)">
                            <div class="containerHead">
                              <div class="titleHead">Vacantes cerradas</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="vacanteCubierta" (sort)="onSort3Cliente($event)">
                            <div class="containerHead">
                              <div class="titleHead">Vacantes cubiertas</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="eficiencia" (sort)="onSort4Cliente($event)">
                            <div class="containerHead">
                              <div class="titleHead">Eficiencia %</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/>
                                </div> 
                              </div>
                            </div>
                          </th>
                          <th scope="col" sortable="diasCobertura" (sort)="onSort5Cliente($event)">
                            <div class="containerHead">
                              <div class="titleHead">Días de cobertura</div>
                              <div class="containerImg">
                                <div class="parent">
                                  <img class="image1" src="/assets/icons/up.svg" style="width: 13%;"/>
                                  <img class="image2" src="/assets/icons/down.svg" style="width: 13%;"/> 
                                </div> 
                              </div>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let country of countriesResultCliente">
                          <td class="subTituloRegular"></td>
                          <td class="subTituloRegular">{{country.name}}</td>
                          <td class="subTituloRegular">{{country.totales}}</td>
                          <td class="subTituloRegular">{{country.cerradas}}</td>
                          <td class="subTituloRegular">{{country.cubiertas}}</td>
                          <td class="subTituloRegular">{{country.eficiencia}}</td>
                          <td class="subTituloRegular">{{country.diasCobertura}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>

              <div class="detalle__pagination">
                <p>Mostrando <b>{{rowsMuestraCliente}}</b> de <b>{{rowsMuestraTotalCliente}}</b> clientes</p>
                <div class="d-flex justify-content-between p-2">                  
                  <ngb-pagination   [collectionSize]="collectionSizeCliente" 
                  [(page)]="pageCliente" 
                  [pageSize]="pageSize" 
                  (pageChange)="consultaDetalleCliente()" >
                    <ng-template ngbPaginationPages let-page let-pages="pages">
                      <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                        <div class="form-group d-flex flex-nowrap px-2">
                          <label id="paginationInputLabel" for="paginationInput" class="textPag">Página</label>
                          <input
                            #i
                            type="text"
                            inputmode="numeric"
                            pattern="[0-9]*"
                            class="form-control custom-pages-input inputPag"
                            id="paginationInput"
                            [value]="page"
                            (keyup.enter)="selectPage(i.value)"
                            (blur)="selectPage(i.value)"
                            (input)="formatInput($any($event).target)"
                            aria-labelledby="paginationInputLabel paginationDescription"
                          />
                          <span id="paginationDescription" class="textPag">de {{pages.length}}</span>
                        </div>
                      </li>
                    </ng-template>
                  </ngb-pagination>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>