@import '../../../../../assets/scss/_variables';
p, h2 {
    margin: 0;
}

.detalle {
    background-color: map-get($colors, BGF200);
    height: 100%;
    &__header {
        padding: $MSLG $MSMD 0 $MSMD;
        position: relative;
        background-color: map-get($colors, CTS050);
        &--inputs {
            position: absolute;
            top: $MSMD;
            right: $MSMD;
            display: flex;
            & p {
                margin-top: $MSSM;
            }
            & .form-group {
                width: 350px;
                margin: 0 $MSMD;
            }
            & button {
                width: 150px;
                height: 35px;
                color: map-get($colors, CTS050);
                font-weight: bold;
                background-color: map-get($colors, CPP500);
                border-radius: 50px;
                &:hover {
                    background-color: map-get($colors, CPP800);
                }
            }
        }
    }
    &__reclutador {
        margin: $MSMD 0;
        display: flex;
        justify-content: space-between;
        &--mostrar {
            display: flex;
            & img {
                margin-left: $MSSM;
                margin-top: $MSXSM;
                height: 15px;
                width: 15px;
                transition: 0.4s ease-in-out;
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
        & input {
            width: 250px;
            border-radius: 50px;
        }
    }
    &__table {
        & table {
            border-radius: 8px 8px 0 0;
            background-color: map-get($colors, CTS050);
            & thead {
                background-color: map-get($colors, CTS800);
                & th {
                    font-size: 13px;
                    font-weight: normal;
                    color: map-get($colors, CTS050);
                    text-align: center;
                }
            }
            & td {
                font-size: $FS14;
                font-weight: normal;
                text-align: center;
                vertical-align: inherit;
                padding: 10px;
            }
            & img {
                width: 35px;
                height: 35px;
                border-radius: 50px;
            }
        }

    }
    &__pagination {
        display: flex;
        justify-content: space-between;
        & p {
            font-size: $FS14;
            font-weight: normal;
            color: map-get($colors, CTS400);
        }
        &--inputs {
            display: flex;
            vertical-align: inherit;
            & .btn-secondary {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                background-color: map-get($colors, CTS200);
                border: none;
                transform: rotate(180deg);
                & img {
                    width: 15px;
                    height: 15px;
                    margin-top: -9px;
                    margin-left: -4px;
                }
                &:hover {
                    background-color: map-get($colors, CTS400);
                }
            }
            & p {
                margin: $MSXSM $MSSM 0 $MSSM;
            }
            & input {
                width: 30px;
                height: 30px;
                text-align: center;
            }
            & .btn-primary {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                background-color: map-get($colors, CPP500);
                border: none;
                & img {
                    width: 15px;
                    height: 15px;
                    margin-top: -9px;
                    margin-left: -4px;
                }
                &:hover {
                    background-color: map-get($colors, CPP800);
                }
            }
        }
    }
}


.nav-tabs .nav-link {
    margin-bottom: -2px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: map-get($colors, BGF200);
    border-bottom: none;
    color: map-get($colors, CTS700) !important;
}

.table_header {
    background: #1C1C1B;
    font-family: "Gilroy";
    color: #F6F6F6;
    font-size: 13px;
    font-weight: 600;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.image1 {
    position: relative;
    left: 0px;
}

.image2 {
    position: absolute;
    top: 6px;
    left: 27px;
}

.containerHead{
    overflow: hidden;
    padding-bottom: 10px;
}

.titleHead{
    font-family: 'GilroyRegular';
    float: left;
    padding-top: 12px;
    margin: 0% 0% 0% 0%;
}

.containerImg{
    float:right;
}

.table {
    th,td {
      padding: 0px;
      vertical-align: top;
    }
}

.textPag{
    margin: 5px;
}

.inputPag{
    width: 43px; height: 33px;
}