<div class="main-container row" *ngIf="!inputPassword && !activateAccount">
    <div class="login-image-container col-lg-6">
        <div class="image-container"></div>
    </div>
    <!--Seccion para el correo-->
    <div class="login-info-container col-lg-6">
        <div class="login-info-header text-left mb-5">
            <img src="../../../../assets/logo-involve.svg" alt="">
        </div>
        <div class="login-info-title w-75 pt-1">
            <h1 class="title-page">Nuestro trabajo es que encuentres empleo</h1>
        </div>
        <div class="login-info-form mb-5">
            <h5 class="mb-5 subtitle-page">¡Regístrate ahora!</h5>
            <div class="info-form-input">
                <p class="text-page">Correo electrónico</p>
                <input [(ngModel)]="userEmail" class="form-control" [ngClass]="{'is-invalid': !emailCorrect}"
                    type="email" placeholder="usuario@dominio.com" (input)="emailCorrect = true">
                <div class="mnsgError">
                    {{messageError}}
                </div>
            </div>
        </div>
        <div class="buttons-container row pt-4">
            <button class="btn-primary-tama col-lg-6" (click)="validateMailCandidate()">Siguiente</button>
            <a class="col-lg-6 text-right text-link" routerLink="../login">Iniciar sesión</a>
        </div>
    </div>
</div>

<div class="register-container col-lg-12 justify-content-center" style="margin-top:5%" *ngIf="isSendEmail">
    <app-screen-confirm titulo="Revisa tu email" img="../../../assets/img/login/email-send.svg"
        btn="Volver a enviar el correo"
        msg="Te enviaremos un email para activar tu cuenta, si el correo no aparece pronto, revisa tu carpeta de correo no deseado.">
    </app-screen-confirm>
</div>