.main-container {
  .login-image-container {
    padding: 0;
    min-height: 100vh;
    .image-container {
      width: 100%;
      height: 100%;
      background-image: url("../../../../assets/beautiful-young-smiling-asian-woman-working-at-home@2x.png");
      background-size: cover;
      background-position: center;
    }
  }
  .login-info-container {
    padding: 5% 10%;
    min-height: 100vh;
  }
  .restore-container {
    width: 500px;
    padding: 5%;
    margin: 0 auto;
    .restore-input-container .restore-input-secure {
      width: 50%;
      margin: 6%;
    }
  }
  .restore-confirm-container {
    margin: 0 auto;
    padding: 5%;
  }
}

@media screen and (max-width: 990px) {
  .main-container .login-image-container {
    display: none;
  }
}

.eyeClose {
  background: transparent url("../../../../assets/img/general/visibility_off-24px.svg");
  opacity: 1;
}

.circle-green {
  color: #0bb9b9;
  font-size: 15px;
}

.circle-black {
  color: #565656;
  font-size: 15px;
}

.login-alert {
  color: #fff;
  padding: 16px 24px;
  background-color: #0bb9b9;
  border: 1px solid #f2f2f2;
}

.login-icon {
  margin: 4px 4px 0 0;
}

.pointer {
  cursor: pointer;
}

.mnsgError {
  font-size: 12px;

  color: #e21d1d;
}

.btn-disabled {
  background-color: #dddddc;
  color: #000;
}

.title-page {
  font-size: 36px;
}

.subtitle-page {
  font-size: 22px;
  font-weight: bold;
}

.text-page {
  font-size: 18px;
  font-weight: bold;
}

.text-link {
  color: #0bb9b9;
}
