@import '../../../../../../assets/scss/variables';


.paddingb {
    padding-bottom: 3rem !important;
}

.select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -moz-appearance: none;
  }
  .select:hover{
    border: solid 1px;
    border-color: #2680EB;
  }
  
  .select:focus { outline: none; } 


  .bg-institution {
    background-color: #F3F3F2;
  }

  .iconInfo {
    background: $P500;
    width: 1.4em;
    text-align: center;
    height: 1.4em;
  }
  
  .title{
    font-size: 20px;
    font-weight: 600 !important;
  }

  .bg-add {
    background: $P500;
    color: $P100;
    font-weight: 400 !important;
    padding-left: 2.2rem!important;
    padding-right: 2.2rem!important;
    &:hover {
      background: $P600;
    }
  }

  .border-bottom {
    border-bottom: 0 !important;
    border-radius: 0;
  }

  .border-radius-top {
    border-radius: 0;
  }
h5{
  font-size: 24px;
}

  .asterico {
    color: $P500;
  }
