<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="container-fluid pl-0">
    <div class="card px-5 mt-6 ml-6 mr-6 borde border-bottom">
        <app-step-bar [buttonsSelected]="3"></app-step-bar>
        <form [formGroup]="formularioRequisitos" class="card-body px-0">
            <h5 class="mb-4 col-form-label subtitulosCrearVacante font-weight-bold">¿Qué preparación buscas en tu talento?</h5>
            <div class="row mb-5 mt-4">
                <div class="col-12 col-sm-3 pl-0">
                    <h6>{{'vacantes.crearvacante.paso3.nivelEstudios' | translate }}<span class="asterico">*</span></h6>
                </div>
                <div class="col-12 col-sm-6">
                    <select formControlName="nivelEstudios" class="form-select mdb-select md-form select" id="nivelEstudios">
                        <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                        <option [value]="itemNiveles.educationId" *ngFor="let itemNiveles of nivelesEstudio">{{itemNiveles.name}}</option>
                    </select>
                    <small
                        *ngIf="formularioRequisitos.controls.nivelEstudios.errors && formularioRequisitos.controls.nivelEstudios.touched"
                        class="text-danger">
                        {{'commons.requerido' | translate}}</small>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="custom-control custom-checkbox d-flex justify-content-start align-items-center">
                        <input type="checkbox" formControlName="checkNivelEstudios"  class="custom-control-input"
                        id="checkNivelEstudios">
                        <label class="custom-control-label subTituloCard etiquetaCard"
                        for="checkNivelEstudios">{{'commons.excluyente' | translate}}</label>
                        <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer" appShowTooltip>
                        <div tooltip class="source">
                            <p>Son requisitos o cualidades que sí o sí debe tener tu talento. Mientras más excluyentes pongas, más reducido y certero será el universo de candidatos.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-sm-3 pl-0">
                    <h6>{{'vacantes.crearvacante.paso3.estatusAcademico' | translate}}<span class="asterico">*</span></h6>
                </div>
                <div class="col-12 col-sm-6">
                    <select formControlName="estatusAcademico" class="form-select mdb-select md-form select"
                    id="estatusAcademico">
                    <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                    <ng-container *ngFor="let itemEstatus of estatusAcademico">
                        <option *ngIf="itemEstatus.show" [value]="itemEstatus.idStatus" >{{itemEstatus.name}}</option>
                    </ng-container>
                    </select>
                    <small
                    *ngIf="formularioRequisitos.controls.estatusAcademico.errors && formularioRequisitos.controls.estatusAcademico.touched"
                    class="text-danger">
                    {{'commons.requerido' | translate}}</small>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="custom-control custom-checkbox d-flex justify-content-start align-items-center">
                        <input type="checkbox" formControlName="checkEstatusAcademico"  class="custom-control-input"
                        id="checkEstatusAcademico">
                        <label class="custom-control-label subTituloCard etiquetaCard"
                        for="checkEstatusAcademico">{{'commons.excluyente' | translate}}</label>
                        <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer" appShowTooltip>
                        <div tooltip class="source">
                            <p>Son requisitos o cualidades que sí o sí debe tener tu talento. Mientras más excluyentes pongas, más reducido y certero será el universo de candidatos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showLevel" class="row mb-5">
                <div class="col-12 col-sm-3 pl-0">
                    <h6>{{'vacantes.crearvacante.paso3.tituloCarrera' | translate}}</h6>
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control" formControlName="carrera">
                </div>
                <div class="col-12 col-sm-3">
                </div>
            </div>
            <div *ngIf="showLevel" class="row mb-5">
                <div class="col-12 col-sm-3 pl-0">
                    <h6>{{'vacantes.crearvacante.paso3.institucion' | translate}}</h6>
                </div>
                <div class="col-12 col-sm-6">
                    <!-- <input type="text" class="form-control" formControlName="institucion"> -->
                    <input id="typeahead-http" type="text" formControlName="institucion" class="form-control mb-4"
                    [ngbTypeahead]="search" 
                    [inputFormatter]="inputFormatter"
                    [resultFormatter]="resultFormatter"
                    (keyup)="addIstitucion($event);"
                    />
                    <small *ngIf="formularioRequisitos.controls.institucion.errors && formularioRequisitos.controls.institucion.touched" class="text-danger">{{'commons.requerido' | translate}}</small>
                    <div *ngFor="let institution of arrayInstitution; let indice=index" class="badge rounded-pill mt-2 d-flex justify-content-between align-items-center px-3 border">
                        <h6 class="m-0 py-2">{{institution.name || institution.institutionOther.name}}</h6>
                        <img  src="/assets/img/dashboard/Clientes/basura.svg" alt="..." class="cursor-pointer" (click)="deleteItemArray(arrayInstitution,indice);">
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                </div>
            </div>
        </form>
    </div>
    <div class="card px-5 card-body border-bottom border-radius-top paddingb">
        <div class="container px-0">
            <h5 class="mb-5 col-form-label subtitulosCrearVacante font-weight-bold">{{'vacantes.crearvacante.paso3.experienciaLaboral' | translate}}</h5>
            <div class="row d-flex">
                <div class="col-md-9 flex-grow-1">
                    <h1 class="title mb-3">
                        Áreas y especialidades
                        <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer" appShowTooltip>
                        <div tooltip class="source">
                            <p>Son requisitos o cualidades que sí o sí debe tener tu talento. Mientras más excluyentes pongas, más reducido y certero será el universo de candidatos.</p>
                        </div>
                    </h1>
                    <h6 class="flex-grow-1 mb-0">{{'vacantes.crearvacante.paso3.talentExpert' | translate}}</h6>
                    <div class="text-danger" *ngIf="isStepSubmitted && arrayEspeciality.length == 0">{{'commons.requerido' | translate}}</div>
                </div>
                <div class="d-flex col col-md-3 align-items-end">
                    <span class="badge rounded-pill bg-add  py-2 mt-3 mt-sm-3 mt-md-0 cursor-pointer" (click)="showImgExp=false; openModalAreas();">Añadir</span>
                </div>
            </div>
        </div>
            <app-questions #areas *ngIf="!showImgExp" [radiosArray]="radiosArray" [title]="titleExpLa" [subTitle]="subtTitle" [template]="'areas'" (radios)="getExpLab($event);" [displayErrorMessage]="isStepSubmitted && arrayEspeciality.length != 0"></app-questions> 
    </div>
    <div class="card px-5 card-body border-bottom paddingb">
            <app-questions #hardSkill [radiosArray]="radiosArrayAbility" [title]="titleHabTec" [subTitle]="subtHabTec" [template]="'hardSkill'" (radios)="getHardSkill($event);" [displayErrorMessage]="isStepSubmitted && arrayHardSkill.length == 0" placeholder="Ejemplo: Excel" ></app-questions>
    </div>
    <div class="card px-5 card-body border-bottom paddingb">
            <app-soft-skills #softSkill [title] ="titleSoftSkills" [subTitle]="subtitleSoftSkills" (radios)="getSoftSkill($event);" [displayErrorMessage]="isStepSubmitted && arraySoftSkill.length == 0" placeholder="Ejemplo: Trabajo en equipo" ></app-soft-skills>
    </div>
    <div class="card px-5 card-body border-bottom paddingb">
            <app-questions #idioms [radiosArray]="radiosArrayIdiom" [title]="titleIdiomas" [subTitle]="subtitleIdiomas" [template]="'idiomas'" (radios)="getIdioms($event)" placeholder="Seleccionar" ></app-questions> 
    </div>
    <div class="card border-radius-top text-right">
        <div class=" text-rigth card-body" style="height: 4em;">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row navigation-footer-container">
                        <div  class="col-sm-6 text-left"> 
                            <button class="btn-prev" (click)="prevStep();">Anterior</button>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a class="mr-3 guardarBorrador" (click)="valiateFiels(true);" >Guardar como borrador</a>
                            <button class="btn-next" (click)="valiateFiels();">Siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>