<ng-container>
  <app-side-nav-register></app-side-nav-register>
  <div class="container py-5">
    <h5 class="col title pb-4">{{'login.step5.yourPlan' | translate}}</h5>
    <p class="col">{{'login.step5.cancel' | translate}}</p>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <h5 *ngIf="!reactivation && summary.descuento > 0" class="subtitle pb-2">{{'login.step5.summary' | translate}}</h5>
          <h5 *ngIf="reactivation || summary.descuento == 0" class="subtitle pb-2">{{'login.step5.totalCost' | translate}}</h5>
          <div class="card boxSashadow">
            <div class="card-body">
              <app-summary-of-your-order [isRenovation]="reactivation"></app-summary-of-your-order>
            </div>
          </div>
          <br>
          <!--<h5 class="subtitle pb-2">{{'login.step5.target' | translate}}</h5> -->
          
          <div *ngIf="initialView" class="card boxSashadow mb-4">
            <div class="card-body">
              <app-set-up-payment [cols]="12"></app-set-up-payment>
            </div>
          </div>
          <div *ngIf="!initialView">
            <div class="row d-flex justify-content-center mb-2">
              <div class="col-md-7">
                <h6 class="subtitle">{{'configuration.subscription.forma' | translate}}</h6>
              </div>
              <div class="col-md-5 text-right">
                <a class="cursor-pointer" (click)="openModal('addNewCard')">{{'configuration.subscription.addCard' | translate}}</a>
              </div>
            </div>
            <div>
              <div class="credit-card-item mb-2 custom-check-container" *ngFor="let card of userCreditCardsArray" [class.current]="card.isCurrent">
                <p class="card-container flex-grow-1 d-flex justify-content-center align-items-center cursor-pointer" (click)="setCurrentCard(card)" >
                  <input type="radio" name="selected-card" [checked]="card.isCurrent">
                  <span class="radio-button"></span>
                  <img *ngIf="card.type == 'visa'" src="/assets/img/dashboard/visa.svg" alt="" class="ml-2">
                  <img *ngIf="card.type == 'carnet'" src="/assets/img/dashboard/carnet.svg" alt="" class="ml-2">
                  <img *ngIf="card.type == 'american_express'" src="/assets/img/dashboard/amex.svg" alt="" class="ml-2">
                  <img *ngIf="card.type == 'mastercard'" src="/assets/img/dashboard/master-card.svg" alt="" class="ml-2">
                  <span class="card-number ml-3">**** - **** - **** - {{card.ends}}</span>
                </p>
                <img class="p-2 delete-card cursor-pointer" (click)="openModal('deleteCardConfirmation', {'cardId': card.id})" src="/assets/img/general/x.svg" alt="">
              </div>
              <div *ngIf="userCreditCardsArray.length == 0">
                <div class="my-3 text-center">
                  <img src="./../../../../assets/img/general/credit-card.svg" alt="" class="mb-2">
                  <p class="card-container-text">No tienes tarjetas agregadas.</p>
                </div>
              </div>

              <div class="col text-center p-0 btn_bold">
                <button *ngIf="!initialView && !reactivation && userCreditCardsArray.length > 0" class="badge badge-pill involve-button  btn-continue mt-3 w-100" (click)="openModal('confirmPassWord', {'cardId': ''})">{{'login.step5.reactivation' | translate}}</button>
                <button *ngIf="!initialView && reactivation && userCreditCardsArray.length > 0" class="badge badge-pill involve-button  btn-continue mt-3 w-100" (click)="openModal('confirmCvv');">{{'login.step5.pay' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 pl-0 pl-sm-0 pl-md-0 pl-lg-5">
          <div class="pl-3 pl-sm-0 pl-md-0 pl-lg-4" style="line-height: 36px;">
            <h5 class="subtitle" *ngIf="!reactivation">{{'login.step5.text0' | translate}}</h5>
            <div class="row py-4" *ngIf="!reactivation">
              <img class="mr-3" src="assets/img/login/icon-date.svg" alt="">
              <h6 class="m-0 semiBold">{{'login.step5.text2' | translate}} {{now}}</h6>
            </div>
              <h5 class="subtitle">{{'login.step5.text5' | translate}}</h5>
              <div *ngIf="initialView" class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBoldGreen">{{'login.step5.30dias' | translate}}</p>
                </div>
              <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.text6' | translate}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.text7' | translate}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.text8' | translate}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.text9' | translate}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.text10' | translate}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.planIncludes7' | translate}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-1">
                  <img src="assets/img/login/check.svg" alt="">
                  <p class="mb-0 ml-3 semiBold">{{'login.step5.planIncludes8' | translate}}</p>
                </div>
  
                <!-- <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                      <p *ngIf="initialView" class="m-0">{{'login.step5.periodo' | translate}}</p>
                      <p *ngIf="!initialView" class="m-0">{{'login.step5.periodoFin' | translate}}</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 semiBold">
                      {{now}}
                    </div>
                </div> -->
                <!-- <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 ">
                    <p *ngIf="initialView" class="m-0">{{'login.step5.fechaFacturacion' | translate}}</p>
                    <p *ngIf="!initialView" class="m-0">{{'login.step5.fechaproximaFacturacion' | translate}}</p>
                  </div>
                  <div  class="col-12 col-sm-12 col-md-5 semiBold">
                      {{dateBilling}}
                  </div>
              </div> -->
          </div>
      </div>
    </div>
    </div>  
</ng-container>

<ng-template #confirmPassWord>
  <div class="px-5 pb-5 pt-3">
    <h2 class="text-center titleModal pb-3">{{'login.step5.confirm' | translate}}</h2>
    <div  class="info-form-input">
      <form [formGroup]="formEmail" id="formEmail">
      <div  class="info-form-input">
        <div class="input-text-container row">
            <!-- <p class="col-sm-4 p-0">Contraseña</p> -->
            <div class="col">
              <label for="colFormLabel" class="ol-form-label textoEtiquetas">{{'commons.password' | translate}}</label>
            </div>
            <div (click)="showPassword = !showPassword" class="input-text-favicon col-6 text-right p-0" style="cursor: pointer;">
                <div *ngIf="showPassword">
                    <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                    <p class="d-inline-block ml-2 mr-3 info-form-button">Ocultar</p>
                </div>
                <div *ngIf="!showPassword">
                    <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                    <p class="d-inline-block ml-2 mr-3 info-form-button">Mostrar</p>
                </div>
            </div>
        </div>
    </div>
      <div class="row mb-3 mb-4 ml">
        <div class="col">
          <input  [type]="showPassword ? 'text'  : 'password'" formControlName="passwordEmail" class="form-control efectosInput" id="passwordEmail" name="passwordEmail" autocomplete="off"
            [ngClass]="(formEmail.controls.passwordEmail.errors && formEmail.controls.passwordEmail.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formEmail.controls.passwordEmail.errors && formEmail.controls.passwordEmail.touched" class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
        </div>
      </div>
      <div class="col text-center p-0">
        <button class="badge badge-pill involve-button mt-2 w-100 btn-continue" [disabled]="formEmail.invalid" (click)="changePlan()">{{'commons.continuar' | translate}}</button>
      </div>
    </form>
  </div>
  </div>
</ng-template>

<ng-template #newCardRejected>
  <div>
    <div class="modal-header d-flex align-items-center">
      <h5 class="modal-title" class="text-center flex-grow-1">{{'configuration.subscription.fullMemory' | translate}}</h5>
      <img class="cursor-pointer p-2" src="assets/img/general/x.svg" (click)="onCloseModal();" alt="">
    </div>
    <span></span>
    <div class="row py-2 delete_card--btn">
      <div class="col-12">
        <p class="text-center mb-5">{{'configuration.subscription.fullMemoryDescription' | translate}}</p>
      </div>
      <div class="col-12 text-center">
        <button (click)="onCloseModal();" class="badge badge-pill involve-button secundary py-2 mb-1">{{'configuration.subscription.fullMemoryButton' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteCardConfirmation>
  <div class="p-3">
    <h2 class="text-center">{{'configuration.subscription.confirmDeleteCardText' | translate}}</h2>
    <div class="row py-5">
      <div class="col text-center">
        <button class="badge badge-pill involve-button cancel py-2 px-5 mb-1" (click)="onDeleteCardConfirmation()">{{'commons.eliminar' | translate}}</button>
      </div>
      <div class="col text-center">
        <button class="badge badge-pill involve-button secundary py-2 px-5 mb-1" (click)="onCloseModal()">{{'commons.cancelar' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmCvv>
  <div class="pb-3">
    <div class="modal-header d-flex justify-content-center">
      <h4 class="text-center flex-grow-1">Confirma tu código de seguridad</h4>
      <div class="close cursor-pointer" (click)="onCloseModal()">
        <img class="cursor-pointer mx-auto" src="/assets/img/general/x.svg">
      </div>
    </div>
    <div class="modal-body">
      <div  class="info-form-input">
        <form [formGroup]="updatedCvv" (ngSubmit)="onConfirmCvvCode()">
          <div  class="info-form-input">
            <div class="input-text-container row justify-content-center align-items-center my-5">
                <div class="col-6">
                  <label for="colFormLabel" class="ol-form-label textoEtiquetas">Código de seguridad
                    <img src="assets/img/login/openPay/tooltip-cvc.svg" class="pl-2 cursor-pointer" alt="" tooltipClass="my-custom-class" placement="right" [ngbTooltip]="tipContent">
                  </label>
                </div>
                <div class="col-5">
                  <input type="number" formControlName="cvv" maxlength="4" class="form-control" [class.is-invalid]="updatedCvv.get('cvv')?.touched && updatedCvv.get('cvv')?.errors?.required">
                </div>
            </div>
            <div class="col-10 offset-1 text-center p-0">
              <button class="badge badge-pill involve-button mt-2 w-100 btn-continue">{{'commons.continuar' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #tipContent>
  <div class="card py-3 px-3">
    <img src='/assets/img/login/openPay/visa.png' />
    <br>
    <img src='/assets/img/login/openPay/american.png' />
  </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

