@import './../../../../assets/scss/variables';

.boxSashadow {
  box-shadow: 6px 6px 12px 0px #00000029;
}

.title {
  font-size: 32px;
  font-weight: 700 !important;
}

.subtitle {
  font-size: 20px;
  font-weight: 700 !important;
}

.semiBold {
  font-weight: 600 !important;
  color: $S700;
}

.semiBoldGreen {
  font-weight: 600 !important;
  color: $P500;
}

.credit-card-item{
  align-items: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 2.2rem 1rem;
  .card-number{
    flex-grow: 1;
  }
  .delete-card{
    opacity: 0;
    transition: all .5;
  }
  &.current{
    background-color: #F2F2F2;
    box-shadow: none;
  }
  &:hover{
    .delete-card{
      opacity: 1;
    }
  }
}

.custom-check-container{
  input[type='radio']{
    display: none;
    &+span.radio-button{
      aspect-ratio: 1;
      background-color: #FFFFFF;
      border-radius: 50%;
      border: solid 2px #ABABAB;
      display: inline-block;
      flex: none;
      position: relative;
      width: 20px;
      &:after{
        background-color: $P500;
        border-radius: 50%;
        left: 2px;
        position: absolute;
        top: 2px;
        width: 12px;
        aspect-ratio: 1;
      }
    }
    &:checked{
      &+span.radio-button{
        &:after{
          content: '';
        }
      }
    }
  }
}

.titleModal {
  font-size: 24px;
}

.btn-continue {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn_bold button {
  font-weight: bold;
}