.contenedor {
    background: var(--f100) 0% 0% no-repeat padding-box;
    background: #fafafa 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 80%;
}

.contenedor2 {
    background: #fafafa;
    opacity: 1;
}

.tamContenedor {
    height: 40em;
}
html,
body {
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #daecec;
    display: grid;
    place-items: center;
}

.ocultar {
    display: none;
}

.mostrar {
    display: "";
}
.card {
    background-color: #ffffff;
    border-radius: 5px;
}

p {
    color: #b7b1b1;
    font-weight: 500;
}

.discBtn {
    background-color: #21afa7;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
}

.fa-balance-scale {
    color: #968888;
}

.fa-arrows {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.buyOver:hover {
    background-color: #565656;
    color: #ffffff;
}
.buyAzul {
    background-color: #0bb9b9;
    color: #ffffff;
}
.buyAzul:hover {
    background: #088d8d;
    color: #ffffff;
}

.cart {
    background-color: #2bc4ba;
    border-radius: 30px;
    position: relative;
    right: 35px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

*:focus {
    outline: none;
}

.btn-circle {
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    padding: 0% 0% 0% 0%;
    /* font-size: 12px; */
    line-height: 1.428571429;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: auto;
}

.tituloCandidato {
    font-size: 16px;

    color: #000000;
    font-weight: 400;
}

.tituloPuesto {
    font-size: 14px;

    color: #766a6a;
}

.black {
    background: #000000;
    color: #ffffff;
}

.azul {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    &:hover {
        background: #0bb9b9;
        color: #ffffff;
        border-color: #088b8b;
        .textoModal {
            color: #ffffff;
        }
        .campana {
            content: url("../../../../../../assets/img/dashboard/vacantes/campanaSonandoHover.svg");
        }
    }
}

.btnRed {
    background: #e31c1c;
    color: #ffffff;
}

.subtituloGris {
    color: #766a6a;
    font-size: 14px;
}

.subtituloNegro {
    color: #1c1c1b;
    font-size: 14px;
}

.textoBotones {
    color: #212121;
    font-size: 12px;
}

.margenRechazar {
    border-top: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}

.margenRechazar:hover {
    background-color: #e31c1c;
    border-color: #e31c1c;
    cursor: pointer;
}

.margenRechazar:hover .textoBotones {
    color: #ffffff;
    cursor: pointer;
}

.margenAprobar {
    border-top: solid 1px #e1e1e1;
}

.margenAprobar:hover {
    background-color: #088d8d;
    cursor: pointer;
}

.margenAprobar:hover .textoBotones {
    color: #ffffff;
    cursor: pointer;
}

.tituloModal {
    font-size: 23px;

    color: #000000;
    font-weight: 700;
}

.textoModal {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}

.iconoLike {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/likeNegro.svg");
    margin-right: 0.5em;
    display: inline-block;
    height: 1.6em;
    width: 1.5em;
}

.margenAprobar:hover .iconoLike {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/likeBlanco.svg");
}

.iconoX {
    background-image: url("../../../../../../assets/img/general/xNegrita.svg");
    margin-right: 0.5em;
    display: inline-block;
    height: 0.9em;
    width: 0.9em;
}

.margenRechazar:hover .iconoX {
    background-image: url("../../../../../../assets/img/general/xBlanca.svg");
}

.iconoShared {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/shared.svg");
    display: inline-block;
    height: 0.8em;
    width: 01em;
    cursor: pointer;
}

.iconoReloj {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/relojSonando.svg");
    display: inline-block;
    height: 1.05em;
    width: 01em;
    cursor: pointer;
}

.iconoCorazon {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/corazonStroke.svg");
    display: inline-block;
    height: 1.1em;
    width: 1.25em;
    cursor: pointer;
    transform: scale(0.91);
}

.iconoCorazon:hover {
    background-image: url("/assets/img/dashboard/vacantes/corazonStrokeAzul.svg");
}

.iconoCorazonSelec {
    background-image: url("/assets/img/dashboard/vacantes/corazonStrokeAzul.svg");
}

::ng-deep .toast {
    max-width: 100%;
}

/*Para modal buscar*/
.main {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 3%;
    margin-bottom: 10%;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    // width: 2.375rem;
    //height: 2.375rem;
    height: 21%;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-bottom: 0;
}

.has-search {
    margin-bottom: 0;
}

.btnDisable {
    background: #eaeaea;
    color: #979797;
}

.btnActive {
    background: #0bb9b9;
    color: #ffffff;
}

.estilosImagenX {
    position: absolute;
    z-index: 3;
    display: block;
    /* height: 21%; */
    line-height: 1.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-bottom: 0;
    margin-left: 63%;
    top: 38%;
}

.cerrar {
    box-sizing: border-box;
    padding-right: 9%;
    padding-top: 4%;
}
/*Fin modal buscar*/

.subtitulo16 {
    font-size: 16px;

    color: #000000;
    font-weight: 600;
}

.subtitulo16Azul {
    font-size: 16px;

    color: #0bb9b9;
    font-weight: 400;
}

.cuadrado {
    width: 6em;
    height: 6em;
}

.verde {
    background: #24a93d;
}

.naranja {
    background: #f3752b;
    border-color: #f3752b;
}

.rojo {
    background: #e23636;
    border-color: #e23636;
}

/*Para los paginadores*/
::ng-deep .page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 0.4rem;
}

::ng-deep .page-item:last-child .page-link {
    margin-left: 0;
    border-radius: 0.4rem;
}

::ng-deep .page-item.disabled .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 0.8;
    color: #ffff !important;
    background-color: #a8a8a8;
    border: 1px solid #dee2e6;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

::ng-deep .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 0.8;
    color: #ffff !important;
    background-color: #0dd1d1;
    border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
    background-color: #088d8d;
}

::ng-deep .page-link:focus {
    box-shadow: none;
}

.input-sm {
    width: 2.25rem;
    border-radius: 0.4rem;
    height: calc(1.5em + 0.5rem + 2px);
    text-align: center;
}
.textoPaginadorMedium {
    font-size: 14px;
    color: #565656;
    font-weight: 400;
    opacity: 0.8;
}

.textoPaginadorRegular {
    font-size: 16px;
    color: #565656;
}
/*-----------------------------------------*/

.selectFiltros {
    background: transparent;
    border: 0;
    font-weight: 600;
}
.selectFiltros:focus {
    outline: none;
}

.photo {
    width: 5.438em;
    border-radius: 50%;
    height: 5.438em;
}

::ng-deep .buscarVacantes {
    width: 68%;
    max-height: 90%;
    overflow: auto;
}

@media screen and (min-width: 990px) {
    ::ng-deep .modal-lg,
    .modal-xl {
        max-width: 42%;
    }
}
