<div class="main-nav container-fluid">
  <nav class="row d-flex justify-content-between " *ngIf="mainNavData">
    <div class="p-0 main-nav-return justify-content-start align-items-center">
      <img *ngIf="mainNavData.logo" src="assets/logo-involve.svg" width="50" alt="Involve">
      <img *ngIf="mainNavData.iconBack" class="main-nav-return-back" (click)="goBack()"
        src="assets/img/general/back-icon.svg" alt="" />
      <img *ngIf="mainNavData.image && mainNavData.image !== 'backVacancy'" class="main-nav-return-heart" (click)="onClick($event)"
        [ngClass]="mainNavData.imageClass" [src]="mainNavData.image" [alt]="mainNavData.title" />
      <svg *ngIf="mainNavData.image && mainNavData.image === 'backVacancy'" class="back-vacancy-button mr-2 cursor-pointer"  (click)="onClick($event)"
        id="Componente_69_28" data-name="Componente 69 – 28" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
        <g id="Elipse_85" class="circle" data-name="Elipse 85" fill="#0bb9b9" stroke="#0bb9b9" stroke-width="1">
          <circle cx="9.5" cy="9.5" r="9.5" stroke="none"/>
          <circle cx="9.5" cy="9.5" r="9" fill="none"/>
        </g>
        <path id="Trazado_3977" class="arrow" data-name="Trazado 3977" d="M53.951,67.583a.463.463,0,0,0,.705,0,.6.6,0,0,0,0-.788l-1.917-2.14H58.29a.56.56,0,0,0,0-1.114H52.739l1.917-2.14a.6.6,0,0,0,0-.788.463.463,0,0,0-.705,0L51.182,63.7a.6.6,0,0,0,0,.788Z" transform="translate(-45.412 -54.416)" fill="#fff"/>
      </svg>
        
        <div class="titles">
        <p *ngIf="mainNavData.title" class="m-0 p-0 main-nav-return-title">
          <strong>{{mainNavData.title}}</strong>
        </p>
        <p *ngIf="mainNavData.subtitle" class="m-0 p-0">{{mainNavData.subtitle}}</p>
      </div>
      <div class="badgeAlert">
        <ng-content *ngIf="mainNavData.badgeAlert" select="[badgeAlert]"></ng-content>
      </div>
    </div>

    <div class="p-0 main-nav-menu">
      <div *ngIf="_suscription.isSubcriptionActive && mainNavData.link"
        class="menu d-flex align-items-center cursor-pointer mr-4">
        <img src="assets/img/dashboard/TalentNetwork/heart.svg" alt="">
        <h6 class="titleClient mb-0 ml-2 font-weight-bold" (click)="goTo()">
          {{mainNavData.linkTitle}}</h6>
      </div>
      <div class="search">
        <ng-content *ngIf="mainNavData.search" select="[search]"></ng-content>
      </div>
      <div class="extra-content">
        <ng-content *ngIf="mainNavData.extra" select="[extra]"></ng-content>
      </div>
      <div class="options">
        <ng-content select="[optionsMain]"></ng-content>
      </div>
      <div class="notifications">
        <app-notifications-and-photo></app-notifications-and-photo>
      </div>
    </div>
  </nav>
  <ng-content select="[filters]"></ng-content>
</div>