@import "./src/assets/scss/main.scss";

.main-nav {
  flex-wrap: wrap;
  border-bottom: 1px solid $S100;
  padding: 16px 40px;

  &-return {
    display: flex;
    &-back {
      margin-right: 11px;
      cursor: pointer;
    }
    &-heart {
      width: 19px;
      margin-right: 8px;
    }
    &-title {
      font-size: 22px;
      color: $S700;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
  }
}

.back-vacancy-button{
  .circle{
    stroke: rgb(11, 185, 185);
    fill: #FFFFFF;
  }
  .arrow{
    fill: rgb(11, 185, 185);
  }
  &:hover{
    .circle{
      stroke: rgb(11, 185, 185);
      fill: rgb(11, 185, 185);
    }
    .arrow{
      fill: #FFFFFF;
    }
  }
}