<ul class="list-unstyled components">
  <li class="mb-5 mt-3">
    <h3 class="textoSelecionado" data-toggle="collapse" aria-expanded="false">
      <img src="../../../../assets/img/dashboardCnadidato/document.svg" alt=""><span class="ml-3">Editar CV</span>
    </h3>

  </li>
  <li class="mb-5">
    <h3 class="texto">
      <img src="../../../../assets/img/dashboardCnadidato/seguridad.svg" alt="">
      <br style="display: none;"> <span class="ml-3 ">Seguridad e inicio de sesión</span>
    </h3>
  </li>
  <li class="mb-5">
    <h3 data-toggle="collapse" aria-expanded="false" class="texto">
      <img src="../../../../assets/img/dashboardCnadidato/notificaciones.svg" alt="">
      <span class="ml-3 ">Administrar notificaciones</span>
    </h3>
  </li>
  <li class="mb-5">
    <h3 class="texto">
      <img src="../../../../assets/img/dashboardCnadidato/terminos.svg" alt="">
      <span class="ml-3 ">Términos y condiciones</span>
    </h3>
  </li>
  <li>
    <h3 class="texto">
      <img src="../../../../assets/img/dashboardCnadidato/cerrarSesion.svg" alt="">
      <span class="ml-3 ">Cerrar sesión</span>
    </h3>
  </li>

</ul>