#sobre {
  vertical-align: initial;
  margin-right: 0.5%;
}

.texto {
  text-align: left;

  font-size: 16px;
  letter-spacing: 0px;
  color: #565656;
  margin-left: 12%;
  font-weight: 500;
}

.textoSelecionado {
  text-align: left;

  font-size: 16px;
  letter-spacing: 0px;
  color: #565656;
  margin-left: 12%;
  font-weight: 700;
}

.titulos {
  font-size: 14px;
  text-align: left;

  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
}

.height {
  height: 50%;
}

.badgeNoSelect {
  border: solid 1px;
  border-color: #857171;
  background: #9b9b9b;
  color: #fff;
}

.badgeInitial {
  background: #fff;
  border: solid 1px;
  border-color: #cfcfcf;
  color: #565656;
}

.badgeSelect {
  background: #24aa3d;
  border: solid 1px;
  border-color: #24aa3d;
  color: #fff;
}
.bordeInferior {
  border-bottom: solid 1px;
  border-color: #cfcfcf;
}

nav ul li {
  list-style: none;
  display: inline;

  padding: 10px 0px 0px 10px;

  margin-left: 5px;
  transition: border-bottom 80ms;
}
.selected,
nav ul li {
  border-bottom: 3px solid;
  padding-bottom: 6px;
  border-color: #fff;
}
nav ul li:hover {
  border-bottom: 3px solid;
  padding-bottom: 6px;
  border-color: #565656;
}

.lista {
  border-bottom: 2px solid;
  padding-bottom: 6px;
  border-color: #565656;
}

.select {
  border-color: #24aa3d;
}
.selectenpausa {
  border-color: #24aa3d;
}

.perfil {
  font-size: 12px;
}

.titiloDowDawn {
  font-weight: bold;
  font-size: 14px;
  color: #565656;
}

.subTitulo {
  color: #565656;

  font-size: 12px;
}
.underline:hover {
  text-decoration: underline;
  cursor: default;
}

.botonConfiguracion {
  color: #f2f2f2;
  cursor: pointer;

  font-size: 14px;
}

.label {
  margin-bottom: 0;
}

.paddin-left {
  padding-left: 3.5%;
  cursor: default;
}
.color {
  color: #24aa3d;
}

.margin-bottom {
  border-bottom: solid 1px;
  padding-bottom: 0;
  border-color: #cfcfcf;
}
