<div class="container">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12">
      <div class="bkng-tb-cntnt">
        <div class="pymnts">
          <div class="error-notification"[ngClass]="{'highlighted': glowsErrorNotification, 'd-none': !displaysErrorNotification}">
            <p id="textToast" *ngIf="cardFailedAttempts < 3"></p>
            <p id="textToast" *ngIf="cardFailedAttempts >= 3">
              <span class="font-weight-bold"> ¿Te ayudamos con algo? </span>
              <span>Puedes enviarnos un correo a <a href="mailto:contacto@involverh.mx?subject=Ayuda al ingresar mi tarjeta&body=¡Hola! Necesito ayuda para ingresar mi tarjeta.">contacto@involverh.mx</a></span>
            </p>
            <img *ngIf="cardFailedAttempts < 3" src="assets/img/general/xBlanca.svg" alt="" class="cursor-pointer" (click)="displaysErrorNotification = false">
          </div>
          <form action="{{url}}" target="_parent"
            method="POST" id="payment-form">
            <input type="hidden" name="token_id" id="token_id">
            <input type="hidden" name="planId" id="planId">
            <input type="hidden" name="clientId" id="clientId">
            <input type="hidden" name="url" value="standby-screen/false">
            <!-- <input type="hidden" name="deviceSessionId" id="deviceSessionId"> -->
            <div class="pymnt-itm">
              <h2 class="d-none">Tarjeta de crédito o débito</h2>
              <input type="text" id="numColumns" class="inputHide">
              <button id="btn_next" class="inputHide" (click)="onBtnNextclick()">click</button>
              <button id="btn_next_company" class="inputHide"  routerLink="/standby-screen/false"></button>
              <button id="btn_closeModal" class="inputHide" (click)="closeModal()">click</button>
              <div class="pymnt-cntnt">
                <div class="card-expl">
                  <div class="credit d-none">
                    <h4>Tarjetas de crédito</h4>
                  </div>
                  <div class="debit d-none">
                    <h4>Tarjetas de débito</h4>
                  </div>
                </div>
                <div class="row pb-3">
                  <div class="col-12 col-sm-12 col-md-4 p-0">
                    <small>Tarjetas aceptadas:</small>
                  </div>
                  <div class="col p-0">
                    <img src="/assets/img/dashboard/visa.svg" alt="" class="ml-2">
                    <img src="/assets/img/dashboard/master-card.svg" alt="" class="ml-2">
                    <img src="/assets/img/dashboard/amex.svg" alt="" class="ml-2">
                    <img src="/assets/img/dashboard/carnet.svg" alt="" class="ml-2">
                  </div>
                </div>
                <div class="sctn-row">
                  <div class="sctn-col l">
                    <label class="textP">Nombre del titular</label><input type="text" class="textP nameT" id="nameT"
                      placeholder="Tal y como aparece en la tarjeta" autocomplete="off" maxlength="50"  data-openpay-card="holder_name">
                  </div>
                  <div class="sctn-col">
                    <label class="textP">Número de tarjeta</label><input type="text" maxlength="16" class="textP numTarjeta" id="numTarget"
                      placeholder="0000 0000 0000 0000" autocomplete="off" data-openpay-card="card_number"></div>
                </div>
                <div class="sctn-row">
                  <div class="row sctn-col l mt-2">
                    <div class="col-12 col-sm-12 col-md-6 pl-0 pr-0 pr-sm-0 pr-md-2">
                      <label class="textP">Mes de vencimiento</label>
                      <div class="sctn-col half l"><input type="text" maxlength="2" class="textP numTarjeta" id="month" autocomplete="off" placeholder="MM"
                          data-openpay-card="expiration_month"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 pl-0 pl-sm-0 pl-md-2 pr-0">
                      <label class="textP">Año de vencimiento</label>
                      <div class="sctn-col half l"><input type="text" maxlength="2" class="textP numTarjeta" id="anio" autocomplete="off" placeholder="AA"
                          data-openpay-card="expiration_year"></div>
                    </div>
                  </div>
                  <div class="sctn-col cvv col-12 col-sm-12 col-md-6 pl-0 pr-sm-0 pr-md-2 mb-4 mt-2"><label
                      class="textP">Código de seguridad</label>
                      <ng-template #tipContent>
                        <div class="card py-3 px-3">
                          <img src='assets/img/login/openPay/visa.png' />
                          <br>
                          <img src='assets/img/login/openPay/american.png' />
                        </div>
                      </ng-template>
                      <img src="assets/img/login/openPay/tooltip-cvc.svg" class="pl-2 cursor-pointer" alt="" tooltipClass="my-custom-class" placement="right" [ngbTooltip]="tipContent">
                    <div class="sctn-col half l"><input type="text" class="textP numTarjeta" maxlength="4"  id="ccv"
                        autocomplete="off" data-openpay-card="cvv2"></div>
                  </div>
                </div>
                <div class="openpay">
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-4 p-0">
                      <div class="logo"></div>
                    </div>
                    <div class="col-8 p-0">
                      <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
                    </div>
                  </div>

                </div>
                <div class="sctn-row inputHide" >
                  <a class="button rght" id="pay-button1">Pagar</a>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="modal fade" role="dialog" id="card-points-dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Pagar con Puntos</h4>
            </div>
            <div class="modal-body">
              <p>¿Desea usar los puntos de su tarjeta para realizar este pago?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="points-no-button">No</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="points-yes-button">Si</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-sm-12 col-md-12 col-lg-12 py-4">
        <p class="textP d-none">Al hace click en el botón <span>Pagar</span>, aceptas nuestros <a class="underline"><app-modalterms></app-modalterms></a> y nuestro
          <a class="underline"><app-modal-privacy></app-modal-privacy></a>, declara que tienes mas de 18 años y aceptas que Involve continúe
          tu suscripción
          de manera automática y que, hasta la canceles, te facturará el cargo a través de la forma de pago elegida,
          Puedes cancelar el plan en cualquier momento para evitar cargos en el futuro.</p>
  
        <div class="sctn-row btn-green d-flex justify-content-center align-items-center cursor-pointer" id="pay-button">
          <a class="button rght coloBtn" id="btnPay">Guardar tarjeta</a>
          <a class="button rght coloBtn" id="btnAdd">Agregar nueva</a>
        </div>
        
      </div>
      
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="modalPromociones">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <app-standby-screen [isAtPayment]="true"></app-standby-screen>
      </div>
    </div>
  </div>
</div>