@import '../../../../assets/scss/variables';

 .openpay div.logo {
     background-image: url("../../../../assets/img/login/openPay/openpay.png"); 
     background-position: left bottom;
     background-repeat: no-repeat;
     border-right: 1px solid #ccc;
     font-size: 12px;
     font-weight: 400;
     height: 45px;
     padding: 15px 20px 0 0;
 }
 .openpay div.shield {
     background-image: url("../../../../assets/img/login/openPay/security.png");
     background-position: left bottom;
     background-repeat: no-repeat;
     font-size: 12px;
     font-weight: 400;
     margin-left: 20px;
     padding: 20px 0 0 40px;
     width: 275px;
 }

input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #cbcbcb !important;
    &:hover{
      border: 1px solid $P600 !important;
    }
    &:focus{
      border: 1px solid #979797 !important;
      outline: none !important;
    }
  }
  .coloBtn {
    color: white !important;
  }

  .inputHide{
    height: 0px !important;
    font-size: 0px !important;
    width: 0px !important;
    padding: 0px !important;
    border: 0px !important;
  }
  .textP {
    font-size: 14px;
  }

  .underline {
      text-decoration: underline !important;
      cursor: pointer;
  }

  .nameT {
    text-transform: uppercase;
  }


  ::ng-deep .tooltip-inner {
      background-color: white !important;
      font-size: 125%;
    }
    ::ng-deep .arrow::before {
      border-top-color: white !important;
    }
  
  @media screen and (max-width: 767px) {
    .shield{
      width: 150px !important;
    }
  }
  @media screen and (max-width: 479px) {
    .shield{
      width: 150px !important;
    }
  }


.btn-green a {
  font-weight: bold;
}

.error-notification{
  background-color: $E200;
  border-radius: 5px;
  display: flex;
  p{
    color: $S50;
    flex-grow: 1;
    margin-bottom: 0;
    padding: 18px;
    a{
      color: inherit;
      &:focus{
        outline: none;
      }
    }
  }
  img{
    padding: 18px;
  }
  &.highlighted{
    animation: glow-notification 1s infinite alternate;
  }
}

@keyframes glow-notification {
  from {
    box-shadow: 0 0 5px 5px $E200;
  }
  to {
    box-shadow: 0 0 5px -5px $E200;
  }
}

.modal-dialog{
  height: 100% !important;
  margin: 0 !important;
  max-width: unset !important;
  width: 100% !important;
}
