
<div class="estadisticas">
        <div class="estadisticas__date">
            <p class="titleMes">Estadísticas de: </p>
            <div class="form-group">
                <select class="form-control" name="mesConsulta" id="mesConsulta">
                    <option disabled selected>Seleccione Mes</option>
                    <option *ngFor="let item of datosInput" value="{{item.formato}}">{{item.fecha}}</option>
                </select>
            </div>
            <div class="comparativa__btn">
                <button class="btn" (click)="clickAddTodoMes();">Aplicar</button>
            </div>
        </div>

        <div class="container">
            <!-- CARD -->
            <div class="row">
                <div class="col-md-6">
                    <div class="estadisticas__card">
                        <div class="contentCenter">
                            <h2>{{titleGrapOne}}</h2>
                            <canvas #myCanvas class="mycanvas" id="mycanvas"  baseChart
                                    [datasets]="lineChartDataNormal"
                                    [labels]="lineChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColorsNorm"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="estadisticas__card">
                        <div class="contentCenter">
                            <h2>{{titleGrapTwo}}</h2>
                            <canvas #myCanvas class="mycanvas"  baseChart
                                    [datasets]="lineChartDataNormal2"
                                    [labels]="lineChartLabels2"
                                    [options]="lineChartOptions2"
                                    [colors]="lineChartColorsNorm2"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <!-- <div class="col-md-6">

                    <div class="estadisticas__card">
                        <div class="contentCenter">
                            <p>Candidatos postulados por Sector y Giro</p>
                        </div>
                        <div class="alingText">
                            <p>Sector:</p>
                        </div>
                        <div class="form-group infoSector">
                            <div>
                                <select class="form-control" name="se ctor" id="sector">
                                    <option  disabled selected>Seleccione una opcion</option>
                                    <option *ngFor="let item of sectores" value="{{item.sectorId}}">{{item.spanishName}}</option>
                                </select>
                            </div>
                            <div class="comparativa__btn">
                                <button class="btn" (click)="clickAddTodoSector();">Aplicar</button>
                            </div>
                        </div>
                        <div *ngIf="mostrarGraficaSector">
                            <canvas #myCanvas class="mycanvas"  baseChart
                                    [datasets]="lineChartDataNormal3"
                                    [labels]="lineChartLabels3"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColorsNorm"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartTypeSelect3">
                            </canvas>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 area-bottom">
                    <div class="estadisticas__card">
                        <div class="contentCenter">
                            <p>Candidatos postulados por Área y Especialidad</p>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><p>Área:</p></div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group infoSector">
                                    <div>
                                        <select class="form-control" name="area" id="area">
                                            <option  disabled selected>Seleccione una opcion</option>
                                            <option *ngFor="let item of areas" value="{{item.areaId}}">{{item.spanishName}}</option>
                                        </select>
                                    </div>
                                    <div class="comparativa__btn">
                                        <button class="btn" (click)="clickAddTodoArea();">Aplicar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="loadingCenter">
                            <app-loading *ngIf="loadingGrafica"></app-loading>
                        </div>
                        <div *ngIf="dataGraf">
                            <div *ngIf="mostrarGraficaArea">
                                    <canvas #myCanvas class="mycanvas"  baseChart
                                            [datasets]="lineChartDataNormalArea"
                                            [labels]="lineChartLabelsArea"
                                            [options]="lineChartOptionsArea"
                                            [colors]="lineChartColorsNormArea"
                                            [legend]="lineChartLegendArea"
                                            [chartType]="lineChartTypeSelectArea">
                                    </canvas>
                            </div>
                        </div>
                        <div class="row"  *ngIf="!dataGraf">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 imgError">
                                <img src="/assets/icons/Grupo 3258.svg">
                                <p class="textError">¡Aún no hay datos suficientes! Sigue reclutando para ver tu información.</p>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>