@import '../../../../../assets/scss/_variables';

p, h2, h3 {
    margin: 0;
    padding: 0;
}

.estadisticas {
    background-color: map-get($colors, BGF200);
    height: 100%;
        .form-group.hidden {
        width: 0;
        margin: 0;
        border: none;
        padding: 0;
        }
        .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        }
        .custom-day.focused {
        background-color: #e6e6e6;
        }
        .custom-day.range, .custom-day:hover {
        background-color: #0BB9B9;
        color: white;
        }
        .custom-day.faded {
        background-color: #EAEAEA
        }
     
    & .container {
        margin-top: 50px;
    }
    &__date {
        padding: $MSMD;
        display: flex;
        background-color: map-get($colors, CTS050);    
        & p {
            margin-top: $MSSM;
        }
        & input {
            margin: 0 $MSSM;
            max-width: 200px;
        }
    }
    &__card {
        margin: 30px 0px 0px 0px;
        padding: 15px;
        // width: 350px;
        display: block;
        // margin-left: auto;
        // margin-right: auto;
        justify-content: space-between;
        background-color: map-get($colors, CTS050);
        border-radius: 6px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 16%);
        &--txt {
            position: relative;
            display: inline-block;
            justify-content: center;
            & p {
                font-size: $FS16;
                font-weight: 600;
                color: map-get($colors, CTS400);
            }
            & img {
                margin-left: $MSSM;
                &:hover + .hide {
                    position: absolute;
                    top: -100px;
                    left: 0%;
                    width: 300px;
                    padding: $MSMD;
                    border-radius: 6px;
                    background-color: map-get($colors, CTS600);
                    display: block;
                    z-index: 10;
                    animation-name: FadeIn;
                    animation-duration: 1s;
                    transition-timing-function: linear;
                }
            }
        }
        & .hide {
            display: none;
            & p {
                font-size: $FS14;
                font-weight: normal;
                color: map-get($colors, CTS050);
            }
        }
        & h2 {
            margin: 8px 0;
            font-weight: 600;
            font-size: 15px;
            color: #525252;
            text-align: center;
            font-family: 'GilroyRegular';
        }
        &--title p {
            margin-bottom: $MSMD;
            text-align: center;
            font-weight: 700;
            font-size: $FS16;
            color: map-get($colors, CTS400);
        }
        &--row {
            display: flex;
            justify-content: space-between;
            & p {
                margin: $MSSM;
                font-size: $FS14;
                color: map-get($colors, CTS400);
            }
        }
        &--active {
            display: flex;
            & .active-green  {
                display: flex;
                & span {
                    width: 15px;
                    height: 15px;
                    background-color: map-get($colors, CPP500);
                }
                & p {
                    margin-left: $MSSM;
                    font-size: $FS12;
                    font-weight: normal;
                    color: map-get($colors, CTS100);
                }
            }
            & .active-grey  {
                display: flex;
                & span {
                    right: 0;
                    width: 15px;
                    height: 15px;
                    background-color: map-get($colors, BGF200);
                }
                & p {
                    margin-left: $MSSM;
                    font-size: $FS12;
                    font-weight: normal;
                    color: map-get($colors, CTS100);
                }
            }
        }
    }
}

.comparativa{
    //background-color: map-get($colors, BGF200);
    height: 100%;
    &__btn {
        padding: 0px 0px 0px 10px;
        display: flex;
        background-color: #FFFFFF;
        z-index: 2;
        & p {
            margin-top: $MSSM;
            font-size: $FS16;
            font-weight: normal;
            color: map-get($colors, CTS600);
        }
        & .form-group {
            width: 350px;
            margin: 0 16px;
        }
        & button {
            width: 150px;
            height: 35px;
            color: map-get($colors, CTS050);
            font-weight: bold;
            border-radius: 50px;
            background-color: map-get($colors, CPP500);
            &:hover {
                background-color: map-get($colors, CPP800);
            }
        }
    }
    &__header {
        padding: 16px;
        display: flex;
        background-color: #FFFFFF;
        z-index: 2;
        & p {
            margin-top: $MSSM;
            font-size: $FS16;
            font-weight: normal;
            color: map-get($colors, CTS600);
        }
        & .form-group {
            width: 350px;
            margin: 0 16px;
        }
        & button {
            width: 150px;
            height: 35px;
            color: map-get($colors, CTS050);
            font-weight: bold;
            border-radius: 50px;
            background-color: map-get($colors, CPP500);
            &:hover {
                background-color: map-get($colors, CPP800);
            }
        }
    }
    &__title {
        margin-top: $MSXBIG;
        display: flex;
        z-index: 2;
        & p {
            margin: 0px 10px 0px 15px;
            width: 222px;
            text-align: center;
            font-size: $FS16;
            font-weight: 600;
            color: map-get($colors, CTS400);
        }
    }
    &__card {
        margin: $MSMD 0;
        display: flex;
        z-index: 2;
        &--txt {
            width: 250px;
            display: flex;
            position: relative;
            align-items: center;
            p {
            font-size: $FS16;
            font-weight: 600;
            color: map-get($colors, CTS400);
            }
            & img {
                width: 15px;
                height: 15px;
                margin-left: $MSSM;
                &:hover + .hide {
                    position: absolute;
                    top: -80px;
                    left: 0%;
                    width: 300px;
                    padding: $MSMD;
                    text-align: center;
                    border-radius: 6px;
                    background-color: map-get($colors, CTS600);
                    display: block;
                    z-index: 10;
                    animation-name: FadeIn;
                    animation-duration: 1s;
                    transition-timing-function: linear;
                }
            }
        }
        & .hide {
            display: none;
            & p {
                font-size: $FS14;
                font-weight: normal;
                color: map-get($colors, CTS050);
            }
        }
        &--flex {
            margin: 0 $MSSM;
            height: 80px;
            width: 206px;
            position: relative;
            display: flex;
            border-radius: 6px;
            background-color: map-get($colors, CTS050);
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 16%);
            & p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $FS32;
                font-weight: bold;
                color: map-get($colors, CTS400);
            }
            & .badge {
                position: absolute;
                top: 40%;
                left: 75%;
                transform: translate(-50%, -50%);
            }
            & .badge-secondary {
                background-color: rgba($color: #24AA3D, $alpha: 20%);
                color: map-get($colors, CSE100);
            }
            & .badge-danger {
                background-color: rgba($color: #E21D1D, $alpha: 20%);
                color: map-get($colors, CSE200);
            }
        }
    }
    &__fondo {
        position: absolute;
        top: 155px;
        right: 130px;
        height: 60vh;
        width: 222px;
        border-radius: 6px;
        background-color: map-get($colors , BGF300);
        z-index: -1;
    }
}

.infoSector{
    display: inline-flex; 
    position: inherit;
}

.contentCenter{
    text-align: center;
    padding-bottom: 20px;
    & p {
        margin: 8px 0;
        font-weight: 600;
        font-size: 15px;
        color: #525252;
        text-align: center;
        font-family: 'GilroyRegular';
    }

}

.alingtext{
    margin: 15px 0px 5px 0px;
}

.titleMes{
    margin: 10px;
}

.area-bottom{
    padding-bottom: 10%;
}

.imgError{
    padding-top: 10%; 
    padding-bottom: 15%;
    width: 25%;
    text-align: center;
}

.loadingCenter{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}