$colors: (
  negro: #000000,
  title: #2E2E2E,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  border-input-hover: #0BB9B9
);

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .header img {
        width: 60px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 50px;
    }
    .header__menu {
        margin-right: 0px;
    }
        .header__menu ul {
            display: none;
            list-style: none;
            margin-top: 10px;
            padding: 5px 12px;
            width: 200px;
            height: 40px;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 8px;
            border: solid 1px map-get($colors, border-input);
            margin-right: 8px;
        }
            .header__menu:hover ul, ul:hover {
                display: block;
            }
        .header__menu li svg {
            margin-right: 5px;
        }
        .header__menu li a {
            text-decoration: none;
            color: map-get($colors, title);
            font-size: 14px;
            font-weight: normal;
        }
            .header__menu li a:hover {
                text-decoration: underline;
            }
    
    .header__menu--profile {
        margin-right: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: flex-end;
    }
        .header__menu--profile img {
            margin-right: 8px;
            width: 40px;
            &:hover {
                border: 1px solid map-get($colors, border-input-hover);
            }
        }
        .header__menu--profile p {
            margin: 0px;
            color: white;
        }