<!-- AVATAR -->
<div class="header">
    <div class="header__menu">
        <div class="header__menu--profile">
            <img class="header__img" src="../../../../../assets/avatar.svg" alt="">
        </div>
        <ul>
            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19.095" viewBox="0 0 20 19.095">
                        <path id="Glyph__" data-name="Glyph_ " d="M20,9.547l-4.436,4.426-.9-.9,2.894-2.894H7.638V8.911h9.925L14.669,6.017l.9-.9ZM11.457,12.73H12.73v6.365H0V0H12.73V6.365H11.457V1.273H1.273V17.822H11.457Z" fill="#0bb9b9"/>
                    </svg>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
</div>