$colors: (
  blanco: #ffffff,
  negro: #000000,
  title: #2E2E2E,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9,
  registrar: #0AA8A8,

  style-txt-title: #707070
);

.card {
    box-shadow: 0 0 10px rgb(142 142 142 / 65%);
}
.card-header {
    display: flex;
    justify-content: space-between;
    background-color: map-get($colors, title);
    border: none;
    padding: 12px 8px 12px 20px;
}
    .card-header img {
        width: 50px;
        height: auto;
    }
    .fluid__card--redes {
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
    }

.card-img-top {
    background-color: map-get($colors, title);
    border-radius: unset;
    padding: 16px 16px 32px 16px;
}
    .personal-information__title-input h2 {
        color: map-get($colors, blanco);
        font-size: 22px;
        font-weight: bold;
        margin-top: 16px;
        margin-bottom: 0;
    }
    .textRegular-md16-negative p {
        color: map-get($colors, blanco);
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 32px;
    }

.fluid__card--title-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
    .textBold-md p {
        color: map-get($colors, negro);
        margin-bottom: 0;
    }
    .fluid__card--title-body button {
        color: map-get($colors, btn-active);
        font-weight: normal;
        font-size: 12px;
    }

.fluid__card--card-generic {
    border: 1px solid map-get($colors, border-input);
    border-radius: 10px;
    position: relative;
    padding: 16px;
    margin: 0 8px 0 12px;
}
    .fluid__card--card-generic button {
        position: absolute;
        top: 8px;
        right: 4px;
    }
    .textBold-md18 h2 {
        margin-bottom: 0;
        text-overflow:ellipsis;
        white-space:nowrap; 
        overflow:hidden;
        margin-right: 25px;

    }
    .textRegular-md16 p {
        color: map-get($colors, subtitle);
        margin-bottom: 0;
    }

.fluid__card--blank-state {
    position: relative;
}
    .fluid__card--blank-state img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
    }