<div class="fluid">
    <div class="row">

        <div class="col offset-lg-2 col-lg-6">
            <div class="card">
                
                <div class="card-header">
                    <img src="../../../../../assets/logo-involve-negatice.svg" alt="">
                    <button class="btn btn-link text-light">Editar</button>
                </div>

                <!-- IMG -->
                <div class="card-img-top text-center personal-information__title-input textRegular-md16-negative">
                    <img src="../../../../../assets/icons/icon-avatar.svg" alt="">
                    <h2>Nombre candidato</h2>
                    <p>Puesto</p>
                    <div class="fluid__card--redes">
                        <img src="../../../../../assets/icons/icon-git-disable.svg" alt="">
                        <img src="../../../../../assets/icons/icon-behance-disable.svg" alt="">
                        <img src="../../../../../assets/icons/icon-linkeid-disble.svg" alt="">
                        <img src="../../../../../assets/icons/icon-link-disable.svg" alt="">
                    </div>
                </div>

                <!-- EXP -->
                <div class="card-body">
                    
                    <div class="fluid__card--title-body textBold-md">
                        <p>Experiencia</p>
                        <button class="btn btn-link">Agregar</button>
                    </div>

                    <div class="fluid__card--card-generic">
                        <div class="textBold-md18">
                            <h2>Title muy pero muy largo que dejaron aqui</h2>
                        </div>
                        
                        <div class="textRegular-md16">
                            <p>Company</p>
                            <p>Date of admission</p>
                        </div>

                        <button class="btn btn-link">
                            <img src="../../../../../assets/icons/icon-perncil-edit.svg" alt="">
                         </button>
                    </div>

                </div>

                <!-- EDU -->
                <div class="card-body">
                    
                    <div class="fluid__card--title-body textBold-md">
                        <p>Educación</p>
                        <button class="btn btn-link">Agregar</button>
                    </div>

                    <div class="fluid__card--card-generic">
                        <div class="textBold-md18">
                            <h2>Title muy pero muy largo que dejaron aqui</h2>
                        </div>
                        
                        <div class="textRegular-md16">
                            <p>School</p>
                            <p>Date of admission</p>
                        </div>

                        <button class="btn btn-link">
                            <img src="../../../../../assets/icons/icon-perncil-edit.svg" alt="">
                         </button>
                    </div>

                </div>

                <!-- AREA EXP -->
                <div class="card-body fluid__card--blank-state">
                    <app-cv-skills></app-cv-skills>
                </div>

            </div>
        </div>

    </div>
</div>