@import '../../../../../../../assets/scss/variables';

.redondeado,
.redondeado:hover {
  margin-top: 34px;
  margin-right: 6px;
  background: $P400;
  height: 12px;
  width: 38px;
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  cursor: default;
  &.cursor-pointer{
    cursor: pointer !important;
  }
}

.redondeadoGreen,
.redondeadoGreen:hover {
  margin-top: 34px;
  margin-right: 6px;
  background: $F300;
  height: 12px;
  width: 38px;
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  cursor: default;
}

.step-bar {
  //margin-left: 35px;
  margin-bottom: 10px;
  text-align: left;
}