<div class="step-bar">
    <button *ngFor="let btn of arrayButtons; let i = index;" [class]="btn.class" (click)="goToStep(i+1)" [class.cursor-pointer]="currentVacancy?.steps >= i"></button>
    <!-- <button class="redondeadoGreen"></button>
    <button class="redondeadoGreen"></button>
    <button class="redondeadoGreen"></button>
    <button class="redondeadoGreen"></button>
    <button class="redondeadoGreen"></button> -->
  </div>
