<div class="px-5 pb-5 pt-3">
    <h2 class="text-center titleModal pb-3">{{'login.step5.confirm' | translate}}</h2>
    <div  class="info-form-input">
      <form [formGroup]="formEmail">
      <div  class="info-form-input">
        <div class="input-text-container row">
            <!-- <p class="col-sm-4 p-0">Contraseña</p> -->
            <div class="col">
              <label for="colFormLabel" class="ol-form-label textoEtiquetas">{{'commons.password' | translate}}</label>
            </div>
            <div (click)="showPassword = !showPassword" class="input-text-favicon col-6 text-right p-0" style="cursor: pointer;">
                <div *ngIf="showPassword">
                    <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                    <p class="d-inline-block ml-2 mr-3 info-form-button">Ocultar</p>
                </div>
                <div *ngIf="!showPassword">
                    <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                    <p class="d-inline-block ml-2 mr-3 info-form-button">Mostrar</p>
                </div>
            </div>
        </div>
    </div>
      <div class="row mb-3 mb-4 ml">
        <div class="col">
          <input  [type]="showPassword ? 'text'  : 'password'" formControlName="passwordEmail" class="form-control efectosInput" id="passwordEmail" name="passwordEmail" autocomplete="off"
            [ngClass]="(formEmail.controls.passwordEmail.errors && formEmail.controls.passwordEmail.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formEmail.controls.passwordEmail.errors && formEmail.controls.passwordEmail.touched" class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
        </div>
      </div>
      <div class="col text-center p-0">
        <button class="badge badge-pill involve-button mt-2 w-100 btn-continue" [disabled]="formEmail.invalid" (click)="verifyPassWord()">{{'commons.continuar' | translate}}</button>
      </div>
    </form>
  </div>
  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
