.contenedor {
  background: var(--f100) 0% 0% no-repeat padding-box;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 80%;
  transition: all 0.3s;
}

.contenedor2 {
  background: #fafafa;
  opacity: 1;
}

.tamContenedor {
  height: 40em;
}

.table {
  margin-bottom: 0;
}

.table_header {
  background: #1c1c1b;

  color: #f6f6f6;
  font-size: 13px;
  font-weight: 600;
}
.bordes {
  border: 1px solid;
  border-color: #e6e6e6;
}
.texto {
  display: flex;
  font-size: 24px;
  color: #ababab;
}

.crearVacante {
  width: 9%;
  background: #24aa3d;
}

.tituloTabla {
  font-size: 15px;
  color: #565656;
  font-weight: 700;
}

.subTituloRegular {
  font-size: 12px;
  color: #3c3c3b;
  font-weight: 500;
  cursor: default;
  background: #ffffff;
}

.subTituloRegular:hover {
  text-decoration: none;
}

.subTituloMedium {
  font-size: 12px;
  color: #3c3c3b;
  font-weight: 700;
  background: #ffffff;
}

/* Sortable table demo */

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].sort:before {
  content: "\f0dc";
  font-family: "Font Awesome 5 Free";
  float: right;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  float: right;
}

th[sortable].desc:before {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  float: right;
}

.sorts {
  margin-left: 28%;
  margin-top: 10%;
}
/* Filtering table demo */
ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

/* Complete table demo */
ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.opacity {
  opacity: 0;
}

.subtituloNuevaVacante {
  font-size: 14px;
  color: #525251;
  align-content: flex-start;
}

.btnMotivo {
  background: #ffffff;
  border: solid 1px;
  border-color: #0aa8a8;
  padding-top: 3.2%;
  padding-bottom: 3.2%;
  cursor: auto;
  color: #0aa8a8;
  font-weight: 500;
  font-size: 13px;
}

.btnMotivo:hover {
  background: #24aa3d;
  color: #f6f6f6;
}

.hide {
  display: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label.minus::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='24' viewBox='0 0 16 16'%3e%3cpath fill='%23fff' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e");
  transform: scale(2.5);
}

.selectFiltros {
  background: transparent;
  border: 0;
  font-weight: 600;
}
.selectFiltros:focus {
  outline: none;
}

/*Para los paginadores*/
::ng-deep .page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem;
}

::ng-deep .page-item:last-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem;
}

::ng-deep .page-item.disabled .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #a8a8a8;
  border: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

::ng-deep .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #0bb9b9;
  border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
  background-color: #088d8d;
}

::ng-deep .page-link:focus {
  box-shadow: none;
}

.input-sm {
  width: 2.25rem;
  border-radius: 0.4rem;
  height: calc(1.5em + 0.5rem + 2px);
}

.textoPaginadorMedium {
  font-size: 14px;
  color: #565656;
  font-weight: 400;
  opacity: 0.8;
}

.textoPaginadorRegular {
  font-size: 16px;
  color: #565656;
}
