<app-sidenav-vacantes (propagarFiltroCliente)="aplicarFiltroClientes($event)" 
(propagarFiltroReclutador)="aplicarFiltroReclutador($event)" (spreadVacantSearchInput)=searchVacant($event)></app-sidenav-vacantes>

<div *ngIf="rows.length < 1" class="contenedor vh-100 row m-0 text-center align-items-center justify-content-center">
  <!-- Content here -->
  <div class="col-auto">
    <img src="../../../../assets/img/dashboard/vacantes/candidato.svg" alt="">
    <span class="texto">Por ahora no hay plantillas</span>
  </div>
</div>

<div *ngIf="totalElements > 0" class="container-fluid contenedor2" [ngClass]="(rowsPorPagina < 4) ? 'tamContenedor' : ''">
  <!--Para mensaje de borradores seleccionados-->
  <div class="table-responsive-lg mr-4 ml-4 mt-4">
    <div class="row">
      <div class="col  mb-2" style="padding-left: 0;" style="font-size: 14px;">
        Mostrar
        <select id="numPaginas" class="selectFiltros" aria-label="Default select example" [(ngModel)]="page_size" (change)="selecRow()">
          <option *ngIf="rows.length > 5 "  [ngValue]="5"><strong>5 vacantes</strong></option>
          <option [ngValue]="10" selected>10 vacantes</option>
          <option value="25"><strong>25 vacantes</strong></option>
          <option value="50"><strong>50 vacantes</strong></option>
          <option value="100"><strong>100 vacantes</strong></option>
        </select>
      </div>
    
      <div class="col text-right" style="padding-right: 0;" style="font-size: 14px;">
        Ordenar por 
        <select class="selectFiltros" aria-label="Default select example" (change)="filterOrderBy($any($event).target.value);">
          <option *ngFor="let lista of arregloOrderBy" value="{{lista.value}}" [selected]='lista.nombre =="Recientes"'>{{lista.nombre}}</option>
        </select>
      </div>
    </div>
    <form *ngIf="contadorChecks>0">
      <div class="card shadow-sm bg-white text-center mt-2 mb-2">
        <div class="row d-flex align-items-center">
          <h5 class="text-left mt-3 mb-3 ml-2">
            <img class="cursor-pointer ml-4" src="../../../../assets/img/general/checkmark.svg">
          </h5>
            <h5 class="subtituloNuevaVacante mt-3 mb-3 ml-2 text-left ">Seleccionó &nbsp;</h5>
            <h5 class="subtituloNuevaVacante  text-left mt-3 mb-3 ml-2 font-weight-bold">{{contadorChecks}}</h5>
            <span *ngIf="contadorChecks==1" class="subtituloNuevaVacante mt-3 mb-3 ml-2">Vacante</span>
            <span *ngIf="contadorChecks>1" class="subtituloNuevaVacante mt-3 mb-3 ml-2">Vacantes</span>
            <h5 class="mt-3 mb-3 ml-2 subtituloNuevaVacante cursor-pointer"><span  (click) ="limpiarSeleccion();" style="color: #2680EB;">Limpiar selección&nbsp;</span></h5>
            <button type="button " class="badge involve-button mb-4 ml-2 mt-4 px-3 w-auto" (click)="eliminarBorradores();">Eliminar</button>
        </div>
      </div>
    </form>
     <table class="table shadow-sm" id="tablePlantillas" ng-table="tableParams" show-filter="true" data-pagination="true" pagination="true">
      <thead class="table_header">
        <tr class="bordes">
          <th scope="col" class="col-sm-offset-0">
            <div class="custom-control custom-checkbox ml-2">
              <input type="checkbox"[checked] ="checkAll" class="custom-control-input" id="selectAll" (click) ="selectAll()">
              <label class="custom-control-label {{claseCheck}}" for="selectAll"></label>
            </div>
          </th>
          <th sortable="vacantId" (sort)="onSort($event)" >ID</th>
          <th sortable="name" (sort)="onSort($event)" scope="col">Plantilla</th>
          <th sortable="updateDate" (sort)="onSort($event)" scope="col">Fecha&nbsp;de&nbsp;creación</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let row of rows | slice: (page-1) * page_size : page * page_size;" class="bordes ">
          <th data-checkbox="true" scope="row" class="col-sm-offset-0 subTituloRegular" style="width: 3%;">
            <div class="custom-control custom-checkbox ml-2">
              <input type="checkbox"[checked] ="row.check" class="custom-control-input" id="{{row.id}}" (change) ="onchangeCheck(row.id)" >
              <label class="custom-control-label" for="{{row.id}}"></label>
            </div>
          </th>
          <td class="subTituloRegular" style="width: 3%;">{{row.idshow}}</td>
          <td class="subTituloMedium" style="width: 15%;">{{row.nameVacant}}</td>
          <td class="subTituloRegular" style="width: 5%;">{{row.fechaCreacion}}</td>
          <td class="subTituloRegular" style="width: 7%;">
            <input type="button"  value="Editar" class="botonBadge badge-pill badge-secondary bd-highlight btnMotivo"
            (click)="editarvacante(row.id)" >
          </td>
          <td class="subTituloRegular" style="width: 20%;"></td>
        </tr>

      </tbody>
      <tfoot>
      </tfoot>
      </table>
      <div class="d-flex justify-content-between p-2">
        <span>
          <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}} vacantes</label>
        </span>
        <ngb-pagination *ngIf="totalElements >10" class="d-flex justify-content-end mt-2" [collectionSize]="totalElements"
          [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm"
          (pageChange)="rowsMostradas($event);">
          <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
          <ng-template ngbPaginationPrevious>
            <img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt="" style="transform: rotate(180deg);">
          </ng-template>
          <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="form-group d-flex flex-nowrap px-2">
                <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1 textoPaginadorRegular">Página</label>
                <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control-sm custom-pages-input input-sm"
                  id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                  (input)="formatInput($any($event).target)"
                  aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.25rem" />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2 textoPaginadorRegular">
                  de {{pages.length}}</span>
              </div>
            </li>
          </ng-template>
          <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt=""></ng-template>
          <ng-template ngbPaginationLast>Last</ng-template>
        </ngb-pagination>
      </div>
  </div>
</div>


<ng-template #modalPlantilla let-modal>
  <form [formGroup]="formularioPlantilla">
    <div id="modalPreguntas" class="text-right">
      <span class="modales cursor-pointer mt-2 mr-3" aria-label="Close" (click)="modal.dismiss('Close click');">
        <img src="../../../../assets/img/general/x.svg" class="mt-3" alt="">
      </span>
    </div>
    <div class="modal-body text-center texto" style="opacity: 0.7;">
      <input formControlName="inputPregunta" class="textPlaceHolder" style="border: 0;" type="text" id="guardarPregunta"
        placeholder="Escriba el nombre de la plantilla">
    </div>
    <div class="text-right mb-4">
      <button class="badge badge-pill  p-2 mr-3  "
        (click)="modal.close('Close click'); setMensajeNotificacion('Se guardó la plantilla'); crearPlantilla(iconoChekBlanco);"
         [ngClass] = "formularioPlantilla.invalid ? 'btnContinuarDisabled' : 'btnContinuar'"   [disabled]="formularioPlantilla.invalid">Guardar</button>
    </div>
  </form>
</ng-template>


<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>