<div class="container">
  <nav class="navbar navbar-light bg-light">
    <img  src="../../../../assets/Grupo 498.svg" alt="">
    <form class="form-inline">
      <label for="Salir">Salir</label>
    </form>
  </nav>
</div>
