<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <h1 class="text-center">Generador de HTML para condiciones de cupón</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Nombre
        </div>
        <div class="col-3">
            Característica
        </div>
        <div class="col-3">
            Descuento
        </div>
    </div>
    <form class="mb-5" [formGroup]="couponsList" (ngSubmit)="generateHtmlCouponsTemplate()">
        <div class="coupons-list-container mb-4" formArrayName="coupons">
            <div *ngFor="let coupon of couponsArray.controls; let i = index">
                <div class="row mb-2" [formGroupName]="i">
                    <div class="col-3">
                        <input class="form-control" type="text" formControlName="couponName"
                            [ngClass]="{'is-invalid': hasFormFieldError(i, 'couponName') }">
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" formControlName="couponDescription"
                            [ngClass]="{'is-invalid': hasFormFieldError(i, 'couponDescription') }">
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" formControlName="couponDiscount"
                            [ngClass]="{'is-invalid': hasFormFieldError(i, 'couponDiscount') }">
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-danger h-100 default-radius" (click)="removeCoupon(i)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-1" *ngIf="i === couponsArray.controls.length - 1">
                        <button type="button" class="btn btn-info h-100 default-radius" (click)="addCoupon()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 offset-10" *ngIf="couponsArray.controls.length == 0">
                <button type="button" class="btn btn-info h-100 default-radius" (click)="addCoupon()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="submit-container d-flex justify-content-center">
            <button type="submit" class="btn btn-info default-radius px-4" [attr.disabled]="isFormValid ? null : ''">
                Generar
            </button>
        </div>
    </form>
    <hr *ngIf="HtmlGeneratedTemplate">
    <div class="generated-template-container row" *ngIf="HtmlGeneratedTemplate">
        <div class="col-12 pb-4">
            <div class="generated-template p-3" [innerHtml]="HtmlGeneratedTemplate"></div>
            <button class="btn btn-info default-radius" *ngIf="isCopied">Copiado</button>
            <button class="btn btn-info default-radius" *ngIf="!isCopied" (click)="copyHtmlGeneratedTemplate()">Copiar</button>
        </div>
    </div>
</div>