.default-radius{
    border-radius: .25rem;
}
.generated-template-container{
    position: relative;
    textarea{
        min-height: 30rem;
    }
    .generated-template{
        border: solid 1px #000000;
    }
    button{
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
}