<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span class="close-white" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<ng-container>
	<span *ngIf="isModal else longContent"></span>
	<ng-template #longContent let-modal>
		<div class="modal-header header-Short">
			<img class="img-head center-img" src="../../../../assets/Grupo 2754.svg" alt="" width="80%" height="80%">
		</div>
		<div class="modal-body">
			<h1>AVISO DE PRIVACIDAD RECLUTADOR</h1>
			
			<p>El presente aviso se emite en cumplimiento a lo dispuesto en los artículos 15 y 43 en su fracción III de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP), así como el artículo 23 de su Reglamento.</p>
			
			<p>INVOLVE, S.A. DE C.V. (comercialmente conocido como “INVOLVE”) comprometido con sus suscriptores y usuarios reconoce la necesidad del tratamiento y uso de los datos e información que se obtenga con motiivo del uso de la plataforma, por lo que usted, la empresa y/o las personas que usen la plataforma/sitio web directa o indirectamente, consienten y aceptan que se den a conocer las vacantes, nombre de las empresas, puesto, giro, contraprestación ofrecida y demás datos generales que suban y nutran informativamente en la plataforma con el objetivo de brindar perfiles completos de candidatos registrados en la plataforma, promociones comerciales de bienes o servicios propios o de terceros que consideramos que pueden ser de tu interés y otros servicios que brinda INVOLVE, S.A. DE C.V.</p>
		
			<p>Antes de proporcionarnos cualquier información, deberás de leer y comprender cuidadosamente los términos del presente <b>Aviso de Privacidad Reclutador</b>, manifestando expresamente su consentimiento al Aceptar los mismos, lo que significa que nos daran información que se precisa a continuación:</p>

			<p class="upper-normal">I.	IDENTIDAD Y DOMICILIO DEL RESPONSABLE. </p>

			<p>Este documento es el Aviso de Privacidad de INVOLVE, S.A. de C.V. (el "responsable"), quien será el encargado de tratar los datos personales que usted (el "Titular") nos proporcione. Para los efectos señalados en el presente Aviso de Privacidad, el responsable señala como su domicilio el ubicado en: Calle Rio Lerma, 196 Bis, Torre B, Piso 4, Número Interior 403, Colonia Cuauhtémoc, Ciudad de México, C.P. 06500.</p>
			
			<p class="upper-normal">II. DATOS PERSONALES QUE SERÁN SOMETIDOS A TRATAMIENTO. </p>
		
			<p>Los datos personales que el Titular proporcione a través del llenado y remisión electrónica de formularios contenidos en la aplicación móvil y sitio web que serán sometidos a tratamiento son:</p>
		
			<p><b><u>Para registrar del Subscriptor: </u></b></p>
		
			<div class="sangria-normal">
				<p>
					(i)	Correo electrónico<br>
					(ii)	Nombre(s)<br>
					(iii)	Apellido paterno<br>
					(iv)	Apellido materno<br>
					(v)	Nombre de la Empresa (razón social)<br>
					(vi)	Nacionalidad<br>
					(vii)	Giro<br>
					(viii)	Nacionalidad.
				</p>
			</div>
		
			<p><b><u>Datos financieros: </u></b>

			<p>El Responsable recaba datos financieros que resultan necesarios para efectos de pago de nuestros servicios con cargo, así como la emisión de la factura correspondiente. Entre estos datos se encuentran:</p>
		
			<div class="sangria-normal">
				<p>
					(i)	Tipo de tarjeta;<br>
					(ii)	Número de tarjeta;<br>
					(iii)	Código de verificación de tarjeta;<br>
					(iv)	Información de contacto;<br>
					(v)	Mes de vencimiento<br>
					(vi)	Año de vencimiento<br>
					(vii)	Datos de facturación.<br>
					(viii)	Código Postal, estado y ciudad de su organización; y para la emisión de contrato.<br>
					(ix)	La documentación legal que avale la constitución de su empresa, escritura que contenga los poderes notariales.<br>
					(x)	Cédula fiscal, comprobante de domicilio, así como identificación, fotografía, correo electrónico y firma de su(s) representante(es) legal(es).

				</p>
			</div>
		
			<p>El Titular (Subscritor) no deberá añadir datos personales no requeridos o diferentes a aquellos solicitados por el responsable en los campos designados para ello, ya que cualquier conducta contraria <b>no garantiza la confidencialidad de dicha información.</b></p>

			<p class="upper-normal">III.	FINALIDADES: </p>
			<div class="sangria-normal">
				<p>
					(i)	Creación de un perfil de reclutador;<br>
					(ii)	Contratación de los servicios ofrecidos por el Responsable;<br>
					(iii)	Emisión de la factura correspondiente;<br>
					(iv)	Realización del cargo por los servicios contratados;<br>
					(v)	Realizar el proceso de cobranza;<br>
					(vi)	Cumplimiento de los servicios contratados;<br>
					(vii)	Seguimiento y renovación de los servicios;<br>
					(viii)	Creación de perfil público de tu empresa;<br>
					(ix)	Contactarte para cualquier problema o reporte de la cuenta;<br>
					(x)	Informarte por diversos medios sobre cambios o nuevos productos;<br>
					(xi)	Identificar de forma única el comportamiento de los usuarios dentro de la plataforma;<br>
					(xii)	Agendar capacitaciones para el uso de la plataforma;<br>
					(xiii)	Brindar asesoría y soporte técnico; y<br>
					(xiv)	Emisión del contrato de servicios.<br>
					(xv)	Mejora del proceso comercial y de mercadotecnia, utilizando la información para:<br>
					(xvi)	Procurar un servicio eficiente y proveer una mejor atención, así como para mejorar su experiencia en el uso de ciertos servicios;<br>
					(xvii)	Enviarle y presentarle bienes y/o servicios que puedan resultar relevantes o atractivos;<br>
					(xviii)	Enviarle por cualquier medio todo tipo de comunicación para participar en pruebas, promociones, encuestas, ofertas y campañas de publicidad, propias o de terceros;<br>
					(xix)	Hacerle llegar vía correo electrónico, comunicaciones relacionadas con el servicio, boletín informativo y artículos del Blog del Responsable;<br>
					(xx)	Evaluar la calidad del servicio o realizar estudios sobre hábitos de consumo.
				</p>
			</div>
		
			<p class="upper-normal">IV.	CONSERVACIÓN DE LOS DATOS.</p>
			<p>Los datos personales del Titular serán conservados por INVOLVE para la prestación de los servicios durante el tiempo que el Titular esté registrado en el Sitio y aplicación móvil, a menos que el Titular solicite la supresión de estos mediante el procedimiento establecido en el número (IX) de este Aviso.</p>
			
			<p>El responsable no solicitará de forma alguna, y el Titular no proporcionará en ningún momento al responsable, algún otro dato sensible, distinto al antes expuesto, es decir, aquellos datos personales íntimos o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para el Titular. El Titular se obliga a no proporcionar al responsable ninguna información relativa a su origen racial o étnico, estado de salud presente y/o futuro, información genética, creencias religiosas, filosóficas y/o morales, afiliación sindical, opiniones políticas y/o preferencia sexual. En caso de que el Titular proporcione datos sensibles a través de documentos subidos al sitio web y/o aplicación móvil, o por medio de los formularios, acepta y consiente que los mismos sean tratados conforme a los términos y condiciones del sitio web y a su Aviso de Privacidad, siendo obligación del Titular no proporcionar este tipo de datos en la información que sea subida al sitio web y/o aplicación móvil.</p>

			<p class="upper-normal">V.	USO A SUS DATOS.</p>

			<p><b><u>Sus Datos serán tratados para las siguientes finalidades:</u></b>

			<p>Prestación de servicios a través de su sitio de Web y/o aplicación móvil para proporcionar una plataforma para la publicación de ofertas de trabajo y búsqueda de empleo por terceros, de acuerdo con lo siguiente:</p>

			<div class="sangria-normal">
				<p>
					(i)	Creación de un perfil de reclutador;<br>
					(ii)	Contratación de los servicios ofrecidos por el Responsable;<br>
					(iii)	Emisión de la factura correspondiente;<br>
					(iv)	Realización del cargo por los servicios contratados;<br>
					(v)	Realizar el proceso de cobranza;<br>
					(vi)	Cumplimiento de los servicios contratados;<br>
					(vii)	Seguimiento y renovación de los servicios;<br>
					(viii)	Creación de perfil público de tu empresa;<br>
					(ix)	Contactarte para cualquier problema o reporte de la cuenta;<br>
					(x)	Informarte por diversos medios sobre cambios o nuevos productos;<br>
					(xi)	Identificar de forma única el comportamiento de los usuarios dentro de la plataforma;<br>
					(xii)	Agendar capacitaciones para el uso de la plataforma;<br>
					(xiii)	Brindar asesoría y soporte técnico; y<br>
					(xiv)	Emisión del contrato de servicios.
				</p>
			</div>
		
			<p class="upper-normal">VI.	PAGO Y FACTURACIÓN: </p>
			
			<p>OPENPAY, S.A. DE C.V., a través de OpenPay su relación con INVOLVE únicamente será como intermediario de todos los fondos que sean depositados a nuestra cuenta motivo de su pago, OpenPay solo proporcionará la capacidad de utilizar su Cuenta del Comercio para recibir pagos y recibir transferencias a través de su plataforma.</p>
			
			<p>OpenPay procesa todas las transacciones de Pagos a través de switch abierto de pagos y cuenta con certificación PCI y que cumple con todas las regulaciones de la Comisión Nacional Bancaria y de Valores “CNBV”, por lo que al hacer uso de este Servicio de pago, INVOLVE acepta que queda vinculado a los términos y condiciones y políticas de privacidad de Open Pay los cuales podrá encontrar en los sitios web <a href="https://www.openpay.mx/docs/terminos-servicio.html">https://www.openpay.mx/docs/terminos-servicio.html</a> y <a href="https://www.openpay.mx/docs/aviso-de-privacidad.html">https://www.openpay.mx/docs/aviso-de-privacidad.html</a>, por lo que los datos que usted nos proporciona, solo serán utilizados para cumplir con el servicio de pago y emisión de facturas como intermediario prestados por OpenPay.</p>
			
			<p><b>PAYPAL</b></p>

			<p>La relación que tiene PayPal con INVOLVE es como intermediario de pago, el reclutador sale del portal de la plataforma INVOLVE, para ingresar en PayPal con su cuenta registrada o su tarjeta para proceder con el pago y posterior a eso finaliza esa sesión y regresa a el portal de INVOLVE.</p>

			<p>Al decidir usar esta forma de pago, usted está aceptando el vínculo que INVOLVE tiene con Paypal y además reconoce que se sujeta a los términos y condiciones, así como a su aviso de privacidad de la Plataforma Paypal mismos que podrá consultar en el siguiente sitio web <a href="https://www.paypal.com/es/webapps/mpp/ua/privacy-full">https://www.paypal.com/es/webapps/mpp/ua/privacy-full</a> y <a href="https://www.paypal.com/es/webapps/mpp/ua/legalhub-full">https://www.paypal.com/es/webapps/mpp/ua/legalhub-full</a>. </p>
			<!-- aquiii ivan  -->

			<p class="upper-normal">VII.	TRATAMIENTO DE LOS DATOS Y SU NEGATIVA.</p>
			
			<p>El responsable estará facultado para dar el tratamiento a los Datos recabados, siempre y cuando este tratamiento se haga con relación a las finalidades señaladas en la Sección IV del presente Aviso de Privacidad. El responsable podrá realizar dicho tratamiento en tanto no reciba la negativa por parte del Titular.</p>

			<p>A efecto de que el Titular pueda manifestar su negativa o revocar el consentimiento para el tratamiento de sus datos personales, deberá dirigirse al responsable por medio del procedimiento establecido para el ejercicio de los Derechos ARCO (cuyo término se define más adelante), señalado en la <b>Sección IX</b> del presente Aviso de Privacidad.</p>
		
			<p>Es importante que considere que la solicitud de negativa al tratamiento de sus datos, en ciertos casos no podrá ser atendida de manera inmediata, puesto que, si subsiste una obligación legal con el responsable, éste tratara sus datos personales hasta culminar con el cumplimiento de esta. Asimismo, la revocación del consentimiento al tratamiento de sus datos implica que no se podrá continuar con la prestación de los servicios, teniendo como consecuencia la terminación de estos.</p>

			<p class="upper-normal">VIII.	TRANSFERENCIA DE DATOS.</p>

			<p>Al ser con un perfil de reclutador, el responsable no realizará transferencia alguna de los datos registrados a terceros.</p>

			<p>El responsable podrá transferir sus datos personales en los casos específicamente previstos en la Ley.</p>
		
			<p class="upper-normal">IX.	EJERCICIO DE LOS DERECHOS ARCO. </p>

			<p><b>¿En qué consisten los Derechos de ARCO? </b></p>
		
			<ol type="1">
				<li><b>Acceso. -</b>Implica conocer en todo momento sus datos personales en posesión. De INVOLVE, así como el Aviso de privacidad correspondiente.</li>
				<li><b>Rectificación. -</b>Si alguno de sus datos es inexacto o incompleto, podrá solicitar su modificación, a nuestra área jurídica legal@involverh.com adjuntando la documentación que acredite dicha corrección.</li>
				<li><b>Cancelación. -</b>Podrá requerir cuando así lo considere la cancelación de sus datos y, en caso de ser procedente, su información personal entrará en un periodo de bloqueo para proceder posteriormente a su eliminación. Al entrar a dicho periodo, su información ya no podrá ser tratada por INVOLVE.</li>
				<li><b>Oposición. -</b>Podrá en todo momento y por causa legítima objetar el tratamiento de sus datos personales. Si su solicitud resulta procedente, INVOLVE ya no podrá hacer uso de estos.</li>
			</ol>
		
			<p>El Titular tendrá derecho para solicitar al responsable en cualquier momento el acceso, rectificación, cancelación u oposición respecto de sus Datos (los "Derechos ARCO"), para lo cual deberá enviar una solicitud al Responsable, a la atención del área de <b>Protección de Datos Personales</b>, a la siguiente dirección: Río Lerma #196 BiS, Col. Cuauhtémoc o al correo electrónico: contacto@involverh.com.
		
			<p>Para ejercer los Derechos ARCO, o para revocar el consentimiento al tratamiento de los datos personales, deberá contener y estar acompañada de lo siguiente:</p>

			<div class="sangria-normal">
				<p>
					(i)	Nombre,<br>
					(ii)	Apellido paterno y materno del Titular;<br>
					(iii)	Domicilio y/o correo electrónico y/o cualquier otro medio para comunicarle la respuesta a su solicitud;<br>
					(iv)	Documentos oficiales que acrediten la identidad o, en su caso, la representación legal del Titular;<br>
					(v)	Descripción clara y precisa de los Datos respecto de los que se busca ejercer alguno de los derechos antes mencionados, incluyendo si se desea eliminar.<br>
					(vi)	Cualquier otro elemento o documento que facilite la localización de los Datos del Titular.
				</p>
			</div>
		
			<p>Una vez que el responsable reciba el escrito del Titular referente al ejercicio de sus Derechos ARCO, el responsable dentro de los 15 días hábiles tendrá que analizar, atender y enviar al Titular la respuesta correspondiente. El medio del envío de la respuesta podrá ser por la forma que indique el Titular o utilizando el mismo medio por el cual el Titular le hizo llegar el correspondiente escrito al Responsable.</p>
		
			<p class="upper-normal">X.	MAILING. </p>

			<p>Para suprimir la recepción de Mailyng publicitario, el Titular podrá realizarlo seleccionando la opción de suscribir o un subscribe que se encuentra al final de la comunicación recibida, o bien, realizando la petición al correo electrónico contacto@involverh.com con el asunto “de suscribir publicidad”.</p>
		
			<p class="upper-normal">XI.	GEOLOCALIZACIÓN.</p>

			<p>Para los efectos del presente la geolocalización será entendida como el uso de coordenadas de latitud y longitud de un dispositivo obtenidas a través de GPS o WiFi. Esta información será requerida únicamente durante el uso de la Aplicación Móvil y/o Sitio Web en cualquier dispositivo, la cual es necesaria única y exclusivamente para validar el lugar físico desde donde la persona se encuentra solicitando su alta.</p>

			<p>En caso de que el usuario no esté de acuerdo con que se recabe la geolocalización de su dispositivo, deberá denegar los permisos para acceder a la misma dentro de la Aplicación Móvil, o bien, dentro de la configuración de privacidad (en específico ubicación) de su navegador de Internet.</p>
		
			<p class="upper-normal">XI. MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS.</p>

			<p>Para limitar el tratamiento de los Datos, el Titular únicamente tendrá los medios señalados en el presente Aviso de Privacidad. Quedará a elección del Titular, acudir o solicitar vía telefónica su inscripción al Registro Público de Consumidores previsto por la Ley Federal de Protección al Consumidor, a efecto de limitar el uso de los datos personales en posesión de los particulares.</p>

			<p class="upper-normal">XII. UNIDADES DE COMUNICACIÓN.</p>

			<p>Cualquier comunicación que el Titular dirija a la responsable relacionada al presente Aviso de Privacidad, deberá realizarse a las direcciones proporcionadas para el ejercicio de los Derechos ARCO, mencionando de manera clara y precisa los siguientes datos:</p>

				<ol type="1">
					<li>Nombre</li>
					<li>Apellido paterno y Materno del Titular;</li>
					<li>Domicilio y/o correo electrónico y/o cualquier otro medio para comunicarle la respuesta a su solicitud;</li>
					<li>Documentos oficiales que acrediten la identidad o, en su caso, la representación legal del Titular; y</li>
					<li>Descripción clara y precisa del objeto de su comunicación.</li>
				</ol>
		
			<p>De la misma manera, el responsable atenderá y responderá cualquier comunicación que le sea dirigida dentro de los 20 días hábiles al haber recibido dicho escrito, ya sea en la en la misma forma en el que le hicieron llegar la comunicación o en la forma en que hubiesen indicado.</p>
		
			<p class="upper-normal">XIII. MEDIOS REMOTOS.</p>

			<p>En caso de que el Titular proporcione sus Datos a través de medios electrónicos, incluyendo el sitio web (Internet) y/o aplicación móvil del responsable, entonces el Titular entiende, acepta y reconoce que:</p>

			<p>a) El sitio web y/o aplicación móvil del responsable puede incluir enlaces a sitios web de terceros, que de accederse, ocasionará que se abandone el sitio web y/o aplicación móvil del Responsable, por lo cual el Responsable no asume ninguna responsabilidad en relación con esos sitios web de terceros.</p>

			<p>b) El sitio web y/o aplicación móvil del responsable puede incluir enlaces a sitios que administran redes sociales, en cuyo caso el Titular acepta que al proporcionar cualquier tipo de información o Datos en dichos sitios, ocasionará que la misma pueda ser leída, vista, accedida, retransmitida y tratada por cualquier persona, y por lo tanto libera de cualquier responsabilidad al Responsable.</p>

			<p>c) Es posible que los sistemas del responsable recopilen Datos del Titular tales como tipo de navegador, sistema operativo, páginas de Internet visitadas, dirección IP, etc., a través "cookies" o "web involverh.com", entre otros.</p>
		
			<p>Involve utiliza cookies, web beacons y/o Kits de Desarrollo de Software (“SDKs”) para facilitar la navegación en sus Plataformas.</p>
			
			<p>Las cookies constituyen una herramienta empleada por los servidores web para almacenar y recuperar información que se guarda en el navegador utilizado por los usuarios o visitantes del sitio web, lo que permite guardar tus preferencias personales para brindarte una mejor experiencia de navegación.</p>

			<p>Las cookies tienen fecha de caducidad, que puede oscilar desde el tiempo que dura la sesión o visita al sitio web hasta una fecha específica a partir de la cual dejan de ser operativas. Las cookies empleadas en las Plataformas se asocian únicamente con un Usuario anónimo y su equipo informático, no proporcionan referencias que permitan deducir el nombre y apellidos del Usuario, no pueden leer datos de su disco duro ni incluir virus en sus textos.</p>

			<p>Puedes configurar tu navegador para aceptar o rechazar automáticamente todas las cookies o para recibir un aviso en pantalla sobre la recepción de cada cookie y decidir en ese momento su implantación o no en tu disco duro.</p>
	
			<p>Te confirmamos que INVOLVE recaba los siguientes datos personales a través de estos medios, tales como;</p>

			<div class="sangria-normal">
				<p>
					(i)	nombre;<br>
					(ii)	Primer apellido;<br>
					(iii)	Segundo apellido; y <br>
					(iv)	correo electrónico, los cuales serán recabados por las políticas establecidas en la Política de Cookies <a href="https://www.involverh.com/cookies-policy/">https://www.involverh.com/cookies-policy/</a>
				</p>
			</div>

			<p>Para que el Titular pueda deshabilitar estos programas, deberá de acceder a las "opciones de internet" ubicadas en la sección de las "herramientas", o funciones similares, del navegador que utilice.</p>

			<p class="upper-normal">XIV. MODIFICACIONES AL AVISO DE PRIVACIDAD.</p>

			<p>INVOLVE, S.A. de C.V. modificará el presente Aviso de Privacidad las veces que considere necesarias, a petición de las autoridades competentes y/o a nuestra propia conveniencia siempre y cuando el Responsable no modifique su identidad y se requieran del Titular más datos de los aquí mencionados, se modifique el objeto del presente Aviso de Privacidad y/o cambien las condiciones.</p>

			<p>Asimismo, el Titular está conforme, en que la forma de notificar cualquier cambio a este Aviso de Privacidad, será a través de la publicación en la página de Internet <a href="https://www.involverh.com/notice-of-privacy">https://www.involverh.com/notice-of-privacy</a>, la cual es obligación del Titular visitar periódicamente con el fin de verificar la versión más actual del Aviso de Privacidad. Para los casos en que el consentimiento del Titular sea necesario por los cambios realizados al presente Aviso de Privacidad, el Responsable le hará llegar el aviso correspondiente a cualquiera de los medios de contacto que el Titular nos haya brindado; se entenderá que el Titular acepta dicho Aviso hasta que no recibamos cualquier comunicación en sentido contrario.</p>

			<p class="upper-normal">XV. ACEPTACIÓN DE LOS TÉRMINOS.</p>

			<p>Esta declaración de Privacidad está sujeta a los términos y condiciones de todos los sitios web y/o aplicación móvil del responsable antes descritos, lo cual constituye un acuerdo legal entre el Usuario y del Responsable.</p>


			<p>Si el usuario utiliza los servicios en cualquiera de los sitios y/o aplicación móvil del Responsable, registrando un perfil de candidato, significa que <b>ha leído, entendido y aceptado los términos antes expuestos</b>. Al momento de registrarse y previo al tratamiento de los datos, se pone a su disposición este Aviso de Privacidad integral, mismo que usted acepta al dar clic en el botón <b>“Crear Perfil”</b> o a través del mecanismo que se ponga a su disposición. La oposición a la aceptación del presente Aviso de Privacidad traerá como consecuencia la imposibilidad para prestar el servicio dentro de la plataforma para oferentes y demandantes de empleo. En caso de no aceptar el presente Aviso de Privacidad, no debe proporcionarnos datos personales, ni suscribirse a los sitios del Responsable.</p>
		
			<p class="upper-normal">XVI. DE LA PROTECCIÓN. </p>

			<p>La seguridad y confidencialidad de los datos que el titular nos proporcionen al registrase en la plataforma o sitio web, estarán protegidos por un servidor seguro bajo el protocolo Secure Socket Layer (SSL), de tal forma que los datos enviados se transmitirán encriptados para asegurar su resguardo.</p>

			<p>INVOLVE protege tus datos personales usando el estándar de la industria en materia de encriptación, de esta forma garantizamos que los datos que se envían desde la página de Internet lleguen seguros a nuestros servidores. Almacenamos y procesamos tu información manteniendo siempre medidas de seguridad orientadas a proteger tus datos personales.</p>

			<p>En INVOLVE contamos con procedimientos que dictan quien, y bajo qué condiciones se puede tener acceso a los datos, dando siempre la máxima prioridad a la protección de tu privacidad. Asimismo, asumimos medidas de seguridad físicas para prevenir el acceso no autorizado a nuestros sistemas e instalaciones.</p>

			<p>Para verificar que se encuentra en un entorno protegido asegúrese de que aparezca una S en la barra de navegación. Ejemplo: </p>

			<p>httpS://. Sin embargo, y a pesar de contar cada día con herramientas más seguras, la protección de los datos enviados a través de Internet no se puede garantizar al 100%; por lo que una vez recibidos, se hará todo lo posible por salvaguardar la información.</p>

			<p>Durante la prestación de los servicios, el Responsable puede hacer uso de una serie de procesos automatizados de tratamiento de sus datos a fin de brindarle servicios más personalizados, como realizar recomendaciones de ofertas laborales o educativas de acuerdo con su perfil, así como recomendación automática de perfiles laborales.</p>

			<p>El Responsable se compromete a contar con las medidas físicas, administrativas y técnicas (incluyendo técnicas como data masking) de seguridad suficientes y necesarias para garantizar que sus Datos permanezcan seguros.</p>

			<p class="upper-normal">XVII. AUTORIDAD.</p>
			
			<p>Si considera que han sido vulnerados sus derechos respecto de la protección de datos personales, tiene el derecho de acudir ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI) en <a href="https://home.inai.org.mx/">https://home.inai.org.mx/</a> .</p>

			<p>Al utilizar esta plataforma, usted está otorgando su consentimiento al Responsable para procesar sus datos personales bajo los términos de este Aviso de Privacidad.</p>

			<p>Al brindarle sus servicios, el Responsable puede hacer uso de una serie de procesos automatizados que utilizan sus datos personales y su actividad en nuestro Sitio y/o aplicación móvil con el fin de brindarle servicios más personalizados y relevantes, como brindar oportunidades de trabajo y recomendaciones de currículos a través de comunicaciones por correo electrónico y dentro del Sitio y/o aplicación móvil.</p>
	
			<p>Si tiene alguna inquietud en relación con el tratamiento o procesamiento de sus datos personales, no dude en contactarnos a legal@involverh.com</p>

			<p>Versión de este Aviso de Privacidad fue actualizada por última vez el 22 de febrero de 2022.</p>
		</div>
		<hr>
		<div class="p-3 text-center" *ngIf="isModal">
			<button *ngIf="isHeader===false" type="button" class="btn-cancel mr-3" (click)="closeModal(false)">Cancelar</button>
			<button *ngIf="isHeader===false"type="button" class="btn-ok" (click)="closeModal(true)">Aceptar</button>
			<button *ngIf="isHeader===true"type="button" class="btn-ok" (click)="closeModalHeader(true)">Aceptar</button>
		</div>
	</ng-template>

</ng-container>

<ng-container  *ngIf="isModal">
	<p  *ngIf="isHeader===false" class="d-inline-block cursor-pointer m-0"> <a class="underline" (click)="openScrollableContent(longContent)"> aviso de privacidad</a></p>
	<p  *ngIf="isHeader===true" class="d-inline-block cursor-pointer m-0"> <a class="underlineheader" (click)="openScrollableContent(longContent)"> Aviso de privacidad</a></p>
</ng-container>
