@import '../../../../../assets/scss/variables';

.close:focus { outline: none; } 
.btn-add {
  background: $P500;
  border: 0;
}

.btn-add:hover{
  background: $P600;
  border: 0;
}

input {
  width: 100%;
  padding: 2px 25px;
  border-radius: 7px;
  border: 1px solid #CFCFCF;
}

.btn-circle-mas {
  width: 2.4em;
  height: 2.4em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #ABABAB80;
  box-sizing: border-box;
  cursor: auto;
  background: #ABABAB80;
}
.btn-circle-mas:hover{
  border: solid 1px;
  border-color: $P500;
  cursor: pointer;
}

.textobtn-mas{
  font-size: 12px;
  color: #565656;
  font-weight: 600;
}

.texto {
  font-size: 16px;
  color: #565656;
}

.textoDisable {
  color: #ABABAB;
}

.modal-header {
  padding: 0.6rem 1rem;
}

.opacity{
  display: none;
}

.opacityMas{
  display: "";
}

.photo{
  border-radius: 50%;
  width: 1.48em;
  height: 1.48em;
}

.rounded-circle{
  cursor: pointer;
  &:hover{
    border: solid 1px;
    border-color: $P500;
  }
}