<ng-template #longContent let-modal>
  <form [formGroup]="formularioMasReclutadores">
    <div class="modal-header mb-3 d-flex">
      <h4 class="modal-title flex-grow-1 text-center">{{'vacantes.activas.recludador' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="!ocultar" class="row mb-4">
        <div class="flex-grow-1 pr-3">
          <ng-template #rt let-r="result" let-t="term">
            <img [src]="r['flag']" class="mr-1" style="width: 16px">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <input id="typeahead-basic" type="text" formControlName="modelReclutador" class="form-control form-control-sm px-2"
            [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
            <small *ngIf="mensaje1"
              [ngClass] ="(!bandera && banderaMostrar) ? 'opacityMas' :'opacity'"
              class="text-danger">El reclutador que desea añadir no existe</small>
              <small *ngIf="mensaje2"
              [ngClass] ="(banderaAgregado) ? 'opacityMas' :'opacity'"
              class="text-danger">El reclutador ya forma parte del equipo</small>
        </div>
        <div class="pr-0">
          <button class="badge badge-pill badge-secondary px-4 p-2 mb-2 bd-highlight btn-add Continuar "  [disabled]="formularioMasReclutadores.invalid" (click)="addReclutadorAuxiliar();">
            {{'vacantes.activas.add' | translate }}
          </button>
        </div>
      </div>
      <div class="row" style="justify-content: space-between">
        <div >
          
          <span *ngFor="let imgg of newArregloReclutadores; let i=index" >
            <h5 class="card-title tituloTabla mb-3 mt-3">
              <img *ngIf="imgg.url != ''" src="{{imgg.url}}" alt="..." class="rounded-circle mr-1 photo" >
            <span *ngIf="imgg.url != ''" class="texto">{{imgg.nombre}}</span>
            </h5>
            <h5 class="card-title tituloTabla ">
              <input *ngIf="imgg.url == ''" type="button" value="{{imgg.iniciales}}" class="rounded-circle btn-circle-mas ml-1 mr-1 textobtn-mas"
            >
            <span *ngIf="imgg.url == ''" class="texto">{{imgg.nombre}}</span>
            </h5>
            
          </span>
        </div>
        <div >
          <span *ngFor="let imgg of newArregloReclutadores; let i=index">
            <h5 class="card-title tituloTabla mb-3 mt-3">
              <img *ngIf="imgg.url != ''" src="../../../../assets/img/dashboard/vacantes/sinFotoPerfil.svg" alt="..." class="rounded-circle opacity ml-1 mr-1" style="width: 1.55em;">
              <input *ngIf="imgg.url == ''" type="button" value="{{imgg.iniciales}}" class="btn-circle-mas ml-1 mr-1 textobtn-mas opacity">
              <span  [ngClass]="{'textoDisable': imgg.tipo != null && imgg.tipo.toUpperCase()=='ENCARGADO'}" class="texto mr-1">{{imgg.tipo}}</span>
              <img *ngIf ="permission && imgg.tipo != null && imgg.tipo.toUpperCase()!='ENCARGADO' && !ocultar"  src="../../../../assets/img/general/xRoja.svg" alt="..." class="rounded-circle ml-2"
              (click)="removeRecruiter(imgg.vacantId,imgg.recruiterId,i);">
            </h5>
            
          </span>
          
        </div>
      </div>
    </div>
    
  </form>
</ng-template>

<img *ngIf="!ocultar" src="../../../../assets/img/general/circuloMas.svg" alt="..." class="rounded-circle ml-1 cursor-pointer" style="width: 1.9em;"
  (click)="openScrollableContent(longContent)">
  <input *ngIf="ocultar && reclutadoresAuxiliarres > 0 " type="button" value="+{{reclutadoresAuxiliarres}}" class="btn-circle-mas ml-1 mr-1 textobtn-mas " (click)="openScrollableContent(longContent)">