<div class="involve-modal d-flex flex-column align-items-center">
  <div class="involve-modal-header">
    <h3 *ngIf="data.create">Crear favoritos</h3>
    <h3 *ngIf="!data.create">Editar favoritos</h3>
    <i class="close" aria-hidden="true" (click)="closeModal()"></i>
  </div>
  <div class="involve-modal-body" [formGroup]="form" *ngIf="form">
    <div class="involve-modal-body-form">
      <p class="font-bold">Grupos:</p>
      <input *ngIf="data.create" type="text" formControlName="name" placeholder="Ejemplo: Contador público" />
      <input *ngIf="!data.create" type="text" formControlName="name" name="name" />
    </div>
    <div class="involve-modal-body-images">
      <p class="font-bold">Imagen de portada:</p>
      <div class="d-flex justify-content-center">
        <label *ngFor="let image of catalogImages">
          <input formControlName="imageBackground" type="radio" [value]="image?.pathImageBackground"
            (click)="sendIDimage(image?.imageId)" />
          <img [src]="image?.pathImageMiniature" alt="" />
        </label>
      </div>
    </div>
    <div class="involve-modal-body-buttons text-center">
      <button *ngIf="data.create" [disabled]="form.invalid" (click)="createGroup()" class="btn btn-block btn-green-new">
        Crear
      </button>
      <ng-container *ngIf="!data.create">
        <button [disabled]="form.invalid" class="btn btn-block btn-green-new" (click)="saveGroup()">Guardar</button>
        <button (click)="deleteGroup()" class="btn btn-white-red btn-block">
          Eliminar grupo
        </button>
      </ng-container>
    </div>
  </div>
</div>