@import "./src/assets/scss/main.scss";

.edit-header {
  font-size: 24px;
  width: 400px;
  text-align: center;
  border-bottom: 1px solid #ababab41;
}

.edit-text {
  color: #3c3c3b;
  font-size: 14px;
  margin-bottom: 5px;
  align-self: flex-start;
  margin-left: 3em;
}

.delete-group-text {
  color: #e21d1d !important;
  cursor: pointer;
  margin-top: 1em;
  text-decoration: underline;
  font-size: 13px;
}
