.into-cellphone {
    padding: 0;
    min-height: 100vh;
}
    .image-container img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        
    }
    .info-container {
        padding: 10% 5% 5% 5%;
        min-height: 100vh;
    }


.info-container__input-bandera {
    display: flex;
}
    .info-container__input-bandera--bandera {
        width: 150px;
        margin-right: 16px;
    }

.restore-title-container {
    margin-top: 32px;
}

.textBold-sm p {
    margin-bottom: 4px;
}

.btn-green {
    margin-top: 32px;
}