<div class="into-cellphone">
    <div class="row">
      
        <!-- IMG -->
      <div class="col col-lg-6 image-container">
          <img src="../../../../../assets/beautiful-young-smiling-asian-woman-working-at-home@2x.png" alt="">
      </div>

      <!-- CONTENIDO -->
      <div class="col col-lg-6 info-container">

        <!-- LOOG -->
        <svg xmlns="http://www.w3.org/2000/svg" width="104.921" height="76.675" viewBox="0 0 104.921 76.675">
            <g id="Grupo_2754" data-name="Grupo 2754" transform="translate(-89.836 -251.807)">
              <g id="Grupo_1347" data-name="Grupo 1347" transform="translate(89.836 299.858)">
                <g id="Grupo_1346" data-name="Grupo 1346" transform="translate(0 0)">
                  <path id="Trazado_4021" data-name="Trazado 4021" d="M940.115,439.543a8.5,8.5,0,0,1-4.124,4.683,8.989,8.989,0,0,1-12.545-4.53,8.259,8.259,0,0,1,4.434-10.41,8.99,8.99,0,0,1,11.915,4.09,7.677,7.677,0,0,1,.622,5H927.661a3.545,3.545,0,0,0,1.11,1.712,4.415,4.415,0,0,0,6.17-.18,1.3,1.3,0,0,1,.812-.346C937.171,439.524,938.59,439.543,940.115,439.543Zm-12.426-4.257h8.125a4.319,4.319,0,0,0-8.125,0Z" transform="translate(-835.663 -423.628)"/>
                  <path id="Trazado_4022" data-name="Trazado 4022" d="M681.109,428.088a8.862,8.862,0,0,1,8.38,6.082,8.3,8.3,0,0,1-4.746,10.046,8.962,8.962,0,0,1-11.456-3.787,8.326,8.326,0,0,1,5.463-11.968C679.519,428.269,680.321,428.209,681.109,428.088Zm4.318,8.455a4.344,4.344,0,1,0-4.319,4.44A4.361,4.361,0,0,0,685.426,436.543Z" transform="translate(-629.219 -423.351)"/>
                  <path id="Trazado_4023" data-name="Trazado 4023" d="M488.407,444.712h-4.363c0-.506,0-.982,0-1.457-.024-2.439.056-4.884-.106-7.314a3.691,3.691,0,0,0-4.736-3.434,3.945,3.945,0,0,0-2.8,3.961c-.034,2.519-.013,5.039-.015,7.559,0,.216,0,.432,0,.682H472c-.014-.147-.04-.3-.04-.451,0-2.5-.037-5,.008-7.5a8.015,8.015,0,0,1,3.907-7.2,8.178,8.178,0,0,1,12.516,6.673c.15,2.712.041,5.438.048,8.157A3.142,3.142,0,0,1,488.407,444.712Z" transform="translate(-464.145 -423.58)"/>
                  <path id="Trazado_4024" data-name="Trazado 4024" d="M567.348,431.042c1.511,0,2.968-.016,4.423.022.173,0,.408.275.5.474,1.3,2.919,2.573,5.846,3.855,8.771.088.2.182.4.319.7.123-.259.216-.443.3-.632,1.283-2.925,2.572-5.847,3.839-8.779a.767.767,0,0,1,.834-.565c1.373.033,2.747.012,4.19.012-.109.264-.177.447-.259.624q-3.444,7.381-6.883,14.764a.726.726,0,0,1-.792.523c-.858-.041-1.719.006-2.578-.026a.724.724,0,0,1-.54-.308q-3.6-7.64-7.155-15.3A1.5,1.5,0,0,1,567.348,431.042Z" transform="translate(-542.737 -425.772)"/>
                  <path id="Trazado_4025" data-name="Trazado 4025" d="M827.271,440.853c.116-.244.2-.417.282-.594,1.283-2.925,2.573-5.846,3.838-8.779a.8.8,0,0,1,.876-.6c1.356.04,2.714.014,4.166.014-.105.249-.173.425-.252.6q-3.457,7.408-6.909,14.818a.684.684,0,0,1-.747.5c-.878-.038-1.76,0-2.638-.025a.667.667,0,0,1-.5-.28q-3.606-7.669-7.175-15.354c-.023-.048,0-.115,0-.251a32.205,32.205,0,0,0,3.276-.024,1.685,1.685,0,0,1,2,1.3c1.084,2.7,2.308,5.351,3.477,8.021C827.043,440.39,827.141,440.58,827.271,440.853Z" transform="translate(-749.394 -425.632)"/>
                  <path id="Trazado_4026" data-name="Trazado 4026" d="M788.047,422.347h-4.339V401.2h4.339Z" transform="translate(-720.979 -401.2)"/>
                  <path id="Trazado_4027" data-name="Trazado 4027" d="M433.931,447.139h-4.324V431.3h4.324Z" transform="translate(-429.264 -425.993)"/>
                  <path id="Trazado_4028" data-name="Trazado 4028" d="M430.179,540.073a2.478,2.478,0,0,1-2.521-2.49,2.53,2.53,0,0,1,2.536-2.557,2.575,2.575,0,0,1,2.51,2.542A2.525,2.525,0,0,1,430.179,540.073Z" transform="translate(-427.658 -511.449)"/>
                </g>
              </g>
              <g id="Grupo_1349" data-name="Grupo 1349" transform="translate(91.87 251.807)">
                <ellipse id="Elipse_190" data-name="Elipse 190" cx="6.739" cy="6.739" rx="6.739" ry="6.739" transform="translate(24.422 0.21)" fill="#6ee3e3"/>
                <g id="Grupo_1348" data-name="Grupo 1348" transform="translate(0 0)">
                  <path id="Trazado_4029" data-name="Trazado 4029" d="M1158.232,504.788h0Z" transform="translate(-1126.654 -484.935)" fill="#6ee3e3"/>
                  <path id="Trazado_4030" data-name="Trazado 4030" d="M1153.69,461.207c-5.232-4.5-10.132-9.23-13.835-15.022a11.409,11.409,0,0,0-7.068-5.287,21.224,21.224,0,0,0-10.248-.119,9.766,9.766,0,0,0-5.809,3.551c-1.017,1.365-.786.769-3.174,3.981s-3.281,5.339-8.61,8.775-8.718,3.126-14.028,2.975c0,0-.322,0-.648-.006-8.166-.17-14.855-2.933-19.154-10a18.224,18.224,0,0,0-4.691-5.016,4.278,4.278,0,0,0-7.121,3.378c.083,4.343,2.363,7.7,5.536,10.432,5.232,4.5,10.132,9.229,13.835,15.022a11.41,11.41,0,0,0,7.068,5.287,21.221,21.221,0,0,0,10.249.119,9.766,9.766,0,0,0,5.809-3.55c1.017-1.365,1.978-2.479,3.173-3.981,2.67-3.356,4.354-5.834,8.61-8.775s8.719-3.125,14.028-2.974c0,0,.322,0,.648.006,8.166.17,14.855,2.932,19.155,10a18.236,18.236,0,0,0,4.691,5.017,4.278,4.278,0,0,0,7.121-3.379C1159.142,467.3,1156.863,463.935,1153.69,461.207Z" transform="translate(-1059.302 -440.207)" fill="#6ee3e3"/>
                  <path id="Trazado_4031" data-name="Trazado 4031" d="M1273.336,504.566h0Z" transform="translate(-1204.991 -484.781)" fill="#6ee3e3"/>
                </g>
                <ellipse id="Elipse_191" data-name="Elipse 191" cx="6.739" cy="6.739" rx="6.739" ry="6.739" transform="translate(61.011 27.169)" fill="#6ee3e3"/>
              </g>
            </g>
          </svg>

        <!-- TITULOS -->
        <div class="restore-title-container textTitle-bold">
            <h1>Agrega tu número celular</h1>
            <p>Asegúrate de cumplir con todas las características</p>
        </div>

        <!-- INPUTS -->
        <form (ngSubmit)="onSave(formCell)" #formCell="ngForm" >
          <div class="textBold-sm">
            <p>Regístra tu número de celular</p>
            <div class="info-container__input-bandera">
                <!-- <input type="image" src="" alt="" class="info-container__input-bandera--bandera"> -->
                <!-- <input ngModel type="text" name="phoneNumber" autocomplete="off" id="" placeholder="55 1234 4567" #phoneNumber="ngModel"> -->
                <input type="text"
                  ng2TelInput
                  [ng2TelInputOptions]="{initialCountry: 'mx'}"
                  (hasError)="hasError($event)"
                  (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObject($event)"
                  (countryChange)="onCountryChange($event)"
                  maxlength="10"/>
            </div>
            <div *ngIf="errorMsg">
              <small class="text-danger" minlength="10" required>Ingrese un número de 10 dígitos</small><br/>
            </div>
            <small id="passwordHelpInline" class="text-muted">
                Escribe tu número a 10 dígitos
              </small>
        </div>

        <!-- <div>
          <img [src]="url" width="18" height="14" />
        </div> -->

        <!-- BTN -->
        <div>
            <button type="submit" class="btn-green">Continuar</button>
        </div>
        </form>

      </div>

    </div>
  </div>