@import '../../../../assets/scss/variables';

.title {
  font-size: 32px;
  font-weight: 700 !important;
}

.subtitle {
  font-size: 36px;
  color: $P500 !important;
}

.text {
  font-size: 22px;
  color: $S400;
}

.plan {
    font-size: 18px;
    color: $S400;
  }

  .planSemiBold {
    font-size: 18px;
    font-weight: 600 !important;
    color: $S400;
  }


.fluid__loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.fluid__loader--animation {
  position: relative;
}

.fluid__loader--animation-loader {
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  border: 5px solid #E4EBF5;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-green {
  font-weight: bold;
}

.ic-calendar {
  margin: 32px 0;
}

@keyframes spin {
  to {
    border-top-color: #0BB9B9;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fluid__loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: auto;
}

.fluid__loader img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.fluid__loader h2 {
  text-align: center;
}

.fluid__loader p {
  text-align: center;
  line-height: 25px;
}

.fluid__loader h2 {
  margin: 30px 0;
}

.textRegularActive-lg p {
  margin-bottom: 12px;
  color: $P600;
}
