<div *ngIf="loading" class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-center fluid__loader">
    <div class="col">
      <div class="fluid__loader--animation">
        <div class="fluid__loader--animation-loader"></div>
        <img src="../../../../../assets/logo-loader.svg" alt="">
      </div>

      <h2 class="title">{{'login.step7.title' | translate}}</h2>

      <div class="textRegularActive-lg">
        <p class="subtitle">{{'login.step7.subtitle' | translate}}</p>
      </div>

      <div class="textRegular-lg">
        <p class="text">{{'login.step7.text' | translate}}</p>
      </div>
    </div>
  </div>
</div>

<app-side-nav-register *ngIf="!loading"></app-side-nav-register>
<div *ngIf="!loading" class="container d-flex justify-content-center py-5">

  <div class="row pt-4">
    <div class="col text-center">
      <!-- <img class="pb-4" src="assets/img/login/celebracion.svg" alt=""> -->
      <h1 class="title m-0" style="font-size: 40px;">{{'login.step7.welcome' | translate}}</h1>
      <h6 class="subtitle m-0 py-2" style="font-size: 26px;">{{'login.step7.yourTest' | translate}}</h6>
      <!-- <br>
      <h6 class="plan">{{'login.step7.yourPlan' | translate}}</h6>
      <h6 class="planSemiBold">{{selectedPlan}}</h6> -->

      <img class="py-2 ic-calendar" src="../../../../assets/icons/icon-date.svg" alt="">
      
      <h6 class="plan ">{{'login.step7.firtDate' | translate}} <br><span class="planSemiBold">{{dateBilling}}</span></h6>
      <br>
      <h6 class="plan">{{'login.step7.disfruta' | translate}}</h6>
      <h6 class="plan">{{'login.step7.reclutamiento' | translate}}</h6>
      <br>
      <div class="sctn-row btn-green d-flex justify-content-center align-items-center cursor-pointer" id="pay-button"
      (click)="redirectToCompany()">
      {{'commons.continuar' | translate}}
      </div>
    </div>
  </div>
</div>
