<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="container-fluid pl-0">
  <div class="card mt-6 ml-6 mr-6 borde borde-bottom px-5">
    <app-step-bar [buttonsSelected]="4"></app-step-bar>
    <div class="card-body px-0">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h5 class="col-form-label subtitulosCrearVacante font-weight-bold">¿Rompemos el hielo?</h5>
          <h6 class="mb-4">Crea un cuestionario y conoce más a los candidatos. </h6>
        </div>
        <div class="row justify-content-end" *ngIf="isAnyQuestion">
          <div class="float-right">
            <nav class="navbar navbar-expand">
              <div class="dropdown">
                <button type="button" class="px-4 py-2 border-0 bg-add" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="./../../../../../../assets/img/general/xBlanca.svg" alt="" class="badge badge-pill">
                  <span>Añadir pregunta</span>
                </button>
    
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" #idradios>
                  <h6 class="px-2">{{'vacantes.crearvacante.paso3.acercade' | translate}}</h6>
                  <div id="checkboxes">
                    <div *ngFor="let radio of arrayRadios; let indice=index" class="checkboxgroup px-2">
                      <input class="radio cursor-pointer" type="radio" name="radio" [value]="radio.value" id="radio{{indice}}"
                        (click)="idradios.click();" (change)="changeRadioMenu($any($event).target.value)" />
                      <label class="ml-1 cursor-pointer"
                        for="radio{{indice}}">{{'vacantes.crearvacante.paso3.experienciaLaboral'+indice| translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      
      <ng-container>
        <div class="row" [class.pt-5]="!isAnyQuestion">
          <div *ngIf="!hayquestions.soft && !hayquestions.hard && !hayquestions.exp" class="col-12 text-center">
            <img src="assets/img/dashboard/vacantes/iconStep4.svg" alt="">
          </div>
          <div *ngIf="!initialView || hayquestions.soft || hayquestions.hard || hayquestions.exp" class="col-12 p-0">
            <app-required-education #expLab [title]="titleExpLab" [typeQuestion]="'AREA_SPECIALTY'"
              (questions)="getExpLab($event)"></app-required-education>
            <app-required-education #hardSkill [title]="titleHardSkill" [typeQuestion]="'HARD_SKILL'"
              (questions)="getHardSkill($event)"></app-required-education>
            <app-required-education #softSkill [title]="titleSoftSkill" [typeQuestion]="'SOFT_SKILL'"
              [hideQuestion]="true" (questions)="getSoftSkill($event)"></app-required-education>
          </div>

          <div class="col-12 d-flex justify-content-center align-items-center mt-4" *ngIf="!isAnyQuestion">
            <nav class="navbar navbar-expand">
              <div class="dropdown">
                <button type="button" class="px-4 py-2 border-0 bg-add" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="./../../../../../../assets/img/general/xBlanca.svg" alt="" class="badge badge-pill">
                  <span>Añadir pregunta</span>
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" #idradios>
                  <h6 class="px-2">{{'vacantes.crearvacante.paso3.acercade' | translate}}</h6>
                  <div id="checkboxes">
                    <div *ngFor="let radio of arrayRadios; let indice=index" class="checkboxgroup px-2">
                      <input class="radio cursor-pointer" type="radio" name="radio" [value]="radio.value" id="radio{{indice}}"
                        (click)="idradios.click();" (change)="changeRadioMenu($any($event).target.value)" />
                      <label class="ml-1 cursor-pointer"
                        for="radio{{indice}}">{{'vacantes.crearvacante.paso3.experienciaLaboral'+indice| translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card border-radius-top text-right">
    <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="row navigation-footer-container">
                    <div  class="col-sm-6 text-left"> 
                      <button class="btn-prev" (click)="toBack();">{{ 'commons.anterior' | translate}}</button>
                    </div>
                    <div class="col-sm-6 text-right">
                      <a class="mr-3 guardarBorrador" (click)="saveStep4(true)">Guardar como borrador</a>
                      <button class="btn-next" (click) ="validateFields();">{{ 'commons.siguiente' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>