@import '../../../../../../assets/scss/variables';


.bg-add {
  background-color: transparent;
  display: flex;
  align-items: center;
  img{
    background-color: $P500;
    aspect-ratio: 1;
    display: inline-block;
    padding: 10px;
    width: 36px;
    margin-right: 10px;
    transform: rotate(45deg);
  }
}

.radio {
  width: 1em;
  height: 0.9em;
}

.dropdown-menu {
  min-width: 14rem;
}

.height {
  height: 40em;
}

:host{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  &>div.container-fluid{
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    &>div:nth-child(1){
      flex-grow: 1;
    }
  }
}