<div class="fluid">
    <div class="row fluid__body">

        <div class="col col-lg-6 fluid__txt">

            <!-- LOGO -->
            <img src="../../../../assets/logo-involve.svg" alt="">
              

            <!-- TXT -->
            <div class="style-txt__title style-txt__paragraph">
                <h1>¿Quieres que te ayudemos a capturar tu experiencia laboral y educación?</h1>
                <p>Prueba nuestra funcionalidad beta de carga de PDF y el sistema pasará los datos de tu experiencia laboral y educación que detecte de forma automática. </p>    
            </div>

            <!-- BTN -->
            <div class="row fluid__btn">
                <div class="col col-lg-4 style-txt__btn--outliner">
                    <button type="button" class="btn text-center">Omitir</button>
                </div>

                <div class="col col-lg-4 style-txt__btn--solid">
                    <button type="button" class="btn text-center" (click)="onClickGo()">¡Vamos!</button>
                </div>
            </div>

        </div>

        <div class="col col-lg-6">
            <div class="fluid__img-container" alt=""></div>
        </div>

    </div>
</div>