@import '../../../../../assets/scss/variables';


.header {
  background: #1C1C1B;
  color: #F2F2F2;
  font-size: 22px;
  font-weight: 500;
}

.titleHeader {
  font-size: 24px;
  color: $S600;
  font-weight: 600;
}

.title2 {
  font-size: 23px;
  color: $S600;
  font-weight: 600;
}

.container .table thead tr th {
  border: none;
}


td {
  font-size: 15px;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: $P500;
  background-color: $P500;
}

.custom-control-input:checked~.custom-control-label:focus {
  outline: none;
}

.select {
  display: inline-block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -moz-appearance: none;
}

.textTable {
  font-size: 14px;

}

.textAviso {
  font-size: 14px;
  font-weight: 600;
}

.program {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $P600;
  }
}

.firtsCard {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.secondcard {
  margin-bottom: 5em;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btnChangeBlue {
  background-color: $P600;
  border: solid 1px $P600;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P700;
    border: solid 1px $P700;
  }
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.textBody {
  font-size: 15px;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.btnDelete {
  background-color: #FDEAEA;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $E200;
    color: #FFFFFF;
  }
}

.titleModal {
    font-size: 24px;
    color: $S700;
    font-weight: 600;
    line-height: 1.1em;
  }
  
  .subtitleModal {
    font-size: 16px;
    color: $S700;
  }
  
  .input-Select {
    background-color: #fff;
    background-image: url('/assets/img/general/chevrondown.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    padding: .5em;
    padding-left: 2em;
    width: 100%;
    &:hover{
      background-image: url('/assets/img/general/chevrondown.svg');
    background-position: right;
    }
  }


@media screen and (max-width: 990px) {
  .select {
    width: 100%;
  }

}

@media screen and (min-width: 990px) {
  .inputTime {
    width: 50%;
  }
}
