<div class="card text-center firtsCard">
  <h5 class="card-header text-left header">
    {{'configuration.notifications.title' | translate}}
  </h5>
  <div class=" text-left card-body">
    <div class="container">
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th class="text-left titleHeader pl-0">{{'configuration.notifications.table.column1' | translate}}</th>
              <th><img src="assets/img/general/mail.svg" alt=""></th>
              <th><img src="assets/img/general/desktop.svg" alt=""></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows; let indice = index">
              <td class="text-left">{{row.notification.notification}}
                  <div *ngIf="row.program" class="row d-flex justify-content-start align-items-center mt-3">
                      <h5 class="mb-0 mr-3  textAviso">Avisarme cada</h5>
                      <select class="mdb-select md-form select" (change)="updateDateRow(row.notificationId,'intervalTime',$any($event).target.value);">
                        <option value="HOURS12" [selected]="row.intervalTime == 'HOURS12'">12 horas</option>
                        <option value="HOURS24"[selected]="row.intervalTime=='HOURS24'">24 horas</option>

                      </select>
                  </div>
              </td>
              <td>
                <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" [checked]="row.mail" class="custom-control-input" id="{{row.notificationId}}" (change)="updateRow(row.notificationId,'mail')">
                  <label class="custom-control-label" for="{{row.notificationId}}"></label>
                </div>
              </td>
              <td>
                <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" [checked]="row.desktop" class="custom-control-input" id="{{row.notificationId + indice}}" (change)="updateRow(row.notificationId,'desktop')">
                  <label class="custom-control-label" for="{{row.notificationId + indice}}"></label>
                </div>
              </td>
              <td>
                  <div *ngIf="row.notification.typeNotification =='VACANT_EMPTY'">
                    <span *ngIf="!row.program" class="program" (click)="updateRow(row.notificationId,'program')">Programar</span>
                    <span *ngIf="row.program" class="program" (click)="updateRow(row.notificationId,'program')">ocultar</span>
                  </div>
                  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-3 ml-auto mt-3 mr-3" style="float: right;">
        <span
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 mr-3 bd-highlight btnNewClient cursor-pointer btnCancel" (click)="openModalDiscard();">{{ 'commons.cancelar' | translate }}</span>
        <span
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChangeBlue"
         (click)="updateNotifications();">{{ 'commons.guardar' | translate }}</span>
    </div>
    </div>
  </div>
</div>

<!-- Modal modalConfirmation -->
<ng-template #modalConfirmation let-modal>
    <div class="py-3">
      <div class="modal-header d-flex justify-content-center align-items-center" style="border-bottom: 0;">
        <h4 class="modal-title titleModal text-center">{{'configuration.notifications.modal.title' | translate}}</h4>
      </div>
      <div class="modal-body p-0">
        <h4 class="modal-title subtitleModal text-center">{{'configuration.notifications.modal.text1' | translate}}</h4>
        <h4 class="modal-title subtitleModal text-center">{{'configuration.notifications.modal.text2' | translate}}</h4>
    </div>
      <div class="modal-footer" style="border-top: 0; justify-content: space-evenly;">
        <span (click)="getListNotifications();modal.dismiss('Cross click');"
          class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel">{{ 'commons.cancelar' | translate }}</span>
        <span 
          class="badge badge-pill py-1 px-3 mb-2 mt-2 btnNewClient cursor-pointer btnDelete d-flex justify-content-center align-items-center" (click)="updateNotifications();;modal.dismiss('Cross click');">
          {{ 'configuration.notifications.modal.textbtn' | translate }}</span>
      </div>
    </div>
  </ng-template>
