<div class="container-fluid">
  <form [formGroup]="formularioCondiciones">
    <div class="card text-center mt-4 ml-4 mr-4 borde borde-bottom ">
      <h5 class="card-header text-left header">Condiciones laborales
        <input type="text" id="inputOculto12" style="width: 0px;height: 0px;opacity: 0;">
        <button class="badge badge-pill btnSigArriba" (click)="onClickSubmit(); ">Siguiente</button>

      </h5>
      
      <div class=" text-left card-body">
        <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante"
          autocomplete="off">Remuneración</label>
        <div class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Sueldo neto
            <img *ngIf="iconoInfo" src="../../../../assets/img/dashboard/vacantes/info.svg"
              (mouseover)="mouseOverInfo();" alt="">
            <img *ngIf="!iconoInfo" src="../../../../assets/img/dashboard/vacantes/infoNegro.svg"
              (mouseleave)="mouseLeaveInfo();" placement="bottom-left"
              ngbTooltip="Sueldo después de impuestos" tooltipClass="my-custom-class" alt="">
          </label>
          <div class="col-sm-8">
            <select formControlName='sueldoNeto' class="form-select mdb-select md-form select" id="validaTipoSueldo" required>
              <option selected disabled value="" >Seleccionar</option>
              <option>Rango</option>
              <option>Monto exacto</option>
            </select>
            <small
              *ngIf="formularioCondiciones.controls.sueldoNeto.errors && formularioCondiciones.controls.sueldoNeto.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>

        <div [class]=" (isSalaryExactly)?'row mb-3 ml-5 mb-4 align-items-center':'row mb-3 ml-5 mb-4'">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div *ngIf="!isSalaryExactly"  class="col-sm-3">
            <p class="mb-0 subtitulosArribaEtiquetas">Minimo</p>
            <input type="email"
              autocomplete="off"
              formControlName='sueldoMinimo'
              (input) = "inputValidatorNumber($event)"
              class="form-control efectosInput"
              id="sueldoMinimo"
              placeholder="$00,000"
              (blur)="transformAmount($event, 'Sueldo Minimo')"
              [ngClass]="(formularioCondiciones.controls.sueldoMinimo.errors && formularioCondiciones.controls.sueldoMinimo.touched) ? 'is-invalid' : 'ng-invalid'">
            <small
            *ngIf="formularioCondiciones.controls.sueldoMinimo.errors && formularioCondiciones.controls.sueldoMinimo.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
          </div>
          <div class="col-sm-3">
            <p *ngIf="!isSalaryExactly" class="mb-0 subtitulosArribaEtiquetas">Maximo</p>
            <input type="email" autocomplete="off" formControlName='sueldoMaximo' class="form-control efectosInput" id="sueldoMaximo" placeholder="$00,000" (blur)="transformAmount($event, 'Sueldo Maximo')"
            [ngClass]="(formularioCondiciones.controls.sueldoMaximo.errors && formularioCondiciones.controls.sueldoMaximo.touched) ? 'is-invalid' : 'ng-invalid'">
            <small
            *ngIf="formularioCondiciones.controls.sueldoMaximo.errors && formularioCondiciones.controls.sueldoMaximo.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
          </div>
          <label for="colFormLabel" [class]="(isSalaryExactly)?'mt-2 textoEtiquetas':'mt-4 textoEtiquetas'">por mes</label>
        </div>
        <div class="ml-5 row mb-5">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8 mt-3">
            <div class="form-check form-check-inline ">
              <input class="form-check-input radio mb-4" formControlName="noMostrarSueldo" type="checkbox"
                name="inlineRadioOptions" id="checkVacante">
              <label class="form-check-label" for="inlineRadio1"><span class=" text-md-left confidencialTitulo ">No mostrar sueldo <br /> <span class=" text-md-left confidencialSubtitulo">El sueldo no se mostrará en las bolsas de trabajo
                  </span></span> </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Segunda pantalla-->
    <div class="card text-center ml-4 mr-4 borde borde-bottom ">
      <div class=" text-left card-body">
        <label for="colFormLabel" class=" ml-5 mb-4 mb-4  col-form-label subtitulosCrearVacante">Prestaciones y beneficios <br/>
          <label for="email" class="textoEtiquetas">Describa las prestaciones y beneficios:</label>
        </label>
        <div class="ml-5 row mb-3">
          <div class="container" style="padding-left:0;">
            <div class="form-group">
              <angular-editor formControlName='editorEnriquecido' [config]="config"></angular-editor>
              <small
            *ngIf="formularioCondiciones.controls.editorEnriquecido.errors && formularioCondiciones.controls.editorEnriquecido.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
              <!--[(ngModel)]="htmlContent"-->
            </div>
            <!-- <button type="submit" class="btn btn-primary">Register</button> -->
          </div>
        </div>
      </div>
    </div>

    <!--Tercer pantalla-->
    <div class="card text-center ml-4 mr-4 borde borde-bottom ">
      <div class=" text-left card-body">
        <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante">Otras condiciones</label>
        <div class="row mb-3 ml-5">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Ubicación del empleo:</label>
          <div class="col-sm-8">
            <p class="mb-0 subtitulosArribaEtiquetas">País</p>
            <select formControlName='pais' class="form-select mdb-select md-form select" id="pais" required
            [(ngModel)]="idCountry"
            (ngModelChange)="searhState()">
            <option selected disabled value="">Seleccionar</option>
            <option [value]="itemCountry.iso2" *ngFor="let itemCountry of country">{{itemCountry.nameNative}}</option>
            </select>
            <small
            *ngIf="formularioCondiciones.controls.pais.errors && formularioCondiciones.controls.pais.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <div class="row mb-3 ml-5">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div class="col-sm-6" style="padding-left: 0; display: inline-block;">
              <p class="mb-0 subtitulosArribaEtiquetas">Estado</p>
              <select formControlName='estado' class="form-select mdb-select md-form select" id="estado" required
              [(ngModel)]="idState"
              (ngModelChange)="searhMunicipio()">
                <option selected disabled value="">Seleccionar</option>
                <option [value]="itemStates.iso2" *ngFor="let itemStates of states">{{itemStates.name}}</option>
              </select>
              <small
              [ngClass]="(formularioCondiciones.controls.estado.errors && formularioCondiciones.controls.estado.touched) ? 'showElement' : 'hideElement'"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
            </div>
            <div class="col-sm-6" style="padding-right: 0; display: inline-block;">
              <p class="mb-0 subtitulosArribaEtiquetas">Municipio o alcaldía</p>
              <select formControlName='municipio' class="form-select mdb-select md-form select" id="municipio" required>
                <option selected disabled value="">Seleccionar</option>
                <option [value]="itemMunicipios.name" *ngFor="let itemMunicipios of municipios">{{itemMunicipios.name}}</option>
              </select>
              <small
              [ngClass]="(formularioCondiciones.controls.municipio.errors && formularioCondiciones.controls.municipio.touched) ? 'showElement' : 'hideElement'"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
            </div>
          </div>
        </div>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Modalidad de empleo</label>
          <div class="col-sm-8">
            <select formControlName='modalidadEmpleo' name="selectModality"  class="form-select mdb-select md-form select"> <!--[(ngModel)]="idModality"-->
              <option selected disabled value="">Seleccionar</option>
              <option [value]="itemModality.idModalidad" *ngFor="let itemModality of modalidades">{{itemModality.modalidad}}</option>
            </select>
            <small
            *ngIf="formularioCondiciones.controls.modalidadEmpleo.errors && formularioCondiciones.controls.modalidadEmpleo.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Jornada laboral</label>
          <div class="col-sm-8">
            <select formControlName='jornadaLaboral' name="selectWorkDay"  class="form-select mdb-select md-form select"> <!-- [(ngModel)]="idWorkDay" -->
              <option selected disabled value="">Seleccionar</option>
              <option [value]="itemWorkDays.idJornadaLaboral" *ngFor="let itemWorkDays of workDays">{{itemWorkDays.jornadaLaboral}}</option>
            </select>
            <small
              *ngIf="formularioCondiciones.controls.jornadaLaboral.errors && formularioCondiciones.controls.jornadaLaboral.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <div class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Horario de trabajo</label>
          <div class="col-sm-8">
            <input type="text" formControlName="horarioLaboral" class="form-control efectosInput" id="horario" autocomplete="off"
            placeholder="Ejemplo: Lunes a viernes de 9:00 a 18:00 horas"
              [ngClass]="(formularioCondiciones.controls.horarioLaboral.errors && formularioCondiciones.controls.horarioLaboral.touched) ? 'is-invalid' : 'ng-invalid'">
            <small
              *ngIf="formularioCondiciones.controls.horarioLaboral.errors && formularioCondiciones.controls.horarioLaboral.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Tipo de contrato</label>
          <div class="col-sm-8">
            <select formControlName='tipoContrato' name="selectContract"  class="form-select mdb-select md-form select"> <!--[(ngModel)]="idContract"-->
              <option selected disabled value="">Seleccionar</option>
              <option [value]="itemContract.contractId" *ngFor="let itemContract of contracts">{{itemContract.name}}</option>
            </select>
            <small
              *ngIf="formularioCondiciones.controls.tipoContrato.errors && formularioCondiciones.controls.tipoContrato.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>

        <div *ngIf="isContractDuration" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <p class="mb-0 subtitulosArribaEtiquetas">Duración del contrato</p>
            <input type="text" formControlName="contractDuration" class="form-control efectosInput" id="contractDura"
            placeholder="Ejemplo: 3 meses"
              [ngClass]="(formularioCondiciones.controls.contractDuration.errors && formularioCondiciones.controls.contractDuration.touched) ? 'is-invalid' : 'ng-invalid'">
            <small
              *ngIf="formularioCondiciones.controls.contractDuration.errors && formularioCondiciones.controls.contractDuration.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        
        <div class="ml-5 row mb-1">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">Nacionalidad del candidato</label>
          <div class="col-sm-8 mt-3">
            <div class="form-check form-check-inline ">
              <input formControlName='tiponacionalidadCandidato' class="form-check-input radio" (change)="radioChangeHandlerNacionalities($event)" type="radio" name="tiponacionalidadCandidato" id="inlineRadio1"
                value="Específica">
              <label class="form-check-label" for="inlineRadio1">Específica</label>
            </div>
            <div class="form-check form-check-inline align-items-center">
              <input formControlName='tiponacionalidadCandidato' class="form-check-input radio" (change)="radioChangeHandlerNacionalities($event)" type="radio" name="tiponacionalidadCandidato" id="inlineRadio2"
                value="Todas las nacionalidades">
              <label class="form-check-label" for="inlineRadio2">Todas las nacionalidades</label>
            </div> <br/>
            <small
              *ngIf="formularioCondiciones.controls.tiponacionalidadCandidato.errors && formularioCondiciones.controls.tiponacionalidadCandidato.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div *ngIf="isShowNationNationalities" class="col-sm-8">
            <p class="mb-0 subtitulosArribaEtiquetas">Nacionalidad</p>
            <select formControlName='nacionalidad' name="selectContract"  class="form-select mdb-select md-form select"> <!--[(ngModel)]="idContract"-->
              <option selected disabled value="">Seleccionar</option>
              <option [value]="itemNatio.nationalityId" *ngFor="let itemNatio of nacionalidades">{{itemNatio.spanishName}}</option>
            </select>
            <small
              *ngIf="formularioCondiciones.controls.nacionalidad.errors && formularioCondiciones.controls.nacionalidad.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
      </div>
    </div>
    <!--Para la barra de botones-->
    <div class="card text-right ml-4 mr-4 borde mb-5">
      <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3 ml-5">
          <div class="col-sm-12">
            <div class="row">
              <div  class="col-sm-6 text-left"> 
                <button class="badge badge-pill badge-secondary bd-highlight btnSiguiente" (click)="redirecTo('uno');" >Anterior</button>
              </div>
              <div class="col-sm-6 text-right">
                <a class="mr-3 guardarBorrador" >Guardar como borrador</a>
                <button class="badge badge-pill badge-secondary bd-highlight btnSiguiente" (click)="onClickSubmit(); ">Siguiente</button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>