<div class="fluid">

  <!-- AVATAR -->
  <div class="grid__avatar">
      <app-avatar></app-avatar>
  </div>

  <div class="row">

    <!-- ACCORDEON -->
    <div class="col col-lg-3 col-sm-12 ">
      <div class="grid__accordion">
          <app-sidebar></app-sidebar>
      </div>
    </div>

    <!-- TXT -->
    <div class="col col-lg-7 col-sm-12 fluid__top">
        <div class="forgot-info-container">
          
          <form>
            <div class="main-container personal-information"> 
              <div class="forgot-info-container" >
            
                <!-- TITLE -->
                <div class="personal-information__title">
                    <h1>¿Con qué género te identificas?</h1>
                </div>
                  
                <!-- NAME -->
                <div class="forgot-info-form personal-information__title-input">
                    <div class="info-form-inpput">
                        <p>Selecciona</p>
                        <!--<input type="text" class="form-control placeHolder" formControlName="gender"> -->
                        <select class="input-large form-control"  [(ngModel)]="selectedGenere" (change)="onChangeSeleted($event.target)">
                          <option value="AL" selected="selected">No binario</option>
                          <option value="AK">Masculino</option>
                          <option value="AZ">Femenino</option>
                        </select>
                        <div class="invalid-feedback">{{respuesta}}</div>
                    </div>
                    <small id="helpBirthday" class="form-text text-muted personal-information__title-input--helperText">
                      Queremos darte todo el respeto que mereces
                    </small>
                </div>
                
                <!-- DISEÑO VIEJO 
                <div class="forgot-info-form mb-5">
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <div class="buttons-container text-left">
                          <button class="btn-green {{botonMujer}}" (click) = "botonSeleccionado('mujer')" >Mujer</button>
                      </div>
                      </div>
                      <div class="col">
                        <div class="buttons-container text-center">
                          <button class="btn-green {{botonHombre}}" (click) = "botonSeleccionado('hombre')">Hombre</button>
                      </div>
                      </div>
                      <div class="col">
                        <div class="buttons-container text-right">
                          <button class="btn-green {{botonNobinario}}" (click) = "botonSeleccionado('nobinario')" >No binario</button>
                      </div>
                      </div>
                    </div>
                  </form>
                </div>
                
                <div class="buttons-container text-center">
                    <button class="btn-green {{botonContinuar}} Continuar" (click) = "botonSiguientePantalla()" >Continuar</button>
                </div> -->

              </div>
            </div>
            </form>
    
        </div>
    </div>

  </div>
</div>