$colors: (
  negro: #000000,
  title: #2e2e2e,
  title-input: #3c3c3b,
  border-input: #cfcfcf,
  btn-active: #0bb9b9,
);

p {
  font-weight: bold;
  margin-bottom: 0;
}

input {
  height: 48px;
}

.titulo {
  font-size: 32px;
  color: #565656;
}

.subtitulo {
  font-size: 15px;
  color: #565656;
  font-weight: 500;
}

.placeHolder {
  color: #9b9b9b;
  font-size: 15px;
}

.botonesGrises {
  background: #ffffff;
  border: solid 1px;
  border-color: #cfcfcf;
  color: #9a9a9a;
  font-size: 16px;
  min-width: 61%;
}

.botonesVerdes {
  background: #24aa3d;
  color: #ffffff;
  font-size: 16px;
  min-width: 61%;
}

.botonContinuarGris {
  border: solid 1px;
  background: #f6f6f6;
  border-color: #dddddc;
  color: #565656;
  font-size: 15px;
  font-weight: 500;
}

.botonContinuarVerde {
  background: #24aa3d;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.Continuar:hover {
  background-color: #1f9335;
}
