<div class="modal-header">
    <img class="w-25 center-img" src="../../../../assets/Grupo 1368.svg" alt="" width="80%" height="80%">
</div>
<h3 class="m-3 text-center" >Revisa los términos y condiciones</h3>
<hr>
<div class="modal-body">
    <p>Términos y condiciones de uso del servicio</p>
    <p>1. Introducción
        Esta página establece los "términos y condiciones" bajo los cuales usted acepta utilizar INVOLVE disponible online a través de cualquier dispositivo. Por favor lea esta página cuidadosamente. Si usted no está de acuerdo con los términos y condiciones establecidos aquí, no utilice este sitio de Internet, su aplicación móvil, widget, ni los servicios proporcionados por INVOLVE.</p>
    <p>
        2. Aceptación de Términos
        Al utilizar el sitio de Internet, descargar e instalar la aplicación móvil, o utilizar el Widget de INVOLVE, usted acepta obligarse a estos términos y condiciones. Los términos y condiciones pueden ser actualizados por INVOLVE en cualquier momento y sin previo aviso por lo que debe visitar ésta página periódicamente para consultar la versión más reciente de los términos y condiciones. Los términos "usted" y "usuario" según se utilizan aquí hacen referencia a todas las personas y/o entidades que acceden a este sitio de Internet, su aplicación móvil, widget o cualquier plataforma desarrollada por INVOLVE.
    </p>
    <p>
        3. Acuerdo Obligatorio
        Estos términos forman un acuerdo obligatorio entre usted y INVOLVE. INVOLVE se reserva el derecho de cambiar estas reglas en cualquier momento y sin necesidad de notificación previa. El acceso y uso a INVOLVE indica su aceptación de estos términos. Asimismo, usted acuerda utilizar INVOLVE a su propio riesgo. Tratándose de contratación electrónica de servicios, ésta se perfeccionará desde que se reciba la aceptación de la propuesta o las condiciones con que ésta fuere modificada.
    </p>
    <p>
        4. Descripción del Servicio
        El servicio que se presta a través del sitio web y aplicación móvil INVOLVE operado por TAMA CAPITALES, S.A. DE C.V . (en adelante INVOLVE) quién es su propietario, es exclusivamente proporcionar una licencia de uso limitada para que empleadores ajenos a INVOLVE redacten y publiquen ofertas de trabajo y anuncios de empleo en la plataforma, y a su vez los candidatos publiquen sus currículums en el sistema. En virtud de lo anterior, INVOLVE no es responsable por el contenido o veracidad de las publicaciones realizadas por los empleadores/reclutadores en el Sitio Web y Aplicación Móvil.
    </p>
    <p>
        5. Comunicaciones
        Queda establecido que usted entiende y acepta que el servicio puede incluir ciertas comunicaciones de INVOLVE, como mensajes administrativos, anuncios de servicio y correos transaccionales, estas comunicaciones son consideradas como parte del servicio de INVOLVE y usted no puede excluir la recepción de dichas comunicaciones.En el caso de que un usuario reciba comunicaciones de este sitio web o su aplicación móvil sin haberse registrado, o sin haber dado su consentimiento expreso a dicho registro, puede cancelar la suscripción de conformidad al procedimiento establecido en el Aviso de Privacidad de INVOLVE.
        Asimismo, la utilización de este sitio web o su aplicación móvil implica comunicaciones vía chat entre candidatos a un puesto y reclutadores, dichas comunicaciones podrían ser monitoreadas por INVOLVE a su entera discreción, por lo que no deben ser consideradas en ningún momento como comunicaciones privadas.
    </p>
    <p>
        6. Definiciones
    </p>
    <p>
        Las siguientes son definiciones de términos usadas o aplicadas a la información aquí contenida:
    </p>
    <p>
        <strong>“Recolección de datos del Candidato":</strong> Significa el proceso de obtener información (personal y/o de empleo) sobre un candidato.
    </p>
    <p>
        <strong>“Contenido":</strong> Incluye todo el texto, gráficas, diseño y programación usada en el Sitio Web. 
    </p>
    <p>
        <strong>“Diseño":</strong> Incluye las combinaciones de color y el diseño del Sitio Web y Aplicación Móvil
    </p>
    <p>
        <strong>“Empleador/Reclutador":</strong> Significa la persona física o entidad legal que ingresa al sitio web y/o aplicación móvil para colocar un anuncio de empleo o por cualquier razón está relacionada al propósito de buscar candidatos.
    </p>
    <p>
        <strong>“Gráficas":</strong> Incluye todos los logotipos, botones y otros elementos gráficos en el Sitio Web y Aplicación Móvil, con la excepción de banners de publicidad
    </p>
    <p>
        <strong>"Sitio INVOLVE "</strong> Incluye www.involverh.com en su totalidad, su aplicación móvil, así como los sitios relacionados que opera y son propiedad de TAMA CAPITALES, S.A. DE C.V. incluyendo su contenido, texto, gráficas, diseño, programación y servicios aplicables en el contexto. 
    </p>
    <p>
        <strong>“Candidato":</strong> Significa un usuario que accede al Sitio Web y Aplicación Móvil para buscar un empleo y que no es un empleador.
    </p>
    <p>
        <strong>“Programación":</strong> Incluye códigos de ambos lados del cliente (HTML, JavaScript, etc.) y el código del servidor (Páginas activas del servidor, VBScript, Bases de Datos, etc.) usadas en el Sitio Web.
    </p>
    <p>
        <strong>“Servicios":</strong> Significa cualquier servicio proporcionado por TAMA CAPITALES, S.A. DE C.V., sus agentes o miembros.
    </p>
    <p>
        <strong>“Texto":</strong> Incluye todo el texto en cada página del Sitio Web y Aplicación Móvil, ya sea editorial, de navegación en la página o instruccional.
    </p>
    <p>
        <strong>“Terceras partes":</strong> Incluye cualquier persona o entidad no especificada directamente en este acuerdo.
    </p>
    <p>
        <strong>“Usuario":</strong> Se refiere a cualquier individuo o entidad que utilice cualquier aspecto del Sitio Web y Aplicación Móvil.
    </p>
    <p>
        <strong>“Usted":</strong> Significa la persona (o la entidad representada por la que se está actuando) que está aceptando estos términos y condiciones.
    </p>
    <p>
        7. Reglas de Uso General del Sitio INVOLVE y Aplicación Móvil
        El portal y aplicación móvil están previstos para individuos que buscan trabajo y para empleadores o reclutadores que buscan candidatos para ofrecerles empleo. Usted debe usar este Sitio Web y Aplicación Móvil con intenciones legítimas y de acuerdo con las indicaciones de uso dictadas por TAMA CAPITALES, S.A. DE C.V., INVOLVE es la única entidad que interpretará el uso aceptable del Sitio Web y Aplicación Móvil.
    </p>
    <p>
        8. Licencia de uso para empleadores/reclutadores
        INVOLVE otorga, durante la vigencia de los servicios contratados, una licencia de uso revocable, de responsabilidad limitada, terminable y con derechos de no exclusividad para accesar y usar el Sitio Web, Widget (previa contratación) y Aplicación Móvil de INVOLVE para el uso interno del empleador/reclutador en la búsqueda de candidatos para ofrecerles empleo. Esto le autoriza al empleador/reclutador a ver el material del Sitio Web y Aplicación Móvil con el único propósito de buscar y reclutar candidatos. INVOLVE se reserva el derecho de suspender temporal o definitivamente sus claves de acceso o dar por terminado su contrato si se determina que existe un incumplimiento de cualquiera de estos términos y condiciones. Usted no podrá comercializar ni revender en forma alguna los servicios o porciones de éstos. 
        INVOLVE otorga al empleador/reclutador contratante del servicio una clave de usuario administrador, cuyo titular será responsable de la existencia y veracidad de la información de las subcuentas generadas, así como por el uso que dichas claves den al servicio contratado.
    </p>
    <p>
        9. Transferencia de datos personales
        De conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente en México, INVOLVE es responsable transferente y el empleador/reclutador se convierte en responsable receptor, por lo que, en cumplimiento con las disposiciones de la materia, el empleador/reclutador al contratar el servicio, se obliga a:
    </p>
    <ul class="p-4">
        <li>
            Mantener la confidencialidad de los datos personales, utilizándolos únicamente para efectos de reclutamiento y selección de personal y con ningún otro propósito.
        </li>
        <li>
            No transferir a ningún tercero, datos personales que recibe en su calidad de responsable receptor, salvo por lo dispuesto en el artículo 70 de reglamento de LFPDPPP.
        </li>
        <li>
            Garantizar que solo sus empleados tendrán acceso a los datos transferidos y que ninguno de ellos dará un tratamiento distinto al de reclutamiento y selección de personal.INVOLVE se deslinda de cualquier responsabilidad presente o futura, que surja del uso no convenido de los datos personales que le han sido transferidos a los empleadores/reclutadores, por lo que en caso de contravenir estas disposiciones se obligan a sacar en paz y a salvo a INVOLVE, pagando los daños y perjuicios causados por esta situación.
        </li>
    </ul>
    <p>
        10. Licencia de uso para Candidatos
    </p>
    <p>
        INVOLVE otorga un acuerdo de responsabilidad limitada, terminable y con derechos de no exclusividad para accesar y usar el Sitio Web y Aplicación Móvil para el uso personal en la búsqueda de oportunidades de empleo para usted mismo. Esto le autoriza a usted a ver el material del Sitio Web y Aplicación Móvil solamente para su uso personal y no para uso comercial con fines de lucro.
    </p>
    <p>
        El uso del Sitio Web y Aplicación Móvil es un privilegio. INVOLVE se reserva el derecho de suspender o terminar este privilegio por cualquier razón y en cualquier momento.
    </p>
    <p>11. Otras Reglas Particulares de Uso del Sitio Web y Aplicación Móvil</p>
    <p>
        Usted representa, garantiza y acepta que usted no usará (o planeará, motivará o ayudará a otros a usar) el Sitio Web y Aplicación Móvil para cualquier otro propósito o que en cualquier manera esté prohibido por los términos aquí mencionados o los que sean aplicables por ley. Es su responsabilidad asegurar que usted use el Sitio Web y Aplicación Móvil de acuerdo con los términos y condiciones aquí especificados.
    </p>
    <p>
        12. Reglas de Publicación, Conducta y Seguridad
    </p>
    <p>
        Usted acepta cumplir con las reglas de INVOLVE para la Publicación de Anuncios, de Conducta y de Seguridad en este Sitio Web y Aplicación Móvil. Los usuarios que violen dichas reglas tendrán el uso y el acceso del sitio y aplicación suspendido o cancelado a discreción exclusiva de INVOLVE. Las reglas de Conducta, Publicación y Seguridad son como se describe a continuación:
    </p>
    <p>
        12.1 General
    </p>
    <p>
        La información de contacto de INVOLVE está listada en el Sitio Web y Aplicación Móvil. INVOLVE y sus agentes asociados no asumen responsabilidad de que el contenido del sitio web y aplicación móvil sea apropiado fuera de la República Mexicana. El acceso al contenido del sitio web y aplicación móvil puede no ser legal para ciertas personas o en ciertos países. Si usted tiene acceso al contenido del sitio web y aplicación móvil fuera de la República Mexicana, lo hace bajo su propio riesgo y es responsable por el cumplimiento de las leyes dentro de su jurisdicción. 
        El Usuario se compromete a utilizar el Sitio Web y Aplicación Móvil de conformidad con la ley, estos Términos y Condiciones, así como con la moral y buenas costumbres generalmente aceptadas y el orden público. INVOLVE excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a los servicios prestados por terceros a través del Sitio Web y Aplicación Móvil, y en particular, aunque no de modo exclusivo por los daños y perjuicios que puedan deberse al incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o de orden público como consecuencia de la prestación de servicios por terceros a través del Sitio Web y Aplicación Móvil; la infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la prestación de servicios por terceros a través del sitio web y aplicación móvil; la realización de actos de competencia desleal y publicidad ilícita como consecuencia de la prestación de servicios por terceros a través del sitio web y aplicación móvil, la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos transmitidos, difundidos, almacenados, recibidos, obtenidos, puestos a disposición o accesibles mediante los servicios prestados por terceros a través del sitio web y aplicación móvil; el incumplimiento, retraso en el cumplimiento, cumplimiento defectuosos o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados con terceros en relación o con motivo de la prestación de servicios a través del sitio web y aplicación móvil; los vicios y defectos de toda clase de los servicios prestados a través del sitio web y aplicación móvil. Usted no debe asignar o transferir sus obligaciones bajo estos términos, estas condiciones constituyen todo el contrato entre usted y INVOLVE con respecto al uso del sitio web y aplicación móvil. INVOLVE se reserva el derecho a denegar o retirar el acceso al Sitio Web y Aplicación Móvil, en cualquier momento y sin necesidad de preaviso, a aquellos usuarios que incumplan estos Términos y Condiciones.
    </p>
    <p>
        12.2 Reglas de Publicación para Empleadores/Reclutadores
    </p>
    <p>
        A. El material que redacte y publique en el Sitio Web y Aplicación Móvil no debe contener:
    </p>
    <ul class="p-4">
        <li>Hipervínculos, hiperenlace, ligas o direcciones URL’s que no estén previamente contratados e incluidos en nuestro “Paquete de Direccionamiento" en tal caso, los enlaces deben ir dirigidos exclusivamente al sitio con el dominio de la página principal (Home Page) de usted, la empresa contratante, o cualquier variante de ese dominio, tal como son directorios y subdirectorios.</li>
        <li>No debe publicar simultáneamente el mismo anuncio de empleo.</li>
        <li>Publicación de diversos perfiles en el mismo anuncio de empleo.</li>
        <li>No está permitida la publicación de varios anuncios de empleo con un solo crédito.</li>
        <li>Publicidad para ferias o eventos de reclutamiento.</li>
        <li>Datos de contacto fuera del espacio establecido para tal finalidad, en particular correos electrónicos y números telefónicos (WhatsApp) o cualquier otro medio de contacto.</li>
        <li>Datos personales sensibles.</li>
        <li>Descripciones discriminatorias o que tengan por intención menoscabar los derechos y libertades de las personas.</li>
        <li>Invitaciones para acudir a eventos de reclutamiento masivo y/o ferias de empleo</li>
        <li>Material que requiera derechos de autor (a menos que se tengan los derechos y/o el permiso del autor para su publicación).</li>
        <li>Información confidencial o secretos corporativos (a menos que se tengan los derechos y/o el permiso del autor para su publicación).</li>
        <li>Material que infrinja cualquier otro derecho de autor o viole la privacidad o los derechos de publicación de otros.</li>
        <li>Cualquier material que sea sexualmente explícito, obsceno, difamatorio, amenazante, acosador, abusivo, dañino.</li>
        <li>Cualquier cosa que sea embarazosa u ofensiva para otra persona o entidad.</li>
        <li>Solicitud de servicios personales.</li>
        <li>Trabajos que sean pagados solamente por comisión.</li>
        <li>Trabajos que no paguen por lo menos el salario mínimo diario.</li>
        <li>Trabajos que requieran que el candidato, o empleado, haga una inversión de capital o pago.</li>
        <li>Trabajos que requieran que el candidato, o empleado, vaya a un entrenamiento no pagado para ser contratado.</li>
        <li>Ningún otro lenguaje que no sea el Español o el Inglés.</li>
    </ul>
    <p>
        B. Usted NO deberá usar su (s) Material (es) para:
    </p>
    <ul class="p-4">
        <li>Representar a otra persona, viva o muerta.</li>
        <li>Publicar información falsa, imprecisa o engañosa que atraigan a los candidatos con el fin de obtener información personal o de empleo que él o ella no divulgarían si la intención de dicho anuncio fuera previamente conocida por el candidato.</li>
        <li>Anuncios Publicitarios o pedidos de negocios (incluyendo, posiciones para empresas de tipo multinivel, franquicias, clubes de membresías, distribución de productos, o cualquier otra que requiera inversión monetaria por parte del usuario).</li>
        <li>Publicar cadenas de cartas o esquemas piramidales.</li>
        <li>Publicar opiniones o noticias, anuncios comerciales, promoción de cursos y/o de productos.</li>
        <li>Recolectar información masiva de candidatos.</li>
    </ul>
    <p>
        C. Su(s) material(es) deben contener suficientes detalles para transmitir claramente al usuario la naturaleza y requerimientos de la oportunidad de trabajo, o las calificaciones como un candidato para el empleo (datos biográficos completos, datos propios verídicos).
    </p>
    <p>
        D. Materiales de terceros que requieran una cuota o restrinjan de alguna forma el acceso a la información del currículo están prohibidos.
    </p>
    <p>
        E. INVOLVE mantendrá un cuidado razonable para asegurar la calidad de su Sitio Web y Aplicación Móvil, sin embargo, no es su obligación monitorear los materiales publicados. INVOLVE podrá monitorear los materiales publicados en forma aleatoria.
    </p>
    <p>
        F. Es responsabilidad directa de los empleadores/reclutadores que la redacción de anuncios de empleo publicados a través del Sitio Web y Aplicación Móvil de INVOLVE esté apegada a la ley de acuerdo con la jurisdicción del país al que corresponde, dependiendo de la localidad en la cual se encuentra el anuncio de empleo. En particular es de suma importancia cumplir con las obligaciones antidiscriminatorias que establece la legislación y no restringir el acceso al empleo en virtud de origen étnico o nacional, el color de la piel, la cultura, el sexo, el género, la edad, las discapacidades, la condición social, la condición económica, las condiciones de salud, la condición jurídica, la religión, la apariencia física, las características genéticas, la situación migratoria, el embarazo, la lengua, las opiniones, las preferencias sexuales, la identidad o filiación política, el estado civil, la situación familiar, las responsabilidades familiares, el idioma, los antecedentes penales o cualquier otra que atente contra la dignidad humana y tenga por objeto anular o menoscabar los derechos y libertades de las personas, lo que podría constituir una conducta que tiene el efecto de anular el ejercicio de sus derechos y la igualdad real de oportunidades con respecto al resto de los y las demás aspirantes a ocupar un empleo.INVOLVE en todo momento pone a disposición de los candidatos las herramientas necesarias para poder postularse a todos los anuncios de empleo a través del Sitio Web y Aplicación Móvil, sin hacer distinción alguna entre los candidatos.
    </p>
    <p>
        G. Los empleadores/reclutadores son quienes de manera directa agregan a los anuncios de empleo a través del Sitio Web y Aplicación Móvil de INVOLVE, el título, localidad, tipo de empleo y correo electrónico de cada vacante, motivo por el cual INVOLVE no realizará cambio alguno en dichos campos derivado de errores involuntarios de los empleadores/reclutadores.
    </p>
    <p>
        H. Al darse de alta en el Sitio Web y Aplicación Móvil de INVOLVE, los empleadores/reclutadores serán los responsables de registrar correctamente los datos de la cuenta (incluyendo denominación o razón social, nombre comercial, RFC, etc.), mismos que serán utilizados para la emisión de la factura correspondiente, así como para publicar los datos de la empresa dentro de cada vacante. Para la realización de cambios en dichos datos, INVOLVE requerirá la documentación legal correspondiente a efecto de evaluar si dicho cambio procede o no. La publicación de anuncios básicos contendrá la razón social, mientras que los anuncios destacados podrán, a elección de los empleadores/reclutadores, mostrar el nombre comercial.
    </p>
    <p>
        I. Los anuncios de empleo, identidades y test conductuales adquiridos en el Sitio Web y Aplicación Móvil de INVOLVE tendrán la vigencia que se señale al momento de su compra, por lo que deberán ser consumidos durante dicho periodo. Una vez concluida su vigencia no serán reembolsables y/o acumulables.
    </p>
    <p>
        Los Materiales que sean encontrados y violen las Reglas de Publicación mencionadas anteriormente serán removidos a criterio exclusivo de INVOLVE, sin necesidad de notificación previa y sin posibilidad de reposición y/o devolución de los montos pagados.
    </p>
    <p>
        12.3 Reglas de Conducta:
    </p>
    <ul class="p-4">
        <li>Usted no puede responder a publicaciones a nombre de otros usuarios de ninguna manera y para ningún otro propósito que el esperado (ejemplo, para aplicar al trabajo o para iniciar una discusión con referencia al trabajo). Comunicaciones solicitando el negocio del empleador están prohibidas.</li>
        <li>Usted no puede enviar correos electrónicos comerciales a los usuarios.</li>
        <li>Reporte publicaciones o conducta inapropiada a: contacto@involverh.com</li>
        <li>Usted no puede borrar o revisar ningún material publicado por ninguna otra persona o entidad.</li>
    </ul>
    <p>
        Si en cualquier momento durante el término del presente contrato INVOLVE se entera que usted lo ha engañado en cuanto a su práctica de negocios y/o servicios, y/o ha comprado servicios que no representan precisamente su negocio, INVOLVE se reserva el derecho de terminar el presente contrato y su uso de privilegios inmediatamente sin previa notificación y sin derecho a reembolso.
    </p>
    <p>
        INVOLVE no tiene obligación de monitorear la conducta de sus usuarios, pero se compromete a investigar y responder cuando se reporten violaciones a los términos aquí mencionados.
    </p>
    <p>
        12.4 Reglas de Seguridad:
    </p>
    <p>
        A. Los usuarios tienen prohibido violar o atentar contra la seguridad del Sitio Web y Aplicación Móvil, incluyendo, sin limitación:
    </p>
    <ul class="p-4">
        <li>Accesar datos que no sean previstos para ese usuario o ingresar a un servidor o cuenta en la cual el usuario no esté autorizado para accesar. Si usted tiene una contraseña que le permita acceso a un área no pública de este sitio web o su aplicación móvil, no podrá divulgar o compartir su contraseña con terceros o utilizar su contraseña para cualquier fin no autorizado.</li>
        <li>Atentar, explorar o probar la vulnerabilidad del sistema o de la red o tratar de traspasar la seguridad o las medidas de autenticación sin autorización previa;</li>
        <li>Atentar e interferir con el servicio de cualquier usuario, servidor o red, (host, network) a través del envío de un virus al Sitio Web o Aplicación Móvil, u otros actos como sobrecarga (overloading, flooding);</li>
        <li>Enviar e-mails no solicitados, incluyendo promociones y/o publicidad de productos o servicios;</li>
    </ul>
    <p>
        B. INVOLVE no se hace responsable por la información, en particular por los datos personales que los candidatos envíen de manera directa a los empleadores/reclutadores a través de medios ajenos a la plataforma de INVOLVE, como correo electrónico, whats app o vía telefónica.
    </p>
    <p>
        C. La violación a estas Reglas de Seguridad puede resultar en responsabilidad administrativa, civil o criminal. INVOLVE investigará los casos que puedan presentar dichas violaciones e implicará, y cooperará con las respectivas autoridades en el proceso jurídico de los usuarios que estén implicados en esas violaciones.
    </p>
    <p>
        13. Opiniones y/o Comentarios:
    </p>
    <p>
        Los comentarios y opiniones expresadas en los apartados disponibles son formulados por personas ajenas a INVOLVE, bajo su única y exclusiva responsabilidad. Todas las personas que accedan a este sitio web y su aplicación móvil asumen la calidad de usuarios, y por ende se comprometen a la observancia y cumplimiento de estas disposiciones. Los participantes de dichos espacios se comprometen a utilizar los mismos en conformidad con la ley, estas condiciones generales, así como con la moral y buenas costumbres generalmente aceptadas. INVOLVE se exime de cualquier tipo de responsabilidad derivada de la información, opiniones, comentarios, ideas u otros contenidos realizados por los visitantes en su sitio web y aplicación móvil. Las opiniones realizadas por los usuarios en este sitio web y aplicación móvil no podrán contener elementos obscenos y/o insultos, ni información que supongan una vulneración de derechos de terceros y, en particular, de su honor, intimidad o propia imagen. Tampoco se permitirán comentarios que fueren difamatorios, injuriosos, calumniosos, obscenos, amenazadores, discriminatorios, o bien que inciten a la violencia. INVOLVE no es responsable de la veracidad y exactitud de las opiniones expresadas en el sitio web y aplicación móvil por los usuarios, quedando exentos de cualquier responsabilidad contractual o extracontractual con la persona o empresa que haga uso de ellos. Se prohíbe el envío de cualquier contenido u opinión que vulnere la legislación vigente y/o derechos legítimos de otras personas. Asimismo, INVOLVE se reserva el derecho de admitir o dar de baja a cualquier usuario, así como de omitir, suprimir o editar parcial o totalmente, sin previo aviso y sin ningún tipo de responsabilidad con los usuarios, todos aquellos contenidos o comentarios que considere inadecuados o vayan contra la ley y/o las buenas costumbres. INVOLVE recomienda a los usuarios no colocar en las publicaciones datos personales como nombre, números de teléfono, direcciones físicas o emails. Los comentarios realizados por los usuarios en general pasan a formar parte del sitio web y aplicación móvil de INVOLVE, por lo que los usuarios otorgan a INVOLVE y a sus afiliadas un derecho no exclusivo sobre los mismos, libre de regalías, perpetuo e irrevocable para usar, reproducir, modificar, y publicar su contenido por cualquier medio y para cualquier fin, no obstante, dichos comentarios no son ni serán responsabilidad de INVOLVE, si no de los usuarios que los realizan. INVOLVE no estará obligado en ningún caso a evaluar, editar o monitorear el contenido publicado en el sitio web y aplicación móvil o por los usuarios, por lo que no se responsabiliza ni asume responsabilidad alguna sobre el contenido publicado o cargado por los usuarios o por algún tercero, ni por errores, difamación, calumnias, exposiciones, falsedades o profanidades que pudiesen ser publicadas en el sitio web o su aplicación móvil. Para la participación de los usuarios en el sitio web y aplicación móvil será requerido el correo electrónico, mismo que será tratado bajo los términos establecidos en el Aviso de Privacidad de INVOLVE.
    </p>
    <p>
        14. Derechos de Propiedad Intelectual:
    </p>
    <p>
        El Sitio Web, Aplicación Móvil y todos sus derechos, título e intereses son propiedad única de TAMA CAPITALES, S.A. DE C.V., y se encuentran protegidos por las leyes mexicanas de derechos de autor y de los tratados internacionales. A excepción de las licencias de uso limitado expresamente otorgadas a usted en estos términos, INVOLVE se reserva para el mismo y sus licenciatarios todos los derechos, títulos e intereses, sin límite de propiedad en lo aquí mencionado usted no puede reproducir, modificar, mostrar, vender o distribuir el contenido, o usarlo en cualquier otra forma para uso público o comercial. Esto incluye copiar o adaptar código HTML usado para generar páginas Web en el Sitio Web y Aplicación Móvil. El logotipo de INVOLVE y otros nombres y logotipos son marcas de servicio y marcas registradas de TAMA CAPITALES, S.A. DE C.V., y todos los productos y nombres de servicio, diseño de marcas y slogans publicitarios son marcas registradas de INVOLVE. Adicionalmente, “apariencia" (look and feel) del Sitio Web y Aplicación Móvil (incluyendo la combinación de colores, forma de los botones, diseño y otros elementos gráficos) están protegidos por el registro de marca de INVOLVE y sus derechos de autor. Todas las demás marcas contenidas en el Sitio Web y Aplicación Móvil son marcas registradas de sus respectivos propietarios.
    </p>
    <p>
        15. Limitación de responsabilidad de INVOLVE:
    </p>
    <p>
        INVOLVE no asume ninguna responsabilidad por materiales publicados en el Sitio Web y Aplicación Móvil por los usuarios y no tiene responsabilidad por sus actividades, omisiones o conducta de los usuarios. Las ofertas de trabajo son publicadas por cada Empleador/Reclutador, por lo que INVOLVE no asume responsabilidad alguna de los anuncios en el Sitio Web y Aplicación Móvil.
    </p>
    <p>
        Por ningún motivo los servicios prestados por INVOLVE deben entenderse como servicios conocidos como outsourcing, agencia de colocación, manejo de nóminas, ni ningún servicio similar, por lo que INVOLVE no puede ser considerado por ningún medio o forma como patrón sustituto en términos de la Ley Federal del Trabajo vigente en los Estados Unidos Mexicanos. 
    </p>
    <p>
        Los anuncios de empleo publicados en el sitio web y aplicación móvil, y las relaciones individuales de trabajo que puedan derivar de ellas, son exclusiva responsabilidad de la persona que lleva a cabo su publicación, motivo por el cual, cualquier persona que publique un anuncio de empleo, libera desde este momento y en el futuro a INVOLVE de cualquier responsabilidad derivada de la Ley Federal del Trabajo vigente en los Estados Unidos Mexicanos.
    </p>
    <p>
        Asimismo, INVOLVE no es responsable por los servicios educativos y de capacitación prestados por terceros con los que INVOLVE tiene convenios de colaboración, por lo que cualquier reclamación deberá ser realizada de manera directa con el proveedor del servicio educativo.
    </p>
    <p>
        INVOLVE no será responsable por las fallas presentadas en la realización de pagos mediante plataformas de terceros, por lo que toda aclaración referente a este tema deberá ser canalizada de manera directa a la empresa encargada de llevar a cabo dicha transacción.
    </p>
    <p>
        Adicionalmente deberá considerarse que según el medio de pago utilizado para la contratación de servicios, éstos podrán no estar disponibles sino hasta 36 horas hábiles posteriores a la realización del pago correspondiente.
    </p>
    <p>
        16. Exclusión de Anexos por INVOLVE:
    </p>
    <p>
        Nada en el Sitio Web y Aplicación Móvil debe ser considerado un anexo, representación o garantías con respecto a cualquier usuario o un tercero, ya sea en relación con el Sitio Web, a sus productos, servicios, contrataciones, experiencia, empleo, prácticas de reclutamiento u otras.
    </p>
    <p>
        17. Exclusión de Garantías y de responsabilidad:
    </p>
    <p>
        INVOLVE no es una agencia de empleos, y no tiene ninguna representación ni garantiza la efectividad o el tiempo en la obtención de empleo para los usuarios. INVOLVE no garantizan los materiales publicados en este sitio web y su aplicación móvil por usuarios que resulten candidatos contratados o por puestos por cubrir y no es responsable de ninguna decisión sobre un empleo, por cualquier razón hecho por cualquier usuario.
    </p>
    <p>
        18. Exclusión de errores y precisión de los materiales publicados en el Sitio Web y Aplicación Móvil:
    </p>
    <p>
        INVOLVE no garantiza la veracidad, exactitud, vigencia o confiabilidad de ninguno de los materiales publicados por los usuarios, o por cualquier otra forma de comunicación que sea comprometida por los usuarios. Los materiales pueden contener inexactitudes o errores tipográficos. Usted acepta que cualquier consecuencia en materiales publicados por los usuarios, o en cualquier otra forma de comunicación con los usuarios, será a su propio riesgo. Adicionalmente INVOLVE no garantiza el contenido del Sitio Web y Aplicación Móvil, incluyendo responsabilidad limitada hacia ligas que no funcionen, inexactitudes o errores tipográficos.
    </p>
    <p>
        19. EXCLUSIÓN DE GARANTÍAS:
    </p>
    <p>
        El sitio web, la aplicación móvil y todo su contenido es proveído “como- es" sin garantías de ninguna clase, expresas o implícitas. la empresa y sus agentes asociados, hasta donde lo permita la ley, limita la responsabilidad de todas las garantías, incluyendo pero no limitando la garantía de comercialización, idoneidad para un propósito específico y no infracción. La empresa y sus agentes asociados no ofrecen garantías acerca de la precisión, confiabilidad, integridad u oportunidad del contenido del sitio de internet, servicios, software, texto, gráficas y vínculos. INVOLVE y sus agentes asociados no garantiza que el sitio va a operar libre de errores o que el sitio, la app y sus servidores están libre de virus informáticos u otros mecanismos dañinos. Si su uso del sitio web y su aplicación móvil resulta directa o indirectamente en la necesidad de remplazar equipos o datos o realizar servicios, INVOLVE y sus agentes asociados no son responsables por los costos asociados con dichos reemplazos y/o servicios.
    </p>
    <p>
        20. Ligas a otros sitios:
    </p>
    <p>
        INVOLVE y sus agentes asociados contienen ligas o hipervínculos a Sitios de terceros. Estás ligas son proporcionadas para conveniencia de Usted y los contenidos no son avalados por INVOLVE.
    </p>
    <p>
        INVOLVE no es responsable por el contenido de esos sitios ni por la exactitud de sus materiales. Si usted decide accesar a esos sitios es bajo su responsabilidad.
    </p>
    <p>
        21. Widget:
    </p>
    <p>
        La interfaz de usuario de INVOLVE podrá estar disponible de forma no exclusiva para los Empleadores/Reclutadores a través del Widget de INVOLVE (previa contratación), el cual se le pedirá sea añadido a su sitio web.
    </p>
    <p>
        La inserción del Widget de INVOLVE en su sitio web implica la aceptación de estos Términos y Condiciones de uso. El código de instalación del Widget de INVOLVE le será proporcionado con la única finalidad de acceder e instalar el Widget de INVOLVE en su sitio web, por lo que deberá abstenerse de utilizarlo para cualquier otro propósito.El Widget y su código de instalación es propiedad exclusiva de Widget, por lo que Usted no podrá copiar, alterar, modificar, mejorar, desmontar, traducir, descompilar o aplicar ingeniería inversa al Widget o código de instalación provistos por Widget. Asimismo, no podrá duplicar, vender, rentar o prestar el Widget de Widget o su código de instalación a ningún otro tercero.
    </p>
    <p>
        Los anuncios de empleo publicados por los Empleadores/Reclutadores en el sitio de Widget se podrán ver reflejados en sitios de terceros con los que Widget tiene suscrito contrato para la prestación del servicio de Widget.
    </p>
    <p>
        22. Notificaciones:
    </p>
    <p>
        El uso de la plataforma Widget implica la aceptación a la recepción de notificaciones para los usuarios mediante diversos medios, tales como notificaciones de escritorio, vía WhatsApp o SMS, a través de correo electrónico, o cualquier otro medio con el cual sea posible contactar al usuario con la información proporcionada en el Sitio Web.
    </p>
    <p>
        23. Enmiendas a este acuerdo y Cambios al Sitio Web:
    </p>
    <p>
        Widget podrá revisar estos términos en cualquier momento y actualizar su contenido. Cualquier uso del Sitio Web y Aplicación Móvil se considerará como aceptación de usted de los términos aquí mostrados. Si en cualquier momento usted encuentra los términos inaceptables, usted no deberá usar este Sitio Web y Aplicación Móvil. Cualquier término nuevo o diferente proporcionado por usted será específicamente rechazado por INVOLVE. 
    </p>
    <p>
        INVOLVE podrá realizar cambios a estos términos sin previo aviso.INVOLVE, se reserva el derecho de modificar o descontinuar, temporal o permanentemente, los Servicios o cualquier otra característica que forme parte de estos, así como su modelo de negocio sin previo aviso. Usted acepta que INVOLVE no será responsable por ninguna modificación, suspensión, cambio de modelo o interrupción de los Servicios o cualquier parte de los mismos. En caso de cambio de modelo de los Servicios INVOLVE otorgará al usuario el equivalente de servicios en el nuevo modelo.
    </p>
    <p>
        24. Indemnización de INVOLVE:
    </p>
    <p>
        Usted acepta defender, indemnizar y declarar exenta de responsabilidad a la Empresa y sus agentes asociados, sus funcionarios, directores, empleados y agentes, frente y contra cualquier reclamación, acción judicial o demanda, incluido sin limitaciones los daños, costos legales y contables derivados o resultantes de cualquier alegato resultado o en conexión con su uso del Sitio Web y Aplicación Móvil, de cualquier material publicado por usted o por cualquier incumplimiento a éstos términos. INVOLVE le informará de la existencia de tales reclamaciones, demandas o procedimientos judiciales y le asistirá, a su costo, en la defensa de tales reclamaciones, demandas o procedimientos judiciales.
    </p>
    <p>25. Terminación:</p>
    <p>
        INVOLVE y sus agentes asociados se reservan el derecho, a su entera discreción, a perseguir todos los remedios legales, incluyendo, sin limitación, la eliminación de sus publicaciones en este Sitio Web, la terminación inmediata de claves de acceso a este Sitio Web y/o cualesquier otros servicios que le brinde la empresa y sus agentes asociados, debido a cualquier incumplimiento suyo a estos términos y condiciones de uso o si la empresa es incapaz de verificar o autentificar cualquier información que usted presente al sitio de Internet u otros registros; En caso de cancelación del servicio por estas causas INVOLVE ni sus agentes asociados harán ningún reembolso de cantidades pagadas por la terminación del servicio.
    </p>
    <p>
        26. Información del usuario:
    </p>
    <p>
        El Aviso de Privacidad de INVOLVE incorpora este acuerdo.
    </p>
    <p>
        27. Contacto y preguntas:
    </p>
    <p>
        Preguntas acerca del uso de este Sitio Web y Aplicación Móvil deberán ser dirigidas al correo electrónico. contacto@involverh.com
    </p>
</div>