<div class="forgot-info-form mb-4">
  <div class="info-form-inpput">
      <p class="{{mb}}">{{textoParrafo}}</p>
      <select class="mdb-select md-form select">
        <option value="" disabled selected>{{placeHolder}}</option>
        <option *ngFor="let pais of arrayObjetos; index as i;" value="index">{{pais}}</option>
      </select>
     
  </div>
</div>