<div class="section bg-involve-light pt-4">
	<div class="container-fluid cards-container" cdkDropListGroup>
		<div class="row">
			<div *ngFor="let item of itemsFavorites">
				<div class="inv-card p-0" draggable [dragData]="item" droppable
					(onDrop)="onItemDrop($event,item.listFavorite, item.permission)">
					<div class="col-xs p-0 m-0 d-flex">
						<div class="inv-card-image" style="background-image: url({{item.listFavorite.image?.pathImageBackground}});"
							(click)="openItem(item, item.permission)"></div>
						<div class="inv-card-icon" (click)="openEditDialog(item.listFavorite)" *ngIf="item.permission">
							<img src="./assets/icons/icon-pencil-edit-gray.svg" class="edit-icon" />
						</div>
						<div class="inv-card-icon" *ngIf="!item.permission" (click)="beEditor(item.listFavorite.listFavoriteId)">
							<i class="fa fa-plus add-icon" aria-hidden="true"></i>
						</div>
					</div>
					<div class="inv-card-body">
						<p class="inv-card-body-title m-0" [title]="item.listFavorite.title"
							(click)="openItem(item, item.permission)">{{item.listFavorite.name | truncate}}
						</p>
					</div>

					<div class="col-12 inv-card-footer ">
						<p class="inv-card-footer-date text-center m-0">
							<img class="inv-card-footer-date-icon" src="./assets/icons/icon-wall-watch.svg" /> {{
							item.listFavorite.creationDate |
							date :"d 'de' MMMM, y"}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>