@import "./src/assets/scss/main.scss";

.cards-container {
    padding: 0px 40px;
}
.inv-card {
    background-color: $S50;
    border-radius: 10px;
    text-align: center;
    border: none;
    box-shadow: 0 1px 6px #ababab80;
    margin-bottom: 48px;
    float: left;
    position: relative;
    height: auto;
    min-height: 192px;
    width: 220px;
    margin-right: 30px;
    cursor: move;

    &:hover {
        box-shadow: 0 1px 6px $T300;
        cursor: pointer;
    }
    &-contain {
        margin-right: 40px;
    }
    &-image {
        width: 80%;
        height: 98px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 10px;
    }
    &-icon {
        position: absolute;
        right: 5px;
        top: 4px;
        color: $ABA;
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: 0.3s all ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: $E4E4;
            border-radius: 50%;
            color: $S700;
        }
    }
    &-body {
        border: none;
        margin: 6px 25px 12px;
        min-height: 38px;
        &-title {
            color: $S400;
            font-weight: 700;
            text-align: center;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 1.1;
        }
    }
    &-footer {
        border: none;
        justify-self: end;
        &-date {
            color: $S200;
            font-size: 12px;
            text-transform: lowercase;
            display: flex;
            justify-content: center;
            &-icon {
                width: 9px;
                margin-right: 3px;
            }
        }
        &-buttons {
            margin: 8px 0;
            .btn {
                margin: 0;
                &:nth-child(odd) {
                    margin-right: 8px;
                }
            }
        }
    }
}

.cdk-drop-list {
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0.3;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
