<div class="row">
  <h5 *ngIf="languagesData.length > 0" class="titleEducation text-left mb-3">
    Idiomas
  </h5>
  <div class="col-md-6 col-lg-6 pb-3">
    <div *ngFor="let language of languagesData" class="">
      <h3 class="labelBorder"> {{language.language.spanish_name}} - {{language.level| lowercase}}</h3>
    </div>
  </div>