$colors: (
  blanco: #ffffff,
  negro: #000000,
  title: #2E2E2E,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9,
  registrar: #0AA8A8,

  style-txt-title: #707070
);

input {
    height: 48px;
}

p {
    margin-bottom: 4px;
    margin-top: 32px;
}

.fluid {
    margin: 3%;
}
.fluid__avatar {
    position: absolute;
    top: 3%;
    right: 2%;
}
.fluid__inputs {
    margin-bottom: 100px;
}
    .form-group select {
        height: 48px;
    }

.fluid__btn {
    display: flex;
    padding: 0;
}
    .style-txt__btn--solid-exp button {
        width: 80px;
        background-color: #0BB9B9;
        color: #ffffff;
        border-radius: 20px;
        text-align: center;
        height: 35px;
        margin-right: 100px;
    }

    .style-txt__btn--outliner-exp button {
        width: 80px;
        border: 1px solid #707070;
        color: #707070;
        border-radius: 20px;
        margin-right: 24px;
        text-align: center;
        height: 35px;
    }

.fixed-bottom {
    border-top: solid 1px map-get($colors, style-txt-title);
    padding: 24px;
    background-color: map-get($colors, blanco);
}

.fluid__logo--btn {
    display: flex;
    justify-content: space-between;
}