<div class="fluid">

    <!-- AVATAR -->
    <div class="fluid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

        <!-- LOGO -->
        <div class="col col-lg-12">
            <div class="fluid__logo">
                <img src="../../../../../assets/logo-involve.svg" alt="">
            </div>
        </div>

        <!-- INPUTS -->
        <div class="col col-lg-6 offset-lg-3 fluid__inputs">

            <!-- TITLE -->
            <div class="textTitle-regular32">
                <h2>Experiencia laboral</h2>
            </div>

            <!-- PUESTO -->
            <div class="textBold-sm">
                <p>Puesto</p>
                <input type="text" placeholder="UX Lead">
            </div>

            <!-- TIPO DE PUESTO -->
            <div class="textBold-sm">
                <div class="form-group">
                    <p for="exampleFormControlSelect1">Tipo de puesto</p>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Selecciona</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>

            <!-- EMPRESA -->
            <div class="textBold-sm">
                <p>Empresa</p>
                <input type="text" placeholder="Empresa">
            </div>

            <!-- PUESTO -->
            <div class="textBold-sm">
                <p>Fecha de inicio</p>
                <input type="text" placeholder="UX Lead">
            </div>

            <!-- SIGUES AHÍ -->
            <div class="textBold-sm">
                <p>¿Sigues trabajando ahí?</p>
                <div class="fluid__btn">

                    <div class="style-txt__btn--solid-exp">
                        <button type="button" class="btn text-center" disabled>Si</button>
                    </div>

                    <div class="style-txt__btn--outliner-exp">
                        <button type="button" class="btn text-center">No</button>
                    </div>
                    
                </div>
            </div>

            <!-- GENTE AHÍ -->
            <div class="textBold-sm">
                <p>¿Tenías gente a tu cargo?</p>
                <div class="fluid__btn">

                    <div class="style-txt__btn--solid-exp">
                        <button type="button" class="btn text-center" disabled>Si</button>
                    </div>

                    <div class="style-txt__btn--outliner-exp">
                        <button type="button" class="btn text-center">No</button>
                    </div>
                    
                </div>
            </div>

            <!-- CUANTOS -->
            <div class="textBold-sm">
                <p>¿Cuántos?</p>
                <input type="text" placeholder="3 humanos">
            </div>

            <!-- FUNCIONES -->
            <div class="textBold-sm">
                <p>¿Qué funciones desarrollaste?</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Pertenezco a un squad multidisciplinario global donde soy líder del área UX. El objetivo es desarrollar la experiencia para personas morales que les permita controlar y predecir las finanzas de su negocio con ayuda de un portal y app administrativa que está aún en desarrollo."></textarea>
            </div>

        </div>

        <!-- BTN -->
        <div class="col col-lg-12 fixed-bottom">
            <div class="fluid__logo--btn">
                <div class="style-txt__btn--outliner">
                    <button type="button" class="btn text-center">Regresar</button>
                </div>

                <div class="style-txt__btn--solid">
                    <button type="button" class="btn text-center" disabled>Guardar</button>
                </div>
            </div>
        </div>

    </div>
</div>