@import '../../../../../assets/scss/variables';

.background{
background: $F100;
}
ul.stepper.horizontal .step .step-title::before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

ul.stepper.horizontal .step:nth-of-type(1) .step-title {
  &:before {
    content: "\f007";
  }
}

ul.stepper.horizontal .step:nth-of-type(2) .step-title {
  &:before {
    content: "\f004";
  }
}

ul.stepper.horizontal .step:nth-of-type(3) .step-title {
  &:before {
    content: "\f005";
  }
}

.bs-stepper .step-trigger {
  padding-bottom: 0;
}
.oculta{
  display: none;
}

.stepperInline {
display: inline-block;
}

.scrol-content{
  overflow-y: scroll;
  scroll-behavior: smooth;
  //height: 45em;
  height: 100%;
}

.active .bs-stepper-circle {
  background-color:$P500;
  color: #FFFFFF;
  border: none;
}

.bs-stepper-circle{
  border:solid 1px #565656;
  background-color:#F3F3F2;
  color: #565656;
}

.vl {
  border-left: 6px solid green;
  height: 5%;
}

.full{
  background-color: #3C3C3B;
  border-color: #3C3C3B;
  color: #F6F6F6;
}

.container-fluid  {
  margin-left: 0px !important;
  padding-left: 0px !important;
  &>.row{
    min-height: calc(100vh - 50px);
  }
}

.col-9 {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.btn-green{
  min-width: unset;
}