<app-main-navbar [mainNavData]="mainNavData" (eventClick)="openModal(content)"></app-main-navbar>

<app-sidenav-vacantes [showMainNavVacancy]="false" [ocultarEntrada]="'ocultar'" [showStatus]='false'>
</app-sidenav-vacantes>

<div class="container-fluid background p-0">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 p-0">
      <router-outlet name="vacancy"></router-outlet>
    </div>
    <div class="col-md-2 d-none d-sm-none d-md-block">
      <div tooltip="" class="involve-tooltip">
        <div class="row">
          <div class="col tooltip-info empty"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="involve-modal">
    <div class="involve-modal-header">
      <h4 class="titulo">¿Está seguro de que quiere salir?</h4>
      <i class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </div>
    <div class="involve-modal-body text-center">
      <p>Si no guarda la vacante como borrador los cambios en este paso y los anteriores se perderán</p>
    </div>
    <div class="involve-modal-footer d-flex justify-content-center align-items-center">
      <app-modal-guardar></app-modal-guardar>
      <button type="button" class="ml-4 btn btn-green" (click)="goBack()">Salir</button>
    </div>
  </div>
</ng-template>