<div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
        <h3>Para combinar forma parte de ambos grupos</h3>
        <i class="close" aria-hidden="true" (click)="closeModal()"></i>
    </div>

    <div class="involve-modal-body">
        <div class="involve-modal-body-buttons d-flex justify-content-center align-items-center text-center">
            <button class="btn btn-green-new" (click)="closeModal()">Entendido</button>
        </div>
    </div>

</div>