<div class="main-container">
  <div class="unknown-error-container w-50 text-center">
    <div class="error-header text-right mb-4">
      <img src="../../../assets/cerrar.svg" alt="">
    </div>
    <img class="mb-5" src="../../../assets/Grupo 498.svg" alt="">
    <h1 class="mb-5">Algo salio mal, tecnicamente</h1>
    <p class="pb-5">Gracias por darte cuenta, vamos a arreglarlo</p>
  </div>
</div>