.main-container{
  width: 100%;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 15%;
  .unknown-error-container{
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 20px;
    padding: 2% 5%;
  }
}