<div class="fluid">

    <!-- AVATAR -->
    <div class="fluid__avatar">
        <app-avatar></app-avatar>
    </div>
    
    <div class="row">

        <!-- LOGO -->
        <div class="col col-lg-12">
            <div class="fluid__logo">
                <img src="../../../../../assets/logo-involve.svg" alt="">
            </div>
        </div>

        <div class="col col-lg-12">
            <div class="fluid__title textRegular-md18">
                <p>Ayunados  a validar que tu información laboral y académica es correcta</p>
            </div>
        </div>

        <!-- TITLE EXP -->
        <div class="textBold-md18 col col-lg-12">
            <p>Experiencia laboral </p>
        </div>
        
        <!-- CARD EXP -->
        <div class="fluid__card col-lg-3 col-md-6 col-sm-12">

            <!-- CARD -->
            <div class="card">
                <div class="card-body">

                    <!-- IMG -->
                    <div class="fluid__card--cheked">
                        <img src="../../../../../assets/icons/icon-cheked-disable.svg" alt="">
                    </div>

                    <!-- TXT -->
                    <div class="fluid__card--txt">
                        <p>Puesto</p>
                        <p>Empresa</p>
                        <p>Años</p>
                    </div>

                    <!-- MENU DOT -->
                    <div class="fluid__card--menu dropdown">
                        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../../../../../assets/icons/icon-menu-dot.svg" alt="">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- TITLE EDUCATION -->
        <div class="textBold-md18 col col-lg-12">
            <p>Experiencia laboral </p>
        </div>
        
        <!-- CARD EDU -->
        <div class="fluid__card col-lg-3 col-md-6 col-sm-12">

            <!-- CARD -->
            <div class="card">
                <div class="card-body">

                    <!-- IMG -->
                    <div class="fluid__card--cheked">
                        <img src="../../../../../assets/icons/icon-cheked-disable.svg" alt="">
                    </div>

                    <!-- TXT -->
                    <div class="fluid__card--txt">
                        <p></p>
                        <p>Institución</p>
                        <p>Años</p>
                    </div>

                    <!-- MENU DOT -->
                    <div class="fluid__card--menu">
                        <button class="btn">
                            <img src="../../../../../assets/icons/icon-menu-dot.svg" alt="">
                        </button>
                    </div>

                </div>
            </div>
        </div>

        
        <!-- BTN -->
        <div class="col col-lg-12 fixed-bottom">
            <div class="fluid__logo--btn">
                <div class="style-txt__btn--outliner">
                    <button type="button" class="btn text-center">Regresar</button>
                </div>

                <div class="style-txt__btn--solid">
                    <button type="button" class="btn text-center" disabled>Terminar</button>
                </div>
            </div>
        </div>

    </div>
</div>