$colors: (
    blanco: #ffffff,
    negro: #000000,
    title: #2e2e2e,
    subtitle: #525252,
    title-input: #3c3c3b,
    border-input: #cfcfcf,
    btn-active: #0bb9b9,
    registrar: #0aa8a8,
    style-txt-title: #707070,
    style-background-card: #f6f6f6,
);

.fluid {
    margin: 3%;
}
.fluid__avatar {
    position: absolute;
    top: 3%;
    right: 2%;
}
.fluid__title {
    margin-top: 48px;
}

.textRegular-md18 p {
    font-size: 18px;
    color: map-get($colors, negro);
    font-weight: normal;
}

.textBold-md18 p {
    font-size: 18px;
    color: map-get($colors, title-input);
    font-weight: bold;
    margin-top: 16px;
}

.fixed-bottom {
    border-top: solid 1px map-get($colors, style-txt-title);
    padding: 24px;
}

.fluid__logo--btn {
    display: flex;
    justify-content: space-between;
}

/********** CARD ***********/
.card {
    position: relative;
    background-color: map-get($colors, style-background-card);
    border: none;
    margin-bottom: 24px;
}
.card-body p {
    margin-bottom: 0px;
}

.fluid__card--cheked {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.fluid__card--txt {
    transform: translate(50px, 0);
    margin-right: 32px;
}
.fluid__card--menu {
    position: absolute;
    top: 8px;
    right: 8px;
}
