h1 {
  margin-bottom: 0;
}

.main-container{
  .login-image-container{
      padding: 0;
      min-height: 100vh;
      .image-container{
          width: 100%;
          height: 100%;
          background-image: url('../../../../assets/female-worker-consulting-client-phone@2x.png');
          background-size: cover;
          background-position: center;
      }
      .image-container-candidate{
          width: 100%;
          height: 100%;
          background-image: url('../../../../assets/successful-businessman-in-casual-celebrating-his-victory-and-raising-arms@2x.png');
          background-size: cover;
          background-position: center;
      }
  }
  .login-info-container{  
      padding: 5% 10%;
      min-height: 100vh;
  }
}



.olvide { 
  font-weight: 600 !important 
}
.registrar {
  transition: all .2s ease-in-out;
  font-weight: 600 !important;
}
.registrar:hover { transform: scale(1.1); }

@media screen and (max-width: 990px) {
  .main-container .login-image-container{
      display: none;
  }
}

.btn-disabled {
  background-color: #DDDDDC;
  color: #000;
}

.msngError {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.titulo {
  font-size: 22px;
  font-weight: 600;
}


  .forgot-info-container{
      padding: 5%;
      margin: 0 auto;
  }


.buttons-container button, a {
  font-weight: bold;
}