
<form autocomplete="off" [formGroup]="formRegister">
<div class="main-container row"  *ngIf="!isCorrect">
  
  <div class="login-image-container col-lg-6">
      <div class="image-container"></div>
  </div>
  <div class="login-info-container col-lg-6">
      <div class="login-info-header text-left mb-5">
          <img src="../../../../assets/logo-involve.svg" class="cursor-pointer" routerLink="/login" alt="">
      </div>
      <div class="login-info-title w-75 pt-1">
          <h1  style="font-weight: 700 !important; font-size: 32px;">{{'login.step1.title' | translate}}</h1>
      </div>
      <div class="login-info-form mb-5">
          <h2 class="mb-5" style="font-size: 16px;">{{'login.step1.subtitle' | translate}}</h2>
          <h2 style="font-weight: 700 !important;font-size: 22px;">{{'login.step1.subtitle1' | translate}}</h2>
          <div *ngIf="inputPassword" (click)="inputPassword = false">
              <img src="../../../../assets/img/login/flecha-hacia-arriba.svg" alt="">
              <p class="olvide d-inline-block ml-2 text-green">{{userEmail}}</p>
          </div>
          <div *ngIf="!inputPassword" class="info-form-input">
              <p class="mb-1"><b>Correo electrónico</b></p>
              <input [(ngModel)]="userEmail"
              class="form-control"
              formControlName="email"
              [ngClass]="{'is-invalid': !emailCorrect}"
              type="email" placeholder="usuario@dominio.com"
              (input)="emailCorrect = true"
              (focus)="changeInput();">
              <small *ngIf="formRegister.controls.email.errors && formRegister.controls.email.touched && formRegister.get('email')?.hasError('required')" class="text-danger">
                {{'login.step1.error1' | translate}}
              </small>
              <small *ngIf="formRegister.get('email')?.hasError('pattern')" class="text-danger">
                {{'configuration.profile.emailNovalid' | translate}}
              </small>
              <div *ngIf="emailError" class="msngError"> {{ respuestaEmail }} </div>
          </div>
      </div>
      <div class="buttons-container row pt-4">
          <button *ngIf="!inputPassword" class="btn-green col-lg-6" (click)="validateMailRegister()">{{'commons.continuar' | translate}}</button>
          <button *ngIf="inputPassword" class="btn-green col-lg-6" >{{'login.step1.logIn' | translate}}</button>
          <a class="col-lg-6 text-right d-flex justify-content-center align-items-center"  routerLink="/login">{{'login.step1.logIn' | translate}}</a>
      </div>
  </div>
</div>
</form>

<!-- Revisa tu email -->
<div class="register-container col-lg-12 justify-content-center" style="margin-top:5%" *ngIf="isCorrect">
  <app-screen-confirm
      titulo="¡Tienes un email!"
      img="../../../../assets/icons/icon-letter-open.svg"
      sento ="Enviar"
      msg="login">
  </app-screen-confirm>
</div>

