@import './../../../../assets/scss/variables';
.team-container {
    .recruiters-container {
        label {
            width: 100%;
        }
        button {
            width: 46px;
            background-color: $S500;
            aspect-ratio: 1;
            border-radius: 50%;
            border: none;
            .b {
                stroke: #FFFFFF;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
            &:hover {
                background-color: $P600;
            }
            &[disabled] {
                background-color: $F100;
                .b {
                    stroke: $S300;
                }
            }
        }
    }
    .recruiter {
        background-color: $P200;
        border-radius: 5px;
        display: flex;
        padding: 10px;
        margin-bottom: 5px;
        p {
            flex-grow: 1;
            margin-bottom: 0;
        }
        button {
            background-color: transparent;
            border: none;
        }
    }
    .involve-button {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.subTitle {
    font-size: 22px;
    font-weight: 700;
}

.btnModal {
    background-color: $S500;
    color: #FAFAFA;
    &:focus {
        box-shadow: none;
    }
}

.moda-body-bold {
    font-weight: bold;
}

.modal-footer button {
    font-weight: bold;
    margin-bottom: 24px;
}

button:disabled {
    border-color: #F8F8F8;
    font-weight: bold;
}