<app-side-nav-register></app-side-nav-register>
<div class="container justify-content-center py-5">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <div class="description container mb-5">
                    <h1 class="title">
                        {{'login.step8.title' | translate}}
                    </h1>
                    <h1 class="title">
                        {{'login.step8.subtitle' | translate}}
                    </h1>
                </div>
                <div class="team-container text-left">
                    <form class="row mb-4 recruiters-container" [formGroup]="recruitersForm" (ngSubmit)="recruitersFormSubmit()">
                        <div class="col p-0">
                            <div class="row mb-4 justify-content-center">
                                <div class="col-12 col-md-6">
                                    <input formControlName="email" type="text" placeholder="Escribe su correo electrónico aquí" [ngClass]="{'border-danger': hasFormFieldError('email', recruitersForm)}">
                                    <small class="" *ngIf="isEmailFieldValid">ENTER para añadir el correo</small>
                                    <small class="float-right text-danger" *ngIf="hasFormFieldError('email', recruitersForm, 'required')">{{'commons.requerido' | translate}}</small>
                                    <small class="float-right text-danger" *ngIf="hasFormFieldError('email', recruitersForm, 'email')">{{'configuration.profile.emailNovalid' | translate}}</small>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-center" [ngClass]="{'mt-3 mb-5': recruitersArray.length > 0}">
                        <div class="col-12 col-md-6">
                            <div class="recruiter" *ngFor="let recruiter of recruitersArray; let i = index;">
                                <p>{{recruiter.email}}</p>
                                <button (click)="removeRecruiter(i)">
                                  <img src="/assets/img/general/x.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row d-flex justify-content-center pb-4">
                        <div class="col-3">
                            <button [disabled]="recruitersArray.length == 0" class="involve-button badge badge-pill w-100 py-2" (click)="sendInvitation();">{{'login.step8.aply' | translate}}</button>
                        </div>
                        <div class="col-3">
                            <button class="involve-button secundary badge badge-pill py-2 w-100" (click)="openModal(content);">{{'commons.omitir' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header border-0">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body px-5">
        <p>{{'login.step8.textModal' | translate}} <span class="moda-body-bold">{{'login.step8.textConfiguration' | translate}}</span></p>
    </div>
    <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btnModal w-50" (click)="updateStep()">{{'commons.continuar' | translate}}</button>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>