<!-- <ng-container
  *ngIf="questionsClosed.controls.length > 0 || questionsOpen.controls.length > 0 || questionsExp.controls.length > 0">
  <hr class="my-4">
  <h6 class="font-weight-bold">{{title}}</h6>
</ng-container> -->
<form [formGroup]="formrequeriments">
  <ng-container formArrayName="questions" *ngFor="let question1 of questionsClosed.controls; let indice=index">
    <div [formGroupName]="indice" class="mt-4 mb-4">
      <div class="row py-2 bg-institution mt-2">
        <!--Para las preguntas cerradas -->
        <div class="col-12 col-sm-12 px-0">
          <div class="col-12 px-0">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 px-0">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="row flex-grow-1">
                    <div class="col">
                      <select class="form-select mdb-select md-form select" formControlName="select" id="area"
                        (focus)="clickTypeQuestion($any($event).target.value);"
                        (change)="changeTypeQuestion($any($event).target.value,indice,question1.value.text);">
                        <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                        <option value="CERRADA">Cerrada</option>
                        <option value="ABIERTA">Abierta</option>
                        <option *ngIf="typeQuestion != 'SOFT_SKILL'" value="EXPERIENCIA">Años de experiencia</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-2 flex-grow-1">
                    <div class="col">
                      <span
                      class="badge py-1 d-flex justify-content-center align-items-center overflow-auto bg-Habilidad">
                      <h6 *ngIf="typeQuestion == 'AREA_SPECIALTY'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral0'| translate}}</h6>
                      <h6 *ngIf="typeQuestion == 'HARD_SKILL'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral1'| translate}}</h6>
                      <h6 *ngIf="typeQuestion == 'SOFT_SKILL'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral2'| translate}}</h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-8 p-0 d-flex align-items-start">
                <div class="flex-grow-1">
                  <input type="text" class="form-control flex-grow-1" formControlName="text"
                    [ngClass]="(questionsClosed.controls[indice].touched && questionsClosed.controls[indice].value.text == '') ? 'is-invalid' : 'ng-invalid'"
                    (focusout)="changeRadio();">
                  <div class="row mt-2">
                    <label>
                      Preferencia:
                    </label>
                    <label *ngFor="let radio of radiosArray"
                      class="label-radio d-flex justify-content-center align-items-center mx-2">
                      <input class="radio" formControlName="radios" [id]="indice" type="radio" [value]="radio.value"
                        (change)="changeRadio();"><span class="textSpan">{{radio.displayText}}</span></label>
                    <div class="custom-control custom-checkbox flex-grow-1 text-right">
                      <input [attr.id]="'excluyente' + indice" type="checkbox" class="custom-control-input"
                        formControlName="excluyente" (change)="changeRadio();">
                      <label class="custom-control-label subTituloCard etiquetaCard"
                        [attr.for]="'excluyente' + indice">{{'commons.excluyente' | translate}}</label>
                    </div>
                  </div>
                </div>
                <img class="cursor-pointer xscale my-2 mx-3" src="/assets/img/general/logos/basura.svg" alt="..."
                (click)="deleteQuetion(indice,'questions');">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container formArrayName="questionsOpen" *ngFor="let question1 of questionsOpen.controls; let indice=index">
    <div [formGroupName]="indice">
      <div class="row py-2 bg-institution mt-3">
        <div class="col-12 col-sm-12 px-0">
          <div class="col-12 px-0">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 px-0">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="row flex-grow-1">
                    <div class="col">
                      <select class="form-select mdb-select md-form select" formControlName="selectOpen" id="area"
                        (focus)="clickTypeQuestion($any($event).target.value);"
                        (change)="changeTypeQuestion($any($event).target.value,indice,question1.value.text);">
                        <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                        <option value="CERRADA">Cerrada</option>
                        <option value="ABIERTA">Abierta</option>
                        <option *ngIf="typeQuestion != 'SOFT_SKILL'" value="EXPERIENCIA">Años de experiencia</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-2 flex-grow-1">
                    <div class="col">
                      <span
                      class="badge py-1 d-flex justify-content-center align-items-center overflow-auto bg-Habilidad">
                      <h6 *ngIf="typeQuestion == 'AREA_SPECIALTY'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral0'| translate}}</h6>
                      <h6 *ngIf="typeQuestion == 'HARD_SKILL'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral1'| translate}}</h6>
                      <h6 *ngIf="typeQuestion == 'SOFT_SKILL'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral2'| translate}}</h6>
                      </span>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-8 p-0 d-flex align-items-start">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" formControlName="text"
                    [ngClass]="(questionsOpen.controls[indice].touched && questionsOpen.controls[indice].value.text == '') ? 'is-invalid' : 'ng-invalid'"
                    (focusout)="changeRadio();">
                </div>
                <img class="cursor-pointer xscale my-2 mx-3" src="/assets/img/general/logos/basura.svg" alt="..."
                  (click)="deleteQuetion(indice,'questionsOpen');">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container formArrayName="questionnExp" *ngFor="let question1 of questionsExp.controls; let indice=index">
    <div [formGroupName]="indice" class="mt-4 mb-4">
      <div class="row py-2 bg-institution mt-3 px-0">
        <div class="col-12 col-sm-12 px-0">
          <div class="col-12 px-0">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 px-0">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="row flex-grow-1">
                    <div class="col">
                      <select class="form-select mdb-select md-form select" formControlName="selectExp" id="area"
                        (focus)="clickTypeQuestion($any($event).target.value);"
                        (change)="changeTypeQuestion($any($event).target.value,indice,question1.value.text);">
                        <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                        <option value="CERRADA">Cerrada</option>
                        <option value="ABIERTA">Abierta</option>
                        <option *ngIf="typeQuestion != 'SOFT_SKILL'" value="EXPERIENCIA">Años de experiencia</option>
                      </select>
                    </div>
                  </div>
                  <!--  -->
                  <div class="row mt-2 flex-grow-1">
                    <div class="col">
                      <span
                      class="badge  py-1 d-flex justify-content-center align-items-center overflow-auto bg-Habilidad">
                      <h6 *ngIf="typeQuestion == 'AREA_SPECIALTY'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral0'| translate}}</h6>
                      <h6 *ngIf="typeQuestion == 'HARD_SKILL'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral1'| translate}}</h6>
                      <h6 *ngIf="typeQuestion == 'SOFT_SKILL'" class="mb-0">{{'vacantes.crearvacante.paso3.experienciaLaboral2'| translate}}</h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-8 p-0 d-flex align-items-start">
                <div class="row flex-grow-1">
                  <input type="text" class="form-control" formControlName="text"
                    [ngClass]="(questionsExp.controls[indice].touched && questionsExp.controls[indice].value.text == '') ? 'is-invalid' : 'ng-invalid'"
                    (focusout)="changeRadio();">
                  <div class="align-items-center d-flex mt-2 row w-100">
                    <label class="m-0">Años de experiencia requeridos:</label>
                    <div class="input-group aniosEspecialidad w-auto">
                      <input [attr.id]="'yearExperience' + indice" type="text" class="form-control efectosInput"
                        formControlName="yearExperience" style="width: 3rem;">
                      <span class="input-group-text cursor-pointer borderRadio-left"
                        (click)="anios(indice,'menos','sad');"><i class="fas fa-minus minus"></i></span>
                      <span class="input-group-text cursor-pointer borderRadio-left"
                        (click)="anios(indice,'mas',question1.value.excluyenteanios);"><i
                          class="fas fa-plus minus"></i></span>
                    </div>
                    <div class="custom-control custom-checkbox flex-grow-1 text-right">
                      <input [attr.id]="'excluyenteanios' + indice" type="checkbox" class="custom-control-input"
                        formControlName="excluyenteanios" (change)="changeRadio();">
                      <label class="custom-control-label subTituloCard etiquetaCard"
                        [attr.for]="'excluyenteanios' + indice">{{'commons.excluyente' | translate}}</label>
                    </div>
                  </div>
                </div>
                <img class="cursor-pointer xscale my-2 mx-3" src="/assets/img/general/logos/basura.svg" alt="..."
                  (click)="deleteQuetion(indice,'questionnExp');">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
