@import '../../../../../../../assets/scss/variables';

.bg-institution {
  background-color: $F100;
}

.radio {
  width: 1.5em;
  height: 1.0em;
}

.check {
  width: 1em;
  height: 0.9em;
}

.xscale {
  transform: scale(0.8);
}

.aniosEspecialidad {
  transform: scale(0.7, 0.6);
}

.borderRadio-left {
  border-radius: 0;
  border-left: 0;
}

.minus{
    font-size: 12px;
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -moz-appearance: none;
}

.select:hover {
  border: solid 1px;
  border-color: #2680EB;
}

.select:focus {
  outline: none;
}
.bg-HardSkill {
  background-color: #FF80AC;
}

.bg-area {
  background-color: #7EE1FF;
}

.bg-SoftSkill {
  background-color: #8484F3
}

.borderRadio-left {
  border-radius: 0;
  border-left: 0;
  background-color: #0BB9B9;
}
.borderRadio-left:hover {
  background-color: #0AA8A8;
}