.modal-header {
	background: black;
}

.modal-title, .close-white {
color: white;
}

.center-img {
	display: block;
	margin: auto;
}

hr {
		margin-top: 0px;
		margin-bottom: 0px;
}

.btn-ok{
	background-color: #0AA8A8;
	border-radius: 20px;
	color: #F4F4F4;
	min-width: 150px;
	outline: none;
	border: none;
	height: 35px;
}

.btn-cancel{
    background-color: #FFF;
    border-radius: 20px;
    border: 1px solid;
    border-color: #0AA8A8;
    color: #0AA8A8;
    min-width: 150px;
    outline: none;
    height: 35px;
  }

.modal-body {
    
    padding: 55px;
}

.modal-body p{
    font-size: 16px;
    font-weight: normal;
}

.img-head {
    width: 10%;
}

.modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.modal-body::-webkit-scrollbar:vertical {
    width:15px;
}

.contenmodal-bodyedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.modal-body::-webkit-scrollbar:horizontal {
    height: 15px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.modal-body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.underline {
    text-decoration: underline !important;
    cursor: pointer;
    color: #0BB9B9;
  }
  .header-Short{
    padding: 0rem 1rem;
  }
.underlineheader{
    cursor: pointer;
    color: #000000;
}
.text-decoration-underline{
    text-decoration: underline !important;
}
.font-weigth-bold{
    font-weight: bold !important;
}
ol{
    padding-left: 20px;
}
// 
h1 {
    text-align: center;
}
p {
    text-align: justify;
}
li {
    padding-left: 16px;
}
i {
    font-weight: normal;
    margin: 0;
}
.upper {
    font-weight: bold;
    font-display: uppercase;
    text-align: center;
}
.upper-normal {
    font-weight: bold;
    font-display: uppercase;
    text-align: left;
}
.sangria {
    padding-left: 16px;
    font-weight: bold;
}