<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span class="close-white" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<ng-container>
	<span *ngIf="isModal else longContent"></span>
	<ng-template #longContent let-modal>
		<div class="modal-header header-Short">
			<img class="img-head center-img" src="../../../../assets/Grupo 2754.svg" alt="" width="80%" height="80%">
		</div>
		<hr>
		<div class="modal-body">
			<h1>TÉRMINOS Y CONDICIONES</h1>
    
			<p class="upper">INTRODUCCIÓN</p>
			<p>INVOLVE S.A DE C.V, (en lo sucesivo “INVOLVE”), con domicilio en Calle Rio Lerma, 196 Bis, Torre B, Piso 4, Número Interior 403, Colonia Cuauhtémoc, Ciudad de México, C.P. 06500, te da a conocer por este medio los Términos y Condiciones generales de uso de su sitio web <a href="www.involverh.com ">www.involverh.com </a> (en lo sucesivo “sitio web”), y de su aplicación móvil denominada INVOLVE (en lo sucesivo “la App”) y/o cualquier otra plataforma digital que INVOLVE ponga a tu disposición, en las cuales se pueden encontrar en forma enunciativa más no limitativa, información, servicios, consultas, contenidos y/o productos.
			<br><br>
		
			INVOLVE te da la bienvenida a su sitio web, es por ello que antes de que decidas regístrate y acceder a la increíble experiencia que es contar con los servicios de INVOLVE, te recomendamos que leas cuidadosamente los presentes Términos y Condiciones a los que estarás sujeto, ya que una vez que los aceptes estarás aceptando un acuerdo obligatorio bajo el cual usted acepta utilizar INVOLVE disponible a través de cualquier dispositivo.
			<br><br>
		
			Si usted no está de acuerdo con alguno de los términos y condiciones establecidos aquí, no utilice este sitio de Internet, su aplicación móvil, ni los servicios proporcionados por INVOLVE, S.A. DE C.V.</p>
			
			<p class="upper">ACEPTACIÓN</p>
		
			<p>Los presentes Términos y Condiciones Generales de Uso (en lo sucesivo “Términos” y/o “Condiciones”) tienen un carácter obligatorio y vinculante; todo usuario deberá abstenerse de usar “La App” y el “sitio web”, y/o los servicios ofrecidos por INVOLVE en caso de no aceptarlos.
				<br><br>
		
				Toda aplicación o gestión dentro de las INVOLVE y “Página web”, se entenderá como la aceptación expresa de los presentes Términos y Condiciones. Al aceptar estos Términos, aceptas que existe una relación jurídica válida y vinculante entre INVOLVE y tú, vigente hasta en tanto no manifiestes tu deseo de terminar dicha relación, solicitando el cierre de tu cuenta creada conforme a lo dispuesto en el Aviso de Privacidad Reclutador  <a href=" https://reclutalent.involverh.com/terms-and-conditions/" target="_blank"> https://reclutalent.involverh.com/terms-and-conditions/</a> y Aviso de Privacidad Candidato <a href="https://talent.involverh.com/terms-and-conditions/" target="_blank">https://talent.involverh.com/terms-and-conditions/</a> siguiente y absteniéndote de utilizar cualquier servicio que INVOLVE ofrece o llegue a ofrecer.
				<br><br>
		
				El acceso, uso, descarga o instalación del sitio Web o App INVOLVE, implican su aceptación a estos términos y condiciones. Asimismo, usted acuerda utilizar INVOLVE por su propio riesgo.</p>
		
			<p class="upper">DÉFINICIONES</p>
			<p>Para efectos de los Términos y Condiciones, las siguientes palabras tendrán los significados que se señalan a continuación:
			<br><br>
		
			<b>Talent Network: </b>red de talento, esta funcionalidad sirve para buscar talento dentro de una base de datos de candidatos previamente registrados en la app o en la web de candidato.
			<br><br>
		
			Cada reclutador o cuenta hará de acuerdo con los perfiles que más necesite sus carpetas con el puesto y lo que se apegue al perfil, puede ser postulado o que sea buscado directamente por el reclutador.
			<br><br>
		
			<b>Bolsa de empleo:</b> lugar donde se pueden visualizar todas las vacantes publicadas, guardar búsquedas para postularte en otro momento y filtrar por perfil, sueldo, ubicación, modalidad de trabajo, Extracción de textos para lecturas de CV y que automáticamente se rellenen los campos solicitados, Videopresentación y videoentrevistas para hacer lecturas biométricas de la cara y voz del candidato, Pruebas psicométricas para entender la lógica y los parámetros de las preguntas respondidas por el candidato y dar un resultado aproximado. 
			<br><br>
		
			<b>Inteligencia Artificial:</b> combinación de algoritmos planteados con el propósito de crear máquinas que presenten las mismas capacidades que el ser humano. Usamos IA para: Filtrar currículos de acuerdo con las vacantes, dando un porcentaje de afinidad entre el candidato y la vacante a la que se postuló, en las video entrevistas serán analizadas las emociones básicas, extracción de textos en el CV del candidato, solo la experiencia laboral y profesional.
			<br><br>
		
			<b>Pruebas psicométricas:</b> consiste en evaluar a los candidatos para conocer qué tipo de comportamientos y personalidad presentan ante diferentes situaciones, que competencias laborales son las que tienen desarrolladas y cuáles no, además de conocer su coeficiente intelectual.
			<br><br>
		
			<b>Big Data:</b> consiste en los datos que son tan grandes, rápidos o complejos que es difícil o imposible procesarlos con los métodos tradicionales. Usamos Big Data para almacenar grandes cantidades de datos y poder organizarnos, por ejemplo: nuestra red de talento, reportes y estadísticas. </p>
		
			<p class="upper-normal">REGLAS DE USO GENERAL</p>
			<p>La App y el Sitio Web están diseñados para personas que buscan empleo, así como para empleadores o reclutadores que buscan candidatos para ofrecerles empleo. Usted debe usar este Sitio Web y App con intenciones legítimas y de acuerdo con las indicaciones de uso.</p>
		
			<p class="upper-normal">DESCRIPCIÓN DE LOS SERVICIOS</p>
			<p>Los servicios que presta INVOLVE a través del sitio web y/o App son exclusivamente proporcionar una licencia de uso temporal, no exclusiva, limitada y revocable para que empleadores ajenos a INVOLVE en la cual tendrán acceso a los siguientes servicios:</p>
			<ol type="a">
				<li>Bolsa de empleo integrada</li>
				<li>Posibilidad de integrar más bolsas de empleo al software.</li>
				<li>Multiposting de Vacantes</li>
				<li>Análisis biométricos en vídeo entrevistas de voz y comportamiento a través de Inteligencia Artificial.</li>
				<li>Videoentrevista de presentación, y videoentrevista técnica y video conferencia</li>
				<li>Plantillas editables para crear vacantes.</li>
				<li>Posibilidad de pausar vacante y reactivar en otro momento.</li>
				<li>Filtros excluyentes al crear vacantes para recibir solo perfiles 100% compatibles.</li>
				<li>Pruebas psicométricas enfocadas a competencias laborales, personalidad, inteligencia y comportamiento</li>
				<li>Administra todas tus vacantes en un solo lugar.</li>
				<li>Descarga de reportes detallados de candidatos.</li>
				<li>Diseñar tu propio modelo de entrevistas a candidatos y poder descargarlo.</li>
				<li>Crear equipos de trabajo (reclutadores) para cada vacante.</li>
				<li>Estadísticas detalladas del uso del sistema.</li>
				<li>Notificaciones sobre creaciones de vacantes, postulaciones, candidatos recibidos, etc. </li>
				<li>Acceso a Talent Network de candidatos registrados en la bolsa de empleo.</li>
			</ol>
		
			<p>Asimismo, los candidatos publiquen su currículo en el sistema. En virtud de lo anterior, INVOLVE no es responsable por el contenido o veracidad de las publicaciones realizadas por los empleadores/reclutadores, ni por la información de los candidatos publicada en el Sitio Web y/o App.</p>
		
			<p class="upper-normal">LICENCIA DE USO PARA PERFIL DE CANDIDATO</p>
			<p>INVOLVE otorga un acuerdo de responsabilidad limitada, revocable y con derechos de no exclusividad para acceso y uso del Sitio Web y App para el uso personal en la búsqueda de oportunidades de empleo para usted mismo. Esto le autoriza a usted a ver el material del Sitio Web y App solamente para su uso personal y no para uso comercial con fines de lucro. Usted deberá abstenerse de publicar información falsa en su perfil o suplantar la identidad de un tercero. El uso del Sitio Web y App es un privilegio, por lo que INVOLVE se reserva el derecho de suspender o terminar este privilegio por cualquier razón y en cualquier momento.</p>
		
			<p class="upper-normal">LICENCIA DE USO PARA PERFIL DE EMPLEADORES/RECLUTADORES</p>
			<p>INVOLVE otorga, durante la vigencia de los servicios contratados, una licencia de uso revocable, de responsabilidad limitada, terminable y con derechos de no exclusividad para accesar y usar el Sitio Web, (previa contratación) y Aplicación App INVOLVE para el uso interno del reclutador en la búsqueda de candidatos para ofrecerles empleo.
			<br><br>
		
			Esto le autoriza al empleador/reclutador a ver por un periodo limitado de tiempo de acuerdo con el plan contratado, el material del Sitio Web y App con el único propósito de buscar y reclutar candidatos. INVOLVE se reserva el derecho de suspender temporal o definitivamente sus claves de acceso o dar por terminado su contrato si se determina que existe un incumplimiento de cualquiera de estos términos y condiciones. Usted no podrá comercializar ni revender en forma alguna los servicios o porciones de éstos. Estos términos se hacen extensibles al uso de todas las modalidades y herramientas cuya propiedad intelectual detenta INVOLVE</p>
		
			<p class="upper-normal">SU FUNCIONMIENTO</p>
			<p><b>Perfil de Candidato</b>, una vez que se registre en INVOLVE plataforma o sitio web INVOLVE otorgar al candidato un perfil de usuario como candidato, registrado en su sitio web, con el cual podrá alimentar y crear su curriculum para postularse a las vacantes de su interés.
			<br><br>
		
			<b>Perfil de Reclutador:</b></p>
			<ol>
				<li>Una vez realizado el registro y adquiridos y pagados los servicios, se procederá a la carga de estos dentro del sistema y el Usuario Administrador tendrá acceso a la funcionalidad del sitio web.</li>
				<li>Cada usuario en este caso el administrador, podrá ligar a su organización a los usuarios con perfil reclutador que considere necesarios para su operación, para lo cual deberá enviar la invitación correspondiente.</li>
				<li>Cada usuario con perfil reclutador será responsable por el uso que dé a los servicios asignados, por lo que podrá realizar la revisión de las características de los productos en la plataforma.</li>
				<li>Para ingresar a la plataforma con perfil reclutador, es indispensable contar con servicios asignados, ya que en caso de que no exista saldo, se bloqueará el acceso al sistema, debiendo proceder a la adquisición de servicios para reanudar el acceso.</li>
				<li>El uso indebido que los usuarios con perfil reclutador que realicen de los servicios, será responsabilidad directa de cada organización a la que esté ligado.</li>
				<li>El Usuario Administrador de la organización será el único responsable de deshabilitar o desligar de la organización, en caso de así requerirlo, aquellos usuarios con perfil reclutador ligados.</li>
			</ol>
		
			<p class="upper-normal">PARTICULARIDADES DE USO DEL SITIO WEB Y APP.</p>
			<p>En este momento Usted avala y acepta que no usará (o planeará, motivará o ayudará a otros a usar) el Sitio Web y App para cualquier otro propósito o que en cualquier manera esté prohibido por los términos aquí mencionados o los que sean aplicables por ley. Consciente de que es su responsabilidad asegurar que Usted use el Sitio Web y App de acuerdo con los términos y condiciones aquí especificados.</p>
		
			<p class="upper-normal">REGLAS DE PUBLICACIÓN, CONDUCTA Y SEGURIDAD</p>
			<p>El buen uso, manejo y custodia de las firmas, llaves privadas, claves de acceso, contraseñas y cualquier otro dato de acceso a las Cuentas de los Usuarios son responsabilidad de éstos. INVOLVE no será responsable de la falta de diligencia, negligencia o impericia a cargo de los Usuarios en el control y cuidado de éstas, así como de las posibles consecuencias que esto pueda implicar, las cuales incluyen, de manera enunciativa más no limitativa, posibles pérdidas de Fondos de Pago Electrónico o de información.
			<br><br>
		
			Para efectos del párrafo anterior y en términos de la legislación aplicable, los mensajes de datos que el Usuario emita o comunique de manera posterior a su autenticación se tendrán por válidos para todos los efectos a que haya lugar y como emitidos a través de dispositivos seguros y aprobados por el Usuario, así como recibidos íntegramente y sin alteraciones en los servidores de INVOLVE. Por el solo hecho de acceder al Sitio Web y ordenar o celebrar cualquier operación, el Usuario se obliga a responder con la totalidad de su patrimonio de las obligaciones que le sean atribuibles o de aquellas en las cuales haya incurrido.
			<br><br>
		
			INVOLVE en ningún caso será responsable por el mal uso de las formas de autenticación que a su discreción utilice el Usuario. INVOLVE no se hace responsable de phishing, suplantación de identidad, ataques cibernéticos o de cualquier tipo de ataque de los que el Usuario sea víctima.
			<br><br>
		
			Tampoco será responsable por actos de terceros que afecte la Plataforma, la red mundial de Internet o cualquier otra plataforma de interconexión de forma general.
			<br><br>
		
			INVOLVE se reserva el derecho, en cualquier caso y sin que exista alguna comunicación o explicación, de prohibir el acceso a su Plataforma a cualquier persona, incluyendo el acceso a su Cuenta.
			<br><br>
			El proceso de recuperación de las claves de acceso o contraseñas solamente se realizará mediante los pasos que para ello ha establecido INVOLVE tomando en cuenta los más altos estándares de seguridad. Dicho proceso únicamente podrá ser iniciado por el Usuario y nunca será iniciado por parte de INVOLVE. En ninguna circunstancia INVOLVE le pedirá a sus Usuarios, por correo domiciliado, correo electrónico ni por vía telefónica que revelen las claves de acceso o contraseñas que el Usuario utiliza para acceder a su Cuenta.
			<br><br>
		
			Es responsabilidad del Usuario no compartir ni proporcionar sus datos de identificación, claves de acceso y contraseñas, así como asegurarse que ingresa sus datos o claves en la dirección segura y certificada del Sitio Web. Es responsabilidad del Usuario acceder al sitio oficial de INVOLVE, por lo que el último no será responsable, por ningún motivo, de la seguridad de la conexión desde la cual ingrese el Usuario a la Aplicación Móvil y a la PÁGINA WEB.
			<br><br>
		
			Derivado de lo anterior, es responsabilidad del Usuario notificar a INVOLVE si cree o sospecha que su Cuenta o sus claves de acceso pueden estar comprometidas, o sin un tercero está actuando por su cuenta, para lo cual deberá informar a través de un mensaje por el servicio de atención al cliente habilitado en la App en la Página Web. Además, el Usuario se obliga a tomar todas las medidas necesarias o convenientes que le solicite INVOLVE, así como a seguir los procedimientos establecidos por INVOLVE para recuperar el control de su Cuenta, con la pena de perderlas definitivamente</p>
		
			<p class="upper-normal">CESIÓN: </p>
			<p>El Usuario no podrá ceder o transferir cualquiera de sus derechos u obligaciones respecto de estos Términos y Condiciones. El Usuario no podrá directa o indirectamente acordar, asignar, ni transferir a un tercero cualquier reclamación en contra de INVOLVE como consecuencia de los presentes Términos y Condiciones.
			<br><br>
		
			Los usuarios (Usted) que violen dichas reglas, les será cancelado o suspendido el uso y el acceso del sitio y aplicación a discreción exclusiva de INVOLVE las reglas de Conducta, Publicación y Seguridad son como se describe a continuación:</p>
		
			<p class="upper-normal">GENERAL</p>
			<p>El Usuario (Usted) se compromete a utilizar el Sitio Web y App de conformidad con la ley, estos Términos y Condiciones, así como con la moral y buenas costumbres generalmente aceptadas y el orden público. 
			<br><br>
		
			Resulta importante informarle que INVOLVE exceptúa cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a los servicios prestados por terceros a través del Sitio Web y/o App, y en particular, aunque no de modo exclusivo por los daños y perjuicios que puedan deberse al incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o de orden público como consecuencia de la prestación de servicios por terceros a través del Sitio Web y App; la infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la prestación de servicios por terceros a través del Sitio web y App; la realización de actos de competencia desleal y publicidad ilícita como consecuencia de la prestación de servicios por terceros a través del Sitio web y/o App, la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos transmitidos, difundidos, almacenados, recibidos, obtenidos, puestos a disposición o accesibles mediante los servicios prestados por terceros a través del sitio web y App; el incumplimiento, retraso, cumplimiento defectuosos o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados con terceros en relación o con motivo de la prestación de servicios a través del Sitio web y App; Usted no debe asignar o transferir sus obligaciones bajo estos términos, estas condiciones constituyen todo el contrato entre usted y INVOLVE, S.A. DE C.V. con respecto al uso del Sitio web y App INVOLVE se reserva el derecho a denegar o retirar el acceso al Sitio Web y App, en cualquier momento y sin necesidad de preaviso, a aquellos usuarios que incumplan estos Términos y Condiciones.</p>
		
			<p><b>Reglas de Publicación para Reclutadores</b></p>
			<p class="sangria">El material que redacte y publique en el Sitio Web y Aplicación Móvil no debe contener:</p>
		
			<ul>
				<li>Hipervínculos, hiperenlace, ligas o direcciones URL’s que no estén previamente contratados e incluidos en nuestro “Paquete de Direccionamiento".</li>
				<li>No debe publicar simultáneamente el mismo anuncio de empleo.</li>
				<li>Publicación de diversos perfiles en el mismo anuncio de empleo.</li>
				<li>Publicidad para eventos de reclutamiento.</li>
				<li>Datos personales sensibles.</li>
				<li>Descripciones discriminatorias o que tengan por intención menoscabar los derechos y libertades de las personas.</li>
				<li>Invitaciones para acudir a eventos de reclutamiento de ferias de empleo.</li>
				<li>Información confidencial o secretos corporativos (a menos que se tengan los derechos y/o el permiso del autor para su publicación).</li>
				<li>Material que infrinja cualquier otro derecho de autor o viole la privacidad o los derechos de publicación de otros.</li>
				<li>Cualquier material que sea sexualmente explícito, obsceno, difamatorio, amenazante, acosador, abusivo, dañino.</li>
				<li>Cualquier cosa que sea embarazosa u ofensiva para otra persona o entidad.</li>
				<li>Solicitud de servicios personales.</li>
				<li>Trabajos que sean pagados solamente por comisión.</li>
				<li>Trabajos que no paguen por lo menos el salario mínimo diario.</li>
				<li>Trabajos que requieran que el candidato, o empleado, haga una inversión de capital o pago.</li>
				<li>Trabajos que requieran que el candidato, o empleado, vaya a un entrenamiento no pagado para ser contratado.</li>
				<li>Trabajo que implique tercerizar servicios.</li>
				<li>Ningún otro Idioma que no sea el Español o el Inglés.</li>
				<li>Representar a otra persona, viva o muerta.</li>
				<li>Publicar información falsa, imprecisa o engañosa que atraigan a los candidatos con el fin de obtener información personal o de empleo que él o ella no divulgarían si la intención de dicho anuncio fuera previamente conocida por el candidato.</li>
				<li>Publicar cadenas de cartas o esquemas piramidales.</li>
				<li>Publicar opiniones o noticias, anuncios comerciales, promoción de cursos y/o de productos.</li>
				<li>Recolectar información masiva de candidatos.</li>
			</ul>
		
			<p class="sangria">Redacción del material:</p>
			<p>Sus materiales deben contener suficientes detalles para transmitir claramente al usuario la naturaleza y requerimientos de la oportunidad de trabajo, o las calificaciones como un candidato para el empleo (datos biográficos completos, datos propios verídicos).
			<br><br>
		
			Es responsabilidad directa de los reclutadores que la redacción de anuncios de empleo publicados a través del Sitio Web y Aplicación Móvil de INVOLVE esté apegada a la ley de acuerdo con la jurisdicción del país al que corresponde, dependiendo de la localidad en la cual se encuentra el anuncio de empleo.
			<br><br>
		
			Es de suma importancia cumplir con las obligaciones antidiscriminatorias que establece la legislación y no restringir el acceso al empleo en virtud de origen étnico o nacional, el color de la piel, la cultura, el sexo, el género, la edad, las discapacidades, la condición social, la condición económica, las condiciones de salud, la condición jurídica, la religión, la apariencia física, las características genéticas, la situación migratoria, el embarazo, la lengua, las opiniones, las preferencias sexuales, la identidad o filiación política, el estado civil, la situación familiar, las responsabilidades familiares, el idioma, los antecedentes penales o cualquier otra que atente contra la dignidad humana y tenga por objeto anular o menoscabar los derechos y libertades de las personas, lo que podría constituir una conducta que tiene el efecto de anular el ejercicio de sus derechos y la igualdad real de oportunidades con respecto al resto de los y las demás aspirantes a ocupar un empleo.
			<br><br>
		
			INVOLVE en todo momento pone a disposición de los candidatos las herramientas necesarias para poder postularse a todos los anuncios de empleo a través del Sitio Web y App, sin hacer distinción alguna entre los candidatos.</p>
		
			<p>Reglas de Conducta</p>
			<ol>
				<li>Usted no puede responder a publicaciones a nombre de otros usuarios de ninguna manera y para ningún otro propósito que el esperado (ejemplo, para aplicar al trabajo o para iniciar una discusión con referencia al trabajo).</li>
				<li>Comunicaciones solicitando el negocio del empleador están prohibidas.</li>
				<li>Usted no puede enviar correos electrónicos comerciales a los usuarios.</li>
			</ol>
		
			<p><b>Reglas de Seguridad</b></p>
			<p>Los usuarios tienen prohibido violar o atentar contra la seguridad del Sitio Web y App, incluyendo, sin limitación:</p>
		
			<ol type="a">
				<li>Accesar datos que no sean previstos para ese usuario o ingresar a un servidor o cuenta en la cual el usuario no esté autorizado para accesar. Si usted tiene una contraseña que le permita acceso a un área no pública de este sitio web o su aplicación móvil, no podrá divulgar o compartir su contraseña con terceros o utilizar su contraseña para cualquier fin no autorizado.</li>
				<li>Atentar, explorar o probar la vulnerabilidad del sistema o de la red o tratar de traspasar la seguridad o las medidas de autenticación sin autorización previa;</li>
				<li>Atentar e interferir con el servicio de cualquier usuario, servidor o red, <i>(host, network)</i> a través del envío de un virus al Sitio Web o App, u otros actos como sobrecarga <i>(overloading, flooding)</i>;</li>
				<li>Enviar e-mails no solicitados, incluyendo promociones y/o publicidad de productos o servicios;</li>
			</ol>
		
			<p>INVOLVE no se hace responsable por la información, en particular por los datos personales que los candidatos envíen de manera directa a los empleadores/reclutadores a través de medios ajenos a la plataforma de INVOLVE, como correo electrónico, whats app o vía telefónica.
			<br><br>
		
			La violación a estas Reglas de Seguridad puede resultar en Responsabilidad Administrativa, Civil o Penal. INVOLVE investigará los casos que puedan presentar dichas violaciones e implicará, y cooperará con las respectivas autoridades en el proceso jurídico de los usuarios que estén implicados en esas violaciones.</p>
		
			<b>Transferencia de datos personales</b>
			<p>De conformidad con el artículo 36 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente en México en adelante (LFPDPPP) INVOLVE es responsable transferente y el reclutador se convierte en responsable receptor, por lo que, en cumplimiento con las disposiciones de la materia, el reclutador al contratar el servicio se obliga a:</p>
		
			<ul>
				<li>Mantener la confidencialidad de los datos personales, utilizándolos únicamente para efectos de reclutamiento y selección de personal y con ningún otro propósito.</li>
				<li>No transferir a ningún tercero, datos personales que recibe en su calidad de responsable receptor, salvo por lo dispuesto en el artículo 70 de Reglamento de LFPDPPP.</li>
				<li>Garantizar que solo sus empleados tendrán acceso a los datos transferidos y que ninguno de ellos dará un tratamiento distinto al de reclutamiento y selección de personal.</li>
			</ul>
		
			<p>Estas obligaciones subsistirán de manera indefinida, aún después de finalizar la relación, INVOLVE se deslinda de cualquier responsabilidad presente o futura, que surja del uso no convenido de los datos personales que le han sido transferidos a los reclutadores, por lo que en caso de contravenir estas disposiciones se obligan a sacar en paz y a salvo a INVOLVE, pagando los daños y perjuicios causados por esta situación.
			<br><br>
		
			La recopilación y el uso que hacemos de la información personal en relación con los Servicios es conforme a lo dispuesto en nuestro Aviso de Privacidad para Reclutador disponible en <a href=" https://reclutalent.involverh.com/terms-and-conditions/" target="_blank"> https://reclutalent.involverh.com/terms-and-conditions/</a> y Aviso de Privacidad Candidato para Usuarios, disponible en <a href="https://talent.involverh.com/terms-and-conditions/" target="_blank">https://talent.involverh.com/terms-and-conditions/</a></p>
			
			<p class="upper-normal">OPINIONES</p>
			<p>Los comentarios y opiniones expresadas en los apartados disponibles son formulados por personas ajenas a INVOLVE, bajo su única y exclusiva responsabilidad. Todas las personas que accedan a este sitio web y su App asumen la calidad de usuarios, y por ende se comprometen a la observancia y cumplimiento de estas disposiciones. Los participantes de dichos espacios se comprometen a utilizar los mismos en conformidad con la ley, estas condiciones generales, así como con la moral y buenas costumbres generalmente aceptadas. 
			<br><br>
		
			INVOLVE se exime de cualquier tipo de responsabilidad derivada de la información, opiniones, comentarios, ideas u otros contenidos realizados por los visitantes en su sitio web y App. Tampoco se permitirán comentarios difamatorios, injuriosos, calumniosos, obscenos, amenazadores, discriminatorios, o bien que inciten a la violencia. </p>
		
			<p class="upper-normal">DERECHOS DE PROPIEDAD INTELECTUAL</p>
			<p>El Sitio Web, App y todos sus derechos, título e intereses son propiedad única de INVOLVE, y se encuentran protegidos por las leyes mexicanas de derechos de autor y de los tratados internacionales. A excepción de las licencias de uso limitado expresamente otorgadas a usted en estos términos, INVOLVE se reserva para el mismo y sus licenciatarios todos los derechos, títulos e intereses, sin límite de propiedad en lo aquí mencionado usted no puede reproducir, modificar, mostrar, vender o distribuir el contenido, o usarlo en cualquier otra forma para uso público o comercial.
			<br><br>
		
			INVOLVE y todas aquellas marcas de su propiedad son Marcas Registradas, protegidas por la Ley de la Propiedad Industrial tanto en México como en el extranjero según las leyes aplicables. La utilización, difusión, exhibición, explotación, comercialización o cualquier otro uso, sea parcial o total, de forma idéntica o que confunda en menor o mayor grado; sea por cualquier medio, incluyendo mas no limitándose al impreso, magnético, óptico, electrónico o informático, está expresamente prohibido sin previa autorización por escrito del titular de los derechos de autor y/o marca correspondiente; que en el caso concreto es INVOLVE. Cualquier contravención a lo anteriormente expuesto o la legislación aplicable en materia de propiedad industrial y derechos de autor será considerada y perseguida como un delito penal de comisión directa.
			<br><br>
		
			El logotipo, diseños, formas, marcas nominativas, innominadas y mixtas de INVOLVE, así como cualquier material estático o interactivo incluido en la Página y las Apps, está debidamente registrado ante las autoridades competentes y son propiedad de INVOLVE. Los derechos de propiedad intelectual correspondientes a los productos y servicios, así como los materiales distintivos y dominios de la Página, los derechos de uso y explotación correspondientes mismos que incluyen mas no se limitan a su publicación, reproducción, divulgación, transformación y distribución son propiedad exclusiva de INVOLVE. El usuario no adquirirá en ninguna circunstancia concesión o derecho alguno sobre la propiedad intelectual e industrial de INVOLVE por el mero uso de su Página y Apps de los Servicios ofrecidos en las mismas; por lo tanto, su uso no podrá ser considerado como una autorización tácita o expresa para utilizar alguno de los elementos de la propiedad intelectual o de derecho de autor de INVOLVE con algún fin diverso a los contemplados por el presente documento.
			<br><br>
		
			PAGO Y FACTURACIÓN: 
			<br><br>
		
			INVOLVE le informa que su pago será mediante tarjeta de crédito o débito la cual usted registre al momento de crear su cuenta de suscriptor en el momento en que se le piden sus datos financieros a través de la plataforma y/o sitio web, a través de la plataforma OPENPAY, S.A. de C.V. comercialmente conocido como Openpay, el cual únicamente funciona como intermediario, de todos los fondo que sean depositados a nuestra cuenta motivo de su pago, Openpay solo proporciona la capacidad de utilizar su Cuenta del Comercio para recibir Pagos y recibir Transferencias a través de su plataforma. 
			<br><br>
		
			Openpay procesa todas las transacciones de Pagos a través de switch abierto de pagos y cuenta con certificación PCI y que cumple con todas las regulaciones de la Comisión Nacional Bancaria y de Valores “CNBV”, por lo que al hacer uso de este Servicio de pago, INVOLVE acepta que queda vinculado a los términos y condiciones y políticas de privacidad de Openpay los cuales podrá encontrar en los sitios web https://www.openpay.mx/docs/terminos-servicio.html y https://www.openpay.mx/docs/aviso-de-privacidad.html, por lo que los datos que usted nos proporciona, solo serán utilizados para cumplir con el servicio de pago y emisión de facturas como intermediario prestados por Openpay.</p>
		
			<p class="upper-normal">LIMITACIÓN DE RESPONSABILIDAD</p>
			<p>INVOLVE no asume ninguna responsabilidad por materiales publicados en el Sitio Web y/o App por los usuarios y no tiene responsabilidad por sus actividades, omisiones o conducta de los usuarios.
			<br><br>
		
			<u>Por ningún motivo los servicios prestados por INVOLVE deben entenderse como servicios conocidos como outsourcing, agencia de colocación, manejo de nóminas, ni ningún servicio similar, por lo que INVOLVE no puede ser considerado por ningún medio o forma como patrón en términos del artículo 10 de la Ley Federal del Trabajo vigente en los Estados Unidos Mexicanos. Los anuncios de empleo publicado s en el sitio web y app, y las relaciones individuales de trabajo que puedan derivar de ellas, son exclusiva responsabilidad de la persona que lleva a cabo su publicación, motivo por el cual, cualquier persona que publique un anuncio de empleo, libera desde este momento y en el futuro a INVOLVE de cualquier responsabilidad derivada de la Ley Federal del Trabajo vigente en los Estados Unidos Mexicanos.</u></p>
		
			<p class="upper-normal">EXCLUSIÓN DE RESPONSABILIDAD</p>
			<p>INVOLVE no son una agencia de empleos ni una firma de reclutamiento, y no tiene ninguna representación ni garantiza la efectividad o el tiempo en la obtención de empleo para los usuarios. INVOLVE, S.A. DE C.V. no garantizan los materiales publicados en este sitio web y su aplicación móvil por usuarios que resulten candidatos contratados o por puestos por cubrir y no es responsable de ninguna decisión sobre un empleo, por cualquier razón hecho por cualquier usuario.</p>
		
			<p class="upper-normal">EXCLUSIÓN DE ERRORES Y PRECISIÓN DE LOS MATERIALES PUBLICADOS EN EL SITIO WEB Y APLICACIÓN MÓVIL</p>
			<p>INVOLVE no garantiza la veracidad, exactitud, vigencia o confiabilidad de ninguno de los materiales publicados por los usuarios, o por cualquier otra forma de comunicación que sea comprometida por los usuarios. Los materiales pueden contener inexactitudes o errores tipográficos. Usted acepta que cualquier consecuencia en materiales publicados por los usuarios, o en cualquier otra forma de comunicación con los usuarios, será a su propio riesgo.</p>
		
			<p>NOTIFICACIONES</p>
			<p>El uso de la plataforma INVOLVE implica la aceptación a la recepción de notificaciones para los usuarios mediante diversos medios, tales como notificaciones de escritorio, vía WhatsApp, a través de correo electrónico, o cualquier otro medio con el cual sea posible contactar al usuario con la información proporcionada en el Sitio Web y/o App.</p>
		
			<p>INDEMNIZACIÓN DE INVOLVE</p>
			<p>Usted acepta defender, indemnizar y declarar exenta de responsabilidad a la Empresa y sus agentes asociados, sus funcionarios, directores, empleados y agentes, frente y contra cualquier reclamación, acción judicial o demanda, incluido sin limitaciones los daños, costos legales y contables derivados o resultantes de cualquier alegato resultado o en conexión <b><u>con su uso</u></b> del Sitio Web y App, de cualquier material publicado por usted o por cualquier incumplimiento a estos términos. Por lo que INVOLVE le informará que al encontrarse en alguno de los supuestos antes mencionados como reclamaciones, demandas o procedimientos judiciales, le asistirá a su costo, en la defensa de tales reclamaciones, demandas o procedimientos judiciales.</p>
		
			<p class="upper-normal">TERMINACIÓN</p>
			<p>INVOLVE y sus agentes asociados se reservan el derecho, a su entera discreción, a perseguir todos los remedios legales, incluyendo, sin limitación, la eliminación de sus publicaciones en este Sitio Web, la terminación inmediata de claves de acceso a este Sitio Web y/o cualesquier otros servicios que le brinde la empresa y sus agentes asociados, debido a cualquier incumplimiento suyo a estos términos y condiciones de uso o si la empresa es incapaz de verificar o autentificar cualquier información que usted presente al sitio de Internet u otros registros; En caso de cancelación del servicio por estas causas INVOLVE ni sus agentes asociados harán ningún reembolso de cantidades pagadas por la terminación del servicio.</p>
			
			<p class="upper-normal">CANCELACIÓN DE CUENTA </p>
			<p>El Usuario puede, en el momento que lo desee, dar por terminada la relación establecida por los presentes Términos y Condiciones y, por ende, cancelar su Cuenta con INVOLVE.
			<br><br>
		
			INVOLVE garantiza al Usuario que eliminará toda la información del Usuario contenida en la Cuenta de manera permanente, a excepción de las obligaciones contenidas en la Ley y otras disposiciones legales aplicables. Asimismo, el Usuario podrá ejercer sus Derechos ARCO definidos en los Aviso de Privacidad para el Reclutador <a href="https://reclutalent.involverh.com/terms-and-conditions/" target="_blank">https://reclutalent.involverh.com/terms-and-conditions/</a> y el Candidato <a href="https://talent.involverh.com/terms-and-conditions/" target="_blank">https://talent.involverh.com/terms-and-conditions/</a>
			<br><br>
		
			INVOLVE se reserva el derecho de suspender, cancelar o modificar la Cuenta de cualquier Usuario (Usted) sin previo aviso, sin que ello derive en responsabilidad alguna para INVOLVE.
			<br><br>
		
			INVOLVE se reserva el derecho de restringir o cancelar el acceso del Usuario (Usted) a su cuenta en aquellos casos en que, a juicio de INVOLVE, son:</p>
		
			<ol type="I">
				<li>Que INVOLVE reciba cualquier requerimiento por parte de alguna autoridad que así lo requiera;</li>
				<li>El Usuario realizó alguna infracción conforme a los Términos y Condiciones.</li>
				<li>Se tenga una sospecha razonable o indicios de que el Usuario está realizando conductas en contravención de las políticas internas;</li>
				<li>El Usuario proporcione información falsa o engañosa acerca de su identidad;</li>
				<li>Por cualquier motivo en el que las Operaciones que realice el Usuario representen un riesgo o daño para INVOLVE.</li>
				<li>En los casos estipulados por el articulo 37 de la LFPDPPP vigente.</li>
			</ol>
		
			<p class="upper-normal">DOMICILIO Y LEGISLACIÓN APLICABLE</p>
			<p>Se fija como domicilio de “INVOLVE” el señalado en las manifestaciones previas.
			<br><br>
		
			Para lo no previsto en estos Términos y Condiciones, los Clientes y Usuarios acuerdan someterse a las leyes aplicables de los Estados Unidos Mexicanos.
			<br><br>
		
			Para la interpretación y ejecución de los presentes Términos y Condiciones, el Cliente o Usuario acepta someterse a la jurisdicción y competencia de los tribunales competentes de la Ciudad de México, renunciando expresamente al fuero que pudiese corresponderle por razón de su domicilio presente o futuro.</p>
		
			<p class="upper-normal">INFORMACIÓN DEL USUARIO</p>
			<p>El Aviso de Privacidad de INVOLVE incorpora este acuerdo.</p>
		
			<p class="upper-normal">CONTACTO Y PREGUNTAS</p>
			<p>Preguntas acerca del uso de este Sitio Web y App deberán ser dirigidas al correo electrónico contacto@involverh.com</p>
			<br><br>
			<p>Versión de este Aviso de Privacidad fue actualizada por última vez el 31 de enero de 2022.</p>
		</div>
		<hr>
		<div class="p-3 text-center" *ngIf="isModal">
			<button *ngIf="isHeader===false" type="button" class="btn-cancel mr-3" (click)="closeModal(false)">Cancelar</button>
			<button *ngIf="isHeader===false" type="button" class="btn-ok" (click)="closeModal(true)">Aceptar</button>
			<button *ngIf="isHeader===true"type="button" class="btn-ok" (click)="closeModalHeader(true)">Aceptar</button>
		</div>
	</ng-template>
</ng-container>

<ng-container *ngIf="isModal">
	<p *ngIf="isHeader===false" class="d-inline-block cursor-pointer m-0"><a class="underline" (click)="openScrollableContent(longContent)">términos y condiciones</a></p>
	<p *ngIf="isHeader===true" class="d-inline-block cursor-pointer m-0"><a class="underlineheader" (click)="openScrollableContent(longContent)">Términos y condiciones</a></p>
</ng-container>
