<div class="modal-header">
    <!-- <img class="w-25 center-img" src="../../../../assets/Grupo 1368.svg" alt="" width="80%" height="80%"> -->
    <svg id="Logo_Dark_48px" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
        <g id="Rectángulo_11" data-name="Rectángulo 11" transform="translate(0)" fill="rgba(255,255,255,0)" stroke="rgba(255,255,255,0)" stroke-width="1">
          <rect width="48" height="48" stroke="none"/>
          <rect x="0.5" y="0.5" width="47" height="47" fill="none"/>
        </g>
        <g id="Grupo_2766" data-name="Grupo 2766" transform="translate(0 6)">
          <g id="Grupo_1347" data-name="Grupo 1347" transform="translate(0 23.355)">
            <g id="Grupo_1346" data-name="Grupo 1346" transform="translate(0 0)">
              <path id="Trazado_4021" data-name="Trazado 4021" d="M930.785,433.511a3.889,3.889,0,0,1-1.887,2.143,4.112,4.112,0,0,1-5.739-2.072,3.778,3.778,0,0,1,2.029-4.762,4.113,4.113,0,0,1,5.451,1.871,3.512,3.512,0,0,1,.285,2.286h-5.836a1.624,1.624,0,0,0,.508.783,2.02,2.02,0,0,0,2.823-.082.593.593,0,0,1,.372-.158C929.439,433.5,930.088,433.511,930.785,433.511Zm-5.684-1.948h3.717a1.976,1.976,0,0,0-3.717,0Z" transform="translate(-883 -426.23)"/>
              <path id="Trazado_4022" data-name="Trazado 4022" d="M676.343,428.088a4.054,4.054,0,0,1,3.834,2.782,3.8,3.8,0,0,1-2.171,4.6,4.1,4.1,0,0,1-5.241-1.732,3.809,3.809,0,0,1,2.5-5.475C675.616,428.171,675.983,428.143,676.343,428.088Zm1.975,3.868a1.988,1.988,0,1,0-1.976,2.031A2,2,0,0,0,678.319,431.956Z" transform="translate(-652.605 -425.921)"/>
              <path id="Trazado_4023" data-name="Trazado 4023" d="M479.478,435.844h-2c0-.232,0-.449,0-.667-.011-1.116.026-2.234-.049-3.346a1.689,1.689,0,0,0-2.167-1.571,1.8,1.8,0,0,0-1.281,1.812c-.016,1.153-.006,2.305-.007,3.458v.312h-2.006c-.006-.067-.018-.137-.018-.206,0-1.144-.017-2.288,0-3.431a3.667,3.667,0,0,1,1.787-3.292,3.742,3.742,0,0,1,5.726,3.053c.069,1.241.019,2.488.022,3.732A1.452,1.452,0,0,1,479.478,435.844Z" transform="translate(-468.378 -426.176)"/>
              <path id="Trazado_4024" data-name="Trazado 4024" d="M567.348,431.034c.691,0,1.358-.007,2.023.01.079,0,.187.126.227.217.593,1.335,1.177,2.675,1.764,4.013.04.092.083.182.146.318.056-.118.1-.2.137-.289.587-1.338,1.177-2.675,1.756-4.016a.351.351,0,0,1,.381-.258c.628.015,1.257.005,1.917.005-.05.121-.081.2-.119.285q-1.576,3.377-3.149,6.755a.332.332,0,0,1-.362.239c-.392-.019-.787,0-1.179-.012a.331.331,0,0,1-.247-.141q-1.645-3.5-3.273-7A.7.7,0,0,1,567.348,431.034Z" transform="translate(-556.089 -428.623)"/>
              <path id="Trazado_4025" data-name="Trazado 4025" d="M822.35,435.43c.053-.112.094-.191.129-.272.587-1.338,1.177-2.675,1.756-4.016a.366.366,0,0,1,.4-.272c.62.018,1.242.006,1.906.006-.048.114-.079.194-.115.272q-1.582,3.389-3.161,6.779a.313.313,0,0,1-.342.227c-.4-.017-.8,0-1.207-.011a.306.306,0,0,1-.229-.128q-1.649-3.508-3.283-7.024c-.01-.022,0-.053,0-.115a14.711,14.711,0,0,0,1.5-.011.771.771,0,0,1,.913.595c.5,1.237,1.056,2.448,1.591,3.669C822.246,435.218,822.29,435.305,822.35,435.43Z" transform="translate(-786.722 -428.466)"/>
              <path id="Trazado_4026" data-name="Trazado 4026" d="M785.693,410.874h-1.985V401.2h1.985Z" transform="translate(-755.01 -401.2)"/>
              <path id="Trazado_4027" data-name="Trazado 4027" d="M431.585,438.544h-1.978V431.3h1.978Z" transform="translate(-429.45 -428.869)"/>
              <path id="Trazado_4028" data-name="Trazado 4028" d="M428.811,537.335a1.134,1.134,0,0,1-1.153-1.139,1.157,1.157,0,0,1,1.16-1.17,1.178,1.178,0,0,1,1.148,1.163A1.155,1.155,0,0,1,428.811,537.335Z" transform="translate(-427.658 -524.24)"/>
            </g>
          </g>
          <g id="Grupo_1349" data-name="Grupo 1349" transform="translate(0 0)">
            <ellipse id="Elipse_190" data-name="Elipse 190" cx="3.237" cy="3.237" rx="3.237" ry="3.237" transform="translate(11.731 0.101)" fill="#6ee3e3"/>
            <g id="Grupo_1348" data-name="Grupo 1348">
              <path id="Trazado_4029" data-name="Trazado 4029" d="M1158.232,504.788h0Z" transform="translate(-1143.063 -495.252)" fill="#6ee3e3"/>
              <path id="Trazado_4030" data-name="Trazado 4030" d="M1104.643,450.295a33.566,33.566,0,0,1-6.645-7.216,5.482,5.482,0,0,0-3.4-2.54,10.194,10.194,0,0,0-4.923-.057,4.692,4.692,0,0,0-2.791,1.706c-.488.656-.378.37-1.524,1.912a12.412,12.412,0,0,1-4.136,4.215c-2.559,1.651-4.188,1.5-6.739,1.429,0,0-.155,0-.311,0-3.922-.082-7.136-1.409-9.2-4.805a8.761,8.761,0,0,0-2.253-2.41,2.055,2.055,0,0,0-3.421,1.623,6.722,6.722,0,0,0,2.659,5.011,33.558,33.558,0,0,1,6.646,7.216,5.481,5.481,0,0,0,3.4,2.54,10.194,10.194,0,0,0,4.923.057,4.692,4.692,0,0,0,2.791-1.705c.488-.656.95-1.191,1.524-1.912a17.108,17.108,0,0,1,4.136-4.215c2.044-1.413,4.188-1.5,6.739-1.429,0,0,.155,0,.311,0,3.923.082,7.136,1.409,9.2,4.805a8.753,8.753,0,0,0,2.254,2.41,2.055,2.055,0,0,0,3.42-1.623A6.721,6.721,0,0,0,1104.643,450.295Z" transform="translate(-1059.302 -440.207)" fill="#6ee3e3"/>
              <path id="Trazado_4031" data-name="Trazado 4031" d="M1273.317,504.565h0Z" transform="translate(-1240.486 -495.061)" fill="#6ee3e3"/>
            </g>
            <ellipse id="Elipse_191" data-name="Elipse 191" cx="3.237" cy="3.237" rx="3.237" ry="3.237" transform="translate(29.307 13.051)" fill="#6ee3e3"/>
          </g>
        </g>
      </svg>
      
</div>
<h3 class="m-3 text-center" >Revisa el aviso de privacidad</h3>
<hr>
<div class="modal-body">
    <p class="text-center">AVISO DE PRIVACIDAD</p>
<p>
De conformidad con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su Reglamento y diversa normativa vigente y relacionada (la “Legislación de Datos Personales”), se emite el presente Aviso de Privacidad.
</p>
<p>1. DE LA IDENTIDAD Y DOMICILIO DEL RESPONSABLE.</p>
<p>Este documento es el Aviso de Privacidad TAMA CAPITALES, S.A. DE C.V. (el "Responsable"), (en adelante “INVOLVE”) quien será el encargado de tratar los datos personales que usted (el "Titular") nos proporcione. Para los efectos señalados en el presente Aviso de Privacidad, el Responsable señala como su domicilio el ubicado en Calle Río Lerma 196Bis, Alcaldía Cuauhtémoc Ciudad de México, C.P. 06500.</p>
<p>2. TRATAMIENTO DE LOS DATOS PERSONALES.</p>
<p>
“TAMA CAPITALES”, S.A. DE C.V. será responsable de los datos personales que recabe a través de la aplicación denominada “INVOLVE”,  su página de internet www. ___________. y sus redes sociales y blogs (las “Redes Sociales Involve”). “TAMA CAPITALES”, S.A. DE C.V. será el responsable de los datos personales que recabe a través del App Involve. INVOLVE podrá recabar sus datos personales a través de cualquier otro contacto con Usted, de terceros y de otras fuentes permitidas por ley, tales como terceros, autoridades y sociedades de información crediticia y cada uno será responsable del Tratamiento de los mismos.
</p>
<p>
3. DE LOS DATOS PERSONALES QUE SERÁN SOMETIDOS A TRATAMIENTO.
</p>
<p>
Los datos personales que el Titular proporcione a través del llenado y remisión electrónica de formularios contenidos en el sitio web y que serán sometidos de la siguiente manera a tratamiento son:
</p>
<p>3.1. Crear cuenta</p>
<p>1. Correos electrónico</p>
<p>2. Contraseña</p>

<p>3.2. Registro</p>
<p>1. Nombre(s)</p>
<p>2. Apellido paterno</p>
<p>3. Apellido materno</p>
<p>4. Genero (Mujer, hombre, no binario)</p>
<p>5. Nombre del perfil profesional</p>
<p>6. Puesto que busca</p>
<p>7. País donde busca</p>
<p>8. Estado donde busca</p>
<p>9. Salario deseado</p>
<p>3.3. Iniciar sesión</p>
<p>1.Correo electrónico</p>
<p>2.Contraseña</p>
<p>3.4. Verificar cuenta</p>
<p>1. Correo electrónico</p>
<p>2. Número telefónico</p>
<p>3.5.Acerca de mi</p>
<p>1. Foto de perfil</p>
<p>2. Nombre(s)</p>
<p>3. Apellido paterno</p>
<p>4. Apellido materno</p>
<p>5. Fecha de nacimiento</p>
<p>6. Genero (Mujer, hombre, no binario)</p>
<p>7. País en que radica actualmente</p>
<p>8. Estado</p>
<p>9. Municipio/Alcaldía</p>
<p>10.	Disponibilidad para cambiar de residencia (Sí/No)</p>
<p>11.	Estado civil (Soltero, casado)</p>
<p>12.	Nacionalidad</p>

<p>3.6 Información profesional.</p>
<p>1. Nombre del perfil</p>
<p>2. Salario mensual deseado</p>
<p>3. Archivo CV </p>
<p>4. Archivo adjunto</p>

<p>3.7. Presencia online.</p>
<p>1. Link a Github.</p>
<p>2. Link a Behance.</p>
<p>3. Link a LinkedIn.</p>
<p>4. Link a URL.</p>
<p>3.8. Experiencia.</p>
<p>1. Pregunta si tiene experiencia laboral (Sí/No)</p>
<p>2. Puesto</p>
<p>3. Tipos de puesto</p>
<p>4. Nombre de la empresa</p>
<p>5. Fechas de inicio </p>
<p>6. Fechas de término </p>
<p>7. Cantidad de gente a su cargo si fue el caso</p>
<p>8. Funciones del puesto</p>

<p>3.9. Conocimientos técnicos. </p>
<p>1.Conocimiento (Ejemplo, Microsoft Excel).</p>
<p>2. Nivel (Básico, intermedio, avanzado, experto).</p>

<p>3.10. Habilidades sociales.</p>
<p>1.Habilidad (Ejemplo, trabajo en equipo).</p>

<p>3.11. Áreas de experiencia y especialidades.</p>
<p>1. Área</p>
<p>2. Especialidad</p>

<p>3.12. Educación.</p>
<p>1. Nivel académico</p>
<p>2. Título obtenido</p>
<p>3. País de la institución</p>
<p>4. Nombre de la institución</p>
<p>5. Estatus académico</p>
<p>6. Año de inicio </p>
<p>7. Fecha de término o previsto</p>

<p>3.13. Idiomas.</p>
<p>1. Idioma</p>
<p>2. Nivel del idioma</p>

<p>3.14. Cursos.</p>
<p>1. Nombre del curso</p>
<p>2. Institución</p>
<p>3. Fecha de expedición</p>
<p>4. Duración en horas</p>

<p>3.15. Certificaciones.</p>
<p>1. Nombre de la certificación</p>
<p>2. Institución</p>
<p>3. Fecha de expedición</p>
<p>4. Indicar si la credencial caduca (Sí/No)</p>
<p>5. Fecha de caducidad</p>
<p>6. ID de la credencial</p>
<p>7. Link al certificado</p>

<p>3.16. Cuestionario.</p>
<p>1. Respuestas del cuestionario</p>

<p>3.17. Video presentación.</p>
<p>1. Preguntas de presentación</p>
<p>2. Grabación de video</p>

<p>3.18. Cambiar correo electrónico.</p>
<p>1. Correo electrónico actual</p>
<p>2. Nuevo correo electrónico</p>

<p>3.19. Cambiar contraseña.</p>
<p>1.Contraseña actual</p>
<p>2. Nueva contraseña</p>

<p>3.20. Administrar notificaciones.</p>
<p>1. Permitir o denegar notificaciones de la app</p>

<p>3.21. Permisos y accesos.</p>
<p>1. Permitir o denegar accesos a cámara</p>
<p>2. Permitir o denegar accesos a memoria</p>
<p>3. Permitir o denegar accesos a micrófono</p>

<p>Los datos personales del Titular serán almacenados por el Responsable para la prestación de los servicios durante el tiempo que el Titular esté registrado en el Sitio, a menos que el Titular ejerza el derecho de Cancelación de estos mediante el procedimiento establecido en el número VII de este Aviso.</p>

<p>4. DE LOS DATOS PERSONALES SENSIBLES.</p>
<p>El Responsable no solicitará en forma alguna, y el Titular no proporcionará en ningún momento al Responsable, "datos personales sensibles", es decir, aquellos datos personales íntimos o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para el Titular. El Titular se obliga a no proporcionar al Responsable ninguna información relativa a su origen racial o étnico, estado de salud presente y/o futuro, información genética, creencias religiosas, filosóficas y/o morales, afiliación sindical, opiniones políticas y/o preferencia sexual. En caso de que el Titular proporcione datos sensibles a través de documentos subidos al sitio web, o por medio de los formularios, acepta y consiente que los mismos sean tratados conforme a los términos y condiciones del sitio web y a su Aviso de Privacidad, siendo obligación del Titular no proporcionar este tipo de datos en la información que sea subida al sitio web.</p>
<p>5. DE LOS DATOS FINANCIEROS.</p>
<p>El Responsable recaba datos financieros que resultan necesarios para efectos de pago de nuestros servicios con cargo a tarjeta de crédito. Entre estos datos se encuentran: </p>
<ul class="p-4">
<li>Tipo de tarjeta;</li>
<li>Número de tarjeta;</li>
<li>Código de verificación de tarjeta</li>
<li>Información de contacto y</li>
<li>Datos de facturación.</li>
</ul>

<p>6. DEL USO A SUS DATOS.</p>
<p>Sus Datos serán tratados para las siguientes finalidades:</p>
<p>Finalidad Primaria: Prestación de servicios a través de su sitio de internet para proporcionar una plataforma para la publicación de ofertas de trabajo y búsqueda de empleo por terceros, incluyendo: </p>
<ul class="p-4">
<li>Promoción de oferta laboral frente a terceros;</li>
<li>Procesos de contratación laboral o de prestación de servicios independientes frente a terceros;</li>
<li>Entrega de referencias en caso de que otra persona o empresa solicite informes sobre posibles candidatos a un puesto, trabajo, cargo o comisión;</li>
<li>Para publicarlos para posibles reclutadores.</li>
</ul>

<p>7. DEL TRATAMIENTO DE LOS DATOS Y SU NEGATIVA.</p>
<p>Para poder cumplir con las finalidades de este Aviso de Privacidad, así como para poder tratar los Datos, es posible que el Responsable entregue todo o parte de los Datos a terceras personas, las que podrán ser físicas o morales, nacionales o extranjeras, empresas filiales o subsidiarias, incluyendo proveedores de bienes o servicios, que requieran conocer esta información, incluyendo servidores de almacenamiento de información, quienes quedarán obligados, por contrato, a mantener la confidencialidad de los Datos y conforme a este Aviso de Privacidad. Los terceros receptores, podrán ser, de forma enunciativa, más no limitativa, empresas industriales, comerciales y/o de servicios.</p>
<p>Durante la prestación de los servicios, INVOLVE puede hacer uso de una serie de procesos automatizados de tratamiento de sus datos a fin de brindarle servicios más personalizados, como realizar recomendaciones de ofertas laborales o educativas de acuerdo con su perfil.</p>
<p>El Responsable se compromete a contar con las medidas físicas, administrativas y técnicas (incluyendo técnicas como data masking) de seguridad suficientes y necesarias para garantizar que sus Datos permanezcan seguros.</p>
<p>El Responsable estará facultado para dar el tratamiento que crea adecuado a los Datos, siempre y cuando este tratamiento se haga con relación a las finalidades señaladas en el inciso (a) de la Sección V del presente Aviso de Privacidad; para el tratamiento de las finalidades señaladas en el inciso (b) de la citada Sección, el Responsable podrá realizar dicho tratamiento hasta que no reciba la negativa por parte del Titular.</p>
<p>El Titular no deberá añadir datos personales no requeridos o diferentes a aquellos solicitados por el Responsable en los campos designados para ello, ya que cualquier conducta contraria no garantiza la confidencialidad de dicha información.</p>
<p>A efecto de que el Titular pueda manifestar su negativa o revocar el consentimiento para el tratamiento de sus datos personales, deberá dirigirse al Responsable por medio del procedimiento establecido para el ejercicio de los Derechos ARCO (cuyo término se define más adelante), señalado en la Sección VII del presente Aviso de Privacidad.</p>
<p>8. DEL EJERCICIO DE LOS DERECHOS ARCO.</p>
<p>El Titular tendrá derecho para solicitar al Responsable en cualquier momento el acceso, rectificación, cancelación u oposición respecto de sus Datos (los "Derechos ARCO"), para lo cual deberá enviar una solicitud al Responsable, a la atención del área de Operaciones y Seguridad Informática, a la siguiente dirección: Calle Río Lerma 196Bis, Alcaldía Cuauhtémoc Ciudad de México, C.P. 06500., o al correo electrónico: contacto@involverh.com</p>

<p>La solicitud para ejercer los Derechos ARCO, o para revocar el consentimiento al tratamiento de los datos personales, deberá contener y estar acompañada de lo siguiente: </p>
<ul class="p-4">
<li>El nombre, apellido paterno y materno del Titular; </li>
<li>Su domicilio y/o correo electrónico y/o cualquier otro medio para comunicarle la respuesta a su solicitud;</li>
<li>Los documentos oficiales que acrediten la identidad o, en su caso, la representación legal del Titular; </li>
<li>La descripción clara y precisa de los Datos respecto de los que se busca ejercer alguno de los derechos antes mencionados; y </li>
<li>Cualquier otro elemento o documento que facilite la localización de los Datos del Titular.</li>
</ul>
<p>Una vez que el Responsable reciba el escrito del Titular referente al ejercicio de sus Derechos ARCO, el Responsable dentro de los 15 días hábiles tendrá que analizar, atender y enviar al Titular la respuesta correspondiente. El medio del envío de la respuesta podrá ser por la forma que indique el Titular o utilizando el mismo medio por el cual el Titular le hizo llegar el correspondiente escrito al Responsable.</p>
<p>9. DEL MAILING.</p>
<p>Para suprimir la recepción de mailing publicitario, el Titular podrá realizarlo seleccionando la opción desuscribir o unsubscribe que se encuentra al final de la comunicación recibida, o bien, mediante el correo electrónico contacto@involverh.com con el asunto “desuscribir publicidad”.</p>
<p>10. DE OTROS MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS.</p>
<p>Para limitar el tratamiento de los datos, el Titular únicamente tendrá los medios señalados en el presente Aviso de Privacidad. Quedará a elección del Titular, acudir o solicitar vía telefónica su inscripción al Registro Público de Consumidores previsto por la Ley Federal de Protección al Consumidor, a efecto de limitar el uso de los datos personales en posesión de los particulares.</p>
<p>11. DE LOS MECANISMOS DE COMUNICACIÓN.</p>
<p>Cualquier comunicación que el Titular dirija al Responsable relacionada al presente Aviso de Privacidad, deberá realizarse a las direcciones proporcionadas para el ejercicio de los Derechos ARCO, mencionando de manera clara y precisa: </p>
<ul class="p-4">
<li>El nombre, apellido paterno y materno del Titular; </li>
<li>Su domicilio y/o correo electrónico y/o cualquier otro medio para comunicarle la respuesta a su solicitud;</li>
<li>Los documentos oficiales que acrediten la identidad o, en su caso, la representación legal del Titular; y </li>
<li>La descripción clara y precisa del objeto de su comunicación.</li>
</ul>

<p>De la misma manera, el Responsable atenderá y responderá cualquier comunicación que le sea dirigida dentro de los 7 días hábiles al haber recibido dicho escrito, ya sea en la misma forma en el que le hicieron llegar la comunicación o en la forma en que hubiesen indicado.</p>
<p>12. DE LOS MEDIOS REMOTOS.</p>
<p>En caso de que el Titular proporcione sus Datos a través de medios electrónicos, incluyendo el sitio web (Internet) del Responsable, entonces el Titular entiende, acepta y reconoce que:</p>
<p>a) El sitio web del Responsable puede incluir enlaces a sitios web de terceros, que de accederse, ocasionará que se abandone el sitio web del Responsable, por lo cual el Responsable no asume ninguna responsabilidad en relación con esos sitios web de terceros. </p>
<p>b) El sitio web del Responsable puede incluir enlaces a sitios que administran redes sociales, en cuyo caso el Titular acepta que al proporcionar cualquier tipo de información o Datos en dichos sitios, ocasionará que la misma pueda ser leída, vista, accedida, retransmitida y tratada por cualquier persona, y por lo tanto libera de cualquier responsabilidad al Responsable. </p>
<p>c) Es posible que los sistemas del Responsable recopilen Datos del Titular tales como tipo de navegador, sistema operativo, páginas de Internet visitadas, dirección IP, etc., a través "cookies" o "web beacons", entre otros.</p>
<p>Para que el Titular pueda deshabilitar estos programas, deberá de acceder a las "opciones de internet" ubicadas en la sección de las "herramientas", o funciones similares, del navegador que utilice.</p>
<p>13. DE LAS MODIFICACIONES AL AVISO DE PRIVACIDAD.</p>
<p>El Responsable podrá modificar el presente Aviso de Privacidad tantas veces como considere necesario, tanto para guardar congruencia con los ordenamientos legales aplicables, a petición de las autoridades competentes y/o a nuestra propia conveniencia. </p>

<p>En tanto el Responsable no modifique su identidad, se requieran del Titular más datos de los aquí mencionados, se modifique el fin del presente Aviso de Privacidad y/o cambien las condiciones de transferencia, el Titular está de acuerdo y conforme en que la forma de notificar cualquier cambio a este Aviso de Privacidad, será a través de la publicación en la página de Internet ______________________. </p>

<p>Es obligación del Titular visitar periódicamente dicho sitio a fin de verificar la versión más actual del Aviso de Privacidad. Para los casos en que el consentimiento del Titular sea necesario por los cambios realizados al presente Aviso de Privacidad, el Responsable le hará llegar el aviso correspondiente a cualquiera de los medios de contacto que el Titular nos haya brindado; se entenderá que el Titular acepta dicho Aviso hasta que no recibamos cualquier comunicación en sentido contrario.</p>

<p>14. DE LA ACEPTACIÓN DE LOS TÉRMINOS.</p>
<p>Esta declaración de Privacidad está sujeta a los términos y condiciones de todos los sitios web de INVOLVE antes descritos, lo cual constituye un acuerdo legal entre el usuario y INVOLVE.</p>
<p>Si el usuario utiliza los servicios en cualquiera de los sitios de INVOLVE, significa que ha leído, entendido y aceptado los términos antes expuestos. Al momento de registrarse y previo al tratamiento de los datos, se pone a su disposición este Aviso de Privacidad integral, mismo que usted acepta al dar click en el botón “Crear Cuenta” o a través del mecanismo que se ponga a su disposición. La oposición a la aceptación del presente Aviso de Privacidad traerá como consecuencia la imposibilidad para prestar el servicio dentro de la plataforma para oferentes y demandantes de empleo. En caso de no aceptar el presente Aviso de Privacidad, no debe proporcionarnos datos personales, ni suscribirse a los sitios de INVOLVE.</p>

</div>