.modal-header {
	background: black;
}

.modal-title, .close-white {
color: white;
}

.center-img {
	display: block;
	margin: auto;
}

hr {
		margin-top: 0px;
		margin-bottom: 0px;
}

.btn-ok{
	background-color: #0AA8A8;
	border-radius: 20px;
	color: #F4F4F4;
	min-width: 150px;
	outline: none;
	border: none;
	height: 35px;
}

.btn-cancel{
	background-color: #3E3E3E;
	border-radius: 20px;
	color: #F4F4F4;
	min-width: 150px;
	outline: none;
	border: none;
	height: 35px;
}