<div class="main-container">
  <div class="terms-header-container">
    <img src="../../../assets/Grupo 498.svg" alt="">
  </div>
  <div class="terms-content-container">
    <h1>Términos y condiciones</h1>
  </div>
</div>