.main-container{
  .terms-header-container{
    -webkit-box-shadow: 0px 5px 8px -2px rgba(217,217,217,1);
    -moz-box-shadow: 0px 5px 8px -2px rgba(217,217,217,1);
    box-shadow: 0px 5px 8px -2px rgba(217,217,217,1);
    padding: 20px 10%;
    img{
      width: 170px;
    }
  }
  .terms-content-container{
    padding: 5% 10%;
  }
}