
<div class="container-fluid mt-5">
    <div class="row">
        <div class="text-center">
            <h2>Changelog</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="ml-3">
                <!--
                    let bugs = [];
                    document.querySelectorAll('td.id').forEach((el) => { bugs.push(el.children[0].innerText) });
                    console.warn(bugs.sort((a, b) => { return ( a > b ? 1 : -1) }).map((el) => { return `<li>Fix bug 
                        <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + ${el}">${el}</a>
                    </li>` }).join('\n'));
                -->
                <!-- <li>
                    <span>
                        1.0.XX - 
                        <small>
                            YY/ZZ/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 00">00</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 00">00</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 00">00</a>
                        </li>
                        <li>Se remueve TEMPORALMENTE la opción de Terman para asignación de pruebas psicométricas</li>
                    </ul>
                </li> -->
                <li>
                    <span>
                        1.0.49 - 
                        <small>
                            13/03/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix: Actualización de URLs donde no se puede mostrar el login overlay</li>
                        <li>Feat: Mensaje de error cuando la suscripción caducó</li>
                        <li>Fix: hideSalary se cambia la lógica</li>
                        <li>Fix: Envío correcto de salario máximo, mínimo y exacto en PATCH</li>
                        <li>Fix: Multiposting se convierte en opcional</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.48 - 
                        <small>
                            13/03/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Feat: Multipost</li>
                        <li>Validaciones en Talent Network</li>
                        <li>Feat: Estilos para CV en Talent Network</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.47 - 
                        <small>
                            08/03/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 831">831</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 832">832</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 846">846</a>
                        </li>
                        <li>Copies: Autoorganizado, he leído y acepto la política de cookies</li>
                        <li>Fix: limpiar los campos una vez que se realiza una invitación a otra vacante, pintar la experiencia, siempre y cuando se sigua laborando en la empresa</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.46 - 
                        <small>
                            02/03/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>fix: Actualizacion de lista de idiomas despues de la primera consulta en talen Network.</li>
                        <li>fix: Se incorpora copies de sueldo bruto y neto, se anexa imagen de corazon azul, para favoritos en talent network.</li>
                        <li>feat:Actualización en catálogo de modalidades</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.45 - 
                        <small>
                            02/03/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>fix: se agrega el correcto funcionamiento de los filtros de talentnetwork.</li>
                        <li>fix: se agrega validación, para filtrar candidatos correspondientes a su grupo, esto para solucionar el Bug de Talent Network.</li>
                        <li>Actualizacion de terminos y condiciones, modalidad creacion de vacante</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.44 - 
                        <small>
                            02/03/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>feat: Se ajusta valor de modalidad al editar vacante</li>
                        <li>fix: se agrega funcionalidad correcta de los filtros, se deja el filtro vivo, cuando no encuentra vacantes.</li>
                        <li>fix: se agrega el correcto funcionamiento de los filtros de talentnetwork.</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.43 - 
                        <small>
                            27/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix: Botón de configuración sólo se muestra una vez que completó su perfil</li>
                        <li>Actualización en términos de cupones</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.42 - 
                        <small>
                            26/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 824">824</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 825">825</a>
                        </li>
                        <li>Se fuerza al reclutador creador a ser parte del equipo de la vacante</li>
                        <li>Fix: En el proceso de postulación, se muestran las pestañas que ha completado el candidato</li>
                        <li>Feat: Se esconde botón de "aprobar" cuando no se han completado las pruebas psicométricas en la etapa de Pruebas y video</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.41 - 
                        <small>
                            24/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 823">823</a>
                        </li>
                        <li>Fix: SWAP entre descuento y total, en el desglose del pago</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.40 - 
                        <small>
                            24/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 819">819</a>
                        </li>
                        <li>Feat: Idiomas, cursos y certificaciones</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.39 - 
                        <small>
                            23/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 180">180</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 701">701</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.38 - 
                        <small>
                            23/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 533">533</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 811">811</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 813">813</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 814">814</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 815">815</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 816">816</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 817">817</a>
                        </li>
                        <li>Se agrega caracter de porcentaje en table de estadísticas</li>
                        <li>fix: Se remueve mensaje innecesario en notifications and photo</li>
                        <li>fix: no se mostraba nombre y correo en el modal de perfil al registrarse</li>
                        <li>Se cambian referencias de Membresía a Suscripción</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.37 - 
                        <small>
                            21/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 23">23</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 804">804</a>
                        </li>
                        <li>Update bug 23</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.36 - 
                        <small>
                            20/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 23">23</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 645">645</a>
                        </li>
                        <li>Feat: Cierre de sesión automático después de que el token expira</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.35 - 
                        <small>
                            19/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 90">90</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 533">533</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 701">701</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 771">771</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 781">781</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 782">782</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 783">783</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 785">785</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 794">794</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.34 - 
                        <small>
                            18/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 459">459</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 763">763</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 766">766</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 770">770</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 778">778</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.33 - 
                        <small>
                            17/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 88">88</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 199">199</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 423">423</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 741">741</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 762">762</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 765">765</a>
                        </li>
                    </ul>
                </li> 
                <li>
                    <span>
                        1.0.32 - 
                        <small>
                            16/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 130">130</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 221">221</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 465">465</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 734">734</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.31 - 
                        <small>
                            15/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 5">5</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 15">15</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 87">87</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 88">88</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 89">89</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 90">90</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 127">127</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 199">199</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 534">534</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 718">718</a>
                        </li>
                        <li>
                            Feat: Confirmación CVV
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.30 - 
                        <small>
                            14/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 8">8</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 656">656</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 717">717</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 731">731</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 732">732</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 733">733</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 735">735</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 736">736</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 737">737</a>
                        </li>
                        <li>Se agrega validación, para desplegar interpretaciones de pruebas, una vez completados</li>
                        <li>Feat: Generador de HTML para condiciones de cupón</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.29 - 
                        <small>
                            11/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 604">604</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 729">729</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 730">730</a>
                        </li>
                        <li>cv tabs, update reclu 60, workExperience, </li>
                        <li>Se modifican vistas de graficas para estdisticas</li>
                        <li>refactor: Se agrega validación, para desplegar interpretaciones de pruebas, una vez completados.</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.28 - 
                        <small>
                            09/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>modal en profile, cuando no hay grupos en talent modal</li>
                        <li>Corrección para inicio de sesión de reclutadores invitados</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.27 - 
                        <small>
                            08/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 575">575</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 626">626</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 687">687</a>
                        </li>
                        <li>redirect al seleccionar de lista, toast copy, open modal en profile para añadir a favoritos</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.26 - 
                        <small>
                            04/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Se intregra el apartado de Detalle en módulo de estadísticas.</li>
                        <li>pantala grupo favoritos no hay candidatos, creación de idioma y certificaciones en cv components, egister notifications, meanwhile solution heacer vacancy guest, fix modal copys, duplicidad de pago de vencido alerta, modal permission, ocultar filtros de grupos favoritos, crear grupo despues de seleccion</li>
                        <li>Copy: Openpay</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.25 - 
                        <small>
                            03/02/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 143">143</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 572">572</a>
                        </li>
                        <li>user card compartida, mainnavbar on configuration view, fix favorite group detail mainnavbar, fix talent be editor, fonts, fix margin lista favorite, modales en talent, cv talent en un mismo component - sticky,
                        </li>
                        <li>Feat: Actualizar el planId en resuscripción</li>
                    </ul>
                </li>
                <li>
                    <span>
                        1.0.24 - 
                        <small>
                            31/01/2022
                        </small>
                    </span>
                    <ul class="ml-4">
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 17">17</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 124">124</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 128">128</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 129">129</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 141">141</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 528">528</a>
                        </li>
                        <li>Fix bug 
                            <a target="_blank" [href]="'http://redmine.doblecinco.com.mx/issues/' + 646">646</a>
                        </li>
                        <li>Se remueve TEMPORALMENTE la opción de Terman para asignación de pruebas psicométricas</li>
                        <li>user card, fix crear vacantes filters</li>
                        <li>fix vacantes mostrar status postulantes, carda talent, search talent</li>
                        <li>Se implementa changelog</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>