<!-- <h2 *ngIf="educationData.length > 0" class="title-education text-left mb-3">
	Educación
</h2>

<ng-container *ngFor="let education of educationData">
	<div class="row time-line">
		<div class="time-line-years col-md-4 text-left">
			<p>{{education.startYear | date: 'YYYY'}} - {{education.endYear | date: 'YYYY'}}</p>
		</div>

		<div class="time-line-description col-md-8 col-lg-6 pr-2 text-left">
			<ul>
				<li class="time-line-description-title"> {{ education.degree }} </li>
				<li class="time-line-description-level">{{ education.educationLevel.name }} </li>
				<li class="time-line-description-institute">{{ education.instituteName }} </li>
			</ul>
		</div>
	</div>
</ng-container> -->

<div class="card text-center border-top">
	<div class=" text-left card-body paddingCard shadow-sm" style="height:34em;overflow-y: overlay;">
		<div class="">
			<h5 class="titleEducation text-left mt4 mb-5">
				Educación
			</h5>
		</div>
		<div *ngFor="let education of educations" class="col">
			<div class="row">
				<div class="col-md-2 col-lg-2 text-left">
					<p>{{education.startYear}} - {{education.endYear}}</p>
				</div>
				<div class="col-md-2 col-lg-1">
					<div class="container">
						<div class="lines">
							<div class="dot"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 pr-2 text-left">
					<p class="titleDescription"> <strong> {{ education.degree }} </strong></p>
					<p>{{ education.educationLevel.name }} </p>
					<p>{{ education.institute.name }} </p>
				</div>
			</div>
		</div>
	</div>
</div>