// @import "./src/assets/scss/main.scss";

// .title-education {
//   font-size: 20px;
//   @include fontsemibold();
//   color: $S700;
// }

@import "../../../../../../../../assets/scss/variables";

.container {
  width: 100%;
  height: 357px;
  display: flex;
  .lines {
    margin-top: 6px;
    .dot {
      width: 14px;
      height: 14px;
      background: $P400;
      border-radius: 7px;
    }

    .line {
      height: 80px;
      width: 2px;
      background: #d1d6e6;
      margin-left: 5.3px;
    }
  }
}

p {
  margin-bottom: 0px !important;
}

.titleEducation {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}

.titleDescription {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}
