<ng-container *ngIf="favoriteListId === ''; else mainnavFavoriteGroup">
  <app-main-navbar [mainNavData]="mainNavData">
  </app-main-navbar>
  <div class="d-flex justify-content-start bg-black" *ngIf="hideSearchBar || !displaysAdvancedFilters">
    <div class="col-8 p-0">
      <form [formGroup]="searchForm">
        <div class="search-filters d-flex justify-content-center align-item-center">
          <div class="filter has-icon">
            <img src="assets/img/dashboard/TalentNetwork/search-interface-symbol.svg" alt="search-icon"
              class="search-icon">
            <input type="text" maxlength="50" class="form-control" formControlName="finder"
              placeholder="Buscar candidatos"
              ngbTooltip="Puedes buscar al candidato por nombre de perfil, habilidades o idiomas."
              tooltipClass="my-custom-class" placement="bottom-left">
          </div>
          <div class="filter has-icon">
            <img src="assets/img/dashboard/TalentNetwork/placeholder.svg" alt="location-icon" class="location-icon">
            <input type="text" maxlength="50" class="form-control" formControlName="location" placeholder="Ubicación"
              matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <button (click)="searchCandidates(false)" class="btn btn-green-new btn-circle-full ml-3">
            <i class="fa fa-search form-control-feedback"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-template #mainnavFavoriteGroup>
  <app-main-navbar [mainNavData]="mainNavDataFavoriteGroup"></app-main-navbar>
</ng-template>


<div class="talent-container container-fluid bg-gray pb-4">
  <div class="row">
    <div class="col-3 p-0">
      <ng-container *ngIf="favoriteListId !== '' && candidates.length >= 0">
        <div class="card favorite-data-container mb-4">
          <div class="d-flex justify-content-between align-items-start mb-2 header">
            <img [src]="favoriteListDetails?.image.pathImageMiniature" alt="">
            <h2 class="flex-grow-1">{{favoriteListDetails?.name}}</h2>
            <div class="inv-card-icon" (click)="openEditDialog(favoriteListDetails)"
              *ngIf="favoriteListDetails?.permission">
              <img src="/assets/icons/icon-pencil-edit-gray.svg" class="edit-icon" />
            </div>
          </div>
          <div class="mb-2 profiles" *ngIf="favoriteListDetails?.totalProfiles >= 0">
            <p class="mb-2 font-16">
              <strong>{{favoriteListDetails?.totalProfiles}} perfil{{favoriteListDetails?.totalProfiles > 1
                ? 'es': ''}}</strong>
            </p>
          </div>
          <div class="recruiters" *ngIf="favoriteListDetails?.recruiters.length > 0">
            <p>Reclutador: {{favoriteListDetails?.recruiters.length > 1 ? 'es': ''}}</p>
            <img *ngFor="let recruiter of favoriteListDetails?.recruiters" class="perfect-circle"
              [src]="recruiter.recruiter.user.photo || '/assets/img/dashboard/vacantes/sinFotoPerfil.svg'"
              [ngbTooltip]="recruiter.recruiter.user.name + ' ' + recruiter.recruiter.user.lastName" placement="bottom">
          </div>
        </div>
      </ng-container>
      <form [formGroup]="filterForm" >
        <mat-accordion multi="true">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header class="hover-color">
              <mat-panel-title>
                Sueldo deseado
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex">
              <div class="form-input-container d-inline-block w-50 mb-4 align-top has-icon">
                <input type="text" maxlength="50" class="form-control" placeholder="Mínimo"
                  tooltipClass="my-custom-class" placement="bottom" formControlName="minDesiredSalary">
              </div>
              <span class="gray-bar"></span>
              <div class="form-input-container d-inline-block w-50 mb-4 align-top has-icon">
                <input type="text" maxlength="50" class="form-control" placeholder="Máximo"
                  tooltipClass="my-custom-class" placement="bottom" formControlName="maxDesiredSalary">
              </div>
            </div>
            <button type="button" class="btn-ok" (click)="searchCandidates(false)">Aplicar</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="hover-color">
              <mat-panel-title>
                Edad
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex">
              <div class="form-input-container d-inline-block w-50 mb-4 align-top has-icon">
                <input type="text" maxlength="50" class="form-control" placeholder="Mínima"
                  tooltipClass="my-custom-class" placement="bottom" formControlName="minAge">
              </div>
              <span class="gray-bar"></span>
              <div class="form-input-container d-inline-block w-50 mb-4 align-top has-icon">
                <input type="text" maxlength="50" class="form-control" placeholder="Máxima"
                  tooltipClass="my-custom-class" placement="bottom" formControlName="maxAge">
              </div>
            </div>
            <button type="button" class="btn-ok" (click)="searchCandidates(false)">Aplicar</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="hover-color">
              <mat-panel-title>
                Idiomas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section>
              <p style="margin-bottom: 0;" *ngFor="let language of availableBasicFilters.languages" class="mb-0">
                <mat-checkbox [checked]="language.isChecked" (change)="toggleCandidateSelected(language)">
                  {{language.spanishName}}</mat-checkbox>
              </p>
              <button *ngIf="availableBasicFilters.languages.length>0"type="button" class="btn-ok" (click)="searchCandidates(false)">Aplicar</button>
            </section>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="hover-color">
              <mat-panel-title>
                Fecha de actualización
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="updateDate">
              <mat-radio-button class="example-radio-button" *ngFor="let date of availableBasicFilters.lastUpdate"
                [value]="date.value">
                {{date.name}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </div>

    <ng-container *ngIf="!displaysAdvancedFilters">
      <div class="col-9 p-0">
        <ng-container *ngIf="candidates.length > 0">
          <div class="pl-4 mb-2 d-flex justify-content-between align-items-center">
            <div class="showFilter">
              Mostrar
              <select class="select-filters" (change)="searchCandidates(false)" [(ngModel)]="pageSize">
                <option [disabled]="pageSize == 8" value="8">8 candidatos</option>
                <option [disabled]="pageSize == 12" value="12">12 candidatos</option>
                <option [disabled]="pageSize == 16" value="16">16 candidatos</option>
                <option [disabled]="pageSize == 20" value="20">20 candidatos</option>
              </select>
            </div>

            <div class="paginator d-flex align-items-center justify-content-end" *ngIf="candidates.length > 0">
              <button class="btn" [attr.disabled]="pageNumber == 1 ? '' : null" (click)="subPageNumber()">
                <span class="fa fa-chevron-left form-control-feedback"></span>
              </button>
              <div class="d-flex align-items-center mx-2">
                <span>Página </span>
                <div class="form-input-container d-inline-block mx-2 w32">
                  <input type="text" maxlength="50" class="form-control" tooltipClass="my-custom-class"
                    placement="bottom" [(ngModel)]="pageNumber" (blur)="changeCurrentPage()">
                </div>
                <span> de {{ pagesTotal }}</span>
              </div>
              <button class="btn" [attr.disabled]="pageNumber == pagesTotal ? '' : null" (click)="addPageNumber()">
                <span class="fa fa-chevron-right form-control-feedback"></span>
              </button>
            </div>
          </div>
        </ng-container>

        <div class="row pl-3 mb-2" *ngIf="isAnyCandidateSelected && selectedcandidates > 0">
          <div class="col card flex-row justify-content-between align-items-center multiple-selection">
            <div class="selection">
              <img id="sobre" src="assets/icons/icon-checkmark.svg" alt="" />
              <span class="mx-2">Seleccionó {{selectedcandidates}} candidato{{selectedcandidates > 1 ? 's' : ''}}</span>
            </div>
            <select class="form-select mr-2" #option>
              <option value="vacant">Invitar a otra vacante</option>
              <option *ngIf="favoriteListId == ''" value="newFavorites">Crear lista a partir de selección</option>
              <option *ngIf="favoriteListId == ''" value="favorites">Añadir a favoritos</option>
              <option *ngIf="favoriteListId != ''" value="delete">Eliminar de la lista</option>
            </select>
            <div class="buttons-selection d-flex align-items-center justify-content-between">
              <button class="btn btn-green-new" (click)="multipleSelectionAction(option.value)">Aplicar</button>
              <button class="btn btn-link" (click)="clearSelection()">Limpiar
                selección</button>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngIf="candidates.length >= 0">
            <div class="col-md-6" *ngFor="let candidate of candidates">

              <div class="card mb-4">
                <div class="d-flex justify-content-between">
                  <mat-checkbox [checked]="candidate.isChecked" (change)="toggleCandidateSelected(candidate)">
                  </mat-checkbox>
                </div>
                <div class="icons">
                  <img *ngIf="favoriteCandidates" id="favorito" src="assets/img/dashboard/TalentNetwork/heart.svg" alt="" class="cursor-pointer"
                    (click)="addUserToFavoritesToMultipleAction('favorites', candidate)">
                  <img *ngIf="!favoriteCandidates" id="favorito" src="assets/img/dashboard/TalentNetwork/heart-favorite.svg" alt="" class="cursor-pointer"
                    (click)="addUserToFavoritesToMultipleAction('delete', candidate)">
                  <img id="sobre" src="assets/img/dashboard/TalentNetwork/email.svg" alt="" class="cursor-pointer"
                    (click)="addUserToFavoritesToMultipleAction('vacant', candidate)">
                </div>
                <img id="sobre" class="user-image"
                  [src]="candidate?.user.photo != null ? candidate?.user.photo : '/assets/img/dashboard/vacantes/sinFotoPerfil.svg'"
                  alt="">
                <div class="card-body">
                  <div class="card-text text-center">
                    <h3 class="mb-2"><strong>{{ getFullName(candidate) }}</strong></h3>
                    <p class="mb-2 position" *ngIf="candidate?.positionSearch">
                      {{candidate?.positionSearch }}
                    </p>
                    <p class="salary" *ngIf="candidate.maxSalary === null">
                      <strong>{{ candidate.minSalary | customCurrency }} MXN</strong>
                    </p>
                    <p class="salary" *ngIf="candidate.maxSalary !== null">
                      <strong>{{ candidate.minSalary | customCurrency }} MXN</strong>
                    </p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-black mr-3"
                      (click)="redirectToProfile(candidate.candidateId);">
                      Ver perfil
                    </button>
                    <button type="button" class="btn btn-green-new"
                      (click)="openModalInformacionContacto(candidate,true);">
                      Contactar
                    </button>
                  </div>
                  <section class="mt-3 d-flex justify-content-between text-left"
                    *ngIf="candidate.hardSkills.length != 0">
                    <div class="col-sm-8 pr-2 skills-level-container">
                      <p class="p-0 m-0"><strong>Habilidades Duras</strong></p>
                      <ul>
                        <li *ngFor="let skill of candidate.hardSkills">{{ skill.skill.name }}</li>
                      </ul>
                    </div>
                    <div class="col-sm-4 p-0 skills-level-container">
                      <p class="p-0 m-0"><strong>Nivel</strong></p>
                      <ul>
                        <li *ngFor="let skill of candidate.hardSkills">{{ skill.level | titlecase }}</li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="favoriteListId !== '' && candidates.length === 0">
          <div class="no-results row d-flex justify-content-center align-items-center"
            style="height:calc(100vh - 200px)">
            <div class="col-6 text-center">
              <img class="mb-3 filter-gray-light" src="assets/img/general/black-heart.svg" width="60" alt="">
              <h4>No has guardado candidatos</h4>
              <p>Si el talento te gustó, haz clic en el corazón para guardarlo. Si tienes un team caza talento, agrégalo
                a la lista para mantenerse actualizados.</p>
              <a [routerLink]="'/dashboard/talent'" class="btn btn-green-new btn-block">Buscar candidatos</a>
            </div>
          </div>

        </ng-container>

      </div>



    </ng-container>
    <ng-container *ngIf="favoriteListId === '' && candidates.length == 0">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center" style="height:60vh"
          *ngIf="candidates.length == 0">
          <div class="text-center not-result-candidates">
            <img class="mt-5 mb-3" src="/assets/img/dashboard/TalentNetwork/no-results.svg" alt="">
            <h4 style="color: #ababab">No encontramos resultados <br> para tu búsqueda</h4>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="displaysAdvancedFilters">
      <div class="col-8 offset-1 pt-4">
        <div class="card boder-0">
          <div class="card-header">
            <h2>__Filtros avanzados</h2>
            <button>__Limpiar filtros</button>
            <button class="involve-button badge badge-pill py-2 px-3"
              (click)="toggleAdvancedFilters()">__Aplicar</button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-10 offset-1">
                <form>
                  <div class="section">
                    <p class="title">__Perfil del candidato</p>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label>__Nombre</label>
                      </div>
                      <div class="col-8">
                        <input type="text" placeholder="__Escribe el nombre">
                      </div>
                    </div>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label>__Título del puesto</label>
                      </div>
                      <div class="col-8">
                        <input type="text" placeholder="__Escribe el nombre del puesto">
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Habilidades duras</p>
                    <div class="field row mb-5">
                      <div class="col-10">
                        <input type="text" placeholder="__Escribe las habilidades técnicas">
                      </div>
                      <div class="col-2">
                        <button class="involve-button badge badge-pill py-2 w-auto">__Añadir</button>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Expericencia laboral</p>
                    <div class="text-center">
                      <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
                        alt="" class="my-5">
                      <p class="mb-5">__Seleccione las áreas y especialidades requeridas para la búsqueda</p>
                      <button class="involve-button badge badge-pill py-2 px-3 w-auto">__Añadir</button>
                    </div>
                    <div class="field row mb-5">
                      <div class="col-10">
                        <input type="text" placeholder="__Escribe las habilidades técnicas">
                      </div>
                      <div class="col-2">
                        <button class="involve-button badge badge-pill py-2 w-auto">__Añadir</button>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Educación</p>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label>__Nivel de estudios</label>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-6" *ngFor="let level of studyLevel">
                            <label>
                              <input type="checkbox" [value]="level.name" [checked]="level.isChecked">
                              <span>{{level.name}} ({{level.ammount}})</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label>__Nivel de estudios</label>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-6" *ngFor="let institution of studyInstitution">
                            <label>
                              <input type="checkbox" [value]="institution.name" [checked]="institution.isChecked">
                              <span>{{institution.name}} ({{institution.ammount}})</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Nacionalidad</p>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label></label>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-6" *ngFor="let nationality of nationalities">
                            <label>
                              <input type="checkbox" [value]="nationality.name" [checked]="nationality.isChecked">
                              <span>{{nationality.name}} ({{nationality.ammount}})</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Género</p>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label></label>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-6" *ngFor="let gender of genders">
                            <label>
                              <input type="checkbox" [value]="gender.name" [checked]="gender.isChecked">
                              <span>{{gender.name}} ({{gender.ammount}})</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Disponibilidad para cambio de residencia</p>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label></label>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-6" *ngFor="let option of mobilityAvailability">
                            <label>
                              <input type="radio" name="mobilityAvailability" [value]="option.name"
                                [checked]="option.isChecked">
                              <span>{{option.name}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <p class="title">__Cursos y certificaciones</p>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label>__Curso</label>
                      </div>
                      <div class="col-8">
                        <input type="text" placeholder="__Ejemplo: Angular">
                      </div>
                    </div>
                    <div class="field row mb-5">
                      <div class="col-4">
                        <label>__Certificación</label>
                      </div>
                      <div class="col-8">
                        <input type="text" placeholder="__Ejemplo: Scrum Master">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate officia consectetur molestias, dolorem
          quod
          facilis velit. Vero blanditiis molestiae maxime numquam, accusantium, facere possimus excepturi adipisci quos,
          commodi placeat eaque.</p>
      </div>
    </ng-container>
  </div>


  <div class="paginator d-flex align-items-center justify-content-end" *ngIf="candidates.length > 0">
    <button class="btn" [attr.disabled]="pageNumber == 1 ? '' : null" (click)="subPageNumber()">
      <span class="fa fa-chevron-left form-control-feedback"></span>
    </button>
    <div class="d-flex align-items-center mx-2">
      <span>Página </span>
      <div class="form-input-container d-inline-block mx-2 w32">
        <input type="text" maxlength="50" class="form-control" tooltipClass="my-custom-class" placement="bottom"
          [(ngModel)]="pageNumber" (blur)="changeCurrentPage()">
      </div>
      <span> de {{ pagesTotal }}</span>
    </div>
    <button class="btn" [attr.disabled]="pageNumber == pagesTotal ? '' : null" (click)="addPageNumber()">
      <span class="fa fa-chevron-right form-control-feedback"></span>
    </button>
  </div>
</div>

<ng-template #informacionContacto let-modal>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>Información de contacto</h3>
      <i class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </div>

    <div class="involve-modal-body">
      <div class="row mt-3">
          <div class="col-6 info-contact" *ngIf="informationCandidate.email">
            <div class="title">
              <img class="icon" src="assets/img/general/correo.svg" alt="Email">
              <h6>Email</h6>
            </div>
            <h5 class="font-bold" (click)="contactClicked(informationCandidate.email, 'email')">{{informationCandidate.email}}</h5>
          </div>

          <div class="col-6 info-contact" *ngIf="informationCandidate.git">
            <div class="title">

              <img class="icon" src="assets/img/general/gitHub.svg" alt="...">
              <h6>GitHub</h6>
            </div>
            <h5 class="font-bold" (click)="contactClicked(informationCandidate.git)">{{informationCandidate.git}}</h5>
          </div>

          <div class="col-6 info-contact" *ngIf="informationCandidate.phone">
            <div class="title">

              <img class="icon" src="assets/img/general/Telefono.svg" alt="...">
              <h6>Teléfono</h6>
            </div>
            <h5 class="font-bold" (click)="contactClicked(informationCandidate.phone, 'phone')">{{informationCandidate.phone}}</h5>
          </div>
          <div class="col-6 info-contact" *ngIf="informationCandidate.behance">
            <div class="title">
              <img class="icon" src="assets/img/general/logos/logotipo-de-behance.svg" alt="...">
              <h6>Behance</h6>
            </div>
            <h5 class="font-bold" (click)="contactClicked(informationCandidate.behance)">{{informationCandidate.behance}}</h5>
          </div>

          <div class="col-6 info-contact" *ngIf="informationCandidate.linkedIn">
            <div class="title">
              <img class="icon" src="assets/img/general/logos/logoLinkedIn.svg" alt="...">
              <h6>Perfil de Linked in</h6>
            </div>
            <h5 class="font-bold" (click)="contactClicked(informationCandidate.linkedIn)">{{informationCandidate.linkedIn}}</h5>
          </div>

          <div class="col-6 info-contact" *ngIf="informationCandidate.file">
            <div class="title">
              <img class="icon" src="assets/img/general/clip.svg" alt="...">
              <h6>Enlace a sitio o archivo web</h6>
            </div>
            <h5 class="font-bold" (click)="contactClicked(informationCandidate.file)">{{informationCandidate.file}}</h5>
          </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addToFavorites let-modal>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>Favoritos</h3>
      <i class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </div>
    <div class="involve-modal-body">
      <div class="finder">
        <input type="text" placeholder="Buscar" class="w-100 form-control">
      </div>
      <div class="item-container">
        <div class="item" *ngFor="let list of favoritesList"
          (click)="onAddUsersToFavoriteListOrVacantProcess(list.listFavorite, null)">
          <p class="mb-0">{{list.listFavorite.name}}</p>
          <span>{{list.listFavorite.totalProfiles}} perfiles</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #inviteToVacant let-modal>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>Recomiéndale otra oferta</h3>
      <i class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </div>
    <div class="involve-modal-body">
      <span>
        Vacante
      </span>
      <form [formGroup]="formularioModalBuscar">

        <div class="form-group has-search d-flex justify-content-start align-items-center">
          <span class="fa fa-search form-control-feedback ml-3"></span>
          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <input id="Search" name="Search" type="search" class="form-control has-search"
            formControlName="modelBuscarVacante" placeholder="Buscar" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter">
        </div>
      </form>
    </div>
    <div class=" involve-modal-footer">
      <button class="btn btn-green-new" [disabled]="formularioModalBuscar.invalid"
        (click)="onAddUsersToFavoriteListOrVacantProcess(null, modelBuscarVacante)">Recomendar</button>
    </div>
  </div>
</ng-template>

<ng-template #removeCandidate let-modal>
  <button (click)="removeCandidates(true)">Aceptar</button>
  <button (click)="removeCandidates(false)">Cancelar</button>
</ng-template>

<ng-template #emptyFavoritesList>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>Crear grupos</h3>
      <i class="close" aria-hidden="true" (click)="closeModals()"></i>

    </div>
    <div class="involve-modal-body">
      <p class="text-center py-3 mb-0">Con los grupos de favoritos podrás guardar perfiles de candidatos y colaborar con
        otros reclutadores.</p>
    </div>
    <div class="involve-modal-footer text-center">
      <button class="btn btn-green-new" (click)="openCreateDialog()">Crear grupo</button>
    </div>
  </div>
</ng-template>


<ng-template #deleteCandidate>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>¿Eliminamos a este candidato de tus favoritos?</h3>
      <i class="close" aria-hidden="true" (click)="closeModals()"></i>

    </div>
    <div class="involve-modal-footer text-center d-flex justify-content-center align-items-center">
      <button class="btn btn-black mr-2" (click)="closeModals()">Cancelar</button>
      <button class="btn btn-red" (click)="removeCandidates(true)"><img class="mr-2"
          src="assets/icons/icon-trash-red.svg" alt="">Eliminar</button>
    </div>
  </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>