@import "./src/assets/scss/main.scss";

.talent-container {
  padding: 16px 40px;
  min-height: calc(100vh - 250px);
}

.skills-level-container {
  p {
    color: $S600;
    @include fontsemibold();
  }
  ul {
    list-style-type: none;
    li {
      font-size: 14px;
    }
  }
}
.not-result-candidates{
  margin-top: -55%;
}
.search-filters input {
  height: 48px;
}
.form-select {
  width: 50%;
  margin: 0 8px;
}
.search-icon {
  left: 10px;
  position: absolute;
  top: 14px;
}

input.mat-input-element {
  margin-top: 0;
}

.location-icon {
  left: 11px;
  position: absolute;
  top: 12px;
}

::ng-deep .tooltip-search .tooltip-inner {
  font-size: 12px;
  background-color: $S700;
}

.table {
  margin-bottom: 0;
}

.table_header {
  background: #1c1c1b;

  color: #f6f6f6;
  font-size: 13px;
  font-weight: 600;
}

.bordes {
  border: 1px solid !important;
  border-color: #e6e6e6 !important;
}

.sideNavBorderBottom {
  border-bottom: 1px solid $S100;
}

.texto {
  display: flex;
  font-size: 24px;
  color: #ababab;
}

.tituloTabla {
  font-size: 15px;
  color: #565656;
  font-weight: 700 !important;
}

.subTituloRegular {
  font-size: 12px;
  color: #3c3c3b !important;
  font-weight: 500 !important;
  cursor: default;
  background: #ffffff;
}

.subTituloRegular:hover {
  text-decoration: none;
}

.subTituloMedium {
  font-size: 12px;
  color: #3c3c3b;
  font-weight: 700 !important;
  background: #ffffff;
}

.btn-circle-mas {
  width: 2.4em;
  height: 2.4em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  cursor: auto !important;
  background: #e6e6e6;
  border: 0 !important;
}

.btn-circle-mas:hover {
  border: solid 1px !important;
  border-color: #088d8d !important;
}

.rounded-circle:hover {
  border: solid 1px !important;
  border-color: #088d8d;
}

.textobtn-mas {
  font-size: 12px;
  color: #565656;
  font-weight: 600;
}

.btnConfidencial {
  width: 30% !important;
  background: #2680eb !important;
  border: 0;
  padding-top: 1.2% !important;
  padding-bottom: 1.2% !important;
  cursor: auto !important;
  font-weight: 500;
  font-size: 12px;
}

.btnMotivo {
  background: #ffffff;
  border: solid 1px !important;
  border-color: #0aa8a8 !important;
  padding-top: 3.2% !important;
  padding-bottom: 3.2% !important;
  cursor: auto !important;
  color: #0aa8a8;
  font-weight: 500;
  font-size: 13px;
}

.btnMotivo:hover {
  background: #24aa3d;
  color: #f6f6f6;
}

.btnActivar {
  background: #24aa3d !important;
  padding-top: 5.2% !important;
  padding-bottom: 5.2% !important;
  cursor: auto !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.opacity {
  opacity: 0;
}

/*Modal activar plantilla*/
.btnContinuarDisabled {
  width: 8em !important;
  height: 2.5em !important;
  border: solid 1px #e1e1e1 !important;
  background-color: #f6f6f6;
}

.btnContinuar {
  width: 8em !important;
  height: 2.5em !important;
  border: solid 1px #24aa3d !important;
  background-color: #24aa3d;
  color: #f2f2f2;
}

.ng-table th.sortable .sort-indicator {
  padding-right: 18px;
  position: relative;
}

.subtituloNuevaVacante {
  font-size: 14px;
  color: #525251;
  align-content: flex-start;
}

/*Para los paginadores*/
::ng-deep .page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem !important;
}

::ng-deep .page-item:last-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem !important;
}

::ng-deep .page-item.disabled .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #a8a8a8 !important;
  border: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

::ng-deep .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #0bb9b9;
  border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
  background-color: #088d8d;
}

::ng-deep .page-link:focus {
  box-shadow: none;
}

.input-sm {
  width: 2.25rem;
  border-radius: 0.4rem;
  height: calc(1.5em + 0.5rem + 2px);
  text-align: center;
}

.textoPaginadorMedium {
  font-size: 14px;
  color: #565656;
  font-weight: 400;
  opacity: 0.8;
}

.textoPaginadorRegular {
  font-size: 16px;
  color: #565656;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label.minus::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='24' viewBox='0 0 16 16'%3e%3cpath fill='%23fff' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e");
  transform: scale(2.5);
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $P500;
  background-color: $P500;
}

.selectFiltros {
  background: transparent;
  border: 0;
  font-weight: 600;
  &:focus {
    outline: none;
  }
}

.name {
  display: none;
}

.show {
  display: block !important;
}

th[sortable].sort:before {
  content: "\f0dc";
  font-family: "Font Awesome 5 Free";
  float: right;
  cursor: pointer;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  float: right;
  cursor: pointer;
}

th[sortable].desc:before {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  float: right;
  cursor: pointer;
}

.textPlaceHolder {
  border: 0 !important;

  &:hover {
    border: 0 !important;
  }

  &:focus {
    border: 0 !important;
  }

  &::placeholder {
    color: #b4b4b4 !important;
  }
}

.photo {
  width: 1.9em;
  border-radius: 50% !important;
  height: 1.9em;
  border: solid 1px #ffff;
}

.btnNewClient {
  background-color: $P600;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400 !important;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600 !important;
  }
}

.btnDelete {
  background-color: #fdeaea;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400 !important;

  &:hover {
    background-color: $E200;
    color: #ffffff;
    .imgDelete {
      content: url("../../../../../assets/img/dashboard/Clientes/basura-blanco.svg");
    }
  }
}

.btnDeleteAll {
  font-size: 13px;
  background-color: $P500;
  border-color: $P500;
}

.subtitleModal {
  font-size: 16px;
  color: $S700;
}

.search-btn,
.left-btn,
.right-btn {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0bb9b9;
  margin-top: 1.2em;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: #fff;
    font-size: 16px;
  }
}

.right-btn,
.left-btn {
  &[disabled] {
    background-color: #a8a8a8;
    cursor: default;
  }
}

.mat-expansion-panel {
  box-shadow: none;
  border: 1px solid #e2e2e2;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0;
  margin-top: 0;
}

.mat-expansion-panel-header-title {
  text-align: left;

  letter-spacing: 0px;
  color: #2e2e2e;
  opacity: 1;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

::ng-deep .mat-radio-label-content,
::ng-deep .mat-checkbox-label {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

::ng-deep .mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: #3f51b5;
  }
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important; /*click effect color change*/
  background-color: #0bb9b9 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #0bb9b9 !important; /*inner circle color change*/
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0bb9b9 !important; /*outer ring color change*/
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #0bb9b9 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0bb9b9;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #0bb9b9 !important;
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -moz-appearance: none;
}

.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.gray-bar {
  background: #ababab;
  width: 20px;
  height: 2px;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 18px;
}

.btn-ok {
  background-color: #0aa8a8;
  border-radius: 20px;
  color: #f4f4f4;
  min-width: 100%;
  outline: none;
  border: none;
  height: 35px;

  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.hover-color:hover {
  background: #cff4f4 !important;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
  background: #cff4f4 !important;
  border-bottom: 2px solid #e2e2e2;
}

::ng-deep .mat-expansion-panel-body {
  padding: 24px 24px 16px !important;
}

.transparent-select,
.transparent-select:hover {
  border: none;
  background: transparent;
  width: 180px;
  font-weight: bold;
}

.card {
  min-height: 460px;
  border-radius: 8px;

  .btn {
    font-size: 12px;
  }
  .card-body {
    h3 {
      font-size: 16px;
    }
  }
}

.titleClient {
  text-align: left;

  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0px;
  color: #3c3c3b !important;
}

.tituloModal {
  font-size: 23px;

  color: #000000;
  font-weight: 700 !important;
}

.subtitulo16 {
  font-size: 16px;

  color: #000000;
  font-weight: 600 !important;
}

.subtitulo16Azul {
  font-size: 16px;

  color: #0bb9b9;
  font-weight: 400 !important;
}

.card {
  padding: 23px;
  .icons {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 20px;
    img {
      margin-bottom: 23px;
    }
  }
  .user-image {
    margin: 0 auto 27px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
  }
  &-body {
    padding: 0;
    .position {
      font-size: 14px;
      color: $S200;
      margin-bottom: 12px;
    }
    .salary {
      font-size: 14px;
    }
  }
}

.transparent-select {
  border: none;
  background: transparent;
  width: 131px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  &:hover {
    width: 131px;
  }
}

.icon {
  filter: invert(50%) sepia(50%) saturate(4228%) hue-rotate(148deg) brightness(106%) contrast(91%);
}

.mt-32 {
  margin-top: 32px;
}

.w32 {
  width: 32px;
}

.px-15 {
  padding: 0 15px;
}

.involve-modal-body {
  span {
    font-size: 14px;
  }
  .has-search {
    margin-right: 0;
  }
  padding: 0 45px;
}

.item-container {
  margin-top: 17px;
  min-height: 60px;
  max-height: 200px;
  overflow: auto;
  background-color: $F666;
  border-radius: 8px;
  border: 1px solid $E4E4;
  &::-webkit-scrollbar {
    width: 8px;
    height: 30%;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $F400;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $F300;
    border-radius: 8px;
  }
  .item {
    margin: 6px;
    padding: 10px 10px;
    background-color: #ffffff;
    cursor: pointer;
    min-height: 62px;
    border-radius: 6px;

    p {
      line-height: 1;
      color: $S600;
    }
    span {
      font-size: 13px;
      color: $G7070;
    }
    &:hover {
      background-color: $F100;
    }
  }
}

.favorite-data-container {
  border: 1px solid $S100;
  position: relative;
  min-height: auto;
  .header {
    img {
      width: 38px;
      margin-right: 10px;
    }
    h2 {
      font-size: 16px;
      font-weight: 600;
    }
    .inv-card-icon {
      position: absolute;
      right: 5px;
      top: 4px;
      color: $ABA;
      width: 32px;
      height: 32px;
      cursor: pointer;
      transition: 0.3s all ease-in;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $E4E4;
        border-radius: 50%;
        color: #000000;
      }
      img {
        width: auto;
        margin: 0;
      }
    }
  }
  .recruiters {
    border-top: 1px solid $EAEA;
    padding-top: 8px;
    P {
      margin: 0;
    }
    img {
      width: 32px;
    }
  }
}

.multiple-selection {
  min-height: 40px;
  .involve-button {
    min-width: 100px;
  }
}

.info-contact {
  .title {
    display: flex;
    img {
      margin-right: 8px;
      width: 18px;
    }
  }
  h5 {
    margin-left: 24px;
    font-size: 16px;
  }
  margin-bottom: 24px;
}
