<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div *ngIf="!editarPerfil" class="row">
        <div class="col-md-2">
          <img class=" cursor-pointer mt-2" src="../../../../assets/img/dashboard/vacantes/sinFotoPerfil.svg"
             alt=""
            (click)="editaPerfil();">
        </div>
        <div class="col-md-10">
          <span class="d-block text-nowrap titiloDowDawn perfil mt-2 mr-4 ml-3 paddin-left tituloBarra">Jenniffer
            Fuentes
            <img class=" ml-1" src="../../../../assets/img/dashboardCnadidato/ok.svg"
               alt="">
          </span>
          <span class="d-block text-nowrap subTitulo  mr-5 ml-3 paddin-left letra">desarrollador Fullstack</span>
        </div>
      </div>
      <div *ngIf="editarPerfil" class="row">
        <div class="col-md-2 d-flex align-items-center">
          <img class=" ml-1 cursor-pointer" src="../../../../assets/img/dashboardCnadidato/menor.svg"
          (click)="regresaDashBoard();">
        </div>
        <div class="col-md-10 text-center">
          <img class=" mt-2" src="../../../../assets/img/dashboard/vacantes/sinFotoPerfil.svg"
             alt="">
        </div>
      </div>
    </div>
    <app-sidenav-dashboard *ngIf="!editarPerfil"></app-sidenav-dashboard>
    <app-sidenav-editarcv *ngIf="editarPerfil"></app-sidenav-editarcv>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <app-headereditar-cv *ngIf="editarPerfil"></app-headereditar-cv>
    <router-outlet #myGralOutlet="outlet"></router-outlet>
  </div>
</div>