<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="container-fluid pl-0">
  <form [formGroup]="testsForm" (ngSubmit)="submitForm()">
    <div class="card text-center mt-6 ml-6 mr-6 borde borde-bottom px-5">
      <app-step-bar [buttonsSelected]="5"></app-step-bar>
      <div class="card-body text-left px-0">
        <div class="row mb-4"><!-- Pruebas psicométricas -->
          <div class="col-4">
            <label for="colFormLabel" class="d-block col-form-label subtitulosCrearVacante" autocomplete="off">Involve<span class="font-weight-normal">metría</span> </label>
            <label for="colFormLabel" class="d-block col-form-label textoEtiquetas py-0"> ¿Qué quieres evaluar en tu candidato? </label>

          </div>
          <div class="col-sm-8">
            <div class="card cardColor mb-4" *ngFor="let option of psychometricTests; let i = index;">
              <div class="card-body padding">
                <div class="form-check form-switch d-flex align-items-center mb-4 mt-4 ">
                  <label class="switch mb-0">
                    <input type="checkbox" [checked]="option.enabled" (change)="onTogglePsychometricTest(option.psicometricosCatId)">
                    <span class="slider round"></span>
                  </label>
                  <label class="form-check-label textoTajeta ml-4">{{option.name}} - {{option.description}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-center mt-6 ml-6 mr-6 borde borde-bottom ">
      <div class="card-body px-0 px-md-5 px-sm-0 text-left row justify-content-between pt-3">
        <label for="colFormLabel" class="col-4 col-form-label subtitulosCrearVacante px-0" autocomplete="off">Video presentación
          <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer" appShowTooltip>
          <div tooltip class="source">
            <p class="font-weight-bold">¿Ya tiene cara tu talento?</p>
            <br>
            <p>Es la forma sencilla y eficaz para conocer a los candidatos que se postulan a tus vacantes.</p>
          </div>
        </label>
        <div class="row mb-4 col-8" ><!-- Video presentación -->
          <div class="col-12">
            <label>De las siguientes preguntas, el candidato escogerá dos para su video presentación:</label>
            <div class="questions-container">
              <ul>
                <li *ngFor="let question of presentationQuestions">{{ question.question }}</li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="card text-center mt-6 ml-6 mr-6 borde borde-bottom ">
      <div class="card-body px-0 px-md-5 px-sm-0 text-left justify-content-between row">
        <label for="colFormLabel" class="col-4 col-form-label subtitulosCrearVacante pl-0" autocomplete="off">Entrevista técnica
          <img src="assets/img/general/iconInfoGreen.svg" alt="" class="ml-2 cursor-pointer" appShowTooltip>
          <div tooltip class="source">
            <p>¿El candidato quiere repetir la video entrevista? Realiza otra ronda de preguntas ¡Deben ser distintas a las primeras!</p>
          </div>
        </label>
        <div class="row mb-4 col-8"><!-- Entrevista técnica -->
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-12">
            <div class="first-round-container">
              <label>La entrevista técnica dura 4 minutos. ¡Conoce lo más relevante del perfil! Realiza mínimo una pregunta por ronda.</label>
              <label class="my-3">Primera ronda</label>
              <div class="mb-2 d-flex">
                <app-modal-preguntas [isDisabled]="firstRoundQuestionsLength === 4" (propagar)="addTechnicalQuestion($event, 1)"></app-modal-preguntas>
                <label>{{'vacantes.crearvacante.paso4.agregapregunta' | translate}} ({{firstRoundQuestionsLength}}/4)</label>
                <br>
              </div>
              <div class="card cardColor mb-4" *ngFor="let question of technicalQuestions.firstRound; let i = index;">
                <div class="card-body padding">
                  <div class="form-check form-switch d-flex align-items-center justify-content-between mb-4 mt-4 px-0">
                    <label class="form-check-label textoTajeta flex-grow-1">{{question}}</label>
                    <button class="delete-question-button" type="button" (click)="removeTechnicalQuestion(i, 1)">
                      <img src="/assets/img/general/xNegraSinRelleno.svg" alt="" class="cursor-pointer">
                      <img src="assets/img/general/xRojaSinRelleno.svg" alt="" class="cursor-pointer">
                    </button>
                  </div>
                </div>
              </div>
              <div class="alert alert-danger d-flex align-items-center my-2" *ngIf="firstRoundQuestionsLength === 0 && hasTechnicalInterviewFirstRoundError">
                <i class="fa fa-info-circle mr-2"></i>
                <div class="line">Es necesario ingresar al menos una pregunta técnica.</div>
              </div>
            </div>
            <div class="second-round-container">
              <label class="mt-5 mb-3" appShowTooltip>Segunda ronda <img src="assets/img/general/iconInfoGreen.svg" alt="" class="cursor-pointer"></label>
              <div class="mb-5 d-flex">
                <app-modal-preguntas [isDisabled]="secondRoundQuestionsLength === 4" (propagar)="addTechnicalQuestion($event, 2)"></app-modal-preguntas>
                <label>{{'vacantes.crearvacante.paso4.agregapregunta' | translate}} ({{secondRoundQuestionsLength}}/4)</label>
                <br>
              </div>
              <div class="card cardColor mb-4" *ngFor="let question of technicalQuestions.secondRound; let i = index;">
                <div class="card-body padding">
                  <div class="form-check form-switch d-flex align-items-center justify-content-between mb-4 mt-4 px-0">
                    <label class="form-check-label textoTajeta flex-grow-1">{{question}}</label>
                    <button class="delete-question-button" type="button" (click)="removeTechnicalQuestion(i, 2)">
                      <img src="/assets/img/general/xNegraSinRelleno.svg" alt="" class="cursor-pointer">
                      <img src="assets/img/general/xRojaSinRelleno.svg" alt="" class="cursor-pointer">
                    </button>
                  </div>
                </div>
              </div>
              <div class="alert alert-danger d-flex align-items-center my-2" *ngIf="secondRoundQuestionsLength === 0 && hasTechnicalInterviewSecondRoundError">
                <i class="fa fa-info-circle mr-2"></i>
                <div class="line">Es necesaria otra ronda de preguntas en caso de que el candidato requiera volver a realizar la entrevista.</div>
              </div>
              <div tooltip class="source">
                <p>La segunda ronda se elabora en caso de que el candidato haya tenido un problema técnico o bien quiera volver a realizar su vídeo entrevista. Las preguntas deben ser diferentes a la primera ronda.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-radius-top text-right">
      <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="row navigation-footer-container">
              <div  class="col-sm-6 text-left"> 
                <button class="btn-prev" (click)="prevStep()">Anterior</button>
              </div>
              <div class="col-sm-6 text-right">
                <a class="mr-3 guardarBorrador" (click)="nextStep(false)" >Guardar como borrador</a>
                <button class="btn-next" (click)="nextStep()">Siguiente</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>