@import "../../../../../../assets/scss/variables";

.borde {
  border-radius: 0;
  border: solid 1px;
  border-color: #e1e1e1;
}
.borde-bottom {
  border-bottom: 0;
}

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.tarjeta-vacante {
  margin: 8px 0;
}

.subtitulosCrearVacante {
  color: $S600;
  font-size: 24px;

  font-weight: bold;
}

.textoEtiquetas {
  font-weight: 500;
  font-size: 16px;
  color: #565656;
}

.my-custom-class .tooltip-inner {
  width: 500%;
  background-color: darkgreen;
}

.cursor {
  cursor: pointer;
}

.confidencialSubtitulo {
  font-size: 13px;
  color: #565656;
}
.confidencialTitulo {
  font-size: 16px;
  color: #565656;
  font-weight: 500;
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -moz-appearance: none;
}
.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.botonG {
  border: solid 1px;
}
.radio {
  width: 1.5em;
  height: 1em;
  transform: scale(1.2);
}
.radioCerrads {
  width: 1em;
  transform: scale(1.3);
}
.borderRadio-left {
  border-radius: 0;
  border-left: 0;
}
.borderRadio-left1 {
  font-size: 12px;
  color: #565656;
  border-radius: 0;
  border-left: 0;
  border: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
}
.conBordeRadioLeft {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-color: #cfcfcf;
  width: 6em;
}

.conBordeRadioRigth {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
}
.conBordeRadioRigth:hover {
  border-left: solid 1px;
  border-color: #24aa3d;
}

.conBordeRadioLeft:hover {
  border-right: solid 1px;
  border-color: #24aa3d;
}

.borderRadio-left1:hover {
  border: solid 1px;
  border-color: #24aa3d;
}

.efectosInput:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: #24aa3d;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.padding {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.tituloCard {
  font-size: 16px;
  color: #000000;
}
.subTituloCard {
  font-size: 13px;
  color: #000000;
}

.cardColor {
  background-color: #f3f3f2;
}

.margin {
  font-size: 30px;
  margin-left: 100%;
}

.margenInput {
  font-size: 1rem;
  margin-left: -0.25rem;
}

.etiquetaCard {
  box-sizing: border-box;
  padding-top: 0.4%;
}

.cerrar {
  font-size: 35px;
  color: #565656;
}

.textoTajeta {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.aniosEspecialidad {
  transform: scale(0.7, 0.6);
}

.btn-circle {
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  width: 7%;
  height: 1.2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 95%;
  width: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $P500;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(91%);
  -ms-transform: translateX(91%);
  transform: translateX(91%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.botonAzul {
  background: #1d69e2;
}

.botonSalir {
  width: 18%;
  background: #24aa3d;
  cursor: pointer;
}

.questions-container {
  ul {
    li {
      list-style: none;
      padding-left: 1.5rem;
      position: relative;
      &:before {
        content: "";
        background-color: #0bb9b9;
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        left: 9px;
        position: absolute;
        top: 9px;
        transform: translate(0, 0%);
        width: 6px;
      }
    }
  }
}
.badge {
  background: $P500;
  color: $P100;
  &:hover {
    background: $P600;
  }
}
.btn-next {
  font-weight: 400;
}
