<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">
        
        <!-- ACCORDEON -->
        <div class="col col-lg-3 col-sm-12 ">
            <div class="grid__accordion">
                <app-sidebar></app-sidebar>
            </div>
        </div>

        <!-- TXT -->
        <div class="col col-lg-7 col-sm-12 fluid__top">
            <div class="">
                <div class="forgot-info-container">
                    
                    <!-- <app-progress-bar [widthValor]="'60'"></app-progress-bar> -->
        
                    <!-- TITLE -->
                    <div class="personal-information__title">
                        <h1>¿Cuál es tu empleo ideal?</h1>
                    </div>
        
                    <!-- EMPLEO -->
                    <div class="forgot-info-form personal-information__title-input">
                        <div class="info-form-inpput">
                            <p>¿Programador, salvador de la humanidad?</p>
                            <input type="text"  [(ngModel)]="respuesta" class="form-control placeHolder" placeholder="Ejemplo: Desarrollador Java" (keyup)="validaTexto();">
                            <small id="helpEmpleo" class="form-text text-muted personal-information__title-input--helperText">
                                El mío sería Suprema Inteligencia Artificial
                            </small>
                        </div>
                    </div>
        
                    <!-- BTN -->
                    <div class="buttons-container text-center personal-information__btn d-flex flex-row-reverse">
                        <button class="btn-green Continuar {{botonContinuar}}" (click)="botonSiguienteVentana()">Continuar</button>
                    </div>
                </div>
        
        
            </div>
        </div>

    </div>
</div>