$colors: (
  negro: #000000,
  title: #2E2E2E,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9
);

p {
  font-weight: bold;
  margin-bottom: 0;
}

input {
  height: 48px;
}

/* .main-container{
  .forgot-info-container{
      padding: 5%;
      margin: 0 auto;
  }
} */

.personal-information__title h1 {
  font-size: 36px;
  color: map-get($colors,title);
  font-weight: bold;
  margin-bottom: 35px;
}

.personal-information__title-input p {
  font-size: 22px;
  font-size: bold;
  color: map-get($colors,title-input);
}

.personal-information__title-input {
  margin-bottom: 30px;
  border-radius: 8px;
  border-color: map-get($colors, border-input );
}

.personal-information__btn button {
  background-color: map-get($colors, btn-active)
}

.placeHolder {
  color: #9B9B9B;
  font-size: 15px;
  font-weight: 450;
}