.sangria{
    padding-left: 10px;
}

.tittleVideo {
    font-size: 18px;
    font-weight: 600
}

.textQuestions {
    font-size: 14px;
    color: #000000;
}


.textTitleConclusion {
    font-size: 21px;
    color: #707070;
    text-indent: 20px;
}

.textConclucion {
    font-size: 16px;
    color: #212121;
}