<h5 *ngIf="urlVideo != ''" class="tittleVideo">{{textVideo}}</h5>
<div *ngIf="urlVideo != ''" class="row mt-3">
    <div class="col-7 p-0">
        <p>
            <!-- <iframe width="100%" height="315" [src]="getVideoIframe(urlVideo)" frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen sandbox></iframe> -->

            <video width="100%" autoplay="autoplay" controls>
                <source [src]="getVideoIframe(urlVideo)" type="video/webm">
            </video>
            <!-- autoplay;-->
        </p>
    </div>
    <div class="col">
        <span>
            <h6>Preguntas</h6>
            <ol class="pl-4">
                <li class="sangria textQuestions" *ngFor="let question of questions">{{question.question}}</li>
            </ol>
        </span>
    </div>
</div>

<h5 *ngIf="urlVideo == ''">No se encontró vídeo para mostrar</h5>
<div *ngIf="flagGraph">
    <h5 class="tittleVideo mt-4 mb-5">Análisis de emociones</h5>
    <app-chart-bars [barChartLabels]="barChartLabels" [barChartData]="barChartData" [btnUpdate]="btnUpdate"
        [maxRotation]="maxRotation" [minRotation]="90" [barChartOptionsInput]="barChartOptionsAnalisis">
    </app-chart-bars>

    <div class="mt-5 mb-4" style="opacity: 0;">P</div>
    <h5 class="tittleVideo">Conclusión</h5>

    <h6 class="textTitleConclusion mb-3 mt-3">Resultado promedio de confiabilidad: {{percentage}}%</h6>

    <app-chart-bars [barChartLabels]="barChartLabelsConclucion" [barChartData]="barChartDataConclusion"
        [btnUpdate]="btnUpdate" [barChartOptionsInput]="barChartOptionsConclusion">
    </app-chart-bars>

    <div class="mt-2 mb-2" style="opacity: 0;">P</div>
    <h6 class="textConclucion">{{textConclusion}}</h6>
    <div class="mt-2 mb-2" style="opacity: 0;">P</div>

</div>