<app-main-navbar [mainNavData]="mainNavData" *ngIf="showMainNavVacancy">
  <ng-container extra>
    <div class="col">
      <div class="card-body col" style="padding: 0 15px;">
        <div class="row">

          <ng-container *ngIf="showTitleCreateVacancy">
            <div *ngIf="!(barraVacantesActiva$ | async)" class="col-md" style="padding-left: 0;">
              <div *ngIf="ocultar!='ocultar'">
                <img id="sobre" src="assets/img/general/regresar.svg" alt="" (click)="redirectToVacantes()">
                <span class="tituloVacante" style="display: inline-block;">{{(selectdedCard != undefined) ?
                  selectdedCard.name : vacio}}</span>
              </div>
              <div *ngIf="ocultar=='ocultar'">
                <app-modal-cerrar-vacante #content3></app-modal-cerrar-vacante>
              </div>
            </div>
          </ng-container>
          <ng-container #search>
            <app-input-search-generic (spreadsearchInputGeneric)="propagarBUsqueda($event)" class="mt-1">
            </app-input-search-generic>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</app-main-navbar>

<ng-container *ngIf="showStatus">
  <div class="status-container d-flex justify-content-between" *ngIf="barraVacantesActiva$ | async">
    <div class="col p-0">
      <ul class="nav nav-tabs">
        <li class="nav-item {{select.activas}}">
          <a class="nav-link" routerLinkActive="active" routerLink="../../vacantes/activas"
            style="display: inline-block;">Activas
            <span
              class="badge badge-pill badge-secondary height badgeInitial px-3 {{claseListaActivas}}">{{contadorActivas}}</span>
          </a>
        </li>
        <li class="nav-item {{select.enpausa}}">
          <a class="nav-link " routerLinkActive="active" routerLink="../../vacantes/enpausa"
            style="display: inline-block;">En
            pausa
            <span
              class="badge badge-pill badge-secondary height badgeInitial px-3 {{claseListaEnpausa}}">{{contadorEnPausa}}</span>
          </a>
        </li>
        <li class="nav-item {{select.borradores}}">
          <a class="nav-link " routerLinkActive="active" routerLink="../../vacantes/borradores"
            style="display: inline-block;">Borradores
            <span
              class="badge badge-pill badge-secondary height badgeInitial px-3 {{claseListaBorradores}}">{{contadorBorradores}}</span>
          </a>
        </li>
        <li class="nav-item {{select.cerradas}}">
          <a class="nav-link " routerLinkActive="active" routerLink="../../vacantes/cerradas"
            style="display: inline-block;">
            Cerradas
            <span
              class="badge badge-pill badge-secondary height badgeInitial px-3 {{classListClosed}}">{{contadorCerradas >= 100 ? '99+' : contadorCerradas}}</span>
          </a>
        </li>
        <!-- <li class="nav-item {{select.plantillas}}" (mouseover)="mouseOverLista('plantillas')" (mouseleave)="mouseLeaveLista('plantillas')">
    <a class="nav-link " routerLink="../../vacantes/plantillas">Plantillas</a>
  </li> -->
      </ul>
    </div>
    <!-- para elementos de proceso de contratacion -->

  </div>
</ng-container>

<ng-container *ngIf="! (barraVacantesActiva$ | async)">
  <div class="status-container py-2" *ngIf="! (barraVacantesActiva$ | async)">
    <p class="status-id"><strong>ID: {{(selectdedCard != undefined) ? selectdedCard.idShow : vacio}}</strong> Cliente:
      <strong>{{(selectdedCard != undefined) ?
        selectdedCard.client : vacio}}</strong>
    </p>
    <div class="" id="navbarSupportedContent">
      <ul class="ulFlecha">
        <li class="liFlecha textRegular-sm {{procesoSeleccionado.candidatos.flecha}}"><a
            routerLink="/../../../../../dashboard/proceso/seleccion/candidatos/false" class="textRegular-sm">Postulantes
            <span
              class="ml-2 badge badge-pill badgeGral badgeInitialProceso {{procesoSeleccionado.candidatos.badge}}">{{contadorCandidatos}}</span>
          </a>
        </li>
        <li class="liFlecha textRegular-sm {{procesoSeleccionado.pruebas.flecha}}"><a
            routerLink="/../../../../../dashboard/proceso/seleccion/pruebas-video/false" class="textRegular-sm">Pruebas
            y vídeo
            <span
              class="badge badge-pill badgeGral badgeInitialProceso {{procesoSeleccionado.pruebas.badge}}">{{contadorPruebas}}</span>
          </a></li>
        <!-- <li class="liFlecha textRegular-sm {{procesoSeleccionado.entrevistas.flecha}}"><a
      routerLink="/../../../../../dashboard/proceso/seleccion/entrevistas/false"
      class="textRegular-sm">Entrevistas
      <span
        class="ml-4 badge badge-pill badgeGral badgeInitialProceso {{procesoSeleccionado.entrevistas.badge}}">{{contadorEntrevistas}}</span>
    </a></li> -->
        <li class="liFlecha textRegular-sm {{procesoSeleccionado.finalistas.flecha}}"><a
            routerLink="/../../../../../dashboard/proceso/seleccion/finalistas/false" class="textRegular-sm">Finalistas
            <span
              class="ml-4 badge badge-pill badgeGral badgeInitialProceso {{procesoSeleccionado.finalistas.badge}}">{{contadorFinalistas}}</span>
          </a></li>
        <li class="liFlecha textRegular-sm {{procesoSeleccionado.contratados.flecha}}"><a
            routerLink="/../../../../../dashboard/proceso/seleccion/contratados/false"
            class="textRegular-sm">Contratados
            <span
              class="ml-2 badge badge-pill badgeGral badgeInitialProceso {{procesoSeleccionado.contratados.badge}}">{{contadorContratados}}</span>
          </a></li>
      </ul>
    </div>

    <div class="row mt-2">
      <div class="col" style="padding-left: 0;">
        <form [formGroup]="formularioFiltros">
          <div class="row">
            <div class="dropdown" ngbDropdown>
              <button class="badge badge-pill mr-3 dropdown-toggle filtro1 textRegular-sm" type="button"
                id="dropdownMenuButton" ngbDropdownToggle>
                <img *ngIf="textoFiltro1 =='Favoritos'" class="mr-1"
                  src="../../../../assets/img/dashboard/vacantes/corazon.svg" alt="">{{textoFiltro1}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                <div class="form-check mr-3" ngbDropdownItem>
                  <div *ngFor="let filtro of arrayFilter1" class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" [attr.id]="filtro.nameForm"
                      formControlName="{{filtro.nameForm}}" (change)="validarChecksFiltros1(filtro.nameForm)">
                    <label *ngIf="filtro.name != 'Favoritos'" class="custom-control-label acuerdo textRegular-sm pt-1"
                      [attr.for]="filtro.nameForm">{{filtro.name}}</label>
                    <label *ngIf="filtro.name == 'Favoritos'" class="custom-control-label acuerdo textRegular-sm pt-1"
                      [attr.for]="filtro.nameForm"><img class="mr-1"
                        src="../../../../assets/img/dashboard/vacantes/corazon.svg" alt="">
                      <span>{{filtro.name}}</span></label>
                  </div>
                </div>
                <label for=""
                  style="font-size: 1px; float: right;margin-left: 11rem!important;color: #FFFFFF;">Restablecer</label>
              </div>
            </div>
            <div class="dropdown" ngbDropdown>
              <button class="badge badge-pill mr-3 dropdown-toggle filtro1 textRegular-sm" type="button" 
                id="filtro2" ngbDropdownToggle>
                {{textoFiltro2}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                <div class="form-check mr-3" ngbDropdownItem>
                  <div *ngFor="let filtro of arrayFilter2" class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" [attr.id]="filtro.nameForm"
                      formControlName="{{filtro.nameForm}}" (change)="validarChecksFiltros2(filtro.nameForm)">
                    <label class="custom-control-label acuerdo textRegular-sm pt-1"
                      [attr.for]="filtro.nameForm">{{filtro.name}}</label>
                  </div>
                  <hr class="my-4" style="margin-bottom: 0 !important;">
                  <label for="" class="cursor-pointer"
                    style="font-size: 12px; float: right;margin-left: 8rem!important;"
                    (click)="resetChecksFiltros2(true);">Restablecer</label>
                </div>
              </div>
            </div>
            <div class="dropdown" ngbDropdown>
              <button class="badge badge-pill mr-3 dropdown-toggle filtro1 textRegular-sm" type="button" 
                id="filtro3" ngbDropdownToggle>
                {{textoFiltro3}}
              </button>
              <div class="dropdown-menu rangoF" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                <div ngbDropdownItem>
                  <h6 class="etiquetasFiltrosGraficas ml-2">Edad promedio {{averageAge}} años</h6>
                  <div style="margin-left: 11%;margin-right: 11%;">
                    <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"
                      (userChangeEnd)="filtroEdad();"></ngx-slider>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body" style="padding: 0.25rem;">
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">edad&nbsp;minima</p>
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">{{value}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body" style="padding: 0.25rem;">
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">edad&nbsp;máxima</p>
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">{{highValue}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" style="margin-bottom: 0 !important;">
                  <label for="" class="cursor-pointer mt-1 mr-2"
                    style="font-size: 12px; float: right;margin-left: 8rem!important;margin-bottom:0"
                    (click)="resetFiltroEdad();">Restablecer</label>
                </div>
              </div>
            </div>
            <div class="dropdown" ngbDropdown>
              <button class="badge badge-pill mr-3 dropdown-toggle filtro1 textRegular-sm" type="button" 
                id="filtro4" ngbDropdownToggle>
                <span *ngIf="textoSueldoMenor < 1 || textosueldoMayor < 1"></span> {{textoFiltro4}}
                <span *ngIf="textoSueldoMenor > 0 || textosueldoMayor > 0">{{valueSueldo | customCurrency }} -
                  {{highValueSueldo | customCurrency}} MXN</span>
              </button>
              <div class="dropdown-menu rangoF" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                <div ngbDropdownItem>
                  <h6 class="etiquetasFiltrosGraficas ml-2">Sueldo deseado promedio {{averageSalary |
                    customCurrency}}
                    MXN</h6>
                  <div style="margin-left: 11%;margin-right: 11%;">
                    <ngx-slider [(value)]="valueSueldo" [(highValue)]="highValueSueldo" [options]="options1"
                      (userChangeEnd)="filtroSueldo();"></ngx-slider>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body" style="padding: 0.25rem;">
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">Salario&nbsp;minimo</p>
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">{{valueSueldo |
                            customCurrency}} MXN</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card-body" style="padding: 0.25rem;">
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">Salario&nbsp;máximo</p>
                          <p class="etiquetasFiltrosGraficas" style="margin-bottom: 0;">{{highValueSueldo |
                            customCurrency}} MXN
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" style="margin-bottom: 0 !important;">
                  <label for="" class="cursor-pointer mt-1 mr-2"
                    style="font-size: 12px; float: right;margin-left: 8rem!important;margin-bottom:0"
                    (click)="resetFiltroSueldo();">Restablecer</label>
                </div>
              </div>
            </div>

            <div *ngIf="banderaVideo" class="dropdown" ngbDropdown>
              <!--Para el filtro video-->
              <button class="badge badge-pill mr-3 dropdown-toggle filtro1 textRegular-sm" type="button"
                id="filtroVideo" ngbDropdownToggle>
                {{textoVideo}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                <div class="form-check mr-3" ngbDropdownItem>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" [attr.id]="'videopresentacion'"
                      formControlName="videopresentacion" (change)="validarChecksVideo('videopresentacion')">
                    <label class="custom-control-label acuerdo textRegular-sm pt-1"
                      [attr.for]="'videopresentacion'">Video
                      presentación</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" [attr.id]="'videoentrevista'"
                      formControlName="videoentrevista" (change)="validarChecksVideo('videoentrevista')">
                    <label class="custom-control-label acuerdo textRegular-sm pt-1" [attr.for]="'videoentrevista'">Video
                      entrevista</label>
                  </div>
                  <hr class="my-4" style="margin-bottom: 0 !important;">
                  <label for="" class="cursor-pointer"
                    style="font-size: 12px; float: right;margin-left: 8rem!important;"
                    (click)="resetChecksVideo(true);">Restablecer</label>
                </div>
              </div>
            </div>

            <div *ngIf="baderaMasFiltros && arrayMasFiltros.length > 0" class="dropdown">
              <!--Para mas filtros-->
              <button class="badge badge-pill mr-3 filtro1 textRegular-sm" type="button" id="filtro5"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="openModalMasFiltros();">
                {{textoFiltro5}}<span *ngIf="contadorMasFiltros > 0">:{{contadorMasFiltros}}</span>
              </button>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="_suscription.isSubcriptionActive  && ocultar!='ocultar'">
  <ng-container *ngIf="barraVacantesActiva$ | async">
    <div class="vacancy-filters-container d-flex justify-content-between align-items-center">
      <div class="filters">
        <select class="select-filters mr-5" (change)="getFiltroCliente($any($event).target.value);">
          <option selected value="">Todos los clientes</option>
          <option *ngFor="let cliente of arrayClientes" value="{{cliente.idCliente}}">{{cliente.nombre}}</option>
        </select>
        <select class="select-filters" (change)="getFiltroReclutador($any($event).target.value)">
          <option selected>Todos los reclutadores</option>
          <option *ngFor="let reclutador of arrayReclutadores" value="{{reclutador.idReclutador}}">{{reclutador.nombre}}
          </option>
        </select>
      </div>
      <button (click)="redirectTocCrear()" class="btn btn-green-new">
        Crear vacante
      </button>
    </div>
  </ng-container>
</ng-container>


<!-- Modales -->
<ng-template #modalMasFiltros let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center tituloMaFiltros">Más filtros</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let masFiltros of arrayMasFiltros; let indicemas = index">
      <h4 class="modal-title subTituloMasFiltros">{{masFiltros.nombreFiltro}}</h4>
      <div class="row {{masFiltros.columnasModal}} mt-2">
        <div *ngFor="let portafolio of masFiltros.portafolio; let indice = index; " class="col">
          <div *ngIf="indice < 4 || arrayMasFiltros[indicemas].mostrarTodo" class="custom-control custom-checkbox ml-2">
            <input [checked]="portafolio.check" type="checkbox" class="custom-control-input" [attr.id]="portafolio.id"
              (change)="updateChecksPortafolio(portafolio.id,portafolio.nombrePortafolio)">
            <label class="custom-control-label acuerdo textRegular-sm pt-1" style="color: #1B1B1B !important;"
              [attr.for]="portafolio.id">{{portafolio.nombrePortafolio}}&nbsp;({{portafolio.numero}})</label>
          </div>
        </div>
      </div>
      <a *ngIf="arrayMasFiltros[indicemas].portafolio.length > 4 && !arrayMasFiltros[indicemas].mostrarTodo"
        class=" mostrarTodo" (click)="mostrarTosdos(arrayMasFiltros[indicemas].nombreFiltro)">Mostrar todos <i
          class="fa fa-chevron-down mt-3 ml-2" aria-hidden="true"></i></a>
      <a *ngIf="arrayMasFiltros[indicemas].portafolio.length > 4 && arrayMasFiltros[indicemas].mostrarTodo"
        class=" mostrarTodo" (click)="mostrarTosdos(arrayMasFiltros[indicemas].nombreFiltro)">Cerrar todo <i
          class="fa fa-chevron-up mt-3 ml-2" aria-hidden="true"></i></a>
      <hr *ngIf="(arrayMasFiltros.length-1) > indicemas" class="my-4">
    </div>
  </div>
  <div class="modal-footer borde-footer" style="border-top: 0; justify-content: space-between;">
    <a class="mostrarTodo" style="font-size: 16px;" (click)="quitarMasFiltros();;modal.dismiss('Cross click')">Quitar
      filtros</a>
    <input type="button" value="Aplicar filtros" class="botonBadge2 btn-greende"
      (click)="aplicarFiltros();modal.dismiss('Cross click')">
  </div>
</ng-template>