@import "./src/assets/scss/main.scss";

.vacancy-filters-container {
  padding: 6px 40px;
  border-bottom: 1px solid $S100;
}
.status-container {
  padding: 6px 40px 0px;
  border-bottom: 1px solid $S100;
}
.status-id {
  font-size: 13px;
  margin: 0;
}

.nav-tabs {
  border-bottom: none;
  .nav-item {
    font-size: 14px;
    .nav-link.active {
      @include fontbold();
      color: $S700;
      border: none;
      border-bottom: 2px solid $P500;
      &:hover {
        color: $S700;
      }
    }
    .nav-link {
      color: $S700;
      border: none;
      border-bottom: 2px solid transparent;
      &:hover {
        color: $S700;
        border-bottom: 2px solid $S200;
      }
    }
  }
}

%configFilter {
  border: 0;
  padding: 0;
  border: none;
  margin-left: -4px;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.select-filters {
  @extend %configFilter;
  text-align: left;
}

#sobre {
  vertical-align: initial !important;
  margin-right: 0.5%;
}

.texto {
  text-align: left;

  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0px;
  color: #3c3c3b !important;
}

.titulos {
  font-size: 14px !important;
  text-align: left;

  letter-spacing: 0px;
  color: #2e2e2e !important;
  opacity: 1;
}

.height {
  height: 50%;
}

.badgeNoSelect {
  border: solid 1px !important;
  border-color: #857171 !important;
  background: #9b9b9b !important;
  color: #fff !important;
  font-weight: 400 !important;
}

.badgeInitial {
  background: #fff;
  border: solid 1px;
  border-color: #cfcfcf;
  color: #565656;
  font-weight: 400 !important;
}

.badgeSelect {
  background: #0bb9b9;
  border: solid 1px;
  border-color: #0bb9b9;
  color: #fff;
  font-weight: 400 !important;
}

.bordeInferior {
  border-bottom: solid 1px;
  border-color: #cfcfcf;
}

.liNormal {
  list-style: none;
  display: inline;

  padding: 0px 0px 0px 0px;

  transition: border-bottom 80ms;
}
.selected,
.liNormal {
  border-bottom: 3px solid;
  padding-bottom: 0px;
  border-color: #fff;
}
.liNormal:hover {
  border-bottom: 3px solid;
  padding-bottom: 0px;
  border-color: #565656;
}

.lista {
  border-bottom: 2px solid;
  padding-bottom: 0px;
  border-color: #565656;
}

.select {
  border-color: #0bb9b9 !important;
}
.selectenpausa {
  border-color: #0bb9b9 !important;
}

.perfil {
  font-size: 12px;
}

.titiloDowDawn {
  font-weight: bold;
  font-size: 14px !important;
  color: #565656 !important;
}

.subTitulo {
  color: #565656 !important;

  font-size: 12px !important;
}
.underline:hover {
  text-decoration: underline;
  cursor: default;
}

.botonConfiguracion {
  color: #f2f2f2 !important;
  cursor: pointer;

  font-size: 14px;
}

.label {
  margin-bottom: 0;
}

.paddin-left {
  padding-left: 3.5%;
  cursor: default;
}
.color {
  color: #0bb9b9 !important;
}

.margin-bottom {
  border-bottom: solid 1px;
  padding-bottom: 0;
  border-color: #cbcbcb85;
}

.crearVacante {
  background: #0bb9b9;
  cursor: pointer;
  font-weight: 400;
}

.paddintop {
  margin-bottom: 0.5%;
}

.xSombreada:hover {
  background-image: url("../../../../assets/img/general/xSombreada.svg");
  background: url("../../../../assets/img/general/xSombreada.svg");
}

.selectFiltros {
  background: transparent;
  border: 0;
  font-size: 13px;
}

.selectFiltros:focus {
  outline: none;
}

.main {
  width: 40%;
  margin: 1%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  // width: 2.375rem;
  //height: 2.375rem;
  height: 75%;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-bottom: 0;
}

.has-search {
  margin-bottom: 0;
}

.bordeRadius {
  border-radius: 1.25rem;
  height: calc(1.1em + 0.75rem + 2px);
}

input:focus {
  border: 1px solid #ced4da !important;
}
input:hover {
  border: 1px solid #ced4da !important;
}

/*estilos flechas */
.ulFlecha {
  margin: 0% 60px;
  margin-left: 0;
}

.liFlecha {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 13em;
  margin: 5px 21px 0 0;
  text-indent: 35px;
  position: relative;
  cursor: pointer;
}

.liFlecha:before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: -2px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #fff;
  z-index: 0;
}

.liFlecha:first-child:before {
  border-color: transparent;
}

.liFlecha a:after {
  /*para el triangulo de la flecha*/
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  right: -15px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #eeeeed;
  z-index: 10;
}

.liFlecha.active a {
  background: #000000;
  z-index: 100;
  color: #ffffff !important;
}

.liFlecha.active a:after {
  border-left-color: #000000;
}

.liFlecha a {
  display: block;
  background: #eeeeed;
  text-decoration: none;
}

.base a:hover {
  background: #e5e5e5;
}

.base a:hover:after {
  border-color: transparent transparent transparent #e5e5e5;
}

.badgeGral {
  display: inline;
  padding: 0em 0.9em;
}

.badgeInitialProceso {
  background: #f3f3f2;
  border: solid 1px;
  border-color: #ababab;
  color: #565656;
  font-weight: 400;
}
.badgeActiveProceso {
  background: #1c1c1b;
  border: solid 2px;
  border-color: #0dd1d1;
  color: #ffffff;
  font-weight: 400;
}

.tituloVacante {
  font-size: 24px;

  font-weight: 600 !important;
  color: #1c1c1b;
}
/*Fin estilos flechas*/

/*Estilos filtros*/
.filtro1 {
  border: solid 1px #e1e1e1;
  font-size: 13px;

  background: #ffffff;
  padding-right: 1.6em;
  padding-left: 1.6em;
  color: #383838 !important;
  font-weight: 400;
}

.mostrarTodo {
  font-size: 14px;
  color: #1b1b1b !important;
  text-decoration: underline;
  cursor: pointer;
}
.botonBadge2 {
  display: inline-block;
  width: 25%;
  padding: 0.4em 0.4em;
  font-size: 13px;

  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  background: #1c1c1b;
  color: #ffffff;
}

.botonBadge2:hover {
  background: #525251;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #212121;
  background-color: #212121;
}

.custom-control-input:checked ~ .custom-control-label:focus {
  outline: none;
}

.tituloMaFiltros {
  margin-left: 35%;
  font-size: 22px;

  font-weight: 700 !important;
  color: #1b1b1b;
}

.subTituloMasFiltros {
  font-size: 16px;

  font-weight: 700 !important;
  color: #1b1b1b;
}

.rangoF {
  min-width: 14rem;
  padding: 0.5rem 0;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  width: 1em !important;
  height: 1em !important;
  top: -7px !important;
  background-color: #0dd1d1 !important;
}
::ng-deep .ngx-slider .ngx-slider-selection {
  background-color: #0dd1d1 !important;
}

.etiquetasFiltrosGraficas {
  font-size: 10px;

  font-weight: 400 !important;
  color: #1b1b1b;
}

::ng-deep .ngx-slider .ngx-slider-bubble {
  display: none !important;
}

::ng-deep .ngx-slider {
  margin: 8px 0 15px !important;
}

.borde-footer {
  border-top: solid 1px #dee2e6 !important;
}
/*Fin estilos filtros*/

.photoProfile {
  border-radius: 50%;
  width: 2.8em;
  height: 2.8em;
}
.photoProfileMin {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
