<div class="p-3 px-5">
  <h2 class="mb-4 text-center">{{'login.reactivation.modal.title' | translate}}</h2>
  <div class="text-center mb-3">
    <img src="assets/img/login/marca-de-verificacion.svg" alt="">
  </div>
  <p class="mb-2 text-left">{{'login.reactivation.modal.subtitle' | translate}}</p>
  <div class="text-center mb-3 d-none">
    <h6 class="plan">{{'login.step7.yourPlan' | translate}}</h6>
    <h6 class="planSemiBold">{{selectedPlan}}</h6>
  </div>

  <div class="text-center mb-3 mt-5">
    <h6 class="plan">{{'login.reactivation.modal.metod' | translate}}</h6>
    <img *ngIf="typeTarget == 'visa'" src="/assets/img/dashboard/visa.svg" alt="" class="ml-2">
    <img *ngIf="typeTarget == 'carnet'" src="/assets/img/dashboard/carnet.svg" alt="" class="ml-2">
    <img *ngIf="typeTarget == 'american_express'" src="/assets/img/dashboard/amex.svg" alt="" class="ml-2">
    <img *ngIf="typeTarget == 'mastercard'" src="/assets/img/dashboard/master-card.svg" alt="" class="ml-2">
    <span class="card-number ml-3">**** - **** - **** - {{numTarget}}</span>
  </div>

  <div class="text-center mb-3">
    <h6 class="plan">{{'login.reactivation.modal.date' | translate}}</h6>
    <h6 class="planSemiBold">{{dateBilling}}</h6>
  </div>


  <div class="row py-5">
    <div class="col text-center">
      <button
        class="badge btn-block badge-pill involve-button btn-continue  px-5 mb-1" (click)="close();">{{'commons.continuar' | translate}}</button>
    </div>
  </div>
</div>
<img class="p-2 close-modal cursor-pointer"  src="/assets/img/general/x.svg" alt="" (click)="close();"> 