@import '../../../../../assets/scss/variables';

.plan {
  font-size: 14px;
  color: $S400;
}

.planSemiBold {
  font-size: 14px;
  font-weight: 600 !important;
  color: $S400;
}

.btn-continue {
  padding-top: 1em;
  padding-bottom: 1em;
}