@import "./src/assets/scss/main.scss";

.profile-container {
    padding: 0px 40px;
    min-height: calc(100vh - 250px);
}

.textTitles {
    font-size: 18px;
    color: #ffffff;
}

.titleClient {
    font-size: 24px;
    font-weight: 700;
}

.titleClient1 {
    font-size: 16px;
    font-weight: 400;
}
.cv-container {
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    overflow-y: scroll;
    height: 600px;
    &-nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
    }
    &-data {
        padding: 16px;
    }

    .breadcrumb {
        background: $S700;
        width: 100%;
        margin: 0;
        padding: 8px 0 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        &-secondary {
            background-color: $F666;
            border: 1px solid $E4E4;
            border-radius: 0;
            color: $S700;
            a {
                color: $S700;
            }
        }
    }
}

.sideNavBorderBottom {
    border-bottom: 1px solid $S100;
}

//Fin primer menu

//card
.card {
    background-color: #ffffff;
    border-radius: 5px;
}

p {
    color: #b7b1b1;
    font-weight: 500;
}

.discBtn {
    background-color: #21afa7;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
}

.fa-balance-scale {
    color: #968888;
}

.fa-arrows {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.buyOver:hover {
    background-color: #565656;
    color: #ffffff;
}
.buyAzul {
    background-color: #0bb9b9;
    color: #ffffff;
}
.buyAzul:hover {
    background: #088d8d;
    color: #ffffff;
}

.cart {
    background-color: #2bc4ba;
    border-radius: 30px;
    position: relative;
    right: 35px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

*:focus {
    outline: none;
}

.btn-circle {
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    padding: 0% 0% 0% 0%;
    /* font-size: 12px; */
    line-height: 1.428571429;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: auto;
}

.tituloCandidato {
    font-size: 16px;

    color: #000000;
    font-weight: 400;
}

.tituloPuesto {
    font-size: 14px;

    color: #766a6a;
}

.black {
    background: #000000;
    color: #ffffff;
}

.azul {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    &:hover {
        background: #0bb9b9;
        color: #ffffff;
        border-color: #088b8b;
        .textoModal {
            color: #ffffff;
        }
        .campana {
            content: url("../../../../../../assets/img/dashboard/vacantes/campanaSonandoHover.svg");
            transform: scale(0.8);
        }
        .campana1 {
            content: url("../../../../../../assets/img/dashboard/vacantes/campanaHover.svg");
            transform: scale(0.8);
        }
        .lapizAzul {
            content: url("../../../../../../assets/img/dashboard/vacantes/lapizBlanco.svg");
        }
        .xAzul {
            content: url("../../../../../../assets/img/general/xBlanca.svg");
            transform: scale(1.3);
        }
    }
}

.btnRed {
    background: #e31c1c;
    color: #ffffff;
}

.subtituloGris {
    color: #766a6a;
    font-size: 14px;
}

.subtituloNegro {
    color: #1c1c1b;
    font-size: 14px;
}

.textoBotones {
    color: #212121;
    font-size: 12px;
}

.margenRechazar {
    border-top: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}

.margenRechazar:hover {
    background-color: #e31c1c;
    border-color: #e31c1c;
    cursor: pointer;
}

.margenRechazar:hover .textoBotones {
    color: #ffffff;
    cursor: pointer;
}

.margenAprobar {
    border-top: solid 1px #e1e1e1;
}

.margenAprobar:hover {
    background-color: #088d8d;
    cursor: pointer;
}

.margenAprobar:hover .textoBotones {
    color: #ffffff;
    cursor: pointer;
}

.tituloModal {
    font-size: 23px;

    color: #000000;
    font-weight: 700;
}

.textoModal {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}

.iconoLike {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/likeNegro.svg");
    margin-right: 0.5em;
    display: inline-block;
    height: 1.6em;
    width: 1.5em;
}

.margenAprobar:hover .iconoLike {
    background-image: url("../../../../../../assets/img/dashboard/vacantes/likeBlanco.svg");
}

.iconoX {
    background-image: url("../../../../../../assets/img/general/xNegrita.svg");
    margin-right: 0.5em;
    display: inline-block;
    height: 0.9em;
    width: 0.9em;
}

.margenRechazar:hover .iconoX {
    background-image: url("../../../../../../assets/img/general/xBlanca.svg");
}

::ng-deep .toast {
    max-width: 100%;
}

/*Para modal buscar*/
.main {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 3%;
    margin-bottom: 10%;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    // width: 2.375rem;
    //height: 2.375rem;
    height: 10%;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-bottom: 0;
}

.has-search {
    margin-bottom: 0;
}

.btnDisable {
    background: #eaeaea;
    color: #979797;
}

.btnActive {
    background: #0bb9b9;
    color: #ffffff;
}

.estilosImagenX {
    position: absolute;
    z-index: 3;
    display: block;
    /* height: 21%; */
    line-height: 1.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-bottom: 0;
    margin-left: 63%;
    top: 38%;
}

.cerrar {
    box-sizing: border-box;
    padding-right: 9%;
    padding-top: 4%;
}
/*Fin modal buscar*/

.cuadrado {
    width: 6em;
    height: 6em;
}

/*Para los paginadores*/
::ng-deep .pagination {
    margin: 0;
}

::ng-deep .page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 0.4rem;
}

::ng-deep .page-item:last-child .page-link {
    margin-left: 0;
    border-radius: 0.4rem;
}

::ng-deep .page-item.disabled .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 0.8;
    color: #ffff !important;
    background-color: #a8a8a8;
    border: 1px solid #dee2e6;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

::ng-deep .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 0.8;
    color: #ffff !important;
    background-color: #0dd1d1;
    border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
    background-color: #088d8d;
}

::ng-deep .page-link:focus {
    box-shadow: none;
}

.input-sm {
    width: 2.25rem;
    border-radius: 0.4rem;
    height: calc(1.5em + 0.5rem + 2px);
    text-align: center;
}
.textoPaginadorMedium {
    font-size: 14px;
    color: #565656;
    font-weight: 400;
    opacity: 0.8;
}

/*-----------------------------------------*/

.selectFiltros {
    background: transparent;
    border: 0;
    font-weight: 600;
}
.selectFiltros:focus {
    outline: none;
}

.photo {
    width: 5.438em;
    border-radius: 50%;
    height: 5.438em;
}

.camera:before {
    content: "\f03d";
    font-family: "Font Awesome 5 Free";
    float: right;
}

.badgeCamera {
    background: #cbcbcb;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}
::ng-deep .buscarVacantes {
    width: 68%;
    max-height: 90%;
    overflow: auto;
}

.borde {
    margin-left: 4.5em;
    margin-right: 4.5em;
}

.borderFinalista::before {
    border: 0;
    display: none;
}

.btn-circle-mas {
    width: 2.4em;
    height: 2.4em;
    text-align: center;
    padding: 0% 0% 0% 0%;
    line-height: 1.428571429;
    border-radius: 15px;
    border-color: #f3752b;
    box-sizing: border-box;
    cursor: auto;
    background: #f3752b;
}

.btn-phone {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #a8eac2;
    img {
        width: 12px;
    }
}
.btn-email {
    background-color: #a8eaea;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.textobtn-mas {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
}

.borderReject {
    border-top: solid 1px #e1e1e1;
}

.iconInformation {
    display: inline-block;
    height: 1.1em;
    width: 1.25em;
    cursor: pointer;
    &:hover {
        content: url("../../../../../../assets/img/general/informationHover.svg");
    }
}
.positionIconInformation {
    position: absolute;
    top: 71%;
}

.borderOl {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#Search::-webkit-search-cancel-button {
    position: relative;
    right: 2%;

    -webkit-appearance: none;
    height: 1.45em;
    width: 1.45em;
    background-image: url("../../../../../../assets/cerrar.svg");
}

.text_a {
    text-decoration: none;
}

.border-b-i {
    border-bottom: 3px solid #000000;
}

.border-b-s {
    border-bottom: 3px solid #0bb9b9;
}

.item-container {
    margin-top: 17px;
    min-height: 60px;
    max-height: 200px;
    overflow: auto;
    background-color: $F666;
    border-radius: 8px;
    border: 1px solid $E4E4;
    &::-webkit-scrollbar {
        width: 8px;
        height: 30%;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $F400;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $F300;
        border-radius: 8px;
    }
    .item {
        margin: 6px;
        padding: 10px 10px;
        background-color: #ffffff;
        cursor: pointer;
        min-height: 62px;
        border-radius: 6px;

        p {
            line-height: 1;
            color: $S600;
        }
        span {
            font-size: 13px;
            color: $G7070;
        }
        &:hover {
            background-color: $F100;
        }
    }
}

.divider-sections {
    padding-top: 70px;
}
