<app-main-navbar [mainNavData]="mainNavData"></app-main-navbar>

<div class="profile-container container-fluid bg-gray">
  <div class=" py-2 mb-2 row d-flex justify-content-between align-items-center">
    <div class="show">
      <label *ngIf="shortListActive" id="paginationInputLabel1" for="paginationInput1"
        class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}}
        candidatos</label>
    </div>
    <div class="d-flex align-items-center">
      <a *ngIf="this.urlCV != ''" target="_blank" class="btn btn-green-new mr-2" [href]="this.urlCV"
        download="file_new_name.pdf">Ver CV
      </a>


      <div class="pt-2 text-right">
        <a target="_blank" class="text_a" [href]="this.urlCV" download="file_new_name.pdf">
          <span *ngIf="this.urlFile !=''" class=" cursor-pointer badge-pill buyAzul font-weight-normal d-flex align-items-center
              py-1">Ver archivo adjunto</span>
        </a>
      </div>

      <div class="paginator">
        <ngb-pagination *ngIf="totalElements > 1" class="d-flex justify-content-end" [collectionSize]="totalElements"
          [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm"
          (pageChange)="rowsMostradas($event);">

          <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
          <ng-template ngbPaginationPrevious class="mr-1">
            <img class="cursor-pointer" src="assets/img/general/right-chevron.svg" alt=""
              style="transform: rotate(180deg);">
          </ng-template>

          <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0" style="display: none;">
              <div class="form-group d-flex flex-nowrap px-2">
                <label id="paginationInputLabel" for="paginationInput"
                  class="col-form-label d-flex align-items-center mr-2 ml-1 textoPaginadorRegular">Página</label>
                <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                  class="form-control-sm custom-pages-input input-sm" id="paginationInput" [value]="page"
                  (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                  (input)="formatInput($any($event).target)"
                  aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.25rem" />
                <span id="paginationDescription"
                  class="col-form-label text-nowrap px-2 d-flex align-items-center textoPaginadorRegular">
                  de {{pages.length}}</span>
              </div>
            </li>
          </ng-template>

          <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer"
              src="assets/img/general/right-chevron.svg" alt=""></ng-template>
          <ng-template ngbPaginationLast>Last</ng-template>
        </ngb-pagination>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 p-0">
      <div *ngFor="let card of rows  | slice: (page-1) * page_size : page * page_size;">
        <app-user-card [userCardData]="card" [setProcessSelection]="setProcessSelection"
          (eventModal)="openModal($event)" (eventClick)="updateFavorito(card.id)">
        </app-user-card>
      
      </div>

    </div>
    <div class="col-sm-8 p-0">

      <div class="card2 pl-4">


        <div class="" *ngIf = "setProcessSelection !== 'talent'">
          <!-- <router-outlet name="curriculum"></router-outlet> -->
          <div class="cv-container">
            <div class="cv-container-nav">
              <nav aria-label="breadcrumb " class="second">
                <ol class="breadcrumb">
                  <li class="font-weight-bold px-4 border-b-s" [ngClass]="{'border-b-s': menuActive.cv}"
                    [routerLink]='[{ outlets: { profile: ["cv"] } }]' (click)="changeColorMenu('cv');"><a
                      class="black-text text_a"><span class="mr-md-3 mr-2 textTitles cursor-pointer">CV</span></a>
                  </li>
                  <li *ngIf="this.selectedCard?.status == 'PRUEBAS_Y_VIDEO'" class="font-weight-bold px-4"
                    [ngClass]="{'border-b-s': menuActive.videos}" (click)="changeColorMenu('videos');"><a
                      class="black-text active-2 text_a"><span class="mr-md-3 mr-2 textTitles cursor-pointer"
                        [routerLink]='[{ outlets: { profile: ["video"] } }]'>Vídeos</span></a></li>
                  <li *ngIf="(statusActive.entrevista || this.statusActive.pruebas) && statusActive.pruebas" class="font-weight-bold px-4"
                    [ngClass]="{'border-b-s': menuActive.pruebas}"
                    [routerLink]='[{ outlets: { profile: ["pruebas"] } }]' (click)="changeColorMenu('pruebas');">
                    <a class="black-text text_a"><span class="mr-md-3 mr-2 textTitles cursor-pointer">Pruebas</span></a>
                  </li>
                  <li *ngIf="statusActive.entrevista" class="font-weight-bold px-4"
                    [ngClass]="{'border-b-s': menuActive.entrevista}"
                    [routerLink]='[{ outlets: { profile: ["interview"] } }]' (click)="changeColorMenu('entrevista');">
                    <a class="black-text active-2 text_a"><span class="textTitles cursor-pointer">Entrevista</span></a>
                  </li>
                </ol>
              </nav>
            </div>
            <router-outlet name="profile"></router-outlet>

          </div>

        </div>
        <!--apartado para cv en talent  -->
        <div class="" *ngIf = "setProcessSelection === 'talent'">
          <!-- <router-outlet name="curriculum"></router-outlet> -->
          <div class="cv-container">
            <div class="cv-container-nav">
              <nav aria-label="breadcrumb " class="second">
                <ol class="breadcrumb">
                  <li class="font-weight-bold px-4 border-b-s" [ngClass]="{'border-b-s': menuActive.cv}"
                     (click)="changeColorMenu('cv');"><a
                      class="black-text text_a"><span class="mr-md-3 mr-2 textTitles cursor-pointer">CV</span></a>
                  </li>
                </ol>
              </nav>
              
                <app-cv-talent></app-cv-talent>


            </div>
          </div>
        </div>
        <!--fin del apartado cv en talent -->
      </div>
    </div>
  </div>

</div>

<ng-template #invitar let-modal let-c="close" let-d="dismiss">
  <div class="involve-modal">
    <div class="involve-modal-header">
      <h4 class="titulo">Recomiéndale otra oferta</h4>
      <i class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </div>
    <form [formGroup]="formularioModalBuscar">
      <div class="involve-modal-body text-center">
        <div class="form-group has-search m-0">
          <span class="fa fa-search form-control-feedback ml-2"></span>
          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <input id="Search" name="Search" style="font-size: 11px;" type="search" class="form-control bordeRadius"
            formControlName="modelBuscarVacante" placeholder="Buscar" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" >
        </div>
        <div class="involve-modal-footer row d-flex justify-content-center align-items-center">
        <button class="btn btn-green-new btn-block"
          [ngClass]="(this.modelBuscarVacante.length > 3) ? 'btnActive':'btnDisable'"
          (click)="generateArrayInvitation(false,iconoChekBlanco)">Recomendar</button>
      </div>
      </div>
      
    </form>
  </div>
</ng-template>


<ng-template #addToFavorites let-modal>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>Favoritos</h3>
      <i class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
    </div>
    <div class="involve-modal-body">
      <div class="finder">
        <input type="text" placeholder="Buscar" class="w-100 form-control">
      </div>
      <div class="item-container">
        <div class="item" *ngFor="let list of favoritesList"
          (click)="onAddUsersToFavoriteListOrVacantProcess(list.listFavorite)">
          <p class="mb-0">{{list.listFavorite.name}}</p>
          <span>{{list.listFavorite.totalProfiles}} perfiles</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #emptyFavoritesList>
  <div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
      <h3>Crear grupos</h3>
      <i class="close" aria-hidden="true" (click)="closeModals()"></i>

    </div>
    <div class="involve-modal-body">
      <p class="text-center py-3 mb-0">Con los grupos de favoritos podrás guardar perfiles de candidatos y colaborar con
        otros reclutadores.</p>
    </div>
    <div class="involve-modal-footer text-center">
      <button class="btn btn-green-new" (click)="openCreateDialog()">Crear grupo</button>
    </div>
  </div>
</ng-template>

<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="../../../../assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>