<div class="container-fluid pl-0" style="background-color: white;">
  <form [formGroup]="formIntegrations" style="padding-left: 4%;">
      <app-step-bar [buttonsSelected]="8"></app-step-bar>
      <div class="card-body px-0">
      <p class="mb-4 font font-20">¿En dónde publicaremos tu vacante?</p>
        <input type="text" id="inputOcultore" style="width: 0px;height: 0px;opacity: 0;">
        <div class="card-body" formArrayName="jobBoards" *ngFor="let row of jobBoard.controls; let indice=index">
          <div [formGroupName]="indice" class="ml-5 row mb-4">
            <div class="col-sm-8">
              <div  class="card cardColor mb-4 " style="padding-bottom: 3%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <img  class=" cursor-pointer ml-4" src="{{row.value.urlLogo}}">
                    </div>
                    <div class="col-md-3">
                      <label class="switch mb-0">
                        <input type="checkbox" [checked]="row.value.active" (click)="activate(indice,$event)">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div *ngIf="!row.value.hide">
                  <div class="row mt-3">
                    <div class="col-md-4">
                        <input [attr.id]="'email' + indice" type="text" class="form-control efectosInput"
                        formControlName="email"
                        placeholder="{{'configuration.integrations.placeholder.email' | translate}}">
                    </div>
                    <div class="col-md-4">
                        <input  type="password"  class="form-control efectosInput"
                        formControlName="password"
                        [attr.id]="'passWord' + indice" placeholder="{{'commons.password' | translate}}">
                    </div>
                    <div class="col-sm-4 text-right">
                      <button class="btn-primary-tama" (click)="preventModal(indice,modalAviso)">{{'configuration.integrations.headers.btnActive' | translate}}</button>
                    </div>
                  </div>
                  <div class="row col-md-6" style="top:10px; left:2%;" *ngIf="message == true && row.value.message == true">
                      <p style="background-color: red; color: white; padding: 1%;">Alguno de los campos es incorrecto</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
          <!--fin pruebas-->

    <!--Para la barra de botones-->
    <div class="card text-right">
      <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3 ml-5">
          <div class="col-sm-12">
            <div class="row navigation-footer-container">
              <div  class="col-sm-6 text-left">
                <button class="btn-prev" (click)="previous('cinco')">Anterior</button>
              </div>
              <div class="col-sm-6 text-right">
                <a class="mr-3 guardarBorrador" >Guardar como borrador</a>
                <button class="btn-next" (click)="publishVacancy();">Publicar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-template #modalAviso>
    <div class="modal-header">
        <h4 class="modal-title">Conecta Empleos TI con Involve</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal(modalAviso)">
            <span class="close-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="font">Para utilizar la integración con Empleos TI, debes aceptar los siguientes avisos legales</p>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" class="custom-control-input">
            </div>
            <div class="col-md-9">
                <div class="form-checkbox-container pt-4">
                    <label class="switch mr-5">
                      <input type="checkbox" [(ngModel)]="avisoPrivacidad" (click)="activatePriv($event)">
                      <span class="slider round"></span>
                    </label>
                    <p class="d-inline-block txtOptions font">He leido y acepto el  </p>
                    <!--<app-modal-privacy></app-modal-privacy>-->
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" class="custom-control-input" >
            </div>
            <div class="col-md-9">
                <div class="form-checkbox-container pt-4">
                    <label class="switch mr-5">
                      <input type="checkbox" [(ngModel)]="avisoTerminos" (click)="activateTerm($event)">
                      <span class="slider round"></span>
                    </label>
                    <p class="d-inline-block txtOptions font">He leido y </p>
                    <!--<app-modalterms></app-modalterms>-->
                  </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-primary-tama" [disabled]="!avisoTerminos" (click)="activeConnection()">Aceptar</button>
    </div>
</ng-template>
</div>
