<section class="bg-involve-light pt-12">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between filters-favorites">
            <div class="showFilter">
                Mostrar
                <select class="select-filters" [(ngModel)]="pageSize" (change)="showGroupByItems()">
                    <option value="15" selected>15 grupos</option>
                    <option value="20">20 grupos</option>
                    <option value="25">25 grupos</option>
                    <option value="30">30 grupos</option>
                    <option value="35">35 grupos</option>
                </select>
            </div>

            <div class="orderFilter">
                Ordenar por
                <select class="select-filters" [(ngModel)]="sortDirection" (change)="findGroupByDate()">
                    <option value="Recientes">
                        Recientes
                    </option>
                    <option value="Mas antiguos">
                        Más antiguos
                    </option>
                    <option value="ASC">
                        A-Z
                    </option>
                    <option value="DESC">
                        Z-A
                    </option>
                </select>
            </div>
        </div>
    </div>
</section>