.borderOl {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.title {
    font-size: 20px;
    color: #000000;
}
.menu {
    height: 33px;
    color: #f8f8f8;
    padding: 5px !important;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}
.subtitle {
    font-size: 16px;
    color: #000000;
}

.inputBtn {
    width: 6em;
}

.inputheight {
    height: 1.8em;
}
.navproof {
    font-size: 14px;
    font-weight: normal;
    color: #525252;
    cursor: pointer;
}

.navproof_select {
    font-size: 14px;
    font-weight: 600;
    color: #2e2e2e;
    cursor: pointer;
}
