<div class="card text-center borde borde-bottom ">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb p-0 menu">
		<li *ngIf="cleaver===true"class="font-weight-bold px-2" (click)= "changetest('Cleaver')" [routerLink]='[{ outlets: { test: ["cleaver"] } }]'>
		  <a  *ngIf= "this.statusTest === 'Cleaver'" class="navproof_select">
			<span class="mr-md-3 mr-2 ">Cleaver</span>
		  </a>
		  <a  *ngIf= "this.statusTest !== 'Cleaver'" class="navproof">
			<span class="mr-md-3 mr-2 ">Cleaver</span>
		  </a>
		</li>
		<li *ngIf="luscher===true"class="font-weight-bold px-2" (click)= "changetest('Lüscher')"[routerLink]='[{ outlets: { test: ["luscher"] } }]'>
		  <a *ngIf= "this.statusTest === 'Lüscher'"class="navproof_select">
			<span class="mr-md-3 mr-2 ">Lüscher</span>
		  </a>
		  <a *ngIf= "this.statusTest !== 'Lüscher'"class="navproof">
			<span class="mr-md-3 mr-2 ">Lüscher</span>
		  </a>
		</li>
		<li *ngIf="ipv===true" class="font-weight-bold px-2" (click)= "changetest('IPV')" [routerLink]='[{ outlets: { test: ["ipv"] } }]'>
		  <a *ngIf= "this.statusTest === 'IPV'" class="navproof_select">
			<span class="mr-md-3 mr-2 ">IPV</span>
		  </a>
		  <a *ngIf= "this.statusTest !== 'IPV' " class="navproof">
			<span class="mr-md-3 mr-2 ">IPV</span>
		  </a>
		</li>
		<li *ngIf="moss===true"  class="font-weight-bold px-2" (click)= "changetest('Moss')"[routerLink]='[{ outlets: { test: ["moss"] } }]'>
		  <a *ngIf= "this.statusTest === 'Moss'"class="navproof_select">
			<span class="mr-md-3 mr-2">Moss</span>
		  </a>
		  <a *ngIf= "this.statusTest !== 'Moss'" class="navproof">
			<span class="mr-md-3 mr-2">Moss</span>
		  </a>
		</li>
	  </ol>
	</nav>
	<router-outlet name="test"></router-outlet>
	</div>