<ng-template #principal let-modal [ngIf]="view.principal">
  <div class="card text-center border-top" style="margin-bottom: 5em;">
    <h5 class="card-header text-left header">
        {{'configuration.menu.profile' | translate}}
    </h5>
    <div class="tem">
      <div class=" text-left card-body paddingCard">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col padding-0">
              <div class="text-center">
                <div class="row">
                  <div class="col-md-6 padding-0">
                    <div class="py-3">
                      <h5 class="title text-left">{{'configuration.profile.subtitle' | translate}}</h5>
                      <form [formGroup]="formProfile">
                        <div class="info-form-inpput mb-4 text-left">
                          <p class="mb-0">{{'configuration.profile.name' | translate }}</p>
                          <input type="text" formControlName="name" autocomplete="off" class="form-control efectosInput" id="name" (focusout)="updateRecruiter(false);"
                            [ngClass]="(formProfile.controls.name.errors && formProfile.controls.name.touched) ? 'is-invalid' : 'ng-invalid'">
                          <small *ngIf="formProfile.controls.name.errors?.required && formProfile.controls.name.touched"
                            class="text-danger">
                            {{'commons.requerido' | translate}}
                          </small>
                          <small *ngIf="formProfile.controls.name.errors?.pattern && formProfile.controls.name.touched"
                            class="text-danger">Usa sólo letras</small>
                        </div>
                        <div class="info-form-inpput mb-4 text-left">
                          <p class="mb-0">{{'configuration.profile.firstLastName' | translate }}</p>
                          <input type="text" formControlName="firsLastName" class="form-control efectosInput" (focusout)="updateRecruiter(false);"
                            id="firsLastName" autocomplete="off"
                            [ngClass]="(formProfile.controls.firsLastName.errors && formProfile.controls.firsLastName.touched) ? 'is-invalid' : 'ng-invalid'">
                            <small
                            *ngIf="formProfile.controls.firsLastName.errors?.required && formProfile.controls.firsLastName.touched"
                            class="text-danger">
                            {{'commons.requerido' | translate}}
                          </small>
                          <small
                            *ngIf="formProfile.controls.firsLastName.errors?.pattern && formProfile.controls.firsLastName.touched"
                            class="text-danger">Usa sólo letras</small>
                        </div>
                        <div class="info-form-inpput mb-4 text-left">
                          <p class="mb-0">{{'configuration.profile.secondLastName' | translate }}</p>
                          <input type="text" formControlName="secondLastName" autocomplete="off" class="form-control efectosInput"
                            id="secondLastName" (focusout)="updateRecruiter(false);"
                            [ngClass]="(formProfile.controls.secondLastName.errors && formProfile.controls.secondLastName.touched) ? 'is-invalid' : 'ng-invalid'">
                          <small
                            *ngIf="formProfile.controls.secondLastName.errors?.required && formProfile.controls.secondLastName.touched"
                            class="text-danger">
                            {{'commons.requerido' | translate}}
                          </small>
                          <small
                            *ngIf="formProfile.controls.secondLastName.errors?.pattern && formProfile.controls.firsLastName.touched"
                            class="text-danger">Usa sólo letras</small>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6 no-gutters">
                    <div class="py-3">
                      <h5 class="mb-4 title text-left">{{'configuration.profile.photografy' | translate}}</h5>
                      <app-loader-image [url]="photo">
                        <div class="text-center py-4">
                          <app-loading></app-loading>
                        </div>
                      </app-loader-image> 
                      <h4 class="tamPhoto mt-2">{{'configuration.profile.tamPhoto' | translate}}</h4>
                      <div class="modal-footer" style="border-top: 0; justify-content: space-evenly;">
                        <input type="file" class="file-upload file-input" (change)="onFileSelected($event);" #fileUpload accept="image/*">
                        <span *ngIf="!isCustomPhoto" class="badge badge-pill badge-secondary  py-1 paddingbtnUpload mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel"(click)="fileUpload.click()">{{ 'commons.subir' | translate }}</span>
                        <span *ngIf="isCustomPhoto" class="badge badge-pill badge-secondary  py-1 paddingbtnUpload mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel"(click)="fileUpload.click()">{{ 'commons.cambiar' | translate }}</span>
                        <span 
                          class="badge badge-pill py-1 px-3 mb-2 mt-2 btnNewClient cursor-pointer d-flex justify-content-center align-items-center" [ngClass]="(imgTrash == 'basuraGris.svg') ? 'btnDeleteDisabled':'btnDelete'" (click)="onDeletePhotoAttempt();">
                          <img async src="../../../../../assets/img/dashboard/Clientes/{{imgTrash}}" alt="" class="mr-1 imgDelete" style="height: 1em;">
                          {{ 'commons.eliminar' | translate }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left card-body paddingCard borde-bottom borde">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col padding-0">
              <div class="text-center">
                <div class="row">
                  <div class="col-12 text-center col-sm text-sm-left">
                    <h5 class=" title">{{'configuration.profile.email' | translate}}</h5>
                    <h5 class="textSemiBold">{{emailUser}}</h5>
                  </div>
                  <div class="col-12 text-center  col-sm d-flex justify-content-center align-items-center">
                    <span
                      class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChange"
                      (click)="changeView('email');">{{ 'commons.cambiar' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left card-body paddingCard borde-bottom borde">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col padding-0">
              <div class="text-center">
                <div class="row">
                  <div class="col-12 text-center col-sm text-sm-left">
                    <h5 class="title ">{{'configuration.profile.password' | translate}}</h5>
                  </div>
                  <div class="col-12 text-center  col-sm">
                    <span class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChange"
                    (click)="changeView('pass');">{{ 'commons.cambiar' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #email let-modal [ngIf]="view.email">
  <div class="card text-center border-top" style="margin-bottom: 5em;">
    <h5 class="card-header text-left header titleHeader">
        <img src="assets/img/dashboard/Profile/back.svg" alt="" class="mr-1 imgDelete cursor-pointer" (click)="changeView('principal')">
        {{'configuration.menu.profile' | translate}}
      <input type="text" id="inputOcultore" style="width: 0px;height: 0px;opacity: 0;">
    </h5>
    <div class=" text-left card-body">
        <form [formGroup]="formEmail">
      <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-form-label title"
        autocomplete="off">{{'configuration.profile.changeEmail' | translate}}</label>
     
        <div class="row mb-3 ml-5 mb-4 ml">
        <label for="colFormLabel" class="col-sm-4 col-form-label textoEtiquetas">{{'configuration.profile.newEmail' | translate}}</label>
        <div class="col-sm-8">
          <input type="email" formControlName="emailNew" class="form-control efectosInput" id="emailNew"
            [ngClass]="(formEmail.controls.emailNew.errors && formEmail.controls.emailNew.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formEmail.controls.emailNew.errors && formEmail.controls.emailNew.touched && formEmail.get('emailNew')?.hasError('required')" class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
          <small *ngIf="formEmail.get('emailNew')?.hasError('pattern')" class="text-danger">
            {{'configuration.profile.emailNovalid' | translate}}
          </small>
        </div>
      </div>

      <div class="row mb-3 ml-5 mb-4 ml">
        <label for="colFormLabel" class="col-sm-4 col-form-label textoEtiquetas">{{'configuration.profile.confirm' | translate}}</label>
        <div class="col-sm-8">
          <input type="email" formControlName="confirmEmail" class="form-control efectosInput" id="confirmEmail" 
            [ngClass]="(formEmail.controls.confirmEmail.errors && formEmail.controls.confirmEmail.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formEmail.controls.confirmEmail.errors && formEmail.controls.confirmEmail.touched  && formEmail.get('confirmEmail')?.hasError('required')" class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
          <small *ngIf="formEmail.get('confirmEmail')?.hasError('pattern')" class="text-danger">
            {{'configuration.profile.emailNovalid' | translate}}
          </small>
          <small *ngIf="messageMail" class="text-danger">
            {{'configuration.profile.errMail' | translate}}
          </small>
          <small *ngIf="errConflicMail" class="text-danger">
            {{'configuration.profile.errConflicMail' | translate}}
          </small>
        </div>
      </div>

      <div  class="info-form-input">
        <div class="input-text-container row">
            <!-- <p class="col-sm-4 p-0">Contraseña</p> -->
            <div (click)="showPassword = !showPassword" class="input-text-favicon col-sm-12 text-right p-0" style="cursor: pointer;">
                <div *ngIf="showPassword">
                    <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                    <p class="d-inline-block ml-2 mr-3 info-form-button">Ocultar</p>
                </div>
                <div *ngIf="!showPassword">
                    <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                    <p class="d-inline-block ml-2 mr-3 info-form-button">Mostrar</p>
                </div>
            </div>
        </div>
    </div>
      <div class="row mb-3 ml-5 mb-4 ml">
        <label for="colFormLabel" class="col-sm-4 col-form-label textoEtiquetas">{{'commons.password' | translate}}</label>
        <div class="col-sm-8">
          <input  [type]="showPassword ? 'text'  : 'password'" formControlName="passwordEmail" class="form-control efectosInput" id="passwordEmail" name="passwordEmail" autocomplete="off"
            [ngClass]="(formEmail.controls.passwordEmail.errors && formEmail.controls.passwordEmail.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formEmail.controls.passwordEmail.errors && formEmail.controls.passwordEmail.touched" class="text-danger">
            {{'commons.requerido' | translate}}
          </small>
          <small *ngIf="err401Mail" class="text-danger">
            {{'configuration.profile.errMail471' | translate}}
          </small>
        </div>
      </div>
      
      <div class="row mb-3 ml-5 mb-4 mr-3 ml buttonsCancel" style="float: right;">
        <span class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 mr-3 bd-highlight btnNewClient cursor-pointer btnCancel" (click)="changeView('principal');">{{ 'commons.cancelar' | translate }}</span>
        <span class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChangeBlue" (click)="onClickSubmit();">{{ 'commons.cambiar' | translate }}</span>  
    </div>

    </form>
    </div>
  </div>
</ng-template>

<!-- Template change passWord -->
<ng-template #pass let-modal [ngIf]="view.password">
  <div class="card text-center border-top" style="margin-bottom: 5em;">
    <h5 class="card-header text-left header titleHeader">
        <img src="assets/img/dashboard/Profile/back.svg" alt="" class="mr-1 imgDelete cursor-pointer" (click)="changeView('principal')">
        {{'configuration.menu.profile' | translate}}
      <input type="text" id="inputOcultore" style="width: 0px;height: 0px;opacity: 0;">
    </h5>
    <div class=" text-left card-body ml-xl-5 ml-lg-5 mr-xl-5 mr-lg-5">

      <form [formGroup]="formPassWord">

          <div  class="info-form-input">
            
              <div class="input-text-container row">
                <h5 class="title text-left ml-lg-4">{{'configuration.profile.changePassWord' | translate}}</h5>

                  <div (click)="showOldPassword = !showOldPassword" class="input-text-favicon col-sm-12 text-right p-0" style="cursor: pointer;">
                      <div *ngIf="showOldPassword">
                          <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                          <p class="d-inline-block ml-2 mr-3 info-form-button">Ocultar</p>
                      </div>
                      <div *ngIf="!showOldPassword">
                          <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                          <p class="d-inline-block ml-2 mr-3 info-form-button">Mostrar</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb-3 ml-2 mb-4">
              <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{'configuration.profile.oldPassWord' | translate}}</label>
              <div class="col-sm-9">
                <input  [type]="showOldPassword ? 'text'  : 'password'" formControlName="oldPassword" class="form-control efectosInput" id="oldPassword" name="oldPassword" autocomplete="off"
                  [ngClass]="(formPassWord.controls.oldPassword.errors && formPassWord.controls.oldPassword.touched) ? 'is-invalid' : 'ng-invalid'">
                <div class="row">
                  <div class="col">
                    <small *ngIf="formPassWord.controls.oldPassword.errors && formPassWord.controls.oldPassword.touched" class="text-danger">
                      {{'commons.requerido' | translate}}
                    </small>
                    <small *ngIf="errPassWord" class="text-danger">
                      {{'configuration.profile.errMail471' | translate}}
                    </small>
                  </div>
                  <div class="col text-right">
                    <small class="cursor-pointer forgotPass" (click)="redirecToForgotPassWord();">
                      {{'configuration.profile.forgotPassWord' | translate}}
                    </small>
                  </div>
                </div> 
              </div>
            </div>

            <div  class="info-form-input">
              <div class="input-text-container row">
                  <div (click)="showNewPassword = !showNewPassword" class="input-text-favicon col-sm-12 text-right p-0" style="cursor: pointer;">
                      <div *ngIf="showNewPassword">
                          <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                          <p class="d-inline-block ml-2 mr-3 info-form-button">Ocultar</p>
                      </div>
                      <div *ngIf="!showNewPassword">
                          <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                          <p class="d-inline-block ml-2 mr-3 info-form-button">Mostrar</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb-3 ml-2 mb-3">
              <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{'configuration.profile.newPassWord' | translate}}</label>
              <div class="col-sm-9">
                <input  [type]="showNewPassword ? 'text'  : 'password'" formControlName="newPassword" class="form-control efectosInput" id="newPassword" name="newPassword" autocomplete="off"
                  [ngClass]="(formPassWord.controls.newPassword.errors && formPassWord.controls.newPassword.touched) ? 'is-invalid' : 'ng-invalid'" (keyup)="validateNewPassword()">
                <small *ngIf="formPassWord.controls.newPassword.errors && formPassWord.controls.newPassword.touched" class="text-danger">
                  {{'commons.requerido' | translate}}
                </small>
                <div class="restore-input-secure pt-3" *ngIf="!rulePassword && showList">
                  <ul> 
                    <li [ngClass]="{'circle-green': isLower,'circle-black': !isLower}">Un carácter en minúscula</li>
                    <li [ngClass]="{'circle-green': isUpper,'circle-black': !isUpper}">Un carácter en mayúscula</li>
                    <li [ngClass]="{'circle-green': isANumber,'circle-black': !isANumber}">Un número</li>
                    <li [ngClass]="{'circle-green': isMinLenght,'circle-black': !isMinLenght}">8 caracteres como mínimo</li>
                  </ul>
                </div>
                <div class="pt-4" *ngIf="isLower && isANumber && isUpper && isMinLenght">
                <div class="col-12 login-alert">
                  <img src="../../../../assets/img/general/ckeckBlanco.svg" alt="">
                  <span class="pl-2">{{'login.step3.text6' | translate}}</span> 
                </div>
              </div>
          </div>
            </div>  
            
            <div *ngIf="isLower && isANumber && isUpper && isMinLenght">
              <div  class="info-form-input">
                  <div class="input-text-container row">
                      <div (click)="showConfirmPassWord = !showConfirmPassWord" class="input-text-favicon col-sm-12 text-right p-0" style="cursor: pointer;">
                          <div *ngIf="showConfirmPassWord">
                              <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                              <p class="d-inline-block ml-2 mr-3 info-form-button">Ocultar</p>
                          </div>
                          <div *ngIf="!showConfirmPassWord">
                              <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                              <p class="d-inline-block ml-2 mr-3 info-form-button">Mostrar</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mb-3 ml-2 mb-3">
                  <label for="colFormLabel" class="col-sm-3 pr-0 col-form-label textoEtiquetas">{{'configuration.profile.confirmPassWord' | translate}}</label>
                  <div class="col-sm-9">
                    <input  [type]="showConfirmPassWord ? 'text'  : 'password'" formControlName="confirmPassWord" class="form-control efectosInput" id="confirmPassWord" name="confirmPassWord" autocomplete="off"
                      [ngClass]="(formPassWord.controls.confirmPassWord.errors && formPassWord.controls.confirmPassWord.touched) ? 'is-invalid' : 'ng-invalid'">
                    <small *ngIf="formPassWord.controls.confirmPassWord.errors && formPassWord.controls.confirmPassWord.touched" class="text-danger">
                      {{'commons.requerido' | translate}}
                    </small>
                    <small *ngIf="messagePassWord" class="text-danger">
                      {{'configuration.profile.errPassword' | translate}}
                    </small>
                  </div>
                </div>
            </div>
            <div class="row mb-3 mb-4 mr-lg-3 ml buttonsCancel" style="float: right;">
              <span class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 mr-3 bd-highlight btnNewClient cursor-pointer btnCancel" (click)="changeView('principal');">{{ 'commons.cancelar' | translate }}</span>
              <span class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnChangeBlue" (click)="onClickSubmitPass();">{{ 'commons.cambiar' | translate }}</span>  
          </div>
      </form>
    </div>
  </div>
</ng-template>   
    
<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>    

<ng-template #deletePhotoConfirmation>
  <div>
    <div class="pt-4 modal-header">
      <h5 class="modal-title text-center font-weight-bold">{{'configuration.profile.titleHeader' | translate}}</h5>
    </div>
    <div class="row p-2">
      <div class="col-12 mb-3">
        <p class="text-center">{{'configuration.profile.titleHeaderDescription' | translate}}</p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-6 text-center">
        <button class="badge badge-pill involve-button btnCancel py-2 px-5 mb-1" (click)="onCloseModal()">{{'commons.cancelar' | translate}}</button>
      </div>
      <div class="col-6 text-center btn-delet">
        <button class="badge badge-pill involve-button btnDelete py-2 px-5 mb-1" (click)="deletePhto()">
          <img class="default" src="/assets/icons/icon-trash-red.svg" alt="">
          <img class="hover" src="/assets/icons/icon-trash-white.svg" alt="">
          {{'commons.eliminar' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
