@import "../../../../../assets/scss/variables";

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.titleHeader {
  font-size: 24px;
  color: #ffff;
  font-weight: 400;
}

.title {
  font-size: 24px;
  color: $S600;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: $S400;
  font-weight: 600;
  span {
    font-weight: normal;
  }
}

.textSemiBold {
  font-size: 16px;
  color: $S400;
  font-weight: 600;
}

.tamPhoto {
  font-size: 12px;
  color: $S200;
}

.borde {
  border-radius: 0;
  border: solid 1px;
  border-color: #e1e1e1;
}

.borde-bottom {
  border-bottom: 0;
}

.border-email {
  border-left: 0;
  border-right: 0;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.btnDelete {
  background-color: #fdeaea;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400;

  .hover {
    display: none;
  }
  &:hover {
    background-color: $E200;
    color: #ffffff;

    .imgDelete {
      content: url("../../../../../assets/img/dashboard/Clientes/basura-blanco.svg");
    }
    .default {
      display: none;
    }
  }
}

.arowBack:hover {
  color: $P600;
}

.btnChange {
  background-color: #ffffff;
  border: solid 1px $P600;
  color: $P600;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    color: #ffffff;
  }
}

.btnChangeBlue {
  background-color: $P600;
  border: solid 1px $P600;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P700;
    border: solid 1px $P700;
  }
}

.btnDeleteDisabled {
  background-color: #eaeaea;
  border: solid 1px #ababab;
  color: #ababab;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: #eaeaea;
    border: solid 1px #ababab;
    color: #ababab;
    font-size: 16px;
    font-weight: 400;
  }
}

.file-input {
  display: none;
}

.paddingbtnUpload {
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.circle-green {
  color: #24aa3d;
  font-size: 15px;
}

.circle-black {
  color: #565656;
  font-size: 15px;
}

.login-icon {
  margin: 4px 4px 0 0;
}

.forgotPass {
  text-decoration: underline;

  &:hover {
    color: $P600;
  }
}

@media screen and (max-width: 991px) {
  /* Aquí van los estilos para tablets grandes y desktop */
}

@media screen and (max-width: 767px) {
  /* Aquí van los estilos para tablets medianas */
  .padding-0 {
    padding: 0;
  }
  .ml {
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  /* Aquí van los estilos para smartphones */
  .padding-0 {
    padding: 0;
  }

  .ml {
    margin-left: 0;
  }

  .buttonsCancel {
    float: none;
    justify-content: center;
  }
}

.login-alert {
  color: #fff;
  padding: 16px 24px;
  background-color: #0bb9b9;
  border: 1px solid #f2f2f2;
}
