<div class="header py-3 px-4">
    <div class="row">
      <div class="col">
       {{'login.step5.titleModal' | translate}}
      </div>
      <div class="col text-right">
        <img class="cursor-pointer" src="assets/img/general/xBlanca.svg" (click)="closeModal();" alt="">
      </div>
    </div>
  </div>
  <div class="modal-body">
    <app-set-up-payment [cols]="6"></app-set-up-payment>
  </div> 
  <!-- <div class="modal-footer d-flex justify-content-center align-items-center p-0 border-0">
    <span class="badge badge-pill badge-secondary py-2 px-4 mr-3 bd-highlight btnCerrar cursor-pointer"
       >Cancelar</span>
      <span
        class="badge badge-pill badge-secondary py-2 px-4 ml-3 bd-highlight btnGuardar cursor-pointer"
        >Aceptar</span>
  </div> -->