<div class="main-container row">
    <div class="restore-container col-lg-5 justify-content-center" *ngIf="!isCorrect && !notCorrect && !activateAccount">
      
      <!-- IMG -->
      <div class="restore-header-container text-right mb-5">
        <img src="../../../../assets/Grupo 498.svg" class="cursor-pointer" routerLink="/login" alt="">
      </div>
  
      <!-- TITULOS -->
      <div class="restore-title-container">
        <h1 class="mb-3">Confirma tu contraseña</h1>
        <p>Crea tu contraseña.</p>
      </div>
  
      <!-- INPUTS -->
      <div class="restore-input-container mb-4">
        <div class="input-text-container row pt-4">
          <p class="col-lg-6 p-0">Contraseña</p>
          <div (click)="showPassword = !showPassword" class="input-text-favicon col-lg-6 text-right p-0" style="cursor: pointer;">
              <div *ngIf="showPassword">
                <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button">Ocultar</p>
              </div>
              <div *ngIf="!showPassword">
                <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button">Mostrar</p>
              </div>
          </div>
        </div>
        <input class="form-control" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userNewPassword" (keyup)="validateNewPassword()" [ngClass]="{'is-invalid': emptyPassword}">
        <div class="invalid-feedback">Debe capturar la contraseña</div>
        
        <!-- AYUDAS -->
        <div class="restore-input-secure pt-3" *ngIf="!rulePassword">
          <ul> 
            <p>Tu contraseña debe contener al menos:</p>
            <li [ngClass]="{'circle-green': isLower,'circle-black': !isLower}">Un carácter en minúscula</li>
            <li [ngClass]="{'circle-green': isUpper,'circle-black': !isUpper}">Un carácter en mayúscula</li>
            <li [ngClass]="{'circle-green': isANumber,'circle-black': !isANumber}">Un número</li>
            <li [ngClass]="{'circle-green': isMinLenght,'circle-black': !isMinLenght}">8 caracteres como mínimo</li>
          </ul>
        </div>
  
        <div class="pt-4" *ngIf="isLower && isANumber && isUpper && isMinLenght">
        <div class="col-12 login-alert">
          <img src="../../../../assets/img/general/ckeckBlanco.svg" alt="">
          Tu contraseña es segura
        </div>
  
      </div>
      </div>
  
      <!-- CONFIRMAR CONTRASEÑA -->
      <div class="restore-input-container" *ngIf="isLower && isANumber && isUpper && isMinLenght">
        <div class="input-text-container row">
          <p class="col-lg-6 p-0">Confirmar contraseña</p>
          <div (click)="showPasswordConfirm = !showPasswordConfirm" class="input-text-favicon col-lg-6 text-right p-0" style="cursor: pointer;">
              <div *ngIf="showPasswordConfirm">
                  <img src="../../../../assets/img/general/visibility_off-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button">Ocultar</p>
              </div>
              <div *ngIf="!showPasswordConfirm">
                  <img src="../../../../assets/img/general/visibility-24px.svg" alt="">
                  <p class="d-inline-block ml-2 info-form-button">Mostrar</p>
              </div>
          </div>
        </div>
        <input class="form-control" [type]="showPasswordConfirm? 'text' : 'password'" [(ngModel)]="userPasswordConfirm" [ngClass]="{'is-invalid': emptyConfirmPassword}">
        <div class="invalid-feedback">Debe capturar la contraseña</div>
        <div class="mnsgError" *ngIf="equalPassword">No coinciden las contraseñas</div>
      </div>
  
      <!-- BTN NEXT -->
      <div class="buttons-container pt-4">
        <button class="btn-green" (click)="sendPassword()">Continuar</button>
      </div>
  
    </div>
  
  
    <!-- TERMS AND CONDITIONS -->
    <div class="restore-container col-lg-5 justify-content-center" *ngIf="activateAccount">
      <div class="restore-header-container text-right mb-5">
        <img src="../../../../assets/Grupo 498.svg" class="cursor-pointer" routerLink="/login" alt="">
      </div>
  
      <!-- TITLES -->
      <div class="restore-title-container">
        <h1 class="mb-3" style="font-size: 36px;">Antes de continuar</h1>
        <p>Para Involve la seguridad de tu información es muy importante, asegúrate de leer y aceptar la siguiente documentación:</p>
      </div>
  
      <div class="restore-input-container mb-4">
        <div class="input-text-container row pt-4">
          
          <!-- PRIVACY -->
          <div class="form-checkbox-container pt-4">
            <label class="switch mr-2">
              <input type="checkbox" [(ngModel)]="avisoPrivacidad">
              <span class="slider round"></span>
            </label>
            <p class="d-inline-block txtOptions">He leído y acepto el <app-modal-privacy></app-modal-privacy> </p> 
          </div>
  
          <!-- TERMS -->
          <div class="form-checkbox-container pt-4">
            <label class="switch mr-2">
              <input type="checkbox" [(ngModel)]="termsConditions">
              <span class="slider round"></span>
            </label>
            <p class="d-inline-block txtOptions">He leído y <app-modalterms></app-modalterms></p>
          </div>
  
          <!-- NOTIFICATIONS -->
          <div class="form-checkbox-container pt-4">
            <label class="switch mr-2">
              <input type="checkbox" [(ngModel)]="notifiInvitacion">
              <span class="slider round"></span>
            </label>
            <p class="d-inline-block txtOptions">Quiero recibir consejos para mejor mi CV</p>
          </div>
  
        </div>
      </div>
      <div class="buttons-container row pt-4">
        <button class="btn-green col-lg-5" [disabled]="!(termsConditions && avisoPrivacidad)" 
        [ngClass]="{'btn-disabled': !(termsConditions && avisoPrivacidad)}" (click)="finishAccount()">Terminar</button>
    </div>
    </div>
  
      <!-- SUCCESS -->
      <div class="restore-container col-lg-12 justify-content-center" *ngIf="isCorrect">
        <app-screen-confirm
            titulo="¡Perfecto!"
            img="../../../../assets/img/login/like.svg"
            btn="Iniciar sesión"
            msg="Tu cuenta ha sido activada, ahora puedes iniciar sessión">
        </app-screen-confirm>
    </div>
  
    <!-- ERROR -->
    <div class="restore-confirm-container col-lg-12 justify-content-center" *ngIf="notCorrect">
      <app-screen-confirm
          titulo="El link caducó"
          img="../../../../assets/img/login/eslabon.svg"
          btn="Iniciar sessión"
          msg="Vuelve a solicitar instrucciones para activar tu cuenta">
      </app-screen-confirm>
  </div>
  
  </div>