@import '../../../../../assets/scss/variables';

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -moz-appearance: none;
}

.select:hover {
  border: solid 1px;
  border-color: #2680EB;
}

.select:focus {
  outline: none;
}

.botonG {
  border: solid 1.5px $P500;
  color: $P500;
  background-color: #F6F6F6;
}

.radio {
  width: 1.5em;
  height: 1.0em;
}

.borderRadio-left {
  border-radius: 0;
  border-left: 0;
}

.borderRadio-ri {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.borderRadio-left1 {
  font-size: 12px;
  color: #565656;
  border-radius: 0;
  border-left: 0;
  border: solid 1px #fff;
  border-color: #CFCFCF;
  width: 6em;
  background-color: #fff;
  &:last-child{
    padding-left: unset;
    padding-right: unset;
  }
}

.conBordeRadioLeft {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-color: #CFCFCF;
  width: 6em;
}

.conBordeRadioLeft:focus {
  outline: none;
  box-shadow: none
}

.conBordeRadioRigth:focus {
  outline: none;
  box-shadow: none
}

.conBordeRadioRigth {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: solid 1px #fff;
  border-color: #CFCFCF;
  width: 6em;
}

.conBordeRadioRigth:hover {
  border-left: solid 1px;
  border-color: $P500;
  color:  $P500;
}

.conBordeRadioLeft:hover {
  border-right: solid 1px;
  border-color: $P500;
  color:  $P500;
}

.borderRadio-left1:hover {
  border: solid 1px;
  border-color: $P500;
  color:  $P500;
}

.efectosInput:hover {
  border: solid 1px;
  border-color: #2680EB;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: $P500;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.bordeSeleccionado {
  border: solid 1px;
  border-color: $P500;
}

.backgrounHeader{
  background-color: $F200;
 }

.btnGuardar {
  background-color: $P500;
  font-weight: 400;
  &:hover{
    background-color: $P600;
  }
}

.btnCerrar {
  background-color: #1C1C1B;
  font-weight: 400;
  &:hover {
    background-color: $P600;
  }
}