    <div class="modal-header backgrounHeader">
      <h4 *ngIf="data.status == 'new' || data.status == 'returnNewClient'" class="ml-2 titleClient mb-0">{{ 'clients.general.newClient' | translate }}</h4>
      <h4 *ngIf="data.status == 'edit'" class="ml-2 titleClient mb-0">{{ 'clients.general.ediClient' | translate }}</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formularioNewClient">
        <div class="row mb-4 ml-5">
          <label for="colFormLabel"
            class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.nombreCliente' | translate}}</label>
          <div class="col-sm-7 p-0">
             <input type="text" formControlName="nameCliente" class="form-control">
             <small *ngIf="formularioNewClient.controls.nameCliente.errors && formularioNewClient.controls.nameCliente.touched"
             class="text-danger">
             {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <!-- Sector -->
        <div class="ml-5 row mb-4">
          <label for="colFormLabel"
            class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.sector' | translate}}</label>
          <div class="col-sm-7 p-0">
            <select formControlName='sector' name="selectSector" class="form-select mdb-select md-form select"
              id="validationCustom01"
              [ngClass]="(formularioNewClient.controls.sector.errors && formularioNewClient.controls.sector.touched) ? 'is-invalid' : 'ng-invalid'">
              <option selected disabled value="">Seleccionar</option>
              <option *ngFor="let itemSectores of sectores" [value]="itemSectores.sectorId" >{{itemSectores.spanishName}}
              </option>
            </select>
            <small *ngIf="formularioNewClient.controls.sector.errors && formularioNewClient.controls.sector.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <!-- Giro -->
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-4 col-form-label textoEtiquetas">Giro</label>
          <div class="col-sm-7 p-0">
            <select formControlName="giro" class="form-select mdb-select md-form select" id="validationCustom02"
              [ngClass]="(formularioNewClient.controls.giro.errors && formularioNewClient.controls.giro.touched) ? 'is-invalid' : 'ng-invalid'">
              <option  selected disabled value="">Seleccionar</option>
              <option  *ngFor="let itemGiros of giros" [value]="itemGiros.industryId">{{itemGiros.spanishName}}</option>
            </select>
            <small *ngIf="formularioNewClient.controls.giro.errors && formularioNewClient.controls.giro.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>

        <!--tipo de empresa-->
        <div class="ml-5 row mb-4">
          <label for="colFormLabel"
            class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.tipoEmpresa' | translate}}</label>
          <div class="col-sm-7 p-0">
            <select formControlName="tipoEmpresa" class="form-select mdb-select md-form select" id="validationCustom03"
              [ngClass]="(formularioNewClient.controls.tipoEmpresa.errors && formularioNewClient.controls.tipoEmpresa.touched) ? 'is-invalid' : 'ng-invalid'">
              <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
              <option class="select" value="NACIONAL">Nacional</option>
              <option class="select" value="INTERNACIONAL">Internacional</option>
            </select>
            <small
              *ngIf="formularioNewClient.controls.tipoEmpresa.errors && formularioNewClient.controls.tipoEmpresa.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <!-- Num empleados -->
        <div class="ml-5 row mb-4">
          <label for="colFormLabel"
            class="col-sm-4 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso1.numEmpleados' | translate}}</label>
          <div class="col-sm-7 p-0">
            <div class="input-group mt-1">
              <button *ngFor="let objTamanio of tamanios" class="btn btn-sm  borderRadio-left1"
                [ngClass]="{'btn btn-sm conBordeRadioLeft': objTamanio.idTamano == 'OPC1','btn btn-sm  conBordeRadioRigth': objTamanio.idTamano == 'OPC4','botonG':tamEmprea ==objTamanio.idTamano}"
                (click)="onclickTamEmpresa(objTamanio.idTamano,objTamanio.tamano)"
                [ngStyle]="{'border-color': tamEmprea == objTamanio.tamano ? '#0BB9B9':'','color':tamEmprea == objTamanio.tamano ? '#0BB9B9':''}">
                {{objTamanio.tamano}}
                <input type="text" style="display: none;" class="conBordeRadioLeft" value="{{objTamanio.tamano}}"
                  formControlName="numEmpleadosEmpresa" name="numEmpleadosEmpresa">
              </button>
            </div>
            <small
              *ngIf="formularioNewClient.controls.numEmpleadosEmpresa.errors && formularioNewClient.controls.numEmpleadosEmpresa.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}
            </small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <span class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnGuardar cursor-pointer"
        (click)="onClickSubmit();">{{ 'commons.guardar' | translate }}</span>
      <span
        class="badge badge-pill badge-secondary py-2 px-4 mb-2 mt-2 bd-highlight btnCerrar cursor-pointer"
        (click)="closeModal();">{{ 'commons.cerrar' | translate }}</span>
    </div>
