textarea {
    resize: none;
}

.borderOl {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 4em;
}

.borderTextArea {
    border: solid 2px #e2e2e2;
}
.title {
    font-size: 20px;
    color: #000000;
}

.subtitle {
    font-size: 16px;
    color: #000000;
}

.paddingCard {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 4em;
}
