<div class="card text-center border-top">
      <div class=" text-left card-body paddingCard shadow-sm" style="height:34em;overflow-y: overlay;">
        <h5 class="title mt4 mb-5">Guión de Entrevista</h5>

        <label for="colFormLabel subtitle" class="mb-4  col-form-label subtitulosCrearVacante">
            Experiencia laboral 
        </label>
        <form  [formGroup]="formInterview" >
            <textarea rows="6" cols="50" matInput placeholder="" formControlName="expLab" class="form-control borderTextArea"  name="expLab" (focusout)="saveExpLb(idTexArea.expLab.id,'INTERVIEW_EXPERIENCE',idTexArea.expLab.text);"></textarea>

            <h5 class="subtitle mb-4 mt-4">Mayor reto</h5>
            <textarea rows="6" cols="50" matInput placeholder="" formControlName="biggestChallenge" class="form-control borderTextArea"  name="biggestChallenge" (focusout)="saveExpLb(idTexArea.biggestChallenge.id,'INTERVIEW_CHALLENGE',idTexArea.biggestChallenge.text);"></textarea>
    
            <h5 class="subtitle mb-4 mt-4">Mayor logro</h5>
            <textarea rows="6" cols="50" matInput placeholder="" formControlName="greatestAchievement" class="form-control borderTextArea"  name="greatestAchievement" (focusout)="saveExpLb(idTexArea.greatestAchievement.id,'INTERVIEW_ACHIEVEMENT',idTexArea.greatestAchievement.text)"></textarea>
    
            <h5 class="subtitle mb-4 mt-4">Cualidades</h5>
            <textarea rows="6" cols="50" matInput placeholder="" formControlName="qualities" class="form-control borderTextArea"  name="qualities" (focusout) ="saveExpLb(idTexArea.qualities.id,'INTERVIEW_QUALITIES',idTexArea.qualities.text)"></textarea>
    
            <h5 class="subtitle mb-4 mt-4">Areas de oportunidad</h5>
            <textarea rows="6" cols="50" matInput placeholder="" formControlName="opportunityAreas" class="form-control borderTextArea"  name="opportunityAreas" (focusout) ="saveExpLb(idTexArea.opportunityAreas.id,'INTERVIEW_CHANCE',idTexArea.opportunityAreas.text)"></textarea>
        </form>
      </div>
  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>