<div class="modal-header d-flex justify-content-center align-items-center">
    <h4 class="modal-title">
        <img src="assets/img/general/logoOpacity.svg" alt="">
        {{title}}</h4>
    
  </div>
  <div class="modal-body">
      <h5 class="text-center subtitle">{{subtitle}}</h5>
    <p class="bordertext p-3">{{text}}</p>
  <div class="modal-footer d-flex justify-content-center align-items-center p-0 border-0">
    <span class="badge badge-pill badge-secondary py-2 px-4 mr-3 bd-highlight btnCerrar cursor-pointer"
       (click)="closeModal(false);" >Cancelar</span>
      <span
        class="badge badge-pill badge-secondary py-2 px-4 ml-3 bd-highlight btnGuardar cursor-pointer"
        (click)="closeModal(true);">Aceptar</span>
  </div>