@import '../../../../assets/scss/variables';

.modal-header{
    background-color: $S700;
    border-top: solid;
}

.bordertext{
    border: solid 1px #707070;
}

.btnGuardar {
    background-color: $P500;
    font-weight: 400;
    &:hover{
      background-color: $P600;
    }
  }
  
  .btnCerrar {
    background-color: #1C1C1B;
    font-weight: 400;
    &:hover {
      background-color: $P600;
    }
  }

  .subtitle {
      font-size: 25px;
      color: #565656;
  }