<ng-container *ngIf="setProcessSelection !== 'talent'">
	<div class="card text-center border-top">
		<div class=" text-left card-body paddingCard shadow-sm" style="height:34em;overflow-y: overlay;">
			<div class="">
				<h5 class="tituloCandidato mt4 mb-5">
					Compatibilidad del CV con la vacante
					<input type="button" class="btn btn btn-success btn-circle mr-0  {{colorPorcentaje}}" /> {{matchPorcentage}}
				</h5>

			</div>
			<div>
				<app-chart-radar [dataChart]="dataChart"></app-chart-radar>
			</div>
			<div class="p-5">
				<div class="b-description">
					<p class="text-center">
						{{ matchMessage }}
					</p>
				</div>
			</div>
		</div>
	</div>
</ng-container>