@import "../../../../../../../../assets/scss/variables";

.tituloCandidato {
    font-size: 16px;

    color: #000000;
    font-weight: 400;
}

.btn-circle {
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    padding: 0% 0% 0% 0%;
    /* font-size: 12px; */
    line-height: 1.428571429;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: auto;
}

.b-description {
    background: $F100;
}

.rojo {
    background: #e23636;
    border-color: #e23636;
}
