<div class="ipv">

    <!-- TITLE -->
    <div class="ipv__txt">
      <h2 class="style-txt-semibold-24 titleTestIpv">Resultados IPV</h2>
      <button *ngIf="show" class="btn ipv__txt--solid repo" (click)=" show = !show">Ver interpretación</button>
      <button *ngIf="!show"class="btn ipv__txt--solid graph" (click)=" show = !show">Ver gráfica</button>
    </div>
  
    <!-- GRAFICA-->
    <div class="row" *ngIf="show">
      <div class="col col-lg-12">
        <div class="ipv__iniciador">
          <p class = "Title_canvas">Factores de la personalidad</p>
          <div class="ipv__iniciador--canvas">
            <canvas #myCanvas  baseChart height="100vh"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
        </div>
        </div>
      </div>
    </div>

    <div class="row " *ngIf="!show">
        <div class="col col-lg-3 col-md-4" *ngFor="let reporte of lineChartLabels ;let indice=index">
            <div class="ipv__reporte--card">
              <div class="red" *ngIf="color[indice]=== 'Red'">
                <h4 class ="titleIpv">{{lineChartLabels[indice]}}</h4>
                <h2 class ="score">{{ Data[indice] }} de 10</h2>
                <h3 class ="interpretationLabel">INTERPRETACIÓN</h3>
                <p class="interpretation">{{ lineChartInterpretation[indice] }}</p>
              </div>
              <div class="orange" *ngIf="color[indice]=== 'Orange'">
                <h4 class ="titleIpv">{{lineChartLabels[indice]}}</h4>
                <h2 class ="score">{{ Data[indice] }} de 10</h2>
                <h3 class ="interpretationLabel">INTERPRETACIÓN</h3>
                <p class="interpretation">{{ lineChartInterpretation[indice] }}</p>
              </div>
              <div class="green" *ngIf="color[indice]=== 'Green'">
                <h4 class ="titleIpv">{{lineChartLabels[indice]}}</h4>
                <h2 class ="score">{{ Data[indice] }} de 10</h2>
                <h3 class ="interpretationLabel">INTERPRETACIÓN</h3>
                <p class="interpretation">{{ lineChartInterpretation[indice] }}</p>
              </div>
            </div>
        </div>
    </div>
  
  </div>