<div class="moss">

  <!-- TITLE -->
  <div class="moss__txt">
    <h2 class="style-txt-semibold-24 titleTestMoss">Resultados Moss</h2>
    <button *ngIf="show" class="btn moss__txt--solid repo" (click)=" show = !show">Ver interpretación</button>
    <button *ngIf="!show"class="btn moss__txt--solid graph" (click)=" show = !show">Ver gráfica</button>
  </div>

  <!-- GRAFICA-->
  <div class="row" *ngIf="show">
    <div class="col col-lg-12">
      <div class="moss__iniciador">
        <p class="Title_canvas">Habilidades</p>
        <div class="moss__iniciador--canvas"  >
          <canvas #myCanvas baseChart  height="70"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
          </canvas>
      </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!show">
    <div class="col col-lg-6 col-md-6 moss__reporte" *ngFor="let reporte of lineChartLabels ;let indice=index">
        <ng-container class="moss__reporte--card">
          <div class="red" *ngIf="color[indice]=== 'Red'">
            <h4 class ="titleMoss">{{lineChartLabels[indice]}}</h4>
            <h2 class ="score">{{ Data[indice] }}%</h2>
            <h3 class ="interpretationLabel">INTERPRETACIÓN</h3>
            <p class="interpretation">{{ lineChartInterpretation[indice] }}</p>
          </div>
          <div class="orange" *ngIf="color[indice]=== 'Orange'">
            <h4 class ="titleMoss">{{lineChartLabels[indice]}}</h4>
            <h2 class ="score">{{ Data[indice] }}%</h2>
            <h3 class ="interpretationLabel">INTERPRETACIÓN</h3>
            <p class="interpretation">{{ lineChartInterpretation[indice] }}</p>
          </div>
          <div class="green" *ngIf="color[indice]=== 'Green'">
            <h4 class ="titleMoss">{{lineChartLabels[indice]}}</h4>
            <h2 class ="score">{{ Data[indice] }}%</h2>
            <h3 class ="interpretationLabel">INTERPRETACIÓN</h3>
            <p class="interpretation">{{ lineChartInterpretation[indice] }}</p>
          </div>
        </ng-container>
    </div>
  </div>
</div>
