@import "../../../../../../assets/scss/_variables";

p,
h2 {
    margin: 0;
    padding: 0;
}

.orange {
    margin-top: 24px;
    height: 100%;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 16%);
    border-left-style: solid !important;
    border-radius: 2%;
    border-left-width: 8px !important;
    border-color: orange;
}
.red {
    margin-bottom: 24px;
    margin-top: 24px;
    height: 100%;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 16%);
    border-left-style: solid !important;
    border-radius: 2%;
    border-left-width: 8px !important;
    border-color: red;
}

.green {
    margin-top: 24px;
    height: 100%;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 16%);
    border-left-style: solid !important;
    border-radius: 2%;
    border-left-width: 8px !important;
    border-left: green;
}
.Title_canvas {
    margin: 0px 0px 24px 250px;
    text-align: left;

    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0px;
    border-color: #979797;
}
.moss__reporte {
    height: auto;
    margin: 0% 0% 6% 0%;
}
.moss__reporte--card {
    height: 100%;
}
.titleTestMoss {
    text-align: left;
    margin: 17px 0px 24px 17px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
}
.titleMoss {
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 8px;
    text-align: left;
    margin: 8px 8px 0px 8px;
    font-weight: bold;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #979797;
    opacity: 1;
    text-transform: uppercase;
}
.interpretationLabel {
    text-align: left;
    margin: 4px 8px 4px 8px;
    font-weight: bold;

    font-size: 12px;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
}
.score {
    text-align: left;
    margin: 0px 8px 0px 8px;
    font-weight: bold;

    font-size: 24px;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
}
.interpretation {
    text-align: left;
    font-size: 12px;
    margin: 0px 8px 0px 8px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.graph {
    right: 30px;
    bottom: 92%;
    background: #0bb9b9;
    color: #ffffff;
    position: absolute;
}
.repo {
    right: 30px;
    bottom: 75%;
    background: #0bb9b9;
    color: #ffffff;
    position: absolute;
}
button:hover {
    background: #088d8d;
}
.col-lg-6 {
    flex: 0 0 48%;
}
.moss__iniciador--canvas {
    height: 240px;
}

@media (max-width: 1024px) {
    .ipv {
        &__reporte {
            margin: 0px;
        }
    }
}

@media (max-width: 768px) {
    .ipv {
        &__reporte {
            margin: 0px;
        }
    }
}
