$colors: (
  blanco: #ffffff,
  negro: #000000,
  title: #2E2E2E,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9,
  registrar: #0AA8A8
);

.fluid {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.fluid__body {
    height: 100vh;
}

    .fluid__img-container {
        width: 100%;
        height: 100%;
        background-image: url(../../../../../assets/close-up-of-smiling-young-businessman-looking-at-document@2x.png);
        background-size: cover;
        background-size: cover;
        background-position: center;
    }

.fluid__txt {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

    .style-txt__title h1 {
        margin-top: 32px;
    }
    .fluid__txt--subtitle p {
        margin-top: 60px;
    }

.fluid__btn {
    margin-top: 80px;
}