<div class="fluid">
    <div class="row fluid__body">

        <div class="col col-lg-6 fluid__txt">

            <!-- LOGO -->
            <img src="../../../../assets/logo-involve.svg" alt="">
              

            <!-- TXT -->
            <div class="style-txt__title">
                <h1>¡Excelente! <br>Empecemos a crear tu CV</h1>
            </div>

            <!-- SUBTITLE -->
            <div class="fluid__txt--subtitle textRegularActive-lg">
                <p>Completemos tu CV para que los reclutadores lo vean <br>y se impresionen ;)</p>
            </div>

            <!-- BTN -->
            <div class="row fluid__btn">
                <div class="col col-lg-4 style-txt__btn--solid">
                    <button type="button" class="btn text-center">¡Empecemos!</button>
                </div>
            </div>

        </div>

        <div class="col col-lg-6">
            <div class="fluid__img-container" alt=""></div>
        </div>

    </div>
</div>