.wrapper {
  display: flex;
  align-items: stretch;
}
#sidebar .sidebar-header { /* para el fondo del icono de involve*/
  padding: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-bottom: solid 2px;
  border-color: #00000029;
}

#sidebar {  /*PARA EL FONDO DEL SIDE BAR*/
  width: 100%;
  display: contents;
  min-width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #565656;
  transition: all 0.2s;
  font-size: 16px;
  border-right: solid 1px;
  border-color: #CFCFCF;
}