<nav id="sidebar" class="navbar navbar-expand-lg navbar-light margin-bottom">
  <div class="sidebar-header">
    <div class="row">
      <div class="col-md-6">
        <img class=" cursor-pointer mt-2" style="opacity: 0;"
          src="../../../../assets/img/dashboard/vacantes/sinFotoPerfil.svg">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <h3 class="text-left" style="   font-weight: bold; font-size: 15px;">CV</h3>
      </div>
    </div>
  </div>
  <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fas fa-align-justify"></i>
  </button>
</nav>