<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="container-fluid">
  <form [formGroup]="formularioRequisitos">
    <div class="card text-center mt-4 ml-4 mr-4 borde borde-bottom ">
      <h5 class="card-header text-left header">{{'vacantes.crearvacante.paso3.titulo' | translate}}
        <input type="text" id="inputOcultore" style="width: 0px;height: 0px;opacity: 0;">
        <button class="badge badge-pill btnSigArriba" (click)="onClickSubmit(); ">Siguiente</button>
      </h5>
      <div class=" text-left card-body">
        <label for="colFormLabel" class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante"
          autocomplete="off">{{'vacantes.crearvacante.paso3.estudios' | translate}}</label>
        <div class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.nivelEstudios' | translate }}</label>
          <div class="col-sm-8">
            <select formControlName="nivelEstudios" class="form-select mdb-select md-form select" id="nivelEstudios">
              <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
              <option [value]="itemNiveles.educationId" *ngFor="let itemNiveles of nivelesEstudio">{{itemNiveles.name}}</option>
            </select>
            <small
              *ngIf="formularioRequisitos.controls.nivelEstudios.errors && formularioRequisitos.controls.nivelEstudios.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <!--para la card de nivel de estudios-->
        <div *ngIf="bamderaLicenciatura || banderaBachillerato" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div class="card cardColor">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-3 mb-3" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..."  (click)="removeNivelEstudios();">
                </span>
                <h5 class="tituloCard mt-1">{{valorNivelEstudios}}</h5>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="checkNivelEstudios" class="custom-control-input"
                    id="checkNivelEstudios">
                  <label class="custom-control-label subTituloCard etiquetaCard"
                    for="checkNivelEstudios">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin para la card de nivel de estudios-->
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.estatusAcademico' | translate }}</label>
          <div class="col-sm-8">
            <select formControlName="estatusAcademico" class="form-select mdb-select md-form select"
              id="estatusAcademico">
              <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
              <option [value]="itemEstatus.idStatus" *ngFor="let itemEstatus of estatusAcademico">{{itemEstatus.name}}</option>
            </select>
            <small
              *ngIf="formularioRequisitos.controls.estatusAcademico.errors && formularioRequisitos.controls.estatusAcademico.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <!--fin Estatus academico-->
        <div *ngIf="banceraEstatusAcademico" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div class="card cardColor">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-2" aria-label="Close" (click)="removeStatusAcademio();">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click)="removeStatusAcademio();">
                </span>
                <h5 class="tituloCard">{{valorEstatusAcademico}}</h5>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="checkEstatusAcademico" class="custom-control-input"
                    id="checkEstatusAcademico">
                  <label class="custom-control-label subTituloCard etiquetaCard"
                    for="checkEstatusAcademico">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin card estatus academico-->
        <div *ngIf="banceraEstatusAcademico" class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.tituloCarrera' | translate }}</label>
          <div class="col-sm-8">
            <input id="modelLicenciatura" type="text" formControlName="modelLicenciatura" class="form-control"
              [ngbTypeahead]="search"
              (keyup)="addCarrera($event);"
              [ngClass]="(formularioRequisitos.controls.modelLicenciatura.errors && formularioRequisitos.controls.modelLicenciatura.touched) ? 'is-invalid' : 'ng-invalid'" />
            <!--[(ngModel)]="modelLicenciatura"   (ngModelChange)="onPercentChange($event)"-->
            <small
              *ngIf="formularioRequisitos.controls.modelLicenciatura.errors && formularioRequisitos.controls.modelLicenciatura.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
          </div>
        </div>
        <!--fin titulo o carrera-->
        <div *ngIf="banderaTitulo" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div class="card cardColor">
              <div class="card-body padding">
                <span (click) ="removeCarrera();" class="close cursor-pointer mt-2 mb-2" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
                </span>
                <h5 class="tituloCard mt-3">{{modelLicenciatura}}</h5>
              </div>
            </div>
          </div>
        </div>
        <!--fin card titulo o carrera-->
        <div *ngIf="banceraEstatusAcademico" class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.institucion' | translate }}</label>
          <div class="col-sm-8">
            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.pais' | translate }}</p>
              <select formControlName="pais" class="form-select mdb-select md-form select" id="pais">
                <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                <option *ngFor="let arrayPais of arrayPais" value="{{arrayPais.data}}">{{arrayPais.data}}</option>
              </select>
              <small
              *ngIf="formularioRequisitos.controls.pais.errors && formularioRequisitos.controls.pais.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
            </div>
            <div class="info-form-inpput">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.nombreInstitucion' | translate }}</p>
              <input id="modelNombreinstitucion" type="text" formControlName="modelNombreinstitucion" class="form-control"
                [ngbTypeahead]="searchNombreInstitucion"
                [ngClass]="(formularioRequisitos.controls.modelNombreinstitucion.errors && formularioRequisitos.controls.modelNombreinstitucion.touched) ? 'is-invalid' : 'ng-invalid'"
                (keyup)="addIstitucion($event);"
                />
                <small
                *ngIf="formularioRequisitos.controls.modelNombreinstitucion.errors && formularioRequisitos.controls.modelNombreinstitucion.touched"
                class="text-danger">
                {{'commons.requerido' | translate}}</small>
              </div>
          </div>
        </div>
        <!--fin Institucion-->
        <div *ngIf="banderaNombreInstitucion" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div *ngFor="let universidad of arregloUniversidades;let indice=index" class="card cardColor mb-4">
              <div class="card-body padding mt-1 mb-1">
                <span class="close cursor-pointer mt-3" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." (click)="removeInstituciones(indice);">
                </span>
                <h5 class="tituloCard mt-1">{{universidad.nombre}}</h5>
                <div>
                  <label class="subTituloCard etiquetaCard">{{valorPais}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin card institucion-->
      </div>
    </div>
    <!--Segunda pantalla-->
    <div class="card text-center ml-4 mr-4 borde borde-bottom ">
      <div class=" text-left card-body">
        <label for="colFormLabel"
          class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante">{{'vacantes.crearvacante.paso3.experienciaLaboral'
          | translate }}</label>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.areasyespecialidades' | translate }}</label>
          <div class="col-sm-8">
            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.area' | translate }}</p>
              <select formControlName="areas" class="form-select mdb-select md-form select" id="area">
                <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                <option *ngFor="let arrayAreas of areas" value="{{arrayAreas.areaId}}">{{arrayAreas.spanishName}}</option>
              </select>
              <small
                *ngIf="formularioRequisitos.controls.area.errors && formularioRequisitos.controls.area.touched"
                class="text-danger">
                {{'commons.requerido' | translate}}</small>
            </div>

            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.especialidad' | translate }}</p>
              <select formControlName="especialidad" class="form-select mdb-select md-form select" id="especialidad">
                <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                <option *ngFor="let arrayEspecialidad of especialidades" value="{{arrayEspecialidad.specialtyId}}">
                  {{arrayEspecialidad.spanishName}}</option>
              </select>
              <small
                *ngIf="formularioRequisitos.controls.especialidad.errors && formularioRequisitos.controls.especialidad.touched"
                class="text-danger">
                {{'commons.requerido' | translate}}</small>
            </div>


          </div>
        </div>
        <!--fin Areas y especialidades-->
        <div *ngIf="area.controls.length > 0" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <h5 class="subTituloCard">{{'vacantes.crearvacante.paso3.areas' | translate}}</h5>
            <!-- <div *ngFor="let areas of arregloAreas; let indice=index" class="card cardColor mb-4">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-3 mr-3" aria-label="Close">
                  <span (click) ="removeAreas(indice);" class="d-flex align-items-center cerrar" aria-hidden="true">&times;</span>
                </span>
                <h5 class="tituloCard">{{areas.nombre}}</h5>
                <div class="form-check form-check-inline">
                  <label for="colFormLabel"
                    class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.aniosEsperiencia' |
                    translate}}</label>
                  <div>
                    <div class="input-group aniosEspecialidad" style="width:7em;">
                      <input id="{{areas.anios.id}}" type="text" class="form-control efectosInput"
                        value="{{areas.anios.numAmios}}">
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaAreas(areas.anios.id,'menos');">-</span>
                      <span class="input-group-text cursor borderRadio-left"(click)="aniosExperienciaAreas(areas.anios.id,'mas');">+</span>
                    </div>
                  </div>
                </div>
                <div class="form-check form-check-inline ml-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" (change)="checkCheckBoxAreas(areas.excluyente.id)" id="{{areas.excluyente.id}}">
                    <label class="custom-control-label subTituloCard etiquetaCard"
                      for="{{areas.excluyente.id}}">{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div> -->
            <div formArrayName="area" *ngFor="let areas of area.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-3" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click) ="removeAreas(indice);">
                </span>
                <h5 class="tituloCard">{{areas.value.nombreArea}}</h5>
                <div class="form-check form-check-inline">
                  <label [attr.for]="'yearExperience' + indice" 
                    class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.aniosEsperiencia' |
                    translate}}</label>
                  <div>
                    <div class="input-group aniosEspecialidad" style="width:7em;">
                      <input [attr.id]="'yearExperience' + indice" type="text" class="form-control efectosInput"
                      formControlName="yearExperience"
                        >
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaAreas(indice,'menos');">-</span>
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaAreas(indice,'mas');">+</span>
                    </div>
                  </div>
                </div>
                <div class="form-check form-check-inline ml-4">
                  <div class="custom-control custom-checkbox">
                    <input [attr.id]="'exclud' + indice" type="checkbox" class="custom-control-input" formControlName="exclud" >
                    <label class="custom-control-label subTituloCard etiquetaCard"
                      [attr.for]="'exclud' + indice">{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <!--fin card Areas-->
        <div *ngIf="especialidad.controls.length > 0" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <h5 class="subTituloCard">{{'vacantes.crearvacante.paso3.especialidades' | translate}}</h5>
           <!-- <div *ngFor="let especialidades of arregloEspecialidades let indice=index" class="card cardColor mb-4">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-3 mr-3" aria-label="Close">
                  <span (click)="removeEspecialidades(indice)" class="d-flex align-items-center cerrar" aria-hidden="true">&times;</span>
                </span>
                <h5 class="tituloCard">{{especialidades.nombre}}</h5>
                <div class="form-check form-check-inline">
                  <label for="colFormLabel"
                    class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.aniosEsperiencia' |
                    translate}}</label>
                  <div>
                    <div class="input-group aniosEspecialidad" style="width:7em;">
                      <input type="text" class="form-control efectosInput"
                      value="{{especialidades.anios.numAmios}}">
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaEspecialidades(especialidades.anios.id,'menos');">-</span>
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaEspecialidades(especialidades.anios.id,'mas');">+</span>
                    </div>
                  </div>
                </div>
                <div class="form-check form-check-inline ml-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" (change)="checkCheckBoxEspecialidades(especialidades.excluyente.id)" id="{{especialidades.excluyente.id}}">
                    <label class="custom-control-label subTituloCard etiquetaCard"
                      for="{{especialidades.excluyente.id}}">{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div> -->
            <div formArrayName="especialidades" *ngFor="let especialidad of especialidad.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-3" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click)="removeEspecialidades(indice)">
                </span>
                <h5 class="tituloCard">{{especialidad.value.nombreEspecialidad}}</h5>
                <div class="form-check form-check-inline">
                  <label [attr.for]="'aniosEspecialidad' + indice" 
                    class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.aniosEsperiencia' |
                    translate}}</label>
                  <div>
                    <div class="input-group aniosEspecialidad" style="width:7em;">
                      <input type="text" class="form-control efectosInput"
                      formControlName="aniosEspecialidad"
                      [attr.id]="'aniosEspecialidad' + indice"
                      >
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaEspecialidades(indice,'menos');">-</span>
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaEspecialidades(indice,'mas');">+</span>
                    </div>
                  </div>
                </div>
                <div class="form-check form-check-inline ml-4">
                  <div class="custom-control custom-checkbox">
                    <input [attr.id]="'excluyenteEspecialidad' + indice" type="checkbox" class="custom-control-input"  formControlName="excluyenteEspecialidad">
                    <label class="custom-control-label subTituloCard etiquetaCard"
                    [attr.for] = "'excluyenteEspecialidad' + indice" >{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin card Especialidades-->
        <div class="ml-5 row mb-1">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.preguntas' |
            translate}}</label>
          <div class="col-sm-8">
            <!--para la card pregunta cerrada experiencia laboral-->
            <div formArrayName="cerradasExpLab" *ngFor="let preCerradas of cerradasExpLab.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer pt-4 mt-2" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click)="eliminarcerradasExpLab(indice)">
                </span>
                <h5 class="tituloCard mt-2">{{preCerradas.value.preguntaCeExpLab}}</h5>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" name="aniosCeExpLab" [attr.id]="'aniosCe1ExpLab' + indice"
                  formControlName="aniosCeExpLab"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">{{'commons.si' | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" name="aniosCeExpLab" [attr.id]="'aniosCe2ExpLab' + indice"
                  formControlName="aniosCeExpLab"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">{{'commons.no' | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" name="aniosCeExpLab" [attr.id]="'aniosCe3ExpLab' + indice"
                  formControlName="aniosCeExpLab"
                    value="option3">
                  <label class="form-check-label" for="inlineRadio3">{{'commons.sinpreferencia' | translate}}</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [attr.id]="'excluyenteCeExpLab' + indice" formControlName="excluyenteCeExpLab">
                  <label class="custom-control-label subTituloCard etiquetaCard"
                  [attr.for] = "'excluyenteCeExpLab' + indice">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
            <!--fin card de pregunta cerrada experiencia laboral-->
            <!--para la card pregunta abierta experiencia laboral-->
            <div *ngFor="let preAbiertas of arregloPreguntasAbiertas; let indice=index" class="card cardColor mb-4">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-2" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click) ="eliminaAbiertasExpLap(indice)">
                </span>
                <h5 class="tituloCard mt-3 ">{{preAbiertas.pregunta}}</h5>
              </div>
            </div>
            <!--fin de la card pregunta abierta experiencia laboral-->
            <!--Para la pregunta de años de experiencia experiencia laboral -->
            <div formArrayName="aniosExpLab" *ngFor="let experiencia of aniosExpLab.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-3" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click)="eliminaraniosExpLab(indice)">
                </span>
                <h5 class="tituloCard">{{experiencia.value.preguntaExExpLab}}</h5>
                <div class="form-check form-check-inline">
                  <label [attr.for]="'aniosExExpLab' + indice"
                    class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.aniosEsperiencia' |
                    translate}}</label>
                  <div>
                    <div class="input-group aniosEspecialidad" style="width:7em;">
                      <input type="text" class="form-control efectosInput"
                      formControlName="aniosExExpLab"
                      [attr.id]="'aniosExExpLab' + indice"
                        >
                      <span class="input-group-text cursor borderRadio-left"(click)="aniosExperienciaExpLaboral(indice,'menos');">-</span>
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaExpLaboral(indice,'mas');">+</span>
                    </div>
                  </div>
                </div>
                <div class="form-check form-check-inline ml-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"  [attr.id]="'excluyenteExExpLab' + indice" formControlName="excluyenteExExpLab">
                    <label class="custom-control-label subTituloCard etiquetaCard"
                    [attr.for]="'excluyenteExExpLab' + indice">{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
            <!--Para la pregunta de años de experiencia experiencia laboral-->
            <app-modal-preguntas tipoPregunta="cerrada" (propagar)="addPreguntaCerrada($event,'cerradas')">
            </app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaCerrada' | translate}}
          </div>
        </div>
        <div class="ml-5 row mb-1">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <app-modal-preguntas tipoPregunta="cerrada" (propagar)="addPreguntaCerrada($event,'abierta')">
            </app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaAbierta' | translate}}
          </div>
        </div>
        <div class="ml-5 row mb-1">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <app-modal-preguntas tipoPregunta="cerrada" (propagar)="addPreguntaCerrada($event,'experiencia')">
            </app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaExperiencia' | translate}}
          </div>
        </div>
        <!--fin de las preguntas-->
      </div>
    </div>
    <!--Tercera pantalla Habilidades tecnicas-->
    <div class="card text-center ml-4 mr-4 borde borde-bottom ">
      <div class=" text-left card-body">
        <label for="colFormLabel"
          class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante">{{'vacantes.crearvacante.paso3.habilidadesTecnicas'
          | translate }}</label>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.habilidadesTecnicas' | translate }} <br />
            {{'vacantes.crearvacante.paso3.habilidadesTecnicas1' | translate }}
          </label>
          <div class="col-sm-8">
            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.habilidad' | translate }}</p>
                    <app-input-search
                      (onEnter)="buscar( $event )"
                      (onDebounce)="sugerencias( $event )"
                      [selectListItem]="txtTerminoPuesto"
                    >
                  </app-input-search>
                  <ul *ngIf="mostrarSugerencias"
                      class="list-group searchDebounce mt-1 col-sm-12">
                      <li *ngFor="let skill of puestosSugeridos"
                        class="list-group-item list-group-item-action p-0"
                        (click)="buscarSugeridoNew( $event, skill)">
                        <a class="nav-link">
                          {{ skill.name }}
                        </a>
                      </li>
                    </ul>
                  <!-- </div> -->
                <!-- <small
                *ngIf="formularioRequisitos.controls.habilidadesTecnicas.errors && formularioRequisitos.controls.habilidadesTecnicas.touched"
                class="text-danger">
                {{'commons.requerido' | translate}}</small> -->
            </div>

            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.nivel' | translate }}</p>
              <select formControlName="nivel" class="form-select mdb-select md-form select" id="nivel">
                <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                <option *ngFor="let arraynivel of arrayNivel" value="{{arraynivel.data}}">{{arraynivel.data}}</option>
              </select>
              <small
                *ngIf="formularioRequisitos.controls.nivel.errors && formularioRequisitos.controls.nivel.touched"
                class="text-danger">
                {{'commons.requerido' | translate}}</small>
            </div>

          </div>
        </div>
        <!--fin Habilidades tecnicas-->

        <div *ngIf="habilidadNivel.value.length > 0" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div formArrayName="habilidadNivel" *ngFor="let habilidades of habilidadNivel.controls; let indice=index" class="card cardColor  mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-1 pt-2" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click)="eliminarHabilidadNivel(indice);">
                </span>
                <h5 class="tituloCard">{{habilidades.value.nombreHabiliad}}</h5>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"
                  [attr.id]="'excluyenteHabilidad' + indice" formControlName="excluyenteHabilidad"
                  >
                  <label class="custom-control-label subTituloCard etiquetaCard"
                  [attr.for]="'excluyenteHabilidad' + indice">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin card Habilidades tecnicas-->

        <div class="ml-5 row mb-1">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.preguntas' |
            translate}}</label>
          <div class="col-sm-8">
            <!--para la card pregunta cerrada habilidades tecnicas-->
            <div formArrayName="cerradasHabTec" *ngFor="let preCerradas of cerradasHabTec.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer pt-4 mt-2" aria-label="Close" (click)="eliminarcerradasHabTec(indice)">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
                </span>
                <h5 class="tituloCard mt-2">{{preCerradas.value.preguntaCeExpTec}}</h5>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio"
                   [attr.id]="'aniosCeExpTec1' + indice"
                  formControlName="aniosCeExpTec"
                    value="option1"
                    >
                  <label class="form-check-label" for="inlineRadio1">{{'commons.si' | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" 
                   [attr.id]="'aniosCeExpTec2' + indice"
                  formControlName="aniosCeExpTec"  
                  value="option2"
                    >
                  <label class="form-check-label" for="inlineRadio2">{{'commons.no' | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" 
                   [attr.id]="'aniosCeExpTec3' + indice"
                  formControlName="aniosCeExpTec"  
                  value="option3"
                    >
                  <label class="form-check-label" [attr.for]="'aniosCeExpTec' + indice">{{'commons.sinpreferencia' | translate}}</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [attr.id]="'excluyenteCeExpTec' + indice" formControlName="excluyenteCeExpTec">
                  <label class="custom-control-label subTituloCard etiquetaCard"
                  [attr.for]="'excluyenteCeExpTec' + indice">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
            <!--fin card de pregunta cerrada habilidades tecnicas-->
            <!--para la card pregunta abierta habilidades tecnicas-->
            <div *ngFor="let preAbiertas of arregloPreguntasAbiertasHabTec; let indice=index" class="card cardColor mb-4">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-2" aria-label="Close" (click)="eliminaAbiertasHabTec(indice)">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
                </span>
                <h5 class="tituloCard mt-3 mb-3">{{preAbiertas.pregunta}}</h5>
              </div>
            </div>
            <!--fin de la card pregunta abierta habilidades tecnicas-->
            <!--Para la card pregunta de años de experiencia habilidades tecnicas-->
            <div formArrayName="aniosExperienciaSegunda" *ngFor="let experiencia2 of aniosHabTec.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-3" aria-label="Close" (click) ="eliminaraniosHabTec(indice);">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="">
                </span>
                <h5 class="tituloCard">{{experiencia2.value.preguntaHabTec}}</h5>
                <div class="form-check form-check-inline">
                  <label for="colFormLabel"
                    class="col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.aniosEsperiencia' |
                    translate}}</label>
                  <div>
                    <div class="input-group aniosEspecialidad" style="width:7em;">
                      <input type="text" class="form-control efectosInput"
                      formControlName="aniosexHabTec"
                      [attr.id]="'aniosexHabTec' + indice">
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaHT(indice,'menos');">-</span>
                      <span class="input-group-text cursor borderRadio-left" (click)="aniosExperienciaHT(indice,'mas');">+</span>
                    </div>
                  </div>
                </div>
                <div class="form-check form-check-inline ml-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [attr.id]="'excluyenteHabTec' + indice" formControlName="excluyenteHabTec" >
                    <label class="custom-control-label subTituloCard etiquetaCard"
                    [attr.for]="'excluyenteHabTec' + indice">{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
            <!--Para la card pregunta de años de experiencia habilidades tecnicas-->
            <app-modal-preguntas tipoPregunta="cerrada"
              (propagar)="addPreguntaCerrada($event,'cerradasHabilidadesTecnicas')"></app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaCerrada' | translate}}
          </div>
        </div>
        <div class="ml-5 row mb-1">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <app-modal-preguntas tipoPregunta="cerrada"
              (propagar)="addPreguntaCerrada($event,'abiertaHabilidadesTecnicas')"></app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaAbierta' | translate}}
          </div>
        </div>
        <div class="ml-5 row mb-1">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <app-modal-preguntas tipoPregunta="cerrada"
              (propagar)="addPreguntaCerrada($event,'experienciaHabilidadesTecnicas')"></app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaExperiencia' | translate}}
          </div>
        </div>
        <!--fin de las preguntas-->
      </div>
    </div>
    <!--Cuarta pantalla Habilidades sociales-->
    <div class="card text-center ml-4 mr-4 borde borde-bottom ">
      <div class=" text-left card-body">
        <label for="colFormLabel"
          class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante">{{'vacantes.crearvacante.paso3.habilidadesSociales'
          | translate }}</label>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.habilidadesTecnicas' | translate }} <br />
            {{'vacantes.crearvacante.paso3.habilidadesTecnicas1' | translate }}
          </label>
          <div class="col-sm-8">
            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais">{{'vacantes.crearvacante.paso3.habilidad' | translate }}</p>
                <app-input-search
                (onEnter)="buscarSoftKill( $event )"
                (onDebounce)="sugerenciasSoftKill( $event )"
                [selectListItem]="txtTerminoSoft"
                (keyup)="addHabilidadSocial($event)"
              >
            </app-input-search>
            <ul *ngIf="mostrarSugerenciasSoft"
                class="list-group searchDebounce mt-1 col-sm-12">
                <li *ngFor="let skill of softSugeridos"
                  class="list-group-item list-group-item-action p-0"
                  (click)="buscarSugeridoSoftkill( $event, skill)">
                  <a class="nav-link">
                    {{ skill.name }}
                  </a>
                </li>
              </ul>
                <!-- <small
              *ngIf="formularioRequisitos.controls.habilidadesSociales.errors && formularioRequisitos.controls.habilidadesSociales.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small> -->
            </div>
          </div>
        </div>

        <!--fin Habilidades sociales-->
        <div *ngIf="habilidadSocial.controls.length > 0" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div formArrayName="habilidadSocial" *ngFor="let preCerradas of habilidadSocial.controls; let indice=index" class="card cardColor  mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-2" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click) = "removeHabilidadSocial(indice);">
                </span>
                <h5 class="tituloCard">{{preCerradas.value.nombreHabilidadSocial}}</h5>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [attr.id]="'excluyenteHabilidadSocila' + indice" formControlName="excluyenteHabilidadSocila"
                  >
                  <label class="custom-control-label subTituloCard etiquetaCard"
                  [attr.for]="'excluyenteHabilidadSocila' + indice">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin card Habilidades sociales-->

        <div class="ml-5 row mb-1">
          <label for="colFormLabel"
            class="col-sm-3 col-form-label textoEtiquetas">{{'vacantes.crearvacante.paso3.preguntas' |
            translate}}</label>
          <div class="col-sm-8">
            <!--para la card pregunta cerrada habilidades sociales-->
            <div formArrayName="cerradasHabSociales" *ngFor="let preCerradas of cerradasHabSociales.controls; let indice=index" class="card cardColor mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-1 pt-4" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click) ="eliminarcerradasHabSociales(indice)">
                </span>
                <h5 class="tituloCard mt-2">{{preCerradas.value.preguntaCeExpSoci}}</h5>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" [attr.id]="'aniosCeExpSoci1' + indice"
                  formControlName="aniosCeExpSoci"
                  value="option1">
                  <label class="form-check-label" [attr.for]="'aniosCeExpSoci' + indice">{{'commons.si' | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" [attr.id]="'aniosCeExpSoci2' + indice"
                  formControlName="aniosCeExpSoci"
                  value="option2">
                  <label class="form-check-label" [attr.for]="'aniosCeExpSoci' + indice">{{'commons.no' | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radioCerrads" type="radio" [attr.id]="'aniosCeExpSoci3' + indice"
                  formControlName="aniosCeExpSoci"
                    value="option3">
                  <label class="form-check-label" [attr.for]="'aniosCeExpSoci' + indice">{{'commons.sinpreferencia' | translate}}</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [attr.id]="'excluyenteCeExpSoci' + indice" formControlName="excluyenteCeExpSoci" >
                  <label class="custom-control-label subTituloCard etiquetaCard"
                  [attr.for]="'excluyenteCeExpSoci' + indice">{{'commons.excluyente' | translate}}</label>
                </div>
              </div>
            </div>
            <!--fin card de pregunta cerrada  habilidades sociales-->
            <!--para la card pregunta abierta-->
            <div *ngFor="let preAbiertas of arregloPreguntasAbiertasHabSoc; let indice=index" class="card cardColor mb-4">
              <div class="card-body padding">
                <span class="close cursor-pointer mt-2 " aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class="" (click)="eliminaAbiertasSociales(indice);">
                </span>
                <h5 class="tituloCard mt-3">{{preAbiertas.pregunta}}</h5>
              </div>
            </div>
            <!--fin de la card pregunta abierta-->
            <app-modal-preguntas tipoPregunta="cerrada"
              (propagar)="addPreguntaCerrada($event,'cerradasHabilidadesSociales')"></app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaCerrada' | translate}}
          </div>
        </div>
        <div class="ml-5 row mb-1">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <app-modal-preguntas tipoPregunta="cerrada"
              (propagar)="addPreguntaCerrada($event,'abiertaHabilidadesSociales')"></app-modal-preguntas>
            {{'vacantes.crearvacante.paso3.preguntaAbierta' | translate}}
          </div>
        </div>

        <!--fin de las preguntas-->
      </div>
    </div>
    <!--Quinta pantalla lenguajes-->
    <div class="card text-center ml-4 mr-4 borde borde-bottom ">
      <div class=" text-left card-body">
        <label for="colFormLabel"
          class=" ml-5 mb-4 mb-4 col-sm-4 col-form-label subtitulosCrearVacante">{{'vacantes.crearvacante.paso3.idiomas'
          | translate }}</label>
        <div class="ml-5 row mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas">{{
            'vacantes.crearvacante.paso3.idioma' | translate }}</label>
          <div class="col-sm-8">
            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais"></p>
              <select formControlName="idioma" class="form-select mdb-select md-form select" id="idioma">
                <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                <option *ngFor="let arrayIdiomas of idiomas" value="{{arrayIdiomas.languageId}}">{{arrayIdiomas.spanish_name}}
                </option>
              </select>
              <small
              *ngIf="formularioRequisitos.controls.idioma.errors && formularioRequisitos.controls.idioma.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
            </div>

            <div class="info-form-inpput mb-4">
              <p class="mb-0 subtituloPais"></p>
              <select formControlName="nivelIdioma" class="form-select mdb-select md-form select" id="nivelIdioma">
                <option selected disabled value="">{{'commons.seleccionar' | translate}}</option>
                <option *ngFor="let arrayNivelIdioma of arrayNivelIdioma" value="{{arrayNivelIdioma.data}}">
                  {{arrayNivelIdioma.data}}</option>
              </select>
              <small
              *ngIf="formularioRequisitos.controls.nivelIdioma.errors && formularioRequisitos.controls.nivelIdioma.touched"
              class="text-danger">
              {{'commons.requerido' | translate}}</small>
            </div>


          </div>
        </div>
        <!--fin idioma y nivel idioma-->
        <div *ngIf="nivelIdioma.controls.length > 0" class="row mb-3 ml-5 mb-4">
          <label for="colFormLabel" class="col-sm-3 col-form-label textoEtiquetas"></label>
          <div class="col-sm-8">
            <div formArrayName="arrIdiomas" *ngFor="let preCerradas of nivelIdioma.controls; let indice=index" class="card cardColor  mb-4">
              <div [formGroupName]="indice" class="card-body padding">
                <span class="close cursor-pointer mt-2" aria-label="Close">
                  <img  src="../../../../assets/img/general/x.svg" alt="..." class=""  (click)="removeIiomas(indice);">
                </span>
                <h5 class="tituloCard">{{preCerradas.value.nivelIdioma}}</h5>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [attr.id]="'excluyenteIfioma' + indice" formControlName="excluyenteIfioma"
                  >
                  <label class="custom-control-label subTituloCard etiquetaCard"
                  [attr.for]="'excluyenteIfioma' + indice">{{'commons.excluyente' | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--fin card nivel idioma -->
        </div>
      </div>
    <!--Para la barra de botones-->
    <div class="card text-right ml-4 mr-4 borde mb-5">
      <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3 ml-5">
          <div class="col-sm-12">
            <div class="row">
              <div  class="col-sm-6 text-left"> 
                <input type="button"  value="Anterior" class="botonBadge badge-pill badge-secondary bd-highlight btnSiguiente" (click)="redirecTo('dos')" >
              </div>
              <div class="col-sm-6 text-right">
                <a class="mr-3 guardarBorrador" >Guardar como borrador</a>
                <input type="button"  value="Siguiente" class="botonBadge badge-pill badge-secondary bd-highlight btnSiguiente" (click)="onClickSubmit(); ">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>