<div class="container-fluid pl-0">
    <div class="card text-center mt-6 ml-6 mr-6 borde borde-bottom px-5">
      <app-step-bar [buttonsSelected]="7"></app-step-bar>
      <div class="card-body px-0 text-left">
        <label class="col-form-label subtitulosCrearVacante mb-4">Ya casi terminas ¡revisa que todo esté correcto!</label>
        <label class="col-form-label subtitulosCrearVacante font-weight-bold d-flex align-items-center">
          {{currentVacancy?.name || currentVacancy?.titlePosition }}
          <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(1)">
        </label>
        <p class="align-items-center d-flex mb-5">
          <img src="/assets/img/general/location.svg" alt="" class="d-inline-block">
          <span class="ml-2 small-text">{{ currentVacancy?.town.name}}, {{ stateFormatted }}</span>
        </p>
        <div class="section mb-3"><!-- Descripción del puesto -->
          <p class="small-text">
            Descripción del puesto
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(2)">
          </p>
          <div class="section-content ml-4">
            <p class="small-text mb-3">{{currentVacancy?.client.name}} cuenta con una posición como {{currentVacancy?.position.position}} para {{missionFormatted}}</p>
          </div>
        </div>
        <div class="section mb-3"><!-- Descripción del puesto -->
          <p class="small-text">
            Funciones
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(2)">
          </p>
          <div class="section-content ml-4">
            <div class="list-container">
              <ul>
                <li class="small-text" *ngFor="let function of functionsFormatted">{{function}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="section mb-3">
          <p class="small-text">
            Habilidades del candidato ideal
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(3)">
          </p>
          <div class="section-content ml-4">
            <div class="list-container  mb-3">
              <ul class="mb-0">
                <li class="small-text" *ngFor="let skill of basicSkillsFormatted">{{skill.skill.name}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="section mb-3">
          <p class="small-text">
            Requisitos
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(3)">
          </p>
          <div class="section-content ml-4">
            <p class="small-text mb-0">
              <span class="bold-text">Nivel de estudios: </span> {{currentVacancy?.education.name}}{{(', ' + currentVacancy?.academicTitle) || ''}}
            </p>
            <p class="small-text mb-0">
              <span class="bold-text">Estatus académico: </span>{{currentVacancy?.statusEducation?.name}}
            </p>
            <p class="small-text mb-0" *ngIf="areasFormatted !== ''">
              <span class="bold-text">Experiencia en el área: </span>
              <span>{{areasFormatted}}</span>
            </p>
            <p class="small-text mb-0" *ngIf="speciality">
              <span class="bold-text">Con especialidad en: </span>{{speciality}}
            </p>
            <p class="small-text mb-0">
              <span class="bold-text">Idioma: </span>{{languagesFormatted}}
            </p>
          </div>
        </div>
        <div class="section mb-3">
          <p class="small-text">
            Ofrecemos
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(1)">
          </p>
          <div class="section-content ml-4">
            <div class="card cardColor mb-4">
              <div class="card-body padding row">
                <div class="col">
                  <p class="bold-text small-text mb-0" *ngIf="currentVacancy?.salaryMaximum !== null && currentVacancy?.salaryMinimum !== null ">
                    Sueldo: {{currentVacancy?.salaryMinimum | customCurrency}} a {{currentVacancy?.salaryMaximum | customCurrency}} MXN 
                    {{(currentVacancy?.typeSalary === 'NET_INCOME' ? 'netos' : (currentVacancy?.typeSalary === 'GROSS_SALARY' ? 'brutos' : ''))}} 
                    mensuales
                    <span *ngIf="currentVacancy?.salaryShow">(oculto)</span>
                  </p>
                  <p class="bold-text small-text mb-0" *ngIf="currentVacancy?.salaryExactly !== null">
                    Sueldo: {{currentVacancy?.salaryExactly | customCurrency}} MXN 
                    {{(currentVacancy?.typeSalary === 'NET_INCOME' ? 'netos' : (currentVacancy?.typeSalary === 'GROSS_SALARY' ? 'brutos' : ''))}} 
                    mensuales
                    <span *ngIf="currentVacancy?.salaryShow">(oculto)</span>
                  </p>
                  <p class="bold-text small-text mb-0">
                    Jornada laboral: {{workingDayFormatted}}
                  </p>
                  <p class="bold-text small-text mb-0">Horario: {{currentVacancy?.schedule}}</p>
                  <p class="bold-text small-text mb-0">Tipo de contrato: {{currentVacancy?.contract.name}}</p>
                  <p class="bold-text small-text mb-0">Modalidad: {{currentVacancy?.modality}}</p>
                </div>
                <div class="col">
                  <div class="list-container">
                    <ul class="mb-0">
                      <li class="small-text bold-text" *ngFor="let benefit of benefitsFormatted">{{benefit}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section mb-3" 
             *ngIf="currentVacancy?.levelEducationExclud || currentVacancy?.statusEducationExclud || excludingSpeciality !== '' || excludingHardSkills !== '' || excludingLanguagesFormatted !== ''">
          <p class="small-text">
            Requisitos excluyentes
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(3)">
          </p>
          <div class="section-content ml-4">
            <p class="small-text mb-0" *ngIf="currentVacancy?.levelEducationExclud">
              <span class="bold-text">Nivel de estudios: </span> {{ currentVacancy?.levelEducationExclud ? currentVacancy?.education.name: ''}}{{ currentVacancy?.levelEducationExclud ? (', ' + currentVacancy?.academicTitle) || '' : ''}}
            </p>
            <p class="small-text mb-0" *ngIf="currentVacancy?.statusEducationExclud">
              <span class="bold-text">Estatus académico: </span>{{currentVacancy?.statusEducation?.name}}
            </p>
            <p class="small-text mb-0" *ngIf="excludingSpeciality !== ''">
              <span class="bold-text">Especialidad: </span>
              <span>{{excludingSpeciality}}</span>
            </p>
            <p class="small-text mb-0" *ngIf="excludingHardSkills !== ''">
              <span class="bold-text">Habilidades técnicas: </span>{{excludingHardSkills}}
            </p>
            <p class="small-text mb-0" *ngIf="excludingLanguagesFormatted !== ''">
              <span class="bold-text">Idioma: </span>{{excludingLanguagesFormatted}}
            </p>
          </div>
        </div>
        <div class="section mb-3">
          <p class="small-text">
            Preguntas al candidato
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(4)">
          </p>
          <div class="section-content ml-4">
            <div class="list-container">
              <ul>
                <li class="small-text" *ngFor="let question of questionsFormatted">{{question}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="section mb-3">
          <p class="small-text">
            Pruebas y video
            <img src="/assets/img/general/editar.svg" alt="" class="d-inline-block ml-2 edit-button" (click)="goToStep(5)">
          </p>
          <div class="section-content ml-4">
            <p class=" small-text bold-text mb-2">Pruebas psicométricas solicitadas</p>
            <div class="list-container mb-3">
              <ul>
                <li class="small-text" *ngFor="let test of currentVacancy?.listVacantPsychometricTestInvolve">{{getPsychometricTestName(test.catPsycometricTestId)}}</li>
              </ul>
            </div>
            <p class=" small-text bold-text">Preguntas de video entrevista</p>
            <p class=" small-text mb-0">Primera ronda</p>
            <div class="list-container mb-3">
              <ul>
                <li class="small-text" *ngFor="let question of videoQuestions.firstRound">{{ question.question }}</li>
              </ul>
            </div>
            <p class=" small-text mb-0">Segunda ronda</p>
            <div class="list-container mb-3">
              <ul>
                <li class="small-text" *ngFor="let question of videoQuestions.secondRound">{{ question.question }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Para la barra de botones-->
    <div class="card text-right">
      <div class=" text-rigth card-body" style="height: 4em;">
        <div class="row mb-3 ml-5">
          <div class="col-sm-12">
            <div class="row navigation-footer-container">
              <div  class="col-sm-6 text-left"> 
                <button class="btn-prev" (click)="goToStep(6)">Anterior</button>
              </div>
             <!-- <div class="col-sm-6 text-right">
                <button class="btn-next" (click)="publish();">Publicar</button>
              </div>-->
              <div class="col-sm-6 text-right">
                <button class="btn-next" (click)="nextStep();">{{ 'commons.siguiente' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>