.borde {
  border-radius: 0;
  border: solid 1px;
  border-color: #e1e1e1;
}
.borde-bottom {
  border-bottom: 0;
}

.header {
  background: #1c1c1b;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 500;
}

.tarjeta-vacante {
  margin: 8px 0;
}

.subtitulosCrearVacante {
  font-size: 24px;

  font-weight: 500;
}

.textoEtiquetas {
  font-weight: 500;
  font-size: 16px;
  color: #565656;
}

.my-custom-class .tooltip-inner {
  width: 500%;
  background-color: darkgreen;
}

.cursor {
  cursor: pointer;
}

.confidencialSubtitulo {
  font-size: 13px;
  color: #565656;
}
.confidencialTitulo {
  font-size: 16px;
  color: #565656;
  font-weight: 600;
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -moz-appearance: none;
}
.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.botonG {
  border: solid 1px;
}
.radio {
  width: 1.5em;
  height: 1em;
}
.borderRadio-left {
  border-radius: 0;
  border-left: 0;
}
.borderRadio-left1 {
  font-size: 12px;
  color: #565656;
  border-radius: 0;
  border-left: 0;
  border: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
}
.conBordeRadioLeft {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-color: #cfcfcf;
  width: 6em;
}

.conBordeRadioRigth {
  font-size: 12px;
  color: #565656;
  border-radius: 10rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: solid 1px #fff;
  border-color: #cfcfcf;
  width: 6em;
}
.conBordeRadioRigth:hover {
  border-left: solid 1px;
  border-color: #24aa3d;
}

.conBordeRadioLeft:hover {
  border-right: solid 1px;
  border-color: #24aa3d;
}

.borderRadio-left1:hover {
  border: solid 1px;
  border-color: #24aa3d;
}

.efectosInput:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: #24aa3d;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.subtitulosArribaEtiquetas {
  font-weight: 500;
  font-size: 13px;
  color: #565656;
}

.showElement {
  opacity: 100;
}

.hideElement {
  opacity: 0;
}

.pencilIcon {
  width: 9px;
  height: 9px;
  color: #565656;
  cursor: pointer;
}

.globoIcon {
  color: #565656;
  width: 12px;
  height: 16px;
}

.tituloVacante {
  font-size: 25px;
  color: #565656;
  font-weight: 600;
}

.textoInvolve {
  font-size: 14px;
  color: #565656;
}

.angular-editor-padding {
  padding: 0.5rem 1.8rem 1rem;
}

.small-text {
  font-size: 13px;
}

.bold-text {
  font-weight: bold;
}

.padding {
  padding: 1rem !important;
}

.cardColor {
  background-color: #f3f3f2;
  p {
    color: #212529;
  }
}

.list-container {
  ul {
    padding-left: 0;
    li {
      list-style: none;
      padding-left: 1.5rem;
      position: relative;
      &:before {
        content: "";
        background-color: #0bb9b9;
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        left: 9px;
        position: absolute;
        top: 7px;
        transform: translate(0, 0%);
        width: 6px;
      }
    }
  }
}

img.edit-button {
  cursor: pointer;
}
