.borderOl{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #F8F8F8;
    border-bottom: solid 2px #E2E2E2
}

a {
    text-decoration: none;
    color: #2E2E2E;
    font-size: 14px;
}

.textBold{
    font-weight: 700;
}