<div class="card text-center border-top">
    <div class="">
        <div class="col-auto col-md-12 " style="padding-left: 0;padding-right: 0;">
            <nav aria-label="breadcrumb " class="second ">
                <ol class="breadcrumb indigo lighten-6 first px-md-4 borderOl">
                    <li class="font-weight-bold px-4" (click)="changeColor('p')" [routerLink]='[{ outlets: { video: ["presentation"] } }]'><a
                            class="black-text" [ngClass]="{'textBold':color.presentation}"><span class="mr-md-3 mr-2 textTitles cursor-pointer">Presentación</span></a>
                    </li>
                    <li *ngIf="videoEntrevista"class="font-weight-bold px-4" (click)="changeColor('e')" [routerLink]='[{ outlets: { video: ["interview"] } }]'>
                        <a class="black-text" [ngClass]="{'textBold':color.interview}"><span
                                class="mr-md-3 mr-2 textTitles cursor-pointer">Entrevista</span></a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class=" text-left card-body paddingCard shadow-sm" style="height:34em;overflow-y: overlay;">
        <router-outlet name="video"></router-outlet>
    </div>
</div>
