<div class="fluid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>

    <div class="row">

        <!-- ACCORDEON -->
    <div class="col col-lg-3 col-sm-12 ">
        <div class="grid__accordion">
            <app-sidebar></app-sidebar>
        </div>
      </div>
  
      <!-- TXT -->
      <div class="col col-lg-7 col-sm-12 fluid__top">
          <div class="forgot-info-container">
              
            <form>
                <div class="main-container personal-information"> 
                <div class="forgot-info-container" >
                
                    <!-- TITLE -->
                    <div class="personal-information__title">
                        <h1>Me encanta México ¿vives ahí actualmente?</h1>
                    </div>

                    <!-- INPUT -->
                    <div class="forgot-info-form personal-information__title-input">
                        <div class="info-form-inpput">
                            <p>Selecciona</p>
                            <app-select class="select" [arrayObjetos]="arrayLivethere" (change)="onChangelive()"></app-select>
                            <small id="passwordHelpBlock" class="form-text text-muted personal-information__title-input--helperText">
                                No importa donde este, iré contigo a donde sea ;)
                            </small>
                        </div>
                    </div>
                    
                </div>
                </div>
            </form>
      
          </div>
      </div>

    </div>
</div>