@import "~bs-stepper/dist/css/bs-stepper.min.css";
@import "../src/assets/scss/variables";

$colors: (
  blanco: #ffffff,
  negro: #000000,
  title: #2e2e2e,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #cfcfcf,
  btn-active: #0bb9b9,
  btn-ative-hver: #098686,
  registrar: #0aa8a8,
  style-txt-title: #707070,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  padding: 0;
  margin: 0;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f6f6f6 #f6f6f6;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
h2,
h3,
h4,
h5 {
  color: #000000;
  font-weight: 400;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

p {
  color: #666666;
}

.btn-green {
  border-radius: 20px;
  color: white;
  background-color: map-get($colors, btn-active);
  min-width: 170px;
  outline: none;
  border: none;
  height: 35px;
  &:hover {
    background-color: $P600;
  }
}

.btn-primary-tama {
  background-color: #0aa8a8;
  border-radius: 20px;
  color: #f4f4f4;
  min-width: 150px;
  outline: none;
  border: none;
  height: 35px;
  &:hover {
    background-color: $P600;
  }
}

.btn-white {
  background-color: #fff;
  border-radius: 20px;
  border: black 1px solid;
  color: black;
  min-width: 150px;
  outline: none;
  height: 35px;
  &:hover {
    background-color: #0aa8a8;
    border: none;
    color: #fff;
  }
}
.border-radius-left {
  border-radius: 20px 0px 0px 20px;
}

.border-radius-right {
  border-radius: 0px 20px 20px 0px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #979797;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #e21d1d;
}

a {
  color: #0bb9b9;
  font-weight: 500;
}

.text-green {
  color: #0bb9b9;
}

//toggle switch
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #088d8d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0bb9b9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.botonContinuarGris {
  border: solid 1px;
  background: #f6f6f6;
  border-color: #dddddc;
  color: #565656;
  font-size: 15px;
  font-weight: 500;
}

.botonContinuarVerde {
  background: #0bb9b9;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}
.botonSiguiente {
  width: 13%;
  background: #0bb9b9;
  cursor: pointer;
}
.Continuar:hover {
  background: #0aa8a8;
}
.ocultar {
  display: none;
}
.cursor-pointer {
  cursor: pointer !important;
}

.efectosInput:hover {
  border: solid 2px;
  border-color: #2680eb;
}

.efectosInput:focus {
  border: solid 1px;
  border-color: #0bb9b9;
  box-shadow: 0 0 0 0.2rem rgb(36 170 61 / 25%);
}

.btnSiguiente {
  width: 24%;
  background: #0bb9b9;
  border: 0;
  padding-top: 1.6%;
  padding-bottom: 1.6%;
}

.guardarBorrador {
  font-size: 15px;
  color: #565656;
  cursor: pointer;
}

.botonBadge {
  display: inline-block;
  padding: 1.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.ngb-toastsBottom {
  margin: 0.5em;
  position: fixed;
  right: 0px;
  z-index: 1200;
  bottom: 0;
}

.btnSigArriba {
  color: #ffff;
  background: #0bb9b9;
  border: 0;
  font-weight: 500;
  float: right;
  font-size: 15px;
  margin-top: 0.3%;
  height: 34px;
}

.textTitle-bold h1 {
  font-size: 36px;
  color: map-get($colors, title);
  font-weight: bold;
}

.textTitle-regular32 {
  font-size: 32px;
  color: map-get($colors, title);
  font-weight: normal;
}

.textBold-md p {
  font-size: 16px;
  color: map-get($colors, title-input);
  font-weight: bold;
}

.textBold-md18 h2,
.textBold-md18 p {
  font-size: 18px;
  color: map-get($colors, title-input);
  font-weight: bold;
}

.textRegular-sm p {
  font-size: 14px;
  color: map-get($colors, title);
  font-weight: normal;
}

.textRegular-md16 p {
  font-size: 16px;
  color: map-get($colors, title);
  font-weight: normal;
}
.textRegular-md16-negative p {
  font-size: 16px;
  color: map-get($colors, blanco);
  font-weight: normal;
}

.textRegular-md18 {
  font-size: 18px;
  color: map-get($colors, negro);
  font-weight: normal;
}

.textRegular-lg {
  font-size: 24px;
  color: map-get($colors, negro);
  font-weight: normal;
}

.textRegularActive-lg {
  font-size: 24px;
  color: map-get($colors, btn-active);
  font-weight: normal;
}

.textBold-sm p {
  font-size: 14px;
  color: map-get($colors, title);
  font-weight: bold;
}

.textBold-sm a {
  font-size: 14px;
  color: map-get($colors, registrar);
  font-weight: bold;
  &:hover {
    color: map-get($colors, registrar);
  }
}

/***************************** LOGIN **********************************/
.login-info-title h1 {
  font-weight: 32px;
  color: map-get($colors, title);
  font-weight: bold;
}

.login-info-form h2 {
  font-weight: bold;
  font-size: 24px;
  color: map-get($colors, title-input);
}

.registrar {
  font-size: 16px;
  font-weight: normal;
  color: map-get($colors, registrar);
}

.info-form__sing-in {
  color: map-get($colors, registrar);
  font-weight: normal;
  font-size: 16px;
}

.login-info-form__email--titles {
  display: flex;
  justify-content: space-between;
}
.login-info-form__email p {
  font-weight: bold;
  color: map-get($colors, title);
  font-size: 15px;
  margin-bottom: 5px;
}

.login-info-form__email input {
  height: 48px;
}

/***************************** RESTORE PASSWORD **********************************/
.restore-title-container h1 {
  color: map-get($colors, title);
  font-weight: bold;
  font-size: 36px;
}
.restore-title-container p {
  font-weight: normal;
  font-size: 15px;
  color: map-get($colors, subtitle);
}

[tooltip] {
  position: relative;
  &.source {
    display: none;
  }
  &.involve-tooltip {
    .tooltip-info {
      p {
        text-indent: unset;
        margin-bottom: 0;
      }
      &:not(.empty) {
        &:before {
          background-image: url(/assets/img/general/consejo.svg);
          background-size: 30px;
          content: "";
          height: 30px;
          left: -22px;
          position: absolute;
          top: 5px;
          width: 30px;
        }
      }
    }
  }
}

button.delete-question-button {
  border: none;
  img {
    &:nth-child(2) {
      display: none;
    }
  }
  &:hover {
    img {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: inline;
      }
    }
  }
}
.navigation-footer-container {
  .btn-prev,
  .btn-next {
    border-radius: 10rem;
    border: solid 2px;
    display: inline-block;
    font-size: 75%;
    font-weight: 700 !important;
    line-height: 1;
    padding: 0.6em 1.6% !important;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    vertical-align: baseline;
    white-space: nowrap;
    width: 24% !important;
  }
  .btn-prev {
    background-color: #fff;
    border-color: currentColor;
    color: $P500;
    &:hover {
      background-color: $P600;
      border-color: $P600;
      color: #fff;
    }
  }
  .btn-next {
    background-color: $P500;
    border-color: $P500;
    color: #fff;
    &:hover {
      background-color: $P600;
      border-color: $P600;
    }
  }
}

.bg-Habilidad {
  background-color: #cff4f4;
  border: solid 1px #cff4f4 !important;
}

.bx-none {
  border-left: none !important;
  border-right: none !important;
}

.debugger {
  background-color: #aaa !important;
  background-clip: content-box !important;
}

debugger-2 {
  background-color: #a00 !important;
  background-clip: content-box !important;
}

small.text-danger {
  font-size: 13px;
}
.subtitulosCrearVacante {
  color: $S600;
  font-size: 24px !important;
}
.asterisco {
  color: $P500;
}
.modal-content {
  border: 0 !important;
}

.involve-button {
  background-color: $P500;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  min-width: 180px;
  &:hover,
  &:focus {
    background-color: $P600;
    outline: none;
  }
  &.secundary,
  &.cancel {
    background-color: #fff;
    border: solid 2px currentColor;
    &:hover {
      color: #ffffff;
    }
  }
  &.cancel {
    color: $E200;
    &:hover {
      background-color: $E200;
    }
  }
  &.secundary {
    color: $P500;
    &:hover {
      background-color: $P600;
    }
  }
  &[disabled] {
    background-color: $F100;
    border: solid 2px currentColor;
    color: $S200;
    cursor: default;
  }
}

.modal-content {
  border: 0 !important;
  textarea {
    padding: 10px;
    resize: none;
    &:hover {
      border: 1.5px solid $P500 !important;
    }
    &:focus {
      border: 1.5px solid $P500 !important;
      outline: none !important;
    }
    &.error {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-position: right calc(0.375em + 0.1875rem) center;
      background-repeat: no-repeat;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      border-color: #dc3545 !important;
      padding-right: calc(1.5em + 0.75rem);
    }
  }
  .close-modal {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
.close.absolute {
  position: absolute;
  right: 2rem;
}

/***************************** GRID SYSTEM ACCORDION / INPUTS **********************************/
.grid {
  display: grid;
  grid-template-columns: 5% 20% 5% 45% 5% 17% 3%;
  grid-template-rows: 5% 10% 10% 50% 25%;
}

.grid__avatar {
  position: absolute;
  right: 1.5%;
  top: 2%;
}
.grid__accordion {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}
.grid__inputs {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
}

/***************************** STYLES INPUTS  **********************************/
.fluid {
  margin-left: 3%;
}
.fluid__top {
  margin-top: 10%;
}

.personal-information__title h1 {
  font-size: 36px;
  color: map-get($colors, title);
  font-weight: bold;
  margin-bottom: 35px;
}

.personal-information__title-input p {
  font-size: 22px;
  font-weight: bold;
  color: map-get($colors, title-input);
}

.personal-information__title-input {
  margin-bottom: 30px;
  border-radius: 8px;
  border-color: map-get($colors, border-input);
}

.personal-information__btn button {
  background-color: map-get($colors, btn-active);
  color: map-get($colors, blanco);
}

.personal-information__title-input--helperText {
  font-size: 22px;
  font-weight: normal;
  color: map-get($colors, title-input);
}

/***************************** STYLES TEXT  **********************************/
.style-txt__title h1 {
  font-weight: bold;
  font-size: 32px;
  color: map-get($colors, style-txt-title);
}

.style-txt__paragraph p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Segoe UI";
  color: map-get($colors, style-txt-title);
}

.style-txt__btn--outliner button {
  width: 170px;
  border: 1px solid map-get($colors, style-txt-title);
  color: map-get($colors, style-txt-title);
  border-radius: 20px;
  margin-right: 24px;
  text-align: center;
  height: 35px;
}

.style-txt__btn--solid button {
  width: 170px;
  background-color: map-get($colors, btn-active);
  color: map-get($colors, blanco);
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  height: 35px;
  &:hover {
    color: map-get($colors, blanco);
    background-color: map-get($colors, btn-ative-hver);
  }
}

.style-txt-small label {
  font-size: 14px;
  font-weight: bold;
  color: map-get($colors, title-input);
}

.link-basic {
  columns: $P600;
}

.w-auto {
  min-width: unset !important;
}

.subtituloNuevaVacante span {
  color: $P500 !important;
}

.ngb-toasts {
  .bg-danger {
    background-color: #e21d1d !important;
  }
  .bg-success {
    background-color: #24aa3d !important;
  }
}

[ngbdropdownitem] img {
  width: 16px;
}

.page-item:first-child .page-link {
  border-radius: 5px !important;

}
.page-item:last-child .page-link {
  border-radius: 5px !important;

}

.overflow-no-bar{
  &::-webkit-scrollbar{
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.enforce-margin-li li{
  margin-left: 1rem;
  margin-bottom: 1rem;
}