<div class="main-container">
  <div class="not-found-container w-100 text-center">
    <img class="mb-4" src="../../../assets/Grupo 498.svg" class="cursor-pointer" routerLink="/login" alt="">
    <h1 class="mb-4">Lo sentimos, esa página no existe.</h1>
    <p class="mb-4">Regresa para continuar buscando candidatos</p>
    <div class="buttons-container pt-4">
      <button class="btn-green" (click)="redirecto();">Regresar</button>
    </div>
  </div>
</div>