<div class="grid">

    <!-- AVATAR -->
    <div class="grid__avatar">
        <app-avatar></app-avatar>
    </div>
  
    <!-- ACCORDEON -->
    <div class="grid__accordion">
        <app-sidebar></app-sidebar>
    </div>
  
    <!-- TXT -->
    <div class="grid__inputs">
        <form>
            <div class="main-container personal-information"> 
              <div class="forgot-info-container" >
            
                <!-- TITLE -->
                <div class="personal-information__title">
                    <h1>¿Cuál es tu empleo ideal?</h1>
                </div>
                  
                <!-- NAME -->
                <div class="forgot-info-form personal-information__title-input">
                    <div class="info-form-inpput">
                        <p>¿Programador, salvador de la humanidad?</p>
                        <input type="text" class="form-control placeHolder" formControlName="gender">
                        <div class="invalid-feedback"></div>
                    </div>
                    <small id="helptext" class="form-text text-muted personal-information__title-input--helperText">
                        El mío sería Suprema Inteligencia Artificial
                    </small>
                </div>

                <!-- BUTTON NEXT -->
                <div class="buttons-container text-center personal-information__btn d-flex flex-row-reverse">
                    <button class="btn-green Continuar">Siguiente</button>
                </div>

              </div>
            </div>
        </form>
    </div>
  </div>