.btn {
    border-radius: 22px;
    padding: 9px 26px;
    font-size: 14px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active {
        outline: none;
    }
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
        outline: none;
        box-shadow: none;
    }
    .icon {
        margin-right: 4px;
        height: 14px;
    }
    &-small {
        padding: 2px 8px;
        font-size: 10px;
    }
    &-green-new {
        background-color: $P500;
        color: $S50;
        &:hover {
            color: $S50;
        }
        &:disabled {
            background-color: $F666;
            color: $S200;
            border: 1px solid $EAEA;
        }
    }
    &-black {
        background-color: $S800;
        color: $S50;
        &:hover {
            color: $S50;
        }
    }
    &-gray {
        background-color: $S800;
        color: $S50;
        &:hover {
            color: $S50;
        }
    }
    &-red {
        background-color: $FDE;
        color: $E200;
        border: 1px solid $E200;
        &:hover {
            color: $E200;
        }
    }
    &-white-red {
        background-color: $S50;
        color: $E200;
        &:hover {
            color: $E200;
        }
    }
    &-white-ghost {
        background-color: $F666;
        color: $S200;
        border: 1px solid $EAEA;
        &:hover {
            background-color: $P500;
            color: $S50;
            border: 1px solid $P500;
        }
    }
    &-link {
        background-color: transparent;
        color: $P500;
        text-decoration: underline;
        &:hover {
            color: $P500;
        }
    }
    &-circle-full {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding: 24px;
    }
}
