// .close {
//     position: absolute;
//     right: -2px;
//     top: 3px;
//     width: 32px;
//     height: 32px;
//     opacity: 1;
//     cursor: pointer;
//     &:hover {
//       opacity: 1;
//     }
//     &:before, 
//     &:after {
//       position: absolute;
//       left: 15px;
//       content: ' ';
//       height: 24px;
//       width: 3px;
//       background-color: $F600;
//     }
//     &:before {
//       transform: rotate(45deg);
//     }
//     &:after {
//       transform: rotate(-45deg);
//     }
//   }
  