@font-face {
  font-family: GilroyRegular;
  src: url("/assets/fuentes/radomirtinkov-gilroy-regular-webfont.woff") format("opentype");
}

@font-face {
  font-family: GilroyBlack;
  src: url("/assets/fuentes/radomirtinkov-gilroy-black-webfont.woff") format("opentype");
}

@font-face {
  font-family: GilroyBold;
  src: url("/assets/fuentes/radomirtinkov-gilroy-bold-webfont.woff") format("opentype");
}

@font-face {
  font-family: GilroySemiBold;
  src: url("/assets/fuentes/radomirtinkov-gilroy-semibold-webfont.woff") format("opentype");
}

@font-face {
  font-family: GilroyMediumItalic;
  src: url("/assets/fuentes/radomirtinkov-gilroy-mediumitalic-webfont.woff") format("opentype");
}

.font-regular {
  font-family: GilroyRegular, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.font-bold {
  font-family: GilroyBold, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.font-semibold {
  font-family: GilroySemiBold, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.font-mediumitalic {
  font-family: GilroyMediumItalic, sans-serif;
  font-style: normal;
  font-weight: 500;
}
