* {
  @include cross-browser("box-sizing", border-box);
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  @include fontregular();
}

.bg-involve-light {
  background-color: $light;
}

.fixed {
  display: fixed;
  &-bottom {
    bottom: 0;
    &-right {
      right: 10px;
    }
  }
}

.filter-white {
  filter: invert(100%) sepia(81%) saturate(2%) hue-rotate(165deg) brightness(111%) contrast(101%);
}

.filter-green {
  filter: invert(50%) sepia(50%) saturate(4228%) hue-rotate(148deg) brightness(106%) contrast(91%);
}

.filter-gray {
  filter: invert(50%) sepia(11%) saturate(0%) hue-rotate(162deg) brightness(89%) contrast(84%);
}

.filter-gray-light {
  filter: invert(85%) sepia(0%) saturate(301%) hue-rotate(225deg) brightness(83%) contrast(83%);
}

.perfect-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.no-results {
  h4,
  p {
    color: $ABA;
  }
  h4 {
    margin-bottom: 16px;
  }
  p {
    font-size: 12px;
  }
}

.time-line {
  &-years {
    p {
      font-size: 16px;
    }
  }
  &-description {
    ul {
      li {
        list-style: none;
      }
    }
    &-title {
      @include fontsemibold();
      margin: 0;
      position: relative;
      &:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        background-color: $S50;
        border: 1px solid $P500;
        left: -27px;
        top: 0;
        position: absolute;
        z-index: 3;
      }
      &:before {
        content: "";
        width: 2px;
        height: 5px;
        position: absolute;
        top: 0;
        left: -20px;
        background-color: $S50;
        z-index: 3;
      }
    }
    &-level {
      margin-bottom: 8px;
      &:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -5px;
        background-color: $F300;
      }
    }
    &-institute {
      margin-bottom: 8px;
      &:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -5px;
        background-color: $F300;
      }
    }
  }
}
