%p {
  font-size: 16px;
  color: $C3C;
}

.involve-modal {
  position: relative;
  width: 100%;
  padding: 26px 16px;
  &-header {
    border-bottom: 1px solid $F500;
    padding: 0 0 8px;
    width: 100%;
    text-align: center;
    .close {
      position: absolute;
      right: 11px;
      top: 11px;
      width: 32px;
      height: 32px;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 18px;
        width: 1px;
        background-color: $F600;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    h3 {
      font-size: 24px;
    }
  }
  &-footer {
    margin-top: 24px;
    padding: 0px 40px;
  }
  &-body {
    margin-top: 24px;
    padding: 0px 40px;
    width: 100%;
    p {
      @extend %p;
    }
    .icon {
      height: 12px;
      margin-top: 3px;
      margin-right: 8px;
    }
    &-form {
      input {
        width: 100%;
      }
    }
    &-images {
      margin: 24px 0;
      p {
        @extend %p;
      }
      label {
        margin-right: 14px;
        [type="radio"] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
          + img {
            cursor: pointer;
            width: 56px;
            height: 56px;
            transition: 0.3s all ease;
            border-radius: 50%;
          }
          &:checked + img {
            outline: 3px solid $P600;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
