<div class="card text-center borde borde-bottom ">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">
      <li class="font-weight-bold px-2 active" [routerLink]='[{ outlets: { curriculum: ["compatibility"] } }]'>
        <a class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Compatibilidad</span>
        </a>
      </li>
      <li class="font-weight-bold px-2" [routerLink]='[{ outlets: { curriculum: ["education"] } }]'>
        <a class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Educación</span>
        </a>
      </li>
      <li class="font-weight-bold px-2" aria-current="page"
        [routerLink]='[{ outlets: { curriculum: ["work-experience"] } }]'>
        <a class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Experiencia laboral</span>
        </a>
      </li>
      <li *ngIf="false" class="font-weight-bold px-2" [routerLink]='[{ outlets: { curriculum: ["skills"] } }]'>
        <a class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Habilidades</span>
        </a>
      </li>
      <li *ngIf="displaysLanguagesTab" class="font-weight-bold px-2" [routerLink]='[{ outlets: { curriculum: ["LanguaguesCourses"] } }]'>
        <a class="black-text">
          <span class="mr-md-3 mr-2 nav-titles cursor-pointer">Idiomas, cursos y certificaciones</span>
        </a>
      </li>
    </ol>
  </nav>
  <router-outlet name="curriculum"></router-outlet>
</div>