<div class="container-fluid pl-0">
  <div class="card mt-6 ml-6 mr-6 borde borde-bottom overflow-auto height px-5">
    <app-step-bar [buttonsSelected]="6"></app-step-bar>
    <ng-container *ngIf="viewDefault" >
      <div class="text-center">
        <label class="col-form-label subtitulosCrearVacante mb-4" style="padding-top: 1.5rem">{{ 'vacantes.crearvacante.paso5.title2' | translate}}</label>
        <h4>{{ 'vacantes.crearvacante.paso5.title3' | translate}}</h4>
        <img class="mt-5" src="assets/img/dashboard/vacantes/iconRecruiters.svg" alt="">
        <h6 class="mt-3 mb-0">{{ 'vacantes.crearvacante.paso5.subTitle1' | translate}}</h6>
        <h6>{{ 'vacantes.crearvacante.paso5.subTitle2' | translate}} <span
            class="textColor cursor-pointer" [routerLink]="['/dashboard','configuration']">{{ 'vacantes.crearvacante.paso5.configuration' | translate}}</span>!</h6>
      </div>
      
    </ng-container>
    <ng-container *ngIf="view">
      <h4 class="col-form-label subtitulosCrearVacante mb-4" style="padding-top: 1.5rem">¿Necesitas apoyo de tu equipo para cubrir tu vacante?</h4>
      <h6 class="mt-4">Selecciona a los reclutadores que te ayudarán a cubrir está vacante</h6>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mt-4" *ngFor="let reclutador of arregloReclutadores">
          <!--*ngFor="let row of arraySoftSkills; let indice = index;"-->
          <span type="button"
            class="badge rounded-pill d-flex justify-content-center align-items-center overflow-auto cursor-pointer"
            [ngClass]="(!reclutador.selected) ? 'bg-bage-initial': 'bg-bage' "
            (click)="recriterSelected(reclutador.user.userId)">
            <img class="pr-2 rounded" width="40" height="40"
              [src]="(reclutador.user.photo == null) ? 'assets/img/dashboard/vacantes/sinFotoPerfil.svg' : reclutador.user.photo "
              alt="...">
            <h6 class="mb-0">{{reclutador.user.name}} {{reclutador.user.lastName}}</h6>
          </span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="card text-right border-0">
    <div class=" text-rigth card-body border-top" style="height: 4em;">
      <div class="row mb-3 ml-5">
        <div class="col-sm-12">
          <div class="row navigation-footer-container">
            <div class="col-sm-6 text-left">
              <button class="btn-prev" (click)="toBack()">{{ 'commons.anterior' | translate}}</button>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn-next" (click)="saveRecruiter();">{{ 'commons.siguiente' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
