<app-sidenav-vacantes #selector1 [status]="status" (spreadVacantSearchInput)=searchVacant($event)
  (spreadfilter1)="spreadfilter1($event)" (spreadfilter2)="spreadfilter2($event)"
  (spreadMorefilters)="spreadMorefilters($event)" (spreadfilterAge)="spreadfilterAge($event)"
  (spreadfilterVideo)="spreadfilterVideo($event)" (spreadfilterSalary)="spreadfilterSalary($event)">
</app-sidenav-vacantes>



<div *ngIf="totalElements < 1 || rowsMostrar < 1"
  class="contenedor vh-100 row m-0 text-center align-items-center justify-content-center">
  <!-- Content here -->
  <div class="col-auto">
    <!-- <img src="/assets/img/dashboard/vacantes/candidato.svg" alt=""> -->
    <span *ngIf="(totalElements < 1 || rowsMostrar < 1) && flagService" class="texto">{{initialText}}</span>
  </div>
</div>
<div *ngIf="totalElements > 0 && rowsMostrar > 0" class="container-fluid contenedor2"
  [ngClass]="{'tamContenedor':totalElements <= 2}">
  <div class="row mt-3">
    <div class="col text-left" style="padding-left: 4.5%;">
      <label *ngIf="!shortListActive" id="paginationInputLabel1" for="paginationInput1"
        class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}}
        candidatos</label>
    </div>
    <div class="col  mb-2 text-right" style="padding-right: 5%;">
      <span *ngIf="totalElements > 9 " class="textRegular-sm">Mostrar</span>
      <select *ngIf="totalElements > 9 " id="numPaginas" class="selectFiltros textRegular-sm" style="font-weight: 700;"
        aria-label="Default select example" [(ngModel)]="page_size" (change)="selecRow()">
        <option value="9" selected>9 candidatos</option>
        <option value="18">18 candidatos</option>
        <option value="45">45 candidatos</option>
        <option value="90">90 candidatos</option>
        <option value="180">180 candidatos</option>
      </select>
    </div>
  </div>
  <form *ngIf="contadorChecks>0">
    <div class="card shadow-sm bg-white text-center mt-2 borde borde-bottom ">
      <div class="row d-flex align-items-center">

        <h5 class="text-left mt-4 mb-4 ml-2">
          <img class="cursor-pointer ml-4" src="/assets/img/general/checkmark.svg">

        </h5>
        <h5 class="subtituloNuevaVacante mt-4 mb-4 ml-2 text-left ">Seleccionó &nbsp;</h5>
        <h5 class="subtituloNuevaVacante  text-left mt-4 mb-4 ml-2 font-weight-bold">{{contadorChecks}}</h5>
        <span *ngIf="contadorChecks==1" class="subtituloNuevaVacante mt-4 mb-4 ml-2">Candidato</span>
        <span *ngIf="contadorChecks>1" class="subtituloNuevaVacante mt-4 mb-4 ml-2">Candidatos</span>
        <!-- 
          descomentar esta linea de select para cuando se quiera agregar la funcionalida de ternas y borrar el selec actual
          <select *ngIf="setProcessSelection!='pruebas' || (contadorChecks!=3 && setProcessSelection=='pruebas')"
        -->
        <select id="numCandidatos" class="selectFiltros textRegular-sm ml-2" style="font-weight: 700;"
          aria-label="Default select example" (change)="selectedOption($any($event).target.value);">
          <option value="A" selected>Aprobar</option>
          <option value="R">Rechazar</option>
          <option value="E">Enviar recordatorio</option>
          <option value="I">Invitar a otro proceso</option>
        </select>
        <button type="button " class="btn btn-dark btn-sm mt-4 mb-4 ml-2 px-3 black"
          (click)="applySelection();">Aplicar</button>
        <!--Descomentar los botones  de abajo y eliminar el de arriba cuando se quiera mostrar la funcionalidad de crear terna-->
        <!--
         <button *ngIf="setProcessSelection!='pruebas' || (contadorChecks!=3 && setProcessSelection=='pruebas')"
          type="button " class="btn btn-dark btn-sm mt-4 mb-4 ml-2 px-3 black"
          (click)="applySelection();">Aplicar</button> 
        <button *ngIf="contadorChecks==3 && setProcessSelection=='pruebas'" type="button "
          class="btn btn-dark btn-sm mt-4 mb-4 ml-2 px-3 black" (click)="newShortList();">Crear terna</button> -->
        <h5 class="mt-4 mb-4 ml-2 subtituloNuevaVacante cursor-pointer"><span (click)="limpiarSeleccion();"
            style="color: #0BB9B9;">Limpiar selección&nbsp;</span></h5>

      </div>
    </div>
  </form>
  <div class="mt-4 ml-lg-4 mr-lg-4 row row-cols-sm-1 row-cols-md-1 row-cols-lg-3    justify-content-center">
    <div *ngFor="let card of rows  | slice: (page-1) * page_size : page * page_size;" class="col">
      <div class="card" style="margin: 3em;    margin-top: 0;">
        <div class="card-body">
          <div class="pl-4 pr-3 py-3">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-3">
                <h6 class="card-subtitle  text-muted subTituloRegular">
                  <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input"
                      [ngClass]="(setProcessSelection == 'contratados' || card.reject) ? 'borderFinalista' :''"
                      [checked]="card.check" [attr.id]="card.id" (change)="onchangeCheck(card.id);">
                    <label class="custom-control-label acuerdo textRegular-sm pt-1 ml-4" [attr.for]="card.id"
                      [ngClass]="(setProcessSelection == 'contratados' || card.reject) ? 'borderFinalista' :''"><input
                        type="button"
                        class="btn btn btn-success btn-circle mr-0  {{card.colorPorcentaje}}">&nbsp;{{card.porcentaje}}</label>
                  </div>
                </h6>
                <h5 class=" subTituloMedium" style="font-size: 10px;">{{card.tiempo}}</h5>
                <span>
                  <img
                    *ngIf="setProcessSelection!='candidatos' && card.presentationVideo==true && card.interviewPresentation==false"
                    src="/assets/img/general/cameraGray.svg"
                    [ngClass]="(card.statusTerna == null || card.statusTerna == 'NINGUNO') ? 'mt-4':''">
                  <img class="mt-4"
                    *ngIf="setProcessSelection!='candidatos' && card.presentationVideo==true && card.interviewPresentation==true"
                    src="/assets/img/general/cameraBlue.svg">
                  <input
                    *ngIf="card.statusTerna == 'ACTIVO' || card.statusTerna == 'RECHAZADO' || card.statusTerna == 'FINALISTA'"
                    type="button" value="T" class="btn-circle-mas ml-1 mr-1 mt-4 textobtn-mas ">
                </span>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-7">
                <div *ngIf="card.whachers.length > 0" class="row d-flex justify-content-start align-items-center">
                  <h6 class="show mr-2">visto por:</h6>
                  <span *ngFor="let imgg of card.whachers; let i=index">
                    <h5 class="card-title tituloTabla">
                      <img *ngIf="i < 2 && imgg.url != ''" src="{{imgg.url}}" alt="..."
                        class="rounded-circle mr-1 photoRecruiter">
                      <span *ngIf="imgg.url != ''" class="texto d-none">{{imgg.nombre}}</span>
                    </h5>
                    <h5 class="card-title tituloTabla ">
                      <input *ngIf="i < 2 && imgg.url == ''" type="button" value="{{imgg.iniciales}}"
                        class="btn-circle-mas ml-1 mr-1 textobtn-mas"
                        [ngClass]="(i%2==0) ? 'bg-CirclePar': 'bg-CircleImpar'">
                      <span *ngIf="imgg.url == ''" class="texto d-none">{{imgg.nombre}}</span>
                    </h5>
                  </span>
                  <input type="button" value="+{{(card.whachers.length-2 > 0) ? card.whachers.length-2:''}}"
                    class="btn-circle-mas ml-1 mr-1 textobtn-mas mt-1 btn-circle-add"
                    [ngStyle]="{'font-size': (card.whachers.length-1 < 2) ? '16px':'' }"
                    (click)="openModalShowRecltadores(card.whachers);">
                </div>
                <h5 *ngIf="card.whachers.length == 0" class="card-title tituloTabla ">
                  <input type="button" value="p" style="opacity: 0;" class="btn-circle-mas ml-1 mr-1 textobtn-mas">
                </h5>
                <div class="row row d-flex justify-content-center align-items-center">
                  <img class="mt-4 photo" src="{{card.photo}}">
                </div>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-2 d-flex flex-column align-items-end">
                <div class="iconoCorazon" [ngClass]="(!card.favorito) ? 'iconoCorazon':'iconoCorazonSelec'"
                  (click)="updateFavorito(card.id);"></div>
                <div *ngIf="(!card.presentationVideo || !card.interviewPresentation) && !card.reject"
                  class="iconoReloj  mt-3" placement="bottom" ngbTooltip="Enviar&nbsp;recordatorio"
                  tooltipClass="my-custom-class"
                  (click)="generateArrarSendReminder(iconoChekBlanco,card.id,false,card.presentationVideo,card.interviewPresentation);">
                </div>
                <img class="iconoShared  mt-3" src="/assets/img/dashboard/vacantes/shared.svg"
                  placement="bottom" ngbTooltip="Invitar&nbsp;a&nbsp;otra&nbsp;vacante" tooltipClass="my-custom-class"
                  (click)="openModalInvitar(card.id,false);">
                <img *ngIf="!flagMacth" class="dropdown-toggle mt-3 iconInformation"
                  [ngClass]="(!card.presentationVideo || !card.interviewPresentation) && !card.reject ? 'positionIconInformation':''"
                  tooltipClass="my-custom-class" placement="bottom" ngbTooltip="No&nbsp;cumple&nbsp;filtros"
                  src="/assets/img/general/information.svg">

              </div>
            </div>
            <div class="row d-contents">
              <div class="py-2 px-1 text-center">
                <h5 class="tituloCandidato font-weight-bold">{{card.nombre}}</h5>
                <p class="text-center tituloPuesto">{{card.licenciatura}}</p>
                <div class="mt-3 mb-5">
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col">
                      <span class="cursor-pointer badge badge-pill  buyOver font-weight-normal px-3 border-0 black"
                        style="padding-top: .3rem!important;padding-bottom: .3rem!important;"
                        (click)="updateShowProfile(card.id);">Ver perfil</span>
                    </div>
                    <div class="col">
                      <span class="cursor-pointer badge badge-pill  buyAzul font-weight-normal px-3 py-2 border-0"
                        style="padding-top: .3rem!important;padding-bottom: .3rem!important;"
                        (click)="openModalInformacionContacto(card.candidate,true);">Contactar</span>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col ml-4">
                    <h6 class="subtituloGris">{{card.sueldo | customCurrency}} MXN</h6>
                    <h5 class="subtituloNegro">Sueldo deseado</h5>
                  </div>
                  <div class="col">
                    <h6 class="subtituloGris">{{card.edad}}</h6>
                    <h5 class="subtituloNegro">Edad</h5>
                  </div>
                  <div class="col mr-4">
                    <h6 class="subtituloGris">{{card.ubicacion}}</h6>
                    <h5 class="subtituloNegro">Ubicación</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="setProcessSelection != 'contratados' && !card.reject && card.statusTerna != 'FINALISTA'"
            class="row" style="height: 3em;">
            <div class="col d-flex justify-content-center align-items-center margenRechazar"
              (click)="openModalRechazar(card.id,false);">
              <h5 class="textoBotones">
                <div class="iconoX"></div>
                Rechazar
              </h5>
            </div>
            <div *ngIf="card?.canBeApproved" class="col d-flex justify-content-center align-items-center margenAprobar"
              (click)="openModalAprobar(card.id,false);">
              <h5 class="textoBotones">
                <div class="iconoLike"></div>
                <span>Aprobar</span>
              </h5>
            </div>
          </div>
          <div *ngIf="setProcessSelection == 'finalistas' && !card.reject && card.statusTerna == 'FINALISTA'"
            class="row" style="height: 3em;">
            <div class="col d-flex justify-content-center align-items-center margenRechazar"
              (click)="openModalRechazar(card.id,false);">
              <h5 class="textoBotones">
                <div class="iconoX"></div>
                Rechazar
              </h5>
            </div>
            <div class="col d-flex justify-content-center align-items-center margenAprobar"
              (click)="openModalAprobar(card.id,false);">
              <h5 class="textoBotones">
                <div class="iconoLike"></div>
                <span>Aprobar</span>
              </h5>
            </div>
          </div>
          <div *ngIf="card.reject" class="row" style="height: 3em;">
            <div class="col d-flex justify-content-center align-items-center borderReject">
              <h5 class="textoBotones textReject">Rechazado</h5>
            </div>
          </div>
          <div *ngIf="card.statusTerna == 'FINALISTA' && setProcessSelection=='pruebas'" class="row"
            style="height: 3em;">
            <div class="col d-flex justify-content-center align-items-center borderReject">
              <h5 class="textoBotones textFinalist">Finalista</h5>
            </div>
          </div>
          <div *ngIf="setProcessSelection == 'contratados' && card.statusTerna != 'FINALISTA' && !card.reject"
            class="row" style="height: 3em;">
            <div class="col d-flex justify-content-center align-items-center">
              <h5 class="textoBotones"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between p-2">
    <span>
      <label *ngIf="!shortListActive" id="paginationInputLabel" for="paginationInput"
        class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}}
        candidatos</label>
    </span>
    <ngb-pagination *ngIf="totalElements > 9" class="d-flex justify-content-end mt-2" [collectionSize]="totalElements"
      [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm" (pageChange)="rowsMostradas($event);">
      <ng-template ngbPaginationFirst class="ocultar" style="display: none !important;">First</ng-template>
      <ng-template ngbPaginationPrevious>
        <img class="cursor-pointer" src="/assets/img/general/right-chevron.svg" alt=""
          style="transform: rotate(180deg);">
      </ng-template>
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="form-group d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput"
              class="col-form-label d-flex align-items-center mr-2 ml-1 textoPaginadorRegular">Página</label>
            <input #i type="text" inputmode="numeric" pattern="[0-9]*"
              class="form-control-sm custom-pages-input input-sm" id="paginationInput" [value]="page"
              (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
              (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
              style="width: 2.25rem" />
            <span id="paginationDescription"
              class="col-form-label text-nowrap px-2 d-flex align-items-center textoPaginadorRegular">
              de {{pages.length}}</span>
          </div>
        </li>
      </ng-template>
      <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer"
          src="/assets/img/general/right-chevron.svg" alt=""></ng-template>
      <ng-template ngbPaginationLast>Last</ng-template>
    </ngb-pagination>
  </div>
</div>



<!-- Modales -->

<ng-template #rechazar let-modal>
  <!--MOdal rechazar-->
  <div class="modal-body">
    <h6 class="mt-4 text-center tituloModal">¿Cómo quieres notificar al candidato?</h6>
    <div class="row">
      <div class="col text-center">
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');openModalconfirmacionRechazoCandidato(true,false);">
          <img class="dropdown-toggle mb-2 xAzul" src="../../../../assets/img/general/xazul.svg"> <br>
          <h6 class="textoModal">Al cerrar la vacante</h6>
        </button>
      </div>
      <!-- Se comenta la opción de mensaje personalizado, ya que aun no se cuenta con esta alternativa -->
      <!--<div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');">
          <img class="dropdown-toggle mb-2 lapizAzul" src="../../../../assets/img/dashboard/vacantes/lapizAzul.svg"
            style="transform: scale(0.8);"> 
          <h6 class="textoModal">Mensaje Personalizado</h6>
        </button>
      </div>-->
      <div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');openModalconfirmacionRechazoCandidato(false,true);">
          <img class="dropdown-toggle mb-2 campana" src="/assets/img/dashboard/vacantes/campanaSonando.svg"
            style="transform: scale(0.8);"> <br>
          <h6 class="textoModal">Mensaje Predefinido</h6>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #aprobar let-modal>
  <!--Modal aprobar-->
  <div class="modal-body">
    <h6 class="mt-4 text-center tituloModal">¿Cómo quieres notificar al candidato?</h6>
    <div class="row">
      <div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul"
          (click)="modal.close('Close click');generateArrayNextStage(false,iconoChekBlanco);">
          <img class="dropdown-toggle mb-2 campana1" src="../../../../assets/img/dashboard/vacantes/campana.svg"> 
          <h6 class="textoModal txt-not-Notification">Aprobar sin notificar</h6>
        </button>
      </div>
      <div class="col text-center" >
        <button type="button" class="my-4 btn btn-dark cuadrado azul" 
          (click)="modal.close('Close click');generateArrayNextStage(true,iconoChekBlanco);">
          <img class="dropdown-toggle mb-2 campana" src="../../../../assets/img/dashboard/vacantes/campanaSonando.svg">
          <br>
          <h6 class="textoModal">Mensaje Predefinido</h6>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal confirmacion rechazar-->
<ng-template #confirmacionRechazo let-modal>
  <div class="modal-body">
    <h6 class="text-center tituloModal" style="padding-top: 1.5em;">¿Está seguro de rechazar al candidato?</h6>
    <h6 class="text-center tituloCandidato" style="padding-top: 1.5em;">Está acción es irreversible</h6>
    <div class="row" style="padding: 1.5em !important; padding-top: 0.9em !important;">
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal black"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: right;"
          (click)="modal.close('Close click');">Cancelar</span>
      </div>
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal btnRed"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: left;"
          (click)="modal.close('Close click');generateArrayRejectCandidate(false,iconoChekBlanco);">Rechazar</span>
      </div>
    </div>
  </div>
</ng-template>


<!-- Modal confirmacion aprobar -->
<ng-template #confirmacionAprobacion let-modal>
  <div class="modal-body">
    <h6 class="text-center tituloModal" style="padding-top: 1.5em;">¿Está seguro de rechazar al candidato?</h6>
    <h6 class="text-center tituloCandidato" style="padding-top: 1.5em;">Está acción es irreversible</h6>
    <div class="row" style="padding: 1.5em !important; padding-top: 0.9em !important;">
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal black"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: right;"
          (click)="modal.close('Close click');">Cancelar</span>
      </div>
      <div class="col text-center" style="margin: 1em;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-3 px-4 border-0 font-weight-normal btnRed"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: left;"
          (click)="modal.close('Close click');setMensajeToastAprobar(iconoChekBlanco);">Rechazar</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #invitar let-modal>
  <!--Invitar a otra vacante-->
  <form [formGroup]="formularioModalBuscar">
    <div class="modal-header" style="border-bottom: 0;">
      <h4 class="modal-title"></h4>
      <button type="button" class="close cerrar" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img src="/assets/img/general/x.svg" alt="..." class="">
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title text-center tituloModal" style="margin-top: 1.6em;">Recomiéndale otra oferta</h4>

      <div class="main" style="margin-right: 3%">
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback ml-2"></span>
          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <input id="Search" name="Search" style="font-size: 11px;" type="search" class="form-control bordeRadius"
            formControlName="modelBuscarVacante" placeholder="Buscar" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" popupClass="buscarVacantes">
        </div>
        <!-- <img *ngIf="this.modelBuscarVacante.length > 3" src="/assets/img/general/x.svg" alt="..." class="estilosImagenX cursor-pointer"
        (click)="buscarOtraVacante();"
        > -->
      </div>

      <div class="row d-flex justify-content-center align-items-center mb-4" style="margin-bottom: 5em !important;">
        <span class="cursor-pointer badge badge-pill pl-3 pr-3 py-5 px-5 border-0 font-weight-normal black"
          style="padding-top: .4rem!important;padding-bottom: .4rem!important;float: right;"
          [ngClass]="(this.modelBuscarVacante.length > 3) ? 'btnActive':'btnDisable'"
          (click)="generateArrayInvitation(false,iconoChekBlanco)">Recomendar</span>
      </div>
    </div>

  </form>
</ng-template>


<ng-template #informacionContacto let-modal>
  <!--Informacion de la vacante-->
  <div class="modal-header" style="border-bottom: 0;">
    <h4 class="modal-title"></h4>
    <button type="button" class="close cerrar" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="/assets/img/general/x.svg" alt="..." class="mt-2">
    </button>
  </div>
  <div class="modal-body">
    <h4 class="modal-title text-left tituloModal ml-5">Información de contacto</h4>
    <div class="row my-4">
      <div class="col-6 pl-5" *ngIf="informationCandidate.email">
        <div class="row">
          <div class="mr-2" style="display: inline-block">
            <img src="/assets/img/general/correo.svg" alt="..." class="">
          </div>
          <div style="display: inline-block">
            <h6 class="subtitulo16">Email</h6>
            <h5 class="subtitulo16Azul" (click)="contactClicked(informationCandidate.email, 'email')">{{informationCandidate.email}}</h5>
          </div>
        </div>

      </div>
      <div class="col-6 pl-5" *ngIf="informationCandidate.git">
        <div class="row">
          <div class="mr-2" style="display: inline-block">
            <img src="/assets/img/general/gitHub.svg" alt="..." class="">
          </div>
          <div style="display: inline-block">
            <h6 class="subtitulo16">GitHub</h6>
            <h5 class="subtitulo16Azul" (click)="contactClicked(informationCandidate.git)">{{informationCandidate.git}}</h5>
          </div>
        </div>
      </div>
    <!-- </div>
    <div class="row mt-3"> -->
      <div class="col-6 pl-5" *ngIf="informationCandidate.phone">
        <div class="row">
          <div class="mr-2" style="display: inline-block">
            <img src="/assets/img/general/Telefono.svg" alt="..." class="">
          </div>
          <div style="display: inline-block">
            <h6 class="subtitulo16">Teléfono</h6>
            <h5 class="subtitulo16Azul"  (click)="contactClicked(informationCandidate.phone, 'phone')">{{informationCandidate.phone}}</h5>
          </div>
        </div>
      </div>
      <div class="col-6 pl-5" *ngIf="informationCandidate.behance">
        <div class="row">
          <div class="mr-2" style="display: inline-block">
            <img src="/assets/img/general/logos/logotipo-de-behance.svg" alt="..." class="">
          </div>
          <div style="display: inline-block">
            <h6 class="subtitulo16">Behance</h6>
            <h5 class="subtitulo16Azul" (click)="contactClicked(informationCandidate.behance)">{{informationCandidate.behance}}</h5>
          </div>
        </div>
      </div>
    <!-- </div>
    <div class="row mt-3 mb-5"> -->
      <div class="col-6 pl-5" *ngIf="informationCandidate.linkedIn">
        <div class="row">
          <div class="mr-2" style="display: inline-block">
            <img src="/assets/img/general/logos/logoLinkedIn.svg" alt="..." class="">
          </div>
          <div style="display: inline-block">
            <h6 class="subtitulo16">Perfil de Linked in</h6>
            <h5 class="subtitulo16Azul" (click)="contactClicked(informationCandidate.linkedIn)">{{informationCandidate.linkedIn}}</h5>
          </div>
        </div>
      </div>
      <div class="col-6 pl-5" *ngIf="informationCandidate.file">
        <div class="row">
          <div class="mr-2" style="display: inline-block">
            <img src="/assets/img/general/clip.svg" alt="..." class="">
          </div>
          <div style="display: inline-block">
            <h6 class="subtitulo16">Enlace a sitio o archivo web</h6>
            <h5 class="subtitulo16Azul" (click)="contactClicked(informationCandidate.file)">{{informationCandidate.file}}</h5>
          </div>
        </div>
      </div>
    </div>


  </div>
</ng-template>

<!--Para la modal de ver reclutadores-->
<ng-template #modalshowRecruiters let-modal>
  <div class="modal-header px-3 justify-content-end border-0">
    <div class="row">
      <div class="col">
        <img src="/assets/img/general/x.svg" alt="..." class="mt-2 cursor-pointer"
          (click)="modal.dismiss('Cross click')" style="transform: scale(0.9);">
      </div>
    </div>

  </div>
  <div class="modal-body px-5 pb-5">
    <h6 class="showR pb-3" style="font-weight: 700 !important;">Visto por:</h6>
    <span *ngFor="let imgg of arraryWhachers; let i=index">
      <h5 class="card-title tituloTabla">
        <img *ngIf="imgg.url != ''" src="{{imgg.url}}" alt="..." class="rounded-circle mr-1 photoRecruiter">
        <span *ngIf="imgg.url != ''" class="showR">{{imgg.nombre}}</span>
      </h5>
      <h5 class="card-title tituloTabla ">
        <input *ngIf="imgg.url == ''" type="button" value="{{imgg.iniciales}}" class="btn-circle-mas mr-1 textobtn-mas"
          [ngClass]="(i%2==0) ? 'bg-CirclePar': 'bg-CircleImpar'">
        <span *ngIf="imgg.url == ''" class="showR">{{imgg.nombre}}</span>
      </h5>
    </span>
  </div>
  <div class="modal-footer border-0">
  </div>
</ng-template>

<!-- Para el toast -->
<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="/assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
