@import "../../../../../../assets/scss/variables";

.contenedor {
  background: var(--f100) 0% 0% no-repeat padding-box;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 80% !important;
}

.contenedor2 {
  background: #fafafa;
  opacity: 1;
}

.tamContenedor {
  height: 40em !important;
}

html,
body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #daecec;
  display: grid;
  place-items: center;
}

.ocultar {
  display: none;
}

.mostrar {
  display: "";
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
}

p {
  color: #b7b1b1;
  font-weight: 500;
}

.discBtn {
  background-color: #21afa7;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}

.fa-balance-scale {
  color: #968888;
}

.fa-arrows {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.buyOver:hover {
  background-color: #565656;
  color: #ffffff;
}

.buyAzul {
  background-color: #0bb9b9 !important;
  color: #ffffff;
}

.buyAzul:hover {
  background: #088d8d !important;
  color: #ffffff;
}

.cart {
  background-color: #2bc4ba;
  border-radius: 30px;
  position: relative;
  right: 35px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

*:focus {
  outline: none;
}

.btn-circle {
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: auto !important;
}

.tituloCandidato {
  font-size: 16px;

  color: #000000;
  font-weight: 400 !important;
}

.tituloPuesto {
  font-size: 14px;

  color: #766a6a;
}

.black {
  background: #000000;
  color: #ffffff;
}


.azul {
  background: #ffffff !important;
  color: #000000 !important;
  border-color: #000000;
  margin: 10% -50% 10% 30%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  .textoModal {
    margin: 0% 10% -50% 0%;
    color: #212121;
  }
  .campana {
    margin: -28% -50% 0% 40%;
  }

  .campana1 {
    margin: -28% -50% 0% 40%;
  }

  .lapizAzul {
    margin: -28% -60% 0% 40%;
    
  }
  .xAzul {
    margin: -28% -50% 0% 40%;
    
  }
  &:hover {
    background: #0bb9b9 !important;
    color: #ffffff;
    border-color: #088b8b;

    .textoModal {
      margin: 0% 10% -50% 0%;
      color: #ffffff !important;
    }

    .campana {
      content: url("../../../../../../assets/img/dashboard/vacantes/campanaSonandoHover.svg");
      margin: -28% -50% 0% 40%;
    }

    .campana1 {
      content: url("../../../../../../assets/img/dashboard/vacantes/campanaHover.svg");
      margin: -28% -50% 0% 40%;
    }

    .lapizAzul {
      content: url("../../../../../../assets/img/dashboard/vacantes/lapizBlanco.svg");
      margin: -28% -60% 0% 40%;
    }

    .xAzul {
      content: url("../../../../../../assets/img/general/xBlanca.svg");
      margin: -28% -50% 0% 40%;
      transform: scale(1.3) !important;
    }
  }
}

.btnRed {
  background: #e31c1c;
  color: #ffffff;
}

.subtituloGris {
  color: #766a6a;
  font-size: 14px;
}

.subtituloNegro {
  color: #1c1c1b;
  font-size: 14px;
}

.textoBotones {
  color: #212121;
  font-size: 12px;
}

.margenRechazar {
  border-top: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
}

.margenRechazar:hover {
  background-color: #e31c1c;
  border-color: #e31c1c;
  cursor: pointer;
}

.margenRechazar:hover .textoBotones {
  color: #ffffff;
  cursor: pointer;
}

.margenAprobar {
  border-top: solid 1px #e1e1e1;
}

.margenAprobar:hover {
  background-color: #088d8d;
  cursor: pointer;
}

.margenAprobar:hover .textoBotones {
  color: #ffffff;
  cursor: pointer;
}

.tituloModal {
  font-size: 23px;

  color: #000000;
  font-weight: 700 !important;
}

.textoModal {
  font-size: 12px;
  color: #000000 !important;
  font-weight: 400;
}
.txt-not-Notification{
  font-size: 11px;
  color: #000000 !important;
  font-weight: 400;
}
.iconoLike {
  background-image: url("../../../../../../assets/img/dashboard/vacantes/likeNegro.svg");
  margin-right: 0.5em;
  display: inline-block;
  height: 1.6em;
  width: 1.5em;
}

.margenAprobar:hover .iconoLike {
  background-image: url("../../../../../../assets/img/dashboard/vacantes/likeBlanco.svg");
}

.iconoX {
  background-image: url("../../../../../../assets/img/general/xNegrita.svg");
  margin-right: 0.5em;
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
}

.margenRechazar:hover .iconoX {
  background-image: url("../../../../../../assets/img/general/xBlanca.svg");
}

.iconoShared {
  display: inline-block;
  height: 1em;
  width: 1.1em;
  cursor: pointer;

  &:hover {
    // content:url('../../../../../../assets/img/dashboard/vacantes/sharedHover.svg');
  }
}

.iconoReloj {
  background-image: url("../../../../../../assets/img/dashboard/vacantes/relojSonando.svg");
  display: inline-block;
  height: 1.05em;
  width: 01em;
  cursor: pointer;
}

.iconoCorazon {
  background-image: url("../../../../../../assets/img/dashboard/vacantes/corazonStroke.svg");
  display: inline-block;
  height: 1.1em;
  width: 1.25em;
  cursor: pointer;
  transform: scale(0.91);
}

.iconoCorazon:hover {
  background-image: url("/assets/img/dashboard/vacantes/corazonStrokeAzul.svg");
}

.iconoCorazonSelec {
  background-image: url("/assets/img/dashboard/vacantes/corazonStrokeAzul.svg");
}

::ng-deep .toast {
  max-width: 100%;
}

/*Para modal buscar*/
.main {
  margin-left: 16%;
  margin-right: 16% !important;
  margin-top: 3% !important;
  margin-bottom: 10%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  // width: 2.375rem;
  //height: 2.375rem;
  height: 21%;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-bottom: 0;
}

.has-search {
  margin-bottom: 0;
}

.btnDisable {
  background: #eaeaea;
  color: #979797;
}

.btnActive {
  background: #0bb9b9;
  color: #ffffff;
}

.estilosImagenX {
  position: absolute;
  z-index: 3;
  display: block;
  /* height: 21%; */
  line-height: 1.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-bottom: 0;
  margin-left: 63%;
  top: 38%;
}

.cerrar {
  box-sizing: border-box;
  padding-right: 9%;
  padding-top: 4%;
}

/*Fin modal buscar*/

.subtitulo16 {
  font-size: 16px;

  color: #000000;
  font-weight: 600 !important;
}

.subtitulo16Azul {
  font-size: 16px;

  color: #0bb9b9;
  font-weight: 400 !important;
}

.cuadrado {
  width: 6em;
  height: 6em;
}

.verde {
  background: #24a93d !important;
}

.naranja {
  background: #f3752b !important;
  border-color: #f3752b !important;
}

.rojo {
  background: #e23636 !important;
  border-color: #e23636 !important;
}

/*Para los paginadores*/
::ng-deep .page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem !important;
}

::ng-deep .page-item:last-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem !important;
}

::ng-deep .page-item.disabled .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #a8a8a8 !important;
  border: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

::ng-deep .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff !important;
  background-color: #0dd1d1;
  border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
  background-color: #088d8d;
}

::ng-deep .page-link:focus {
  box-shadow: none;
}

.input-sm {
  width: 2.25rem;
  border-radius: 0.4rem;
  height: calc(1.5em + 0.5rem + 2px);
  text-align: center;
}

.textoPaginadorMedium {
  font-size: 14px;
  color: #565656;
  font-weight: 400;
  opacity: 0.8;
}

.subtituloNuevaVacante {
  font-size: 14px;
  color: #525251;
  align-content: flex-start;
}

.textoPaginadorRegular {
  font-size: 16px;
  color: #565656;
}

/*-----------------------------------------*/

.selectFiltros {
  background: transparent;
  border: 0;
  font-weight: 600;
}

.selectFiltros:focus {
  outline: none;
}

.photo {
  width: 5.438em;
  border-radius: 50%;
  height: 5.438em;
}

.camera:before {
  content: "\f03d";
  font-family: "Font Awesome 5 Free";
  float: right;
}

.badgeCamera {
  background: #cbcbcb;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

::ng-deep .buscarVacantes {
  width: 68%;
  max-height: 90%;
  overflow: auto;
}

.borde {
  margin-left: 4.5em;
  margin-right: 4.5em;
}

.borderFinalista::before {
  border: 0 !important;
  display: none !important;
}

.btn-circle-mas {
  width: 2.4em;
  height: 2.4em;
  text-align: center;
  padding: 0% 0% 0% 0%;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #f3752b !important;
  box-sizing: border-box;
  cursor: auto !important;
  background: #f3752b;
}

.textobtn-mas {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.borderReject {
  border-top: solid 1px #e1e1e1;
}

.textReject {
  color: $E200;
  font-size: 28px;
  cursor: default;
}

.textFinalist {
  color: $P600;
  font-size: 28px;
  cursor: default;
}

.iconInformation {
  display: inline-block;
  height: 1.1em;
  width: 1.25em;
  cursor: pointer;

  &:hover {
    content: url("../../../../../../assets/img/general/informationHover.svg");
  }
}

.positionIconInformation {
  position: absolute;
  top: 71%;
}

#Search::-webkit-search-cancel-button {
  position: relative;
  right: 2%;

  -webkit-appearance: none;
  height: 1.45em;
  width: 1.45em;
  background-image: url("../../../../../../assets/cerrar.svg");
}

.btn-circle-mas {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0% 0% 0% 0%;
  /* font-size: 12px; */
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #ababab80;
  box-sizing: border-box;
  cursor: auto !important;

  border: 0 !important;
  font-size: 11px;
}

.btn-circle-add {
  background: #eaeaea;
  color: #066868;
  cursor: pointer !important;
  &:hover {
    background-color: #c8c8c8;
  }
}

.bg-CirclePar {
  background: #5dd6d6;
  color: #f3fcfc;
}

.bg-CircleImpar {
  background: #cff4f4;
  color: #066868;
}

.photoRecruiter {
  border-radius: 50% !important;
  width: 20px;
  height: 20px;
}

.d-contents {
  display: contents;
}

.show {
  font-size: 11px;
}

.showR {
  color: #1b1b1b;
  font-size: 14px;
}

@media screen and (min-width: 990px) {
  ::ng-deep .modal-lg,
  .modal-xl {
    max-width: 42%;
  }

  ::ng-deep .dark-modal .modal-dialog {
    max-width: 23%;
  }
}
