<div class="row">
  <div class="col delete-padding">
    <h5 class="mb-1 mt-1"><b>{{'configuration.recruitmentTeam.title' | translate }}</b></h5>
  </div>
  <div class="col delete-padding text-right">
    <app-input-search-generic style="display: inline-block;" (spreadsearchInputGeneric)="searchRecruiter($event)">
    </app-input-search-generic>
    <span
      class="badge badge-pill badge-secondary px-3 mb-1 mt-1 bd-highlight btnNewClient cursor-pointer btnInvite"
      (click)="openModalInvitedRecruiter();">{{'configuration.recruitmentTeam.btnInvite' | translate }}</span>
  </div>
</div>

<div class="ic-team" *ngIf="!totalElements">
  <img src="../../../../../assets/icons/icon-new-team.svg" alt="">
  <p>Aún no has invitado <br>
    reclutadores a tu equipo</p>
</div>

<div *ngIf="totalElements" class="container-fluid contenedor2 delete-padding"
  [ngClass]="(rowsPorPagina < 10) ? 'tamContenedor' : ''">

  <div class="table-responsive-lg mt-2">
    <table class="table shadow-sm colorRow" id="tableTeam" ng-table="tableParams" show-filter="true"
      data-pagination="true" pagination="true">
      <thead class="table_header">
        <tr class="bordes">
          <th scope="col"></th>
          <th class="textHead" sortable="us.name" scope="col" (sort)="onSort($event)">
            {{'configuration.recruitmentTeam.table.recruiter' | translate }}</th>
          <th class="textHead" sortable="us.user_Rol" scope="col" (sort)="onSort($event)">
            {{'configuration.recruitmentTeam.table.rol' | translate }}</th>
          <th class="textHead" sortable="vacants_Actived" scope="col" (sort)="onSort($event)">
            {{'configuration.recruitmentTeam.table.vacancies' | translate }}</th>
          <th class="textHead" sortable="us.last_Activity" scope="col" (sort)="onSort($event)" colspan="2">
            {{'configuration.recruitmentTeam.table.date' | translate }}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows | slice: (page-1) * page_size : page * page_size;" class="bordes ">
          <td *ngIf="row.status==='ACTIVO'" class="text-center colorRow">
            <img src="{{row.photo}}" alt="..." class="rounded-circle" style="width: 1.55em; height: 1.45em;">
          </td>
          <td *ngIf="row.status==='ACTIVO'"class="textRow colorRow">
            <h6 class="m-0 textRowBold">{{row.recruiter}}</h6>
            <h6 class="m-0 textRow">{{row.email}}</h6>
          </td>
          <td *ngIf="row.status==='ACTIVO'" class="textRow colorRow">{{row.rol | titlecase}}</td>
          <td *ngIf="row.status==='ACTIVO'" class="textRow colorRow">{{row.vacancies}}</td>
          <td *ngIf="row.status==='ACTIVO'" class="textRow colorRow" style="width: 13%;">{{row.date | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="row.status==='ACTIVO'" class="textRow colorRow">
            <div *ngIf="row.status==='ACTIVO'" ngbDropdown placement="bottom-right">
              <span class="opacity">{{row.nombreProyecto}}</span>
              <img src="../../../../assets/img/general/tresPuntosVertical.svg" alt="..." style="float: right;"
                class="mt-1" id="dropdownClient" ngbDropdownToggle>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="openModalChangeRol(row.id);">

                  <span *ngIf="row.rol === 'Reclutador'">
                    <img src="/assets/img/dashboard/Profile/iconCoordinator.svg" class="mr-1" alt="">
                    {{'configuration.recruitmentTeam.btnCoordinator' | translate }}
                  </span>
                  <span *ngIf="row.rol === 'Coordinador'">
                    <img src="/assets/img/dashboard/Profile/profile.svg" class="mr-1" alt="">
                    {{'configuration.recruitmentTeam.btnTurn' | translate }}
                  </span>
                </button>
                <button ngbDropdownItem (click)="validateVacancies(row.vacancies,row.id);">
                  <img src="/assets/img/dashboard/vacantes/xroja.svg" class="mr-1" alt="...">
                  {{'configuration.recruitmentTeam.btnDelete' | translate }}
                </button>
              </div>
            </div>
            <!--usuarios que no han aceptado la solicitud -->
            <td *ngIf="row.status==='PENDIENTE'" class="text-center colorRow">
              <img src="{{row.photo}}" alt="..." class="rounded-circle" style="width: 1.55em; height: 1.45em;">
            </td>
            <td *ngIf="row.status==='PENDIENTE'" class="textRow colorRow">
              <h6 class="m-0 textRow text-email">{{row.email}}</h6>
            </td>
            <td *ngIf="row.status==='PENDIENTE'" class="textRow colorRow">{{row.rol | titlecase}}</td>
            <td *ngIf="row.status==='PENDIENTE'" class="textRow colorRow">-</td>
            <td *ngIf="row.status==='PENDIENTE'" class="textRow colorRow" style="width: 13%;">-</td>
            <td *ngIf="row.status==='PENDIENTE'" class="textRow colorRow">
            <div *ngIf="row.status==='PENDIENTE'" ngbDropdown placement="bottom-right">
              <span class="opacity">{{row.nombreProyecto}}</span>
              <img src="../../../../assets/img/general/tresPuntosVertical.svg" alt="..." style="float: right;"
                class="mt-1" id="dropdownClient" ngbDropdownToggle>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="resendInvitation(row.id);">
                  <span>
                    <img src="/assets/img/dashboard/Profile/send.svg" class="mr-1" alt="">
                    {{'configuration.recruitmentTeam.sendMail'| translate }}
                  </span>
                </button>
               <!-- Funcion para eliminar solicitudes de cuenta 
                 <button ngbDropdownItem (click)="validateVacancies(row.vacancies,row.id);">
                  <img src="/assets/img/dashboard/vacantes/xroja.svg" class="mr-1" alt="...">
                  {{'configuration.recruitmentTeam.btnDelete' | translate }}
                </button>-->
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <div class="d-flex justify-content-between p-2">
      <span>
        <label id="paginationInputLabel" for="paginationInput"
          class="col-form-label mr-2 ml-1 textoPaginadorMedium">Mostrando {{rowsMostrar}} de {{totalElements}}
          reclutadores</label>
      </span>
      <ngb-pagination *ngIf="totalElements >10" class="d-flex justify-content-end mt-2" [collectionSize]="totalElements"
        [(page)]="page" [pageSize]="page_size" [boundaryLinks]="false" size="sm" (pageChange)="rowsMostradas($event);">
        <ng-template ngbPaginationFirst class="ocultar" style="display: none;">First</ng-template>
        <ng-template ngbPaginationPrevious>
          <img class="cursor-pointer" src="../../../../assets/img/general/right-chevron.svg" alt=""
            style="transform: rotate(180deg);">
        </ng-template>
        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="form-group d-flex flex-nowrap px-2">
              <label id="paginationInputLabel" for="paginationInput"
                class="col-form-label mr-2 ml-1 textoPaginadorRegular">Página</label>
              <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                class="form-control-sm custom-pages-input input-sm" id="paginationInput" [value]="page"
                (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
                style="width: 2.25rem" />
              <span id="paginationDescription" class="col-form-label text-nowrap px-2 textoPaginadorRegular">
                de {{pages.length}}</span>
            </div>
          </li>
        </ng-template>
        <ng-template ngbPaginationNext disabled="true"><img class="cursor-pointer"
            src="../../../../assets/img/general/right-chevron.svg" alt=""></ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Modal delete client -->
<ng-template #deleteRecruiterModal let-modal>
  <div class="py-3">
    <div class="modal-header borderbBottomModal" style="border-bottom: 0;">
      <h4 class="modal-title titleModal text-center">{{ 'configuration.recruitmentTeam.modalDelete.title' | translate }}</h4>
    </div>
    <div class="modal-body borderbBottomModal borderTopModal">
      <h4 class="modal-title subtitleModal text-center">{{'clients.deleteClient.subTitle' | translate }}</h4>
    </div>
    <div class="modal-footer" style="border-top: 0; justify-content: space-evenly;">
      <span (click)="modal.dismiss('Cross click')"
        class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel">{{ 'commons.cancelar' | translate }}</span>
      <span (click)="deleteRecruiter();"
        class="badge badge-pill py-1 px-3 mb-2 mt-2 btnNewClient cursor-pointer btnDelete d-flex justify-content-center align-items-center">
        <img async src="/assets/img/dashboard/Clientes/basura.svg" alt="" class="mr-1 imgDelete"
          style="height: 1em;">
        {{ 'commons.eliminar' | translate }}</span>
    </div>
  </div>
</ng-template>

<!-- Modal reasignar vacantes -->
<ng-template #selectRecruiter let-modal>
  <div class="modal-header backgrounHeader">
    <h4 class="ml-2 titleClient mb-0 titleReassing">{{ 'configuration.recruitmentTeam.modalReassign.title' | translate }}</h4>
  </div>
  <div class="modal-body pb-0">
    <h5 class="textReassing">{{ 'configuration.recruitmentTeam.modalReassign.text' | translate }}</h5>
    <div class="ml-5 row mt-4">
      <label for="colFormLabel" class="col-sm-4 col-form-label textReassing">{{ 'configuration.recruitmentTeam.modalReassign.textComboBox' | translate }}</label>
      <div class="col-sm-7 p-0">
        <select class="form-select mdb-select md-form select" id="reassignRecruiter" (change)="getRecruiterById($any($event).target.value)"
          [ngClass]="(idNewRecruiter=='') ? 'is-invalid' : 'ng-invalid'">
          <option selected disabled value="">Seleccionar</option>
          <option *ngFor="let array of arrayRecruiters" [value]="array.recruiterId">{{array.user.name}} {{array.user.lastName}} {{array.user.secondLastName}}
          </option>
        </select>
        <!-- <small *ngIf="idNewRecruiter==''"
          class="text-danger">
          {{'commons.requerido' | translate}}</small> -->
      </div>
    </div>
  </div>
  <div class="modal-footer border-top-0">
    <span class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnCerrar cursor-pointer"
    (click)="closeModalAssingRecruiter();">{{ 'commons.cancelar' | translate }}</span>
    <button class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnGuardar cursor-pointer border-0" 
    [disabled] ="changeValueSelect"(click)="deleteRecruiter();">{{ 'commons.continuar' | translate }}</button>
  </div>
</ng-template>

<!-- Modal change rol -->
<ng-template #changeRolModal let-modal>
  <div class="py-3">
    <div class="modal-header borderbBottomModal" style="border-bottom: 0;">
      <h4 class="modal-title titleModal text-center">{{ 'configuration.recruitmentTeam.modalDelete.titleAssing' | translate }}</h4>
    </div>
    <div class="modal-body borderbBottomModal borderTopModal">
      <h4 class="modal-title subtitleModal text-center" style="opacity: 0;">hide</h4>
    </div>
    <div class="modal-footer pt-0" style="border-top: 0; justify-content: space-evenly;">
      <span (click)="modal.dismiss('Cross click');"
        class="badge badge-pill badge-secondary  py-1 px-3 mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel border-0">{{ 'commons.cancelar' | translate }}</span>
      <span (click)="changeRol();modal.dismiss('Cross click');"
        class="badge badge-pill badge-secondary py-1 px-3 mb-2 mt-2 bd-highlight btnGuardar cursor-pointer border-0" style="font-size: 15px;">
        {{ 'commons.continuar' | translate }}</span>
    </div>
  </div>
</ng-template>

<!-- Modal invitar reclutador -->
<ng-template #invitedRecruiter let-modal>
  <div class="modal-header backgrounHeader">
    <h4 class="ml-2 titleClient mb-0 titleReassing">{{ 'configuration.recruitmentTeam.modalInvit.title' | translate }}</h4>
  </div>
  <div class="modal-body pb-0">
    <form [formGroup]="formInvit">
      <div class="ml-5 row mt-4">
        <label for="colFormLabel" class="col-sm-4 col-form-label textReassing">{{ 'configuration.recruitmentTeam.modalInvit.email' | translate }}</label>
        <div class="col-sm-7 p-0">
          <input type="text" formControlName="email" class="form-control efectosInput" id="email" autocomplete="off"
            [ngClass]="(formInvit.controls.email.errors && formInvit.controls.email.touched) ? 'is-invalid' : 'ng-invalid'">
          <small *ngIf="formInvit.controls.email.errors && formInvit.controls.email.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small> 
        </div>
      </div>
      <div class="ml-5 row mt-4">
        <label for="colFormLabel" class="col-sm-4 col-form-label textReassing">{{ 'configuration.recruitmentTeam.modalInvit.rol' | translate }}</label>
        <div class="col-sm-7 p-0">
          <select class="form-select mdb-select md-form select" id="rol" formControlName="rol" 
            [ngClass]="(formInvit.controls.rol.errors && formInvit.controls.rol.touched) ? 'is-invalid' : 'ng-invalid'">
            <option selected disabled value="">Seleccionar</option>
            <option value="COORDINATOR"> {{ 'configuration.recruitmentTeam.modalInvit.coordinator' | translate }}</option>
            <option value="RECRUITER"> {{ 'configuration.recruitmentTeam.modalInvit.recruiter' | translate }}</option>
          </select>
           <small *ngIf="formInvit.controls.rol.errors && formInvit.controls.rol.touched"
            class="text-danger">
            {{'commons.requerido' | translate}}</small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer border-top-0 mr-5">
    <span class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnCerrar cursor-pointer"
    (click)="closeModalAssingRecruiter();">{{ 'commons.cancelar' | translate }}</span>
    <button class="badge badge-pill badge-secondary py-2 px-3 mb-2 mt-2 bd-highlight btnGuardar cursor-pointer border-0" 
    (click)="onClickSubmit();">{{ 'commons.invite' | translate }}</button>
  </div>
</ng-template>

<ng-template #iconoChekBlanco>
  <img class="cursor-pointer mr-3" src="assets/img/general/ckeckBlanco.svg"> {{mensajeToast}}
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
