@import "../../../../../assets/scss/variables";

.table {
  margin-bottom: 0;
}

.table_header {
  background: #1c1c1b;

  color: #ffff;
  font-size: 13px;
  font-weight: 600;
}

.colorRow {
  background: #ffff;
}

.delete-padding {
  padding-left: 0;
  padding-right: 0;
}

.btnInvite {
  background: $P500;
  color: #ffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &:hover {
    background: $P600;
  }
}

.textRowBold {
  color: #3c3c3b;
  font-weight: 700;
  font-size: 13px;
}

.bordes {
  border: 1px solid;
  border-color: #e6e6e6;
}

.textRow {
  color: #3c3c3b;
  font-weight: 400;
  font-size: 13px;
}

.textHead {
  font-weight: 400;
}

th[sortable].sort:before {
  content: "\f0dc";
  font-family: "Font Awesome 5 Free";
  float: right;
  cursor: pointer;
  font-weight: 700;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  float: right;
  cursor: pointer;
  font-weight: 700;
}

th[sortable].desc:before {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  float: right;
  cursor: pointer;
  font-weight: 700;
}
.text-email{
  margin-top: 2% !important;
}
/*Para los paginadores*/
::ng-deep .page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem;
}

::ng-deep .page-item:last-child .page-link {
  margin-left: 0;
  border-radius: 0.4rem;
}

::ng-deep .page-item.disabled .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff;
  background-color: #a8a8a8;
  border: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

::ng-deep .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 0.8;
  color: #ffff;
  background-color: #0bb9b9;
  border: 1px solid #dee2e6;
}

::ng-deep .page-link:hover {
  background-color: #088d8d;
}

::ng-deep .page-link:focus {
  box-shadow: none;
}

.input-sm {
  width: 2.25rem;
  border-radius: 0.4rem;
  height: calc(1.5em + 0.5rem + 2px);
  text-align: center;
}

.textoPaginadorMedium {
  font-size: 14px;
  color: #565656;
  font-weight: 400;
  opacity: 0.8;
}

.textoPaginadorRegular {
  font-size: 16px;
  color: #565656;
}

/*para las modales*/
.bordeSeleccionado {
  border: solid 1px;
  border-color: $P500;
}

.backgrounHeader {
  background-color: $F200;
}

.btnGuardar {
  background-color: $P500;
  font-weight: 400;
  &:hover {
    background-color: $P600;
  }
}

.btnCerrar {
  background-color: #1c1c1b;
  font-weight: 400;
  &:hover {
    background-color: $P600;
  }
}

.select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -moz-appearance: none;
}

.select:hover {
  border: solid 1px;
  border-color: #2680eb;
}

.select:focus {
  outline: none;
}

.titleReassing {
  font-size: 22px;
  font-weight: 600;
  color: $S600;
}

.textReassing {
  font-size: 14px;
  color: $S500;
}

/*Modal delete recruiter*/
.titleModal {
  font-size: 24px;
  color: $S700;
  font-weight: 600;
  line-height: 1.1em;
}

.subtitleModal {
  font-size: 16px;
  color: $S700;
}

.borderbBottomModal {
  border-bottom: 0;
  padding-bottom: 0;
}

.borderTopModal {
  border-top: 0;
  padding-top: 0;
}

.btnNewClient {
  background-color: $P600;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.btnDelete {
  background-color: #fdeaea;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $E200;
    color: #ffffff;
    .imgDelete {
      content: url("/assets/img/dashboard/Clientes/basura-blanco.svg");
    }
  }
}

@media screen and (min-width: 990px) {
  ::ng-deep .modal-lg,
  .modal-xl {
    max-width: 45%;
  }
}

.ic-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  & p {
    font-size: 24px;
    font-weight: normal;
    color: #ababab;
    text-align: center;
  }
}
