$colors: (
  negro: #000000,
  title: #2E2E2E,
  subtitle: #525252,
  title-input: #3c3c3b,
  border-input: #CFCFCF,
  btn-active: #0BB9B9,
  registrar: #0AA8A8
);

.into-cellphone {
    padding: 0;
    min-height: 100vh;
}
    .image-container img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        
    }
    .info-container {
        padding: 10% 5% 5% 5%;
        min-height: 100vh;
    }


.info-container__input-validate {
    display: flex;
}
    .info-container__input-validate {
        width: 280px;
        height: 48px;
    }
    .info-container__input-validate input {
        margin-right: 16px;
        text-align: center;
        font-weight: bold;
    }

.restore-title-container {
    margin-top: 32px;
}
    .restore-title-container__number {
        display: flex;
        margin: 10px 0;
    }
        .restore-title-container__number a {
            margin-left: 16px;
        }

.textBold-sm p {
    margin-bottom: 4px;
}

.btn-green {
    margin-top: 32px;
}

.btn-link {
    margin-left: 24px;
    &:hover {
        color: map-get($colors, registrar);
    }
}