<div class="main-container row">
    <div class="forgot-info-container col-lg-4 justify-content-center" *ngIf="!isEmail">
        <div class="forgot-info-header mb-5 text-center">
            <img src="../../../../assets/img/brand/logo_involve.svg" class="cursor-pointer" routerLink="/login" alt="">
        </div>
        <div class="w-95 mb-4">
            <h3><b>¿Olvidaste tu contraseña?</b></h3>
        </div>
        <div class="mb-5">
            <p *ngIf="attempst" class="mb-0">Has superado 3 intentos para ingresar a tu cuenta</p>
            <p>No te preocupes, eso le pasa a las mentes brillantes. En segundos crea una nueva.</p>
        </div>
        <div  *ngIf="!attempst" class="forgot-info-form mb-4">   
        <!--<div  class="forgot-info-form mb-4">   En espera de aprobacion para implementacion -->
            <form [formGroup]="formMail"> 

            <div class="info-form-inpput">
                <p><b>Correo electrónico</b></p>
                <input 
                    formControlName="email"
                    type="email" 
                    class="form-control"
                    [ngClass]="{'is-invalid': emailError}" 
                    (input)="emailError = false"
                    (keyup.enter)="validaCorreo()" 
                    [(ngModel)]="userEmail"
                    placeholder="usuario@dominio.com" 
                >
                <small *ngIf="emailError"
                    class="text-danger"></small>
                    <small *ngIf="formMail.controls.email.errors && formMail.controls.email.touched && formMail.get('email')?.hasError('required')" class="text-danger">
                        {{'login.step1.error1' | translate}}
                      </small>
                      <small *ngIf="formMail.get('email')?.hasError('pattern')" class="text-danger">
                        {{'configuration.profile.emailNovalid' | translate}}
                      </small>
                <div class="invalid-feedback">
                    {{respuesta}}
                </div>
            </div>
        </form>

        </div>
        <div class="buttons-container">
            <button class="btn-green" (click)="onClickSubmit()"><b>Enviar</b></button>
        </div>
    </div>
    <!--<div class="forgot-info-container col-lg-12 justify-content-center" *ngIf="isEmail && !attempst">   En espera de aprobacion-->
    <div class="forgot-info-container col-lg-12 justify-content-center" *ngIf="isEmail">
        <app-screen-confirm 
            titulo="Revisa tu email" 
            img="../../../../assets/img/login/email.svg" 
            btn="Iniciar sesion"
            msg="En tu bandeja de entrada encontrarás un email para restablecer tu contraseña. Sólo sigue las instrucciones.">
        </app-screen-confirm>
    </div>

    <!--<div class="forgot-info-container col-lg-12 justify-content-center" *ngIf="isEmail && attempst">  En espera de apobacion-->
    <div class="forgot-info-container col-lg-12 justify-content-center" *ngIf="attempst">
        <app-screen-confirm
            (attempts) ="resetAttempts($event);" 
            titulo="Tienes un email" 
            img="../../../../assets/img/login/email.svg" 
            btn="Regresar a inicio de sesión"
            msg="Has superdado 3 intentos para ingresar a tu cuenta, te enviamos un mail para reestablecer tu contraseña, si el correo no aparece pronto, revisa tu carpeta de correo no deseado">
        </app-screen-confirm>
    </div>
</div>