<div class="involve-modal d-flex flex-column align-items-center">
    <div class="involve-modal-header">
        <h3>¿Eliminamos este grupo?</h3>
        <i class="close" aria-hidden="true" (click)="closeModal()"></i>
    </div>

    <div class="involve-modal-body">
        <div class="involve-modal-body-buttons d-flex justify-content-center align-items-center text-center">
            <button class="btn btn-black mr-2" (click)="closeModal()">Cancelar</button>
            <button class="btn btn-red" (click)="deleteGroup()"><img src="assets/icons/icon-trash-red.svg"
                    alt="">Eliminar</button>
        </div>
    </div>
</div>