<form >
    <div class="main-container row"> 
      <div class="forgot-info-container col-lg-4 justify-content-center" >
          <div class="forgot-info-header text-center mb-5">
              <img src="../../../../assets/logo-involve.svg" alt="">
          </div>
          <app-progress-bar  [widthValor1]="'25%'" [widthValor2]="'25%'" [widthValor3]="widthValor3" [typeProgressBar]="'dos'"></app-progress-bar>
          <div class="w-95 mb-4">
              <h3 class="titulo mt-4 text-center">Sube tu foto de perfil</h3>
          </div>
          
          <div class="row mb-3 ml-lg-3 mb-4">
            
            <div class="col-sm-12 pl-lg-2 pl-sm-0">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-lg-6 pr-4 pl-0">
                  <div>
                    <app-loader-image  [url]="photo">
                      <div class="text-center py-4">
                        <app-loading></app-loading>
                      </div>
                    </app-loader-image>  
                    <h4 class="tamPhoto mt-2">{{'configuration.profile.tamPhoto' | translate}}</h4>
                  </div>
                </div>
                <div class="col col-lg-6 p-0 pl-4">
                  <div class="modal-footer pr-0 pb-0" style="border-top: 0;">
                    <input type="file" class="file-upload file-input" (change)="onFileSelected($event);" #fileUploadCompany accept="image/*">
                    <span
                      class="badge badge-pill badge-secondary  py-1 paddingbtnUpload mb-2 mt-2 bd-highlight btnNewClient cursor-pointer btnCancel"
                      (click)="fileUploadCompany.click()">{{ 'commons.subir' | translate }}</span>
                    <span (click)="deletePhoto();"
                      class="badge badge-pill py-1 px-3 mb-2 mt-2 btnNewClient cursor-pointer d-flex justify-content-center align-items-center"
                      [ngClass]="(!btnDisabled) ? 'btnDeleteDisabled':'btnDelete'">
                      <img src="/assets/img/dashboard/Clientes/{{imgTrash}}" alt="" class="mr-1 imgDelete"
                        style="height: 1em;">
                      {{ 'commons.eliminar' | translate }}</span>
                  </div>
                  
                </div>
                <div class="col-xl-3 col-lg-3 p-0"></div>
              </div>
            </div>
          </div>
          <div class="buttons-container d-flex justify-content-between text-center">
              <button class="btn-green mt-5 btnOmitirDisabled"  routerLink="../terms-and-conditions/false">{{'commons.omitir' | translate}}</button>
              <button class="btn-green mt-5" [ngClass] = "(!btnDisabled) ? 'btnContinuarDisabled':'Continuar'" [disabled]="!btnDisabled" routerLink="../terms-and-conditions/false">{{'commons.continuar' | translate}}</button>

          </div>
      </div>
    </div>
    </form>