@import "../../../../assets/scss/variables";

.main-container {
  .forgot-info-container {
    padding: 5%;
    margin: 0 auto;
  }
}

.titulo {
  font-size: 22px;

  font-weight: 700;
}

.subtitulo {
  font-size: 15px;
  color: #565656;
  font-weight: 500;
}

.placeHolder {
  color: #9b9b9b;
  font-size: 15px;
}

/*styles photo*/
.tamPhoto {
  font-size: 12px;
  color: $S200;
}

.file-input {
  display: none;
}

.paddingbtnUpload {
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.btnCancel {
  background-color: $S700;
  border: solid 1px $S700;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $P600;
    border: solid 1px $P600;
  }
}

.btnDelete {
  background-color: #fdeaea;
  border: solid 1px $E200;
  color: $E200;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: $E200;
    color: #ffffff;

    .imgDelete {
      content: url("/assets/img/dashboard/Clientes/basura-blanco.svg");
    }
  }
}

.btnDeleteDisabled {
  background-color: #eaeaea;
  border: solid 1px #ababab;
  color: #ababab;
  font-size: 16px;
  font-weight: 400;
  cursor: default;

  &:hover {
    .imgDelete {
      content: url("/assets/img/dashboard/Clientes/basuraGris.svg");
    }
  }
}

.btnContinuarDisabled {
  background-color: #f8f8f8;
  border: solid 1px #eaeaea;
  color: #979797;
  cursor: default;
  font-weight: 600;
}

.btnOmitirDisabled {
  background-color: #ffff;
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: $P500;
    border: solid 1px $P500;
    color: #ffffff;
  }
}

.img-profile {
  & img {
    width: 100px;
    height: 100px;
  }
}

.buttons-container {
  & button {
    min-width: 145px;
  }
}
