<div class="row">
  <div class="col">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button *ngIf="btnUpdate" (click)="randomize()">Update</button>
  </div>
</div>
