<div class="pagina">
	<header class="header">
					<div class="barra">
							<div class="menu-izquierdo">
								<h1 class="header_logo">Entorno de pruebas</h1>
							</div>
							<div class="menu-derecho">  
								<img  class=" cursor-pointer ml-4" src="../../../../assets/img/general/logos/grupo5.svg">
							</div>
					</div>
	</header>
	<main class="contenedor-principal">
			<div class="contenido">
				<div class="section-cards">
					<div class="row mt-2">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title text-center mt-5 text-w-b">Candidato</h5>
									<div class="button-center">
										<button routerLink="create-candidate-account" class="btn-green col-lg-6">Crear cuenta</button>
										<button  class="btn-white col-lg-6">Iniciar sesión</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title text-center mt-5 text-b-w-b">Reclutador</h5>
									<div class="button-center">
										<button routerLink="register" class="btn-green col-lg-6">Crear cuenta</button>
										<button routerLink="login" class="btn-white col-lg-6">Iniciar sesión</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
	</main>
</div>

