.pagina {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.header {
  display: flex;
	height: 58px;
}

  .header .barra {
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: space-between;
	}

	.header_logo {
		font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 22px;
		color: white;
	}

.menu-izquierdo {
  display: flex;
  align-items: center; 
}

.menu-izquierdo h1 {
	margin-left: 4rem;
}

.menu-derecho {
  display: flex; }
  .menu-derecho .caja {
    padding: 0 1rem;
    display: flex; }
    .menu-derecho .caja:hover {
      background-color: #004c86; }

	.menu-derecho img {
		margin-right: 4rem;
	}

.contenedor-principal {
  display: flex;
  align-items: stretch;
  flex: 1; }

.contenido {
  flex: 1;
  padding: 2rem;
}

.card {
	height: 400px;
}

.text-w-b {
	font-weight: bold;
}

.text-b-w-b {
	font-weight: bold;
	color: black;
}

.button-center {
  display: flex;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin-right: 25px;
}


